<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
    <title><h:outputText value="#{illegalReadMBean.errorMsg}" /></title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/require.ico"/>
    <style>
    body {
    	margin: 0;
    	padding: 0;
    	background: center center fixed no-repeat;
    	-moz-background-size: cover;
    	background-size: cover;
    }
    </style>
    <script type="text/javascript">
		jQuery(document).ready(function() {
			if (self != top) {
				parent.hideLoad();
			}
		});
	</script>
</h:head>
<h:body>
    <c:set
        value="#{illegalReadMBean.errorCode eq '1'?'permission.gif'
                        :(illegalReadMBean.errorCode eq '2'?'timeout.gif':'error.gif')}"
        var="imgPath" />
    <p:graphicImage value="../img/#{imgPath}" />
</h:body>
</html>