<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>網頁逾時</title>
        <link rel="shortcut icon" type="image/x-icon" href="../img/require.ico"/>
        <style>
            body{
                margin:0;
                padding:0;
                background: center center fixed no-repeat;
                -moz-background-size: cover;
                background-size: cover;  
            }
        </style>
    </h:head>
    <h:body>
        <p:graphicImage value="../img/timeout.gif" />
    </h:body>
</html>