<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <title>施工中．．．</title>
        <link rel="shortcut icon" type="image/x-icon" href="../img/require.ico"/>
    </h:head>
    <h:body>
        <h1>施工中．．．</h1>
    </h:body>
</html>

