<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<!-- 需求單分派通知資訊-->
	<cc:interface>
		<cc:attribute
			name="model"
			required="true"
			shortDescription="bean"
			type="com.cy.tech.request.web.controller.require.AssignSendInfoComponent" />
	</cc:interface>

	<cc:implementation>
		<p:outputPanel
			style="padding: 5px 5px 0px 0px;"
			rendered="#{not empty cc.attrs.model}">
			<!-- 若還未初始化, 執行到此行時強制觸發取得資料 -->
			<p:outputLabel value="#{cc.attrs.model.passiveInitForView()}" />
			<p:panelGrid>
				<!-- 顯示樣式一, 暫不顯示 -->
				<p:row rendered="false">
					<p:column style="vertical-align: top; ">
						<p:outputLabel
							value="分派結果："
							style="font-weight:bolder;color:blue;padding: 5px 0px 5px 5px;" />
						<p:scrollPanel
							style="border:none;max-height:300px;max-width:500px;margin: 5px 0px 5px 10px;"
							mode="native">
							<p:outputLabel
								value="#{cc.attrs.model.resultAssignDepsInfo}"
								escape="false" />
						</p:scrollPanel>
					</p:column>
					<p:column
						rendered="#{not empty cc.attrs.model.resultSendDepsInfo}"
						style="vertical-align: top;">
						<p:outputLabel
							value="通知單位："
							style="font-weight:bolder;color:blue;padding: 5px 0px 5px 5px;" />
						<p:scrollPanel
							style="border:none;max-height:300px;max-width:500px;margin: 5px 0px 5px 10px;"
							mode="native">
							<p:outputLabel
								value="#{cc.attrs.model.resultSendDepsInfo}"
								escape="false" />
						</p:scrollPanel>
					</p:column>
				</p:row>
				<!-- 顯示樣式二 -->
				<p:row>
					<p:column
						rendered="#{not empty cc.attrs.model.resultAssignDepTree}"
						style="vertical-align: top;">
						<p:outputLabel
							value="分派結果："
							style="font-weight:bolder;color:blue;padding: 5px 0px 5px 5px;" />
						<p:scrollPanel
							style="border:none;max-height:300px;margin: 5px 0px 5px 10px;"
							mode="native">
							<p:tree
								value="#{cc.attrs.model.resultAssignDepTree}"
								var="item"
								style="border:none;"
								selectionMode="single">
								<p:treeNode>
									<p:outputLabel
										value="#{item.showName}"
										escape="false" />
								</p:treeNode>
							</p:tree>
						</p:scrollPanel>
					</p:column>
					<p:column
						rendered="#{not empty cc.attrs.model.resultSendDepTree}"
						style="vertical-align: top;">
						<p:outputLabel
							value="通知結果："
							style="font-weight:bolder;color:blue;padding: 5px 0px 5px 5px;" />
						<p:scrollPanel
							style="border:none;max-height:300px;margin: 5px 0px 5px 10px;"
							mode="native">
							<p:tree
								value="#{cc.attrs.model.resultSendDepTree}"
								var="item"
								style="border:none;"
								selectionMode="single">
								<p:treeNode>
									<p:outputLabel
										value="#{item.showName}"
										escape="false" />
								</p:treeNode>
							</p:tree>
						</p:scrollPanel>
					</p:column>
				</p:row>
			</p:panelGrid>
		</p:outputPanel>

		<p:outputPanel
			style="padding: 5px 5px 0px 0px;"
			rendered="#{not empty cc.attrs.model}">

			<p:outputLabel
				value="分派/通知歷程："
				style="font-weight:bolder;color:blue;padding: 5px 0px 5px 5px;" />

			<p:scrollPanel
				style="border:none;max-height:300px;margin: 5px 0px 5px 15px;"
				mode="native">
				<p:dataTable
					value="#{cc.attrs.model.historys}"
					var="history"
					rowKey="#{history.sid}"
					rowIndexVar="index"
					resizableColumns="true"
					resizeMode="expand"
					emptyMessage="尚無分派/通知單位歷程"
					selectionMode="single">
					<p:column
						headerText="執行時間"
						style="width:120px">
						<p:outputLabel value="#{history.createdDate}">
							<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
						</p:outputLabel>
					</p:column>
					<p:column
						headerText="執行者"
						style="width:400px">
						<p:outputLabel
							value="#{history.show_creater}"
							escape="false" />
					</p:column>
					<p:column headerText="加派部門">
						<p:outputLabel
							value="#{history.show_addAssignDeps}"
							escape="false" />
						<p:tooltip
							for="@previous"
							value="#{history.showTreeStyle_addAssignDeps}"
							escape="false"
							trackMouse="true" />
					</p:column>
					<p:column headerText="減派部門">
						<p:outputLabel
							value="#{history.show_deleteAssignDeps}"
							escape="false" />
						<p:tooltip
							for="@previous"
							value="#{history.showTreeStyle_deleteAssignDeps}"
							escape="false"
							trackMouse="true" />
					</p:column>
					<p:column headerText="通知部門">
						<p:outputLabel
							value="#{history.show_addSendDeps}"
							escape="false" />
						<p:tooltip
							for="@previous"
							value="#{history.showTreeStyle_addSendDeps}"
							escape="false"
							trackMouse="true" />
					</p:column>
					<p:column headerText="移除通知部門">
						<p:outputLabel
							value="#{history.show_deleteSendDeps}"
							escape="false" />
						<p:tooltip
							for="@previous"
							value="#{history.showTreeStyle_deleteSendDeps}"
							escape="false"
							trackMouse="true" />
					</p:column>
				</p:dataTable>
			</p:scrollPanel>
		</p:outputPanel>
		<br />
		<br />
		<br />
		<br />
	</cc:implementation>
</ui:composition>