<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

    <p:outputPanel class="attach_files" style="margin:10px 0px 10px 0px;">
        <p:outputPanel style="margin:0px 0px 5px 0px;">
            <p:commandButton value="上傳" actionListener="#{attachDlgMBean.openUploadDlg(attachMBean, dependEntity, fileLimit, '@(.attach_files)')}"
                            onclick="showLoad();" oncomplete="PF('attach_upload_dlg_wv').show();hideLoad();"
                            process="@this" update="@widgetVar(attach_upload_dlg_wv)" />
            <p:commandButton value="下載" ajax="false" onclick="PrimeFaces.monitorDownload(showLoad(), hideLoad())"
                            disabled="#{fn:length(attachMBean.selectedAttachments) eq 0}">
                <p:fileDownload value="#{attachMBean.downloadFile()}" 
                            contentDisposition="#{attachMBean.downloadFileContentDisposition()}" />
            </p:commandButton>
        </p:outputPanel>
        <p:dataTable id="attach_files_dt" 
                     value="#{attachFiles}" 
                     rowIndexVar="index"
                     var="attach"
                     selection="#{attachMBean.prepareForDownload}"
                     rowKey="#{attach.sid}"
                     scrollable="true"
                     scrollHeight="150px;"
                     rowSelectMode="checkbox"
                     style="width:50vw;" >
            <p:ajax event="toggleSelect" listener="#{attachMBean.onToggleSelect()}" process="@this " update="@this @(.attach_files)" />
            <p:ajax event="rowSelectCheckbox" listener="#{attachMBean.onRowSelect()}" process="@this " update="@this @(.attach_files)" />
            <p:ajax event="rowUnselectCheckbox" listener="#{attachMBean.onRowUnSelect()}"  process="@this" update="@this @(.attach_files)" />
            <p:column selectionMode="multiple" style="border:1px solid #999!important;width:16px;text-align:center"/>
            <p:column headerText="上傳日期" style="border:1px solid #999!important;width:70px;text-align:center">
                <h:outputText value="#{attach.createdDate}">
                    <f:convertDateTime pattern="yyyy/MM/dd" />
                </h:outputText>
            </p:column>
            <p:column headerText="檔名" style="border:1px solid #999!important;">
                <p:commandLink value="#{attach.fileName}" ajax="false" actionListener="#{attachMBean.exportFile(attachFiles[index])}"/>
                <p:tooltip for="@previous" value="#{attach.fileName}" trackMouse="true" />
            </p:column>
            <p:column headerText="備註" style="border:1px solid #999!important;">
                <p:outputLabel value="#{attach.desc}" rendered="#{!attach.keyCheckEdit}" style="text-align:left"/>
                <p:tooltip for="@previous" value="#{attach.desc}" trackMouse="true" />
                <p:inputText value="#{attach.desc}" style="width:140px;" rendered="#{attach.keyCheckEdit}"/>
            </p:column>
            <p:column headerText="系統補充" style="border:1px solid #999!important;width:120px;text-align:center;">
                <h:outputText value="#{attach.descSystem}" style="color:red;"/>
            </p:column>
            <p:column headerText="" style="border:1px solid #999!important;width:20px;text-align:center;">
                <!-- 編輯 -->
                <p:commandButton icon="fa fa-pencil" rendered="#{!attach.keyCheckEdit}"
                                actionListener="#{attachMBean.initEdit(attach)}"
                                process="@this" update="@(.attach_files)"
                                onstart="showLoad()" oncomplete="hideLoad();"/>
                <!-- 確認 -->
                <p:commandButton icon="fa fa-check" rendered="#{attach.keyCheckEdit}"
                                actionListener="#{attachMBean.saveByEdit(attach)}"
                                process="@this attach_files_dt" update="@(.attach_files)"
                                onstart="showLoad()" oncomplete="hideLoad();"/>
            </p:column>
            <p:column headerText="" style="border:1px solid #999!important;width:20px;text-align:center;">
                <!-- 刪除 -->
                <p:commandButton icon="fa fa-trash" title="刪除"
                                 actionListener="#{attachDlgMBean.openDelDlg(attachMBean,dependEntity,attach,'','','')}"
                                 process="@this" update="@widgetVar(attach_del_confirm_wv)"
                                 onclick="showLoad();" oncomplete="hideLoad();PF('attach_del_confirm_wv').show();" 
                                 disabled="#{disabled}" />
            </p:column>
        </p:dataTable>
    </p:outputPanel>
</html>