<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="model"   shortDescription="附加檔案模型物件" required="true" />
        <cc:attribute name="uploadDialogWv" required="true"
                      type="java.lang.String" />
        <cc:attribute name="uploadDialogId" required="true"
                      type="java.lang.String" />
        <cc:attribute name="update"
                      shortDescription="一個檔案上傳後要更新的引用頁元件, fully qualified component client IDs"
                      type="java.lang.String" />
        <cc:attribute name="process" shortDescription="process的引用頁元件"
                      type="java.lang.String" />
        <cc:actionSource name="actionEvent" targets="saveEvent" />
    </cc:interface>
    <cc:implementation>
        <f:facet name="last">
            <h:outputStylesheet name="upload_dialog.css" library="css" />
        </f:facet>



        <p:panelGrid columns="1" style="width: 100%">
            <h:outputFormat value="單一檔案容量限制為 {0} MB">
                <f:param value="#{cc.attrs.model.fileSizeLimit}" />
                <p:graphicImage class="ath_load_class" value="../img/ajax-loader.gif" style="display:none;"/>
            </h:outputFormat>
            <p:fileUpload fileUploadListener="#{cc.attrs.model.handleFileUpload}"
                          mode="advanced"  multiple="true" process="@this"
                          cancelLabel="取消" uploadLabel="上傳" label="選擇檔案"
                          update="#{cc.attrs.update} uploadMsg"
                          sizeLimit="#{cc.attrs.model.fileSizeLimit * 1024000}"
                          >
            </p:fileUpload>

            <h:panelGrid columns="2"  id="ath_upload_msg">
                <p:outputLabel value="訊息：" />
                <p:inputTextarea value="#{cc.attrs.model.uploadMessages}"
                                 id="uploadMsg"
                                 autoResize="false"
                                 disabled="true" readonly="true" 
                                 cols="120" rows="6"/>
                <p:remoteCommand name="updateAthUploadMsg"  onstart="athHideLoad1();" update="@parent " />
            </h:panelGrid>
            <p:remoteCommand name="uploadCompele" id="saveEvent"/>
            <p:commandButton value="關閉" type="button" onclick="PF('#{cc.attrs.uploadDialogWv}').hide()" />
        </p:panelGrid>
        <f:facet name="footer">
            <h:outputText value="提示：您可以將檔案拖拉到「選擇檔案」區域內，且一次選多個檔案（IE 8 以前的版本不支援）" />
        </f:facet>
        <script>
            function athHideLoad1() {
                $(".ath_load_class").css({'display': 'none'});
                $(".ath_close_class").css({'display': ''});
                $(".ath_upload_dlg_class").find(".ui-icon-closethick").css({'display': ''});
            }
        </script>
    </cc:implementation>
</ui:composition>
