<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<!-- 顯示附加檔案component -->
<cc:interface>
	<cc:attribute
		name="model"
		shortDescription="附加檔案模型物件"
		required="true" />
	<cc:attribute
		name="req_bean"
		shortDescription="需求單控制Bean = Require01MBean" />
	<cc:attribute
		name="attach_depend_entity"
		shortDescription="附加檔案依附主體"
		required="true" />
	<cc:attribute
		name="show_fun"
		shortDescription="渲染功能鍵"
		type="java.lang.Boolean"
		default="true" />
	<cc:attribute
		name="off_all_btn"
		shortDescription="停用全部功能鍵"
		type="java.lang.Boolean"
		default="true" />
	<cc:attribute
		name="ath_service_name"
		shortDescription="附加檔案服務名稱(DAO選擇)"
		type="java.lang.String"
		required="true" />
	<cc:attribute
		name="canSignIds"
		shortDescription="可簽核人員Id列表"
		type="java.util.List" />
	<cc:attribute
		name="file_field_length"
		type="java.lang.String"
		shortDescription="輸入檔案名稱欄位顯示長度"
		default="auto" />
	<cc:attribute
		name="show_dep_user_name"
		shortDescription="顯示上傳單位成員名稱"
		type="java.lang.String"
		default="false" />
	<cc:attribute
		name="delete_upd"
		shortDescription="刪除附加檔案後，要更新的外部ID"
		type="java.lang.String" />
	<cc:attribute
		name="delete_js"
		shortDescription="刪除附加檔案後，要執行的java script"
		type="java.lang.String" />

	<cc:attribute
		name="ath_servlet_package"
		shortDescription="下載用Servlet實作路徑"
		type="java.lang.String"
		default="com.cy.tech.request.web.servlet.AttachServletImpl" />
	<cc:attribute
		name="ath_view_wv"
		shortDescription="附加檔案顯示列表dlg wv"
		type="java.lang.String"
		required="false"
		default="" />
</cc:interface>

<cc:implementation>
	<o:importConstants
		type="#{cc.attrs.ath_servlet_package}"
		var="attsvl" />
	<p:outputPanel
		id="ath_op_id"
		class="attach_view_class">
		<p:panelGrid
			columns="2"
			rendered="#{cc.attrs.show_fun}">
			<p:commandButton
				value="全選"
				onclick="showLoad();"
				process="@this"
				actionListener="#{cc.attrs.model.selectedAll(cc.attrs.attach_depend_entity)}"
				update="@composite:ath_op_id"
				oncomplete="hideLoad();" />
			<p:commandButton
				value="下載檔案"
				ajax="false"
				onclick="PrimeFaces.monitorDownload(showLoad(), hideLoad())"
				disabled="#{fn:length(cc.attrs.model.selectedAttachments) eq 0}">
				<p:fileDownload
					value="#{cc.attrs.model.downloadFile()}"
					contentDisposition="#{cc.attrs.model.downloadFileContentDisposition()}" />
			</p:commandButton>
		</p:panelGrid>
		<p:dataList
			id="ath_file_list_id"
			class="datalist-noborder"
			value="#{cc.attrs.model.findAttachsByLazy(cc.attrs.attach_depend_entity)}"
			var="currAttach"
			type="definition">
			<p:panelGrid columns="5">
				<p:selectBooleanCheckbox value="#{currAttach.keyChecked}">
					<p:ajax
						onstart="showLoad();"
						process="@composite:ath_file_list_id"
						listener="#{cc.attrs.model.changeCheckbox(cc.attrs.attach_depend_entity)}"
						oncomplete="hideLoad();"
						update="@composite:ath_op_id" />
				</p:selectBooleanCheckbox>
				<p:outputPanel>
					<p:panelGrid columns="3">
						<p:outputLabel
							value="#{attach.createdDate}"
							rendered="#{cc.attrs.show_fun}">
							<f:convertDateTime pattern="yyyy/MM/dd" />
						</p:outputLabel>
						<p:outputLabel
							value="#{currAttach.fileName}"
							rendered="#{!cc.attrs.show_fun}" />
						<h:outputLink
							value="#{request.contextPath}/#{attsvl.SERVLET_NAME}"
							rendered="#{cc.attrs.show_fun}"
							title="#{currAttach.fileName}"
							target="_blank">
							<h:outputText value="#{currAttach.fileName}" />
							<f:param
								name="#{attsvl.PARAM_SID_KEY}"
								value="#{currAttach.sid}" />
							<f:param
								name="#{attsvl.PARAM_TIME_KEY}"
								value="#{currAttach.createdDate.time}" />
							<f:param
								name="#{attsvl.PARAM_ATTACH_SERVICE_KEY}"
								value="#{cc.attrs.ath_service_name}" />
						</h:outputLink>
					</p:panelGrid>
				</p:outputPanel>
				<p:outputPanel rendered="#{cc.attrs.show_dep_user_name}">
					<p:outputLabel
						value="#{cc.attrs.model.depAndUserName(currAttach)}"
						rendered="#{cc.attrs.show_fun}" />
				</p:outputPanel>
				<p:outputPanel>
					<p:inputText
						value="#{currAttach.desc}"
						rendered="#{!cc.attrs.show_fun}"
						maxlength="255"
						style="width: #{cc.attrs.file_field_length};" />
					<p:inputText
						value="#{currAttach.desc}"
						rendered="#{cc.attrs.show_fun}"
						disabled="#{!currAttach.keyCheckEdit}"
						maxlength="255"
						style="width: #{cc.attrs.file_field_length};" />
				</p:outputPanel>
				<p:outputPanel>
					<p:panelGrid
						columns="3"
						rendered="#{cc.attrs.show_fun}">
						<p:commandButton
							icon="fa fa-pencil"
							title="編輯"
							onclick="showLoad();"
							process="@this @composite:ath_file_list_id"
							actionListener="#{cc.attrs.model.initEdit(currAttach)}"
							oncomplete="hideLoad();"
							update="@composite:ath_file_list_id"
							disabled="#{cc.attrs.off_all_btn or currAttach.keyCheckEdit}"
							rendered="#{cc.attrs.model.showFunByDept(currAttach,cc.attrs.attach_depend_entity,cc.attrs.canSignIds)}" />
						<p:commandButton
							icon="fa fa-check"
							title="存檔"
							onclick="showLoad();"
							process="@this @composite:ath_file_list_id"
							actionListener="#{cc.attrs.model.saveByEdit(cc.attrs.attach_depend_entity,currAttach)}"
							oncomplete="hideLoad();"
							update="@composite:ath_file_list_id"
							disabled="#{cc.attrs.off_all_btn or !currAttach.keyCheckEdit}"
							rendered="#{cc.attrs.model.showFunByDept(currAttach)}" />
						<p:commandButton
							icon="fa fa-trash-o"
							title="刪除"
							onclick="showLoad();"
							process="@this"
							actionListener="#{attachDlgMBean.openDelDlg(
                                                               cc.attrs.model, 
                                                               cc.attrs.attach_depend_entity,
                                                               currAttach,
                                                               cc.attrs.delete_upd,
                                                               cc.attrs.delete_js,
                                                               cc.attrs.ath_view_wv)}"
							update="@widgetVar(attach_del_confirm_wv)"
							oncomplete="PF('attach_del_confirm_wv').show();hideLoad();"
							rendered="#{cc.attrs.model.showFunByDept(currAttach,cc.attrs.attach_depend_entity,cc.attrs.canSignIds)}"
							disabled="#{cc.attrs.off_all_btn or currAttach.keyCheckEdit}" />
					</p:panelGrid>
				</p:outputPanel>
			</p:panelGrid>
		</p:dataList>
	</p:outputPanel>
</cc:implementation>
</html>