<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:cc="http://java.sun.com/jsf/composite"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <!-- 轉Fb記錄清單-->
    <cc:interface>
        <cc:attribute name="items"  required="true" shortDescription="轉Fb記錄清單"/>
    </cc:interface>
    <cc:implementation>
        <p:dataTable value="#{cc.attrs.items}" var="rec" rowKey="#{rec.sid}" rowIndexVar="index"
                     scrollHeight="450" scrollable="true" paginator="true" rows="50">
            <p:column headerText="序" width="3%">
                <h:outputText value="#{index+1}"/>
            </p:column>
            <p:column headerText="轉FB使用者">
                <h:outputText value="#{usrBean.name(rec.createdUser)}"/>
            </p:column>
            <p:column headerText="轉入的FB專案">
                <h:outputText value="#{rec.fbProject}"/>
            </p:column>
            <p:column headerText="轉入時間" >
                <h:outputText value="#{empty rec.updatedDate?rec.createdDate:rec.updatedDate}">
                    <f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss"/>
                </h:outputText>
            </p:column>
            <p:column headerText="FBID">
                <p:commandLink onclick="openInNewTab();" 
                               oncomplete="replaceUrl('#{rec.forwardToFbUrl}');">
                    <h:outputText value="#{rec.fbId}"/>
                </p:commandLink>
            </p:column>
        </p:dataTable>
    </cc:implementation>
</ui:composition>