<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:cc="http://java.sun.com/jsf/composite"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                >

    <cc:interface>
        <cc:attribute name="title" required="true" shortDescription="名稱"/>
        <cc:attribute name="items" required="true" shortDescription="清單群組"/>
        <cc:attribute name="show_btn" shortDescription="顯示刪除鍵" default="true"/>
        <cc:attribute name="update" shortDescription="刪除後更新組件ID" default=""/>
    </cc:interface>
    <!-- 技術需求單 群組清單 -->
    <cc:implementation>
        <p:fieldset id="group_item_list_id" legend="#{cc.attrs.title}" >
            <p:panelGrid>
                <ui:repeat value="#{cc.attrs.items}" 
                           var="item"
                           rendered="#{not empty cc.attrs.items}">
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="#{item.name}" />
                        </p:column>
                        <p:column colspan="2">
                            <p:panelGrid columns="2"  styleClass="alignRight">
                                <p:commandButton icon="fa fa-trash-o" 
                                                 onclick="showLoad()"
                                                 process="@this"
                                                 actionListener="#{item.method.delete(item)}"
                                                 update="@composite:group_item_list_id #{cc.attrs.update}"
                                                 oncomplete="hideLoad()"
                                                 disabled="#{item.disabledBtn}"
                                                 rendered="#{cc.attrs.show_btn}"
                                                 />
                                <p:outputLabel value="#{item.type.typeName}" rendered="#{cc.attrs.show_btn}"/>
                            </p:panelGrid>
                        </p:column>
                    </p:row>
                </ui:repeat>
            </p:panelGrid>
        </p:fieldset>
    </cc:implementation>
</ui:composition>