<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:cc="http://java.sun.com/jsf/composite"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >

    <!-- 收件夾TAB資訊-->
    <cc:interface>
        <cc:attribute name="items" 
                      required="true" 
                      shortDescription="InboxView List物件清單"
                      type="java.util.ArrayList"
                      />
        <cc:attribute name="accId" 
                      required="true" 
                      shortDescription="accpanel id and widgetVar" 
                      />
    </cc:interface>

    <cc:implementation>
        <p:accordionPanel value="#{cc.attrs.items}"
                          var="inbox"
                          multiple="true"
                          dynamic="false"
                          id="#{cc.attrs.accId}"
                          widgetVar="#{cc.attrs.accId}"
                          activeIndex="-1"
                          rendered="#{not empty cc.attrs.items}"
                          >
            <p:tab>
                <f:facet name="title">
                    <p:outputLabel 
                    	value="寄件者：#{usrBean.name(inbox.sender)}"
                    	style="margin-right: 5px"
                    	/>
                    <h:outputText value="#{inbox.createdDate}"
                                  style="font-weight: bold">
                        <f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss"/>
                    </h:outputText>
                </f:facet>
                <p:panelGrid>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="收件者："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="#{usrBean.name(inbox.receive)}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="留言訊息："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="#{inbox.messageCss}" escape="false"/>
                        </p:column>
                    </p:row>                
                </p:panelGrid>
            </p:tab>
        </p:accordionPanel>   

    </cc:implementation>
</ui:composition>

