<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:cc="http://java.sun.com/jsf/composite"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:cp="http://java.sun.com/jsf/composite/components">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute
            name="componentID"
            type="java.lang.String"
            required="true"
            shortDescription="ID" />

        <cc:attribute
            name="itemName"
            type="java.lang.String"
            shortDescription="項目 header 顯示名稱" />

        <cc:attribute
            name="srcMenuTitle"
            type="java.lang.String"
            required="true"
            shortDescription="待選區顯示名稱" />

        <cc:attribute
            name="targetMenuTitle"
            type="java.lang.String"
            required="true"
            shortDescription="已選區顯示名稱" />    

        <cc:attribute
            name="model"
            type="com.cy.tech.request.web.controller.component.mipker.MultItemPickerComponent"
            required="true"
            shortDescription="component 實體物件" />

        <cc:attribute
            name="menuWidth"
            type="java.lang.Integer"
            required="true"
            shortDescription="選擇清單寬度" />
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>

        
        <p:panelGrid
            styleClass="#{cc.attrs.componentID}_MultItemPickerComponent"
            style="vertical-align: top">
            <p:row>
                <p:column>
                    <!-- 未選取清單 -->
                    <p:fieldset legend="#{cc.attrs.srcMenuTitle}">
                        <!-- 傳值有問題, 暫不使用 -->    
                        <cp:multItemPicker_ItemList
                            rendered="false"
                            model="#{cc.attrs.model}"
                            menuWidth="#{cc.attrs.menuWidth}"
                            itemName="#{cc.attrs.itemName}"
                            rowDoubleClickEvent="#{cc.attrs.model.event_SrcItemDoubleClick}"
                            eventUpdate="@(.#{cc.attrs.componentID}_MultItemPickerComponent)" />

                        <p:dataTable
                            value="#{cc.attrs.model.srcVO.allItems}"
                            selection="#{cc.attrs.model.srcVO.selectedItems}"
                            filteredValue="#{cc.attrs.model.srcVO.filteredItems}"
                            var="srcItem"
                            rowKey="#{srcItem.sid}"
                            scrollHeight="350"
                            scrollable="true"
                            selectionMode="multiple"
                            style="width:#{cc.attrs.menuWidth}px;">
                            <p:ajax
                                event="rowDblselect"
                                onstart="showLoad();"
                                listener="#{cc.attrs.model.event_SrcItemDoubleClick}"
                                update="@(.#{cc.attrs.componentID}_MultItemPickerComponent)"
                                process="@this"
                                oncomplete="hideLoad();" />
                            <p:column
                                headerText="#{cc.attrs.itemName}"
                                filterBy="#{srcItem.name}"
                                filterMatchMode="contains">
                                <h:outputText
                                    rendered="#{not srcItem.active}"
                                    styleClass="WS1-1-2"
                                    value="(停用)" />
                                <h:outputText
                                    value="#{srcItem.showName}"
                                    escape="false" />
                            </p:column>
                        </p:dataTable>
                    </p:fieldset>
                </p:column>
                <p:column>
                    <!-- 選擇功能扭 -->
                    <p:panelGrid columns="1">
                        <p:commandButton
                            title="加入已選擇"
                            icon="fa fa-angle-right"
                            onstart="showLoad();"
                            process="@(.#{cc.attrs.componentID}_MultItemPickerComponent)"
                            update="@(.#{cc.attrs.componentID}_MultItemPickerComponent)"
                            actionListener="#{cc.attrs.model.btn_AddSelected()}"
                            oncomplete="hideLoad();" />
                        <p:commandButton
                            title="加入全部"
                            icon="fa fa-angle-double-right"
                            onstart="showLoad();"
                            process="@(.#{cc.attrs.componentID}_MultItemPickerComponent)"
                            update="@(.#{cc.attrs.componentID}_MultItemPickerComponent)"
                            actionListener="#{cc.attrs.model.btn_AddAll()}"
                            oncomplete="hideLoad();" />
                        <p:commandButton
                            title="移除已選擇"
                            icon="fa fa-angle-left"
                            onstart="showLoad();"
                            process="@(.#{cc.attrs.componentID}_MultItemPickerComponent)"
                            update="@(.#{cc.attrs.componentID}_MultItemPickerComponent)"
                            actionListener="#{cc.attrs.model.btn_removeSelected()}"
                            oncomplete="hideLoad();" />
                        <p:commandButton
                            title="移除全部"
                            icon="fa fa-angle-double-left"
                            onstart="showLoad();"
                            process="@(.#{cc.attrs.componentID}_MultItemPickerComponent)"
                            update="@(.#{cc.attrs.componentID}_MultItemPickerComponent)"
                            actionListener="#{cc.attrs.model.btn_removeAll()}"
                            oncomplete="hideLoad();" />
                    </p:panelGrid>
                </p:column>
                <p:column>
                    <!-- 已選取清單 -->
                    <p:fieldset legend="#{cc.attrs.targetMenuTitle}">
                        <p:dataTable
                            value="#{cc.attrs.model.targetVO.allItems}"
                            selection="#{cc.attrs.model.targetVO.selectedItems}"
                            filteredValue="#{cc.attrs.model.targetVO.filteredItems}"
                            var="targetItem"
                            rowKey="#{targetItem.sid}"
                            scrollHeight="350"
                            scrollable="true"
                            selectionMode="multiple"
                            style="width:#{cc.attrs.menuWidth}px;">
                            <p:ajax
                                event="rowDblselect"
                                onstart="showLoad();"
                                listener="#{cc.attrs.model.event_TargetItemDoubleClick}"
                                update="@(.#{cc.attrs.componentID}_MultItemPickerComponent)"
                                oncomplete="hideLoad();" />
                            <p:column
                                headerText="#{cc.attrs.itemName}"
                                filterBy="#{targetItem.name}"
                                filterMatchMode="contains">
                                <h:outputText
                                    rendered="#{not targetItem.active}"
                                    styleClass="WS1-1-2"
                                    value="(停用)" />
                                <h:outputText
                                    value="#{targetItem.showName}"
                                    escape="false" />
                            </p:column>
                        </p:dataTable>
                    </p:fieldset>
                </p:column>
            </p:row>
        </p:panelGrid>
    </cc:implementation>
</ui:composition>