<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<!-- ================================= -->
<!-- 待選清單樹  -->
<!-- ================================= -->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
<div
	class="mutiuserqkpker-block #{currComponentID}_#{multiUserQuickPickerTreeType}_tree_block"
	style="width:#{myTreePanelWidth}px;#{(multiUserQuickPickerTreeType eq 'target' and currComponent.targetAreaDefaultShowMode.name() ne 'TREE')?'display:none':''};">
	<div class="mutiuserqkpker-block-header">#{(multiUserQuickPickerTreeType eq "src")?"待選清單":"已選擇人員"}</div>

	<div style="padding-left: 5px; padding-right: 5px; padding-top: 5px">
		<div style="display: flex; flex-direction: column;">
			<div
				style="display: flex; justify-content:#{((multiUserQuickPickerTreeType eq 'src') and (not currComponent.enableGroupMode))?'flex-start':'space-around'} ; align-items: center;">
				<!-- filter 輸入框 -->
				<div style="display: flex; align-items: center; margin-left: 5px">
					<p:inputText
						style="#{(multiUserQuickPickerTreeType eq 'src') and (currComponent.enableGroupMode)?'width: 70px':''};font-family:Arial, FontAwesome;"
						styleClass="#{currComponentID}_#{multiUserQuickPickerTreeType}_tree_filter mutiuserqkpker-search-input-style"
						placeholder="&#xF002; Search"
						onkeyup="#{currComponentID}_clientFunc.event_node_filter_onChange('#{multiUserQuickPickerTreeType}', this, event)"
						onselect="#{currComponentID}_clientFunc.event_node_filter_onChange('#{multiUserQuickPickerTreeType}', this)" />
					<span
						class="fa fa-times mutiuserqkpker-search-crossIcon-style mutiuserqkpker-icon-on-hover-t2"
						title="清除"
						onclick="#{currComponentID}_clientFunc.event_filter_clearFilter('#{multiUserQuickPickerTreeType}')" />
				</div>
				<div></div>
				<!-- 群組 : 目標樹選單才需要顯示 -->
				<p:outputPanel
					style="display: flex; align-items: center; justify-content: flex-end;flex-wrap: nowrap "
					rendered="#{(multiUserQuickPickerTreeType eq 'src') and (currComponent.enableGroupMode)}">
					<script>
						//避免重新渲染時, 因 group 選項不一致, 觸發 onchenge 事件,但 client func 又還未載入, 造成 funtion not find exception
						function #{currComponentID}_changeUserGroup(val){
							if(#{currComponentID}_clientFunc === undefined 
									|| #{currComponentID}_clientFunc === null
									|| !$.isFunction(#{currComponentID}_clientFunc.event_changeUserGroup)){
								return;
							}
							#{currComponentID}_clientFunc.event_changeUserGroup(val);
						}
					</script>
					<p:selectOneMenu
						styleClass="#{currComponentID}_src_tree_group_menu"
						widgetVar="#{currComponentID}_src_tree_group_menu_widgetVar"
						onchange="#{currComponentID}_changeUserGroup(this.value);"
						style="width: 80px;">
						<!-- value="#{currComponent.selectedGroupItem}" 
							加上後會造成畫面上所有button第二次點選時無效, 原因不明-->
						<f:selectItems value="#{currComponent.groupItems}" />
					</p:selectOneMenu>
					<!-- 修正 selectitem label 無法顯示 css content 問題 -->
					<script>selectMenuItemMakeup("#{currComponentID}_src_tree_group_menu");</script>
					<div style="width: 5px;" />
					<p:commandButton
						icon="fa fa-cog"
						title="群組設定"
						styleClass="bootstrap-fix"
						onclick="window.open('/tech-request/setting/setting_custom_group.xhtml?componentID=#{currComponentID}&amp;ctype=USER')" />
					<!-- 另開視窗更新資料後, 提供 callback reload 方法 -->
					<p:remoteCommand
						name="reloadGroup#{cc.attrs.componentID}"
						actionListener="#{currComponent.event_reloadItemGroup()}"
						onstart="showLoad();"
						oncomplete="#{currComponentID}_clientFunc.event_resetGroupMenu(); hideLoad();"
						update="@parent"
						process="@this @parent">
					</p:remoteCommand>
				</p:outputPanel>
				<!-- 切換 : 目標樹選單才需要顯示 -->
				<p:outputPanel
					rendered="#{multiUserQuickPickerTreeType eq 'target'}">
					<div
						class="mutiuserqkpker-switch-border"
						style="margin-left: 7px !important">
						<label> <input
							type="checkbox"
							class="mutiuserqkpker-switch-checkbox-tree #{cc.attrs.componentID}_target_tree_display_switch"
							onclick="#{currComponentID}_clientFunc.event_switchTargetShowMode(this)" />
							<span class="mutiuserqkpker-switch"> <span
								class="mutiuserqkpker-switch-btn" />
						</span> <span style="font-weight: bold">&nbsp;切換</span>
						</label>
					</div>
				</p:outputPanel>
			</div>
			<div style="padding-top: 5px; padding-bottom: 5px">
				<hr />
			</div>
			<!-- 待選樹 -->
			<p:outputPanel
				style="height:300px;position: relative;display: flex;justify-content: center; align-items: center;"
				styleClass="#{currComponentID}_#{multiUserQuickPickerTreeType}_tree">
				<div
					class="cp-spinner cp-eclipse"
					style="position: absolute; z-index: 999; margin-bottom: 60px;"></div>
				<div
					class="mutiuserqkpker-treeECIconContainer #{currComponentID}_#{multiUserQuickPickerTreeType}_tree_ECIconContainer">
					<span
						title="全部展開"
						class="fa fa-plus mutiuserqkpker-icon-on-hover-t1"
						onclick="#{currComponentID}_clientFunc.event_tree_expandOrCollapseAllNode('#{multiUserQuickPickerTreeType}', true)" />
					<span>&nbsp;&nbsp;</span> <span
						title="全部收合"
						class="fa fa-minus mutiuserqkpker-icon-on-hover-t1"
						onclick="#{currComponentID}_clientFunc.event_tree_expandOrCollapseAllNode('#{multiUserQuickPickerTreeType}', false)" />
				</div>
				<p:tree
					widgetVar="#{currComponentID}_#{multiUserQuickPickerTreeType}_tree_wv"
					value="#{currComponent.rootTreeNode}"
					var="wkItem"
					selectionMode="single"
					propagateSelectionUp="false"
					animate="true"
					dynamic="false"
					onNodeClick="#{currComponentID}_clientFunc.event_tree_node_onClick('#{multiUserQuickPickerTreeType}', node, event)"
					style="border:1px;width:#{myTreePanelWidth-10}px;height:298px;overflow-y: auto;">
					<p:treeNode>
						<c:set
							var="isUserNode"
							value="#{currComponent.isNodeAttrByType(wkItem, 'USER_NODE')?'Y':'N'}" />
						<p:outputPanel
							style="display: flex; align-items: center; justify-content: flex-end;flex-wrap: nowrap">
							<p:outputLabel
								styleClass="fa fa-user"
								rendered="#{isUserNode eq 'Y'}">&nbsp;</p:outputLabel>
							<h:outputText
								styleClass="mutiuserqkpker-area-nodename #{('Y' eq isUserNode)?'mutiuserqkpker-user-node':''}"
								value="#{wkItem.name}"
								escape="false" />
							<h:outputText
								escape="false"
								value="&nbsp;#{currComponent.managerMark}"
								rendered="#{currComponent.isNodeAttrByType(wkItem, 'MANAGER')}" />
							<h:outputText
								escape="false"
								value="&nbsp;#{currComponent.agentMark}"
								rendered="#{currComponent.isNodeAttrByType(wkItem, 'AGENT')}" />
						</p:outputPanel>
					</p:treeNode>
				</p:tree>
			</p:outputPanel>
		</div>
	</div>
</div>
</html>