<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<!-- ================================= -->
<!-- 已選擇人員清單 -->
<!-- ================================= -->
<div
	class="mutiuserqkpker-block #{currComponentID}_target_list_block"
	style="width:#{myTreePanelWidth}px; #{(currComponent.targetAreaDefaultShowMode.name() ne 'LIST')?'display:none':''};">
	<div class="mutiuserqkpker-block-header">#{(multiUserQuickPickerTreeType eq 'src')?'待選清單':'已選擇人員'}</div>

	<div style="padding-left: 5px; padding-right: 5px; padding-top: 5px">
		<div style="display: flex; flex-direction: column;">
			<div
				style="display: flex; justify-content: space-around; align-items: center">
				<!-- filter 輸入框 -->
				<div style="display: flex; align-items: center;">
					<p:inputText
						style="font-family:Arial, FontAwesome;"
						styleClass="#{currComponentID}_target_list_filter mutiuserqkpker-search-input-style"
						placeholder="&#xF002; Search"
						onkeyup="#{currComponentID}_clientFunc.event_node_filter_onChange('list', this)"
						onselect="#{currComponentID}_clientFunc.event_node_filter_onChange('list', this)" />
					<span
						class="fa fa-times mutiuserqkpker-search-crossIcon-style mutiuserqkpker-icon-on-hover-t2"
						title="清除"
						onclick="#{currComponentID}_clientFunc.event_filter_clearFilter('list')" />
				</div>
				<!-- 切換 -->
				<p:outputPanel>
					<div
						class="mutiuserqkpker-switch-border"
						style="margin-left: 7px !important">
						<label> <input
							type="checkbox"
							class="mutiuserqkpker-switch-checkbox-list #{cc.attrs.componentID}_target_list_display_switch"
							onclick="#{currComponentID}_clientFunc.event_switchTargetShowMode(this)" />
							<span class="mutiuserqkpker-switch"> <span
								class="mutiuserqkpker-switch-btn" />
						</span> <span style="font-weight: bold">&nbsp;切換</span>
						</label>
					</div>
				</p:outputPanel>
			</div>
			<div style="padding-top: 5px; padding-bottom: 5px">
				<hr />
			</div>
			<p:scrollPanel
				mode="native"
				style="margin-top:7px;height:300px;border: none;">
				<p:dataList
					styleClass="#{cc.attrs.componentID}_target_list"
					widgetVar=""
					emptyMessage="尚未選擇人員"
					value="#{currComponent.selectedUserNodeDatas}"
					var="nodeData"
					type="ordered"
					style="border:1px;width:240px;height:298px;">
					<h:outputText
						value="(停用) - "
						style="color:#E20F0F;"
						rendered="#{!nodeData.act}" />
					<p:outputLabel value="#{nodeData.lna}" />
					<hr />
				</p:dataList>
			</p:scrollPanel>
		</div>
	</div>
</div>
</html>