<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:cc="http://java.sun.com/jsf/composite"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                >

    <cc:interface>
        <cc:attribute name="model" type="com.cy.tech.request.web.controller.values.OrganizationTreeMBean" 
                      required="true" shortDescription="組織樹模組"/>
        <cc:attribute name="selectNode" required="true" shortDescription="被選擇的組織樹"/>
        <cc:attribute name="selectionMode" required="true" shortDescription="被選擇的組織樹"/>
        <cc:attribute name="buildByDeptLevel" required="true" 
                      type="java.lang.Boolean"
                      shortDescription="呼叫不包含停用部門的方法：
                      true >>invoke rebuildRootByDeptLevel()
                      false >> invoke rebuildRoot()"/>
        <cc:attribute name="scrollHeight" shortDescription="指定scroll高度" default="400px" />
        <cc:attribute name="showUnselectableCheckbox" default="false" />
    </cc:interface>

    <cc:implementation>
        <p:panelGrid columns="2">
            <p:selectBooleanCheckbox itemLabel="不包含停用部門" value="#{cc.attrs.model.selectJustActive}">
                <p:ajax process="@this" update="@composite:treeId" listener="#{cc.attrs.model.rebuildRootByDeptLevel(cc.attrs.buildByDeptLevel)}" />
            </p:selectBooleanCheckbox>
            <p:selectBooleanCheckbox itemLabel="全選" value="#{cc.attrs.model.selectAllNode}">
                <p:ajax process="@this" update="@composite:treeId" listener="#{cc.attrs.model.actionSelectALL}" />
            </p:selectBooleanCheckbox>
        </p:panelGrid>
        <p:scrollPanel mode="native" style="height: 400px">
            <p:tree id="treeId" value="#{cc.attrs.model.orgTreeRoot}" var="node" 
                    selectionMode="#{cc.attrs.selectionMode}"
                    selection="#{cc.attrs.selectNode}"
                    showUnselectableCheckbox="#{cc.attrs.showUnselectableCheckbox}"
                    style="border:none;max-height:#{cc.attrs.scrollHeight};"
                    propagateSelectionUp="false"
                    >
                <p:ajax event="expand" listener="#{cc.attrs.model.onNodeExpand}" />
                <p:ajax event="collapse" listener="#{cc.attrs.model.onNodeCollapse}" />
                <p:treeNode>
                    <h:outputText value="#{orgBean.name(node)}" style="color:#{node.status eq 'ACTIVE'?'black':'red'}" styleClass="#{cc.attrs.model.treeSyle(node)}" />
                </p:treeNode>
            </p:tree>
        </p:scrollPanel>
    </cc:implementation>
</ui:composition>