<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:cc="http://java.sun.com/jsf/composite"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                >

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="model" type="com.cy.tech.request.web.controller.values.OrgsListCompant" 
                      required="true" shortDescription="列表物件"/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:panelGrid id="pList" columns="3" style="vertical-align: top">
            <p:fieldset legend="未選取清單">
                <p:dataTable value="#{cc.attrs.model.unSelList}" var="unSel" rowKey="#{unSel.sid}" rowIndexVar="index"
                             scrollHeight="350" scrollable="true" selectionMode="multiple" selection="#{cc.attrs.model.unSelItems}"
                             style="width:300px;">
                    <p:ajax event="rowDblselect" onstart="showLoad();" listener="#{cc.attrs.model.dblSelectFromUnSel}" update="@composite:pList" oncomplete="hideLoad();"/>
                    <p:column headerText="序" width="15">
                        <h:outputText value="#{index+1}"/>
                    </p:column>
                    <p:column headerText="公司">
                        <h:outputText value="#{orgBean.name(unSel.company)}"/>
                    </p:column>
                    <p:column headerText="部門">
                        <h:outputText value="#{orgBean.name(unSel)}"/>
                    </p:column>
                </p:dataTable>
            </p:fieldset>

            <p:panelGrid columns="1">
                <p:commandButton icon="fa fa-angle-right" onstart="showLoad();" process="@composite:pList" update="@composite:pList"
                                 actionListener="#{cc.attrs.model.pickToHadSelList()}" oncomplete="hideLoad();"/>
                <p:commandButton icon="fa fa-angle-double-right" onstart="showLoad();" process="@composite:pList" update="@composite:pList"
                                 actionListener="#{cc.attrs.model.pickAllToHadSelList()}" oncomplete="hideLoad();"/>
                <p:commandButton icon="fa fa-angle-left" onstart="showLoad();" process="@composite:pList" update="@composite:pList"
                                 actionListener="#{cc.attrs.model.pickToUnSelList()}" oncomplete="hideLoad();"/>
                <p:commandButton icon="fa fa-angle-double-left" onstart="showLoad();" process="@composite:pList" update="@composite:pList"
                                 actionListener="#{cc.attrs.model.pickAllToUnSelList()}" oncomplete="hideLoad();"/>
            </p:panelGrid>

            <p:fieldset legend="已選取清單">
                <p:dataTable value="#{cc.attrs.model.hadSelList}" var="hadSel" rowKey="#{hadSel.sid}" rowIndexVar="index"
                             scrollHeight="350" scrollable="true" selectionMode="multiple" selection="#{cc.attrs.model.hadSelItems}"
                             disabledSelection="#{cc.attrs.model.checkDisableHadList(hadSel)}"
                             style="width:300px;">
                    <p:ajax event="rowDblselect"
                            onstart="showLoad();"
                            listener="#{cc.attrs.model.dblSelectFromHadSel}" 
                            oncomplete="hideLoad();" 
                            update="@composite:pList"/>
                    <p:column headerText="序" width="15">
                        <h:outputText value="#{index+1}"/>
                    </p:column>
                    <p:column headerText="公司">
                        <h:outputText value="#{orgBean.name(hadSel.company)}"/>
                    </p:column>
                    <p:column headerText="部門">
                        <h:outputText value="#{orgBean.name(hadSel)}"/>
                    </p:column>
                </p:dataTable>
            </p:fieldset>
        </p:panelGrid>
        <cc:insertChildren/>
    </cc:implementation>
</ui:composition>