<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:cc="http://java.sun.com/jsf/composite"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    >

    <cc:interface>
        <cc:attribute
            name="quickSelectTreeModel"
            shortDescription="快速選擇樹MBean"
            type="com.cy.tech.request.web.controller.component.qkstree.AbstractQucikSelectTreeComponentMBean"
            required="true" />
        <cc:attribute
            name="componentID"
            shortDescription="組件ID"
            type="java.lang.String"
            required="true" />

        <cc:attribute
            name="selectedAreaEmptyMessage"
            shortDescription="未選擇訊息"
            type="java.lang.String"
            required="false" />

        <cc:attribute
            name="selectedAreaTitle"
            shortDescription="已選擇區-Title顯示文字"
            type="java.lang.String"
            required="false" />

        <cc:attribute
            name="dataNodeIcon"
            shortDescription="資料節點醒目Icon"
            type="java.lang.String"
            required="false" />


        <cc:attribute
            name="treePanelWidth"
            shortDescription="選擇樹面板寬度"
            type="java.lang.Integer"
            default="250"
            required="false" />

        <cc:attribute
            name="enableShowInactiveFunc"
            shortDescription="開啟顯示停用功能"
            type="java.lang.Boolean"
            default="false"
            required="false" />

        <cc:attribute
            name="topMemo"
            shortDescription="頂部顯示文字"
            type="java.lang.String"
            required="false" />

    </cc:interface>

    <cc:implementation>
        <!-- fix attribute:default 不明原因失效 -->
        <c:set
            var="myTreePanelWidth"
            value="250" />
        <c:if test="#{not empty cc.attrs.treePanelWidth}">
            <c:set
                var="myTreePanelWidth"
                value="#{cc.attrs.treePanelWidth}" />
        </c:if>

        <p:remoteCommand
            name="#{cc.attrs.componentID}_afterCloseDlg"
            process="@this"
            actionListener="#{cc.attrs.quickSelectTreeModel.afterCloseDlg()}" />

        <p:inputText
            type="hidden"
            styleClass="#{cc.attrs.componentID}_id_selectedNodeData"
            value="#{cc.attrs.quickSelectTreeModel.selectedNodeDataJsonString}" />

        <p:outputPanel
            id="#{cc.attrs.componentID}"
            styleClass="#{cc.attrs.componentID}_QuickSelectTree">

            <!-- 錯誤訊息 -->
            <p:panelGrid rendered="#{!cc.attrs.quickSelectTreeModel.renderFlag}">
                <p:row>
                    <p:column>
                        <p:outputLabel>開發階段錯誤, 尚未初始化或初始化失敗
                        	#{empty cc.attrs.quickSelectTreeModel}
                        	#{cc.attrs.quickSelectTreeModel.renderFlag}
                        	</p:outputLabel>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{cc.attrs.quickSelectTreeModel.message}" />
                    </p:column>
                </p:row>
            </p:panelGrid>

            <p:panelGrid rendered="#{cc.attrs.quickSelectTreeModel.renderFlag}">
                <p:row rendered="#{not empty cc.attrs.topMemo}">
                    <p:column colspan="3">
                        <p:panelGrid>
                            <p:row>
                                <p:column style="width:#{myTreePanelWidth*2}px;">
                                    <p:outputLabel
                                        style="text-align:left;white-space:pre-wrap; "
                                        styleClass="WS1-1-3"
                                        escape="false"
                                        value="#{cc.attrs.topMemo}">
                                    </p:outputLabel>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <hr />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <!-- ================================= -->
                        <!-- 待選清單樹 -->
                        <!-- ================================= -->
                        <p:panelGrid
                            styleClass="orgusertree-border"
                            style="width:#{myTreePanelWidth}px; height:400px;">
                            <!-- header -->
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="2">
                                        <p:outputLabel value="待選清單" />
                                    </p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column>
                                    <!-- 過濾輸入框 -->
                                    <p:outputPanel style="text-align: left;">
                                        <div class="searchContainer">
                                            <span class="fa fa-search searchIcon"></span>
                                            <p:inputText
                                                styleClass="#{cc.attrs.componentID}_id_treeFilterText"
                                                placeholder="Search"
                                                style="width:120px;height:19px;padding-left:25px;"
                                                onkeyup="#{cc.attrs.componentID}_outScriptObj.treeNodeFilter('A')"
                                                onselect="#{cc.attrs.componentID}_outScriptObj.treeNodeFilter('A')" />
                                            <span
                                                class="fa fa-times crossIcon"
                                                onclick="#{cc.attrs.componentID}_outScriptObj.clearFilter4Tree()" />
                                        </div>
                                    </p:outputPanel>
                                </p:column>
                                <p:column>
                                    <!-- 顯示停用 -->
                                    <p:outputPanel style="text-align:right;">
                                        <p:selectBooleanCheckbox
                                            rendered="#{cc.attrs.enableShowInactiveFunc}"
                                            itemLabel="顯示停用"
                                            value="#{cc.attrs.quickSelectTreeModel.queryShowInactiveNode}">
                                            <p:ajax
                                                event="change"
                                                listener="#{cc.attrs.quickSelectTreeModel.switchShowActiveOrinactiveMode()}"
                                                onstart="showLoad();"
                                                process="@this #{cc.attrs.componentID}_dataArea"
                                                update="#{cc.attrs.componentID} #{cc.attrs.componentID}_dataArea"
                                                oncomplete="hideLoad();" />
                                        </p:selectBooleanCheckbox>
                                    </p:outputPanel>
                                </p:column>
                            </p:row>
                            <!-- 清單樹 -->
                            <p:row>
                                <p:column colspan="2">
                                    <hr style="margin-top: -0.6rem !important" />
                                    <div
                                        class="quick-select-tree-treeECIconContainer #{cc.attrs.componentID}_id_TreeECIconContainer"
                                        style="left: #{myTreePanelWidth-50}px">
                                        <span
                                            title="全部展開"
                                            class="fa fa-plus icon-on-hover-t1"
                                            onclick="#{cc.attrs.componentID}_outScriptObj.expandAllTreeNode('A')"> </span>
                                        &nbsp;
                                        <span
                                            title="全部收合"
                                            class="fa fa-minus icon-on-hover-t1"
                                            onclick="#{cc.attrs.componentID}_outScriptObj.collapseAllTreeNode('A')" />
                                    </div>
                                    <p:outputPanel
                                        style="margin-top:7px;height:300px"
                                        styleClass="#{cc.attrs.componentID}_id_tree">
                                        <p:tree
                                            value="#{cc.attrs.quickSelectTreeModel.rootTreeNode}"
                                            var="node"
                                            widgetVar="#{cc.attrs.componentID}_wv_tree"
                                            selection="#{cc.attrs.quickSelectTreeModel.selectedNode}"
                                            selectionMode="single"
                                            propagateSelectionUp="false"
                                            styleClass="quick-select-tree"
                                            animate="true"
                                            dynamic="false"
                                            onNodeClick="#{cc.attrs.componentID}_outScriptObj.onTreeNodeClick(node,event)"
                                            style="border:1px;width:#{myTreePanelWidth+10}px;height:298px;overflow-y: auto;display:none;">
                                            <p:treeNode>
                                                <h:outputText
                                                    value="#{cc.attrs.quickSelectTreeModel.getNodeDisplayContext(node)}"
                                                    escape="false" />
                                                <h:outputText
                                                    value=" - (停用)"
                                                    style="color:#E20F0F;"
                                                    rendered="#{!node.active}" />
                                            </p:treeNode>
                                        </p:tree>
                                    </p:outputPanel>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>

                    <p:column styleClass="quick-select-tree-selected-tree">
                        <!-- ================================= -->
                        <!-- 已選清單樹 -->
                        <!-- ================================= -->
                        <p:panelGrid
                            styleClass="orgusertree-border"
                            style="width:#{myTreePanelWidth}px; height:400px;">
                            <!-- header -->
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="2">
                                        <p:outputLabel value="#{(empty cc.attrs.selectedAreaTitle)?'已選擇清單':cc.attrs.selectedAreaTitle}" />
                                    </p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column>
                                    <!-- 過濾輸入框 -->
                                    <p:outputPanel style="text-align: left;">
                                        <div class="searchContainer">
                                            <span class="fa fa-search searchIcon"></span>
                                            <p:inputText
                                                styleClass="#{cc.attrs.componentID}_id_selected_treeFilterText"
                                                placeholder="Search"
                                                style="width:120px;height:19px;padding-left:25px;"
                                                onkeyup="#{cc.attrs.componentID}_outScriptObj.treeNodeFilter('B')"
                                                onselect="#{cc.attrs.componentID}_outScriptObj.treeNodeFilter('B')" />
                                            <span
                                                class="fa fa-times crossIcon"
                                                onclick="#{cc.attrs.componentID}_outScriptObj.clearFilter4Tree()" />
                                        </div>
                                    </p:outputPanel>
                                </p:column>
                                <p:column>
                                    <div
                                        class="btn-box-border"
                                        style="">
                                        <label>
                                            <input
                                                type="checkbox"
                                                class="btn-box-checkbox #{cc.attrs.componentID}_inputSwitch_tree"
                                                onclick="#{cc.attrs.componentID}_outScriptObj.switchSelectedShowMode(this, 'A', event)" />     
                                            <span class="btn-box">
                                                <span class="btn-box-btn" />
                                            </span>
                                            <span style="font-weight: bold">&nbsp;切換</span>
                                        </label>
                                    </div>
                                </p:column>
                            </p:row>
                            <!-- 清單樹 -->
                            <p:row>
                                <p:column colspan="2">
                                    <hr style="margin-top: -0.6rem !important" />
                                    <div
                                        class="quick-select-tree-selected-treeECIconContainer #{cc.attrs.componentID}_id_selected_TreeECIconContainer"
                                        style="left: #{myTreePanelWidth* 1.88}px">
                                        <span
                                            title="全部展開"
                                            class="fa fa-plus icon-on-hover-t1"
                                            onclick="#{cc.attrs.componentID}_outScriptObj.expandAllTreeNode('B')"> </span>
                                        &nbsp;
                                        <span
                                            title="全部收合"
                                            class="fa fa-minus icon-on-hover-t1"
                                            onclick="#{cc.attrs.componentID}_outScriptObj.collapseAllTreeNode('B')" />
                                    </div>
                                    <p:outputPanel
                                        style="margin-top:7px;height:300px"
                                        styleClass="#{cc.attrs.componentID}_id_selected_tree">
                                        <p:tree
                                            value="#{cc.attrs.quickSelectTreeModel.rootTreeNode}"
                                            var="node"
                                            widgetVar="#{cc.attrs.componentID}_wv_selected_tree"
                                            selectionMode="single"
                                            propagateSelectionUp="false"
                                            styleClass="quick-select-tree"
                                            animate="true"
                                            dynamic="false"
                                            onNodeClick="#{cc.attrs.componentID}_outScriptObj.onSelectedTreeNodeClick(node,event)"
                                            style="border:1px;width:#{myTreePanelWidth+10}px;height:298px;overflow-y: auto;display:none;">
                                            <p:treeNode>
                                                <h:outputText
                                                    value="#{cc.attrs.quickSelectTreeModel.getNodeDisplayContext(node)}"
                                                    escape="false" />
                                                <h:outputText
                                                    value=" - (停用)"
                                                    style="color:#E20F0F;"
                                                    rendered="#{!node.active}" />
                                            </p:treeNode>
                                        </p:tree>
                                    </p:outputPanel>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column
                        style="display:none"
                        styleClass="quick-select-tree-selected-list">
                        <!-- ================================= -->
                        <!-- 已選擇人員清單 -->
                        <!-- ================================= -->
                        <p:panelGrid
                            styleClass="orgusertree-border"
                            style="width:400px; height:400px;">
                            <!-- header -->
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="2">
                                        <p:outputLabel value="#{(empty cc.attrs.selectedAreaTitle)?'已選擇清單':cc.attrs.selectedAreaTitle}" />
                                    </p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column>
                                    <!-- 過濾輸入框 -->
                                    <p:outputPanel style="text-align: left;">
                                        <div class="searchContainer">
                                            <span class="fa fa-search searchIcon"></span>
                                            <p:inputText
                                                styleClass="#{cc.attrs.componentID}_id_selectedFilterText"
                                                placeholder="Search"
                                                style="width:120px;height:19px;padding-left:25px;"
                                                onkeyup="#{cc.attrs.componentID}_outScriptObj.filterSelectedList(this.value)" />
                                            <span
                                                class="fa fa-times crossIcon"
                                                onclick="#{cc.attrs.componentID}_outScriptObj.clearFilter4SelectedArea()" />
                                        </div>
                                    </p:outputPanel>
                                </p:column>
                                <p:column>
                                    <div
                                        class="btn-box-border"
                                        style="margin-left: 134px !important">
                                        <label>
                                            <input
                                                type="checkbox"
                                                class="btn-box-checkbox #{cc.attrs.componentID}_inputSwitch_list"
                                                onclick="#{cc.attrs.componentID}_outScriptObj.switchSelectedShowMode(this, 'B', event)" />
                                            <span class="btn-box">
                                                <span class="btn-box-btn" />
                                            </span>
                                            <span style="font-weight: bold">&nbsp;切換</span>
                                        </label>
                                    </div>
                                </p:column>
                            </p:row>
                            <p:row>
                                <!-- 已選擇清單 -->
                                <p:column colspan="2">
                                    <hr style="margin-top: -0.6rem !important" />
                                    <p:scrollPanel
                                        mode="native"
                                        style="margin-top:7px;height:300px;border: none;">

                                        <p:dataList
                                            styleClass="#{cc.attrs.componentID}_id_selectedNodeArea"
                                            emptyMessage="#{(empty cc.attrs.selectedAreaEmptyMessage)?'尚未選擇項目':cc.attrs.selectedAreaEmptyMessage}"
                                            value="#{cc.attrs.quickSelectTreeModel.selectedList}"
                                            var="dataNode"
                                            type="ordered"
                                            style="border:1px;width:240px;height:298px;">
                                            <h:outputText
                                                value="(停用) - "
                                                style="color:#E20F0F;"
                                                rendered="#{!dataNode.active}" />
                                            <p:outputLabel value="#{dataNode.ouName}" />
                                            <hr />
                                        </p:dataList>
                                    </p:scrollPanel>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="3">
                        <p:outputLabel
                            style="text-align:left;width:100%;"
                            styleClass="WS1-1-2"
                            escape="false"
                            value="#{cc.attrs.quickSelectTreeModel.memoMessage}">

                        </p:outputLabel>
                        <hr />
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:outputPanel>

        <!-- 資料區 -->
        <p:outputLabel
            id="#{cc.attrs.componentID}_dataArea"
            styleClass="#{cc.attrs.componentID}_dataArea"
            style="display:none"
            rendered="#{cc.attrs.quickSelectTreeModel.renderFlag}">

            <p:outputLabel
                styleClass="#{cc.attrs.componentID}_id_allNodeDataMapByRowKey"
                value="#{cc.attrs.quickSelectTreeModel.nodeDataJsonString}"
                style="display:none" />

            <p:inputText
                type="hidden"
                styleClass="#{cc.attrs.componentID}_id_linkageMap"
                value="#{cc.attrs.quickSelectTreeModel.linkageMapJsonString}" />

            <script>
            
            		//動態載入 CSS 檔案
                    if (!document.getElementById("quick-select-tree-css-file"))
                    {
                        var head  = document.getElementsByTagName('head')[0];
                        var link  = document.createElement('link');
                        link.id   = "quick-select-tree-css-file";
                        link.rel  = 'stylesheet';
                        link.type = 'text/css';
                        link.href = '../resources/css/quickSelectTree.css?ver=#{commonBean.getVersion()}';
                        link.media = 'all';
                        head.appendChild(link);
                    }
            
                    var #{cc.attrs.componentID}_outScriptObj = null;
                    
                    function #{cc.attrs.componentID}_initQuickSelectTree(){
                      #{cc.attrs.componentID}_outScriptObj = new QuickSelectTree(
                                "#{cc.attrs.componentID}", 
                                PF('#{cc.attrs.componentID}_wv_tree'),
                                "#{(empty cc.attrs.selectedAreaEmptyMessage)?'尚未選擇項目':cc.attrs.selectedAreaEmptyMessage}",
                                "#{(empty cc.attrs.dataNodeIcon)?'':cc.attrs.dataNodeIcon}"
                                );
                      
                      //避免元件在不需要的時候, 也渲染內容
                       #{cc.attrs.componentID}_afterCloseDlg();
                    }
                    
                    $( document ).ready(function(){
                    	//動態載入 JS 檔案
                    	if (typeof QuickSelectTree != 'function') {
                        	$.getScriptCached("../js/component/quickSelectTree.js?cyln=#{commonBean.getVersion()}", function() {
                     		  	#{cc.attrs.componentID}_initQuickSelectTree();
                     		});
                    	}else{
                    		#{cc.attrs.componentID}_initQuickSelectTree();
                    	}
                    });
              </script>
        </p:outputLabel>
    </cc:implementation>
</ui:composition>