<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:cc="http://java.sun.com/jsf/composite"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                >
    <!-- 報表組織樹 for 進階搜尋(轉發至)-->
    <cc:interface>
        <cc:attribute name="commonHeaderMBean" required="true" shortDescription="報表通用Hearder"/>
        <cc:attribute name="organizationTreeMBean" required="true" shortDescription="組織樹MBean"/>
        <cc:attribute name="widgetVar" shortDescription="組織樹 widget var" default="dlgOrgTreeForward"/>
    </cc:interface>

    <cc:implementation>
        <p:dialog header="組織樹" 
                  widgetVar="#{cc.attrs.widgetVar}" 
                  modal="true" 
                  resizable="true" 
                  position="left top"
                  >
            <p:outputPanel id="panelOrgTreeForward">
                <h:outputText value="部門："/>
                <p:inputText value="#{cc.attrs.commonHeaderMBean.deptTextOfForward}" placeholder="請輸入部門名稱..."
                             onkeydown="executeScriptByEnter(event, 'rotfKeyEnterBySearchDep();');"/>
                <p:remoteCommand name="rotfKeyEnterBySearchDep" 
                                 actionListener="#{cc.attrs.commonHeaderMBean.searchForwardDep()}"
                                 onstart="showLoad();"
                                 oncomplete="hideLoad();"
                                 process="@previous @this" update="@composite:panelOrgTreeForward"
                                 />
                <p:commandButton icon="fa fa-search" onclick="rotfKeyEnterBySearchDep();" />
                <cp:organization_tree
                    model="#{cc.attrs.commonHeaderMBean.orgTreeMBean}"
                    selectNode="#{cc.attrs.organizationTreeMBean.orgTreeSelect}" 
                    selectionMode="checkbox"
                    buildByDeptLevel="#{false}"/>
                <p:commandButton value="確定" process="@composite:panelOrgTreeForward" actionListener="#{cc.attrs.commonHeaderMBean.saveForwardDepts()}"
                                 oncomplete="PF('#{cc.attrs.widgetVar}').hide()"/>
                <p:commandButton value="取消" type="button" onclick="PF('#{cc.attrs.widgetVar}').hide();"/>
            </p:outputPanel>
        </p:dialog>
    </cc:implementation>
</ui:composition>