<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<!-- INTERFACE -->
	<cc:interface>
		<cc:attribute
			name="componentID"
			type="java.lang.String"
			required="true"
			shortDescription="ID" />

		<cc:attribute
			name="model"
			type="com.cy.tech.request.web.controller.component.singleselecttree.SingleSelectTreePicker"
			required="true"
			shortDescription="component 實體物件" />

		<cc:attribute
			name="title"
			type="java.lang.String"
			required="true"
			shortDescription="上方顯示標題" />

		<cc:attribute
			name="clickEventUpdateArea"
			type="java.lang.String"
			required="true"
			shortDescription="有實做點擊，要更新的區域" />

		<cc:attribute
			name="menuWidth"
			type="java.lang.Integer"
			required="true"
			shortDescription="選擇清單寬度" />

		<cc:attribute
			name="menuHeight"
			type="java.lang.Integer"
			required="false"
			shortDescription="選擇清單高度" />
	</cc:interface>

	<!-- IMPLEMENTATION -->
	<cc:implementation>
		<style>
.ssTree-dataNode-highlight {
	
}

.ssTree-dataNode-highlight:hover {
	background-color: #d9cd90ff;
}

.sstreeStyle {
	border: 4px solid #cc9f8e;
	border-radius: 7px;
	border-style: solid;
}

.sstreeStyle-highlight-keyword {
	color: #009ceb;
}
</style>
		<script type="text/javascript">
            function tree_onSerachEnter#{cc.attrs.componentID}(event) {
                if (checkEnter(event)) {
                	itemTree_doSearch#{cc.attrs.componentID}();
                }
            }
        </script>
        
		<!--透過Enter查詢名稱-->
		<p:remoteCommand
			name="itemTree_doSearch#{cc.attrs.componentID}"
			actionListener="#{cc.attrs.model.event_searchItemNameByKeyword()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			update="@(.itemTree_#{cc.attrs.componentID})"
			process="@this @(.itemTree_#{cc.attrs.componentID}) @(.itemTree_searchDepName_#{cc.attrs.componentID})">
		</p:remoteCommand>

		<!--點擊事件-->
		<p:remoteCommand
			name="itemTree_clickItem#{cc.attrs.componentID}"
			actionListener="#{cc.attrs.model.event_clickItem()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			update="#{cc.attrs.clickEventUpdateArea}"
			process="@this @(.itemTree_AllPanel_#{cc.attrs.componentID})">
		</p:remoteCommand>

		<h:outputText
			value="model 為空"
			rendered="#{empty cc.attrs.model}" />

		<c:set
			var="myWidth"
			value="#{(empty cc.attrs.menuWidth)?240:cc.attrs.menuWidth}" />
		<c:set
			var="myHeight"
			value="#{(empty cc.attrs.menuHeight)?334:cc.attrs.menuHeight}" />

		<p:outputPanel
			id="#{cc.attrs.componentID}"
			styleClass="coffee-border itemTree_AllPanel_#{cc.attrs.componentID}"
			style="#{(myWidth eq -1)?'':'width:'.concat(myWidth+3).concat('px;')}#{(myHeight eq -1)?'':'height:'.concat(myHeight).concat('px;')}"
			rendered="#{not empty cc.attrs.model}">
			<p:outputPanel
				styleClass="ui-widget-header"
				style="text-align: center; height: 24px; padding-top: 3px;"
				rendered="#{not empty cc.attrs.title}">
				<p:outputLabel value="#{cc.attrs.title}" />
			</p:outputPanel>
			<!-- 名稱查詢輸入框 -->
			<p:panelGrid
				columns="2"
				style="height: 47px">
				<p:inputText
					styleClass="itemTree_searchDepName_#{cc.attrs.componentID}"
					style="width:100%"
					placeholder="Enter 查詢"
					value="#{cc.attrs.model.serachItemNameKeyword}"
					onkeydown="tree_onSerachEnter#{cc.attrs.componentID}(event);" />
				<p:commandButton
					icon="ui-icon-search"
					style="width:24px;height:24px"
					actionListener="#{cc.attrs.model.event_searchItemNameByKeyword()}"
					onclick="showLoad();"
					oncomplete="hideLoad();"
					update="@(.itemTree_#{cc.attrs.componentID})"
					process="@this @(.itemTree_#{cc.attrs.componentID}) @(.itemTree_searchDepName_#{cc.attrs.componentID})" />
			</p:panelGrid>
			<hr style="margin-top: 5px; margin-bottom: 5px" />
			<p:scrollPanel
				mode="native"
				style="	#{(myWidth eq -1)?'':'width:'.concat(myWidth-10).concat('px;')}#{(myHeight eq -1)?'':'height:'.concat(myHeight-90).concat('px;')}border: none;">
				<p:tree
					id="itemTree_#{cc.attrs.componentID}"
					widgetVar="itemTree_wv_#{cc.attrs.componentID}"
					value="#{cc.attrs.model.rootNode}"
					selection="#{cc.attrs.model.selectedItem}"
					var="itemNode"
					dynamic="true"
					selectionMode="single"
					propagateSelectionUp="false"
					styleClass="itemTree_#{cc.attrs.componentID}"
					style="#{(myWidth eq -1)?'':'width:'.concat(myWidth-5).concat('px')};border: none;">
					<p:ajax
						event="select"
						listener="#{cc.attrs.model.event_clickItem()}"
						onstart="showLoad();"
						oncomplete="hideLoad();"
						update="#{cc.attrs.clickEventUpdateArea}"
						process="@this" />
					<p:treeNode>
						<h:outputText
							rendered="#{not itemNode.active}"
							styleClass="WS1-1-2b"
							value="(停用)" />
						<h:outputText
							value="#{itemNode.showTreeName}"
							styleClass="#{(itemNode.active)?itemNode.showTreeClass:'WS1-1-2'}"
							escape="false" />
					</p:treeNode>
				</p:tree>
			</p:scrollPanel>
		</p:outputPanel>
	</cc:implementation>
</ui:composition>