<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:cp="http://java.sun.com/jsf/composite/components">
	<!-- INTERFACE -->
	<cc:interface>
		<cc:attribute
			name="componentID"
			type="java.lang.String"
			required="true"
			shortDescription="ID" />

		<cc:attribute
			name="model"
			type="com.cy.work.viewcomponent.ssutreepicker.SingleSelectUserTreePicker"
			required="true"
			shortDescription="component 實體物件" />

		<cc:attribute
			name="title"
			type="java.lang.String"
			required="true"
			shortDescription="上方顯示標題" />

		<cc:attribute
			name="doubleClickUpdateArea"
			type="java.lang.String"
			required="true"
			shortDescription="有實做雙擊事件時，要更新的區域" />

		<cc:attribute
			name="menuWidth"
			type="java.lang.Integer"
			required="true"
			shortDescription="選擇清單寬度" />
	</cc:interface>

	<!-- IMPLEMENTATION -->
	<cc:implementation>
		<style>
.ssTree-dataNode-highlight {
	
}

.ssTree-dataNode-highlight:hover {
	background-color: #d9cd90ff;
}

.sstreeStyle {
	border: 4px solid #cc9f8e;
	border-radius: 7px;
	border-style: solid;
}

.sstreeStyle-highlight-keyword {
	color: #009ceb;
}
</style>
		<script type="text/javascript">
			//初始化
		  	var singleSelectUserTreePicker_#{cc.attrs.componentID}_outScriptObj = null;
			function #{cc.attrs.componentID}_init(){
				singleSelectUserTreePicker_#{cc.attrs.componentID}_outScriptObj = new SingleSelectUserTreePicker(
					'#{cc.attrs.componentID}',
					itemTree_doubleClick#{cc.attrs.componentID}
				);
			}
		
			//動態載入 JS 檔案
	        $( document ).ready(function(){
	        	if (typeof SingleSelectUserTreePicker != 'function') {
	            	$.getScriptCached("../js/component/singleSelectUserTreePicker.js?cyln=#{commonBean.getVersion()}", function() {	            		
	            		$(document).ready(function(){
	            			#{cc.attrs.componentID}_init();
	            		})
	         		});
	        	}else{
            		$(document).ready(function(){
            			#{cc.attrs.componentID}_init();
            		})
	        	}
	        });
		
            function tree_onSerachEnter#{cc.attrs.componentID}(event) {
                if (checkEnter(event)) {
                	itemTree_doSearch#{cc.attrs.componentID}();
                }
            }
        </script>
		<!--透過Enter查詢部門名稱-->
		<p:remoteCommand
			name="itemTree_doSearch#{cc.attrs.componentID}"
			actionListener="#{cc.attrs.model.event_searchItemNameByKeyword()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			update="@(.itemTree_#{cc.attrs.componentID})"
			process="@this @(.itemTree_AllPanel_#{cc.attrs.componentID})">
		</p:remoteCommand>

		<!--雙擊點事件-->
		<p:remoteCommand
			name="itemTree_doubleClick#{cc.attrs.componentID}"
			actionListener="#{cc.attrs.model.event_doubleClickItem()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			update="#{cc.attrs.doubleClickUpdateArea}"
			process="@this @(.itemTree_AllPanel_#{cc.attrs.componentID})">
		</p:remoteCommand>

		<h:outputText
			value="model 為空"
			rendered="#{empty cc.attrs.model}" />

		<p:outputPanel
			id="#{cc.attrs.componentID}"
			styleClass="sstreeStyle itemTree_AllPanel_#{cc.attrs.componentID} coffee-block"
			style="width: fit-content;"
			rendered="#{not empty cc.attrs.model}">

			<input
				type="hidden"
				id="sstreeStyle_#{cc.attrs.componentID}_hasCallback"
				value="#{not empty cc.attrs.model.singleSelectUserTreeCallback}"></input>

			<div class="coffee-block-header">
				<p:outputLabel value="#{cc.attrs.title}" />
			</div>

			<div style="display: flex; flex-direction: column; align-items: center">
				<!-- 名稱查詢輸入框 -->
				<div style="margin: 5px 5px 0px 5px; display: flex; justify-content: flex-start; align-items: center; width: -webkit-fill-available">
					<div>
						<p:inputText
							styleClass="itemTree_searchDepName_#{cc.attrs.componentID}"
							style="width:100%"
							placeholder="Enter 查詢"
							value="#{cc.attrs.model.serachItemNameKeyword}"
							onkeydown="tree_onSerachEnter#{cc.attrs.componentID}(event);" />
					</div>
					<div style="margin-left: 16px;">
						<p:commandButton
							icon="ui-icon-search"
							actionListener="#{cc.attrs.model.event_searchItemNameByKeyword()}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							update="@(.itemTree_#{cc.attrs.componentID})"
							process="@this @(.itemTree_#{cc.attrs.componentID}) @(.itemTree_searchDepName_#{cc.attrs.componentID})" />
					</div>
				</div>
				<div style="margin-top:5px">
					<p:scrollPanel
						mode="native"
						style="width:#{cc.attrs.menuWidth}px;height:334px; margin: 0 5px 5px 5px;">
						<p:tree
							id="itemTree_#{cc.attrs.componentID}"
							widgetVar="itemTree_wv_#{cc.attrs.componentID}"
							value="#{cc.attrs.model.rootNode}"
							selection="#{cc.attrs.model.selectedItem}"
							var="itemNode"
							dynamic="true"
							selectionMode="single"
							propagateSelectionUp="false"
							onNodeClick="singleSelectUserTreePicker_#{cc.attrs.componentID}_outScriptObj.nodeDoubleClick(node);"
							styleClass="itemTree_#{cc.attrs.componentID}"
							style="width:#{cc.attrs.menuWidth-5}px;border: none;">
							<p:treeNode>
								<h:outputText
									rendered="#{not itemNode.active}"
									styleClass="WS1-1-2b"
									value="(停用)" />
								<h:outputText
									value="#{itemNode.showTreeName}"
									styleClass="#{(itemNode.active)?'':'WS1-1-2'}"
									escape="false" />
							</p:treeNode>
						</p:tree>
					</p:scrollPanel>
				</div>
			</div>
		</p:outputPanel>
	</cc:implementation>
</ui:composition>