<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<!-- INTERFACE -->
	<cc:interface>
		<cc:attribute
			name="componentID"
			type="java.lang.String"
			required="true"
			shortDescription="ID" />

		<cc:attribute
			name="model"
			type="com.cy.tech.request.web.controller.component.singleselectlist.SingleSelectListPicker"
			required="true"
			shortDescription="component 實體物件" />

		<cc:attribute
			name="title"
			type="java.lang.String"
			required="true"
			shortDescription="上方顯示標題" />

		<cc:attribute
			name="clickEventUpdateArea"
			type="java.lang.String"
			required="true"
			shortDescription="有實做點擊，要更新的區域" />

		<cc:attribute
			name="menuWidth"
			type="java.lang.Integer"
			required="true"
			shortDescription="選擇清單寬度" />

		<cc:attribute
			name="menuHeight"
			type="java.lang.Integer"
			required="false"
			shortDescription="選擇清單高度" />
	</cc:interface>

	<!-- IMPLEMENTATION -->
	<cc:implementation>

		<script type="text/javascript">
            function tree_onSerachEnter#{cc.attrs.componentID}(event) {
                if (checkEnter(event)) {
                	itemTree_doSearch#{cc.attrs.componentID}();
                }
            }
        </script>

		<!--透過Enter查詢名稱-->
		<p:remoteCommand
			name="itemTree_doSearch#{cc.attrs.componentID}"
			actionListener="#{cc.attrs.model.event_searchItemNameByKeyword()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			update="@(.selectOneListbox_#{cc.attrs.componentID})"
			process="@this @(.itemTree_searchDepName_#{cc.attrs.componentID})">
		</p:remoteCommand>

		<!--點擊事件-->
		<p:remoteCommand
			name="itemTree_clickItem#{cc.attrs.componentID}"
			actionListener="#{cc.attrs.model.event_clickItem()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			update="#{cc.attrs.clickEventUpdateArea}"
			process="@this @(.itemTree_AllPanel_#{cc.attrs.componentID})">
		</p:remoteCommand>

		<h:outputText
			value="model 為空"
			rendered="#{empty cc.attrs.model}" />

		<c:set
			var="myWidth"
			value="#{(empty cc.attrs.menuWidth)?240:cc.attrs.menuWidth}" />
		<c:set
			var="myHeight"
			value="#{(empty cc.attrs.menuHeight)?334:cc.attrs.menuHeight}" />

		<p:outputPanel
			id="#{cc.attrs.componentID}"
			styleClass="coffee-border itemTree_AllPanel_#{cc.attrs.componentID}"
			style="#{(myWidth eq -1)?'':'width:'.concat(myWidth+3).concat('px;')}#{(myHeight eq -1)?'':'height:'.concat(myHeight).concat('px;')}"
			rendered="#{not empty cc.attrs.model}">
			<p:outputPanel
				styleClass="ui-widget-header"
				style="text-align: center; height: 24px; padding-top: 3px;"
				rendered="#{not empty cc.attrs.title}">
				<p:outputLabel value="#{cc.attrs.title}" />
			</p:outputPanel>
			<!-- 名稱查詢輸入框 -->
			<p:panelGrid
				columns="2"
				style="height: 47px">
				<p:inputText
					styleClass="itemTree_searchDepName_#{cc.attrs.componentID}"
					style="width:100%"
					placeholder="Enter 查詢"
					value="#{cc.attrs.model.serachItemNameKeyword}"
					onkeydown="tree_onSerachEnter#{cc.attrs.componentID}(event);" />
				<p:commandButton
					icon="ui-icon-search"
					style="width:24px;height:24px"
					actionListener="#{cc.attrs.model.event_searchItemNameByKeyword()}"
					onclick="showLoad();"
					oncomplete="hideLoad();"
					update="@(.selectOneListbox_#{cc.attrs.componentID})"
					process="@this @(.itemTree_searchDepName_#{cc.attrs.componentID})" />
			</p:panelGrid>
			<hr style="margin-top: 5px; margin-bottom: 5px" />

			<p:outputPanel styleClass="selectOneListbox_#{cc.attrs.componentID}">
				<p:selectOneListbox
					value="#{cc.attrs.model.selectedItem}"
					converter="#{wkItemConverter}"
					var="c"
					scrollHeight="#{(myHeight eq -1)?'':myHeight-95}"
					style="width:100%;">
					<p:ajax
						event="change"
						listener="#{cc.attrs.model.event_clickItem()}"
						process="@this"
						update="@this #{cc.attrs.clickEventUpdateArea}"
						onstart="showLoad();"
						oncomplete="hideLoad();" />
					<f:selectItems
						value="#{cc.attrs.model.allItems}"
						var="currItam"
						itemLabel="#{currItam.showName}"
						itemValue="#{currItam}" />
					<p:column>
						<h6>
							<h:outputText
								value="#{c.showName}"
								escape="false" />
						</h6>
					</p:column>
				</p:selectOneListbox>
			</p:outputPanel>

		</p:outputPanel>
	</cc:implementation>
</ui:composition>