<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:cc="http://java.sun.com/jsf/composite"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      >
    <!-- 送測 | ON程式 | 其它設定資訊 (上傳、下載附加檔案)  -->
    <cc:interface>
        <cc:attribute name="model"                shortDescription="附加檔案模型物件" required="true" />
        <cc:attribute name="req_bean"             shortDescription="需求單控制Bean = Require01MBean" />
        <cc:attribute name="attach_depend_entity" shortDescription="附加檔案依附主體" required="true" />
        <cc:attribute name="off_all_btn"          shortDescription="停用全部功能鍵"   type="java.lang.Boolean" default="false"/>
        <cc:attribute name="off_upload"           shortDescription="停用上傳檔案功能" type="java.lang.Boolean" default="false" />
        <cc:attribute name="ath_service_name"     shortDescription="附加檔案服務名稱(DAO選擇)" type="java.lang.String"  required="true" />
        <cc:attribute name="upload_file_size"   shortDescription="上傳檔案最大容許值" type="java.lang.Integer" required="true" />

        <cc:attribute name="show_fun"      shortDescription="渲染功能鍵"     type="java.lang.Boolean" default="true" />
        <cc:attribute name="show_desc_sys" shortDescription="送測才有的參數" type="java.lang.Boolean" default="false" />
        <cc:attribute name="close_dlg_upd" shortDescription="關閉上傳視窗後，要更新的外部ID" type="java.lang.String" />
        <cc:attribute name="ath_servlet_package"
                      shortDescription="下載用Servlet實作路徑" 
                      type="java.lang.String"
                      default="com.cy.tech.request.web.servlet.AttachServletImpl" />
    </cc:interface>

    <cc:implementation>
        <o:importConstants type="#{cc.attrs.ath_servlet_package}" var="attsvl" />
        <c:set var="allAttachs" value="#{cc.attrs.model.findAttachsByLazy(cc.attrs.attach_depend_entity)}" />
        <p:outputPanel id="ath_op_id" class="attach_view_class">
            <p:panelGrid columns="4" rendered="#{cc.attrs.show_fun}">
                <p:outputLabel value="附加檔案：" />
                <p:commandButton value="全選" id="ath_op_sel_all_id" 
                                 onclick="showLoad();"
                                 process="@this" 
                                 actionListener="#{cc.attrs.model.selectedAll(cc.attrs.attach_depend_entity)}" 
                                 update="@composite:ath_op_id" 
                                 oncomplete="hideLoad();"
                                 rendered="#{not empty allAttachs}"
                                 />
                <p:commandButton value="上傳檔案"
                                 onclick="showLoad();"
                                 process="@this"
                                 actionListener="#{attachDlgMBean.openUploadDlg(
                                                   cc.attrs.model,
                                                   cc.attrs.attach_depend_entity,
                                                   cc.attrs.upload_file_size,
                                                   '@(.attach_view_class) '.concat(cc.attrs.close_dlg_upd)
                                                   )}"
                                 update="@widgetVar(attach_upload_dlg_wv)"
                                 oncomplete="PF('attach_upload_dlg_wv').show();hideLoad();"
                                 disabled="#{cc.attrs.off_upload}"
                                 />  
                <p:commandButton value="下載檔案" ajax="false"
                                 onclick="PrimeFaces.monitorDownload(showLoad(), hideLoad())"
                                 disabled="#{fn:length(cc.attrs.model.selectedAttachments) eq 0}"
                                 rendered="#{not empty allAttachs}"
                                 >
                    <p:fileDownload
                        value="#{cc.attrs.model.downloadFile()}" 
                        contentDisposition="#{cc.attrs.model.downloadFileContentDisposition()}" 
                        />
                </p:commandButton>
            </p:panelGrid>
            <p:scrollPanel mode="native" style="max-height:200px;border:none;">
                <p:dataList id="ath_file_list_id" class="datalist-noborder"
                            value="#{allAttachs}" var="attach" type="definition" >
                    <p:panelGrid columns="12">
                        <p:selectBooleanCheckbox value="#{attach.keyChecked}" >
                            <p:ajax onstart="showLoad();"
                                    process="@composite:ath_file_list_id" 
                                    listener="#{cc.attrs.model.changeCheckbox(cc.attrs.attach_depend_entity)}" 
                                    oncomplete="hideLoad();"
                                    update="@composite:ath_op_id"
                                    />
                        </p:selectBooleanCheckbox>
                        <p:outputLabel value="#{attach.createdDate}" 
                                       rendered="#{cc.attrs.show_fun}">
                            <f:convertDateTime pattern="yyyy/MM/dd" />
                        </p:outputLabel>
                        <p:outputLabel value="#{attach.fileName}" 
                                       rendered="#{!cc.attrs.show_fun}"/>
                        <h:outputLink value="#{request.contextPath}/#{attsvl.SERVLET_NAME}"
                                      rendered="#{cc.attrs.show_fun}"
                                      title="#{attach.fileName}" 
                                      target="_blank">
                            <h:outputText value="#{attach.fileName}" />
                            <f:param name="#{attsvl.PARAM_SID_KEY}" 
                                     value="#{attach.sid}" />
                            <f:param name="#{attsvl.PARAM_TIME_KEY}"
                                     value="#{attach.createdDate.time}" />
                            <f:param name="#{attsvl.PARAM_ATTACH_SERVICE_KEY}"
                                     value="#{cc.attrs.ath_service_name}" />
                        </h:outputLink>
                        <p:outputPanel rendered="#{false}">
                            <p:outputLabel value="#{cc.attrs.model.depAndUserName(attach)}"
                                           rendered="#{cc.attrs.show_fun}"/>
                        </p:outputPanel>
                        <p:inputText value="#{attach.desc}"
                                     rendered="#{cc.attrs.show_fun}"
                                     disabled="#{!attach.keyCheckEdit}"
                                     maxlength="255"/>
                        <p:outputLabel value="#{attach.descSystem}"
                                       rendered="#{cc.attrs.show_desc_sys and not empty attach.descSystem}"
                                       style="color:red"
                                       />
                        <p:commandButton icon="fa fa-pencil" title="編輯"
                                         onclick="showLoad();"
                                         process="@this @composite:ath_file_list_id"
                                         actionListener="#{cc.attrs.model.initEdit(attach)}"
                                         oncomplete="hideLoad();"
                                         update="@composite:ath_file_list_id" 
                                         disabled="#{cc.attrs.off_all_btn || attach.keyCheckEdit}"
                                         rendered="#{cc.attrs.model.showFunByDept(attach) and !(cc.attrs.off_all_btn or attach.keyCheckEdit)}"
                                         />
                        <p:commandButton icon="fa fa-check" title="存檔"
                                         onclick="showLoad();"
                                         process="@this @composite:ath_file_list_id"
                                         actionListener="#{cc.attrs.model.saveByEdit(attach)}"
                                         oncomplete="hideLoad();"
                                         update="@composite:ath_file_list_id" 
                                         disabled="#{cc.attrs.off_all_btn || !attach.keyCheckEdit}"
                                         rendered="#{cc.attrs.model.showFunByDept(attach) and !(cc.attrs.off_all_btn or !attach.keyCheckEdit)}"
                                         />
                        <p:commandButton icon="fa fa-trash-o" title="刪除"
                                         onclick="showLoad();"
                                         process="@this"
                                         actionListener="#{attachDlgMBean.openDelDlg(
                                                           cc.attrs.model, 
                                                           cc.attrs.attach_depend_entity,
                                                           attach,
                                                           '',
                                                           '',
                                                           '')}"
                                         update="@widgetVar(attach_del_confirm_wv)"
                                         oncomplete="PF('attach_del_confirm_wv').show();hideLoad();"
                                         rendered="#{cc.attrs.model.showFunByDept(attach)}"
                                         />
                    </p:panelGrid>
                </p:dataList>
            </p:scrollPanel>
        </p:outputPanel>
    </cc:implementation>
</html>