<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<!-- INTERFACE -->
	<cc:interface>
		<cc:attribute
			name="componentID"
			type="java.lang.String"
			required="true"
			shortDescription="ID" />

		<cc:attribute
			name="srcMenuTitle"
			type="java.lang.String"
			required="true"
			shortDescription="待選區顯示名稱" />

		<cc:attribute
			name="targetMenuTitle"
			type="java.lang.String"
			required="true"
			shortDescription="已選區顯示名稱" />

		<cc:attribute
			name="model"
			type="com.cy.work.viewcomponent.usrdtpker.UserDatatablePickerComponent"
			required="true"
			shortDescription="component 實體物件" />

		<cc:attribute
			name="menuWidth"
			type="java.lang.Integer"
			required="true"
			shortDescription="選擇清單寬度" />

		<cc:attribute
			name="menuHeight"
			type="java.lang.Integer"
			required="false"
			shortDescription="選擇清單高度" />
	</cc:interface>

	<!-- IMPLEMENTATION -->
	<cc:implementation>
		<c:set
			var="currComponent"
			value="#{cc.attrs.model}" />

		<!-- fix attribute:default 不明原因失效 -->
		<c:set
			var="totalHight"
			value="500" />
		<c:if test="#{not empty cc.attrs.menuHeight}">
			<c:set
				var="totalHight"
				value="#{cc.attrs.menuHeight - 100}" />
		</c:if>
		<c:set
			var="totalWidth"
			value="1000" />
		<c:if test="#{not empty cc.attrs.menuWidth}">
			<c:set
				var="totalWidth"
				value="#{cc.attrs.menuWidth}" />
		</c:if>

		<script type="text/javascript">
			//<![CDATA[
            function onSerachUserNameEnter#{cc.attrs.componentID}(event) {
                if (checkEnter(event)) {searchUserNameByKeyword#{cc.attrs.componentID}();}
            }
            //]]>
        </script>

		<!--透過Enter查詢部門名稱-->
		<p:remoteCommand
			name="searchUserNameByKeyword#{cc.attrs.componentID}"
			actionListener="#{currComponent.searchUserNameByKeyword()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			update="#{cc.attrs.componentID}_userDatatablePicker"
			process="@this @(.#{cc.attrs.componentID}_searchUserNameKeyWord)">
		</p:remoteCommand>

		<p:outputPanel
			id="#{cc.attrs.componentID}_userDatatablePicker"
			styleClass="#{cc.attrs.componentID}_userDatatablePicker"
			style="height:#{totalHight+100}px; width:#{totalWidth}px; display:flex; flex-direction:column; justify-content:flex-start; margin:5px 10px 10px 10px"
			rendered="#{not empty currComponent}">
			<!-- ================================= -->
			<!-- 上方功能區 -->
			<!-- ================================= -->
			<!-- 名稱查詢輸入框 -->
			<p:outputPanel
				style="margin: 5px 5px 0px 5px; display: flex; justify-content: flex-start; align-items: center; width: -webkit-fill-available">
				<div>部門：</div>
				<div style="margin-left: 5px;">
					<p:commandButton
						icon="fa fa-sitemap"
						actionListener="#{currComponent.openDepDialog()}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						update="@(.#{cc.attrs.componentID}#{currComponent.DEP_DIALOG_CONTENT})"
						process="@this" />
				</div>
				<div style="margin-left: 20px;">使用者暱稱：</div>
				<div style="margin-left: 5px;">
					<p:inputText
						styleClass="#{cc.attrs.componentID}_searchUserNameKeyWord"
						style="width:100%"
						placeholder="Enter 查詢"
						value="#{currComponent.searchUserNameKeyWord}"
						onkeydown="onSerachUserNameEnter#{cc.attrs.componentID}(event);" />
				</div>
				<div style="margin-left: 16px;">
					<p:commandButton
						icon="ui-icon-search"
						actionListener="#{currComponent.searchUserNameByKeyword()}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						update="@(.#{cc.attrs.componentID}_srcDatatable)"
						process="@this @(.#{cc.attrs.componentID}_searchUserNameKeyWord)" />
				</div>
			</p:outputPanel>
			<div>
				<hr
					style="border: none; color: #B47157; height: 1px; background: #B47157; margin-top: 15px !important; margin-bottom: 20px !important;" />
			</div>
			<div
				style="display: flex; justify-content: center; align-items: flex-start">
				<!-- ================================= -->
				<!-- 待選取區 -->
				<!-- ================================= -->
				<p:outputPanel
					style="display: flex; justify-content: space-between; align-items: center"
					styleClass="#{cc.attrs.componentID}_srcDatatable">
					<p:dataTable
						var="userVO"
						value="#{currComponent.srcUserVOs}"
						selection="#{currComponent.srcSelectedUserVO}"
						rowIndexVar="rowIndex"
						rowKey="#{userVO.userSid}"
						paginator="true"
						rows="20"
						selectionMode="single"
						resizableColumns="true"
						scrollable="true"
						scrollHeight="#{totalHight-100}">
						<!-- 單選 -->
						<p:ajax
							event="rowSelect"
							listener="#{commonBean.doNottingPostback()}"
							update="@(.#{cc.attrs.componentID}_moveFuncButtonArea)"
							process="@this" />
						<!-- 雙擊 -->
						<p:ajax
							event="rowDblselect"
							listener="#{currComponent.event_btn_moveSelected(true)}"
							onstart="showLoad();"
							oncomplete="hideLoad();"
							update="@this @(.#{cc.attrs.componentID}_userDatatablePicker)"
							process="@this" />
						<p:column
							headerText="序"
							styleClass="alignCenter"
							width="15">
							<h:outputText value="#{rowIndex + 1}" />
						</p:column>
						<p:column headerText="部門">
							<h:outputText
								id="depInfo"
								value="#{userVO.depInfo}"
								escape="false" />
							<p:tooltip
								for="@previous"
								value="#{userVO.depInfo}"
								escape="false"
								trackMouse="true" />
						</p:column>
						<p:column
							headerText="名稱"
							width="150">
							<h:outputText
								rendered="#{userVO.unmoveable}"
								value="(鎖定)"
								styleClass="WS1-1-4b"
								escape="false" />
							<h:outputText
								value="#{userVO.userInfo}"
								escape="false" />
						</p:column>
					</p:dataTable>
				</p:outputPanel>
				<!-- ================================= -->
				<!-- 選擇功能鈕 -->
				<!-- ================================= -->
				<p:outputPanel
					styleClass="#{cc.attrs.componentID}_moveFuncButtonArea"
					style="height:#{totalHight}px; display: flex; flex-direction: column; justify-content: space-around; align-items: center; margin: 0 12px 0 12px;">
					<div>
						&nbsp;
					</div>
					<div>
						&nbsp;
					</div>
					<p:commandButton
						title="加入已選擇"
						icon="ui-icon ui-icon-arrowthick-1-e"
						onstart="showLoad();"
						process="@this @(.#{cc.attrs.componentID}_srcDatatable)"
						update="@this @(.#{cc.attrs.componentID}_userDatatablePicker)"
						actionListener="#{currComponent.event_btn_moveSelected(true)}"
						oncomplete="hideLoad();"
						style="width:26px;height:26px"
						disabled="#{not currComponent.isSelectedInList(true)}" />
					<p:commandButton
						title="加入全部"
						icon="ui-icon ui-icon-arrowthickstop-1-e"
						onstart="showLoad();"
						update="@this @(.#{cc.attrs.componentID}_userDatatablePicker)"
						actionListener="#{currComponent.event_btn_moveAll(true)}"
						oncomplete="hideLoad();"
						style="width:26px;height:26px"
						disabled="#{currComponent.isEmptyList(currComponent.srcUserVOs)}" />
					<p:commandButton
						title="移除已選擇"
						icon="ui-icon ui-icon-arrowthick-1-w"
						onstart="showLoad();"
						process="@this @(.#{cc.attrs.componentID}_targetDatatable)"
						update="@this @(.#{cc.attrs.componentID}_userDatatablePicker)"
						actionListener="#{currComponent.event_btn_moveSelected(false)}"
						oncomplete="hideLoad();"
						style="width:26px;height:26px"
						disabled="#{not currComponent.isSelectedInList(false)}" />
					<p:commandButton
						title="移除全部"
						icon="ui-icon ui-icon-arrowthickstop-1-w"
						onstart="showLoad();"
						update="@this @(.#{cc.attrs.componentID}_userDatatablePicker)"
						actionListener="#{currComponent.event_btn_moveAll(false)}"
						oncomplete="hideLoad();"
						style="width:26px;height:26px"
						disabled="#{currComponent.isEmptyList(currComponent.targetUserVOs)}" />
					<div>
						&nbsp;
					</div>
					<div>
						&nbsp;
					</div>
				</p:outputPanel>
				<!-- ================================= -->
				<!--  已選取清單 -->
				<!-- ================================= -->
				<p:outputPanel
					style="display: flex; justify-content: space-between; align-items: center"
					styleClass="#{cc.attrs.componentID}_targetDatatable">
					<p:dataTable
						id="#{cc.attrs.componentID}_targetTable"
						styleClass="#{cc.attrs.componentID}_targetTable"
						var="userVO"
						value="#{currComponent.targetUserVOs}"
						selection="#{currComponent.targetSelectedUserVO}"
						rowIndexVar="rowIndex"
						rowKey="#{userVO.userSid}"
						paginator="true"
						rows="20"
						selectionMode="single"
						resizableColumns="true"
						scrollable="true"
						scrollHeight="#{totalHight-100}">
						<!-- 單選 -->
						<p:ajax
							event="rowSelect"
							listener="#{commonBean.doNottingPostback()}"
							update="@(.#{cc.attrs.componentID}_moveFuncButtonArea)"
							process="@this" />
						<!-- 雙擊 -->
						<p:ajax
							event="rowDblselect"
							listener="#{currComponent.event_btn_moveSelected(false)}"
							onstart="showLoad();"
							oncomplete="hideLoad();"
							update="@this @(.#{cc.attrs.componentID}_userDatatablePicker)"
							process="@this" />
						<p:column
							headerText="序"
							styleClass="alignCenter"
							width="15">
							<h:outputText value="#{rowIndex + 1}" />
						</p:column>
						<p:column headerText="部門">
							<h:outputText
								id="depInfo"
								styleClass="#{cc.attrs.componentID}_depInfo"
								value="#{userVO.depInfo}"
								escape="false" />
							<p:tooltip
								for="@previous"
								value="#{userVO.depInfo}"
								escape="false"
								trackMouse="true" />
						</p:column>
						<p:column
							width="150"
							headerText="名稱">
							<h:outputText
								value="#{userVO.userInfo}"
								styleClass="#{cc.attrs.componentID}_userInfo"
								escape="false" />
							<h:outputText
								rendered="#{userVO.unmoveable}"
								value="&nbsp;(鎖定)"
								styleClass="WS1-1-2b"
								escape="false" />
						</p:column>
					</p:dataTable>
				</p:outputPanel>
			</div>
		</p:outputPanel>
		<!-- p:dialog 分派通知單位 -->
		<p:dialog
			header="分派通知單位"
			id="#{cc.attrs.componentID}#{currComponent.DEP_DIALOG_NAME}"
			widgetVar="#{cc.attrs.componentID}#{currComponent.DEP_DIALOG_NAME}"
			modal="true"
			position="center center-100"
			closeOnEscape="true"
			resizable="false">
			<p:outputPanel
				styleClass="#{cc.attrs.componentID}#{currComponent.DEP_DIALOG_CONTENT}">
				<p:panelGrid>
					<p:row>
						<p:column>
							<cp:treePicker
								componentID="#{cc.attrs.componentID}_DepTreePicker"
								model="#{currComponent.depTreePickerComponent}"
								menuWidth="300"
								menuHeight="400" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:panelGrid>
								<!-- update 由呼叫者自行在後端 callback 方法實做 -->
								<p:row>
									<p:column>
										<p:commandButton
											value="確定"
											onstart="showLoad();"
											process="@(.#{cc.attrs.componentID}#{currComponent.DEP_DIALOG_CONTENT})"
											actionListener="#{currComponent.confirmDepDialog()}"
											update="@(.#{cc.attrs.componentID}_userDatatablePicker)"
											oncomplete="hideLoad();" />
									</p:column>
									<p:column>
										<p:commandButton
											value="關閉"
											process="@this"
											onclick="hidePF('#{cc.attrs.componentID}#{currComponent.DEP_DIALOG_NAME}');" />
									</p:column>
								</p:row>
							</p:panelGrid>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:outputPanel>
		</p:dialog>
	</cc:implementation>
</ui:composition>
