<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<!-- ======================================= -->
<!-- 送測單位  -->
<!-- ======================================= -->
<p:dialog
	header="送測單位挑選"
	id="#{sendTestSettingMBean.SEND_TEST_DEP_DLG_NAME}"
	widgetVar="#{sendTestSettingMBean.SEND_TEST_DEP_DLG_NAME}"
	position="center center-50"
	closeOnEscape="true"
	resizable="false"
	modal="true"
	onShow="PF_initPosition('#{sendTestSettingMBean.SEND_TEST_DEP_DLG_NAME}');">

	<p:outputPanel
		id="#{sendTestSettingMBean.SEND_TEST_DEP_DLG_CONTENT}"
		styleClass="#{sendTestSettingMBean.SEND_TEST_DEP_DLG_CONTENT}"
		style="display: flex; justify-content: center; flex-direction:column; ">
		<!-- 部門 picker  -->
		<cp:multItemPicker
			componentID="#{sendTestSettingMBean.SEND_TEST_DEP_PICKER_ID}"
			model="#{sendTestSettingMBean.sendTestDepPicker}"
			srcMenuTitle="待選擇單位"
			targetMenuTitle="送測單位"
			menuWidth="240"
			menuHeight="250" />
		<div>
			<hr />
		</div>
		<div
			style="display: flex; align-items: center; justify-content: flex-start">
			<div style="width: 20px"></div>
			<p:commandButton
				value="確認"
				onstart="showLoad();"
				actionListener="#{sendTestSettingMBean.sendTestDepConfirm(true)}"
				process="@this #{sendTestSettingMBean.SEND_TEST_DEP_DLG_CONTENT}"
				oncomplete="hideLoad();" />
			<div style="width: 20px"></div>
			<p:commandButton
				value="取消"
				onclick="hidePF('#{sendTestSettingMBean.SEND_TEST_DEP_DLG_NAME}');" />
		</div>
	</p:outputPanel>
	<br />
</p:dialog>
</html>

