<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<!-- ON程式資訊填寫 -->
<p:dialog
	header="ON程式資訊填寫"
	id="onpg_setting_dlg_id"
	position="center top+400"
	modal="true"
	widgetVar="onpg_setting_dlg_wv"
	closable="false"
	resizable="false"
	onShow="PF_initPosition('onpg_setting_dlg_wv');">
	<p:hotkey
		bind="esc"
		handler="PF('onpg_setting_dlg_wv').hide();"
		onstart="showLoad();"
		process="@this"
		actionListener="#{onpgSettingMBean.closeDialog()}"
		oncomplete="hideLoad();" />

	<c:set
		value="#{onpgSettingMBean.editOnpg}"
		var="editItem" />
	<p:panelGrid styleClass="width:100%">
		<p:row>
			<p:column>
				<p:outputLabel
					value="#{require01MBean.findConfirmExecName(editItem.createdUser)}"
					style="color:black;font-weight: bold" />
				<h:outputText
					value="#{editItem.createdDate}"
					style="color:black;font-weight: bold">
					<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
				</h:outputText>
			</p:column>
			<p:column>
				<div style="width: 350px"></div>
			</p:column>
			<p:column>
				<p:outputPanel class="alignRight onpg_setting_notice_info">
					<c:set
						var="onpg_setting_select_deps_desc"
						value="#{onpgSettingMBean.prepareNoticeDepsTooltip(onpgSettingMBean.editOnpg)}" />
					<p:outputLabel
						value="通知單位"
						style="color:black;font-weight: bold;margin-right: 5px" />
					<p:commandButton
						title="通知單位"
						icon="fa fa-search"
						onclick="showLoad();"
						actionListener="#{onpgSettingMBean.assignDepOpenDialog(require01MBean, 'EDIT_ALL')}"
						oncomplete="hideLoad();" />
					<p:tooltip
						rendered="#{not empty onpg_setting_select_deps_desc}"
						for="@previous"
						value="#{onpg_setting_select_deps_desc}"
						trackMouse="true"
						escape="false" />
				</p:outputPanel>
			</p:column>
		</p:row>
	</p:panelGrid>
	<p:panelGrid id="onpg_setting_panel_grid">
		<p:row style="vertical-align: top">
			<p:column colspan="1">
				<p:outputLabel value="單據歸屬單位" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel value="：" />
			</p:column>
			<p:column colspan="1">
				<h:outputLabel
					rendered="#{empty onpgSettingMBean.ownerDepSelectItems}"
					value="#{onpgSettingMBean.selectOwnerDepItem.name}" />
				<p:selectOneMenu
					rendered="#{not empty onpgSettingMBean.ownerDepSelectItems}"
					value="#{onpgSettingMBean.selectOwnerDepItem}"
					converter="#{wkItemConverter}">
					<f:selectItem
						itemLabel="請選擇"
						itemValue=""
						noSelectionOption="true" />
					<f:selectItems value="#{onpgSettingMBean.ownerDepSelectItems}" />
				</p:selectOneMenu>
			</p:column>
		</p:row>
		<p:row style="vertical-align: top">
			<p:column colspan="1">
				<p:outputLabel value="預計完成日" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel value="：" />
			</p:column>
			<p:column colspan="1">
				<p:calendar
					readonlyInput="true"
					styleClass="cy-calendar"
					value="#{editItem.establishDate}"
					style="border-color: red; border-width: 5px"
					disabled="#{onpgSettingMBean.disableSetModify()}"
					navigator="true"
					mode="popup"
					showOn="button"
					pattern="yyyy/MM/dd"
					mask="true" />
			</p:column>
		</p:row>
		<p:row style="vertical-align: top">
			<p:column colspan="1">
				<p:outputLabel value="主題" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel value="：" />
			</p:column>
			<p:column colspan="1">
				<p:inputText
					value="#{editItem.theme}"
					disabled="#{onpgSettingMBean.disableSetModify()}"
					maxlength="255"
					size="50" />
			</p:column>
		</p:row>
		<p:row style="vertical-align: top">
			<p:column colspan="1">
				<p:outputLabel value="內容" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel value="：" />
			</p:column>
			<p:column colspan="1">
				<p:editor
					value="#{editItem.contentCss}"
					width="600"
					height="200"
					id="onpg_setting_dlg_content_edit"
					converter="#{editorConverter}"
					controls="font size bold italic underline color highlight"
					disabled="#{onpgSettingMBean.disableSetModify()}" />
			</p:column>
		</p:row>
		<p:row style="vertical-align: top">
			<p:column colspan="1">
				<p:outputLabel value="備註說明" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel value="：" />
			</p:column>
			<p:column colspan="1">
				<p:editor
					value="#{editItem.noteCss}"
					converter="#{editorConverter}"
					height="100"
					id="onpg_setting_dlg_desc_edit"
					controls="font size bold italic underline color highlight"
					disabled="#{onpgSettingMBean.disableSetModify()}" />
			</p:column>
		</p:row>
		<p:row rendered="#{empty editItem.sid}">
			<p:column colspan="1">
				<p:outputLabel value="附加檔案" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel value="：" />
			</p:column>
			<p:column colspan="1">
				<p:commandButton
					icon="fa fa-paperclip"
					value="附加檔案"
					onclick="showLoad();"
					process="@this"
					actionListener="#{attachDlgMBean.openUploadDlg(
                                                       onpgAttachMBean,
                                                       editItem,
                                                       require01MBean.require.mapping.middle.singleUploadLimited,
                                                       'onpg_setting_dlg_attach_view_id'
                                                       )}"
					update="@widgetVar(attach_upload_dlg_wv)"
					oncomplete="PF('attach_upload_dlg_wv').show();hideLoad();" />
			</p:column>
		</p:row>
	</p:panelGrid>
	<p:scrollPanel
		id="onpg_setting_dlg_attach_view_id"
		mode="native"
		style="border:none;max-height:100px"
		rendered="#{empty editItem.sid}">
		<cp:attachmentView
			model="#{onpgAttachMBean}"
			attach_depend_entity="#{editItem}"
			show_fun="#{false}"
			ath_service_name="OnpgAttachService" />
	</p:scrollPanel>
	<p:row>
		<p:commandButton
			value="確認"
			onclick="showLoad();"
			process="@this onpg_setting_panel_grid "
			actionListener="#{onpgSettingMBean.save(require01MBean)}"
			oncomplete="hideLoad();" />
		<p:commandButton
			value="取消"
			onstart="hidePF('#{onpgSettingMBean.ASSIGN_DEP_DLG_NAME}');hidePF('onpg_setting_dlg_wv');"
			onclick="showLoad();"
			process="@this onpg_setting_panel_grid "
			actionListener="#{onpgSettingMBean.cancelEdit(require01MBean)}"
			oncomplete="hideLoad();" />
	</p:row>
</p:dialog>

<!-- ======================================= -->
<!-- 通知單位編輯視窗  -->
<!-- ======================================= -->
<p:dialog
	header="通知單位"
	id="#{onpgSettingMBean.ASSIGN_DEP_DLG_NAME}"
	widgetVar="#{onpgSettingMBean.ASSIGN_DEP_DLG_NAME}"
	modal="true"
	position="center center-50"
	closeOnEscape="true"
	resizable="false"
	onShow="PF_initPosition('#{onpgSettingMBean.ASSIGN_DEP_DLG_NAME}');">
	<p:outputPanel
		id="#{onpgSettingMBean.ASSIGN_DEP_DLG_CONTENT}"
		styleClass="#{onpgSettingMBean.ASSIGN_DEP_DLG_CONTENT}"
		style="display: flex; justify-content: center; flex-direction:column; ">
		<!-- 部門 picker  -->
		<cp:multItemPicker
			componentID="#{onpgSettingMBean.ASSIGN_DEP_PICKER_ID}"
			model="#{onpgSettingMBean.assignDepPicker}"
			srcMenuTitle="待選擇單位"
			targetMenuTitle="通知單位"
			menuWidth="240"
			menuHeight="250" />
		<div>
			<hr />
		</div>
		<div style="display: flex; align-items: center; justify-content: flex-start">
			<div style="width: 20px"></div>
			<p:commandButton
				value="確認"
				onstart="showLoad();"
				actionListener="#{onpgSettingMBean.assignDepDepConfirm(true)}"
				process="@this #{onpgSettingMBean.ASSIGN_DEP_DLG_CONTENT}"
				update="@(.onpg_setting_notice_info)"
				oncomplete="hideLoad();" />
			<div style="width: 20px"></div>
			<p:commandButton
				value="取消"
				process="@this"
				onclick="hidePF('#{onpgSettingMBean.ASSIGN_DEP_DLG_NAME}');" />
		</div>
	</p:outputPanel>
	<br />
</p:dialog>
</html>

