<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<p:dialog
	widgetVar="tros_reply_upload_Wv"
	id="tros_reply_upload_ID"
	header="上傳檔案"
	width="1000"
	height="540"
	modal="true"
	resizable="false"
	appendTo="formTemplate"
	closable="true">
	<cp:attachmentUpload
		model="#{require01MBean.othSetSettingViewComponents.trOsReplyUploadAttachCompant}"
		process=""
		uploadDialogWv="tros_reply_upload_Wv"
		uploadDialogId="tros_reply_upload_ID"
		update="">
	</cp:attachmentUpload>
</p:dialog>

<p:dialog
	header="回覆"
	id="tros_reply_dlg_id"
	widgetVar="tros_reply_dlg_wv"
	modal="true"
	closable="false"
	resizable="true"
	position="left top">
	<p:hotkey
		bind="esc"
		handler="PF('tros_reply_dlg_wv').hide();" />
	<p:panelGrid>
		<p:row>
			<p:column colspan="2">
				<p:outputLabel
					value="#{require01MBean.othSetSettingViewComponents.replyEditVO.loginDepName} -#{require01MBean.othSetSettingViewComponents.replyEditVO.loginUserName} "
					style="color:black;font-weight: bold" />
				&nbsp;
				<h:outputText
					value="#{require01MBean.othSetSettingViewComponents.replyEditVO.replyTime}"
					style="color:black;font-weight: bold">
				</h:outputText>
				&nbsp;
			</p:column>
		</p:row>
		<p:row style="vertical-align: top">
			<p:column colspan="1">
				<p:outputLabel value="內容：" />
			</p:column>
			<p:column colspan="1">
				<p:editor
					value="#{require01MBean.othSetSettingViewComponents.replyEditVO.content}"
					id="tros_reply_dlg_content_edit"
					converter="#{editorConverter}"
					controls="font size bold italic underline color highlight" 
					width="500"
					style="width:500px"/>
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="1">
				<p:outputLabel value="附加檔案：" />
			</p:column>
			<p:column colspan="1">
				<p:commandButton
					icon="fa fa-paperclip"
					value="附加檔案"
					onclick="showLoad();"
					process="@this"
					update="tros_reply_upload_ID"
					oncomplete="PF('tros_reply_upload_Wv').show();hideLoad();" />
			</p:column>
		</p:row>
	</p:panelGrid>
	<p:scrollPanel
		id="tros_reply_dlg_attach_view_id"
		mode="native"
		style="border:none;max-height:150px">
		<cp:attachmentMaintainView
			model="#{require01MBean.othSetSettingViewComponents.trOsReplyUploadAttachCompant}"></cp:attachmentMaintainView>
	</p:scrollPanel>
	<p:row>
		<p:commandButton
			value="確認"
			actionListener="#{require01MBean.othSetSettingViewComponents.saveReply()}"
			process="tros_reply_dlg_id @this"
			onclick="showLoad();"
			oncomplete="hideLoad();" />
		<p:commandButton
			value="取消"
			process="@this"
			onclick="PF('tros_reply_dlg_wv').hide();" />
	</p:row>
</p:dialog>

<p:dialog
	header="完成"
	id="tros_finish_dlg_id"
	widgetVar="tros_finish_dlg_wv"
	modal="true"
	closable="false"
	resizable="true"
	position="left top">
	<p:hotkey
		bind="esc"
		handler="PF('tros_finish_dlg_wv').hide();" />
	<p:panelGrid>
		<p:row>
			<p:column colspan="2">
				<p:outputLabel
					value="#{require01MBean.othSetSettingViewComponents.replyEditVO.loginDepName} -#{require01MBean.othSetSettingViewComponents.replyEditVO.loginUserName} "
					style="color:black;font-weight: bold" />
				&nbsp;
				<h:outputText
					value="#{require01MBean.othSetSettingViewComponents.replyEditVO.replyTime}"
					style="color:black;font-weight: bold">
				</h:outputText>
				&nbsp;
			</p:column>
		</p:row>
		<p:row style="vertical-align: top">
			<p:column colspan="1">
				<p:outputLabel value="回覆：" />
			</p:column>
			<p:column colspan="1">
				<p:editor
					value="#{require01MBean.othSetSettingViewComponents.replyEditVO.content}"
					id="tros_finish_dlg_content_edit"
					converter="#{editorConverter}"
					controls="font size bold italic underline color highlight" 
					width="500"
					style="width:500px"/>
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="1">
				<p:outputLabel value="附加檔案：" />
			</p:column>
			<p:column colspan="1">
				<p:commandButton
					icon="fa fa-paperclip"
					value="附加檔案"
					onclick="showLoad();"
					process="@this"
					update="tros_reply_upload_ID"
					oncomplete="PF('tros_reply_upload_Wv').show();hideLoad();" />
			</p:column>
		</p:row>
	</p:panelGrid>
	<p:scrollPanel
		id="tros_finish_dlg_attach_view_id"
		mode="native"
		style="border:none;max-height:150px">
		<cp:attachmentMaintainView
			model="#{require01MBean.othSetSettingViewComponents.trOsReplyUploadAttachCompant}"></cp:attachmentMaintainView>
	</p:scrollPanel>
	<p:row>
		<p:commandButton
			value="確認"
			actionListener="#{require01MBean.othSetSettingViewComponents.saveFinish(require01MBean)}"
			process="tros_finish_dlg_id @this"
			onclick="showLoad();"
			oncomplete="hideLoad();" />
		<p:commandButton
			value="取消"
			process="@this"
			onclick="PF('tros_finish_dlg_wv').hide();" />
	</p:row>
</p:dialog>

<p:dialog
	header="回覆"
	id="tros_reply_and_reply_dlg_id"
	widgetVar="tros_reply_and_reply_dlg_wv"
	modal="true"
	closable="false"
	resizable="true"
	position="left top">
	<p:hotkey
		bind="esc"
		handler="PF('tros_reply_and_reply_dlg_wv').hide();" />
	<p:panelGrid>
		<p:row>
			<p:column colspan="2">
				<p:outputLabel
					value="#{require01MBean.othSetSettingViewComponents.replyEditVO.loginDepName} -#{require01MBean.othSetSettingViewComponents.replyEditVO.loginUserName} "
					style="color:black;font-weight: bold" />
				&nbsp;
				<h:outputText
					value="#{require01MBean.othSetSettingViewComponents.replyEditVO.replyTime}"
					style="color:black;font-weight: bold">
				</h:outputText>
				&nbsp;
			</p:column>
		</p:row>
		<p:row style="vertical-align: top">
			<p:column colspan="1">
				<p:outputLabel value="回覆：" />
			</p:column>
			<p:column colspan="1">
				<p:editor
					value="#{require01MBean.othSetSettingViewComponents.replyEditVO.content}"
					converter="#{editorConverter}"
					id="tros_reply_and_reply_dlg_content_edit"
					controls="font size bold italic underline color highlight"
					width="500"
					style="width:500px" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="1">
				<p:outputLabel value="附加檔案：" />
			</p:column>
			<p:column colspan="1">
				<p:commandButton
					icon="fa fa-paperclip"
					value="附加檔案"
					onclick="showLoad();"
					process="@this"
					update="tros_reply_upload_ID"
					oncomplete="PF('tros_reply_upload_Wv').show();hideLoad();" />
			</p:column>
		</p:row>
	</p:panelGrid>
	<p:scrollPanel
		id="tros_reply_and_reply_dlg_attach_view_id"
		mode="native"
		style="border:none;max-height:150px">
		<cp:attachmentMaintainView
			model="#{require01MBean.othSetSettingViewComponents.trOsReplyUploadAttachCompant}"></cp:attachmentMaintainView>
	</p:scrollPanel>
	<p:row>
		<p:commandButton
			value="確認"
			actionListener="#{require01MBean.othSetSettingViewComponents.saveReplyAndReply()}"
			process="tros_reply_and_reply_dlg_id @this"
			onclick="showLoad();"
			oncomplete="hideLoad();" />
		<p:commandButton
			value="取消"
			process="@this"
			onclick="PF('tros_reply_and_reply_dlg_wv').hide();" />
	</p:row>
</p:dialog>

<p:dialog
	header="附加檔案"
	id="tros_history_attach_dlg_id"
	position="right top"
	modal="true"
	widgetVar="tros_history_attach_dlg_wv"
	closable="false"
	resizable="false">
	<p:hotkey
		bind="esc"
		handler="PF('tros_history_attach_dlg_wv').hide();" />
	<p:scrollPanel
		mode="native"
		style="border:none;height:500px">
		<cp:attachmentMaintain
			deleteWv="attachmentMaintain_othSet_history_delete_wv"
			showUploadBtn="false"
			id="attachmentMaintain_othSet_history_panel"
			model="#{require01MBean.othSetSettingViewComponents.trOsReplyAttachMaintainCompant}"
			uploadModel=""
			ath_servlet_package="com.cy.tech.request.web.attachment.TrOsAttachServlet"
			web_servlet_name="TrOsAttachServlet">

		</cp:attachmentMaintain>
	</p:scrollPanel>
	<p:row>
		<p:commandButton
			value="關閉"
			onclick="PF('tros_history_attach_dlg_wv').hide();" />
	</p:row>
</p:dialog>

<p:dialog
	header="確認"
	widgetVar="attachmentMaintain_othSet_history_delete_wv"
	appendTo="formTemplate"
	modal="true"
	resizable="false">
	<p:panelGrid columns="1">
		<h:outputText
			escape="false"
			value="是否刪除此附件(#{require01MBean.othSetSettingViewComponents.trOsReplyAttachMaintainCompant.selDelAtt.attName})" />
	</p:panelGrid>
	<p:panelGrid columns="2">
		<p:commandButton
			value="確定"
			onclick="showLoad();"
			process="@this"
			update="@(.attach_maitntain_view_class)"
			actionListener="#{require01MBean.othSetSettingViewComponents.trOsReplyAttachMaintainCompant.deleteAtt()}"
			oncomplete="hideLoad();PF('attachmentMaintain_othSet_history_delete_wv').hide()" />
		<p:commandButton
			value="取消"
			oncomplete="PF('attachmentMaintain_othSet_history_delete_wv').hide();"
			process="@this" />
	</p:panelGrid>
</p:dialog>


<p:dialog
	header="取消"
	id="tros_cancel_dlg_id"
	widgetVar="tros_cancel_dlg_wv"
	modal="true"
	closable="false"
	resizable="true"
	position="left top">
	<p:hotkey
		bind="esc"
		handler="PF('tros_cancel_dlg_wv').hide();" />
	<p:panelGrid>
		<p:row>
			<p:column colspan="2">
				<p:outputLabel
					value="#{require01MBean.othSetSettingViewComponents.replyEditVO.loginDepName} -#{require01MBean.othSetSettingViewComponents.replyEditVO.loginUserName} "
					style="color:black;font-weight: bold" />
				&nbsp;
				<h:outputText
					value="#{require01MBean.othSetSettingViewComponents.replyEditVO.replyTime}"
					style="color:black;font-weight: bold">
				</h:outputText>
				&nbsp;
			</p:column>
		</p:row>
		<p:row style="vertical-align: top">
			<p:column colspan="1">
				<p:outputLabel value="取消原因：" />
			</p:column>
			<p:column colspan="1">
				<p:editor
					value="#{require01MBean.othSetSettingViewComponents.replyEditVO.content}"
					id="tros_cancel_dlg_content_edit"
					converter="#{editorConverter}"
					controls="font size bold italic underline color highlight" 
					width="500"
					style="width:500px"/>
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="1">
				<p:outputLabel value="附加檔案：" />
			</p:column>
			<p:column colspan="1">
				<p:commandButton
					icon="fa fa-paperclip"
					value="附加檔案"
					onclick="showLoad();"
					process="@this"
					update="tros_reply_upload_ID"
					oncomplete="PF('tros_reply_upload_Wv').show();hideLoad();" />
			</p:column>
		</p:row>
	</p:panelGrid>
	<p:scrollPanel
		id="tros_cancel_dlg_attach_view_id"
		mode="native"
		style="border:none;max-height:150px">
		<cp:attachmentMaintainView
			model="#{require01MBean.othSetSettingViewComponents.trOsReplyUploadAttachCompant}"></cp:attachmentMaintainView>
	</p:scrollPanel>
	<p:row>
		<p:commandButton
			value="確認"
			actionListener="#{require01MBean.othSetSettingViewComponents.saveCancel()}"
			process="tros_cancel_dlg_id @this"
			onclick="showLoad();"
			oncomplete="hideLoad();" />
		<p:commandButton
			value="取消"
			process="@this"
			onclick="PF('tros_cancel_dlg_wv').hide();" />
	</p:row>
</p:dialog>

<!-- 檢查記錄 -->
<p:dialog
	header="回覆"
	id="othset_reply_dlg_id"
	widgetVar="othset_reply_dlg_wv"
	modal="true"
	closable="false"
	resizable="true"
	position="left top">
	<p:hotkey
		bind="esc"
		handler="PF('othset_reply_dlg_wv').hide();" />
	<c:set
		value="#{require01MBean.othSetBottomMBean.editReply}"
		var="editReply" />
	<p:panelGrid>
		<p:row>
			<p:column colspan="2">
				<p:outputLabel
					value="#{require01MBean.findConfirmExecName(editReply.person)}"
					style="color:black;font-weight: bold" />
				&nbsp;
				<h:outputText
					value="#{editReply.date}"
					style="color:black;font-weight: bold">
					<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
				</h:outputText>
				&nbsp;
			</p:column>
		</p:row>
		<p:row style="vertical-align: top">
			<p:column colspan="1">
				<p:outputLabel value="內容：" />
			</p:column>
			<p:column colspan="1">
				<p:editor
					value="#{editReply.contentCss}"
					converter="#{editorConverter}"
					id="othset_reply_dlg_content_edit"
					controls="font size bold italic underline color highlight" 
					width="500"
					style="width:500px"/>
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="1">
				<p:outputLabel value="附加檔案：" />
			</p:column>
			<p:column colspan="1">
				<p:commandButton
					icon="fa fa-paperclip"
					value="附加檔案"
					onclick="showLoad();"
					process="@this"
					actionListener="#{attachDlgMBean.openUploadDlg(
                                                       require01MBean.othSetHistoryAttachMBean,
                                                       editReply.history,
                                                       require01MBean.require.mapping.middle.singleUploadLimited,
                                                       'othset_reply_dlg_attach_view_id'
                                                       )}"
					update="@widgetVar(attach_upload_dlg_wv)"
					oncomplete="PF('attach_upload_dlg_wv').show();hideLoad();" />
			</p:column>
		</p:row>
	</p:panelGrid>
	<p:scrollPanel
		id="othset_reply_dlg_attach_view_id"
		mode="native"
		style="border:none;max-height:150px"
		rendered="#{empty editReply.sid}">
		<cp:attachmentView
			model="#{require01MBean.othSetHistoryAttachMBean}"
			attach_depend_entity="#{editReply.history}"
			show_fun="#{false}"
			ath_service_name="OthSetHistoryAttachService" />
	</p:scrollPanel>
	<p:row>
		<p:commandButton
			value="確認"
			onclick="showLoad();"
			process="@this othset_reply_dlg_id"
			actionListener="#{require01MBean.othSetBottomMBean.clickSaveReply()}"
			update=":formTemplate:viewPanelBottomInfoTabId"
			oncomplete="hideLoad();
                             accPanelSelectTab('os_acc_panel_layer_zero',#{require01MBean.othSetBottomMBean.othsets.indexOf(editReply.othset)});" />
		<p:commandButton
			value="取消"
			onclick="showLoad();"
			process="@this othset_reply_dlg_id"
			actionListener="#{require01MBean.othSetBottomMBean.cancelEditReply()}"
			update=":formTemplate:viewPanelBottomInfoTabId"
			oncomplete="hideLoad();PF('othset_reply_dlg_wv').hide();
                             accPanelSelectTab('os_acc_panel_layer_zero',#{require01MBean.othSetBottomMBean.othsets.indexOf(editReply.othset)});" />
	</p:row>
</p:dialog>
<!-- 回覆該則回覆(新增) -->
<p:dialog
	header="回覆"
	id="othset_already_reply_dlg_id"
	widgetVar="othset_already_reply_dlg_wv"
	modal="true"
	closable="false"
	resizable="true"
	position="left top">
	<p:hotkey
		bind="esc"
		handler="PF('othset_already_reply_dlg_wv').hide();" />
	<c:set
		value="#{require01MBean.othSetBottomMBean}"
		var="stBottomMbean" />
	<c:set
		value="#{require01MBean.othSetBottomMBean.editAlreadyReply}"
		var="editAlreadyReply" />
	<p:panelGrid>
		<p:row>
			<p:column colspan="2">
				<p:outputLabel
					value="#{require01MBean.findConfirmExecName(editAlreadyReply.person)}"
					style="color:black;font-weight: bold" />
				&nbsp;
				<h:outputText
					value="#{editAlreadyReply.date}"
					style="color:black;font-weight: bold">
					<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
				</h:outputText>
				&nbsp;
			</p:column>
		</p:row>
		<p:row style="vertical-align: top">
			<p:column colspan="1">
				<p:outputLabel value="回覆：" />
			</p:column>
			<p:column colspan="1">
				<p:editor
					value="#{editAlreadyReply.contentCss}"
					converter="#{editorConverter}"
					id="othset_already_reply_dlg_edit"
					controls="font size bold italic underline color highlight"
					width="500"
					style="width:500px" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="1">
				<p:outputLabel value="附加檔案：" />
			</p:column>
			<p:column colspan="1">
				<p:commandButton
					icon="fa fa-paperclip"
					value="附加檔案"
					onclick="showLoad();"
					process="@this"
					actionListener="#{attachDlgMBean.openUploadDlg(
                                                       require01MBean.othSetHistoryAttachMBean,
                                                       editAlreadyReply.history,
                                                       require01MBean.require.mapping.middle.singleUploadLimited,
                                                       'othset_already_reply_dlg_attach_view_id'
                                                       )}"
					update="@widgetVar(attach_upload_dlg_wv)"
					oncomplete="PF('attach_upload_dlg_wv').show();hideLoad();" />
			</p:column>
		</p:row>
	</p:panelGrid>
	<p:scrollPanel
		id="othset_already_reply_dlg_attach_view_id"
		mode="native"
		style="border:none;max-height:150px"
		rendered="#{empty editAlreadyReply.sid}">
		<cp:attachmentView
			model="#{require01MBean.othSetHistoryAttachMBean}"
			attach_depend_entity="#{editAlreadyReply.history}"
			show_fun="#{false}"
			ath_service_name="OthSetHistoryAttachService" />
	</p:scrollPanel>
	<p:row>
		<p:commandButton
			value="確認"
			onclick="showLoad();"
			actionListener="#{stBottomMbean.clickSaveAlreadyReply()}"
			process="@this othset_already_reply_dlg_id"
			update=":formTemplate:viewPanelBottomInfoTabId"
			oncomplete="hideLoad();
                             accPanelSelectTab('os_acc_panel_layer_zero',#{require01MBean.othSetBottomMBean.othsets.indexOf(editAlreadyReply.history.othset)});" />
		<p:commandButton
			value="取消"
			onclick="showLoad();"
			process="@this othset_already_reply_dlg_id"
			actionListener="#{stBottomMbean.cancelEditAlreadyReply()}"
			update=":formTemplate:viewPanelBottomInfoTabId"
			oncomplete="hideLoad();PF('othset_already_reply_dlg_wv').hide();
                             accPanelSelectTab('os_acc_panel_layer_zero',#{require01MBean.othSetBottomMBean.othsets.indexOf(editAlreadyReply.history.othset)});" />
	</p:row>
</p:dialog>

<!-- 取消 -->
<p:dialog
	header="取消"
	id="othset_cancel_dlg_id"
	position="left top"
	modal="true"
	widgetVar="othset_cancel_dlg_wv"
	closable="false"
	resizable="true">
	<p:hotkey
		bind="esc"
		handler="PF('othset_cancel_dlg_wv').hide();" />
	<c:set
		value="#{require01MBean.othSetBottomMBean.editHistory}"
		var="editHistory" />
	<p:panelGrid>
		<p:row>
			<p:column colspan="2">
				<p:outputLabel
					value="#{require01MBean.findConfirmExecName(editHistory.createdUser)}"
					style="color:black;font-weight: bold" />
				&nbsp;
				<h:outputText
					value="#{editHistory.createdDate}"
					style="color:black;font-weight: bold">
					<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
				</h:outputText>
				&nbsp;
			</p:column>
		</p:row>
		<p:row style="vertical-align: top">
			<p:column colspan="1">
				<p:outputLabel value="取消原因：" />
			</p:column>
			<p:column colspan="1">
				<p:editor
					id="othset_cancel_dlg_edit"
					value="#{editHistory.inputInfoCss}"
					converter="#{editorConverter}"
					controls="font size bold italic underline color highlight" 
					width="500"
					style="width:500px"/>
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="1">
				<p:outputLabel value="附加檔案：" />
			</p:column>
			<p:column colspan="1">
				<p:commandButton
					icon="fa fa-paperclip"
					value="附加檔案"
					onclick="showLoad();"
					process="@this"
					actionListener="#{attachDlgMBean.openUploadDlg(
                                                       require01MBean.othSetHistoryAttachMBean,
                                                       editHistory,
                                                       require01MBean.require.mapping.middle.singleUploadLimited,
                                                       'othset_cancel_dlg_attach_view_id'
                                                       )}"
					update="@widgetVar(attach_upload_dlg_wv)"
					oncomplete="PF('attach_upload_dlg_wv').show();hideLoad();" />
			</p:column>
		</p:row>
	</p:panelGrid>
	<p:scrollPanel
		id="othset_cancel_dlg_attach_view_id"
		mode="native"
		style="border:none;max-height:150px"
		rendered="#{empty editHistory.sid}">
		<cp:attachmentView
			model="#{require01MBean.othSetHistoryAttachMBean}"
			attach_depend_entity="#{editHistory}"
			show_fun="#{false}"
			ath_service_name="OthSetHistoryAttachService" />
	</p:scrollPanel>
	<p:row>
		<p:commandButton
			value="確認"
			onclick="showLoad();"
			process="@this othset_cancel_dlg_id"
			actionListener="#{require01MBean.othSetBottomMBean.clickSaveCancelHistory()}"
			update=":formTemplate:viewPanelBottomInfoTabId"
			oncomplete="hideLoad();
                             accPanelSelectTab('os_acc_panel_layer_zero',#{require01MBean.othSetBottomMBean.othsets.indexOf(editHistory.othset)});" />
		<p:commandButton
			value="取消"
			onclick="showLoad();"
			process="@this"
			update=":formTemplate:viewPanelBottomInfoTabId"
			oncomplete="hideLoad();PF('othset_cancel_dlg_wv').hide();
                             accPanelSelectTab('os_acc_panel_layer_zero',#{require01MBean.othSetBottomMBean.othsets.indexOf(editHistory.othset)});" />
	</p:row>
</p:dialog>

<!-- 完成 -->
<p:dialog
	header="完成"
	id="othset_complete_dlg_id"
	position="left top"
	modal="true"
	widgetVar="othset_complete_dlg_wv"
	closable="false"
	resizable="true">
	<p:hotkey
		bind="esc"
		handler="PF('othset_complete_dlg_wv').hide();" />
	<c:set
		value="#{require01MBean.othSetBottomMBean.editHistory}"
		var="editHistory" />
	<p:panelGrid>
		<p:row>
			<p:column colspan="2">
				<p:outputLabel
					value="#{require01MBean.findConfirmExecName(editHistory.createdUser)}"
					style="color:black;font-weight: bold" />
				&nbsp;
				<h:outputText
					value="#{editHistory.createdDate}"
					style="color:black;font-weight: bold">
					<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
				</h:outputText>
				&nbsp;
			</p:column>
		</p:row>
		<p:row style="vertical-align: top">
			<p:column colspan="1">
				<p:outputLabel value="回覆：" />
			</p:column>
			<p:column colspan="1">
				<p:editor
					value="#{editHistory.inputInfoCss}"
					id="othset_complete_dlg_edit"
					converter="#{editorConverter}"
					controls="font size bold italic underline color highlight" 
					width="500"
					style="width:500px"/>
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="1">
				<p:outputLabel value="附加檔案：" />
			</p:column>
			<p:column colspan="1">
				<p:commandButton
					icon="fa fa-paperclip"
					value="附加檔案"
					onclick="showLoad();"
					process="@this"
					actionListener="#{attachDlgMBean.openUploadDlg(
                                                       require01MBean.othSetHistoryAttachMBean,
                                                       editHistory,
                                                       require01MBean.require.mapping.middle.singleUploadLimited,
                                                       'othset_complete_dlg_attach_view_id'
                                                       )}"
					update="@widgetVar(attach_upload_dlg_wv)"
					oncomplete="PF('attach_upload_dlg_wv').show();hideLoad();" />
			</p:column>
		</p:row>
	</p:panelGrid>
	<p:scrollPanel
		id="othset_complete_dlg_attach_view_id"
		mode="native"
		style="border:none;max-height:150px"
		rendered="#{empty editHistory.sid}">
		<cp:attachmentView
			model="#{require01MBean.othSetHistoryAttachMBean}"
			attach_depend_entity="#{editHistory}"
			show_fun="#{false}"
			ath_service_name="OthSetHistoryAttachService" />
	</p:scrollPanel>
	<p:row>
		<p:commandButton
			value="確認"
			onclick="showLoad();"
			process="@this othset_complete_dlg_id"
			actionListener="#{require01MBean.othSetBottomMBean.clickSaveCompleteHistory(require01MBean)}"
			update="require01_title_info_id title_info_click_btn_id :formTemplate:viewPanelBottomInfoTabId"
			oncomplete="hideLoad();
                             accPanelSelectTab('os_acc_panel_layer_zero',#{require01MBean.othSetBottomMBean.othsets.indexOf(editHistory.othset)});" />
		<p:commandButton
			value="取消"
			process="@this"
			onclick="showLoad();"
			update="require01_title_info_id title_info_click_btn_id :formTemplate:viewPanelBottomInfoTabId"
			oncomplete="hideLoad();PF('othset_complete_dlg_wv').hide();
                             accPanelSelectTab('os_acc_panel_layer_zero',#{require01MBean.othSetBottomMBean.othsets.indexOf(editHistory.othset)});" />
	</p:row>
</p:dialog>

<!-- 歷程附加檔案顯示 -->
<p:dialog
	header="附加檔案"
	id="othset_history_attach_dlg_id"
	position="right top"
	modal="true"
	widgetVar="othset_history_attach_dlg_wv"
	closable="false"
	resizable="false">
	<p:hotkey
		bind="esc"
		handler="PF('othset_history_attach_dlg_wv').hide();" />
	<c:set
		value="#{require01MBean.othSetBottomMBean.editHistory}"
		var="editHistory" />
	<c:set
		value="#{require01MBean.othSetBottomMBean.findOthsets(r01MBean).indexOf(editHistory.othset)}"
		var="othsetIdx" />
	<p:scrollPanel
		mode="native"
		style="border:none;height:500px">
		<cp:attachmentView
			model="#{require01MBean.othSetHistoryAttachMBean}"
			req_bean="#{require01MBean}"
			attach_depend_entity="#{editHistory}"
			off_all_btn="#{require01MBean.require.closeCode}"
			ath_service_name="OthSetHistoryAttachService"
			delete_upd=":formTemplate:viewPanelBottomInfoTabId"
			delete_js="closeAllTab('os_acc_panel_layer_zero', 'os_acc_panel_layer_zero');PF('os_acc_panel_layer_zero').select(#{othsetIdx});"
			ath_view_wv="othset_history_attach_dlg_wv" />
	</p:scrollPanel>
	<p:row>
		<p:commandButton
			value="關閉"
			onclick="PF('othset_history_attach_dlg_wv').hide();"
			update=":formTemplate:viewPanelBottomInfoTabId" />
	</p:row>
</p:dialog>
</html>

