<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cp="http://java.sun.com/jsf/composite/components"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:include src="../template/resize_js.xhtml"/>

    <p:accordionPanel value="#{othSetSettingViewComponents.othSetSettingVOs}"
                      var="ositem"
                      multiple="true"
                      dynamic="false"
                      id="os_acc_panel_layer_zero"
                      widgetVar="os_acc_panel_layer_zero"
                      activeIndex="-1"
                      >
        <p:tab>
            <f:facet name="title">
                <p:outputLabel value="其它設定資訊#{ositem.info}：#{ositem.createUserDepName} － #{ositem.createUserName}" /> &nbsp;&nbsp;
                <h:outputText value="#{ositem.createTime}">
                </h:outputText>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <p:outputLabel value="其它設定資訊狀態：#{ositem.processStatus}"/> &nbsp;&nbsp;

                <p:outputLabel value="取消日期：" rendered="#{ositem.showCancelTime}"/>
                <h:outputText value="#{ositem.cancelTime}" rendered="#{ositem.showCancelTime}">
                </h:outputText>
                <p:outputLabel value="完成日期：" rendered="#{ositem.showFinishTime}"/>
                <h:outputText value="#{ositem.finishTime}" rendered="#{ositem.showFinishTime}">
                </h:outputText>
                <p/>
                <p:outputLabel value="主題：#{ositem.title}" />
            </f:facet>
            <!-- 功能清單 -->
            <p:panelGrid columns="10" style="width:100%">
                <p:outputPanel>
                    <p:commandButton value="編輯"
                                     disabled="#{ositem.disableEdit}"
                                     onclick="showLoad();"
                                     process="@this"
                                     actionListener="#{osSetMBean.initByEdit(ositem.os_no)}"
                                     update="othset_setting_dlg_id"
                                     oncomplete="hideLoad();initReinstatedMuliDlg('othset_setting_dlg_id','othset_setting_dlg_content_edit','othset_setting_dlg_desc_edit',158,220);"/>
                    <p:commandButton value="回覆" process="@this" 
                                     update="tros_reply_dlg_id"
                                     disabled="#{ositem.disableReply}"
                                     actionListener="#{ositem.addReply}" 
                                     onclick="showLoad();"   
                                     oncomplete="hideLoad();PF('tros_reply_dlg_wv').show();initReinstatedDlg('tros_reply_dlg_id','tros_reply_dlg_content_edit',150,170);" /> 
                    <p:commandButton value="取消"  process="@this"
                                     update="tros_cancel_dlg_id"
                                     disabled="#{ositem.disableCancel}"
                                     actionListener="#{ositem.addCancel}" 
                                     onclick="showLoad();"   
                                     oncomplete="hideLoad();PF('tros_cancel_dlg_wv').show();initReinstatedDlg('tros_cancel_dlg_id','tros_cancel_dlg_content_edit',150,170);"/>
                    <p:commandButton value="完成"  process="@this"
                                     update="tros_finish_dlg_id"
                                     disabled="#{ositem.disableFinish}"
                                     actionListener="#{ositem.addFinish}" 
                                     onclick="showLoad();"   
                                     oncomplete="hideLoad();PF('tros_finish_dlg_wv').show();initReinstatedDlg('tros_finish_dlg_id','tros_finish_dlg_content_edit',150,170);"/>
                    <!--dlg 在 require_bottom_info.xhtml-->
                    <p:commandButton value="通知資訊異動紀錄" 
                                     actionListener="#{osSetMBean.btnLoadSubNoticeInfo(reqMBean,ositem)}"
                                     onclick="showLoad();"
                                     oncomplete="hideLoad()"
                                     process="@this"/>
                </p:outputPanel>
                <p:outputPanel class="alignRight">
                    <p:commandButton 
                        icon="fa fa-expand"
                        title="展開"
                        rendered="#{ositem.showExpandAndCompressBtn}" 
                        onclick="expendWidget('os_acc_panel_layer_one_#{ositem.sid}', #{ositem.historyVOs.size()});"
                        />
                    <p:commandButton 
                        icon="fa fa-compress"
                        title="折疊"
                        rendered="#{ositem.showExpandAndCompressBtn}" 
                        onclick="foldWidget('os_acc_panel_layer_one_#{ositem.sid}', #{ositem.historyVOs.size()});"

                        />
                </p:outputPanel>
            </p:panelGrid>

            <p:panelGrid style=" width: 100%; max-height:600px">
                <p:row style="vertical-align: top;">
                    <!-- 左側資訊 -->
                    <p:column colspan="1" style="width:50%">
                        <p:panelGrid>
                            <p:row style="vertical-align: top;">
                                <p:column colspan="1" >
                                    <p:outputPanel style="text-align: center; padding: 5px; border:  green 3px outset;width: 30px; ">
                                        <p:outputLabel value="通知" class="stLeftColumnTitleStyle"/><br/>
                                        <p:outputLabel value="單位" class="stLeftColumnTitleStyle"/>                                          
                                    </p:outputPanel>
                                </p:column>      
                                <p:column colspan="1" >
                                    <p:inputText style="word-wrap: break-word;word-break: normal;width: 650px;" 
                                                 readonly="true" value="#{ositem.showNotifiyDepsTitle}" 
                                                 class="autoSkip"/>
                                    <p:overlayPanel for="@previous" showEffect="blind" hideEffect="blind" >
                                        <p:dataTable var="var" style="width:630px;" rows="20" paginator="true"
                                                     value="#{ositem.notifyDepNames}" >
                                            <p:column filterMatchMode="contains" filterBy="#{var}">
                                                <p:outputLabel value="#{var}"/>
                                            </p:column>
                                        </p:dataTable> 
                                    </p:overlayPanel>    

                                </p:column>                                  
                            </p:row>
                            <p:row style="vertical-align: top;">
                                <p:column colspan="1" >
                                    <p:outputPanel style="text-align: center; padding: 5px; border:  red 3px outset;width: 30px; ">
                                        <p:outputLabel value="主題"/>
                                    </p:outputPanel>                            
                                </p:column> 
                                <p:column colspan="1" >
                                    <p:inputText style="word-wrap: break-word;word-break: normal;width: 650px;"
                                                 readonly="true" value="#{ositem.title}" />
                                    <p:overlayPanel for="@previous" showEffect="blind" showEvent="mouseover" hideEvent="mouseout" style="width:650px;">
                                        <p:outputLabel value="#{ositem.title}"/>
                                    </p:overlayPanel>                                        
                                </p:column>
                            </p:row>
                            <p:row style="vertical-align: top;">
                                <p:column colspan="1" >
                                    <p:outputPanel style="text-align: center; padding: 5px; border:  yellow 3px outset;width: 30px; ">
                                        <p:outputLabel value="內容" />
                                    </p:outputPanel>
                                </p:column>
                                <p:column colspan="1" >
                                    <p:scrollPanel mode="native" style="height:250px;width:650px;padding:  5px 5px 5px 5px;">
                                        <p:outputLabel style="word-wrap: break-word;word-break: normal;width:630px;"
                                                       value="#{cssBean.warp(ositem.content)}"
                                                       escape="false"/>
                                    </p:scrollPanel>
                                </p:column>
                            </p:row>
                            <p:row style="vertical-align: top;">
                                <p:column colspan="1" >
                                    <p:outputPanel style="text-align: center; padding: 5px; border:  yellow 3px outset;width: 30px; ">
                                        <p:outputLabel value="備註"/>
                                    </p:outputPanel>                                   
                                </p:column>
                                <p:column colspan="1" >
                                    <p:scrollPanel mode="native" style="height:100px;width:650px;padding:  5px 5px 5px 5px;">
                                        <p:outputLabel style="word-wrap: break-word;word-break: normal;width:630px;"
                                                       value="#{cssBean.warp(ositem.remark)}"
                                                       escape="false"/>
                                    </p:scrollPanel>
                                </p:column>
                            </p:row>
                            <p:row style="vertical-align: top;">

                                <p:column colspan="2" >

                                    <cp:attachmentMaintain deleteWv="attachmentMaintain_othSet_delete_wv"  
                                                           showUploadBtn="true" id="attachmentMaintain_othSet_#{ositem.sid}"  
                                                           model="#{ositem.trOsAttachMaintainCompant}" 
                                                           uploadModel="#{ositem.trOsUploadAttachCompant}" 
                                                           ath_servlet_package="com.cy.tech.request.web.attachment.TrOsAttachServlet" web_servlet_name="TrOsAttachServlet" >

                                    </cp:attachmentMaintain>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <!-- 右側資訊 - 歷程 (OthSetHistory)-->
                    <p:column colspan="1"  style="width:50%;" >
                        <p:scrollPanel mode="native" style="width:100%;border:none;max-height:500px;">
                            <p:accordionPanel
                                id="os_acc_panel_layer_one_#{ositem.sid}"
                                widgetVar="os_acc_panel_layer_one_#{ositem.sid}"
                                multiple ="true"
                                value="#{ositem.historyVOs}"
                                var="historyXX"
                                >
                                <p:tab>
                                    <p:scrollPanel mode="native" style="border:none; max-height:500px; max-width:550px; margin-left: -10px; margin-right:-18px;">
                                        <p:outputPanel style="word-wrap: break-word">
                                            <p:outputLabel style="word-wrap: break-word;word-break: normal;"
                                                           value="#{historyXX.getContent()}"
                                                           styleClass="removeMargin"
                                                           escape="false"/>
                                        </p:outputPanel>
                                    </p:scrollPanel>
                                    <f:facet name="title">
                                        <p:outputLabel value="#{historyXX.createUserName}" 
                                                       style="font-weight: bold"/>&nbsp;
                                        <h:outputText value="#{historyXX.lastModifyTime}"
                                                      style="font-weight: bold">
                                        </h:outputText>

                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <p:outputLabel  value="#{historyXX.behavior}"/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <p:commandButton icon="fa fa-pencil"
                                                         title="編輯此則回覆訊息" 
                                                         class="btnAccPanelIcon"
                                                         rendered="#{historyXX.showModifyBtn}"
                                                         process="@this"
                                                         update="tros_reply_dlg_id"
                                                         onclick="showLoad();"   
                                                         oncomplete="hideLoad();PF('tros_reply_dlg_wv').show();initReinstatedDlg('tros_reply_dlg_id','tros_reply_dlg_content_edit',150,170);" 
                                                         actionListener="#{historyXX.modifyReply}"
                                                         />
                                        <p:commandButton icon="fa fa-comments-o"
                                                         title="回覆此則回覆訊息"
                                                         class="btnAccPanelIcon"
                                                         rendered="#{historyXX.showReplyAndReplyBtn}"
                                                         process="@this" 
                                                         update="tros_reply_and_reply_dlg_id"
                                                         actionListener="#{historyXX.addReplyAndReply}" 
                                                         onclick="showLoad();"   
                                                         oncomplete="hideLoad();PF('tros_reply_and_reply_dlg_wv').show();initReinstatedDlg('tros_reply_and_reply_dlg_id','tros_reply_and_reply_dlg_content_edit',150,170);"

                                                         />
                                        <p:commandButton icon="fa fa-paperclip" 
                                                         title="附加檔案" 
                                                         class="btnAccPanelIcon"
                                                         rendered="#{historyXX.showAttachmentBtn}"
                                                         onsuccess="PF('os_acc_panel_layer_one_#{ositem.sid}').select('#{historyXX.index}');"
                                                         process="@this"
                                                         onclick="showLoad();"  
                                                         update="tros_history_attach_dlg_id"
                                                         oncomplete="hideLoad();PF('tros_history_attach_dlg_wv').show();" 
                                                         actionListener="#{historyXX.maintainAtt}"
                                                         />
                                        <p:commandButton icon="fa fa-expand" 
                                                         title="展開" 
                                                         class="btnAccPanelIcon"
                                                         onclick="expendWidget('os_acc_panel_layer_two_#{historyXX.historySid}', #{historyXX.subReplyVO.size()});"
                                                         rendered="#{historyXX.showExpandAndCompress}"
                                                         onsuccess="PF('os_acc_panel_layer_one_#{ositem.sid}').select('#{historyXX.index}');"
                                                         />
                                        <p:commandButton icon="fa fa-compress" 
                                                         title="折疊" 
                                                         class="btnAccPanelIcon"
                                                         onclick="foldWidget('os_acc_panel_layer_two_#{historyXX.historySid}', #{historyXX.subReplyVO.size()});"
                                                         rendered="#{historyXX.showExpandAndCompress}"
                                                         onsuccess="PF('os_acc_panel_layer_one_#{ositem.sid}').select('#{historyXX.index}');"
                                                         />
                                    </f:facet>
                                    
                                    <!-- 已回覆 需判斷是否有資訊 歷史或是回覆-->
                                    <p:accordionPanel 
                                        value="#{historyXX.subReplyVO}" 
                                        id="os_acc_panel_layer_two_#{historyXX.historySid}"
                                        widgetVar="os_acc_panel_layer_two_#{historyXX.historySid}"
                                        multiple ="true" 
                                        style="padding:.2em .0em .2em 1.5em"
                                        var="alreadyReplyXX" 
                                        >
                                        <p:tab>
                                            <f:facet name="title">
                                                <p:outputLabel value="#{alreadyReplyXX.createUserName}" 
                                                               style="font-weight: bold"/>&nbsp;
                                                <h:outputText value="#{alreadyReplyXX.lastModifyTime}"
                                                              style="font-weight: bold">
                                                </h:outputText>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <p:commandButton icon="fa fa-pencil" 
                                                                 title="編輯此則回覆訊息" 
                                                                 class="btnAccPanelIcon"
                                                                 rendered="#{alreadyReplyXX.showModifyBtn}"
                                                                 process="@this"  
                                                                 disabled="#{alreadyReplyXX.disableModifyBtn}"
                                                                 update="tros_reply_and_reply_dlg_id"
                                                                 actionListener="#{alreadyReplyXX.modifyReplyAndReply}" 
                                                                 onclick="showLoad();"   
                                                                 oncomplete="hideLoad();PF('tros_reply_and_reply_dlg_wv').show();initReinstatedDlg('tros_reply_and_reply_dlg_id','tros_reply_and_reply_dlg_content_edit',150,170);"

                                                                 />
                                                <p:commandButton icon="fa fa-paperclip" 
                                                                 title="附加檔案" 
                                                                 class="btnAccPanelIcon"
                                                                 rendered="#{alreadyReplyXX.showAttachmentBtn}"
                                                                 process="@this"
                                                                 onclick="showLoad();"  
                                                                 onsuccess="PF('os_acc_panel_layer_two_#{alreadyReplyXX.historySid}').select('#{alreadyReplyXX.index}');"
                                                                 update="tros_history_attach_dlg_id"
                                                                 oncomplete="hideLoad();PF('tros_history_attach_dlg_wv').show();" 
                                                                 actionListener="#{alreadyReplyXX.maintainAtt}"
                                                                 />
                                            </f:facet>
                                            <p:scrollPanel mode="native" style=" border:none; max-height:500px; max-width:550px; margin-left: -10px; margin-right:-18px;">
                                                <p:outputPanel style="word-wrap: break-word">
                                                    <p:outputLabel style="word-wrap: break-word;word-break: normal;"
                                                                   value="#{alreadyReplyXX.content}"  
                                                                   styleClass="removeMargin"
                                                                   escape="false"/>
                                                </p:outputPanel>
                                            </p:scrollPanel>
                                        </p:tab>
                                    </p:accordionPanel>
                                </p:tab>
                            </p:accordionPanel>
                        </p:scrollPanel>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:tab>
    </p:accordionPanel>
    <p:dialog widgetVar="tros_upload_Wv" id="tros_upload_ID"
              header="上傳檔案"
              width="1000"
              height="540"
              modal="true"
              resizable="false"
              appendTo="formTemplate"  
              closable="true">
        <cp:attachmentUpload model="#{othSetSettingViewComponents.trOsUploadAttachCompant}" process="" uploadDialogWv="tros_upload_Wv" uploadDialogId="tros_upload_ID" update="" >
        </cp:attachmentUpload>
    </p:dialog>

    <p:dialog header="確認" widgetVar="attachmentMaintain_othSet_delete_wv"    appendTo="formTemplate"    id="attach_del_confirm_id" modal="true" resizable="false">
        <p:panelGrid columns="1">
            <h:outputText escape="false" value="是否刪除此附件(#{othSetSettingViewComponents.selAttachMaintainCompant.selDelAtt.attName})" />
        </p:panelGrid>
        <p:panelGrid columns="2">
            <p:commandButton value="確定"
                             onclick="showLoad();"
                             process="@this" update="@(.attach_maitntain_view_class)"
                             actionListener="#{othSetSettingViewComponents.deleteTrOsAtt()}"
                             oncomplete="hideLoad();PF('attachmentMaintain_othSet_delete_wv').hide()"
                             />
            <p:commandButton value="取消" oncomplete="PF('attachmentMaintain_othSet_delete_wv').hide();" process="@this"/>
        </p:panelGrid>
    </p:dialog>
</html>

