<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<!-- 模版列表 -->
<ui:repeat
	value="#{requireTemplateFieldMBean.templateItem}"
	var="each">

	<!-- 純文字輸入 一個輸入欄位 -->
	<p:fragment
		id="TEXT_TYPE_ONE#{each.comId}"
		rendered="#{each.fieldComponentType eq 'TEXT_TYPE_ONE'}">
		<p:row>
			<p:column colspan="1">
				<p:outputLabel
					value="＊"
					styleClass="redColor"
					style="font-weight: bold;"
					rendered="#{each.requiredInput and !requireTemplateFieldMBean.disabled}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="#{each.fieldName}"
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="："
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column colspan="3">
				<p:panel style="border:none">
					<p:outputLabel
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].finalValue}"
						rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].finalValue}" />
                        &nbsp;&nbsp;
                    <p:inputText
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value02}"
						placeholder="#{requireTemplateFieldMBean.comValueMap[each.comId].value04}"
						style="width:#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value05?requireTemplateFieldMBean.comValueMap[each.comId].value05:'80%'};border:none;"
						maxlength="255"
						rendered="#{!requireTemplateFieldMBean.disabled}" />
					<p:outputLabel
						title="檢視時顯示"
						style="font-weight:bold;color:blue;"
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value02}"
						rendered="#{requireTemplateFieldMBean.disabled}" />
                        &nbsp;&nbsp;
                    <p:outputLabel
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value03}" />
				</p:panel>
			</p:column>
		</p:row>
	</p:fragment>

	<!-- 文字輸出，含欄位名稱、冒號 -->
	<p:fragment
		id="LABEL_TYPE_ONE#{each.comId}"
		rendered="#{each.fieldComponentType eq 'LABEL_TYPE_ONE'}">
		<p:row>
			<p:column colspan="2">
				<p:outputLabel
					value="#{each.fieldName}"
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="："
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column colspan="1">
				<p:panel style="border:none">
					<p:outputLabel
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01}" />
				</p:panel>
			</p:column>
		</p:row>
	</p:fragment>

	<!-- 單純文字輸出 -->
	<p:fragment
		id="LABEL_TYPE_TWO#{each.comId}"
		rendered="#{each.fieldComponentType eq 'LABEL_TYPE_TWO'}">
		<p:row>
			<p:column colspan="6">
				<p:outputLabel
					value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01}"
					style="font-weight: #{requireTemplateFieldMBean.comValueMap[each.comId].value02};
                                   color:#{requireTemplateFieldMBean.comValueMap[each.comId].value03};
                                   font-size:#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value04 ?requireTemplateFieldMBean.comValueMap[each.comId].value04:''}
                                   " />
			</p:column>
		</p:row>
	</p:fragment>

	<!-- CSS 文件輸入 僅一個輸入欄位 -->
	<p:fragment
		id="EDITOR_TYPE_ONE#{each.comId}"
		rendered="#{each.fieldComponentType eq 'EDITOR_TYPE_ONE'}">
		<p:row>
			<p:column
				colspan="1"
				style="vertical-align: top;">
				<p:outputLabel
					value="＊"
					styleClass="redColor"
					style="font-weight: bold;"
					rendered="#{each.requiredInput and !requireTemplateFieldMBean.disabled}" />
			</p:column>
			<p:column
				colspan="1"
				style="vertical-align: top;">
				<p:outputLabel
					value="#{each.fieldName}"
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:outputLabel
					value="："
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column colspan="2">
				<p:editor
					value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01}"
					height="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value03? requireTemplateFieldMBean.comValueMap[each.comId].value03: '235' }"
					controls=""
					disabled="true"
					style="min-width:650px"
					rendered="#{requireTemplateFieldMBean.disabled}"
					converter="#{editorConverter}">
				</p:editor>
				<p:editor
					value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01}"
					height="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value03? requireTemplateFieldMBean.comValueMap[each.comId].value03: '235' }"
					controls="font size bold italic underline color highlight"
					style="min-width:650px"
					onchange="#{requireTemplateFieldMBean.comValueMap[each.comId].change()}"
					rendered="#{!requireTemplateFieldMBean.disabled}"
					converter="#{editorConverter}">
				</p:editor>
			</p:column>
		</p:row>
	</p:fragment>

	<!-- 單選按鈕選項 - 互動TEXT_TYPE_ONE value03 -->
	<p:fragment
		id="RADIO_TYPE_ONE#{each.comId}"
		rendered="#{each.fieldComponentType eq 'RADIO_TYPE_ONE'}">
		<p:row>
			<p:column colspan="1">
				<p:outputLabel
					value="＊"
					styleClass="redColor"
					style="font-weight: bold;"
					rendered="#{each.requiredInput and !requireTemplateFieldMBean.disabled}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="#{each.fieldName}"
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="："
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column colspan="1">
				<p:panelGrid columns="2">
					<p:selectOneRadio
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01}"
						converterMessage="javax.faces.convert.BooleanConverter"
						disabled="#{requireTemplateFieldMBean.disabled}">
						<f:selectItem
							itemLabel="#{empty requireTemplateFieldMBean.comValueMap[each.comId].value02?'是':requireTemplateFieldMBean.comValueMap[each.comId].value02}"
							itemValue="true" />
						<f:selectItem
							itemLabel="#{empty requireTemplateFieldMBean.comValueMap[each.comId].value03?'否':requireTemplateFieldMBean.comValueMap[each.comId].value03}"
							itemValue="false" />
						<p:ajax
							event="change"
							onstart="showLoad();"
							process=":formTemplate:require_template_id"
							listener="#{requireTemplateFieldMBean.comValueMap[each.comId].change(requireTemplateFieldMBean.comValueMap[each.interactComId],each.interactComValue)}"
							update=":formTemplate:require_template_id"
							oncomplete="hideLoad();"
							disabled="#{!requireTemplateFieldMBean.comValueMap.containsKey(each.interactComId)}" />
					</p:selectOneRadio>
					<p:outputLabel
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value04}" />
				</p:panelGrid>
			</p:column>
		</p:row>
		<p:row
			rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value06}">
			<p:column colspan="3" />
			<p:column colspan="1">
				<p:inputTextarea
					value="#{requireTemplateFieldMBean.comValueMap[each.comId].value05}"
					rows="10"
					cols="50"
					style="border:none;"
					autoResize="#{requireTemplateFieldMBean.disabled?false:true}"
					rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value06}"
					placeholder="#{requireTemplateFieldMBean.comValueMap[each.comId].value06}"
					readonly="#{requireTemplateFieldMBean.disabled}" />
			</p:column>
		</p:row>
	</p:fragment>

	<p:fragment
		id="RADIO_TYPE_TWO#{each.comId}"
		rendered="#{each.fieldComponentType eq 'RADIO_TYPE_TWO'}">
		<p:row>
			<p:column colspan="1">
				<p:outputLabel
					value="＊"
					styleClass="redColor"
					style="font-weight: bold;"
					rendered="#{each.requiredInput and !requireTemplateFieldMBean.disabled}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="#{each.fieldName}"
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="："
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column colspan="3">
				<p:panelGrid columns="2">
					<p:selectOneRadio
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01}"
						converterMessage="javax.faces.convert.BooleanConverter"
						disabled="#{requireTemplateFieldMBean.disabled}">
						<f:selectItem
							itemLabel="#{empty requireTemplateFieldMBean.comValueMap[each.comId].value02?'是':requireTemplateFieldMBean.comValueMap[each.comId].value02}"
							itemValue="true" />
						<f:selectItem
							itemLabel="#{empty requireTemplateFieldMBean.comValueMap[each.comId].value03?'否':requireTemplateFieldMBean.comValueMap[each.comId].value03}"
							itemValue="false" />
						<p:ajax
							event="change"
							onstart="showLoad();"
							process=":formTemplate:require_template_id"
							update=":formTemplate:require_template_id"
							oncomplete="hideLoad();" />
					</p:selectOneRadio>
					<p:panelGrid
						columns="6"
						rendered="#{requireTemplateFieldMBean.comValueMap[each.comId].value01}">
						<p:outputLabel
							value="＊"
							styleClass="redColor"
							style="font-weight: bold;"
							rendered="#{each.requiredInput and !requireTemplateFieldMBean.disabled}" />
						<p:outputLabel
							value="#{requireTemplateFieldMBean.comValueMap[each.comId].value04}" />
						<p:outputLabel value="：" />
						<p:inputText
							widgetVar="REGEX_WV"
							value="#{requireTemplateFieldMBean.comValueMap[each.comId].value05}"
							style="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].errorMsg?'border-color: red; border-width: 5px':''};"
							rendered="#{!requireTemplateFieldMBean.disabled}">
							<p:ajax
								event="change"
								process=":formTemplate:require_template_id"
								listener="#{requireTemplateFieldMBean.comValueMap[each.comId].checkValidatorRule()}"
								update=":formTemplate:require_template_id" />
						</p:inputText>
						<p:outputLabel
							title="檢視時顯示"
							style="font-weight:bold;color:red;"
							value="#{requireTemplateFieldMBean.comValueMap[each.comId].value05}"
							rendered="#{requireTemplateFieldMBean.disabled}" />
						<p:outputLabel
							value="#{requireTemplateFieldMBean.comValueMap[each.comId].value06}"
							style="color:darkgray" />
						<p:panelGrid
							columns="2"
							rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].errorMsg}">
							<span class="ui-button-icon-left ui-icon ui-c ui-icon-alert" />
							<p:outputLabel
								value="#{requireTemplateFieldMBean.comValueMap[each.comId].errorMsg}"
								style=" font-weight: bold; color: blue;" />
						</p:panelGrid>
					</p:panelGrid>
				</p:panelGrid>
			</p:column>
		</p:row>
	</p:fragment>

	<p:fragment
		id="RADIO_TYPE_THREE#{each.comId}"
		rendered="#{each.fieldComponentType eq 'RADIO_TYPE_THREE'}">
		<p:row>
			<p:column colspan="1">
				<p:outputLabel
					value="＊"
					styleClass="redColor"
					style="font-weight: bold;"
					rendered="#{each.requiredInput and !requireTemplateFieldMBean.disabled}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="#{each.fieldName}"
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="："
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column
				colspan="1"
				rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value01}">
				<table>
					<ui:repeat
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01.keySet().toArray()}"
						var="keyStr"
						varStatus="keyStrStatus">
						<td><p:outputLabel
								value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01[keyStr].value00}" />
						</td>
						<td><p:selectOneRadio
								value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01[keyStr].value01}"
								converterMessage="javax.faces.convert.BooleanConverter"
								style=" margin-left: -10px"
								disabled="#{requireTemplateFieldMBean.disabled}">
								<f:selectItem
									itemLabel="#{empty requireTemplateFieldMBean.comValueMap[each.comId].value01[keyStr].value02?
                                                           '是':requireTemplateFieldMBean.comValueMap[each.comId].value01[keyStr].value02}"
									itemValue="true" />
								<f:selectItem
									itemLabel="#{empty requireTemplateFieldMBean.comValueMap[each.comId].value01[keyStr].value03?
                                                           '否':requireTemplateFieldMBean.comValueMap[each.comId].value01[keyStr].value03}"
									itemValue="false" />
								<!-- 重設定主題後綴 20170320 (此段觸發時間改為存檔前在MBean統一處理)
                                <p:ajax event="change"
                                        onstart="showLoad();"
                                        process=":formTemplate:require_template_id"
                                        listener="#{requireTemplateFieldMBean.comValueMap[each.comId].change(requireTemplateFieldMBean.comValueMap[each.interactComId],each.interactComValue)}" 
                                        update=":formTemplate:require_template_id"
                                        oncomplete="hideLoad();"
                                        disabled="#{!requireTemplateFieldMBean.comValueMap.containsKey(each.interactComId)}"
                                        />
                                -->
							</p:selectOneRadio></td>
						<td><p:outputLabel
								value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01[keyStr].value04}" />
						</td>
						<p:column rendered="#{(keyStrStatus.index + 1) % 5 eq 0}">
							<tr></tr>
						</p:column>
					</ui:repeat>
				</table>
			</p:column>
		</p:row>
		<p:row
			rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value03}">
			<p:column colspan="3" />
			<p:column colspan="1">
				<p:inputTextarea
					value="#{requireTemplateFieldMBean.comValueMap[each.comId].value02}"
					rows="10"
					cols="50"
					style="border:none;"
					autoResize="#{requireTemplateFieldMBean.disabled?false:true}"
					rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value03}"
					placeholder="#{requireTemplateFieldMBean.comValueMap[each.comId].value03}"
					readonly="#{requireTemplateFieldMBean.disabled}" />
			</p:column>
		</p:row>
	</p:fragment>

	<p:fragment
		id="RADIO_TYPE_FOUR#{each.comId}"
		rendered="#{each.fieldComponentType eq 'RADIO_TYPE_FOUR'}">
		<p:row>
			<p:column colspan="1">
				<p:outputLabel
					value="＊"
					styleClass="redColor"
					style="font-weight: bold;"
					rendered="#{each.requiredInput and !requireTemplateFieldMBean.disabled}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="#{each.fieldName}"
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="："
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column colspan="1">
				<p:panelGrid columns="2">
					<p:selectOneRadio
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01}"
						converterMessage="javax.faces.convert.BooleanConverter"
						disabled="#{requireTemplateFieldMBean.disabled}">
						<f:selectItem
							itemLabel="#{empty requireTemplateFieldMBean.comValueMap[each.comId].value02?'是':requireTemplateFieldMBean.comValueMap[each.comId].value02}"
							itemValue="true" />
						<f:selectItem
							itemLabel="#{empty requireTemplateFieldMBean.comValueMap[each.comId].value03?'否':requireTemplateFieldMBean.comValueMap[each.comId].value03}"
							itemValue="false" />
						<p:ajax
							event="change"
							onstart="showLoad();"
							process=":formTemplate:require_template_id"
							listener="#{requireTemplateFieldMBean.comValueMap[each.comId].change(requireTemplateFieldMBean.comValueMap[each.interactComId],each.interactComValue)}"
							update=":formTemplate:require_template_id"
							oncomplete="hideLoad();" />
					</p:selectOneRadio>
					<p:outputLabel
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value04}" />
				</p:panelGrid>
			</p:column>
		</p:row>
		<p:row
			rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value06}">
			<p:column colspan="3" />
			<p:column colspan="1">
				<p:inputTextarea
					value="#{requireTemplateFieldMBean.comValueMap[each.comId].value05}"
					rows="10"
					cols="50"
					style="border:none;"
					autoResize="#{requireTemplateFieldMBean.disabled?false:true}"
					rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value06}"
					placeholder="#{requireTemplateFieldMBean.comValueMap[each.comId].value06}"
					readonly="#{requireTemplateFieldMBean.disabled}" />
			</p:column>
		</p:row>
		<!-- WHEN RADIO TRUE SHOW -->
		<p:fragment
			rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value01 and requireTemplateFieldMBean.comValueMap[each.comId].value01}">
			<p:row>
				<p:column colspan="1">
					<p:outputLabel
						value="＊"
						styleClass="redColor"
						style="font-weight: bold;"
						rendered="#{each.requiredInput and !requireTemplateFieldMBean.disabled}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value07}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel
						value="："
						rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value07}" />
				</p:column>
				<p:column colspan="1">
					<p:outputLabel
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value10} 筆&nbsp;&nbsp;" />
					<p:outputLabel
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value11}"
						style="color:darkgray" />
					<p:row>
						<p:column colspan="1" />
						<p:column colspan="5">
							<p:panelGrid columns="1">
								<p:dataList
									type="definition"
									class="datalist-noborder"
									rowIndexVar="index"
									rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value08}"
									value="#{requireTemplateFieldMBean.comValueMap[each.comId].value08}"
									var="value08Str">
									<p:panelGrid
										columns="#{requireTemplateFieldMBean.disabled?2:3}">
										<p:outputLabel value="#{index + 1}." />
										<p:inputText
											value="#{requireTemplateFieldMBean.comValueMap[each.comId].value08[index]}"
											size="49"
											style="border:none;"
											rendered="#{!requireTemplateFieldMBean.disabled}" />
										<p:outputLabel
											title="檢視時顯示"
											style="font-weight:bold;color:blue;"
											value="#{value08Str}"
											rendered="#{requireTemplateFieldMBean.disabled}" />
										<p:commandButton
											icon="fa fa-minus"
											process="@parent:@parent:@parent"
											actionListener="#{requireTemplateFieldMBean.comValueMap[each.comId].sub(index)}"
											update="@parent:@parent:@parent @parent:@parent:@parent:@parent:@parent:@parent:@child(0)"
											rendered="#{!requireTemplateFieldMBean.disabled}" />
									</p:panelGrid>
								</p:dataList>
								<p:panelGrid columns="2">
									<p:inputText
										value="#{requireTemplateFieldMBean.comValueMap[each.comId].value09}"
										style="border:none;"
										placeholder="#{requireTemplateFieldMBean.comValueMap[each.comId].value12}"
										size="49"
										rendered="#{!requireTemplateFieldMBean.disabled}" />
									<p:commandButton
										icon="fa fa-plus"
										process="@parent:@parent"
										actionListener="#{requireTemplateFieldMBean.comValueMap[each.comId].add(confirmDlgMBean)}"
										update="@parent:@parent @parent:@parent:@parent:@parent:@parent:@child(0)"
										rendered="#{!requireTemplateFieldMBean.disabled}" />
								</p:panelGrid>
							</p:panelGrid>
						</p:column>
					</p:row>
				</p:column>
			</p:row>
		</p:fragment>
	</p:fragment>

	<p:fragment
		rendered="#{each.fieldComponentType eq 'SEPARATOR_TYPE_ONE'}">
		<p:row>
			<p:column colspan="6">
				<p:fragment
					rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value01}">
					<p:separator style=" border-style: dotted;" />
					<div align="center">#{requireTemplateFieldMBean.comValueMap[each.comId].value01}</div>
				</p:fragment>
				<p:separator style=" border-style: dotted;" />
			</p:column>
		</p:row>
	</p:fragment>

	<p:fragment
		id="LIST_STRING_TYPE_ONE#{each.comId}"
		rendered="#{each.fieldComponentType eq 'LIST_STRING_TYPE_ONE'}">
		<p:row>
			<p:column colspan="1">
				<p:outputLabel
					value="＊"
					styleClass="redColor"
					style="font-weight: bold;"
					rendered="#{each.requiredInput and !requireTemplateFieldMBean.disabled}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="#{each.fieldName}"
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="："
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="#{requireTemplateFieldMBean.comValueMap[each.comId].value03} 筆&nbsp;&nbsp;" />
				<p:outputLabel
					value="#{requireTemplateFieldMBean.comValueMap[each.comId].value04}"
					style="color:darkgray" />
				<p:row>
					<p:column colspan="1" />
					<p:column colspan="5">
						<p:panelGrid columns="1">
							<p:dataList
								type="definition"
								class="datalist-noborder"
								rowIndexVar="index"
								value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01}"
								var="value01Str"
								rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value01}">
								<p:panelGrid columns="#{requireTemplateFieldMBean.disabled?2:3}">
									<p:outputLabel value="#{index + 1}." />
									<p:inputText
										value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01[index]}"
										size="49"
										style="border:none;"
										rendered="#{!requireTemplateFieldMBean.disabled}" />
									<p:outputLabel
										title="檢視時顯示"
										style="font-weight:bold;color:blue;"
										value="#{value01Str}"
										rendered="#{requireTemplateFieldMBean.disabled}" />
									<p:commandButton
										icon="fa fa-minus"
										process="@parent:@parent:@parent"
										actionListener="#{requireTemplateFieldMBean.comValueMap[each.comId].sub(index)}"
										update="@parent:@parent:@parent @parent:@parent:@parent:@parent:@parent:@parent:@child(0)"
										rendered="#{!requireTemplateFieldMBean.disabled}" />
								</p:panelGrid>
							</p:dataList>
							<p:panelGrid columns="2">
								<p:inputText
									value="#{requireTemplateFieldMBean.comValueMap[each.comId].value02}"
									style="border:none;"
									placeholder="#{requireTemplateFieldMBean.comValueMap[each.comId].value05}"
									size="49"
									rendered="#{!requireTemplateFieldMBean.disabled}" />
								<p:commandButton
									icon="fa fa-plus"
									process="@parent:@parent"
									actionListener="#{requireTemplateFieldMBean.comValueMap[each.comId].add(confirmDlgMBean)}"
									update="@parent:@parent @parent:@parent:@parent:@parent:@parent:@child(0)"
									rendered="#{!requireTemplateFieldMBean.disabled}" />
							</p:panelGrid>
						</p:panelGrid>
					</p:column>
				</p:row>
			</p:column>
		</p:row>
	</p:fragment>

	<p:fragment
		id="LIST_STRING_TYPE_TWO#{each.comId}"
		rendered="#{each.fieldComponentType eq 'LIST_STRING_TYPE_TWO'}">
		<p:row>
			<p:column colspan="1">
				<p:outputLabel
					value="＊"
					styleClass="redColor"
					style="font-weight: bold;"
					rendered="#{each.requiredInput and !requireTemplateFieldMBean.disabled}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="#{each.fieldName}"
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="："
					rendered="#{each.showFieldName}" />
				<p:row>
					<p:column colspan="1" />
					<p:column
						colspan="5"
						style="vertical-align:top">
						<p:panelGrid columns="1">
							<p:dataList
								type="definition"
								class="datalist-noborder"
								rowIndexVar="index"
								value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01}"
								var="value01Str"
								rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value01}">
								<p:panelGrid columns="#{requireTemplateFieldMBean.disabled?2:3}">
									<p:outputLabel value="#{index + 1}." />
									<p:inputTextarea
										value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01[index]}"
										title="檢視時顯示"
										style="font-weight:bold;color:blue;border:none;"
										rows="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value06 ? requireTemplateFieldMBean.comValueMap[each.comId].value06 : 5}"
										cols="50"
										autoResize="false"
										readonly="#{requireTemplateFieldMBean.disabled}" />
									<p:commandButton
										icon="fa fa-minus"
										process="@parent:@parent:@parent"
										actionListener="#{requireTemplateFieldMBean.comValueMap[each.comId].sub(index)}"
										update="@parent:@parent:@parent"
										rendered="#{!requireTemplateFieldMBean.disabled}" />
								</p:panelGrid>
							</p:dataList>
							<p:panelGrid columns="2">
								<p:inputTextarea
									value="#{requireTemplateFieldMBean.comValueMap[each.comId].value02}"
									rows="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value06 ? requireTemplateFieldMBean.comValueMap[each.comId].value06 : 5}"
									style="border:none;"
									cols="50"
									autoResize="true"
									placeholder="#{requireTemplateFieldMBean.comValueMap[each.comId].value05}"
									rendered="#{!requireTemplateFieldMBean.disabled}" />
								<p:commandButton
									icon="fa fa-plus"
									process="@parent:@parent"
									actionListener="#{requireTemplateFieldMBean.comValueMap[each.comId].add(confirmDlgMBean)}"
									update="@parent:@parent"
									rendered="#{!requireTemplateFieldMBean.disabled}" />
							</p:panelGrid>
						</p:panelGrid>
					</p:column>
				</p:row>
			</p:column>
		</p:row>
	</p:fragment>

	<p:fragment
		id="LIST_STRING_TYPE_THREE#{each.comId}"
		rendered="#{each.fieldComponentType eq 'LIST_STRING_TYPE_THREE'}">
		<p:row>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:outputLabel
					value="＊"
					styleClass="redColor"
					style="font-weight: bold;"
					rendered="#{each.requiredInput and !requireTemplateFieldMBean.disabled}" />
			</p:column>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:outputLabel
					value="#{each.fieldName}"
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:outputLabel
					value="："
					rendered="#{each.showFieldName}" />
				<p:row>
					<p:column colspan="1" />
					<p:column colspan="5">
						<p:panelGrid columns="1">
							<p:dataList
								type="definition"
								class="datalist-noborder"
								rowIndexVar="index"
								value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01}"
								var="value01Str"
								rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value01}">
								<p:panelGrid
									columns="#{requireTemplateFieldMBean.disabled ? 5 : 6}">
									<p:outputLabel value="#{index + 1}." />
									<p:inputText
										value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01[index]}"
										style="border:none;"
										size="25"
										rendered="#{!requireTemplateFieldMBean.disabled}" />
									<p:outputLabel
										title="檢視時顯示"
										style="font-weight:bold;color:blue;"
										value="#{value01Str}"
										rendered="#{requireTemplateFieldMBean.disabled}" />
									<p:outputLabel
										value="#{requireTemplateFieldMBean.comValueMap[each.comId].value04}" />
									<p:inputText
										value="#{requireTemplateFieldMBean.comValueMap[each.comId].value02[index]}"
										style="border:none;"
										size="25"
										rendered="#{!requireTemplateFieldMBean.disabled}" />
									<p:outputLabel
										title="檢視時顯示"
										style="font-weight:bold;color:blue;"
										value="#{requireTemplateFieldMBean.comValueMap[each.comId].value02[index]}"
										rendered="#{requireTemplateFieldMBean.disabled}" />
									<p:outputLabel
										value="#{requireTemplateFieldMBean.comValueMap[each.comId].value06}" />
									<p:commandButton
										icon="fa fa-minus"
										process="@parent:@parent:@parent"
										actionListener="#{requireTemplateFieldMBean.comValueMap[each.comId].sub(index)}"
										update="@parent:@parent:@parent"
										rendered="#{!requireTemplateFieldMBean.disabled}" />
								</p:panelGrid>
							</p:dataList>
							<p:panelGrid columns="5">
								<p:inputText
									value="#{requireTemplateFieldMBean.comValueMap[each.comId].value03}"
									style="border:none;"
									size="25"
									rendered="#{!requireTemplateFieldMBean.disabled}" />
								<p:outputLabel
									value="#{requireTemplateFieldMBean.comValueMap[each.comId].value04}"
									rendered="#{!requireTemplateFieldMBean.disabled}" />
								<p:inputText
									value="#{requireTemplateFieldMBean.comValueMap[each.comId].value05}"
									style="border:none;"
									size="25"
									rendered="#{!requireTemplateFieldMBean.disabled}" />
								<p:outputLabel
									value="#{requireTemplateFieldMBean.comValueMap[each.comId].value06}"
									rendered="#{!requireTemplateFieldMBean.disabled}" />
								<p:commandButton
									icon="fa fa-plus"
									process="@parent:@parent"
									actionListener="#{requireTemplateFieldMBean.comValueMap[each.comId].add(confirmDlgMBean)}"
									update="@parent:@parent"
									rendered="#{!requireTemplateFieldMBean.disabled}" />
							</p:panelGrid>
						</p:panelGrid>
					</p:column>
				</p:row>
			</p:column>
		</p:row>
	</p:fragment>

	<p:fragment
		id="CHECK_BOX_MANY_TYPE_ONE#{each.comId}"
		rendered="#{each.fieldComponentType eq 'CHECK_BOX_MANY_TYPE_ONE'}">
		<p:row>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:outputLabel
					value="＊"
					styleClass="redColor"
					style="font-weight: bold;"
					rendered="#{each.requiredInput and !requireTemplateFieldMBean.disabled}" />
			</p:column>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:outputLabel
					value="#{each.fieldName}"
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:outputLabel
					value="："
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:selectManyCheckbox
					value="#{requireTemplateFieldMBean.comValueMap[each.comId].value02}"
					layout="grid"
					columns="1"
					disabled="#{requireTemplateFieldMBean.disabled}">
					<f:selectItems
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01}"
						var="str"
						itemLabel="#{str}"
						itemValue="#{str}" />
				</p:selectManyCheckbox>
			</p:column>
		</p:row>
	</p:fragment>

	<p:fragment
		id="SELECT_ITEM_TYPE_ONE#{each.comId}"
		rendered="#{each.fieldComponentType eq 'SELECT_ITEM_TYPE_ONE'}">
		<p:row>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:outputLabel
					value="＊"
					styleClass="redColor"
					style="font-weight: bold;"
					rendered="#{each.requiredInput and !requireTemplateFieldMBean.disabled}" />
			</p:column>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:outputLabel
					value="#{each.fieldName}"
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:outputLabel
					value="："
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:selectOneMenu
					value="#{requireTemplateFieldMBean.comValueMap[each.comId].value02}"
					disabled="#{requireTemplateFieldMBean.disabled}">
					<f:selectItem
						itemValue=""
						itemLabel="請選擇" />
					<f:selectItems
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01}"
						var="str"
						itemLabel="#{str}"
						itemValue="#{str}" />
					<p:ajax
						event="change"
						onstart="showLoad();"
						process=":formTemplate:require_template_id"
						listener="#{requireTemplateFieldMBean.comValueMap[each.comId].change(requireTemplateFieldMBean.comValueMap[each.interactComId], null)}"
						update=":formTemplate:require_template_id"
						oncomplete="hideLoad();"
						disabled="#{!requireTemplateFieldMBean.triggerOnChangeEvent}" />
				</p:selectOneMenu>
			</p:column>
		</p:row>
	</p:fragment>

	<p:fragment
		id="SELECT_ITEM_CHECK_BOX_LIST_TYPE_ONE#{each.comId}"
		rendered="#{each.fieldComponentType eq 'SELECT_ITEM_CHECK_BOX_LIST_TYPE_ONE'}">
		<p:row>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:outputLabel
					value="＊"
					styleClass="redColor"
					style="font-weight: bold;"
					rendered="#{each.requiredInput and !requireTemplateFieldMBean.disabled}" />
			</p:column>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:outputLabel
					value="#{each.fieldName}"
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:outputLabel
					value="："
					rendered="#{each.showFieldName}" />
			</p:column>
			<p:column
				colspan="1"
				style="vertical-align: top">
				<p:selectOneMenu
					value="#{requireTemplateFieldMBean.comValueMap[each.comId].value02}"
					disabled="#{requireTemplateFieldMBean.disabled}">
					<f:selectItem
						itemValue=""
						itemLabel="請選擇" />
					<f:selectItems
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01.keySet()}"
						var="str"
						itemLabel="#{str}"
						itemValue="#{str}" />
					<p:ajax
						event="change"
						listener="#{requireTemplateFieldMBean.comValueMap[each.comId].change()}"
						process=":formTemplate:require_template_id"
						update=":formTemplate:require_template_id" />
				</p:selectOneMenu>
				<p:selectManyCheckbox
					immediate="true"
					rendered="#{not empty requireTemplateFieldMBean.comValueMap[each.comId].value02}"
					value="#{requireTemplateFieldMBean.comValueMap[each.comId].value03}"
					layout="grid"
					columns="1"
					disabled="#{requireTemplateFieldMBean.disabled}">
					<p:ajax
						event="change"
						update="@this" />
					<f:selectItems
						value="#{requireTemplateFieldMBean.comValueMap[each.comId].value01[requireTemplateFieldMBean.comValueMap[each.comId].value02]}"
						var="checkBoxStr"
						itemLabel="#{checkBoxStr}"
						itemValue="#{checkBoxStr}" />
				</p:selectManyCheckbox>
			</p:column>
		</p:row>
	</p:fragment>

</ui:repeat>
<p:outputPanel>
	<script type="text/javascript">
        jQuery(document).ready(function () {
            templateEditor();
        });
        /** 調整 editor 元件寬度*/
        function templateEditor() {
            var viewPanelWidth = $("#templateContentId").width() * 0.7;
            $("#templateContentId").find(".ui-editor").each(function () {
                $(this).css({
                    'width': viewPanelWidth,
                });
                var heightLenght = $(this).height() - 35;
                $(this).find('iframe').css({
                    'width': viewPanelWidth,
                }).contents().find('body').css({
                    'word-wrap': 'break-word',
                    'display': 'block',
                    'white-space': 'pre',
                    'height': heightLenght,
                    'width': viewPanelWidth,
                    'word-break': 'break-word',
                });
            });
        }
    </script>
</p:outputPanel>
</html>

