<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<!-- 為了避免require03的東西漏加統一集中在此 -->
<!-- 若此 dialog 會在報表列表業用到, 需放在 放 require_common_dlg.xhtml 否則會造成原件重複錯誤 -->

<ui:include src="attach_upload_dlg.xhtml" />
<ui:include src="require_dialog.xhtml" />
<!-- PT DLG -->
<p:outputPanel>
	<ui:include src="pt_setting_dialog.xhtml" />
</p:outputPanel>
<p:outputPanel>
	<ui:include src="pt_bottom_tab_dialog.xhtml" />
</p:outputPanel>
<!--  ST DLG -->

<ui:include src="send_test_setting_dialog.xhtml" />
<ui:include src="send_test_bottom_tab_dialog.xhtml" />

<!--  OP DLG -->
<p:outputPanel>
	<ui:include src="onpg_setting_dialog.xhtml" />
</p:outputPanel>
<p:outputPanel>
	<ui:include src="onpg_bottom_tab_dialog.xhtml" />
</p:outputPanel>
<!-- OS DLG -->
<p:outputPanel>
	<ui:include src="othset_setting_dialog.xhtml" />
</p:outputPanel>
<p:outputPanel>
	<ui:include src="othset_bottom_tab_dialog.xhtml" />
</p:outputPanel>
</html>

