<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="../template/template1.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<!-- 需求單新增 -->
	<ui:define name="title">
		<h:outputText value="技術需求單" />
	</ui:define>
	<ui:define name="content">
		<script type="text/javascript">
			//<![CDATA[
			var doLock = false;
			//鎖定功能清單
			function lockList() {
				doLock = false;
				hideLockBtn();
			}
			//解鎖功能清單
			function unLockList() {
				doLock = true;
				hideLockBtn();
			}
			//隱藏所對應的鎖定按鈕
			function hideLockBtn() {
				if (doLock) {
					getElementId("btnLock").css({
						'display' : ''
					});
					getElementId("btnUnLock").css({
						'display' : 'none'
					});
				} else {
					getElementId("btnLock").css({
						'display' : 'none'
					});
					getElementId("btnUnLock").css({
						'display' : ''
					});
				}
			}
			function req01ShowLoad() {
				$("#search_require01_load_img_id").css({
					'display' : ''
				});
				PF('tbBtnBlockWv').show();
			}
			function req01HideLoad() {
				$("#search_require01_load_img_id").css({
					'display' : 'none'
				});
				PF('tbBtnBlockWv').hide();
			}
			function req01SaveShowLoad() {
				$("#require01_save_btn").css({
					'display' : 'none'
				});
				$("#require01_draft_btn").css({
					'display' : 'none'
				});
				$("#search_require01_load_img_id_01").css({
					'display' : ''
				});
				showLoad();
			}
			function req01SaveHideLoad() {
				$("#require01_save_btn").css({
					'display' : ''
				});
				$("#require01_draft_btn").css({
					'display' : ''
				});
				$("#search_require01_load_img_id_01").css({
					'display' : 'none'
				});
				hideLoad();
			}
			function onKeyBySearch(event) {
				if (checkEnter(event)) {
					doSearchData();
				}
			}
			function focusPF(obj) {
				if (PrimeFaces.widgets[obj]) {
					PF(obj).focus();
				}
			}
			function toggleLayout(obj) {
				if (!doLock) {
					if ($("#viewPanelWest").length > 0) {
						if ($("#viewPanelWest").css("display") === obj) {
							PF('layout').toggle('west');
						}
					}
				}
			}
			function copyMode() {
				PF('layout').toggle('west');
				$("#viewPanelWest-resizer").css("display", "none");
			}
			//ReqWebConstants use function name 
			function issueCreateMode() {
				copyMode();
			}

			function req01_replaceUrl(url) {
				var frameCenter = $("#frameCenter");
				if (frameCenter.length > 0) {
					frameCenter
							.attr("src",
									"#{facesContext.externalContext.requestContextPath}/home/index.xhtml");
					window.open(url, "_blank");
				} else {
					//獨立新增頁面, 直接導向新增單據
					if (PrimeFaces.widgets["require01_save_btn_wv"]) {
						PF("require01_save_btn_wv").disable();
					}
					if (PrimeFaces.widgets["require01_draft_btn_wv"]) {
						PF("require01_draft_btn_wv").disable();
					}
					showLoad();
					location.replace(url);
				}
			}
			//]]>
		</script>

		<!-- RequireSaveMBean呼叫 For 一般存檔-->
		<p:remoteCommand
			name="returnToCateSelect"
			onstart="showLoad();"
			process="@this"
			actionListener="#{requireCategoryTreeMBean.setShowFrame(true)}"
			update="viewPanel"
			oncomplete="hideLockBtn();
                         document.getElementById('frameCenter').src = './require02.xhtml';
                         hideLoad();" />
		<!-- RequireSaveMBean呼叫新建檔後轉ON程式TAB -->
		<p:remoteCommand
			name="returnToCateSelectToOp"
			onstart="showLoad();"
			process="@this"
			actionListener="#{requireCategoryTreeMBean.setShowFrame(true)}"
			update="viewPanel"
			oncomplete="hideLockBtn();
                         document.getElementById('frameCenter').src = './require02.xhtml?op=toOne';
                         hideLoad();" />
		<!-- 主責單位 -->
		<p:outputPanel>
			<ui:include src="require_dlg_in_charge.xhtml" />
		</p:outputPanel>
		<!-- 檢查項目-(系統別) -->
		<p:outputPanel>
			<ui:include src="require_dlg_check_items.xhtml" />
		</p:outputPanel>

		<!-- 傳送畫面大小資訊 -->
		<p:outputPanel
			style="height:800px"
			id="viewPanel">
			<p:layout
				style="height:95%;"
				widgetVar="layout">
				<!-- 需求單抬頭顯示(上方資訊幕) -->
				<p:layoutUnit
					id="viewPanelNorth"
					position="north"
					visible="true"
					collapsible="true">
					<p:panel>
						<ui:include src="require01_title_info.xhtml" />
					</p:panel>
				</p:layoutUnit>
				<!-- 類別組合挑選樹-->
				<p:layoutUnit
					id="viewPanelWest"
					position="west"
					collapsible="true">
					<f:facet name="header">
						<p:outputLabel value="類別組合挑選" />
						<a
							id="btnLock"
							href="javascript:void(1)"
							title="鎖定"
							class="ui-layout-unit-header-icon ui-state-default ui-corner-all">
							<span
								class="ui-icon ui-icon-pin-s"
								onclick="lockList();"></span>
						</a>
						<a
							id="btnUnLock"
							href="javascript:void(2)"
							title="解除"
							class="ui-layout-unit-header-icon ui-state-default ui-corner-all">
							<span
								class="ui-icon ui-icon-pin-w"
								onclick="unLockList();"></span>
						</a>
					</f:facet>
					<ui:include src="require01_category_tree.xhtml" />
				</p:layoutUnit>
				<!-- 需求單模版 -->
				<p:layoutUnit
					id="viewPanelCenter"
					position="center">
					<p:outputPanel
						id="templateContentId"
						styleClass="req_template_grid_style"
						rendered="#{require01MBean.setp eq 'NEW_IN_PAGE'}">
						<p:panelGrid id="require_template_id">
							<!-- 廳主、提出客戶 -->
							<ui:include src="work_customer.xhtml" />
							<ui:include src="require_template.xhtml" />
							<ui:include src="require01_template_attachment.xhtml" />
						</p:panelGrid>
					</p:outputPanel>
					<p:blockUI
						id="tbBtnBlockId"
						widgetVar="tbBtnBlockWv"
						block="templateContentId"
						blocked="false"
						animate="false" />
					<p:outputPanel rendered="#{requireCategoryTreeMBean.showFrame}">
						<iframe
							id="frameCenter"
							name="frameCenter"
							frameborder="0"
							width="100%"
							style="height: 723px"
							src="" />
					</p:outputPanel>
				</p:layoutUnit>
			</p:layout>
			<!-- 需求單下方顯示(存檔按鍵)-->
			<p:panelGrid
				columns="3"
				rendered="#{require01MBean.setp eq 'NEW_IN_PAGE'}">
				<p:commandButton
					id="require01_save_btn"
					widgetVar="require01_save_btn_wv"
					value="存檔"
					icon="fa fa-save"
					style="border-color:blue;"
					onclick="saveEditHtmlTemplate();showLoad();"
					process="@this viewPanel"
					actionListener="#{requireSaveMBean.save(require01MBean,requireTemplateFieldMBean)}"
					oncomplete="hideLoad();" />
				<p:commandButton
					id="require01_draft_btn"
					widgetVar="require01_draft_btn_wv"
					value="儲存草稿"
					icon="fa fa-save"
					style="border-color:blue;"
					onclick="saveEditHtmlTemplate();showLoad();"
					process="@this viewPanel"
					rendered="#{!require01MBean.isIssueCreateMode}"
					actionListener="#{reqDraftMBean.preSaveDraft(require01MBean,requireTemplateFieldMBean)}"
					oncomplete="hideLoad();" />
				<p:outputLabel
					value="請填寫正確後直接存檔！"
					rendered="#{require01MBean.isIssueCreateMode}"
					style="color:red; font-weight: bolder;" />
				<p:graphicImage
					id="search_require01_load_img_id_01"
					value="../img/ajax-loader.gif"
					style="display:none;"
					styleClass="btnIcon" />
			</p:panelGrid>
		</p:outputPanel>
		<!-- 附加檔案上傳DLG -->
		<ui:include src="attach_upload_dlg.xhtml" />
		<!--返回類別組合提示 -->
		<p:dialog
			header="類別組合"
			modal="true"
			widgetVar="selectCategoryNotifyWv"
			draggable="false"
			closable="false"
			resizable="false">
			<p:hotkey
				bind="esc"
				handler="PF('selectCategoryNotifyWv').hide();"
				oncomplete="hideLockBtn();" />
			<p:hotkey
				bind="return"
				onstart="PF('selectCategoryNotifyWv').hide();"
				process="@this"
				actionListener="#{require01MBean.selectCategory(requireTemplateFieldMBean,require01MBean.reqAttachMBean)}"
				update="viewPanel"
				oncomplete="hideLockBtn();" />
			<p />
			<p:outputLabel value="返回類別組合選擇，頁面資訊將清空，請確認！！" />
			<p />
			<p:panelGrid columns="2">
				<p:commandButton
					value="確定"
					actionListener="#{require01MBean.selectCategory(requireTemplateFieldMBean,require01MBean.reqAttachMBean)}"
					onclick="PF('selectCategoryNotifyWv').hide();"
					process="@this"
					update="viewPanel"
					oncomplete="hideLockBtn();" />
				<p:commandButton
					value="取消"
					onclick="PF('selectCategoryNotifyWv').hide()" />
			</p:panelGrid>
		</p:dialog>

		<script type="text/javascript">
			jQuery(document).ready(function() {
				hideLockBtn();
			});

			function saveEditHtmlTemplate() {
				$("#templateContentId").find(".ui-editor").each(
						function() {
							PF(
									"widget_"
											+ $(this).parent().attr("id")
													.replace(/:/g, "_"))
									.saveHTML();
						});
			}
		</script>
	</ui:define>

</ui:composition>

