<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <!-- 提交時呼叫 -->
    <p:remoteCommand name="resetTableBySubmit"
                     onstart="showLoad();"
                     process="@this"
                     actionListener="#{searchMBean.resetTableRow()}"
                     update="searchBody @(.reportUpdateClz)" 
                     oncomplete="hideLoad();"/>
    <!--需求單抬頭顯示(上方資訊幕按鍵) -->
    <p:outputPanel id="title_info_click_btn_id" style="height:42px" >
        <p:toolbar>
            <f:facet name="left">
                <p:outputPanel deferred="true">
                    <ui:include src="require06_title_btn_inner.xhtml"/>
                    <p:graphicImage id="require_btn_load_img_id" value="../img/ajax-loader.gif" styleClass="btnIcon"
                                    style="display:none;margin-bottom:-5px !important;width:25px;height:25px;transform:scale(1.0,1.0)"/>
                </p:outputPanel>
            </f:facet>
            <f:facet name="right">
                <p:commandButton icon="fa fa-home" title="回報表" styleClass="btnIcon"
                                 onclick="showLoad();;deleteReqConfirmDepPanel();"
                                 process="@this"
                                 actionListener="#{searchMBean.normalScreenReport()}"
                                 update="searchBody @(.reportUpdateClz)" 
                                 oncomplete="showHeaderTitle();hideLoad();reSearch();"
                                 />
                <p:commandButton icon="fa fa-arrow-up" title="上一筆" styleClass="btnIcon"
                                 onclick="showLoad();"
                                 process="@this"
                                 actionListener="#{searchMBean.moveRequireTemplateSelect(-1)}"
                                 update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId"
                                 oncomplete="hideLoad();"
                                 disabled="#{empty searchMBean.queryKeeper?true:searchMBean.queryItems.indexOf(searchMBean.queryKeeper) == 0}"
                                 />
                <p:commandButton icon="fa fa-arrow-down" title="下一筆" styleClass="btnIcon"
                                 onclick="showLoad();"
                                 process="@this"
                                 actionListener="#{searchMBean.moveRequireTemplateSelect(1)}"
                                 update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId"
                                 oncomplete="hideLoad();"
                                 disabled="#{empty searchMBean.queryKeeper?true:searchMBean.queryItems.indexOf(searchMBean.queryKeeper) == searchMBean.queryItems.size() -1}"
                                 />
            </f:facet>
        </p:toolbar>
    </p:outputPanel>
</html>

