<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <!--需求單抬頭顯示(上方資訊幕按鍵) -->
    <p:outputPanel id="title_info_click_btn_id">
        <p:toolbar>
            <f:facet name="left">
                <ui:include src="require_title_btn_inner.xhtml"/>
                <p:graphicImage id="require_btn_load_img_id" value="../img/ajax-loader.gif" styleClass="btnIcon" 
                                style="display:none;margin-bottom:-5px !important;width:25px;height:25px;transform:scale(1.0,1.0)"/>
            </f:facet>
            <f:facet name="right">
            </f:facet>
        </p:toolbar>
    </p:outputPanel>
</html>

