<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    
    <p:remoteCommand name="callReq01Act" process="@this" actionListener="#{require01MBean.loadRequireByOpener()}"/>
    <!--需求單抬頭顯示(上方資訊幕按鍵) -->
    <p:outputPanel id="title_info_click_btn_id" style="height:42px" deferred="true">
        <script type="text/javascript" charset="utf-8" src="../js/pageupdown/page_updown.js" />
        <script type="text/javascript">
            jQuery(document).ready(function () {
                checkDisableUpDownBtn('title_info_click_btn_up_id', 'title_info_click_btn_down_id');
            });
        </script>
        <p:toolbar>
            <f:facet name="left">
                <p:outputPanel>
                    <ui:include src="require06_title_btn_inner.xhtml"/>
                    <p:graphicImage id="require_btn_load_img_id" value="../img/ajax-loader.gif" styleClass="btnIcon"
                                    style="display:none;margin-bottom:-5px !important;width:25px;height:25px;transform:scale(1.0,1.0)"/>
                </p:outputPanel>
            </f:facet>
            <f:facet name="right">
                <p:commandButton id="title_info_click_btn_up_id"
                                 icon="fa fa-arrow-up" 
                                 title="上一筆" 
                                 disabled="#{tableUpDownBean.disableUp}"
                                 onclick="callByUpBtn();"
                                 process="@this"
                                 oncomplete="callReq01Act();"
                                 styleClass="btnIcon"/>
                <p:commandButton id="title_info_click_btn_down_id"
                                 icon="fa fa-arrow-down" 
                                 title="下一筆"  
                                 disabled="#{tableUpDownBean.disableDown}"
                                 onclick="callByDownBtn();"
                                 process="@this"
                                 oncomplete="callReq01Act();"
                                 styleClass="btnIcon"/>
            </f:facet>
        </p:toolbar>
    </p:outputPanel>
</html>

