<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<!-- 需求單檢視, 報表列表頁都會用到的放這邊 -->
<!-- 放 require_include_dlg.xhtml 會造成原件重複錯誤 -->
<!-- 轉寄 -->
<ui:include src="../require/require_dlg_forword.xhtml" />
<!-- 關聯 -->
<ui:include src="../require/require_relevance.xhtml" />
<!-- 追蹤行為 -->
<ui:include src="../require/require_trace.xhtml" />
</html>

