<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:cp="http://java.sun.com/jsf/composite/components"
      >

    <p:outputPanel id="require_07_id" >
        <!-- TreeTable Use -->
    <script type="text/javascript">
        function showReqLoad() {
            $("#require_btn_load_img_id").css({'display': ''});
        }
        function hideReqLoad() {
            $("#require_btn_load_img_id").css({'display': 'none'});
        }
        jQuery(document).ready(function () {
            $("#req07scrid").css('height',
                    $(window).height() - $("#req07scrid").position().top - $("#title_info_click_btn_id").height());
            $("#require_template_id").css('width', $(window).width());
        });
    </script>
    
        <ui:include src="require07_title_btn.xhtml" />
        <p:outputPanel id="viewPanel">
            <p:scrollPanel id="req07scrid" mode="native">
                <!-- 需求單抬頭顯示(上方資訊幕) -->
                <ui:include src="require_title_info.xhtml" />
                <!-- 需求單模版 這裡放置的ID位置跟其它需求單不一樣是因為accordionPanel原件(模版需測量width - require_template最下方script) -->
                <p:outputPanel id="require_template_id" > 
                    <p:accordionPanel id="templateContentId" 
                                      activeIndex="-1" 
                                      dynamic="true" 
                                      multiple="true"
                                      widgetVar="require_template_wv" >
                        <p:ajax event="tabChange" onstart="showReqLoad();" oncomplete="hideReqLoad();" />
                        <p:tab>
                            <f:facet name="title">
                                <p:outputLabel value="#{searchMBean.queryKeeper.requireTheme}" 
                                               style="color:blue;font-weight: bold;"/>
                            </f:facet>
                            <p:outputPanel styleClass="req_template_grid_style">
                                <p:panelGrid>
                                    <ui:include src="work_customer.xhtml"/>
                                    <ui:include src="require_template.xhtml" />
                                </p:panelGrid>
                            </p:outputPanel>
                        </p:tab>
                    </p:accordionPanel>
                    <p:outputPanel rendered="#{require01MBean.setp eq 'LOAD_IN_PAGE'}">
                        <script type="text/javascript">
                            jQuery(document).ready(function () {
                                PF("require_template_wv").unselect(0);
                            });
                        </script>
                    </p:outputPanel>
                    <p:outputPanel rendered="#{require01MBean.setp eq 'LOAD_IN_PAGE_EDIT'}">
                        <script type="text/javascript">
                            jQuery(document).ready(function () {
                                PF("require_template_wv").select(0);
                            });
                        </script>
                    </p:outputPanel>                    
                </p:outputPanel>
                <!-- 需求單下方顯示(下方資訊幕)-->
                <p:outputPanel id="req07botmid" style="overflow:scroll;overflow-x: hidden;overflow-y:hidden;width:150%">
                    <ui:include src="require_bottom_info.xhtml" />
                    <!-- 部門轉發資訊 -->
                    <ui:include src="../search/forward_dep_info.xhtml"/>
                </p:outputPanel>
            </p:scrollPanel>
        </p:outputPanel>
    </p:outputPanel>
    <!-- 需求單設定dialog集中 -->
    <ui:include src="require_include_dlg.xhtml" />
</html>

