<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<p:remoteCommand
	name="reloadRequireView"
	onclick="showLoad()"
	oncomplete="hideLoad();moveScrollBottom();"
	process="@this"
	update="require01_title_info_id title_info_click_btn_id viewPanelBottomInfoTabId"
	actionListener="#{commonBean.doNottingPostback()}" />

<!-- 分派/通知設定 -->
<cp:assign_notice_setting
	componentAlias="assignNoticeSettingDlg"
	contentStyleClass="assignNoticeSettingContent"
	model="#{assignNoticeMBean.assignNoticeComponent}" />

<!--未完成的功能暫時顯示 -->
<p:dialog
	header="施工中..."
	modal="true"
	position="center center-100"
	id="woringingDlgId"
	widgetVar="woringingDlgWv"
	draggable="false"
	closable="false"
	resizable="false">
	<p:hotkey
		bind="esc"
		handler="PF('woringingDlgWv').hide();" />
	<p:panelGrid columns="2">
		<p:commandButton
			icon="fa fa-check"
			onclick="PF('woringingDlgWv').hide()" />
	</p:panelGrid>
</p:dialog>
<!--流程退回選擇列表(需求單位) -->
<p:dialog
	header="請選擇退回人員"
	modal="true"
	position="center center-100"
	id="requireRollBackDlgId"
	widgetVar="requireRollBackDlgWv"
	draggable="false"
	closable="false"
	resizable="false">
	<p:panelGrid columns="1">
		<p:selectOneMenu value="#{require01MBean.reqBpmMBean.rollbackSelectIndex}">
			<f:selectItems value="#{require01MBean.reqBpmMBean.rollbackItems}" />
		</p:selectOneMenu>
		<h:outputText value="確認退回並填寫退回原因！" />
		<p:inputTextarea value="#{require01MBean.reqBpmMBean.rollbackComment}" />
	</p:panelGrid>
	<p:panelGrid columns="2">
		<p:commandButton
			value="確定"
			actionListener="#{require01MBean.reqBpmMBean.clickRollBack(require01MBean)}"
			onstart="PF('requireRollBackDlgWv').hide()"
			onclick="showLoad()"
			oncomplete="hideLoad();moveScrollBottom();"
			process="requireRollBackDlgId"
			update="title_info_click_btn_id require01_title_info_id viewPanelBottomInfoTabId" />
		<p:commandButton
			value="取消"
			onclick="PF('requireRollBackDlgWv').hide()" />
	</p:panelGrid>
</p:dialog>



<!--變更緊急度 -->
<p:dialog
	header="變更緊急度"
	modal="true"
	position="center center-100"
	widgetVar="changeUrgencyDlgWv"
	draggable="false"
	closable="false"
	resizable="false">
	<p:panelGrid
		id="changeUrgencyPg"
		columns="2"
		style="margin-bottom: 10px;">
		<h:outputText value="請選擇：" />
		<p:selectOneMenu value="#{require01MBean.require.urgency}">
			<f:selectItems value="#{urgencyTypeMBean.getTypeValues()}" />
		</p:selectOneMenu>
	</p:panelGrid>
	<p:commandButton
		value="確定"
		process="@this changeUrgencyPg"
		update="require01_title_info_id"
		actionListener="#{requireSaveMBean.updateByChangeUrgency(require01MBean)}"
		onclick="showLoad();"
		oncomplete="hideLoad();PF('changeUrgencyDlgWv').hide();" />
	<p:commandButton
		value="取消"
		type="button"
		onclick="PF('changeUrgencyDlgWv').hide();" />
</p:dialog>
<!--修改期望完成日 -->
<p:dialog
	header="修改期望完成日"
	modal="true"
	position="center center-100"
	id="change_hope_date_id"
	widgetVar="change_hope_date_wv"
	draggable="false"
	closable="false"
	resizable="false">
	<p:hotkey
		bind="esc"
		handler="PF('change_hope_date_wv').hide();" />
	<p />
	<p:outputLabel value="期望完成日： " />
	<p:calendar
		value="#{require01MBean.require.hopeDate}"
		navigator="true"
		mode="popup"
		showOn="button"
		readonlyInput="true"
		styleClass="cy-calendar"
		pattern="yyyy/MM/dd" />
	<p />
	<p:row>
		<p:commandButton
			value="確定"
			onclick="showLoad()"
			process="@this change_hope_date_id viewPanel"
			actionListener="#{requireSaveMBean.updateByChangeHopeDate(require01MBean)}"
			update="@this viewPanel viewPanelBottomInfoTabId"
			oncomplete="hideLoad();PF('change_hope_date_wv').hide();" />
		<p:commandButton
			value="取消"
			type="button"
			onclick="PF('change_hope_date_wv').hide();" />
	</p:row>
</p:dialog>
<!--退件通知 -->
<p:dialog
	header="退件通知"
	modal="true"
	position="center center-100"
	widgetVar="rejectDlgWv"
	draggable="false"
	closable="false"
	resizable="false">
	<p:hotkey
		bind="esc"
		handler="PF('rejectDlgWv').hide();" />
	<p:ajax
		event="close"
		listener="#{requireRejectMBean.cancelLock}" />
	<p:outputPanel id="rejectPanel">
		<p:panelGrid columns="2">
			<h:outputText value="退回人員：" />
			<p:selectOneMenu value="#{requireRejectMBean.selectedHistoryIndex}">
				<f:selectItems value="#{requireRejectMBean.rollbackItems}" />
			</p:selectOneMenu>
			<h:outputText value="退件原因：" />
			<p:selectOneMenu value="#{requireRejectMBean.rejectTrace.reason}">
				<f:selectItems value="#{selectItemBean.getRejectReasonItems()}" />
				<p:ajax
					event="change"
					process="@this"
					update="rejectPanel"
					listener="#{requireRejectMBean.changeRejectReason()}" />
			</p:selectOneMenu>
			<h:outputText value="說明：" />
			<p:inputTextarea
				value="#{requireRejectMBean.rejectTrace.requireTraceContent}"
				cols="35"
				rows="7"
				autoResize="true" />
		</p:panelGrid>
		<p:commandButton
			value="確定"
			process="@this rejectPanel"
			update="viewPanelBottomInfoTabId title_info_click_btn_id require01_title_info_id @(.require_check_item_panel)"
			onclick="showLoad()"
			oncomplete="hideLoad();moveScrollBottom();"
			actionListener="#{requireRejectMBean.save()}" />
		<p:commandButton
			type="button"
			value="取消"
			onclick="PF('rejectDlgWv').hide()" />
	</p:outputPanel>
</p:dialog>


<!--需求資訊回覆補充 -->
<p:dialog
	header="需求資訊回覆補充"
	id="req_add_info_dlg_id"
	modal="true"
	position="center center-100"
	widgetVar="req_add_info_dlg_wv"
	draggable="true"
	closable="false">
	<p:ajax
		event="close"
		onstart="moveScrollBottom();reinstatedSize('req_add_info_dlg_id','req_add_info_dlg_edit',50,170);" />
	<p:hotkey
		bind="esc"
		handler="PF('req_add_info_dlg_wv').hide();" />
	<c:set
		value="#{require01MBean.addInfoMBean.addInfoTrace}"
		var="editTrace" />
	<p:panelGrid columns="1">
		<p:row>
			<p:column colspan="2">
				<p:outputLabel
					value="#{require01MBean.findConfirmExecName(editTrace.createdUser)}"
					style="color:black;font-weight: bold" />
                    &nbsp;
                    <h:outputText
					value="#{editTrace.createdDate}"
					style="color:black;font-weight: bold">
					<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
				</h:outputText>&nbsp;
                </p:column>
		</p:row>
		<p:row style="vertical-align: top">
			<p:column colspan="2">
				<p:editor
					controls="font size bold italic underline color highlight"
					converter="#{editorConverter}"
					id="req_add_info_dlg_edit"
					value="#{editTrace.requireTraceContentCss}"
					width="500"
					style="width:500px" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="1">
				<p:outputLabel value="附加檔案：" />
			</p:column>
			<p:column colspan="1">
				<p:commandButton
					icon="fa fa-paperclip"
					value="附加檔案"
					onclick="showLoad();"
					process="@this"
					actionListener="#{attachDlgMBean.openUploadDlg(
                                                       require01MBean.reqFbkAttachMBean,
                                                       editTrace,
                                                       require01MBean.require.mapping.middle.singleUploadLimited,
                                                       'req_add_info_dlg_attach_view_id'
                                                       )}"
					update="@widgetVar(attach_upload_dlg_wv)"
					oncomplete="PF('attach_upload_dlg_wv').show();hideLoad();" />
			</p:column>
		</p:row>
	</p:panelGrid>
	<p:scrollPanel
		id="req_add_info_dlg_attach_view_id"
		mode="native"
		style="border:none;max-height:150px"
		rendered="#{empty editTrace.sid}">
		<cp:attachmentView
			model="#{require01MBean.reqFbkAttachMBean}"
			attach_depend_entity="#{editTrace}"
			show_fun="#{false}"
			ath_service_name="ReqFbkAttachService" />
	</p:scrollPanel>
	<p:row>
		<p:commandButton
			value="確定"
			process="@this req_add_info_dlg_id"
			update="require01_title_info_id title_info_click_btn_id viewPanelBottomInfoTabId"
			onclick="showLoad();"
			oncomplete="hideLoad();"
			actionListener="#{require01MBean.addInfoMBean.save(require01MBean)}" />
		<p:commandButton
			value="取消"
			onclick=";PF('req_add_info_dlg_wv').hide();reinstatedSize('req_add_info_dlg_id', 'req_add_info_dlg_edit', 50, 170);"
			process="@this"
			actionListener="#{require01MBean.addInfoMBean.cancelAddInfo(require01MBean)}" />
	</p:row>
</p:dialog>
<!--需求資訊回覆補充 附加檔案顯示-->
<p:dialog
	header="附加檔案"
	id="req_add_info_attach_dlg_id"
	position="center center-100"
	modal="true"
	widgetVar="req_add_info_attach_dlg_wv"
	closable="false"
	resizable="false">
	<p:hotkey
		bind="esc"
		handler="PF('req_add_info_attach_dlg_wv').hide();" />
	<c:set
		value="#{require01MBean.addInfoMBean.addInfoTrace}"
		var="editTrace" />
	<c:set
		value="#{require01MBean.traceMBean.findRequireTrace(require01MBean).indexOf(editTrace)}"
		var="traceIdx" />
	<p:scrollPanel
		mode="native"
		style="border:none;height:500px">
		<cp:attachmentView
			model="#{require01MBean.reqFbkAttachMBean}"
			req_bean="#{require01MBean}"
			attach_depend_entity="#{editTrace}"
			off_all_btn="#{require01MBean.require.closeCode}"
			ath_service_name="ReqFbkAttachService"
			delete_upd=":formTemplate:viewPanelBottomInfoTabId"
			delete_js="closeAllTab('req_trace_tab_wv', 'req_trace_tab_wv');PF('req_trace_tab_wv').select(#{traceIdx});" />
	</p:scrollPanel>
	<p:row>
		<p:commandButton
			value="關閉"
			onclick="PF('req_add_info_attach_dlg_wv').hide();" />
	</p:row>
</p:dialog>
<!--需求資訊回覆補充 -->
<p:dialog
	header="補充回覆"
	id="req_fbk_reply_dlg_id"
	modal="true"
	position="center center-100"
	widgetVar="req_fbk_reply_dlg_wv"
	closable="false"
	resizable="true">
	<p:hotkey
		bind="esc"
		handler="PF('req_fbk_reply_dlg_wv').hide();" />
	<c:set
		value="#{require01MBean.addInfoMBean.editReply}"
		var="editFbkReply" />
	<p:panelGrid columns="1">
		<p:row>
			<p:column colspan="2">
				<p:outputLabel
					value="#{require01MBean.findConfirmExecName(editFbkReply.person)}"
					style="color:black;font-weight: bold" />
                    &nbsp;
                    <h:outputText
					value="#{editFbkReply.date}"
					style="color:black;font-weight: bold">
					<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
				</h:outputText>&nbsp;
                </p:column>
		</p:row>
		<p:row style="vertical-align: top">
			<p:column colspan="2">
				<p:editor
					controls="font size bold italic underline color highlight"
					converter="#{editorConverter}"
					id="req_fbk_reply_dlg_edit"
					value="#{editFbkReply.contentCss}"
					width="500"
					style="width:500px" />
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="1">
				<p:outputLabel value="附加檔案：" />
			</p:column>
			<p:column colspan="1">
				<p:commandButton
					icon="fa fa-paperclip"
					value="附加檔案"
					onclick="showLoad();"
					process="@this"
					actionListener="#{attachDlgMBean.openUploadDlg(
                                                       require01MBean.reqFbkReplyAttachMBean,
                                                       editFbkReply,
                                                       require01MBean.require.mapping.middle.singleUploadLimited,
                                                       'req_fbk_reply_dlg_attach_view_id'
                                                       )}"
					update="@widgetVar(attach_upload_dlg_wv)"
					oncomplete="PF('attach_upload_dlg_wv').show();hideLoad();" />
			</p:column>
		</p:row>
	</p:panelGrid>
	<p:scrollPanel
		id="req_fbk_reply_dlg_attach_view_id"
		mode="native"
		style="border:none;max-height:150px"
		rendered="#{empty editFbkReply.sid}">
		<cp:attachmentView
			model="#{require01MBean.reqFbkReplyAttachMBean}"
			attach_depend_entity="#{editFbkReply}"
			show_fun="#{false}"
			ath_service_name="ReqFbkReplyAttachService" />
	</p:scrollPanel>
	<p:row>
		<p:commandButton
			value="確定"
			onclick="showLoad();"
			process="@this req_fbk_reply_dlg_id"
			actionListener="#{require01MBean.addInfoMBean.saveReply(require01MBean)}"
			oncomplete="hideLoad();moveScrollBottom();" />
		<p:commandButton
			value="取消"
			onclick=";PF('req_fbk_reply_dlg_wv').hide();showLoad();"
			process="@this req_fbk_reply_dlg_id"
			actionListener="#{require01MBean.addInfoMBean.cancelReplyEdit(require01MBean)}"
			oncomplete="hideLoad();" />
	</p:row>
</p:dialog>
<!--需求資訊回覆補充 附加檔案顯示-->
<p:dialog
	header="附加檔案"
	id="req_fbk_reply_attach_dlg_id"
	position="center center-100"
	modal="true"
	widgetVar="req_fbk_reply_attach_dlg_wv"
	closable="false"
	resizable="false">
	<p:hotkey
		bind="esc"
		handler="PF('req_fbk_reply_attach_dlg_wv').hide();" />
	<c:set
		value="#{require01MBean.addInfoMBean.editReply}"
		var="editFbkReply" />
	<c:set
		value="#{require01MBean.traceMBean.findRequireTrace(require01MBean).indexOf(editFbkReply.trace)}"
		var="traceIdx" />
	<p:scrollPanel
		mode="native"
		style="border:none;height:500px">
		<cp:attachmentView
			model="#{require01MBean.reqFbkReplyAttachMBean}"
			req_bean="#{require01MBean}"
			attach_depend_entity="#{editFbkReply}"
			off_all_btn="#{require01MBean.require.closeCode}"
			ath_service_name="ReqFbkReplyAttachService"
			delete_upd=":formTemplate:viewPanelBottomInfoTabId"
			delete_js="closeAllTab('req_trace_tab_wv', 'req_trace_tab_wv');PF('req_trace_tab_wv').select(#{traceIdx});" />
	</p:scrollPanel>
	<p:row>
		<p:commandButton
			value="關閉"
			onclick="PF('req_fbk_reply_attach_dlg_wv').hide();" />
	</p:row>
</p:dialog>
<!--警告 -->
<p:dialog
	header="警告"
	modal="true"
	position="center center-100"
	widgetVar="req_warning_dlg_wv"
	id="req_warning_dlg_id"
	draggable="false"
	closable="false"
	resizable="false">
	<p:hotkey
		bind="esc"
		handler="PF('req_warning_dlg_wv').hide();" />
	<p />
	<p:outputLabel
		value="#{require01MBean.warningMsg}"
		escape="false" />
	<p />
	<p:row>
		<p:commandButton
			value="確認"
			onclick="PF('req_warning_dlg_wv').hide();" />
	</p:row>
</p:dialog>
<!--結案提醒 -->
<p:dialog
	header="結案提醒"
	modal="true"
	position="center center-100"
	widgetVar="req_close_notice_dlg_wv"
	id="req_close_notice_dlg_id"
	draggable="false"
	closable="false"
	resizable="false">
	<p:hotkey
		bind="esc"
		handler="PF('req_close_notice_dlg_wv').hide();" />
	<p:outputLabel
		value="#{require01MBean.noticeMsg}"
		escape="false" />
	<p:row>
		<p:commandButton
			value="確認"
			onclick="PF('req_close_notice_dlg_wv').hide();"
			onstart="showLoad();"
			update="req_close_note_dlg_id"
			oncomplete="hideLoad();PF('req_close_note_dlg_wv').show();" />
		<p:commandButton
			value="取消"
			onclick="PF('req_close_notice_dlg_wv').hide();" />
	</p:row>
</p:dialog>
<!--結案備註說明 -->
<p:dialog
	header="結案備註說明"
	modal="true"
	position="center center-100"
	widgetVar="req_close_note_dlg_wv"
	id="req_close_note_dlg_id"
	draggable="false"
	closable="false"
	resizable="false">
	<p:hotkey
		bind="esc"
		handler="PF('req_close_note_dlg_wv').hide();" />
	<p:panelGrid>
		<p:row>
			<p:column colspan="1">
				<h:inputHidden value="#{require01MBean.forceCloce}" />
				<p:outputLabel
					value="#{require01MBean.findConfirmExecName(require01MBean.requireTrace.createdUser)}"
					style="color:black;font-weight: bold" />
                    &nbsp;
                    <h:outputText
					value="#{require01MBean.requireTrace.createdDate}"
					style="color:black;font-weight: bold">
					<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
				</h:outputText>&nbsp;
                </p:column>
		</p:row>
		<p:row>
			<p:column colspan="1">
				<p:inputTextarea
					value="#{require01MBean.requireTrace.requireTraceContent}"
					cols="35"
					rows="7"
					autoResize="true" />
			</p:column>
		</p:row>
	</p:panelGrid>
	<p:row>
		<p:commandButton
			value="確認"
			onclick="showLoad()"
			process="@this req_close_note_dlg_id"
			actionListener="#{require01MBean.executeRequireClose()}"
			oncomplete="hideLoad();PF('req_close_note_dlg_wv').hide();"
			update="require01_title_info_id title_info_click_btn_id viewPanelBottomInfoTabId" />
		<p:commandButton
			value="取消"
			onclick="PF('req_close_note_dlg_wv').hide();" />
	</p:row>
</p:dialog>
<!--需求完成提醒 -->
<p:dialog
	header="提醒"
	modal="true"
	position="center center-100"
	widgetVar="req_complete_notice_dlg_wv"
	id="req_complete_notice_dlg_id"
	draggable="false"
	closable="false"
	resizable="false">
	<p:hotkey
		bind="esc"
		handler="PF('req_complete_notice_dlg_wv').hide();" />
	<p:outputLabel
		value="#{require01MBean.noticeMsg}"
		escape="false" />
	<p />
	<p:outputLabel value="#{fn:contains(require01MBean.noticeMsg,'尚未') ? '是否繼續進行？' : '確定需求完成？'}" />
	<p:row>
		<p:commandButton
			value="確認"
			onclick="PF('req_complete_notice_dlg_wv').hide();"
			onstart="showLoad();"
			actionListener="#{require01MBean.initByCompleteTrace()}"
			update="req_complete_memo_dlg_id"
			oncomplete="hideLoad();PF('req_complete_memo_dlg_wv').show();" />
		<p:commandButton
			value="取消"
			onclick="PF('req_complete_notice_dlg_wv').hide();" />
	</p:row>
</p:dialog>
<!--需求完成提示 -->
<p:dialog
	header="提示"
	modal="true"
	position="center center-100"
	widgetVar="req_complete_prompt_dlg_wv"
	id="req_complete_prompt_dlg_id"
	draggable="false"
	closable="false"
	resizable="false">
	<p:hotkey
		bind="esc"
		handler="PF('req_complete_prompt_dlg_wv').hide();" />
	<p />
	<p:outputLabel
		value="#{require01MBean.promptMsg}"
		escape="false" />
	<p />
	<p:row>
		<p:commandButton
			value="確認"
			onclick="PF('req_complete_prompt_dlg_wv').hide();"
			onstart="showLoad();"
			actionListener="#{require01MBean.initByCompleteTrace()}"
			update="req_complete_memo_dlg_id"
			oncomplete="hideLoad();PF('req_complete_memo_dlg_wv').show();" />
		<p:commandButton
			value="取消"
			onclick="PF('req_complete_prompt_dlg_wv').hide();" />
	</p:row>
</p:dialog>
<!--需求完成資訊補充 -->
<p:dialog
	header="需求完成資訊補充"
	modal="true"
	position="center center-200"
	widgetVar="req_complete_memo_dlg_wv"
	id="req_complete_memo_dlg_id"
	closeOnEscape="true"
	resizable="false">
	<p:panelGrid>
		<p:row>
			<p:column colspan="1">
				<p:inputTextarea
					value="#{require01MBean.requireTrace.requireTraceContent}"
					cols="35"
					rows="7"
					autoResize="true" />
			</p:column>
		</p:row>
	</p:panelGrid>
	<hr />
	<p:panelGrid>
		<p:row>
			<p:column>
				<p:commandButton
					value="確認"
					onclick="showLoad()"
					process="@this req_complete_memo_dlg_id"
					update="require01_title_info_id title_info_click_btn_id viewPanelBottomInfoTabId"
					actionListener="#{require01MBean.executeRequireComplete()}"
					oncomplete="hideLoad();PF('req_complete_memo_dlg_wv').hide();" />
                &nbsp;
                <p:commandButton
					value="取消"
					onclick="PF('req_complete_memo_dlg_wv').hide();" />
			</p:column>
		</p:row>
	</p:panelGrid>
</p:dialog>
<!--修改廳主 -->
<p:dialog
	header="修改廳主"
	modal="true"
	position="center center-100"
	id="change_custmoer_id"
	widgetVar="change_custmoer_wv"
	draggable="false"
	closable="false"
	resizable="false">
	<c:set
		value="#{require01MBean.templateMBean.findThemeCom()}"
		var="comTextOne" />
	<p:hotkey
		bind="esc"
		handler="PF('change_custmoer_wv').hide();" />
	<p:ajax
		event="close"
		listener="#{require01MBean.setRenderDlgList(false)}" />
	<p />
	<p:panelGrid
		rendered="#{not empty comTextOne}"
		id="change_custmoer_panel_id">
		<p:row>
			<p:column colspan="1">
				<p:outputLabel value="廳主" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel value="：" />
			</p:column>
			<p:column colspan="2">
				<p:selectOneMenu
					value="#{require01MBean.require.customer}"
					converter="#{customerConverter}"
					var="gridVar"
					filter="true"
					panelStyle="min-width:500px;"
					filterMatchMode="contains"
					rendered="#{require01MBean.renderDlgList}">
					<p:ajax
						listener="#{require01MBean.templateMBean.changeThemeValueByCustomer(require01MBean.require.customer,comTextOne)}"
						onstart="showLoad();"
						oncomplete="hideLoad();"
						update="change_custmoer_panel_id"
						process="change_custmoer_panel_id" />
					<f:selectItem
						itemLabel="請選擇"
						itemValue="" />
					<f:selectItems
						value="#{customerMBean.getCustomerItems(require01MBean)}"
						var="item"
						itemValue="#{item}"
						itemLabel="#{item.name} @#{item.loginCode} (#{commonBean.get(item.getCustomerType())})">
					</f:selectItems>
					<p:column>
						<h:outputText value="#{gridVar.name}" />
					</p:column>
					<p:column>
						<h:outputText value="@#{gridVar.loginCode}" />
					</p:column>
					<p:column>
						<h:outputText value="(#{commonBean.get(gridVar.getCustomerType())})" />
					</p:column>
				</p:selectOneMenu>
			</p:column>
		</p:row>
		<p:row>
			<p:column colspan="1">
				<p:outputLabel value="主題" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel value="：" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel
					value="#{comTextOne.value01}"
					rendered="#{not empty comTextOne.value01}" />
			</p:column>
			<p:column colspan="1">
				<p:inputText
					style="width:300px;border:none;"
					maxlength="255"
					value="#{comTextOne.value02}" />
			</p:column>
			<p:column colspan="1">
				<p:outputLabel value="#{comTextOne.value03}" />
			</p:column>
		</p:row>
	</p:panelGrid>

	<p:row>
		<p:commandButton
			value="確定"
			onclick="showLoad()"
			process="@this change_custmoer_id"
			actionListener="#{requireSaveMBean.updateByChangeCustmoer(require01MBean)}"
			update="@this viewPanel viewPanelBottomInfoTabId"
			oncomplete="hideLoad();" />
		<p:commandButton
			value="取消"
			type="button"
			onclick="PF('change_custmoer_wv').hide();" />
	</p:row>
</p:dialog>
<!--修改提出客戶 -->
<p:dialog
	header="修改提出客戶"
	modal="true"
	position="center center-100"
	id="change_author_id"
	widgetVar="change_author_wv"
	draggable="false"
	closable="false"
	resizable="false">
	<p:hotkey
		bind="esc"
		handler="PF('change_author_wv').hide();" />
	<p:ajax
		event="close"
		listener="#{require01MBean.setRenderDlgList(false)}" />
	<p />
	<p:outputLabel value="提出客戶： " />
	<p:selectOneMenu
		value="#{require01MBean.require.author}"
		converter="#{customerConverter}"
		var="gridVar"
		filter="true"
		panelStyle="min-width:500px;"
		filterMatchMode="contains"
		rendered="#{require01MBean.renderDlgList}">
		<f:selectItem
			itemLabel="請選擇"
			itemValue="" />
		<f:selectItems
			value="#{customerMBean.getAuthorItems(require01MBean)}"
			var="item"
			itemValue="#{item}"
			itemLabel="#{item.name} @#{item.loginCode} (#{commonBean.get(item.getCustomerType())})">
		</f:selectItems>
		<p:column>
			<h:outputText value="#{gridVar.name}" />
		</p:column>
		<p:column>
			<h:outputText value="@#{gridVar.loginCode}" />
		</p:column>
		<p:column>
			<h:outputText value="(#{commonBean.get(gridVar.getCustomerType())})" />
		</p:column>
	</p:selectOneMenu>
	<p />
	<p:row>
		<p:commandButton
			value="確定"
			onclick="showLoad()"
			process="@this change_author_id"
			actionListener="#{requireSaveMBean.updateByChangeAuthor(require01MBean)}"
			update="@this viewPanel viewPanelBottomInfoTabId"
			oncomplete="hideLoad();PF('change_author_wv').hide();" />
		<p:commandButton
			value="取消"
			type="button"
			onclick="PF('change_author_wv').hide();" />
	</p:row>
</p:dialog>
<!-- 編輯存檔失敗提醒示窗 -->
<p:dialog
	header="更新失敗，請重新編輯！！"
	id="reqEditUpdateFaild"
	widgetVar="reqEditUpdateFaildWv"
	position="center center-100"
	resizable="false"
	draggable="true"
	modal="false">
	<p:scrollPanel
		style="max-height: 200px;min-width: 200px;border:none;"
		mode="native">
		<p:outputLabel
			value="#{requireSaveMBean.updateFaildMsg}"
			escape="false"
			style="width: 400px;" />
	</p:scrollPanel>
</p:dialog>

<!-- 主責單位 -->
<p:outputPanel>
	<ui:include src="require_dlg_in_charge.xhtml" />
</p:outputPanel>
<!-- 檢查項目-(系統別) -->
<p:outputPanel>
	<ui:include src="require_dlg_check_items.xhtml" />
</p:outputPanel>
</html>

