
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cp="http://java.sun.com/jsf/composite/components">


<style type="text/css">
.requireForwardDeAndPerson-messageCss>div {
	width: 99.5% !important;
	height: 99.5% !important;
}

.requireForwardDeAndPerson-messageCss iframe {
	width: 99.5% !important;
	height: 99.5% !important;
}
</style>

<p:dialog
	header="需求單轉寄"
	id="#{requireForwardDeAndPersonMBean.MAIN_DIALOG_NAME}"
	widgetVar="#{requireForwardDeAndPersonMBean.MAIN_DIALOG_NAME}"
	modal="true"
	closeOnEscape="true"
	position="center top+300"
	resizable="false"
	width="1024px"
	style="max-width:90%;"
	onShow="PF_initPosition('#{requireForwardDeAndPersonMBean.MAIN_DIALOG_NAME}')">
	<!-- 第一層 由上往下排列 -->
	<p:outputPanel
		id="#{requireForwardDeAndPersonMBean.MAIN_DIALOG_CONTENT}"
		styleClass="#{requireForwardDeAndPersonMBean.MAIN_DIALOG_CONTENT} coffee-fieldset"
		style="display: flex;flex-direction:column; justify-content: center;  padding:20px 20px 20px 20px">
		<!-- 第二層 左右對稱 : 轉寄部門區塊, 轉寄個人區塊-->
		<div
			style="display: flex; flex-direction: row; justify-content: space-between;">
			<!-- ====================================== -->
			<!-- 轉寄部門 -->
			<!-- ====================================== -->
			<p:fieldset>
				<f:facet name="legend">
					<div
						style="display: flex; flex-direction: row; align-items: center">
						<i
							style="margin-right: 8px; /*暫時不顯示*/ display: none;"
							class="fa fa-lg fa-sitemap"
							aria-hidden="true"></i>
						<div>轉寄部門</div>
						<div style="margin: 0 10px 0 10px">
							&nbsp;
						</div>
						<p:commandButton
							value="轉寄"
							onstart="showLoad();"
							actionListener="#{requireForwardDeAndPersonMBean.forwardDepPickerOpenDialog()}"
							process="@this"
							oncomplete="hideLoad();" />
					</div>
				</f:facet>
				<p:dataTable
					var="forwardDepInfo"
					value="#{requireForwardDeAndPersonMBean.forwardDepInfos}"
					rowIndexVar="rowIndex"
					scrollable="true"
					scrollHeight="250"
					emptyMessage="尚無轉寄資訊">
					<f:facet name="header">
						<div>轉寄紀錄</div>
					</f:facet>
					<p:column
						headerText="序"
						styleClass="alignCenter"
						width="15">
						<h:outputText value="#{rowIndex + 1}" />
					</p:column>
					<p:column headerText="被轉寄部門">
						<h:outputText
							value="#{forwardDepInfo.receiveDepShowName}"
							escape="false" />
						<h:outputText
							value="#{forwardDepInfo.forwardStatus}"
							escape="false"
							styleClass="WS1-1-2"
							rendered="#{not empty forwardDepInfo.forwardStatus}" />
					</p:column>
					<p:column
						width="100"
						headerText="轉寄者">
						<h:outputText
							value="#{forwardDepInfo.senderShowName}"
							escape="false" />
						<label>#{forwardDepInfo.createdDateShowName}</label>
					</p:column>
				</p:dataTable>
			</p:fieldset>

			<div style="width: 50px">
				&nbsp;
			</div>

			<!-- ====================================== -->
			<!-- 轉寄個人 -->
			<!-- ====================================== -->
			<p:fieldset legend="轉寄個人">
				<f:facet name="legend">
					<div
						style="display: flex; flex-direction: row; align-items: center">
						<i
							style="margin-right: 8px; /*暫時不顯示*/ display: none;"
							class="fa fa-lg fa-users"
							aria-hidden="true"></i>
						<div>轉寄個人</div>
						<div style="margin: 0 10px 0 10px">
							&nbsp;
						</div>
						<p:commandButton
							value="轉寄"
							onstart="showLoad();"
							actionListener="#{requireForwardDeAndPersonMBean.forwardUserPickerOpenDialog()}"
							process="@this"
							oncomplete="hideLoad();" />
					</div>
				</f:facet>
				<p:dataTable
					var="forwardPersonInfo"
					value="#{requireForwardDeAndPersonMBean.forwardPersonInfos}"
					rowIndexVar="rowIndex"
					scrollable="true"
					scrollHeight="250"
					emptyMessage="尚無轉寄資訊">
					<f:facet name="header">
						<div>轉寄紀錄</div>
					</f:facet>
					<p:column
						headerText="序"
						styleClass="alignCenter"
						width="15">
						<h:outputText value="#{rowIndex + 1}" />
					</p:column>
					<p:column headerText="收件人">
						<h:outputText
							value="#{forwardPersonInfo.receiveShowName}"
							escape="false" />
					</p:column>
					<p:column
						width="100"
						headerText="轉寄者">
						<h:outputText
							value="#{forwardPersonInfo.senderShowName}"
							escape="false" />
						<label>#{forwardPersonInfo.createdDateShowName}</label>
					</p:column>
				</p:dataTable>
			</p:fieldset>
		</div>
		<div style="margin: 5px 0px 5px 0px;">
			<hr />
		</div>
		<p:outputPanel
			style="display: flex; align-items: center; justify-content: flex-start">
			<div style="width: 10px"></div>
			<p:commandButton
				value="關閉"
				onclick="hidePF('#{requireForwardDeAndPersonMBean.MAIN_DIALOG_NAME}');" />
		</p:outputPanel>
	</p:outputPanel>
</p:dialog>


<!-- ======================================= -->
<!-- 轉寄部門選單  -->
<!-- ======================================= -->
<p:dialog
	header="請選擇轉寄部門"
	id="#{requireForwardDeAndPersonMBean.FORWARD_DEP_DIALOG_NAME}"
	widgetVar="#{requireForwardDeAndPersonMBean.FORWARD_DEP_DIALOG_NAME}"
	modal="true"
	position="center top+400"
	closeOnEscape="true"
	resizable="false"
	onShow="PF_initPosition('#{requireForwardDeAndPersonMBean.FORWARD_DEP_DIALOG_NAME}')">
	<p:outputPanel
		id="#{requireForwardDeAndPersonMBean.FORWARD_DEP_DIALOG_CONTENT}"
		styleClass="#{requireForwardDeAndPersonMBean.FORWARD_DEP_DIALOG_CONTENT}">
		<!-- multItemPicker  -->
		<cp:multItemPicker
			componentID="#{requireForwardDeAndPersonMBean.FORWARD_DEP_PICKER_ID}"
			model="#{requireForwardDeAndPersonMBean.forwardDepPicker}"
			srcMenuTitle="待選擇單位"
			targetMenuTitle="轉寄單位"
			menuWidth="240"
			menuHeight="250" />
	</p:outputPanel>
	<hr />
	<br />
	<p:outputPanel
		style="display: flex; align-items: center; justify-content: flex-start">
		<div style="width: 10px"></div>
		<p:commandButton
			value="確定"
			onstart="showLoad();"
			actionListener="#{requireForwardDeAndPersonMBean.forwardDepPickerSave(true)}"
			process="@this #{requireForwardDeAndPersonMBean.FORWARD_DEP_DIALOG_CONTENT}"
			oncomplete="hideLoad();" />
		<div style="width: 20px"></div>
		<p:commandButton
			value="取消"
			process="@this"
			onstart="hidePF('#{requireForwardDeAndPersonMBean.FORWARD_DEP_DIALOG_NAME}');" />
	</p:outputPanel>
	<br />
</p:dialog>

<!-- ======================================= -->
<!-- 轉寄人員選單  -->
<!-- ======================================= -->
<p:dialog
	header="請選擇轉寄人員"
	id="#{requireForwardDeAndPersonMBean.FORWARD_USER_DIALOG_NAME}"
	widgetVar="#{requireForwardDeAndPersonMBean.FORWARD_USER_DIALOG_NAME}"
	modal="true"
	position="center top+300"
	closeOnEscape="true"
	resizable="false"
	onShow="PF_initPosition('#{requireForwardDeAndPersonMBean.FORWARD_USER_DIALOG_NAME}')">

	<p:outputPanel
		id="#{requireForwardDeAndPersonMBean.FORWARD_USER_DIALOG_CONTENT}"
		styleClass="#{requireForwardDeAndPersonMBean.FORWARD_USER_DIALOG_CONTENT}"
		style="display: flex; align-items: flex-start; justify-content: space-between;">
		<!-- multiUserQuickPicker  -->
		<cp:multiUserQuickPicker
			componentID="#{requireForwardDeAndPersonMBean.FORWARD_USER_PICKER_ID}"
			component="#{requireForwardDeAndPersonMBean.forwardUserPicker}" />
		<div style="width: 20px;">
			&nbsp;
		</div>
		<!-- 留言訊息  -->
		<div class="coffee-block">
			<div class="coffee-block-header">留言訊息</div>
			<div style="padding: 5px">
				<p:editor
					widgetVar="requireForwardDeAndPerson_messageCss"
					styleClass="requireForwardDeAndPerson-messageCss"
					value="#{requireForwardDeAndPersonMBean.messageCss}"
					converter="#{editorConverter}"
					controls="font size bold italic underline color highlight">
				</p:editor>
			</div>
		</div>
	</p:outputPanel>
	<hr />
	<br />
	<p:outputPanel
		style="display: flex; align-items: center; justify-content: flex-start">
		<div style="width: 10px"></div>
		<p:commandButton
			value="確定"
			onclick="showLoad();saveHTML('requireForwardDeAndPerson_messageCss');"
			actionListener="#{requireForwardDeAndPersonMBean.forwardUserPickerSave(true, true)}"
			process="@this @(.requireForwardDeAndPerson-messageCss)"
			oncomplete="hideLoad();" />
		<div style="width: 20px"></div>
		<p:commandButton
			value="取消"
			process="@this"
			onstart="showLoad();hidePF('#{requireForwardDeAndPersonMBean.FORWARD_USER_DIALOG_NAME}');"
			oncomplete="hideLoad();" />
	</p:outputPanel>
	<br />
</p:dialog>
</html>

