<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:cp="http://java.sun.com/jsf/composite/components"
      >

    <p:outputPanel id="require_07_id" >
        <!-- TreeTable Use -->
    <script type="text/javascript">
        function showReqLoad() {
            $("#require_btn_load_img_id").css({'display': ''});
        }
        function hideReqLoad() {
            $("#require_btn_load_img_id").css({'display': 'none'});
        }
        jQuery(document).ready(function () {
            var winHeight = $(window).height();
            var funHeight = $("#title_info_click_btn_id").height();
            $("#viewPanel").css('height', winHeight - funHeight - 20);
        });
    </script>
        <ui:include src="require07_title_btn.xhtml" />
        <p:scrollPanel id="viewPanel" mode="native" >
            <!-- 需求單抬頭顯示(上方資訊幕) -->
            <ui:include src="require_title_info.xhtml" />
            <p:separator style=" border-style: dashed;"/>
            <!-- 需求單模版 -->
            <p:outputPanel id="templateContentId" styleClass="req_template_grid_style">
                <p:panelGrid id="require_template_id" style="width:auto">
                    <ui:include src="work_customer.xhtml"/>
                    <ui:include src="require_template.xhtml" />
                </p:panelGrid>
            </p:outputPanel>
            <!-- 需求單下方顯示(下方資訊幕)-->
            <p:outputPanel id="req07botmid" style="overflow:scroll;overflow-x: hidden;overflow-y:hidden;">
                <ui:include src="require_bottom_info.xhtml" />
            </p:outputPanel>
        </p:scrollPanel>
    </p:outputPanel>
    <!-- 需求單設定dialog集中 -->
    <ui:include src="require_include_dlg.xhtml" />
</html>

