<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	template="../template/template1.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<!-- 需求單  -->
	<ui:define name="title">
		<h:outputText value="關聯檢視" />
	</ui:define>
	<ui:define name="content">
		<ui:include src="../template/resize_js.xhtml" />
		<script type="text/javascript">
            window.onbeforeunload = function () {
                cancelLock();
            };
            function showReqLoad() {
                $("#require_btn_load_img_id").css({'display': ''});
            }
            function hideReqLoad() {
                $("#require_btn_load_img_id").css({'display': 'none'});
            }
        </script>
		<p:remoteCommand
			name="cancelLock"
			process="@this"
			actionListener="#{require01MBean.cancelLock()}" />
		<p:outputPanel id="require_02_id">
			<p:outputPanel rendered="#{require01MBean.showTitleBtn}">
				<ui:include src="require02_title_btn.xhtml" />
			</p:outputPanel>
			<p:scrollPanel
				id="viewPanel"
				mode="native">
				<!-- 需求單抬頭顯示(上方資訊幕) -->
				<ui:include src="require_title_info.xhtml" />
				<p:separator style=" border-style: dashed;" />
				<!-- 需求單模版 -->
				<p:outputPanel
					id="templateContentId"
					styleClass="req_template_grid_style">
					<p:panelGrid id="require_template_id">
						<ui:include src="work_customer.xhtml" />
						<ui:include src="require_template.xhtml" />
					</p:panelGrid>
				</p:outputPanel>
			</p:scrollPanel>
			<!-- 需求單下方顯示(下方資訊幕)-->
			<ui:include src="require_bottom_info.xhtml" />
			<!-- 部門轉發資訊 -->
			<ui:include src="../search/forward_dep_info.xhtml" />
		</p:outputPanel>
		<!-- 需求單設定dialog集中 -->
		<ui:include src="require_include_dlg.xhtml" />
		<!--共用 dialog-->
		<ui:include src="require_common_dlg.xhtml" />
		<script type="text/javascript">
            jQuery(document).ready(function () {
                $("#viewPanel").css('height', $(window).height() - $("#require_02_id").position().top - 250);
                if (checkIframe()) {
                    parent.hideLoad();
                }
            });
        </script>
	</ui:define>
</ui:composition>