<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	template="../template/template1.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<!-- 需求單  -->
	<ui:define name="title">
		<h:outputText value="技術需求單" />
	</ui:define>
	<ui:define name="content">
		<script type="text/javascript">
			window.onbeforeunload = function() {
				cancelLock();
			};
			function showReqLoad() {
				$("#require_btn_load_img_id").css({
					'display' : ''
				});
			}
			function hideReqLoad() {
				$("#require_btn_load_img_id").css({
					'display' : 'none'
				});
			}
			function moveScrollBottom() {
				var bottomHeight = $("#viewPanelBottomInfoId").height()
						- $("#viewPanelBottomInfoId").position().top;
				$("#viewPanel").scrollTop(
						$("#viewPanel").height() + bottomHeight);
			}
			function doEditContentToUpdate(obj) {
				try {
					if (self !== top) {
						parent.updateByOpenerCaller(obj);
					} else if (window.opener) {
						window.opener.updateByOpenerCaller(obj);
					}
				} catch (err) {
					console.log(err);
				}
			}
		</script>
		<p:remoteCommand
			name="cancelLock"
			process="@this"
			actionListener="#{require01MBean.cancelLock()}" />

		<p:outputPanel id="require_02_id">
			<!-- 製作進度面板 -->
			<cp:reqConfirmDepPanel model="#{reqConfirmDepPanelComponent}" />
			<p:panel
				visible="#{require01MBean.showTitleBtn}"
				style="border: none;margin:-5px -5px -5px -5px">
				<ui:include src="require02_title_btn.xhtml" />
			</p:panel>

			<p:scrollPanel
				id="viewPanel"
				mode="native">
				<!-- 需求單抬頭顯示(上方資訊幕) -->
				<ui:include src="require_title_info.xhtml" />
				<p:separator style=" border-style: dashed;" />
				<!-- 需求單模版 -->
				<p:outputPanel
					id="templateContentId"
					styleClass="req_template_grid_style">
					<p:panelGrid id="require_template_id">
						<ui:include src="work_customer.xhtml" />
						<ui:include src="require_template.xhtml" />
					</p:panelGrid>
				</p:outputPanel>

				<!-- 需求單下方顯示(下方資訊幕)-->
				<ui:include src="require_bottom_info.xhtml" />
			</p:scrollPanel>
		</p:outputPanel>

		<!--共用 dialog-->
		<ui:include src="require_common_dlg.xhtml" />
		<!-- 需求單設定dialog集中 -->
		<ui:include src="require_include_dlg.xhtml" />
		<!--ReqWebConstants use function name-->
		<p:remoteCommand
			name="transOnpg"
			actionListener="#{onpgSettingMBean.openDialogByNewAdd(require01MBean)}"
			onstart="showLoad();"
			onsuccess="hideLoad();"
			oncomplete="initReinstatedMuliDlg('onpg_setting_dlg_id','onpg_setting_dlg_content_edit','onpg_setting_dlg_desc_edit',158,250);"
			process="@this onpg_setting_dlg_id"
			update="onpg_setting_dlg_id" />
		<script type="text/javascript">
			jQuery(document).ready(
					function() {
						if ('#{require01MBean.showTitleBtn}' != 'true') {
							var iframeHeight = window.parent.document
									.getElementById('iframeCenter').height
							$("#viewPanel").css('height', iframeHeight);
						} else {
							$("#viewPanel").css('height',$(window).height()	- $("#title_info_click_btn_id").position().top - 60);
						}
					});
		</script>
	</ui:define>
</ui:composition>

