<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<p:outputPanel>
	<script type="text/javascript">
        //點閱讀明細時觸發
        function openStSignHistoryDlgFun(event) {
            openStSignHistoryDlgCommand([{name: 'testinfoIdx', value: event}]);
        }
    </script>
</p:outputPanel>

<p:remoteCommand
	name="openStSignHistoryDlgCommand"
	process="@this"
	actionListener="#{stBpmMBean.assignRefre(stBottomMBean.findRefreByIdx())}"
	update="send_test_flow_view_dlg_id"
	oncomplete="hideLoad();PF('send_test_flow_view_dlg_wv').show();" />

<p:accordionPanel
	value="#{stBottomMBean.findTestInfos(reqMBean)}"
	var="stitem"
	multiple="true"
	dynamic="false"
	id="st_acc_panel_layer_zero"
	widgetVar="st_acc_panel_layer_zero"
	activeIndex="-1">
	<p:ajax
		event="tabChange"
		process="@this"
		listener="#{stBottomMBean.updateReadRecord}" />
	<p:tab>
		<f:facet name="title">
			<p:outputPanel
				style="margin-left:10px;"
				id="wt_info_title">
				<h:outputText value="送測單號：" />
				<h:outputText
					value="#{stitem.testinfoNo}"
					style="width:100px;display:inline-block;" />
				<h:outputText value="填單單位：" />
				<h:outputText value="#{orgBean.name(stitem.createDep)} － #{usrBean.name(stitem.createdUser)}" />
                    &nbsp;&nbsp;
                    <h:outputText value="#{stitem.createdDate}">
					<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
				</h:outputText>
                    &nbsp;&nbsp;
                    <h:outputText value="送測狀態：#{showEnumBean.getWorkTestStatus(stitem.testinfoStatus)}" />
                    &nbsp;&nbsp;
                    <h:outputText
					value="送測日："
					rendered="#{stShowMBean.isContainsQADepts(stitem)}" />
				<h:outputText
					value="#{stitem.testDate}"
					rendered="#{stShowMBean.isContainsQADepts(stitem)}"
					style="width:80px;display:inline-block;">
					<f:convertDateTime pattern="yyyy/MM/dd" />
				</h:outputText>
				<h:outputText value="預計完成日：" />
				<h:outputText
					value="#{stitem.establishDate}"
					style="width:80px;display:inline-block;">
					<f:convertDateTime pattern="yyyy/MM/dd" />
				</h:outputText>
				<h:outputText
					value="排定完成日："
					rendered="#{stShowMBean.isContainsQADepts(stitem)}" />
				<h:outputText
					value="#{stitem.scheduleFinishDate}"
					rendered="#{stShowMBean.isContainsQADepts(stitem)}"
					style="width:80px;display:inline-block;">
					<f:convertDateTime pattern="yyyy/MM/dd" />
				</h:outputText>
				<h:outputText
					value="預計上線日："
					rendered="#{stShowMBean.isContainsQADepts(stitem)}" />
				<h:outputText
					value="#{stitem.expectOnlineDate}"
					rendered="#{stShowMBean.isContainsQADepts(stitem)}"
					style="width:80px;display:inline-block;">
					<f:convertDateTime pattern="yyyy/MM/dd" />
				</h:outputText>
				<p />
				<h:outputText value="送測主題：#{stitem.theme}" />
				<p:outputPanel rendered="#{not empty stitem.masterTesters or not empty stitem.slaveTesters}">
					<p />
					<h:outputText
						rendered="#{not empty stitem.masterTesters}"
						value="主測：#{usrBean.aliasNames(stitem.masterTesters)}" />
                        &nbsp;&nbsp;
                        <h:outputText
						rendered="#{not empty stitem.slaveTesters != ''}"
						value="協測：#{usrBean.aliasNames(stitem.slaveTesters)}" />
				</p:outputPanel>
			</p:outputPanel>
		</f:facet>
		<!-- 功能清單 -->
		<p:panelGrid
			columns="10"
			style="width:100%">
			<p:outputPanel>
				<p:commandButton
					value="回覆"
					onclick="showLoad();"
					process="@this"
					actionListener="#{stBottomMBean.initReply(stitem)}"
					update="send_test_reply_dlg_id"
					oncomplete="hideLoad();PF('send_test_reply_dlg_wv').show();initReinstatedDlg('send_test_reply_dlg_id','send_test_reply_dlg_edit',120,170);"
					disabled="#{stShowMBean.disableTestReply(require,stitem)}" />
				<p:commandButton
					value="退測"
					onclick="showLoad();"
					process="@this"
					actionListener="#{stBottomMBean.createEmptyHistory(stitem)}"
					update="send_test_rollback_dlg_id"
					oncomplete="hideLoad();PF('send_test_rollback_dlg_wv').show();initReinstatedDlg('send_test_rollback_dlg_id','send_test_rollback_dlg_edit',120,170);"
					disabled="#{!stShowMBean.renderedRollbackTest(require,stitem)}"
					rendered="#{stitem.testinfoStatus != 'ROLL_BACK_TEST'}" />
				<p:commandButton
					value="重測"
					onclick="showLoad();"
					process="@this"
					actionListener="#{stSetMBean.initByRetest(stitem)}"
					update="send_test_setting_dlg_id"
					oncomplete="hideLoad();PF('send_test_setting_dlg_wv').show();initReinstatedMuliDlg('send_test_setting_dlg_id','send_test_setting_dlg_content_edit','send_test_setting_dlg_desc_edit',158,250);"
					rendered="#{stShowMBean.renderedRetest(require,stitem)}" />
				<p:commandButton
					value="測試報告"
					onclick="showLoad();"
					process="@this"
					actionListener="#{stBottomMBean.initQAReport(stitem)}"
					update="send_test_qa_report_dlg_id"
					oncomplete="hideLoad();PF('send_test_qa_report_dlg_wv').show();initReinstatedDlg('send_test_qa_report_dlg_id','send_test_qa_report_dlg_edit',120,170);"
					rendered="#{stShowMBean.renderedTestReportBtn(require,stitem)}" />
				<p:commandButton
					value="測試完成"
					onclick="showLoad();"
					process="@this"
					actionListener="#{stBottomMBean.createEmptyHistory(stitem)}"
					update="send_test_test_complete_dlg_id"
					oncomplete="hideLoad();PF('send_test_test_complete_dlg_wv').show();initReinstatedDlg('send_test_test_complete_dlg_id','send_test_test_complete_dlg_edit',120,170);"
					rendered="#{stShowMBean.renderedTestComplate(require,stitem)}" />
				<p:commandButton
					value="取消測試"
					onclick="showLoad();"
					process="@this"
					actionListener="#{stBottomMBean.createEmptyHistory(stitem)}"
					update="send_test_cancel_test_dlg_id"
					oncomplete="hideLoad();PF('send_test_cancel_test_dlg_wv').show();initReinstatedDlg('send_test_cancel_test_dlg_id','send_test_cancel_test_dlg_edit',120,170);"
					rendered="#{(not empty stitem) and (not empty stitem.testinfoStatus) and (not stitem.testinfoStatus.inFinish)}"
					disabled="#{!stShowMBean.renderedCancelTest(stitem)}" />
				<p:commandButton
					value="退回"
					onclick="showLoad();"
					process="@this"
					actionListener="#{stBpmMBean.doRollBackBefor(stitem)}"
					update="send_test_process_rollback_dlg_id"
					oncomplete="hideLoad();PF('send_test_process_rollback_dlg_wv').show()"
					rendered="#{stBpmMBean.showRollBackBtn(stitem)}"
					disabled="#{stShowMBean.disableBpmBtn()}" />
				<p:commandButton
					value="簽名"
					onclick="showLoad();closeAllTab('st_acc_panel_layer_zero', 'st_acc_panel_layer_zero');"
					process="@this"
					actionListener="#{stBpmMBean.clickSign(reqMBean,stitem)}"
					update="st_acc_panel_layer_zero title_info_click_btn_id"
					oncomplete="hideLoad();PF('st_acc_panel_layer_zero').select(#{stBottomMBean.findTestInfos(reqMBean).indexOf(stitem)})"
					rendered="#{stBpmMBean.showSignBtn(stitem)}"
					disabled="#{stShowMBean.disableBpmBtn()}" />
				<p:commandButton
					value="復原"
					onclick="showLoad();closeAllTab('st_acc_panel_layer_zero', 'st_acc_panel_layer_zero');"
					process="@this"
					actionListener="#{stBpmMBean.clickRecovery(reqMBean,stitem)}"
					update="st_acc_panel_layer_zero"
					oncomplete="hideLoad();PF('st_acc_panel_layer_zero').select(#{stBottomMBean.findTestInfos(reqMBean).indexOf(stitem)})"
					rendered="#{stBpmMBean.showRecoveryBtn(stitem)}"
					disabled="#{stShowMBean.disableBpmBtn()}" />
				<p:commandButton
					value="作廢"
					onclick="showLoad();"
					process="@this"
					actionListener="#{stBpmMBean.initOpenInvaildDialog(stitem)}"
					update="send_test_process_invaild_dlg_id"
					oncomplete="hideLoad();PF('send_test_process_invaild_dlg_wv').show()"
					rendered="#{stBpmMBean.showInvaildBtn(stitem)}"
					disabled="#{stShowMBean.disableBpmBtn()}" />
				<!--dlg require_bottom_info.xhtml-->
				<p:commandButton
					value="通知資訊異動紀錄"
					actionListener="#{stSetMBean.btnLoadSubNoticeInfo(reqMBean,stitem)}"
					onclick="showLoad();"
					oncomplete="hideLoad()"
					process="@this" />
				<p:commandButton
					value="日期"
					actionListener="#{stBottomMBean.prepareUpdateDate(stitem)}"
					onclick="showLoad();"
					oncomplete="hideLoad();PF('dateButtonDlg_wv').show();"
					process="@this"
					update="dateButtonDlg" />
				<p:commandButton
					value="主測"
					actionListener="#{stBottomMBean.prepareUpdateTester(stitem, true)}"
					onstart="showLoad();"
					oncomplete="hideLoad();PF('testersButtonDlg_wv').show();"
					process="@this"
					update="testersButtonDlg"
					rendered="#{stShowMBean.renderedSendTestUpdateTesterBtn(stitem)}" />
				<p:commandButton
					value="協測"
					actionListener="#{stBottomMBean.prepareUpdateTester(stitem, false)}"
					onstart="showLoad();"
					oncomplete="hideLoad();PF('testersButtonDlg_wv').show();"
					process="@this"
					update="testersButtonDlg"
					rendered="#{stShowMBean.renderedSendTestUpdateTesterBtn(stitem)}" />
				<p:commandButton
					value="文件補齊"
					actionListener="#{stBottomMBean.commitPaper(stitem)}"
					process="@this"
					update="viewPanelBottomInfoTabId:st_acc_panel_layer_zero"
					onstart="showLoad();"
					oncomplete="hideLoad();"
					rendered="#{stShowMBean.renderedCommitPaper(stitem)}" />
				<p:commandButton
					value="排程"
					actionListener="#{stBottomMBean.joinSchedule(stitem.testinfoNo, true)}"
					process="@this"
					update="viewPanelBottomInfoTabId:st_acc_panel_layer_zero"
					onstart="showLoad();"
					oncomplete="hideLoad();"
					rendered="#{stShowMBean.renderedJoinScheduleBtn(stitem)}" />
				<p:commandButton
					value="不納排程"
					onclick="showLoad();"
					oncomplete="hideLoad();PF('unjoinScheduleReason_wv').show();"
					process="@this"
					update="unjoinScheduleReason"
					actionListener="#{stBottomMBean.createEmptyHistoryByReason(stitem.testinfoNo, '不納入QA排程表')}"
					rendered="#{stShowMBean.renderedUnjoinScheduleBtn(stitem)}" />
			</p:outputPanel>
			<p:outputPanel class="alignRight">
				<p:commandButton
					value="簽核資訊查詢"
					process="@this"
					onmousemove="showLoad();openStSignHistoryDlgFun(#{stBottomMBean.testinfos.indexOf(stitem)})"
					onmouseover="hideLoad();"
					rendered="#{stShowMBean.showSignInfo(require,stitem)}" />
				<p:commandButton
					value="歷程"
					onclick="openInNewTab();"
					process="@this st_acc_panel_layer_zero"
					oncomplete="replaceUrl('#{stBottomMBean.createSearch15ViewUrlLink(stitem)}');"
					disabled="#{stShowMBean.disableTestHistory(require,stitem)}" />
				<p:commandButton
					class="expendWidget#{stitem.testinfoNo}"
					icon="fa fa-expand"
					title="展開"
					onclick="expendWidget('st_acc_panel_layer_one_#{stitem.sid}', #{stBottomMBean.findHistorys(stitem).size()},'expendWidget#{stitem.testinfoNo}','foldWidget#{stitem.testinfoNo}');"
					rendered="#{stBottomMBean.findHistorys(stitem).size() > 1}" />
				<p:commandButton
					class="foldWidget#{stitem.testinfoNo}"
					style="display:none;"
					icon="fa fa-compress"
					title="折疊"
					onclick="foldWidget('st_acc_panel_layer_one_#{stitem.sid}', #{stBottomMBean.findHistorys(stitem).size()},'foldWidget#{stitem.testinfoNo}','expendWidget#{stitem.testinfoNo}');"
					rendered="#{stBottomMBean.findHistorys(stitem).size() > 1}" />
			</p:outputPanel>
		</p:panelGrid>

		<p:panelGrid style=" width: 100%; max-height:600px">
			<p:row style="vertical-align: top;">
				<!-- 左側資訊 -->
				<p:column colspan="1">
					<p:panelGrid id="wt_detail">
						<p:row style="vertical-align: top;">
							<p:column>
								<p:outputPanel style="text-align: center; padding: 5px; border:  green 3px outset;">
									<p:outputLabel
										value="送測"
										class="stLeftColumnTitleStyle" />
									<br />
									<p:outputLabel
										value="單位"
										class="stLeftColumnTitleStyle" />
								</p:outputPanel>
							</p:column>
							<p:column>
								<p:outputPanel>
									<p:inputText
										style="word-wrap: break-word;word-break: normal;width:39vw;"
										readonly="true"
										value="#{stShowMBean.findSendTestDepTitle(stitem.testinfoNo)}"
										class="autoSkip" />
									<p:overlayPanel
										for="@previous"
										showEffect="blind"
										hideEffect="blind">
										<p:dataTable
											var="var"
											style="width:39vw;"
											rows="20"
											paginator="true"
											value="#{stShowMBean.findSendTestDepTitleByOp(stitem.testinfoNo)}">
											<p:column
												filterMatchMode="contains"
												filterBy="#{var}">
												<p:outputLabel value="#{var}" />
											</p:column>
										</p:dataTable>
									</p:overlayPanel>
									<p:commandButton
										title="異動送測單位"
										process="@this"
										icon="fa fa-plus"
										onclick="showLoad();"
										actionListener="#{sendTestSettingMBean.sendTestDepOpenDialogByEditOnly(require01MBean, stitem)}"
										oncomplete="hideLoad();"
										update="@parent"
										disabled="#{!stShowMBean.hasModifyPermission(stitem)}" />
								</p:outputPanel>
							</p:column>
						</p:row>
						<p:row style="vertical-align: top;">
							<p:column colspan="1">
								<p:outputPanel style="text-align: center; padding: 5px; border:  red 3px outset;width: 30px; ">
									<p:outputLabel value="主題" />
								</p:outputPanel>
							</p:column>
							<p:column colspan="1">
								<!-- for edit & display -->
								<p:inputText
									style="word-wrap: break-word;word-break: normal;width:39vw;"
									value="#{stitem.theme}"
									readonly="#{!stitem.inplaceControl.themeEditable}" />

								<p:outputPanel
									rendered="#{!stitem.inplaceControl.themeEditable}"
									style="display:inline-block;">
									<p:commandButton
										icon="fa fa-pencil"
										actionListener="#{stBottomMBean.prepareEditData(stitem.testinfoNo,'theme')}"
										onstart="showLoad();"
										oncomplete="hideLoad();"
										process="@this"
										disabled="#{!stShowMBean.hasModifyPermission(stitem)}" />
								</p:outputPanel>
								<p:outputPanel
									rendered="#{stitem.inplaceControl.themeEditable}"
									style="display:inline-block;">
									<p:commandButton
										icon="fa fa-check"
										actionListener="#{stBottomMBean.editDataImpl(stitem, 'theme')}"
										onstart="showLoad();"
										oncomplete="hideLoad();"
										process="@this viewPanelBottomInfoTabId:st_acc_panel_layer_zero" />
									<p:commandButton
										icon="fa fa-close"
										actionListener="#{stBottomMBean.cancelReolad(stitem)}"
										onstart="showLoad();"
										oncomplete="hideLoad();"
										process="@this" />
								</p:outputPanel>
							</p:column>
						</p:row>
						<p:row style="vertical-align: top;">
							<p:column colspan="1">
								<p:outputPanel style="text-align: center; padding: 5px; border:  yellow 3px outset;width: 30px; ">
									<p:outputLabel value="內容" />
								</p:outputPanel>
							</p:column>
							<p:column colspan="1">
								<p:editor
									value="#{stitem.contentCss}"
									rendered="#{stitem.inplaceControl.contentEditable}"
									style="width:39vw;display:inline-block;vertical-align: top;"
									converter="#{editorConverter}"
									controls="font size bold italic underline color highlight" />
								<p:scrollPanel
									mode="native"
									style="height:250px;width:39vw;padding:  5px 5px 5px 5px;display:inline-block;"
									rendered="#{!stitem.inplaceControl.contentEditable}">
									<p:outputLabel
										style="word-wrap: break-word;word-break: normal;"
										value="#{cssBean.warp(stitem.contentCss)}"
										escape="false" />
								</p:scrollPanel>
								<p:outputPanel
									rendered="#{!stitem.inplaceControl.contentEditable}"
									style="display:inline-block;vertical-align: top;">
									<p:commandButton
										icon="fa fa-pencil"
										actionListener="#{stBottomMBean.prepareEditData(stitem.testinfoNo, 'content')}"
										onstart="showLoad();"
										oncomplete="hideLoad();"
										process="@this"
										disabled="#{!stShowMBean.hasModifyPermission(stitem)}" />
								</p:outputPanel>
								<p:outputPanel
									rendered="#{stitem.inplaceControl.contentEditable}"
									style="display:inline-block;vertical-align: top;">
									<p:commandButton
										icon="fa fa-check"
										actionListener="#{stBottomMBean.editDataImpl(stitem, 'content')}"
										onstart="showLoad();"
										oncomplete="hideLoad();"
										process="@this viewPanelBottomInfoTabId:st_acc_panel_layer_zero" />
									<p:commandButton
										icon="fa fa-close"
										actionListener="#{stBottomMBean.cancelReolad(stitem)}"
										onstart="showLoad();"
										oncomplete="hideLoad();"
										process="@this" />
								</p:outputPanel>
							</p:column>
						</p:row>
						<p:row style="vertical-align: top;">
							<p:column colspan="1">
								<p:outputPanel style="text-align: center; padding: 5px; border:  yellow 3px outset;width: 30px; ">
									<p:outputLabel value="備註" />
								</p:outputPanel>
							</p:column>
							<p:column colspan="1">
								<p:editor
									value="#{stitem.noteCss}"
									rendered="#{stitem.inplaceControl.commentEditable}"
									style="width:39vw;display:inline-block;vertical-align: top;"
									converter="#{editorConverter}"
									height="150"
									controls="font size bold italic underline color highlight" />
								<p:scrollPanel
									mode="native"
									style="height:100px;width:39vw;padding:  5px 5px 5px 5px;display:inline-block;"
									rendered="#{!stitem.inplaceControl.commentEditable}">
									<p:outputLabel
										style="word-wrap: break-word;word-break: normal;"
										value="#{cssBean.warp(stitem.noteCss)}"
										escape="false" />
								</p:scrollPanel>
								<p:outputPanel
									rendered="#{!stitem.inplaceControl.commentEditable}"
									style="display:inline-block;vertical-align: top;">
									<p:commandButton
										icon="fa fa-pencil"
										actionListener="#{stBottomMBean.prepareEditData(stitem.testinfoNo, 'comment')}"
										onstart="showLoad();"
										oncomplete="hideLoad();"
										process="@this"
										disabled="#{!stShowMBean.hasModifyPermission(stitem)}" />
								</p:outputPanel>
								<p:outputPanel
									rendered="#{stitem.inplaceControl.commentEditable}"
									style="display:inline-block;vertical-align: top;">
									<p:commandButton
										icon="fa fa-check"
										actionListener="#{stBottomMBean.editDataImpl(stitem, 'note')}"
										onstart="showLoad();"
										oncomplete="hideLoad();"
										process="@this viewPanelBottomInfoTabId:st_acc_panel_layer_zero" />
									<p:commandButton
										icon="fa fa-close"
										actionListener="#{stBottomMBean.cancelReolad(stitem)}"
										onstart="showLoad();"
										oncomplete="hideLoad();"
										process="@this" />
								</p:outputPanel>
							</p:column>
						</p:row>
						<p:row style="vertical-align: top;">
							<p:column colspan="1">
								<p:outputPanel style="text-align: center; padding: 5px; border:cornflowerblue 3px outset;width: 30px; ">
									<p:outputLabel
										value="FB"
										class="stLeftColumnTitleStyle" />
									<br />
									<p:outputLabel
										value="No"
										class="stLeftColumnTitleStyle" />
								</p:outputPanel>
							</p:column>
							<p:column colspan="1">
								<p:inputText
									rendered="#{!stitem.inplaceControl.fbNoEditable and !empty stitem.fbId}"
									readonly="true"
									style="width:39vw;color:#1818da;text-decoration:underline;cursor:pointer;"
									onclick="openTabByUrl('#{stitem.forwardToFbUrl}');"
									value="#{stitem.fbId}" />
								<p:inputText
									rendered="#{!stitem.inplaceControl.fbNoEditable and empty stitem.fbId}"
									readonly="true"
									style="width:39vw;" />
								<p:inputText
									rendered="#{stitem.inplaceControl.fbNoEditable}"
									style="width:39vw;"
									value="#{stitem.fbId}" />
								<p:outputPanel
									rendered="#{!stitem.inplaceControl.fbNoEditable}"
									style="display:inline-block;">
									<p:commandButton
										icon="fa fa-pencil"
										actionListener="#{stBottomMBean.prepareEditData(stitem.testinfoNo, 'fbNo')}"
										onstart="showLoad();"
										oncomplete="hideLoad();"
										process="@this"
										disabled="#{!stShowMBean.renderedFbNo(stitem)}" />
								</p:outputPanel>
								<p:outputPanel
									rendered="#{stitem.inplaceControl.fbNoEditable}"
									style="display:inline-block;">
									<p:commandButton
										icon="fa fa-check"
										actionListener="#{stBottomMBean.editDataImpl(stitem, 'fbNo')}"
										onstart="showLoad();"
										oncomplete="hideLoad();"
										process="@this viewPanelBottomInfoTabId:st_acc_panel_layer_zero" />
									<p:commandButton
										icon="fa fa-close"
										actionListener="#{stBottomMBean.cancelReolad(stitem)}"
										onstart="showLoad();"
										oncomplete="hideLoad();"
										process="@this" />
								</p:outputPanel>
							</p:column>
						</p:row>
						<p:row
							style="vertical-align: top;"
							rendered="#{stShowMBean.renderedQALink(stitem)}">
							<p:column colspan="1">
								<p:outputPanel style="text-align: center; padding: 5px; border:cornflowerblue 3px outset;width: 30px; ">
									<p:outputLabel
										value="QA"
										class="stLeftColumnTitleStyle" />
									<br />
									<p:outputLabel
										value="連結"
										class="stLeftColumnTitleStyle" />
								</p:outputPanel>
							</p:column>
							<p:column colspan="1">
								<p:inputText
									rendered="#{!empty stitem.qaSearchLink}"
									readonly="true"
									style="width:39vw;color:#1818da;text-decoration:underline;cursor:pointer;"
									onclick="openTabByUrl('#{stitem.qaSearchLink}');"
									value="#{stitem.qaLinkName == null ? stitem.qaSearchLink : stitem.qaLinkName}" />
								<p:inputText
									rendered="#{empty stitem.qaSearchLink}"
									readonly="true"
									style="width:39vw;" />

								<p:outputPanel style="display:inline-block;">
									<p:commandButton
										icon="fa fa-pencil"
										actionListener="#{stBottomMBean.prepareUpdateDate(stitem)}"
										onstart="showLoad();"
										oncomplete="hideLoad();PF('qaLinkDlg_wv').show();"
										update="@this qaLinkDlg" />
								</p:outputPanel>
							</p:column>
						</p:row>
					</p:panelGrid>
					<ui:include src="../resources/components/attachments.xhtml">
						<ui:param
							name="attachFiles"
							value="#{reqMBean.sendTestAttachMBean.findAttachsByLazy(stitem)}" />
						<ui:param
							name="attachMBean"
							value="#{reqMBean.sendTestAttachMBean}" />
						<ui:param
							name="dependEntity"
							value="#{stitem}" />
						<ui:param
							name="fileLimit"
							value="#{require.mapping.middle.singleUploadLimited}" />
						<ui:param
							name="disabled"
							value="#{not stShowMBean.hasModifyPermission(stitem)}" />
					</ui:include>
				</p:column>
				<!-- 右側資訊 - 歷程 (WorkTestInfoHistory)-->
				<p:column
					colspan="1"
					style="width:45%;">
					<p:scrollPanel
						mode="native"
						style="width:100%;border:none;max-height:500px;">
						<p:accordionPanel
							id="st_acc_panel_layer_one"
							widgetVar="st_acc_panel_layer_one_#{stitem.sid}"
							multiple="true"
							value="#{stBottomMBean.findHistorys(stitem)}"
							var="history">
							<p:tab>
								<f:facet name="title">
									<p:outputLabel
										value="#{reqMBean.findConfirmExecName(history.createdUser)}"
										style="font-weight: bold" />&nbsp;
                                        <h:outputText
										value="#{history.updatedDate}"
										style="font-weight: bold">
										<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
									</h:outputText>

                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <p:outputLabel
										rendered="#{history.behavior != 'REPLY'}"
										value="#{history.behavior.value}" />
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <p:commandButton
										icon="fa fa-pencil"
										title="編輯此則回覆訊息"
										class="btnAccPanelIcon"
										onsuccess="PF('st_acc_panel_layer_one_#{stitem.sid}').select('#{stBottomMBean.findHistorys(stitem).indexOf(history)}');"
										onclick="showLoad();"
										process="@this"
										actionListener="#{stBottomMBean.initEditReply(history.reply)}"
										update=":formTemplate:send_test_reply_dlg_id"
										oncomplete="hideLoad();PF('send_test_reply_dlg_wv').show();initReinstatedDlg('send_test_reply_dlg_id','send_test_reply_dlg_edit',120,170);"
										rendered="#{history.behavior eq 'REPLY' 
                                                                     and empty stBottomMBean.findAlreadyReplys(history) 
                                                                     and loginBean.user.sid eq history.reply.person.sid}"
										disabled="#{not empty stBottomMBean.findAlreadyReplys(history) 
                                                                     || not (loginBean.user.sid eq history.reply.person.sid)}" />

									<p:commandButton
										icon="fa fa-pencil"
										title="編輯"
										class="btnAccPanelIcon"
										process="@this"
										update="send_test_rollback_dlg_id"
										onstart="showLoad();"
										oncomplete="hideLoad();PF('send_test_rollback_dlg_wv').show();initReinstatedDlg('send_test_rollback_dlg_id','send_test_rollback_dlg_edit',120,170);"
										actionListener="#{stBottomMBean.openWorkTestInfoHistory(history)}"
										rendered="#{history.behavior eq 'ROLL_BACK' and stShowMBean.isEditor(history)}" />
									<p:commandButton
										icon="fa fa-pencil"
										title="編輯"
										class="btnAccPanelIcon"
										onsuccess="PF('st_acc_panel_layer_one_#{stitem.sid}').select('#{stBottomMBean.findHistorys(stitem).indexOf(history)}');"
										process="@this"
										update="send_test_cancel_test_dlg_id"
										onstart="showLoad();"
										oncomplete="hideLoad();PF('send_test_cancel_test_dlg_wv').show();initReinstatedDlg('send_test_cancel_test_dlg_id','send_test_cancel_test_dlg_edit',120,170);"
										actionListener="#{stBottomMBean.openWorkTestInfoHistory(history)}"
										rendered="#{history.behavior eq 'CANCEL_TEST' and stShowMBean.isEditor(history)}" />
									<p:commandButton
										icon="fa fa-comments-o"
										title="回覆此則回覆訊息"
										class="btnAccPanelIcon"
										onsuccess="PF('st_acc_panel_layer_one_#{stitem.sid}').select('#{stBottomMBean.findHistorys(stitem).indexOf(history)}');"
										onclick="showLoad();"
										process="@this"
										actionListener="#{stBottomMBean.initAlreadyReply(history.reply)}"
										update=":formTemplate:send_test_reply_already_dlg_id"
										oncomplete="hideLoad();PF('send_test_reply_already_dlg_wv').show();initReinstatedDlg('send_test_reply_already_dlg_id','send_test_reply_already_dlg_edit',120,170);"
										rendered="#{history.behavior eq 'REPLY'}" />
									<p:commandButton
										icon="fa fa-paperclip"
										title="附加檔案"
										class="btnAccPanelIcon"
										onclick="showLoad();"
										process="@this"
										actionListener="#{stBottomMBean.openAttachByHistory(history,sthaMBean)}"
										onsuccess="PF('st_acc_panel_layer_one_#{stitem.sid}').select('#{stBottomMBean.findHistorys(stitem).indexOf(history)}');"
										update="@widgetVar(send_test_history_attach_dlg_wv)"
										oncomplete="hideLoad();PF('send_test_history_attach_dlg_wv').show();"
										rendered="#{not (history.behavior eq 'RETEST') and not empty sthaMBean.findAttachsByLazy(history)}" />
									<p:commandButton
										icon="fa fa-expand"
										title="展開"
										onclick="expendWidget('st_acc_panel_layer_two_#{history.sid}', #{stBottomMBean.findAlreadyReplys(history).size()});"
										class="btnAccPanelIcon"
										onsuccess="PF('st_acc_panel_layer_one_#{stitem.sid}').select('#{stBottomMBean.findHistorys(stitem).indexOf(history)}');"
										rendered="#{history.behavior eq 'REPLY' and not empty stBottomMBean.findAlreadyReplys(history) and stBottomMBean.findAlreadyReplys(history).size() > 1}" />
									<p:commandButton
										icon="fa fa-compress"
										title="折疊"
										class="btnAccPanelIcon"
										onclick="foldWidget('st_acc_panel_layer_two_#{history.sid}', #{stBottomMBean.findAlreadyReplys(history).size()});"
										onsuccess="PF('st_acc_panel_layer_one_#{stitem.sid}').unselect('#{stBottomMBean.findHistorys(stitem).indexOf(history)}');"
										rendered="#{history.behavior eq 'REPLY' and not empty stBottomMBean.findAlreadyReplys(history) and stBottomMBean.findAlreadyReplys(history).size() > 1}" />
									<p:commandButton
										icon="fa fa-pencil"
										title="編輯"
										class="btnAccPanelIcon"
										process="@this"
										update="unjoinScheduleReason"
										onstart="showLoad();"
										oncomplete="hideLoad();PF('unjoinScheduleReason_wv').show();"
										actionListener="#{stBottomMBean.openWorkTestInfoHistory(history)}"
										rendered="#{history.behavior eq 'QA_UNJOIN_SCHEDULE' and stShowMBean.isQAManager()}" />
								</f:facet>
								<p:commandButton
									value="瀏覽測試報告資訊"
									onclick="showLoad();"
									process="@this"
									actionListener="#{stBottomMBean.initQAReportView(history.qaReport)}"
									update="send_test_qa_report_dlg_id send_test_qa_report_view_dlg_id"
									oncomplete="hideLoad();PF('send_test_qa_report_view_dlg_wv').show();initReinstatedDlg('send_test_qa_report_view_dlg_id','send_test_qa_report_view_dlg_edit',120,200);"
									rendered="#{history.behavior eq 'QA_TEST_COMPLETE'}" />
								<p:scrollPanel
									mode="native"
									style=" border:none; max-height:500px; max-width:550px; margin-left: -10px; margin-right:-18px;">
									<p:outputPanel style="word-wrap: break-word">
										<p:outputLabel
											style="word-wrap: break-word;word-break: normal;"
											value="#{history.behavior eq 'REPLY' ? cssBean.warp(history.reply.contentCss):
                                                                    history.behavior eq 'TEST_COMPLETE'? cssBean.warp(history.finishTestReplyCss):
                                                                    cssBean.warp(history.reasonCss)}"
											styleClass="removeMargin"
											escape="false" />
									</p:outputPanel>
								</p:scrollPanel>
								<!-- 已回覆 需判斷是否有資訊 歷史或是回覆-->
								<p:accordionPanel
									value="#{stBottomMBean.findAlreadyReplys(history)}"
									id="st_acc_panel_layer_two_#{history.sid}"
									widgetVar="st_acc_panel_layer_two_#{history.sid}"
									multiple="true"
									style="padding:.2em .2em .2em 1.5em"
									var="haReply">
									<p:tab>
										<f:facet name="title">
											<p:outputLabel
												value="#{reqMBean.findConfirmExecName(haReply.person)}"
												style="font-weight: bold" />&nbsp;
                                                <h:outputText
												value="#{haReply.updateDate}"
												style="font-weight: bold">
												<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
											</h:outputText>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <p:commandButton
												icon="fa fa-pencil"
												title="編輯此則已回覆訊息"
												class="btnAccPanelIcon"
												onsuccess="PF('st_acc_panel_layer_two_#{history.sid}').select('#{stBottomMBean.findAlreadyReplys(history).indexOf(haReply)}');"
												onclick="showLoad();"
												process="@this"
												actionListener="#{stBottomMBean.initAlreadyReplyEdit(haReply)}"
												update=":formTemplate:send_test_reply_already_dlg_id"
												oncomplete="hideLoad();PF('send_test_reply_already_dlg_wv').show();initReinstatedDlg('send_test_reply_already_dlg_id','send_test_reply_already_dlg_edit',120,170);"
												disabled="#{haReply.person.sid ne loginBean.user.sid}" />
											<p:commandButton
												icon="fa fa-paperclip"
												title="附加檔案"
												class="btnAccPanelIcon"
												onclick="showLoad();"
												process="@this"
												actionListener="#{stBottomMBean.openAttachByHistory(haReply.history,sthaMBean)}"
												onsuccess="PF('st_acc_panel_layer_two_#{history.sid}').select('#{stBottomMBean.findAlreadyReplys(history).indexOf(haReply)}');"
												update="@widgetVar(send_test_history_attach_dlg_wv)"
												oncomplete="hideLoad();PF('send_test_history_attach_dlg_wv').show();"
												rendered="#{not empty sthaMBean.findAttachsByLazy(haReply.history)}" />
										</f:facet>
										<p:scrollPanel
											mode="native"
											style="border:none; max-height:500px; max-width:550px; margin-left: -10px; margin-right:-18px;">
											<p:outputPanel style="word-wrap: break-word">
												<p:outputLabel
													style="word-wrap: break-word;word-break: normal;"
													value="#{cssBean.warp(haReply.contentCss)}"
													styleClass="removeMargin"
													escape="false" />
											</p:outputPanel>
										</p:scrollPanel>
									</p:tab>
								</p:accordionPanel>
							</p:tab>
						</p:accordionPanel>
					</p:scrollPanel>
				</p:column>
			</p:row>
		</p:panelGrid>
	</p:tab>
</p:accordionPanel>
</html>

