<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<!-- 送測資訊填寫 -->
<p:dialog
	header="送測資訊填寫"
	id="send_test_setting_dlg_id"
	position="center top+400"
	modal="true"
	widgetVar="send_test_setting_dlg_wv"
	closable="false"
	resizable="false"
	onShow="PF_initPosition('send_test_setting_dlg_wv');"
	closeOnEscape="false">
	<p:outputPanel id="send_test_setting_dlg_panel">
		<p:hotkey
			bind="esc"
			handler="PF('send_test_setting_dlg_wv').hide();"
			onstart="showLoad();"
			process="@this"
			actionListener="#{sendTestSettingMBean.cancelEdit()}"
			oncomplete="hideLoad();" />
		<c:set
			value="#{sendTestSettingMBean.editTestInfo}"
			var="editItem" />

		<!-- 執行者名稱、建立日期 -->
		<p:panelGrid>
			<p:row>
				<p:column>
					<p:outputLabel
						value="#{require01MBean.findConfirmExecName(editItem.createdUser)}"
						style="color:black;font-weight: bold" />
				</p:column>
				<p:column>
					<h:outputText
						value="#{editItem.createdDate}"
						style="color:black;font-weight: bold">
						<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
					</h:outputText>
				</p:column>
			</p:row>
		</p:panelGrid>

		<p:panelGrid style="width:100%;">
			<p:row>
				<p:column style="text-align:right;width:100px;">
					<p:outputLabel value="單據歸屬單位：" />
				</p:column>
				<p:column
					colspan="1"
					style="text-align:left">
					<h:outputLabel
						rendered="#{empty sendTestSettingMBean.ownerDepSelectItems}"
						value="#{sendTestSettingMBean.selectOwnerDepItem.name}" />
					<p:selectOneMenu
						rendered="#{not empty sendTestSettingMBean.ownerDepSelectItems}"
						value="#{sendTestSettingMBean.selectOwnerDepItem}"
						converter="#{wkItemConverter}">
						<f:selectItem
							itemLabel="請選擇"
							itemValue=""
							noSelectionOption="true" />
						<f:selectItems value="#{sendTestSettingMBean.ownerDepSelectItems}" />
					</p:selectOneMenu>
				</p:column>
			</p:row>
			<p:row>
				<p:column style="text-align:right">
					<h:outputText
						style="color:red;"
						value="＊" />
					<p:outputLabel value="送測日：" />
				</p:column>
				<p:column style="width:170px;">
					<p:outputPanel
						rendered="#{editItem.testinfoStatus != 'ROLL_BACK_TEST'}">
						<p:calendar
							styleClass="cy-calendar"
							mode="popup"
							showOn="button"
							value="#{editItem.testDate}"
							navigator="true"
							pattern="yyyy/MM/dd"
							mask="true">
							<p:ajax
								event="dateSelect"
								process="@this"
								update="establishDate"
								listener="#{sendTestSettingMBean.onDateSelect}" />
						</p:calendar>
					</p:outputPanel>
					<p:outputPanel
						rendered="#{editItem.testinfoStatus == 'ROLL_BACK_TEST'}">
						<h:outputText value="#{editItem.testDate}">
							<f:convertDateTime pattern="yyyy/MM/dd" />
						</h:outputText>
					</p:outputPanel>
				</p:column>
				<p:column></p:column>
				<p:column style="width:30px;"></p:column>
			</p:row>
			<p:row>
				<p:column style="text-align:right;">
					<h:outputText
						style="color:red;"
						value="＊" />
					<p:outputLabel value="預計完成日：" />
				</p:column>
				<p:column>
					<p:calendar
						styleClass="cy-calendar"
						id="establishDate"
						showOn="button"
						value="#{editItem.establishDate}"
						mindate="#{editItem.testDate}"
						navigator="true"
						pattern="yyyy/MM/dd"
						mask="true" />
				</p:column>
				<p:column style="text-align:right;">
					<p:outputLabel value="送測單位：" />
				</p:column>
				<p:column>
					<p:outputPanel class="send_test_setting_dlg_dep_info">
						<c:set
							var="send_test_setting_dlg_dep_desc"
							value="#{sendTestSettingMBean.prepareSendTestDepsTooltip(editItem)}" />
						<p:commandButton
							title="送測單位"
							process="@this"
							icon="fa fa-search"
							onclick="showLoad();"
							actionListener="#{sendTestSettingMBean.sendTestDepOpenDialog(require01MBean, 'EDIT_ALL')}"
							oncomplete="hideLoad();" />
						<p:tooltip
							rendered="#{not empty send_test_setting_dlg_dep_desc}"
							for="@previous"
							value="#{send_test_setting_dlg_dep_desc}"
							trackMouse="true"
							escape="false" />
					</p:outputPanel>
				</p:column>
			</p:row>
			<p:row>
				<p:column style="text-align:right;">
					<p:outputLabel value="預計上線日：" />
				</p:column>
				<p:column>
					<p:calendar
						styleClass="cy-calendar"
						value="#{editItem.expectOnlineDate}"
						showOn="button"
						navigator="true"
						pattern="yyyy/MM/dd"
						mask="true" />
				</p:column>
				<p:column style="text-align:right;">
					<p:outputLabel value="QA排程狀況查詢：" />
				</p:column>
				<p:column>
					<p:commandButton
						icon="fa fa-search"
						actionListener="#{sendTestScheduleMBean.searchAfterSchedule()}"
						process="@this"
						update="myschedule"
						onstart="showLoad();"
						oncomplete="hideLoad();PF('qaSchedule').show();" />
				</p:column>
			</p:row>
		</p:panelGrid>
		<p:separator />
		<p:panelGrid>
			<p:row>
				<p:column style="text-align:right;width:100px;">
					<h:outputText
						style="color:red;"
						value="＊" />
					<p:outputLabel value="送測主題：" />
				</p:column>
				<p:column>
					<p:inputText
						value="#{editItem.theme}"
						maxlength="255"
						style="width:590px;" />
				</p:column>
			</p:row>
			<p:row>
				<p:column style="text-align:right;vertical-align: top;">
					<h:outputText
						style="color:red;"
						value="＊" />
					<p:outputLabel value="送測內容：" />
				</p:column>
				<p:column>
					<p:editor
						value="#{editItem.contentCss}"
						converter="#{editorConverter}"
						id="send_test_setting_dlg_content_edit"
						width="600"
						height="200"
						controls="font size bold italic underline color highlight" />
				</p:column>
			</p:row>
			<p:row>
				<p:column style="text-align:right;vertical-align: top;">
					<p:outputLabel value="備註說明" />
				</p:column>
				<p:column>
					<p:editor
						value="#{editItem.noteCss}"
						converter="#{editorConverter}"
						id="send_test_setting_dlg_desc_edit"
						height="100"
						controls="font size bold italic underline color highlight" />
				</p:column>
			</p:row>
			<p:row>
				<p:column style="text-align:right;">
					<p:outputLabel value="FBID：" />
				</p:column>
				<p:column>
					<p:inputText
						id="send_test_setting_dlg_content_fbid"
						value="#{sendTestSettingMBean.editFbId}"
						maxlength="7" />
				</p:column>
			</p:row>
			<p:row rendered="#{empty editItem.sid}">
				<p:column style="text-align:right;">
					<p:outputLabel value="附加檔案：" />
				</p:column>
				<p:column>
					<p:commandButton
						icon="fa fa-paperclip"
						value="附加檔案"
						onclick="showLoad();"
						process="@this"
						actionListener="#{attachDlgMBean.openUploadDlg(
                                                           require01MBean.sendTestAttachMBean,
                                                           editItem,
                                                           require01MBean.require.mapping.middle.singleUploadLimited,
                                                           'send_test_setting_dlg_attach_view_id'
                                                           )}"
						update="@widgetVar(attach_upload_dlg_wv)"
						oncomplete="PF('attach_upload_dlg_wv').show();hideLoad();" />
				</p:column>
			</p:row>
		</p:panelGrid>

		<p:scrollPanel
			id="send_test_setting_dlg_attach_view_id"
			mode="native"
			style="border:none;max-height:100px"
			rendered="#{empty editItem.sid}">
			<cp:attachmentView
				model="#{require01MBean.sendTestAttachMBean}"
				attach_depend_entity="#{editItem}"
				show_fun="#{false}"
				ath_service_name="SendTestAttachService" />
		</p:scrollPanel>
		<p:panelGrid columns="2">
			<p:commandButton
				value="確認"
				onclick="showLoad();"
				process="@this send_test_setting_dlg_id"
				actionListener="#{sendTestSettingMBean.checkInputInfo(require01MBean)}"
				oncomplete="hideLoad();"
				update=":formTemplate:viewPanelBottomInfoTabId :formTemplate:title_info_click_btn_id
                                 :formTemplate:require01_title_info_id" />
			<p:commandButton
				value="取消"
				onstart="PF('send_test_setting_dlg_wv').hide();"
				onclick="showLoad();"
				process="@this send_test_setting_dlg_id"
				actionListener="#{sendTestSettingMBean.cancelEdit()}"
				oncomplete="hideLoad();" />
		</p:panelGrid>
	</p:outputPanel>
</p:dialog>


<!-- 轉FB -->
<p:dialog
	header="確認"
	id="send_test_setting_confirm_tran_fb_dlg_id"
	modal="true"
	widgetVar="send_test_setting_confirm_trans_fb_dlg_wv"
	draggable="false"
	closable="false"
	resizable="false">
	<p:row>
		<p:outputLabel value="是否要轉入至FB" />
	</p:row>
	<p:panelGrid columns="2">
		<p:commandButton
			value="確認"
			actionListener="#{sendTestSettingMBean.saveTestInfoEntity(require01MBean,true)}"
			onclick="showLoad();
                                     PF('send_test_setting_confirm_trans_fb_dlg_wv').hide();"
			oncomplete="hideLoad();moveScrollBottom();"
			process="@this send_test_setting_dlg_id"
			update=":formTemplate:viewPanelBottomInfoTabId :formTemplate:title_info_click_btn_id
                             :formTemplate:require01_title_info_id" />
		<p:commandButton
			value="取消"
			actionListener="#{sendTestSettingMBean.saveTestInfoEntity(require01MBean,false)}"
			onclick="showLoad();
                                     PF('send_test_setting_confirm_trans_fb_dlg_wv').hide();"
			oncomplete="hideLoad();moveScrollBottom();"
			process="@this send_test_setting_dlg_id"
			update=":formTemplate:viewPanelBottomInfoTabId :formTemplate:title_info_click_btn_id
                             :formTemplate:require01_title_info_id" />
	</p:panelGrid>
</p:dialog>

<p:dialog
	header="確認"
	id="send_test_setting_confirm_fb_change_null_dlg_id"
	modal="true"
	widgetVar="send_test_setting_confirm_fb_change_null_dlg_wv"
	draggable="false"
	closable="false"
	resizable="false">
	<p:row>
		<p:outputLabel value="請確認是否要將FBID資訊清空！" />
	</p:row>
	<p:panelGrid columns="2">
		<p:commandButton
			value="確認"
			actionListener="#{sendTestSettingMBean.saveTestByEdit(require01MBean)}"
			onclick="showLoad();
                                     PF('send_test_setting_confirm_fb_change_null_dlg_wv').hide();
                                     PF('send_test_setting_dlg_wv').hide();"
			oncomplete="hideLoad();moveScrollBottom();PF('st_acc_panel_layer_zero').select(0);"
			process="@this send_test_setting_dlg_id"
			update=":formTemplate:viewPanelBottomInfoTabId :formTemplate:title_info_click_btn_id
                             :formTemplate:require01_title_info_id" />
		<p:commandButton
			value="取消"
			actionListener="#{sendTestSettingMBean.recoverFbId()}"
			onclick="showLoad();
                                     PF('send_test_setting_confirm_fb_change_null_dlg_wv').hide();"
			oncomplete="hideLoad();"
			process="@this"
			update=":formTemplate:send_test_setting_dlg_content_fbid" />
	</p:panelGrid>
</p:dialog>

<p:dialog
	header="行事曆"
	id="qaSchedule"
	widgetVar="qaSchedule"
	modal="true"
	resizable="false"
	position="right top">
	<ui:include src="../setting/schedule.xhtml">
		<ui:param
			name="isAjaxDisabled"
			value="true" />
		<ui:param
			name="width"
			value="700px" />
		<ui:param
			name="eventHeight"
			value="12px" />
		<ui:param
			name="fontSize"
			value="12px" />
	</ui:include>
</p:dialog>


<!-- ======================================= -->
<!-- 送測單位  -->
<!-- ======================================= -->
<p:dialog
	header="送測單位挑選"
	id="#{sendTestSettingMBean.SEND_TEST_DEP_DLG_NAME}"
	widgetVar="#{sendTestSettingMBean.SEND_TEST_DEP_DLG_NAME}"
	position="center center-50"
	closeOnEscape="true"
	resizable="false"
	modal="true"
	onShow="PF_initPosition('#{sendTestSettingMBean.SEND_TEST_DEP_DLG_NAME}');">

	<p:outputPanel
		id="#{sendTestSettingMBean.SEND_TEST_DEP_DLG_CONTENT}"
		styleClass="#{sendTestSettingMBean.SEND_TEST_DEP_DLG_CONTENT}"
		style="display: flex; justify-content: center; flex-direction:column; ">
		<!-- 部門 picker  -->
		<cp:multItemPicker
			componentID="#{sendTestSettingMBean.SEND_TEST_DEP_PICKER_ID}"
			model="#{sendTestSettingMBean.sendTestDepPicker}"
			srcMenuTitle="待選擇單位"
			targetMenuTitle="送測單位"
			menuWidth="240"
			menuHeight="250" />
		<div>
			<hr />
		</div>
		<div
			style="display: flex; align-items: center; justify-content: flex-start">
			<div style="width: 20px"></div>
			<p:commandButton
				value="#{(sendTestSettingMBean.editType.name() eq 'IS_EDIT_NOTIFY')?'儲存':'確認'}"
				onstart="showLoad();"
				actionListener="#{sendTestSettingMBean.sendTestDepConfirm(true)}"
				process="@this #{sendTestSettingMBean.SEND_TEST_DEP_DLG_CONTENT}"
				update="@(.send_test_setting_dlg_dep_info)"
				oncomplete="hideLoad();" />
			<div style="width: 20px"></div>
			<p:commandButton
				value="取消"
				process="@this"
				onclick="hidePF('#{sendTestSettingMBean.SEND_TEST_DEP_DLG_NAME}');" />
		</div>
	</p:outputPanel>
	<br />
</p:dialog>

</html>

