<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cp="http://java.sun.com/jsf/composite/components"
      >
    <p:panel style="border:none">
        <p:accordionPanel widgetVar="req_trace_tab_wv" id="req_trace_tab_id" 
                          value="#{traceMBean.findRequireTrace(require01MBean)}"
                          var="trace" activeIndex="traceIdx"
                          multiple ="true">
            <p:tab>
                <f:facet name="title">
                    <p:outputLabel value="#{reqMBean.findConfirmExecName(trace.createdUser)}" 
                                   style="font-weight: bold"/>&nbsp;
                    <h:outputText value="#{trace.createdDate}"
                                  style="font-weight: bold">
                        <f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss"/>
                    </h:outputText>

                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <p:outputLabel  value="#{showEnumBean.getRequireTraceType(trace.requireTraceType)}"/>   
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <p:commandButton icon="fa fa-pencil"
                                     title="編輯訊息" 
                                     class="btnAccPanelIcon"
                                     onsuccess="PF('req_trace_tab_wv').select('#{traceIdx}');"
                                     onclick="showLoad();"
                                     process="@this"
                                     actionListener="#{addInfoMBean.initAddInfoEdit(trace)}"
                                     update=":formTemplate:req_add_info_dlg_id"
                                     oncomplete="hideLoad();PF('req_add_info_dlg_wv').show();initReinstatedDlg('req_add_info_dlg_id','req_add_info_dlg_edit',50,170);"
                                     disabled="#{not (loginBean.user.sid eq trace.createdUser.sid)}"
                                     rendered="false"
                                     />                    
                    <p:commandButton icon="fa fa-comments-o" title="補充回覆" class="btnAccPanelIcon"
                                     onclick="showLoad();"
                                     process="@this"
                                     actionListener="#{addInfoMBean.initReply(trace)}"
                                     onsuccess="PF('req_trace_tab_wv').select('#{traceIdx}');"
                                     update="req_fbk_reply_dlg_id"
                                     oncomplete="hideLoad();PF('req_fbk_reply_dlg_wv').show();initReinstatedDlg('req_fbk_reply_dlg_id','req_fbk_reply_dlg_edit',50,170);"
                                     rendered="#{trace.requireTraceType eq 'REQUIRE_INFO_MEMO'}"
                                     />
                    <p:commandButton icon="fa fa-paperclip" 
                                     title="附加檔案" 
                                     class="btnAccPanelIcon"
                                     onclick="showLoad();"
                                     process="@this"
                                     actionListener="#{addInfoMBean.openAttachByTrace(trace,fbkAttachMBean)}"
                                     onsuccess="PF('req_trace_tab_wv').select('#{traceIdx}');"
                                     update="req_add_info_attach_dlg_id"
                                     oncomplete="hideLoad();PF('req_add_info_attach_dlg_wv').show();"
                                     rendered="#{trace.requireTraceType eq 'REQUIRE_INFO_MEMO' and not empty fbkAttachMBean.findAttachsByLazy(trace)}"
                                     />   
                </f:facet>
                <!-- 一般追踨 -->
                <p:outputLabel value="#{(empty trace.requireTraceContentCss)?trace.requireTraceContent:trace.requireTraceContentCss}" 
                               style="white-space: pre;"
                               rendered="#{trace.requireTraceType ne 'REQUIRE_INFO_MEMO'}"
                               escape="false"/>
                <!-- 需求資訊補充 -->
                <p:panelGrid style=" width: 100%; max-height:600px" rendered="#{trace.requireTraceType eq 'REQUIRE_INFO_MEMO'}">
                    <p:panelGrid columns="10" style="width:100%">
                        <p:outputPanel class="alignRight">
                            <p:commandButton icon="fa fa-expand" 
                                             title="展開" 
                                             onclick="expendWidget('trace_tab_layer_reply_#{trace.sid}', #{addInfoMBean.findReplys(trace).size()});"
                                             onsuccess="PF('trace_tab_layer_reply_#{trace.sid}').select('#{addInfoMBean.findReplys(trace).indexOf(reply)}');"
                                             rendered="#{not empty addInfoMBean.findReplys(trace) and addInfoMBean.findReplys(trace).size() > 1}"
                                             />
                            <p:commandButton icon="fa fa-compress" 
                                             title="折疊" 
                                             onclick="foldWidget('trace_tab_layer_reply_#{trace.sid}', #{addInfoMBean.findReplys(trace).size()});"
                                             onsuccess="PF('trace_tab_layer_reply_#{trace.sid}').unselect('#{addInfoMBean.findReplys(trace).indexOf(trace)}');"
                                             rendered="#{not empty addInfoMBean.findReplys(trace) and addInfoMBean.findReplys(trace).size() > 1}"
                                             />  
                        </p:outputPanel>
                    </p:panelGrid> 
                    <p:panelGrid style=" width: 100%; max-height:600px">
                        <p:row style="vertical-align: top;">
                            <!-- 左側資訊(資訊回覆補充) -->
                            <p:column colspan="1" style="width:50%">
                                <p:scrollPanel mode="native" style="min-width:500px;padding:  5px 5px 5px 5px;border:none">
                                    <p:outputLabel style="word-wrap: break-word;word-break: normal;"
                                                   value="#{trace.requireTraceContentCss}"
                                                   escape="false" />
                                </p:scrollPanel>
                            </p:column>
                            <!-- 右側資訊回覆 --> 
                            <p:column colspan="1"  style="width:50%;" >
                                <p:scrollPanel mode="native" style="width:100%;border:none;max-height:500px;">
                                    <p:accordionPanel
                                        id="trace_tab_layer_reply_#{trace.sid}"
                                        widgetVar="trace_tab_layer_reply_#{trace.sid}"
                                        multiple ="true"
                                        value="#{addInfoMBean.findReplys(trace)}"
                                        var="reply">
                                        <p:tab>
                                            <f:facet name="title">
                                                <p:outputLabel value="#{reqMBean.findConfirmExecName(reply.person)}" 
                                                               style="font-weight: bold"/>&nbsp;
                                                <h:outputText value="#{reply.updateDate}"
                                                              style="font-weight: bold">
                                                    <f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss"/>
                                                </h:outputText>

                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <p:commandButton icon="fa fa-pencil"
                                                                 title="編輯此則回覆訊息" 
                                                                 class="btnAccPanelIcon"
                                                                 onsuccess="PF('trace_tab_layer_reply_#{trace.sid}').select('#{addInfoMBean.findReplys(trace).indexOf(reply)}');"
                                                                 onclick="showLoad();"
                                                                 process="@this"
                                                                 actionListener="#{addInfoMBean.initReplyEdit(reply)}"
                                                                 update=":formTemplate:req_fbk_reply_dlg_id"
                                                                 oncomplete="hideLoad();PF('req_fbk_reply_dlg_wv').show();initReinstatedDlg('req_fbk_reply_dlg_id','req_fbk_reply_dlg_edit',50,170);"
                                                                 disabled="#{not (loginBean.user.sid eq reply.person.sid)}"
                                                                 rendered="#{loginBean.user.sid eq reply.person.sid}"
                                                                 />
                                                <p:commandButton icon="fa fa-paperclip" 
                                                                 title="附加檔案" 
                                                                 class="btnAccPanelIcon"
                                                                 onclick="showLoad();"
                                                                 process="@this"
                                                                 actionListener="#{addInfoMBean.openAttachByReply(reply,replyAttachMBean)}"
                                                                 onsuccess="PF('trace_tab_layer_reply_#{trace.sid}').select('#{addInfoMBean.findReplys(trace).indexOf(reply)}');"
                                                                 update="@widgetVar(req_fbk_reply_attach_dlg_wv)"
                                                                 oncomplete="hideLoad();PF('req_fbk_reply_attach_dlg_wv').show();"
                                                                 rendered="#{not empty replyAttachMBean.findAttachsByLazy(reply)}"
                                                                 />
                                            </f:facet>
                                            <p:scrollPanel mode="native" style="border:none; max-height:500px; max-width:550px;">
                                                <p:outputPanel style="max-width:500px;word-wrap: break-word">
                                                    <p:outputLabel style="word-wrap: break-word;word-break: normal;"
                                                                   value="#{reply.contentCss}"  
                                                                   styleClass="removeMargin"
                                                                   escape="false"/>
                                                </p:outputPanel>
                                            </p:scrollPanel>
                                        </p:tab>
                                    </p:accordionPanel>
                                </p:scrollPanel>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:panelGrid>
            </p:tab>
        </p:accordionPanel>
    </p:panel>

</html>

