<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">
<!-- ================================= -->
<!-- 廳主 -->
<!-- ================================= -->
<p:row>
	<p:column colspan="1">
		<p:outputLabel
			value="＊"
			styleClass="redColor"
			style="font-weight: bold;" />
	</p:column>
	<p:column colspan="1">
		<p:outputLabel value="廳主" />
	</p:column>
	<p:column colspan="1">
		<p:outputLabel value="：" />
	</p:column>
	<p:column colspan="1">
		<p:outputLabel
			rendered="#{not require01MBean.isNormalEditMode()}"
			value="#{require01MBean.require.customer.name} @#{require01MBean.require.customer.loginCode} (#{commonBean.get(require01MBean.require.customer.getCustomerType())})" />
		<p:selectOneMenu
			value="#{require01MBean.require.customer}"
			disabled="#{requireTemplateFieldMBean.disabled}"
			converter="#{customerConverter}"
			var="gridVar"
			filter="true"
			panelStyle="min-width:500px;"
			filterMatchMode="contains"
			rendered="#{require01MBean.isNormalEditMode()}">
			<p:ajax
				listener="#{customerMBean.changeCustomerItems(require01MBean)}"
				onstart="showLoad();"
				oncomplete="hideLoad();"
				update=":formTemplate:require_template_id"
				process="@this" />
			<f:selectItem
				itemLabel="請選擇"
				itemValue="" />
			<f:selectItems
				value="#{customerMBean.getCustomerItems(require01MBean)}"
				var="item"
				itemLabelEscaped="true"
				itemValue="#{item}"
				itemLabel="#{item.name} @#{item.loginCode} (#{commonBean.get(item.getCustomerType())})">
			</f:selectItems>
			<p:column>
				<h:outputText value="#{gridVar.name}" />
			</p:column>
			<p:column>
				<h:outputText value="@#{gridVar.loginCode}" />
			</p:column>
			<p:column>
				<h:outputText value="(#{commonBean.get(gridVar.getCustomerType())})" />
			</p:column>
		</p:selectOneMenu>
	</p:column>
</p:row>
<!-- ================================= -->
<!-- 提出客戶 -->
<!-- ================================= -->
<p:row style="height: 5px;">
	<p:column colspan="20" />
</p:row>
<p:row>
	<p:column colspan="1">
	</p:column>
	<p:column colspan="1">
		<p:outputLabel value="提出客戶" />
	</p:column>
	<p:column colspan="1">
		<p:outputLabel value="：" />
	</p:column>
	<p:column colspan="1">
		<p:outputLabel
			rendered="#{not require01MBean.isNormalEditMode()}"
			value="#{require01MBean.require.author.name} @#{require01MBean.require.author.loginCode} (#{commonBean.get(require01MBean.require.author.getCustomerType())})" />
		<p:selectOneMenu
			id="authorItems"
			value="#{require01MBean.require.author}"
			disabled="#{customerMBean.disabledAuthorItems(require01MBean)
                                         ||requireTemplateFieldMBean.disabled}"
			converter="#{customerConverter}"
			var="gridVar"
			styleClass="opacity75"
			panelStyle="min-width:500px;"
			filter="true"
			filterMatchMode="contains"
			rendered="#{require01MBean.isNormalEditMode()}">
			<f:selectItem
				itemLabel="請選擇"
				itemValue="" />
			<f:selectItems
				value="#{customerMBean.getAuthorItems(require01MBean)}"
				var="item"
				itemLabelEscaped="true"
				itemValue="#{item}"
				itemLabel="#{item.name} @#{item.loginCode} (#{commonBean.get(item.getCustomerType())})">
			</f:selectItems>
			<p:column>
				<h:outputText value="#{gridVar.name}" />
			</p:column>
			<p:column>
				<h:outputText value="@#{gridVar.loginCode}" />
			</p:column>
			<p:column>
				<h:outputText value="(#{commonBean.get(gridVar.getCustomerType())})" />
			</p:column>
		</p:selectOneMenu>
	</p:column>
</p:row>

<!-- ================================= -->
<!-- 系統別 new -->
<!-- ================================= -->
<p:row style="height: 5px;">
	<p:column colspan="20" />
</p:row>
<p:row>
	<p:column colspan="1">
		<p:outputLabel
			value="＊"
			styleClass="redColor"
			style="font-weight: bold;" />
	</p:column>
	<p:column colspan="1">
		<p:outputLabel value="系統別" />
	</p:column>
	<p:column colspan="1">
		<p:outputLabel value="：" />
	</p:column>
	<p:column colspan="20">
		<p:outputPanel
			id="require_check_item_panel"
			styleClass="require_check_item_panel"
			style="display: flex; flex-direction: row; justify-content: flex-start; align-items:center">

			<!-- =================== -->
			<!-- 檢視模式 -->
			<!-- =================== -->
			<p:outputPanel rendered="#{not require01MBean.isNormalEditMode()}">
				<c:set
					var="requireCheckItemsShowInfo"
					value="#{require01MBean.requireCheckItemMBean.prepareShowInfo(require01MBean.require)}" />

				<p:outputLabel
					id="requireCheckItemsShowInfo_id"
					value="#{requireCheckItemsShowInfo.text}"
					escape="false" />

				<p:tooltip
					for="@previous"
					value="#{requireCheckItemsShowInfo.tooltip}"
					escape="false"
					trackMouse="true" />

				<h:panelGroup>
					<h:outputLabel
						value="&nbsp;&nbsp;"
						escape="false" />
					<p:commandButton
						icon="fa fa-pencil"
						title="編輯"
						actionListener="#{require01MBean.requireCheckItemMBean.event_open_editDialog(require01MBean)}"
						onclick="showLoad();"
						process="@this"
						oncomplete="hideLoad();"
						update="@(.#{requireCheckItemMBean.dialogContentName})"
						rendered="#{require01MBean.titleBtnMBean.showCheckItemsEditBtn(require01MBean)}" />
				</h:panelGroup>
			</p:outputPanel>

			<!-- =================== -->
			<!-- 直接編輯模式 -->
			<!-- =================== -->
			<p:selectManyCheckbox
				rendered="#{require01MBean.isNormalEditMode()}"
				value="#{require01MBean.requireCheckItemMBean.selectedCheckItemTypes}"
				converter="omnifaces.SelectItemsConverter">
				<f:selectItems
					value="#{selectItemBean.getRequireCheckItemTypeItems()}"
					var="currItem"
					itemLabel="#{currItem.descr}"
					itemValue="#{currItem}" />
				<p:ajax
					listener="#{require01MBean.requireCheckItemMBean.event_changeSelectedCheckItemTypes()}"
					onstart="showLoad();"
					oncomplete="hideLoad();"
					update="require_check_item_panel"
					process="@this" />
			</p:selectManyCheckbox>
		</p:outputPanel>
	</p:column>
</p:row>
</html>

