@charset "UTF-8";

/* 區塊 (咖啡色外框) */
.mutiuserqkpker-block {
	/*咖啡色外框*/
	border: 1px solid #cc9f8e;
	border-radius: 7px;
	border-style: solid;
	/*統一高度*/
	height: 400px;
}

/* 區塊-header */
.mutiuserqkpker-block-header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 26px;
	border: 1px solid #9A7061;
	background: #9A7061;
	color: #edebe8;
	font-size: 1em;
	font-weight: bold;
}

/*待選樹 資料節點 醒目*/
.mutiuserqkpker-user-node {
	/*d9cd906e*/
	background-color: #e2fcc76e;
}

.mutiuserqkpker-user-node:hover {
	background-color: #e2fcc7ff;
}

.mutiuserqkpker-search-input-style {
	max-width: 120px;
	min-width: 90px;
	height: 18px;
	padding-left: 5px;
	box-sizing: unset !important;
}

/* 搜尋框-放大鏡icon位置 */
.mutiuserqkpker-search-searchIcon-style {
	position: absolute;
	padding: 0.5rem 0.5rem !important;
}
/* 搜尋框-清除icon位置  */
.mutiuserqkpker-search-crossIcon-style {
	/*position: absolute;*/
	/*padding: 0.5rem !important;*/
	margin-left: -1.4rem !important;
}

/* 收合.展開icon Container 位置  */
.mutiuserqkpker-treeECIconContainer {
	position: absolute; /* 設為絕對定位 (absolute)*/
	top: 5px;
	right: 30px;
	z-index: 999;
}

/*fa icon 點選特效*/
.mutiuserqkpker-icon-on-hover-t1:hover {
	font-size: 1.05em;
	padding: 3px 3px 3px 3px !important;
	background-color: #ff78006e;
}

.mutiuserqkpker-icon-on-hover-t1:active {
	font-size: 1.05em;
	padding: 4px 2px 2px 4px !important;
	background-color: #ff7800;
}

.mutiuserqkpker-icon-on-hover-t2:hover {
	font-size: 1.2em;
	/*padding: 1px 1px 1px 1px !important;*/
	/*background-color: #ff88006e;*/
}

.mutiuserqkpker-icon-on-hover-t2:hover {
	font-size: 1.2em;
	/*padding: 1px 1px 1px 1px !important;*/
	/*background-color: #ff88006e;*/
}

/*已選擇清單項目*/
.mutiuserqkpker-datalist-item {
	/*限定無法選擇字*/
	/* webkit (safari, chrome) browsers */
	-webkit-user-select: none;
	/* mozilla browsers */
	-moz-user-select: none;
	/* webkit (konqueror) browsers */
	-khtml-user-select: none;
	/* IE10+ */
	-ms-user-select: none;
	-webkit-transform: translate3d(0, 0, 0);
	position: initial;
	z-index: 9999;
}

.mutiuserqkpker-datalist-item:hover {
	background-color: #d9cd90;
}

/* ============ 以下為切換開關 style ============*/
.mutiuserqkpker-switch-border {
	border: 3px solid #cc9f8e;
	border-radius: 7px;
	padding: 0px 0px 0px 0px !important;
	width: 80px;
	-webkit-box-sizing: unset;
	-moz-box-sizing: unset;
	box-sizing: unset;
}

.mutiuserqkpker-switch {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 20px;
	/*border-radius: 100px;*/
	background-color: #ccc;
	box-shadow: 0px 3px 0px rgba(0, 0, 0, .13) inset;
}

.mutiuserqkpker-switch .mutiuserqkpker-switch-btn {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	margin-left: 0;
	/*動畫從ml為0開始*/
	transition: .5s;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);
}

.mutiuserqkpker-switch-checkbox-tree {
	position: absolute;
	opacity: 0;
}

.mutiuserqkpker-switch-checkbox-tree:checked+.mutiuserqkpker-switch {
	background-color: #cc9f8e;
}

.mutiuserqkpker-switch-checkbox-list:checked+.mutiuserqkpker-switch .mutiuserqkpker-switch-btn{
	margin-left: 20px;
}

.mutiuserqkpker-switch-checkbox-list {
	position: absolute;
	opacity: 0;
}

.mutiuserqkpker-switch-checkbox-list:checked+.mutiuserqkpker-switch {
	background-color: #cc9f8e;
}

.mutiuserqkpker-switch-checkbox-list:checked+.mutiuserqkpker-switch .mutiuserqkpker-switch-btn{
	margin-left: 20px;
}