@charset "UTF-8";

.point-line {
	border: none !important;
	border-top: 1px dashed #6A4537 !important;
}

.quick-select-tree .ui-treenode-leaf-icon {
	width: 16px;
	height: 16px;
	display: inline-block !important;
}

.ui-selectbooleancheckbox {
	margin-top: 5px;
}

/* 搜尋框-放大鏡icon位置 */
.searchIcon {
	position: absolute;
	padding: 0.5rem 0.5rem !important;
}
/* 搜尋框-清除icon位置  */
.crossIcon {
	position: absolute;
	padding: 0.5rem !important;
	margin-left: -1.5rem !important;
}

/* 搜尋框-清除icon位置  */
.crossIcon2 {
	position: absolute;
	padding: 0.5rem 135px !important;
}

/*待選樹 資料節點 醒目*/
.quick-select-tree-data-node-highlight {
	background-color: #d9cd906e;
}

.quick-select-tree-data-node-highlight:hover {
	background-color: #d9cd90ff;
}

/*已選擇資料 hover 效果*/
.quick-select-tree-selected-area-hover-highlight {
	/*限定無法選擇字*/
	/* webkit (safari, chrome) browsers */
	-webkit-user-select: none;
	/* mozilla browsers */
	-moz-user-select: none;
	/* webkit (konqueror) browsers */
	-khtml-user-select: none;
	/* IE10+ */
	-ms-user-select: none;
	-webkit-transform: translate3d(0, 0, 0);
	position: initial;
	z-index: 9999;
}

.quick-select-tree-selected-area-hover-highlight:hover {
	background-color: #d9cd90;
}

/*已選擇人員*/
.orgusertree-selected-user {
	position: relative;
	z-index: 999;
}

.orgusertree-selected-user:hover {
	background-color: #d9cd90ff;
}

.orgusertree-border {
	border-width: 1px;
	border-style: solid;
	border-color: #9A7061;
}

/*待選樹 收合 icon container*/
.quick-select-tree-treeECIconContainer {
	margin-top: 5px !important;
	position: absolute;
	z-index: 9998;
	left: 200px;
}

/*待選樹 收合 icon container*/
.quick-select-tree-selected-treeECIconContainer {
	margin-top: 5px !important;
	position: absolute;
	z-index: 9998;
	left: 470px;
}

/*fa icon 點選特效*/
.icon-on-hover-t1 {
	
}

.icon-on-hover-t1:hover {
	font-size: 1.05em;
	padding: 3px 3px 3px 3px !important;
	background-color: #ff78006e;
}

.icon-on-hover-t1:active {
	font-size: 1.05em;
	padding: 4px 2px 2px 4px !important;
	background-color: #ff7800;
}

.quickSelectTree-inputSwitch {
	margin-right: 3px !important;
	border: 3px solid #cc9f8e;
	border-radius: 7px;
	padding: 0px 0px 0px 0px !important;
}

.btn-box-border {
	border: 3px solid #cc9f8e;
	border-radius: 7px;
	padding: 0px 0px 0px 0px !important;
	width: 80px
}

.btn-box {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 20px;
	/*border-radius: 100px;*/
	background-color: #ccc;
	box-shadow: 0px 3px 0px rgba(0, 0, 0, .13) inset;
}

.btn-box .btn-box-btn {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	margin-left: 0; /*動畫從ml為0開始*/
	transition: .5s;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);
}

.btn-box-checkbox {
	position: absolute;
	opacity: 0;
}

.btn-box-checkbox:checked+.btn-box {
	background-color: #cc9f8e;
}

.btn-box-checkbox:checked+.btn-box .btn-box-btn {
	margin-left: 20px;
}