@charset "UTF-8";

.settingSysNotify_panel.ui-panelgrid td, .settingSysNotify_panel.ui-panelgrid tr
	{
	border-style: solid !important;
	border-width: 2px;
	padding: 4px 10px !important;
}

.settingSysNotify_panel tr {
	border-style: solid !important;
	padding: 4px 10px !important;
	border-color: black;
	border-width: 2px;
}

.settingSysNotify_title {
	font-weight: 900;
}