<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<p:dialog widgetVar="dlgReportCustomFilter" 
              header="自訂預設搜尋條件"
              resizable="false"
              position="right top"
              modal="true">
    <p:outputPanel id="dlgReportCustomFilter_view" style="overflow: hidden;"> 
        <p:scrollPanel style="height:400px; width:400px;" mode="native">
            <p:panelGrid>
                <p:row>
                    <p:column style="text-align:right;">
                        <h:outputText value="需求類別： "/>
                    </p:column>
                    <p:column>
                        <p:selectCheckboxMenu value="#{overdueUnclosedMBean.customQueryVO.bigCategorySids}" label="需求類別" style="width: 90px;">
                            <f:selectItems value="#{categoryMBean.getBigValues()}" var="item"
                                           itemValue="#{item.sid}" itemLabel="#{item.name}"/>
                        </p:selectCheckboxMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align:right;">
                        <h:outputText value="需求單位："/>
                    </p:column>
                    <p:column>
                        <p:commandButton process="@this"  icon="fa fa-search"  update="@widgetVar(defaultdlgOrgTree)" 
                                         onclick="showLoad();"   actionListener="#{overdueUnclosedMBean.customQueryVO.orgTreeVO.btnOpenOrgTree()}" 
                                         oncomplete="hideLoad();PF('defaultdlgOrgTree').show();"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align:right;">
                        <h:outputText value="需求製作進度： "/>
                    </p:column>
                    <p:column>
                        <p:selectCheckboxMenu value="#{overdueUnclosedMBean.customQueryVO.requireStatusTypes}" label="需求製作進度" style="width: 110px;">
                            <f:selectItems value="#{reqStatusMBean.buildUnclosedCaseTypes()}"/>
                        </p:selectCheckboxMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align:right;">
                        <h:outputText value="是否閱讀： "/>
                    </p:column>
                    <p:column>
                        <p:selectOneMenu value="#{overdueUnclosedMBean.customQueryVO.readRecordType}" style="width: 80px;">
                            <f:selectItem itemLabel="全部" />
                            <f:selectItems value="#{readRecordTypeMBean.buildReadRecordTypes()}" />
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align:right;">
                        <h:outputText value="待閱原因： "/>
                    </p:column>
                    <p:column>
                        <p:selectCheckboxMenu value="#{overdueUnclosedMBean.customQueryVO.reasons}" label="待閱原因" style="width: 90px;">
                            <f:selectItems value="#{selectItemBean.getReqToBeReadTypeItems()}"/>
                        </p:selectCheckboxMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align:right;">
                        <h:outputText value="需求人員： "/>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{overdueUnclosedMBean.customQueryVO.creator}"  />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align:right;">
                        <h:outputText value="類別組合： "/>
                    </p:column>
                    <p:column>
                        <p:commandButton process="@this"  icon="fa fa-search"  actionListener="#{overdueUnclosedMBean.customQueryVO.categoryCombineVO.btnOpenCategoryTree()}"
                                         onclick="showLoad();" update="@widgetVar(defaultDlgCate)" 
                                         oncomplete="hideLoad();PF('defaultDlgCate').show();"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">
                        <p:selectOneButton value="#{overdueUnclosedMBean.customQueryVO.dateTypeIndex}" id="dateSelectItemButton">
                            <f:selectItem itemLabel="上個月" itemValue="0"/>
                            <f:selectItem itemLabel="本月份" itemValue="1" />
                            <f:selectItem itemLabel="下個月" itemValue="2" />
                            <f:selectItem itemLabel="今日" itemValue="3" />
                            <f:selectItem itemLabel="清除" itemValue="4" />
                            <p:ajax event="change" update="dateSelectItemButton"
                                    process="@this"  listener="#{overdueUnclosedMBean.customQueryVO.clearDateType()}"/>
                        </p:selectOneButton>                           
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align:right;">
                        <h:outputText value="模糊搜尋： "/>
                    </p:column>
                    <p:column>
                        <p:inputText value="#{overdueUnclosedMBean.customQueryVO.searchText}" />
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:scrollPanel>
        <p:panelGrid >
            <p:column colspan="2">
                <p:commandButton value="確定" actionListener="#{overdueUnclosedMBean.saveReportCustomFilter()}"
                                 process="@this dlgReportCustomFilter_view " update="searchClauses"
                                 onclick="showLoad();" oncomplete="hideLoad();"/>
                <p:commandButton value="取消" process="@this"
                                 onclick="PF('dlgReportCustomFilter').hide()"/>
            </p:column>
        </p:panelGrid>
    </p:outputPanel>
</p:dialog>
<!-- 單位挑選 -->
<ui:include src="../components/report_org_tree.xhtml">
    <ui:param name="widgetVar" value="defaultdlgOrgTree" />
    <ui:param name="reportOrgTreeComponent" 
              value="#{overdueUnclosedMBean.customQueryVO.orgTreeVO.orgTreeComponent}" />
</ui:include>
<!-- 類別組合樹 -->
<ui:include src="../components/category_tree.xhtml">
    <ui:param name="widgetVar" value="defaultDlgCate" />
    <ui:param name="categoryTreeComponent" 
              value="#{overdueUnclosedMBean.customQueryVO.categoryCombineVO.categoryTreeComponent}" />
</ui:include>
</html>

