<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:cp="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <p:commandButton value="主測" actionListener="#{sendTestBottomMBean.prepareUpdateTester(testInfo, true)}"
                     onstart="showLoad();" oncomplete="hideLoad();PF('testersButtonDlg_wv').show();" 
                     process="@this" update="testersButtonDlg"
                     rendered="#{sendTestShowMBean.renderedTestersBtn(testInfo)}"/>
    <p:commandButton value="協測" actionListener="#{sendTestBottomMBean.prepareUpdateTester(testInfo, false)}"
                     onstart="showLoad();" oncomplete="hideLoad();PF('testersButtonDlg_wv').show();" 
                     process="@this" update="testersButtonDlg"
                     rendered="#{sendTestShowMBean.renderedTestersBtn(testInfo)}"/>
                     
    <p:dialog header="測試人員"
              id="testersButtonDlg"
              modal="true" 
              widgetVar="testersButtonDlg_wv" 
              closable="true"
              resizable="false">
        
        <ui:include src="/components/multiSelect/qa_user_multiselect.xhtml">
            <ui:param name="mbean" value="#{require01MBean.sendTestBottomMBean}"></ui:param>
        </ui:include>
        <p:panelGrid columns="2">
            <p:commandButton value="確定" actionListener="#{require01MBean.sendTestBottomMBean.updateTesters()}"
                             onstart="showLoad();" oncomplete="hideLoad();"
                             process="@this :formTemplate:testerTarget"
                             update="@this workTestInfo_all" />
            <p:commandButton value="取消" type="button" onclick="PF('testersButtonDlg_wv').hide();"/>
        </p:panelGrid>
    </p:dialog>
</html>

