<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:cp="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <c:set value="#{require01MBean.sendTestBottomMBean.editReply}" var="editReply" />
    <p:commandButton value="回覆" 
                     onclick="showLoad();"
                     process="@this"
                     actionListener="#{sendTestBottomMBean.initReply(testInfo)}"
                     update="send_test_reply_dlg_id"
                     oncomplete="hideLoad();PF('send_test_reply_dlg_wv').show();initReinstatedDlg('send_test_reply_dlg_id','send_test_reply_dlg_edit',120,170);"
                     disabled="#{sendTestShowMBean.disableTestReply(require, testInfo)}"/>
    
    
    <!-- 回覆 -->
    <p:dialog header="測試回覆"
              id="send_test_reply_dlg_id"
              widgetVar="send_test_reply_dlg_wv" 
              modal="true" 
              closable="false"
              resizable="true"
              position="left top">
        <p:hotkey bind="esc" handler="PF('send_test_reply_dlg_wv').hide();" />
        <p:panelGrid>
            <p:row>
                <p:column colspan="2">
                    <p:outputLabel value="#{require01MBean.findConfirmExecName(editReply.person)}" style="color:black;font-weight: bold" />
                    &nbsp;
                    <h:outputText 
                        value="#{editReply.date}" style="color:black;font-weight: bold">
                        <f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss"/>
                    </h:outputText>
                </p:column>
            </p:row>
            <p:row style="vertical-align: top">
                <p:column colspan="1">
                    <p:outputLabel value="測試回覆："/>
                </p:column>
                <p:column colspan="1">
                    <p:editor value="#{editReply.contentCss}" 
                              converter="#{editorConverter}"
                              id="send_test_reply_dlg_edit" 
                              controls="font size bold italic underline color highlight"
                              width="500"
                              style="width:500px" />
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="1">
                    <p:outputLabel value="附加檔案："/>
                </p:column>
                <p:column colspan="1">
                    <p:commandButton icon="fa fa-paperclip" value="附加檔案"
                                     onclick="showLoad();"
                                     process="@this"
                                     actionListener="#{attachDlgMBean.openUploadDlg(
                                                       require01MBean.sendTestHistoryAttachMBean,
                                                       editReply.history,
                                                       require01MBean.require.mapping.middle.singleUploadLimited,
                                                       'send_test_reply_dlg_attach_view_id'
                                                       )}"
                                     update="@widgetVar(attach_upload_dlg_wv)"
                                     oncomplete="PF('attach_upload_dlg_wv').show();hideLoad();"/>
                </p:column>
            </p:row>
        </p:panelGrid>
        <p:scrollPanel id="send_test_reply_dlg_attach_view_id" mode="native" style="border:none;max-height:150px" rendered="#{empty editReply.sid}">
            <cp:attachmentView model="#{require01MBean.sendTestHistoryAttachMBean}" 
                               attach_depend_entity="#{editReply.history}"
                               show_fun="#{false}"
                               ath_service_name="SendTestHistoryAttachService"/>
        </p:scrollPanel>
        <p:row>
            <p:commandButton value="確認" 
                             onclick="showLoad();"
                             process="@this send_test_reply_dlg_id"
                             actionListener="#{require01MBean.sendTestBottomMBean.clickSaveReply()}"
                             update="@this st_acc_panel_layer_one"
                             oncomplete="hideLoad();" />
            <p:commandButton value="取消" type="button" onclick="PF('send_test_reply_dlg_wv').hide();" />
        </p:row>
    </p:dialog>
    
    <ui:include src="../../require/attach_upload_dlg.xhtml" />
</html>

