<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:cp="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <p:commandButton value="日期" actionListener="#{sendTestBottomMBean.prepareUpdateDate(testInfo)}"
                     onclick="showLoad();" oncomplete="hideLoad();PF('dateButtonDlg_wv').show();"
                     process="@this" update="dateButtonDlg" />

    <p:dialog header="日期"
              id="dateButtonDlg"
              modal="true" 
              widgetVar="dateButtonDlg_wv" 
              closable="true"
              resizable="false">
              
        <p:panelGrid style="width:100%;" id="dateButtonGrid">
            <p:row rendered="#{sendTestShowMBean.isContainsQADepts(testInfo)}">
                <p:column style="text-align:right;width:100px;">
                    <h:outputText style="color:red;" value="＊"/>
                    <p:outputLabel value="送測日："/>
                </p:column>
                <p:column>
                    <p:outputPanel rendered="#{sendTestShowMBean.modifyStatusByTestDate(testInfo)}">
                        <p:calendar styleClass="cy-calendar"
                                    value="#{testInfo.testDate}"
                                    mindate="#{now}" showOn="button" 
                                    navigator="true" pattern="yyyy/MM/dd" mask="true">
                            <p:ajax event="dateSelect" 
                                    listener="#{calendarLimitMBean.triggerEndDateMin(testInfo.testDate)}"
                                    update="calEstablishDate" process="@this" />  
                            <p:ajax event="valueChange" 
                                    listener="#{calendarLimitMBean.triggerEndDateMin(testInfo.testDate)}"
                                    update="calEstablishDate" process="@this" />
                        </p:calendar>
                    </p:outputPanel>
                    <p:outputPanel rendered="#{!sendTestShowMBean.modifyStatusByTestDate(testInfo)}">
                        <h:outputText value="#{testInfo.testDate}">
                            <f:convertDateTime pattern="yyyy/MM/dd"/>
                        </h:outputText>
                    </p:outputPanel>
                </p:column>
                <p:column>
                    <p:commandButton icon="fa fa-search" actionListener="#{sendTestScheduleMBean.searchAfterSchedule()}" 
                                        process="@this" update="myschedule"
                                        onstart="showLoad();" oncomplete="hideLoad();PF('qaSchedule').show();"/>
                </p:column>
            </p:row>
            <p:row>
                <p:column style="text-align:right;">
                    <h:outputText style="color:red;" value="＊"/>
                    <p:outputLabel value="預計完成日："/>
                </p:column>
                <p:column>
                    <p:outputPanel rendered="#{sendTestShowMBean.modifyStatusByEstablishDate(testInfo)}">
                        <p:calendar styleClass="cy-calendar" id="calEstablishDate"
                                    value="#{testInfo.establishDate}"
                                    mindate="#{calendarLimitMBean.minDate}" showOn="button" 
                                    navigator="true" pattern="yyyy/MM/dd" mask="true" />
                    </p:outputPanel>
                    <p:outputPanel rendered="#{!sendTestShowMBean.modifyStatusByEstablishDate(testInfo)}">
                        <h:outputText value="#{testInfo.establishDate}">
                            <f:convertDateTime pattern="yyyy/MM/dd"/>
                        </h:outputText>
                    </p:outputPanel>
                </p:column>
                <p:column></p:column>
            </p:row>
            <p:row rendered="#{sendTestShowMBean.modifyStatusByFinishDate(testInfo)}">
                <p:column style="text-align:right;">
                    <p:outputLabel value="排定完成日："/>
                </p:column>
                <p:column>
                    <p:outputPanel>
                        <p:calendar styleClass="cy-calendar"
                                    value="#{testInfo.scheduleFinishDate}" showOn="button"
                                    navigator="true" pattern="yyyy/MM/dd" mask="true" />
                    </p:outputPanel>
                    <p:outputPanel rendered="#{!sendTestShowMBean.modifyStatusByFinishDate(testInfo)}">
                        <h:outputText value="#{testInfo.scheduleFinishDate}">
                            <f:convertDateTime pattern="yyyy/MM/dd"/>
                        </h:outputText>
                    </p:outputPanel>
                </p:column>
                <p:column></p:column>
            </p:row>
            <p:row rendered="#{sendTestShowMBean.isContainsQADepts(testInfo)}">
                <p:column style="text-align:right;">
                    <p:outputLabel value="預計上線日："/>
                </p:column>
                <p:column>
                    <p:outputPanel rendered="#{sendTestShowMBean.modifyStatusByOnlineDate(testInfo)}">
                        <p:calendar styleClass="cy-calendar"
                                value="#{testInfo.expectOnlineDate}" showOn="button"
                                navigator="true" pattern="yyyy/MM/dd" mask="true" />
                    </p:outputPanel>
                    <p:outputPanel rendered="#{!sendTestShowMBean.modifyStatusByOnlineDate(testInfo)}">
                        <h:outputText value="#{testInfo.expectOnlineDate}">
                            <f:convertDateTime pattern="yyyy/MM/dd"/>
                        </h:outputText>
                    </p:outputPanel>
                </p:column>
                <p:column></p:column>
            </p:row>
            <p:row>
                <p:column colspan="3" style="text-align:right">
                    <p:commandButton value="確定" actionListener="#{require01MBean.sendTestBottomMBean.editDateImpl(testInfo)}"
                                     process="@this dateButtonGrid" update="@this"
                                     onstart="showLoad();" oncomplete="hideLoad();"/>
                    <p:commandButton type="button" value="取消" onclick="PF('dateButtonDlg_wv').hide();"/>
                </p:column>
            </p:row>
        </p:panelGrid>
    </p:dialog>
</html>

