<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:cp="http://java.sun.com/jsf/composite/components"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <p:commandButton value="不納排程"
                     onclick="showLoad();" oncomplete="hideLoad();PF('unjoinScheduleReason_wv').show();"
                     process="@this" update="unjoinScheduleReason"
                     actionListener="#{sendTestBottomMBean.createEmptyHistoryByReason(testInfo.testinfoNo, '不納入QA排程表')}"
                     rendered="#{sendTestShowMBean.renderedUnjoinScheduleBtn(testInfo)}" />

    <!-- 不納入排程原因 -->
    <p:dialog header="不納排程"
              id="unjoinScheduleReason"
              modal="true" 
              widgetVar="unjoinScheduleReason_wv" 
              closable="false"
              resizable="false">
        <p:hotkey bind="esc" handler="PF('unjoinScheduleReason_wv').hide();" />
        <p:panelGrid>
            <p:row>
                <p:column style="vertical-align:top;text-align:right;">
                    <p:outputLabel value="不納排程原因："/>
                </p:column>
                <p:column>
                    <p:editor value="#{require01MBean.sendTestBottomMBean.editInfoHistory.reasonCss}" 
                            converter="#{editorConverter}"
                            controls="font size bold italic underline color highlight" />
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:commandButton value="確認" 
                             actionListener="#{require01MBean.sendTestBottomMBean.unjoinSchedule(false)}"
                             process="@this unjoinScheduleReason" update="@this workTestInfo_all"
                             onstart="showLoad();" oncomplete="hideLoad();" />
                    <p:commandButton value="取消" type="button" onclick="PF('unjoinScheduleReason_wv').hide();"
                             onstart="showLoad();" oncomplete="hideLoad();"/>
                </p:column>
            </p:row>
        </p:panelGrid>
    </p:dialog>
</html>

