<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="../template/template.xhtml">

	<ui:define name="__form">
		<h:form
			id="formTemplate"
			prependId="false">
			<p:ajaxStatus oncomplete="reEditor();reThemeＷidth();" />

			<ui:insert name="menubar"></ui:insert>
			<ui:insert name="addAjaxStatus"></ui:insert>
			<ui:insert name="content"></ui:insert>
			<ui:include src="session_time_out.xhtml" />
			<p:dialog
				showHeader="false"
				widgetVar="dlgLoading"
				modal="true"
				closable="false"
				resizable="fasle"
				draggable="false"
				onShow="onShowTime();"
				onHide="onHidTime();"
				style="border:none;background:transparent;box-shadow:none;">
				<p:graphicImage value="../img/ajax-loader.gif" />
				<br />
				<span
					id="stopwatch"
					style="background: blue; color: white;">00:00:00</span>
			</p:dialog>
			<!-- common-msg 將取代 confimDlgTemplate  -->
			<p:confirmDialog
				id="confimDlgTemplate"
				widgetVar="confimDlgTemplate"
				closable="false"
				header="#{confirmDlgMBean.dlgConfirm.title}"
				position="center center-200">
				<p:hotkey
					bind="esc"
					onstart="PF('confimDlgTemplate').hide()" />
				<p:hotkey
					bind="return"
					onstart="PF('confimDlgTemplate').hide()" />
				<f:facet name="message">
					<p:outputPanel id="countDownDisplay" />
					<h:outputText
						value="#{confirmDlgMBean.dlgConfirm.message}"
						escape="false" />
				</f:facet>
				<p:commandButton
					id="confimDlgTemplateSucessId"
					value="確認"
					type="button"
					onclick="PF('confimDlgTemplate').hide()"
					onkeydown="enterToCloseConfirmDlg(event);" />
			</p:confirmDialog>
			<!-- common-msg 將取代 confimDlgTemplate  -->
			<p:dialog
				id="common-msg"
				header="#{(empty facesContext.messageList) ? '' : 
                                (facesContext.messageList[0].severity.ordinal == 2) ? '錯誤視窗' : 
                                (facesContext.messageList[0].severity.ordinal == 1) ? '警示視窗' : '訊息視窗'}"
				widgetVar="wv_commonMsg"
				modal="true"
				closable="false"
				resizable="false"
				draggable="false"
				visible="#{not empty facesContext.messageList}"
				position="center center-100">
				<p:scrollPanel
					style="max-height: 500px;max-width: 500px;border: none;"
					mode="native">
					<p:messages escape="false" />
				</p:scrollPanel>
				<p:outputPanel style="max-width: 500px;text-align:right;margin-top:20px;">
					<p:commandButton
						value="確定"
						type="button"
						onclick="PF('wv_commonMsg').hide();"
						oncomplete="hideLoad();" />
				</p:outputPanel>
			</p:dialog>

			<p:dialog
				header="訊息確認視窗"
				widgetVar="wv_confimDlgTemplate_YN"
				id="confimDlgTemplate_YN"
				modal="true"
				closable="true"
				closeOnEscape="true"
				resizable="false"
				position="center center-200"
				onShow="PF_initPosition('wv_confimDlgTemplate_YN')">
				<p:panelGrid>
					<p:row>
						<p:column>
							<p:scrollPanel
								style="max-height: 500px;max-width: 500px;border: none;"
								mode="native">
								<h:outputText
									value="#{confirmCallbackDialogController.message}"
									escape="false" />
							</p:scrollPanel>
						</p:column>
					</p:row>
					<p:row>
						<p:column>
						</p:column>
					</p:row>
					<p:row>
						<p:column style="text-align:right;">
							<p:commandButton
								value="確定"
								onclick="showLoad();PF('wv_confimDlgTemplate_YN').hide();"
								process="@this"
								update="#{confirmCallbackDialogController.updateAreaStr}"
								actionListener="#{confirmCallbackDialogController.showConfimDialogCallback()}"
								oncomplete="hideLoad();" />
							<span style="width:10px">&nbsp;</span>
							<p:commandButton
								rendered="#{confirmCallbackDialogController.hasCallbackAction()}"
								value="取消"
								onclick="showLoad();PF('wv_confimDlgTemplate_YN').hide();"
								actionListener="#{confirmCallbackDialogController.showConfimDialogCancelCallback()}"
								oncomplete="hideLoad();" />

							<p:commandButton
								rendered="#{not confirmCallbackDialogController.hasCallbackAction()}"
								value="取消"
								type="button"
								onclick="PF('wv_confimDlgTemplate_YN').hide();"
								process="@this" />
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:dialog>


		</h:form>
		<script type="text/javascript">
			//<![CDATA[
			jQuery(document).ready(function() {
				Example1.resetStopwatch();
				refreshHtmlTitle();
				reThemeＷidth();
			});
			//將parent的title替換為frame的title
			function refreshHtmlTitle() {
				if (checkIframe()) {
					//主要處理其它頁面使用openDialog時將title蓋掉
					//var htmlTitle = document.title;
					//if (htmlTitle === "群組設定作業-分派") {
					//    return;
					//}
					parent.document.title = document.title;
				}
			}
			//判斷是否按下Enter按鈕，如果是則觸發function
			function executeScriptByEnter(event, scriptName) {
				if (checkEnter(event)) {
					var jsMethod = new Function(scriptName);
					jsMethod();
				}
			}
			//更新display屬性
			function updateDisplay(id, value) {
				$('#' + id).css({
					'display' : value
				});
			}
			function enterToCloseConfirmDlg(event) {
				if (checkEnter(event)) {
					PF('confimDlgTemplate').hide();
				}
			}
			//調整主題寬度
			function reThemeＷidth() {
				if ($("#dtRequire").length > 0) {
					var exceptionThemes = [ "送測主題", "ON程式主題", "設定主題", "單據主題", "項目名稱" ];
					var hasExcepTheme = false;
					var handlerTheme = "主題";
					var isTooSmall = false;
					//比對例外主題
					$("#dtRequire_head th").each(function() {
						if ($(this).css("display") !== 'none') {
							var themeTxt = $.trim($(this).text());
							hasExcepTheme = exceptionThemes.indexOf(themeTxt) !== -1;
							if (hasExcepTheme) {
								isTooSmall = 100 > $(this).width() * 1;
								handlerTheme = themeTxt;
								if (isTooSmall) {
									$(this).width(100);
								}
								return false;
							}
						}
					});
					//不包含例外主題時比對一般主題
					if (!hasExcepTheme) {
						$("#dtRequire_head th").each(function() {
							if ($(this).css("display") !== 'none') {
								var themeTxt = $.trim($(this).text());
								if (themeTxt === handlerTheme) {
									isTooSmall = 100 > $(this).width() * 1;
									if (isTooSmall) {
										$(this).width(100);
									}
									return false;
								}
							}
						});
					}

					if (isTooSmall) {
						showThemeＷidth(handlerTheme);
					}
					if ($("#dtRequire").hasClass("ui-treetable")) {
						var treeTableBodyWidth = $("#dtRequire .ui-treetable-scrollable-body").width();
						var treeTableBodyTableWidth = $("#dtRequire .ui-treetable-scrollable-body table").width();
						if (treeTableBodyWidth !== treeTableBodyTableWidth) {
							$("#dtRequire .ui-treetable-scrollable-header-box").css({
								'margin-right' : '15px'
							});
							$("#dtRequire .ui-treetable-scrollable-footer-box").css({
								'margin-right' : '15px'
							});
						}
					}
				}
			}
			//調整主題寬度
			function showThemeＷidth(handlerTheme) {
				if ($("#dtRequire").hasClass("ui-treetable")) {
					$("#dtRequire .ui-treetable-scrollable-theadclone tr").children().each(function() {
						if ($(this).css("display") !== 'none') {
							if ($.trim($(this).text()) === handlerTheme) {
								$(this).width(100);
							}
						}
					});
				} else {
					$("#dtRequire .ui-datatable-scrollable-theadclone tr").children().each(function() {
						if ($(this).css("display") !== 'none') {
							if ($.trim($(this).text()) === handlerTheme) {
								$(this).width(100);
							}
						}
					});
				}
			}
			//選取dataTable 分頁位置
			function selectDataTablePage(obj, page) {
				if (checkWidgets(obj)) {
					PF(obj).getPaginator().setPage(page);
				}
			}
			//檢查widgets是否存在
			function checkWidgets(obj) {
				if (PrimeFaces.widgets[obj]) {
					return true;
				}
				console.error("查無 widgetVarl：" + obj)
				return false;
			}
			//只變更URL不重新導向
			function replaceUrlNotNavigation(url) {
				window.history.replaceState({}, '', url);
			}
			//]]>
	</script>
	</ui:define>

</ui:composition>