<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template1.xhtml">

	<!-- 逾時重置 -->
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>

	<!-- 共用 script 區 -->
	<ui:define name="_script">
		<script
			type="text/javascript"
			charset="utf-8"
			src="../js/search/newsearch.js?cyln=#{commonBean.getVersion()}"></script>
	</ui:define>

	<!-- _remoteCommand  -->
	<ui:insert name="_remoteCommand" />

	<!-- title  -->
	<ui:define name="title">
		<h:outputText
			value="#{newSearchDisplayComponent.reportType.reportName}" />
	</ui:define>

	<ui:define name="content">
		<!-- ============================= -->
		<!-- JS  -->
		<!-- ============================= -->
		<link
			rel="stylesheet"
			type="text/css"
			href="../resources/css/newsearch.css?cyln=#{commonBean.getVersion()}" />
		<br />
		<!-- ============================= -->
		<!-- 定義區  -->
		<!-- ============================= -->
		<ui:insert name="_definition" />

		<!-- ============================= -->
		<!-- 公用 remoteCommand  -->
		<!-- ============================= -->
		<p:remoteCommand
			name="openerByBtnUp"
			actionListener="#{controller.openerByBtn(-1)}"
			oncomplete="hideLoad();"
			process="@this ">
		</p:remoteCommand>
		<p:remoteCommand
			name="openerByBtnDown"
			actionListener="#{controller.openerByBtn(1)}"
			oncomplete="hideLoad();"
			process="@this ">
		</p:remoteCommand>

		<!-- ============================= -->
		<!-- 表頭  -->
		<!-- ============================= -->
		<p:panel
			id="headerTitle"
			rendered="#{newSearchDisplayComponent.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<!-- 報表類型  -->
			<p:outputPanel style="margin-left:5px;">
				<h:outputText
					value="報表類型： #{newSearchDisplayComponent.reportType.reportName}"
					styleClass="reportTypeColor" />
			</p:outputPanel>

			<!-- 查詢條件區  -->
			<p:outputPanel
				id="queryConditionPanel"
				style="overflow: hidden;width: 1250px;">
				<ui:insert name="_queryCondition" />
			</p:outputPanel>

		</p:panel>
		<!-- ============================= -->
		<!-- 表身  -->
		<!-- ============================= -->
		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!-- 結果列表區  -->
			<p:outputPanel
				id="qryResultPanel"
				style="overflow: hidden;"
				rendered="#{newSearchDisplayComponent.switchType eq 'CONTENT' and newSearchDisplayComponent.switchFullType != 'FULLCONTENT'}">

				<!--查詢表身-->
				<p:dataTable
					id="#{controller.dataTableId}"
					widgetVar="#{controller.dataTableWv}"
					value="#{controller.queryItems}"
					var="rowVO"
					rowKey="#{rowVO.requireSid}"
					rowIndexVar="index"
					scrollHeight="450"
					scrollable="true"
					paginator="true"
					rows="#{customColumnMBean.pageCount}"
					draggableColumns="true"
					class="reportUpdateClz"
					resizableColumns="true"
					resizeMode="expand"
					selectionMode="single"
					rowStyleClass="#{searchHelper.appendRowCss(rowVO.urgency, rowVO.readRecordType)}"
					>
					<p:ajax
						event="rowSelect"
						process="@this" />
					<p:ajax
						event="colReorder"
						update="@parent" />
					<p:ajax
						event="colResize"
						listener="#{customColumnMBean.showWithSaveBtnToTrue}"
						update="@(.customColumnClz)"
						process="@this" />

					<!-- 全畫面狀態時不渲染 -->
					<!-- 點選更新需求單明細 -->
					<f:facet name="header">
						<ui:include src="../search/custom_colum_table_title.xhtml">
							<ui:param
								name="reportDataTableId"
								value="#{controller.dataTableId}" />
						</ui:include>
					</f:facet>
					<!-- 序 -->
					<p:column
						headerText="序"
						width="12">
						<h:outputText value="#{index+1}" />
					</p:column>

					<ui:insert name="_qryResult" />

				</p:dataTable>
			</p:outputPanel>

			<!-- ===================================== -->
			<!-- 半版檢視-需求單內容 -->
			<!-- ===================================== -->
			<p:outputPanel style="width:100%;">
				<c:if
					test="#{newSearchDisplayComponent.switchFullType eq 'FULLCONTENT'}">

					<ui:include src="../require/require03.xhtml">
						<ui:param
							name="searchMBean"
							value="#{controller}" />
					</ui:include>
					<!--轉寄-->
					<ui:include src="../require/require_dlg_forword.xhtml" />
					<!--關聯-->
					<ui:include src="../require/require_relevance.xhtml" />
					<!-- 追蹤行為 -->
					<ui:include src="../require/require_trace.xhtml" />
				</c:if>
			</p:outputPanel>
		</p:outputPanel>

		<!-- 個人化報表欄位設定 -->
		<ui:include src="../search/custom_colum.xhtml" />
	</ui:define>
</ui:composition>