<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cp="http://java.sun.com/jsf/composite/components"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- 外部參數 widgetVar-->
    <!-- 外部參數 categoryTreeComponent-->
    <p:dialog widgetVar="#{widgetVar}" 
              header="類別組合" 
              modal="true" 
              resizable="false"
              position="left top">
        <p:outputPanel id="#{widgetVar}_categoryTreeId">
            <h:outputText value="名稱： "/>
            <p:inputText value="#{categoryTreeComponent.cateText}"
                         onkeydown="executeScriptByEnter(event, 'keyEnterBySearchCateTextFrom#{widgetVar}()');"/>
            <p:remoteCommand name="keyEnterBySearchCateTextFrom#{widgetVar}" 
                             actionListener="#{categoryTreeComponent.searchNodeByText()}" 
                             onstart="showLoad();"
                             oncomplete="hideLoad();"
                             update="#{widgetVar}_cateTree"
                             process="@this #{widgetVar}_categoryTreeId" />
            <p:commandButton icon="fa fa-search"
                             onclick="keyEnterBySearchCateTextFrom#{widgetVar}();"/>
            <p/>
            <p:selectBooleanCheckbox id="#{widgetVar}_isAllSel_Id"
                                     itemLabel="全選" 
                                     value="#{categoryTreeComponent.isAllSel}">
                <p:ajax listener="#{categoryTreeComponent.actionSelectALL()}" 
                        onstart="showLoad();"
                        oncomplete="hideLoad();"
                        update="#{widgetVar}_cateTree" 
                        process="@this #{widgetVar}_categoryTreeId" />
            </p:selectBooleanCheckbox>
            <p:scrollPanel mode="native" 
                           style="border: none;max-height: 500px;width: 350px;">
                <p:tree id="#{widgetVar}_cateTree" 
                        value="#{categoryTreeComponent.cateRoot}" 
                        selection="#{categoryTreeComponent.selCateNodes}" 
                        var="node" 
                        selectionMode="checkbox" >
                    <p:ajax event="select"
                            listener="#{categoryTreeComponent.onNodeSelect}" 
                            update="#{widgetVar}_isAllSel_Id"
                            process="@this"/>
                    <p:ajax event="unselect" 
                            listener="#{categoryTreeComponent.onNodeUnselect}" 
                            update="#{widgetVar}_isAllSel_Id"
                            process="@this"/>
                    <p:treeNode>
                        <h:outputText value="#{node.name}" escape="false"/>
                    </p:treeNode>
                </p:tree>
            </p:scrollPanel>
            <p/>
            <p:commandButton value="確定"  
                             actionListener="#{categoryTreeComponent.confirmSelCate()}" 
                             onclick="showLoad();"
                             oncomplete="hideLoad();PF('#{widgetVar}').hide()"
                             process="@this #{widgetVar}_categoryTreeId">
            </p:commandButton>
            <p:commandButton value="取消" 
                             onclick="PF('#{widgetVar}').hide()"
                             process="@this">
            </p:commandButton>
            <p:commandButton value="清除" 
                             actionListener="#{categoryTreeComponent.clearCate()}"
                             onclick="showLoad();" 
                             oncomplete="hideLoad();"
                             update="#{widgetVar}_categoryTreeId" 
                             process="@this">
            </p:commandButton>
        </p:outputPanel>
    </p:dialog>
</html>
