<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:cp="http://java.sun.com/jsf/composite/components"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">

<p:calendar
    id="#{startDateId}"
    widgetVar="#{startDateId}"
    styleClass="cy-calendar"
    value="#{startDate}"
    navigator="true"
    mode="popup"
    showOn="button"
    pattern="yyyy/MM/dd"
    mask="true"
    autocomplete="off">
</p:calendar>
<p:outputLabel value="～" />
<p:calendar
    id="#{endDateId}"
    widgetVar="#{endDateId}"
    styleClass="cy-calendar"
    value="#{endDate}"
    navigator="true"
    mode="popup"
    showOn="button"
    pattern="yyyy/MM/dd"
    mask="true"
    autocomplete="off">
</p:calendar>
</html>
