<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:cp="http://java.sun.com/jsf/composite/components"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <!-- 外部參數 widgetVar-->
    <!-- 外部參數 reportOrgTreeComponent-->
    <p:dialog header="組織樹" 
              widgetVar="#{widgetVar}"
              modal="true" 
              resizable="true" 
              position="left top">
        <p:outputPanel id="#{widgetVar}_panelOrgTree">
            <h:outputText value="部門："/>
            <p:inputText value="#{reportOrgTreeComponent.deptText}" 
                         placeholder="請輸入部門名稱..."
                         onkeydown="executeScriptByEnter(event, 'keyEnterBySearchDepFrom#{widgetVar}();');"/>
            <p:remoteCommand name="keyEnterBySearchDepFrom#{widgetVar}" 
                             actionListener="#{reportOrgTreeComponent.searchDep()}"
                             onstart="showLoad();"
                             oncomplete="hideLoad();"
                             update="#{widgetVar}_panelOrgTree"
                             process="@previous @this" />
            <p:commandButton icon="fa fa-search" 
                             onclick="keyEnterBySearchDepFrom#{widgetVar}();"/>
            <p:panelGrid columns="2">
                <p:selectBooleanCheckbox itemLabel="不包含停用部門" 
                                         value="#{reportOrgTreeComponent.selectJustActive}">
                    <p:ajax listener="#{reportOrgTreeComponent.rebuildRootByDeptLevel()}"
                            update="#{widgetVar}_treeId" 
                            process="@this"/>
                </p:selectBooleanCheckbox>
                <p:selectBooleanCheckbox itemLabel="全選"
                                         value="#{reportOrgTreeComponent.selectAllNode}">
                    <p:ajax listener="#{reportOrgTreeComponent.actionSelectALL()}"
                            update="#{widgetVar}_treeId" 
                            process="@this"/>
                </p:selectBooleanCheckbox>
            </p:panelGrid>
            <p:scrollPanel mode="native" 
                           style="height: 400px">
                <p:tree id="#{widgetVar}_treeId" 
                        value="#{reportOrgTreeComponent.orgTreeRoot}" 
                        var="node" 
                        selectionMode="checkbox"
                        selection="#{reportOrgTreeComponent.orgTreeSelect}"
                        propagateSelectionUp="false" 
                        style="border:none;max-height:400px;">
                    <p:ajax event="expand" 
                            listener="#{reportOrgTreeComponent.onNodeExpand}" />
                    <p:ajax event="collapse" 
                            listener="#{reportOrgTreeComponent.onNodeCollapse}" />
                    <p:treeNode>
                        <h:outputText value="#{orgBean.name(node)}" 
                                      style="color:#{node.status eq 'ACTIVE'?'black':'red'}" 
                                      styleClass="#{reportOrgTreeComponent.treeSyle(node)}" />
                    </p:treeNode>
                </p:tree>
            </p:scrollPanel>
            <p:commandButton value="確定" 
                             actionListener="#{reportOrgTreeComponent.btnSubmit()}"
                             onclick="showLoad();"
                             oncomplete="hideLoad();PF('#{widgetVar}').hide()"
                             process="#{widgetVar}_panelOrgTree" update="@this #{updateIds}" />
            <p:commandButton value="取消" 
                             type="button" 
                             onclick="PF('#{widgetVar}').hide();"/>
        </p:outputPanel>
    </p:dialog>
</html>
