<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">
<!-- tab 追蹤 -->
<p:tab rendered="#{require01MBean.require.hasTrace}">
	<f:facet name="title">
		<p:outputLabel value="追蹤" />
		<p:outputLabel
			styleClass="ui-icon ui-icon-plusthick"
			style="margin-top: -2px"
			onclick="openAllTab('viewPanelBottomInfoTabId', 'req_trace_tab_wv', 'req_trace_tab_id');" />
		<p:outputLabel
			styleClass="ui-icon ui-icon-minusthick"
			style="margin-top: -2px"
			onclick="closeAllTab('viewPanelBottomInfoTabId', 'req_trace_tab_wv', 'req_trace_tab_id');" />
	</f:facet>
	<p:scrollPanel mode="native">
		<ui:include src="../trace_bottom_info_tab.xhtml">
			<ui:param
				value="#{require01MBean}"
				name="reqMBean" />
			<ui:param
				value="#{require01MBean.require}"
				name="require" />
			<ui:param
				value="#{require01MBean.addInfoMBean}"
				name="addInfoMBean" />
			<ui:param
				value="#{require01MBean.traceMBean}"
				name="traceMBean" />
			<ui:param
				value="#{require01MBean.reqFbkAttachMBean}"
				name="fbkAttachMBean" />
			<ui:param
				value="#{require01MBean.reqFbkReplyAttachMBean}"
				name="replyAttachMBean" />
		</ui:include>
	</p:scrollPanel>
</p:tab>
</html>

