<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<p:tab rendered="#{require01MBean.require.hasPrototype}">
	<f:facet name="title">
		<p:outputLabel value="原型確認" />
		<p:outputLabel
			styleClass="ui-icon ui-icon-plusthick"
			style="margin-top: -2px"
			onclick="openAllTab('viewPanelBottomInfoTabId', 'pt_acc_panel_layer_zero', 'pt_acc_panel_layer_zero');" />
		<p:outputLabel
			styleClass="ui-icon ui-icon-minusthick"
			style="margin-top: -2px"
			onclick="closeAllTab('viewPanelBottomInfoTabId', 'pt_acc_panel_layer_zero', 'pt_acc_panel_layer_zero');" />
	</f:facet>
	<p:scrollPanel mode="native">
		<ui:include src="../pt_bottom_info_tab.xhtml">
			<ui:param
				value="#{require01MBean}"
				name="reqMBean" />
			<ui:param
				value="#{require01MBean.require}"
				name="require" />
			<ui:param
				value="#{require01MBean.ptBottomMBean}"
				name="ptBottomMBean" />
			<ui:param
				value="#{require01MBean.ptBpmMBean}"
				name="ptBpmMBean" />
			<ui:param
				value="#{require01MBean.ptHistoryAttachMBean}"
				name="pthaMBean" />
			<ui:param
				value="#{ptShowMBean}"
				name="ptShowMBean" />
		</ui:include>
	</p:scrollPanel>
</p:tab>
</html>

