<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<p:tab
	title="分派/通知資訊"
	rendered="#{require01MBean.require.hasAssign}">
	<p:outputPanel id="require_bottom_info_tab_assignsend">
		<cp:assign_send_info model="#{require01MBean.getAssignInfo()}" />
	</p:outputPanel>
</p:tab>
</html>

