<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<p:tab rendered="#{require01MBean.require.hasOnpg}">
	<f:facet name="title">
		<p:outputLabel value="ON程式" />
		<p:outputLabel
			styleClass="ui-icon ui-icon-plusthick"
			style="margin-top: -2px"
			onclick="openAllTab('viewPanelBottomInfoTabId', 'op_acc_panel_layer_zero', 'op_acc_panel_layer_zero');" />
		<p:outputLabel
			styleClass="ui-icon ui-icon-minusthick"
			style="margin-top: -2px"
			onclick="closeAllTab('viewPanelBottomInfoTabId', 'op_acc_panel_layer_zero', 'op_acc_panel_layer_zero');" />
	</f:facet>
	<p:scrollPanel mode="native">
		<ui:include src="../onpg_bottom_info_tab.xhtml">
			<ui:param
				value="#{require01MBean}"
				name="reqMBean" />
			<ui:param
				value="#{require01MBean.require}"
				name="require" />
			<ui:param
				value="#{require01MBean.onpgBottomMBean}"
				name="opBottomMBean" />
			<ui:param
				value="#{onpgShowMBean}"
				name="opShowMBean" />
		</ui:include>
	</p:scrollPanel>
</p:tab>

</html>

