<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">
<!-- tab 案件單轉入 -->
<p:tab rendered="#{not empty require01MBean.traceMBean.findRequireTraceByTransferFromTech(require01MBean)}">
	<f:facet name="title">
		<p:outputLabel value="轉入資訊" />
	</f:facet>
	<p:scrollPanel mode="native">
		<p:panel style="border:none">
			<p:dataTable
				var="o"
				value="#{require01MBean.traceMBean.findRequireTraceByTransferFromTech(require01MBean)}"
				rowKey="#{o.sid}">
				<p:column
					headerText="轉入時間 "
					style=" width: 10%">
					<p:outputLabel value="#{o.createDate}" />
					<p:tooltip
						for="@previous"
						value="#{o.createDate}"
						trackMouse="true"
						hideEvent="mouseout click">
					</p:tooltip>
				</p:column>
				<p:column
					headerText="執行單位"
					style=" width: 15%">
					<p:outputLabel value="#{o.createDepName}" />
					<p:tooltip
						for="@previous"
						value="#{o.createDepName}"
						trackMouse="true"
						hideEvent="mouseout click">
					</p:tooltip>
				</p:column>
				<p:column
					headerText="執行人員"
					style=" width: 15%">
					<p:outputLabel value="#{o.createUserName}" />
					<p:tooltip
						for="@previous"
						value="#{o.createUserName}"
						trackMouse="true"
						hideEvent="mouseout click">
					</p:tooltip>
				</p:column>
				<p:column
					headerText="ON程式主題"
					style=" width: 50%">
					<p:outputLabel value="#{o.onpgTheme}" />
					<p:tooltip
						for="@previous"
						value="#{o.onpgTheme}"
						trackMouse="true"
						hideEvent="mouseout click">
					</p:tooltip>
				</p:column>
				<p:column
					headerText="ON程式單號"
					style=" width: 10%">
					<p:outputLabel value="#{o.onpgNo}" />
					<p:tooltip
						for="@previous"
						value="#{o.onpgNo}"
						trackMouse="true"
						hideEvent="mouseout click">
					</p:tooltip>
				</p:column>
			</p:dataTable>
		</p:panel>
	</p:scrollPanel>
</p:tab>
</html>

