<?xml version='1.0' encoding='UTF-8' ?>

<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center">
	<p:commandButton
		icon="#{currOrgTrnsBtnIconStyle}"
		style="width:120px"
		value="#{currOrgTrnsButtonName}"
		actionListener="${currOrgTrnsMBean.beforeAllTrans(verify, currOrgTrnsType)}"
		onclick="showLoad();"
		oncomplete="removeElmClass('spec_RemoveCss', 'ui-panelgrid');hideLoad();"
		process="@this" />
	<div style="width: 6px" />
	<p:commandButton
		icon="ui-icon-search"
		style="width:28px"
		actionListener="${currOrgTrnsMBean.openTrnsWindow(verify, currOrgTrnsType)}"
		onclick="showLoad();"
		oncomplete="removeElmClass('spec_RemoveCss', 'ui-panelgrid');hideLoad();"
		process="@this" />
	<div style="width: 2px" />
	<h:outputText
		value="#{currOrgTrnsMBean.getWaitTransCount(verify, currOrgTrnsType)}"
		style="width:10px;white-space:nowrap;"
		escape="false" />
</div>
<div style="height: 5px" />
<div style="display: flex; align-self: stretch; width: 100%; height: 1px; border-top: solid #cc9f8e 3px;" />
<div style="height: 5px" />
</html>