<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<p:dialog
		header="轉寄 單位"
		widgetVar="#{orgTrnsAlertInboxMBean.DIALOG_ID}"
		modal="true"
		position="center center-50"
		width="calc(100% - 50px)"
		maximizable="true"
		closeOnEscape="true"
		resizable="false">
		<p:panelGrid
			styleClass="spec_RemoveCss"
			id="#{orgTrnsAlertInboxMBean.DIALOG_CONTENT_ID}">
			<p:row>
				<p:column>
					<p:panelGrid columns="5">
						<p:commandButton
							value="轉檔"
							icon="fa fa-refresh"
							actionListener="#{orgTrnsAlertInboxMBean.btnTrnsSelected()}"
							onclick="showLoad();"
							oncomplete="removeElmClass('spec_RemoveCss', 'ui-panelgrid');hideLoad();"
							update="#{orgTrnsAlertInboxMBean.DIALOG_DATATABLE_ID}"
							process="@this #{orgTrnsAlertInboxMBean.DIALOG_DATATABLE_ID}">
						</p:commandButton>
					</p:panelGrid>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:dataTable
						id="#{orgTrnsAlertInboxMBean.DIALOG_DATATABLE_ID}"
						widgetVar="#{orgTrnsAlertInboxMBean.DIALOG_DATATABLE_ID}"
						styleClass="orgtrns-select-table"
						var="trnxDataVo"
						value="#{orgTrnsAlertInboxMBean.cpontVO.showDtVOList}"
						selection="#{orgTrnsAlertInboxMBean.cpontVO.selectedDtVOList}"
						filteredValue="#{orgTrnsAlertInboxMBean.cpontVO.filteredVOList}"
						rowKey="#{trnxDataVo.sid}"
						rowIndexVar="rowIndex"
						resizableColumns="true"
						liveResize="true"
						scrollable="true"
						scrollHeight="500"
						paginator="true"
						paginatorPosition="bottom"
						rows="1000"
						rowsPerPageTemplate="500,1000,2000">
						<p:column
							headerText="序"
							styleClass="alignCenter"
							width="30">
							<h:outputText value="#{rowIndex + 1}" />
						</p:column>
						<!-- 勾選 -->
						<p:column
							selectionMode="multiple"
							exportable="false"
							style="width:20px;text-align:center" />
						<p:column
							headerText="立案日期"
							styleClass="alignCenter"
							style="width:70px;"
							sortBy="#{trnxDataVo.createDate}">
							<h:outputText value="#{trnxDataVo.createDate}" />
						</p:column>
						<p:column
							headerText="單號"
							filterBy="#{trnxDataVo.caseNo}"
							filterMatchMode="contains"
							sortBy="#{trnxDataVo.caseNo}"
							style="width:130px;"
							styleClass="alignCenter">
							<h:outputText value="#{trnxDataVo.caseNo}" />
						</p:column>
						<p:column
							headerText="狀態"
							style="width:70px;"
							styleClass="alignCenter"
							filterBy="#{trnxDataVo.caseStatusDesc}"
							filterMatchMode="contains">
							<f:facet name="filter">
								<p:selectOneMenu
									onchange="PF('#{orgTrnsAlertInboxMBean.DIALOG_DATATABLE_ID}').filter()"
									styleClass="custom-filter">
									<f:selectItems value="#{orgTrnsAlertInboxMBean.cpontVO.getCaseFilterItems()}" />
								</p:selectOneMenu>
							</f:facet>
							<h:outputText value="#{trnxDataVo.caseStatusDesc}" />
						</p:column>
						<p:column
							headerText="主旨"
							filterBy="#{trnxDataVo.theme}"
							filterMatchMode="contains">
							<p:commandButton
								icon="ui-icon-search"
								onclick="openInNewTab('../require/require02.xhtml?am=#{(empty trnxDataVo.masterNo)?trnxDataVo.caseNo:trnxDataVo.masterNo}')"
								process="@this" />
							<h:outputText value="#{trnxDataVo.theme}" />
							<p:tooltip
								for="@parent"
								value="#{trnxDataVo.theme}"
								trackMouse="true"
								hideEvent="mouseout click" />
						</p:column>
						<p:column
							headerText="alertSid"
							styleClass="alignCenter"
							>
							<h:outputText value="#{trnxDataVo.alertSid}" />
						</p:column>

					</p:dataTable>
				</p:column>
			</p:row>
		</p:panelGrid>
	</p:dialog>
</ui:composition>

