<?xml version='1.0' encoding='UTF-8' ?>

<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">


<p:column
	headerText="#{headerText}"
	styleClass="alignCenter"
	style="width:240px; min-width:200px">
	<div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center">
		<div style="height: 5px" />
		<div style="display: flex; align-self: stretch; width: 100%; height: 1px; border-top: solid #cc9f8e 3px;" />
		<div style="height: 5px" />


		<ui:include src="orgTrns_func_btn.xhtml">
			<ui:param
				name="currOrgTrnsButtonName"
				value="需求單" />
			<ui:param
				name="currOrgTrnsBtnIconStyle"
				value="fa fa-comments-o" />
			<ui:param
				name="currOrgTrnsType"
				value="REQUIRE" />
		</ui:include>

		<ui:include src="orgTrns_func_btn.xhtml">
			<ui:param
				name="currOrgTrnsButtonName"
				value="原型確認" />
			<ui:param
				name="currOrgTrnsBtnIconStyle"
				value="fa fa-hand-o-down" />
			<ui:param
				name="currOrgTrnsType"
				value="PTCHECK" />
		</ui:include>

		<ui:include src="orgTrns_func_btn.xhtml">
			<ui:param
				name="currOrgTrnsButtonName"
				value="送測單" />
			<ui:param
				name="currOrgTrnsBtnIconStyle"
				value="fa fa-truck" />
			<ui:param
				name="currOrgTrnsType"
				value="WORKTESTSIGNINFO" />
		</ui:include>


		<ui:include src="orgTrns_func_btn.xhtml">
			<ui:param
				name="currOrgTrnsButtonName"
				value="ON程式" />
			<ui:param
				name="currOrgTrnsBtnIconStyle"
				value="fa fa-bomb" />
			<ui:param
				name="currOrgTrnsType"
				value="WORKONPG" />
		</ui:include>

		<ui:include src="orgTrns_func_btn.xhtml">
			<ui:param
				name="currOrgTrnsButtonName"
				value="其它" />
			<ui:param
				name="currOrgTrnsBtnIconStyle"
				value="fa fa-wrench" />
			<ui:param
				name="currOrgTrnsType"
				value="OTHSET" />
		</ui:include>
	</div>
</p:column>

</html>