<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<p:dialog
		header="通知單位"
		widgetVar="dlgNoticeDepsTransform"
		modal="true"
		position="center center-50"
		width="calc(100% - 50px)"
		maximizable="true"
		closeOnEscape="true"
		resizable="false">
		<p:panelGrid
			styleClass="spec_RemoveCss"
			id="dlgNoticeDepsTransform_id">
			<p:row>
				<p:column>
					<h:outputText value="#{orgTrnsNoticeDepMBean.cpontVO.trnsType.descr} 轉換" />
					<p:panelGrid
						id="dlgNoticeDepsTransform_depnfo"
						style="border:1px solid #9A7061">
						<p:row>
							<p:column styleClass="ui-widget-header">
								<p:outputLabel value="轉換前" />
							</p:column>
							<p:column>
								<p:outputLabel
									value="#{orgTrnsNoticeDepMBean.cpontVO.selVerifyDtVO.showBeforeDep}"
									escape="false" />
							</p:column>
							<p:column styleClass="ui-widget-header">
								<p:outputLabel value="轉換後" />
							</p:column>
							<p:column>
								<p:outputLabel
									value="#{orgTrnsNoticeDepMBean.cpontVO.selVerifyDtVO.showAfterDep}"
									escape="false" />
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:panelGrid columns="5">
						<p:commandButton
							value="查詢未轉檔資料"
							icon="ui-icon-search"
							actionListener="#{orgTrnsNoticeDepMBean.btnQuery()}"
							onclick="showLoad();"
							oncomplete="removeElmClass('spec_RemoveCss', 'ui-panelgrid');hideLoad();"
							update="dlgNoticeDepsTransform_Datatable"
							process="@this">
						</p:commandButton>
						<p:commandButton
							value="轉檔"
							icon="fa fa-refresh"
							actionListener="#{orgTrnsNoticeDepMBean.btnTrnsSelected()}"
							onclick="showLoad();"
							oncomplete="removeElmClass('spec_RemoveCss', 'ui-panelgrid');hideLoad();"
							update="dlgNoticeDepsTransform_Datatable"
							process="@this dlgNoticeDepsTransform_Datatable">
						</p:commandButton>
					</p:panelGrid>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:dataTable
						id="dlgNoticeDepsTransform_Datatable"
						widgetVar="dlgNoticeDepsTransform_Datatable"
						styleClass="orgtrns-select-table"
						var="currVo"
						value="#{orgTrnsNoticeDepMBean.cpontVO.showDtVOList}"
						selection="#{orgTrnsNoticeDepMBean.cpontVO.selectedDtVOList}"
						filteredValue="#{orgTrnsNoticeDepMBean.cpontVO.filteredVOList}"
						rowKey="#{currVo.sid}"
						rowIndexVar="rowIndex"
						resizableColumns="true"
						liveResize="true"
						scrollable="true"
						scrollHeight="500"
						paginator="true"
						paginatorPosition="bottom"
						rows="500"
						rowsPerPageTemplate="50,500,1000,2000">
						<p:column
							headerText="序"
							styleClass="alignCenter"
							width="30">
							<h:outputText value="#{rowIndex + 1}" />
						</p:column>
						<!-- 勾選 -->
						<p:column
							selectionMode="multiple"
							exportable="false"
							style="width:20px;text-align:center" />
						<p:column
							headerText="立案日期"
							width="70"
							styleClass="alignCenter"
							sortBy="#{currVo.createDate}">
							<h:outputText value="#{currVo.createDate}" />
						</p:column>
						<p:column
							headerText="單號"
							filterBy="#{currVo.caseNo}"
							filterMatchMode="contains"
							sortBy="#{currVo.caseNo}"
							width="130"
							styleClass="alignCenter">
							<h:outputText value="#{currVo.caseNo}" />
						</p:column>
						<p:column
							rendered="#{false}"
							headerText="IssueSid"
							width="80"
							styleClass="alignCenter">
							<h:outputText value="#{currVo.sid}" />
						</p:column>
						<p:column
							headerText="狀態"
							width="70"
							styleClass="alignCenter"
							filterBy="#{currVo.caseStatusDesc}"
							filterMatchMode="contains">
							<f:facet name="filter">
								<p:selectOneMenu
									onchange="PF('dlgNoticeDepsTransform_Datatable').filter()"
									styleClass="custom-filter">
									<f:selectItems value="#{orgTrnsNoticeDepMBean.cpontVO.getCaseFilterItems()}" />
								</p:selectOneMenu>
							</f:facet>
							<h:outputText value="#{currVo.caseStatusDesc}" />
						</p:column>
						<p:column
							headerText="主旨"
							filterBy="#{currVo.theme}"
							filterMatchMode="contains">
							<p:commandButton
								icon="ui-icon-search"
								onclick="openInNewTab('../require/require02.xhtml?am=#{(empty currVo.masterNo)?currVo.caseNo:currVo.masterNo}')"
								process="@this" />
							<h:outputText value="#{currVo.theme}" />
							<p:tooltip
								for="@parent"
								value="#{currVo.theme}"
								trackMouse="true"
								hideEvent="mouseout click" />
						</p:column>
						<p:column
							rendered="#{false}"
							headerText="說明"
							filterBy="#{currVo.summary}"
							filterMatchMode="contains">
							<h:outputText
								value="#{currVo.summary}"
								escape="false" />
						</p:column>
					</p:dataTable>
				</p:column>
			</p:row>
		</p:panelGrid>
	</p:dialog>
</ui:composition>

