<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      >
    <!-- 外部參數 reportDataTableId -->
    <p:outputPanel class="customColumnClz">
        <p:commandButton value="欄位"
                         onclick="showLoad();" 
                         process="@this"
                         actionListener="#{customColumnMBean.btnDefineColumn(reportDataTableId)}"
                         oncomplete="hideLoad();showPF('dlgDefineField');"
                         update="dlgDefineField_view"
                         style="float:right">
        </p:commandButton>
        <p:commandButton value="寬度儲存"
                         onstart="btnSaveColumnWith('#{reportDataTableId}');"
                         process="@this"
                         style="float:right"
                         rendered="#{customColumnMBean.showWithSaveBtn}">
        </p:commandButton>
    </p:outputPanel>
</html>

