<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
<!-- param showPageCnt = 顯示分頁筆數下拉選項，未設定時預設開啟 -->
<!--個人化顯示設定-->
<p:dialog
    header="個人化顯示設定"
    widgetVar="dlgDefineField"
    modal="true"
    position="right top">
    <p:outputPanel id="dlgDefineField_view">
        <p:panelGrid
            columns="2"
            rendered="#{empty showPageCnt?true:showPageCnt}">
            <p:outputLabel value="分頁筆數：" />
            <p:selectOneMenu value="#{customColumnMBean.pageCount}">
                <f:selectItem
                    itemLabel="25"
                    itemValue="25" />
                <f:selectItem
                    itemLabel="50"
                    itemValue="50" />
                <f:selectItem
                    itemLabel="100"
                    itemValue="100" />
            </p:selectOneMenu>
        </p:panelGrid>
        <p:panelGrid columns="2">
            <p:selectBooleanCheckbox
                value="#{customColumnMBean.allDefineField}"
                itemLabel="全選">
                <p:ajax
                    listener="#{customColumnMBean.selectAllDefineField}"
                    onstart="showLoad();"
                    oncomplete="hideLoad();"
                    update="dlgDefineField_view"
                    process="@this" />
            </p:selectBooleanCheckbox>
            <p:selectBooleanCheckbox
                value="#{customColumnMBean.unAllDefineField}"
                itemLabel="取消全選">
                <p:ajax
                    listener="#{customColumnMBean.unSelectAllDefineField}"
                    onstart="showLoad();"
                    oncomplete="hideLoad();"
                    update="dlgDefineField_view"
                    process="@this" />
            </p:selectBooleanCheckbox>
        </p:panelGrid>
        <p:scrollPanel
            style="height:500px; width: 200px;"
            mode="native">
            <p:panelGrid columns="１">
                <c:forEach
                    items="#{customColumnMBean.columnFields}"
                    var="field">
                    <p:selectBooleanCheckbox
                        value="#{customColumnMBean.columnFields[field.key]}"
                        itemLabel="#{field.key}">
                    </p:selectBooleanCheckbox>
                </c:forEach>
            </p:panelGrid>
        </p:scrollPanel>
        <p:panelGrid columns="2">
            <p:commandButton
                value="確定"
                actionListener="#{customColumnMBean.btnSaveDefineColumn}"
                onclick="showLoad();"
                oncomplete="hideLoad();hidePF('dlgDefineField');"
                update="dtRequire @(.customColumnClz)"
                process="@this dlgDefineField_view">
            </p:commandButton>
            <p:commandButton
                value="取消"
                onclick="hidePF('dlgDefineField');"
                process="@this">
            </p:commandButton>
        </p:panelGrid>
    </p:outputPanel>
</p:dialog>

<p:remoteCommand
    name="saveColumnWith"
    process="@this"
    actionListener="#{customColumnMBean.saveColumnWith()}"
    update="@(.customColumnClz) @(.reportUpdateClz)">
</p:remoteCommand>

<p:outputPanel>
    <script type="text/javascript">
        //<![CDATA[
        function btnSaveColumnWith(obj) {
            var theadcloneByDataTable = obj + " .ui-datatable-scrollable-theadclone";
            var theadcloneByTreeTable = obj + " .ui-treetable-scrollable-theadclone";
            var columnvalue = "";
            var headText = "";
            var widthText = "";
            if ($("#" + theadcloneByDataTable).length > 0 || $("#" + theadcloneByTreeTable).length > 0) {
                $("#" + obj + "_head th").each(function () {
                    if ($(this).css("display") !== 'none') {
                        if (columnvalue !== "") {
                            columnvalue = columnvalue + ",";
                        }
                        headText = $.trim($(this).find('.ui-column-title').first().text());
                        widthText = $(this).css("width").replace('px', '');
                        columnvalue = columnvalue + '{"name":"' + headText + '","width":"' + widthText + '"}';
                    }
                });
                saveColumnWith([{name: 'columnvalue', value: "[" + columnvalue + "]"}]);
            }
        }
        //]]>
    </script>
</p:outputPanel>
</html>

