<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      >
    <p:panel id="forwardDeptDivId" header="轉寄部門資訊" style="height: 103px;" 
             visible="#{require01MBean.require.hasForwardDep}">
        <p:scrollPanel style="max-height: 55px;border: none;" mode="native">
            <h:outputText value="#{forwardDepInfoMBean.getForwardDepStr(require01MBean)}" escape="false"/>
        </p:scrollPanel>
    </p:panel>
</html>

