<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html">

<p:dataTable
	id="#{overdueUnfinishedMBean.dataTableId}"
	widgetVar="wvRequire"
	value="#{overdueUnfinishedMBean.queryItems}"
	var="model"
	rowKey="#{model.requireSid}"
	rowIndexVar="index"
	scrollHeight="450"
	scrollable="true"
	paginator="true"
	rows="#{customColumnMBean.pageCount}"
	draggableColumns="true"
	resizableColumns="true"
	resizeMode="expand"
	selectionMode="single"
	selection="#{overdueUnfinishedMBean.querySelection}"
	rowStyleClass="#{searchHelper.appendRowCss(model.urgency, model.readRecordType)}"
	style="text-align:center;">
	<!-- 點選更新需求單明細 -->
	<p:ajax
		event="rowSelect"
		process="@this"
		update="@this" />
	<p:ajax
		event="colReorder"
		update="@parent" />
	<p:ajax
		event="colResize"
		listener="#{customColumnMBean.showWithSaveBtnToTrue}"
		update="@(.customColumnClz)"
		process="@this" />
	<f:facet name="header">
		<ui:include src="../search/custom_colum_table_title.xhtml">
			<ui:param
				name="reportDataTableId"
				value="dtRequire" />
		</ui:include>
	</f:facet>

	<p:column
		headerText="序"
		width="10px;">
		<h:outputText value="#{index+1}" />
	</p:column>
	<p:column
		headerText="逾期天數"
		sortBy="#{model.overdueDays}"
		style="width:#{empty customColumnMBean.getColumnWidth('執行天數')?50:customColumnMBean.getColumnWidth('執行天數')}px;"
		rendered="#{customColumnMBean.chekcDataTableColumn('執行天數')}">
		<h:outputText value="#{model.overdueDays}" />
	</p:column>
	<p:column
		headerText="立單日期"
		sortBy="#{model.createDate}"
		style="width:#{empty customColumnMBean.getColumnWidth('立單日期')?80:customColumnMBean.getColumnWidth('立單日期')}px;"
		rendered="#{customColumnMBean.chekcDataTableColumn('立單日期')}">
		<h:outputText value="#{model.createDate}">
			<f:convertDateTime pattern="yyyy/MM/dd" />
		</h:outputText>
	</p:column>
	<!-- 查詢結果欄位:系統別 -->
	<ui:include src="result_column_checkItems.xhtml">
		<ui:param
			name="require"
			value="#{model}" />
	</ui:include>
	<p:column
		headerText="需求類別"
		style="width:#{empty customColumnMBean.getColumnWidth('需求類別')?80:customColumnMBean.getColumnWidth('需求類別')}px;"
		rendered="#{customColumnMBean.chekcDataTableColumn('需求類別', false)}">
		<h:outputText value="#{model.bigCategoryName}" />
	</p:column>
	<p:column
		headerText="中類"
		style="width:#{empty customColumnMBean.getColumnWidth('中類')?80:customColumnMBean.getColumnWidth('中類')}px;"
		rendered="#{customColumnMBean.chekcDataTableColumn('中類', false)}">
		<h:outputText value="#{model.middleCategoryName}" />
	</p:column>
	<p:column
		headerText="小類"
		style="width:#{empty customColumnMBean.getColumnWidth('小類')?80:customColumnMBean.getColumnWidth('小類')}px;"
		rendered="#{customColumnMBean.chekcDataTableColumn('小類', false)}">
		<h:outputText value="#{model.smallCategoryName}" />
	</p:column>
	<p:column
		headerText="需求單位"
		sortBy="#{model.deptName}"
		style="text-align:left;width:#{empty customColumnMBean.getColumnWidth('需求單位')?150:customColumnMBean.getColumnWidth('需求單位')}px;"
		rendered="#{customColumnMBean.chekcDataTableColumn('需求單位')}">
		<h:outputText value="#{model.deptName}" />
	</p:column>
	<p:column
		headerText="需求人員"
		sortBy="#{model.createUserName}"
		style="width:#{empty customColumnMBean.getColumnWidth('需求人員')?50:customColumnMBean.getColumnWidth('需求人員')}px;"
		rendered="#{customColumnMBean.chekcDataTableColumn('需求人員')}">
		<h:outputText value="#{model.createUserName}" />
	</p:column>


	<p:column
		headerText="分派日"
		sortBy="#{model.createDate}"
		style="width:#{empty customColumnMBean.getColumnWidth('分派日')?80:customColumnMBean.getColumnWidth('分派日')}px;"
		rendered="#{customColumnMBean.chekcDataTableColumn('分派日')}">
		<h:outputText value="#{model.createDate}">
			<f:convertDateTime pattern="yyyy/MM/dd" />
		</h:outputText>
	</p:column>
	<p:column
		headerText="執行天數"
		sortBy="#{model.executeDays}"
		style="width:#{empty customColumnMBean.getColumnWidth('執行天數')?50:customColumnMBean.getColumnWidth('執行天數')}px;"
		rendered="#{customColumnMBean.chekcDataTableColumn('執行天數')}">
		<h:outputText value="#{model.executeDays}" />
	</p:column>

	<p:column
		headerText="主題"
		style="text-align:left;">
		<p:commandButton
			icon="fa fa-search"
			rendered="#{overdueUnfinishedMBean.displayButton}"
			actionListener="#{overdueUnfinishedMBean.doPaginationAction('wvRequire', customColumnMBean.pageCount, model)}"
			onclick="openWinByStore('#{index+1}-#{model.requireNo}');"
			oncomplete="replaceUrlByStore('#{index+1}-#{model.requireNo}','#{model.localUrlLink}');"
			process="@this" />
		&nbsp;
		<p:commandLink
			value="#{model.requireTheme}"
			styleClass="blueAndUnderline"
			onclick="showLoad();PF('tooltip#{index+1}').hide();"
			process="@this"
			actionListener="#{overdueUnfinishedMBean.showDetail(model)}"
			update="@(.reportUpdateClz)"
			oncomplete="hideHeaderTitle();hideLoad();" />
		<p:tooltip
			widgetVar="tooltip#{index+1}"
			for="@previous"
			value="#{model.requireTheme}"
			trackMouse="true"
			rendered="#{overdueUnfinishedMBean.displayButton}"
			styleClass="tooltipWidth" />
	</p:column>
	<p:column
		headerText="期望完成日"
		sortBy="#{model.hopeDate}"
		style="width:#{empty customColumnMBean.getColumnWidth('期望完成日')?50:customColumnMBean.getColumnWidth('期望完成日')}px;"
		rendered="#{customColumnMBean.chekcDataTableColumn('期望完成日')}">
		<h:outputText value="#{model.hopeDate}">
			<f:convertDateTime pattern="yyyy/MM/dd" />
		</h:outputText>
	</p:column>
	<p:column
		headerText="被分派單位"
		sortBy="#{model.deptNames}"
		rendered="#{customColumnMBean.chekcDataTableColumn('被分派單位')}"
		style=" width:#{empty customColumnMBean.getColumnWidth('被分派單位')?
                              '60':
                              customColumnMBean.getColumnWidth('被分派單位')}px">
		<h:outputText
			id="dtRequire_assignedDept"
			value="#{model.deptNames}" />
		<p:tooltip
			for="dtRequire_assignedDept"
			value="#{model.deptNames}"
			trackMouse="true"
			rendered="#{overdueUnfinishedMBean.displayButton}"
			styleClass="tooltipWidth" />
	</p:column>
	<!-- 是否閱讀 -->
	<ui:include src="../components/search_column_readRecordType.xhtml">
		<ui:param
			name="searchRowData"
			value="#{model}" />
	</ui:include>
	<p:column
		headerText="製作進度"
		sortBy="#{model.requireStatus}"
		style="width:#{empty customColumnMBean.getColumnWidth('製作進度')?80:customColumnMBean.getColumnWidth('製作進度')}px;"
		rendered="#{customColumnMBean.chekcDataTableColumn('製作進度')}">
		<h:outputText value="#{model.getRequireStatusDesc()}" />
	</p:column>
	<p:column
		headerText="單號"
		sortBy="#{model.requireNo}"
		style="width:#{empty customColumnMBean.getColumnWidth('單號')?150:customColumnMBean.getColumnWidth('單號')}px;"
		rendered="#{customColumnMBean.chekcDataTableColumn('單號', false)}">
		<h:outputText value="#{model.requireNo}" />
	</p:column>
	<p:column
		headerText="逾期狀態"
		style="width:#{empty customColumnMBean.getColumnWidth('逾期狀態')?50:customColumnMBean.getColumnWidth('逾期狀態')}px;"
		rendered="#{customColumnMBean.chekcDataTableColumn('逾期狀態', false)}">
		<h:outputText value="#{model.overdue}" />
	</p:column>
</p:dataTable>
</html>

