<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html">


<p:dataTable id="dtRequire1" 
             value="#{overdueUnclosedMBean.queryItems}" 
             var="vo" 
             rowKey="#{vo.requireSid}" 
             rowIndexVar="index"
             scrollHeight="470"
             scrollable="true" 
             paginator="true"
             rows="50"
             draggableColumns="true" 
             class="reportUpdateClz"
             resizableColumns="true"
             selectionMode="single"
             selection="#{overdueUnclosedMBean.querySelection}"
             style="width: 35%;float: left;margin-right: 2px;"
             rowStyleClass="#{searchHelper.appendRowCss(model.urgency, model.readRecordType)}"
             rendered="#{overdueUnclosedMBean.switchType != 'FULLCONTENT'}">
    <!-- 點選更新需求單明細 -->
    <p:ajax event="rowSelect" 
            onstart="showLoad();"
            process="@this"
            listener="#{overdueUnclosedMBean.onRowSelect}"
            update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId req03botmid"
            oncomplete="hideLoad();"
            />
    <p:ajax event="colReorder" update="@parent"/>
    <p:column headerText="序" width="5">
        <h:outputText value="#{index+1}"/>
    </p:column>
    <p:column headerText="需求人員" sortBy="#{vo.createUserName}" width="20%">
        <h:outputText value="#{vo.createUserName}"/>
    </p:column>
    <p:column headerText="主題" sortBy="#{vo.requireTheme}" >
        <p:commandButton icon="fa fa-search" 
                         actionListener="#{overdueUnclosedMBean.doPaginationAction('dtRequire', customColumnMBean.pageCount, vo)}"
                         onclick="openWinByStore('#{index+1}-#{vo.requireNo}');" 
                         oncomplete="replaceUrlByStore('#{index+1}-#{vo.requireNo}','#{vo.localUrlLink}');" 
                         process="@this"/>
        <h:outputText id="dtRequire_requireTheme" value="#{vo.requireTheme}"/>
        <p:tooltip for="@previous" value="#{vo.requireTheme}" trackMouse="true" styleClass="tooltipWidth"/>
    </p:column>
</p:dataTable>
</html>

