<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="#{commonHeaderMBean.reportType.reportName}" />
	</ui:define>
	<ui:define name="content">
		<style>
#interval input {
	width: 100px;
}
</style>
		<p:outputPanel class="reportUpdateClz">
			<!-- 報表共用 -->
			<ui:include src="report_common_include.xhtml">
				<ui:param
					name="currReportMBean"
					value="#{overdueUnclosedMBean}" />
			</ui:include>

			<p:outputPanel
				id="searchClauses"
				rendered="#{overdueUnclosedMBean.switchType != 'FULLCONTENT'}">
				<p:panelGrid>
					<p:row>
						<p:column style="width:70px;text-align:right;">
							<h:outputText
								value="報表類型："
								styleClass="reportTypeColor" />
						</p:column>
						<p:column>
							<h:outputText
								value="#{commonHeaderMBean.reportType.reportName}"
								styleClass="reportTypeColor" />
						</p:column>
					</p:row>
					<p:row>
						<p:column style="width:70px;text-align:right;">
							<h:outputText value="需求類別： " />
						</p:column>
						<p:column>
							<p:selectCheckboxMenu
								value="#{overdueUnclosedMBean.queryVO.bigCategorySids}"
								label="需求類別"
								style="width: 90px;">
								<f:selectItems
									value="#{overdueUnclosedMBean.queryVO.allBigCategory}"
									var="item"
									itemValue="#{item.sid}"
									itemLabel="#{item.name}" />
							</p:selectCheckboxMenu>
						</p:column>
						<p:column>
							<h:outputText value="單位挑選： " />
						</p:column>
						<p:column>
							<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center">
								<p:outputPanel styleClass="#{overdueUnclosedMBean.DEP_TREE_PICKER_SHOW_SELECTED_CLASS}">
									<div style="color: blue; text-overflow: ellipsis; width: 80px; white-space: nowrap; overflow: hidden;">#{overdueUnclosedMBean.getSelectedDepsInfo()}</div>
								</p:outputPanel>
								<p:tooltip
									styleClass="#{overdueUnclosedMBean.DEP_TREE_PICKER_SHOW_SELECTED_CLASS}"
									for="@(.#{overdueUnclosedMBean.DEP_TREE_PICKER_SHOW_SELECTED_CLASS})"
									value="#{overdueUnclosedMBean.getSelectedDepsInfo()}"
									escape="false">
								</p:tooltip>
								<div style="width: 3px"></div>
								<p:commandButton
									icon="fa fa-search"
									actionListener="#{overdueUnclosedMBean.event_dialog_depTreePicker_open()}"
									onstart="showLoad();"
									oncomplete="hideLoad();"
									update="@(.#{overdueUnclosedMBean.DEP_TREE_PICKER_CONTENT_CLASS})"
									process="@this">
								</p:commandButton>
							</div>
						</p:column>
						<p:column>
							<h:outputText value="需求製作進度： " />
						</p:column>
						<p:column>
							<p:selectCheckboxMenu
								value="#{overdueUnclosedMBean.queryVO.requireStatusTypes}"
								label="需求製作進度"
								style="width: 110px;">
								<f:selectItems value="#{reqStatusMBean.buildUnclosedCaseTypes()}" />
							</p:selectCheckboxMenu>
						</p:column>
						<p:column>
							<h:outputText value="是否閱讀： " />
						</p:column>
						<p:column>
							<p:selectOneMenu
								value="#{overdueUnclosedMBean.queryVO.readRecordType}"
								style="width: 80px;">
								<f:selectItem itemLabel="全部" />
								<f:selectItems value="#{readRecordTypeMBean.buildReadRecordTypes()}" />
							</p:selectOneMenu>
						</p:column>
						<p:column style="width:70px;text-align:right;">
							<h:outputText value="待閱原因： " />
						</p:column>
						<p:column>
							<p:selectCheckboxMenu
								value="#{overdueUnclosedMBean.queryVO.reasons}"
								label="待閱原因"
								style="width: 90px;">
								<f:selectItems value="#{selectItemBean.getReqToBeReadTypeItems()}" />
							</p:selectCheckboxMenu>
						</p:column>
						<p:column>
							<h:outputText value="需求人員： " />
						</p:column>
						<p:column>
							<p:inputText
								size="10"
								value="#{overdueUnclosedMBean.queryVO.creator}"
								onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
						</p:column>
						<!-- 查詢欄位:系統別 -->
						<ui:include src="queryCondition_checkItem_style01.xhtml">
							<ui:param
								name="conditionVO"
								value="#{overdueUnclosedMBean.queryVO}" />
						</ui:include>
					</p:row>
				</p:panelGrid>
				<p:panelGrid>
					<p:row>
						<p:column style="width:70px;text-align:right;">
							<h:outputText value="類別組合： " />
						</p:column>
						<p:column>
							<p:commandButton
								icon="fa fa-search"
								actionListener="#{overdueUnclosedMBean.queryVO.categoryCombineVO.btnOpenCategoryTree()}"
								onclick="showLoad();"
								oncomplete="hideLoad();PF('dlgCate').show();"
								update="@widgetVar(dlgCate)"
								process="@this" />
						</p:column>
						<p:column>
							<p:tabMenu
								id="dateBtn"
								activeIndex="#{overdueUnclosedMBean.queryVO.dateIntervalVO.dateTypeIndex}">
								<p:menuitem
									value="上個月"
									actionListener="#{overdueUnclosedMBean.queryVO.dateIntervalVO.changeDateIntervalPreMonth()}"
									update="interval @parent"
									process="@this" />
								<p:menuitem
									value="本月份"
									actionListener="#{overdueUnclosedMBean.queryVO.dateIntervalVO.changeDateIntervalThisMonth()}"
									update="interval @parent"
									process="@this" />
								<p:menuitem
									value="下個月"
									actionListener="#{overdueUnclosedMBean.queryVO.dateIntervalVO.changeDateIntervalNextMonth()}"
									update="interval @parent"
									process="@this" />
								<p:menuitem
									value="今日"
									actionListener="#{overdueUnclosedMBean.queryVO.dateIntervalVO.changeDateIntervalToDay()}"
									update="interval @parent"
									process="@this" />
							</p:tabMenu>
						</p:column>
						<p:column>
							<h:outputText value="立單區間： " />
						</p:column>
						<p:column>
							<p:outputPanel id="interval">
								<ui:include src="../components/date_component.xhtml">
									<ui:param
										name="startDate"
										value="#{overdueUnclosedMBean.queryVO.dateIntervalVO.startDate}" />
									<ui:param
										name="endDate"
										value="#{overdueUnclosedMBean.queryVO.dateIntervalVO.endDate}" />
									<ui:param
										name="startDateId"
										value="createStartDate" />
									<ui:param
										name="endDateId"
										value="createEndDate" />
								</ui:include>
							</p:outputPanel>
						</p:column>
						<p:column>
							<h:outputText value="模糊搜尋： " />
						</p:column>
						<p:column>
							<p:inputText
								value="#{overdueUnclosedMBean.queryVO.searchText}"
								size="10"
								onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
						</p:column>
						<p:column style="width:70px;text-align:right;">
							<h:outputText value="逾期天數： " />
						</p:column>
						<p:column>
							<p:inputText
								value="#{overdueUnclosedMBean.queryVO.overdueDays}"
								size="2"
								onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;" />
							<h:outputText value="&nbsp;&nbsp;天以上 " />
						</p:column>
					</p:row>
				</p:panelGrid>
				<p:panelGrid
					columns="6"
					id="toggleSearchBodyPanel">
					<p:commandButton
						value="#{overdueUnclosedMBean.switchType.typeName}"
						onclick="showLoad()"
						process="@this"
						actionListener="#{overdueUnclosedMBean.toggleSearchBody()}"
						update="searchBody toggleSearchBodyPanel"
						oncomplete="hideLoad();"
						rendered="#{not empty overdueUnclosedMBean.queryItems}" />
					<p:commandButton
						value="匯出"
						onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
						ajax="false"
						actionListener="#{overdueUnclosedMBean.disableButton()}">
						<p:dataExporter
							type="xls"
							target="dtRequire"
							fileName="report"
							postProcessor="#{overdueUnclosedMBean.exportExcel}" />
					</p:commandButton>
					<p:commandButton
						value="搜尋"
						actionListener="#{overdueUnclosedMBean.search()}"
						process="searchClauses"
						update="searchClauses searchBody"
						onstart="showLoad();"
						oncomplete="hideLoad();" />
					<p:commandButton
						value="清除"
						actionListener="#{overdueUnclosedMBean.clearBtn()}"
						process="@this"
						update="searchClauses searchBody"
						onstart="showLoad();"
						oncomplete="hideLoad();" />
					<p:commandButton
						value="自訂預設搜尋條件"
						actionListener="#{overdueUnclosedMBean.loadDefaultSetting()}"
						process="@this"
						update="dlgReportCustomFilter_view"
						onclick="showLoad();"
						oncomplete="hideLoad();showPF('dlgReportCustomFilter');"
						rendered="#{overdueUnclosedMBean.displayCustomBtn}" />
					<p:commandButton
						value="批次結案"
						rendered="#{overdueUnclosedMBean.isShowBatchClose()}"
						actionListener="#{overdueUnclosedMBean.beforeBatchClose()}"
						process="@this batchCloseSids"
						onstart="showLoad();batchClose_collectSelectedSid();"
						oncomplete="hideLoad();" />
					<p:inputText
						id="batchCloseSids"
						value="#{overdueUnclosedMBean.batchCloseSidsStr}"
						style="display:none" />						
				</p:panelGrid>
			</p:outputPanel>

			<p:outputPanel
				id="searchBody"
				style="overflow: hidden;">
				<!-- 全畫面狀態時不渲染 -->
				<p:outputPanel rendered="#{overdueUnclosedMBean.switchType eq 'CONTENT'}">
					<ui:include src="overdueUnclosed_content.xhtml" />
				</p:outputPanel>
				<p:outputPanel rendered="#{overdueUnclosedMBean.switchType eq 'DETAIL' or overdueUnclosedMBean.switchType eq 'FULLCONTENT'}">
					<ui:include src="overdueUnclosed_detail.xhtml" />
					<!-- 需求單內容 -->
					<p:outputPanel style="width: #{overdueUnclosedMBean.switchType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{overdueUnclosedMBean.switchType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
						<c:if test="#{overdueUnclosedMBean.switchType eq 'FULLCONTENT'}">
							<ui:include src="../require/require03.xhtml">
								<ui:param
									name="searchMBean"
									value="#{overdueUnclosedMBean}" />
							</ui:include>
						</c:if>
						<c:if test="#{overdueUnclosedMBean.switchType eq 'DETAIL'}">
							<ui:include src="../require/require03_detail.xhtml">
								<ui:param
									name="searchMBean"
									value="#{overdueUnclosedMBean}" />
							</ui:include>
						</c:if>
					</p:outputPanel>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>

		<script type="text/javascript">
            $(document).ready(function(){
            	$(document).ready(function(){
            		doSearchData();
            	});
            });
        </script>

		<p:remoteCommand
			name="doSearchData"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			process="@this searchClauses"
			update="searchClauses searchBody"
			actionListener="#{overdueUnclosedMBean.search()}" />

		<!-- 自訂預設欄位  -->
		<ui:include src="../custom/overdueUnclosed_dlg.xhtml" />

		<!-- 類別組合樹 -->
		<ui:include src="../components/category_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="dlgCate" />
			<ui:param
				name="categoryTreeComponent"
				value="#{overdueUnclosedMBean.queryVO.categoryCombineVO.categoryTreeComponent}" />
		</ui:include>

		<!-- 單位挑選 -->
		<p:dialog
			header="單位挑選"
			widgetVar="#{overdueUnclosedMBean.DEP_TREE_PICKER_DLG_WV}"
			modal="true"
			position="center center-100"
			closeOnEscape="true"
			resizable="false">
			<p:outputPanel styleClass="#{overdueUnclosedMBean.DEP_TREE_PICKER_CONTENT_CLASS}">
				<p:panelGrid>
					<p:row>
						<p:column>
							<cp:treePicker
								componentID="DEP_TREE_PICKER"
								model="#{overdueUnclosedMBean.depTreePicker}"
								menuWidth="300"
								menuHeight="400" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:panelGrid>
								<!-- update 由呼叫者自行在後端 callback 方法實做 -->
								<p:row>
									<p:column>
										<p:commandButton
											value="確定"
											onstart="showLoad();"
											process="@(.#{overdueUnclosedMBean.DEP_TREE_PICKER_CONTENT_CLASS})"
											actionListener="#{overdueUnclosedMBean.event_dialog_depTreePicker_confirm()}"
											update="@(.#{overdueUnclosedMBean.DEP_TREE_PICKER_SHOW_SELECTED_CLASS})"
											oncomplete="hideLoad();" />
									</p:column>
									<p:column>
										<p:commandButton
											value="關閉"
											process="@this"
											onclick="hidePF('#{overdueUnclosedMBean.DEP_TREE_PICKER_DLG_WV}');" />
									</p:column>
								</p:row>
							</p:panelGrid>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:outputPanel>
		</p:dialog>

		<p:remoteCommand
			name="updateByOpener"
			actionListener="#{overdueUnclosedMBean.refreshDataTable()}"
			process="@this"
			update="dtRequire">
		</p:remoteCommand>
	</ui:define>
</ui:composition>

