<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<!-- 系統別 -->
<h:outputText
	styleClass="#{queryCondition_checkItem_style03_title}"
	value="系統別： " />
<p:outputPanel
	styleClass="#{queryCondition_checkItem_style03_content}"
	>
	<p:selectCheckboxMenu
		value="#{conditionVO.checkItemTypes}"
		label="系統別"
		converter="omnifaces.GenericEnumConverter">
		<f:selectItems value="#{selectItemBean.getRequireCheckItemTypeItems()}" />
	</p:selectCheckboxMenu>
</p:outputPanel>
</html>

