<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<!-- 報表共用 -->
<!-- 放 require_include_dlg.xhtml 會造成原件重複錯誤 -->
<!-- 需求單共用 -->
<ui:include src="../require/require_common_dlg.xhtml" />
<!-- 個人化報表欄位設定 -->
<ui:include src="../search/custom_colum.xhtml" />

<!-- 上下筆 -->
<p:remoteCommand
	name="openerByBtnUp"
	actionListener="#{currReportMBean.openerByBtnUp(currReportMBean.dataTableId,'wvRequire',customColumnMBean.pageCount)}"
	process="@this ">
</p:remoteCommand>
<p:remoteCommand
	name="openerByBtnDown"
	actionListener="#{currReportMBean.openerByBtnDown(currReportMBean.dataTableId,'wvRequire',customColumnMBean.pageCount)}"
	process="@this ">
</p:remoteCommand>

</html>

