<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateByReport.xhtml">
    <f:metadata>
        <f:event type="preRenderView" listener="#{loginBean.reStartIdle()}" />
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="#{commonHeaderMBean.reportType.reportName}" />
    </ui:define>
    <ui:define name="content">
        <p:remoteCommand name="doSearchData" actionListener="#{sabaMBean.query()}"
                         onstart="showLoad();selectDataTablePage('wvRequire', 0);" oncomplete="hideLoad();"
                         process="@this headerPanel toggleSearchBodyPanel" update="dtRequire" />

        <p:outputPanel class="reportUpdateClz">
            <p:panel id="requireRecord" rendered="#{sabaMBean.switchFullType eq 'CONTENT'}">
                <p:panel id="headerTitle" style="border:none">
                    <p:outputPanel id="headerPanel">
                        <p:outputPanel style="margin-left:5px;">
                            <h:outputText
                                value="報表類型： #{commonHeaderMBean.reportType.reportName}"
                                styleClass="reportTypeColor" />
                        </p:outputPanel>

                        <p:outputPanel>
                            <p:panelGrid columns="6">
                                <h:outputText value="需求類別： " />
                                <p:selectOneMenu value="#{sabaMBean.queryVO.catetory}" converter="#{categoryConverter}">
                                    <f:selectItem itemLabel="全部" />
                                    <f:selectItems value="#{categoryMBean.getBigValues()}" var="item"
                                                   itemValue="#{item}" itemLabel="#{item.name}" />
                                </p:selectOneMenu>

                                <h:outputText value="模糊搜尋： " />
                                <p:inputText value="#{sabaMBean.queryVO.searchText}" onkeydown="executeScriptByEnter(event, 'doSearchData();');" />


                                <h:outputText value="NCS完成狀態： " />
                                <p:selectOneMenu value="#{sabaMBean.queryVO.isNcsDone}">
                                    <f:selectItem itemLabel="全部" />
                                    <f:selectItem itemValue="false" itemLabel="未完成" />
                                    <f:selectItem itemValue="true" itemLabel="已完成" />
                                </p:selectOneMenu>
                            </p:panelGrid>
                        </p:outputPanel>

                        <p:outputPanel style="overflow: hidden;">
                            <p:panelGrid style="float:left;" columns="4">
                                <h:panelGroup>
                                    <h:outputText value="類別組合： " />
                                    <p:commandButton icon="fa fa-search"
                                                     actionListener="#{sabaMBean.queryVO.categoryCombineVO.btnOpenCategoryTree()}"
                                                     onclick="showLoad();" oncomplete="hideLoad();PF('dlgCate').show();"
                                                     update="@widgetVar(dlgCate)" process="@this" />
                                </h:panelGroup>

                                <p:tabMenu id="dateBtn" activeIndex="#{sabaMBean.queryVO.dateIntervalVO.dateTypeIndex}">
                                    <p:menuitem value="上個月"
                                                actionListener="#{sabaMBean.queryVO.dateIntervalVO.changeDateIntervalPreMonth()}"
                                                update="interval @parent" 
                                                process="@this" />
                                    <p:menuitem value="本月份"
                                                actionListener="#{sabaMBean.queryVO.dateIntervalVO.changeDateIntervalThisMonth()}"
                                                update="interval @parent" 
                                                process="@this" />
                                    <p:menuitem value="下個月"
                                                actionListener="#{sabaMBean.queryVO.dateIntervalVO.changeDateIntervalNextMonth()}"
                                                update="interval @parent"
                                                process="@this" />
                                    <p:menuitem value="今日"
                                                actionListener="#{sabaMBean.queryVO.dateIntervalVO.changeDateIntervalToDay()}"
                                                update="interval @parent" 
                                                process="@this" />
                                </p:tabMenu>

                                <h:panelGroup id="interval">
                                    <h:outputText value="立單區間： " />
			                        <ui:include src="../components/date_component.xhtml" >
			                            <ui:param name="startDate" value="#{sabaMBean.queryVO.dateIntervalVO.startDate}" />
			                            <ui:param name="endDate" value="#{sabaMBean.queryVO.dateIntervalVO.endDate}" />
			                            <ui:param name="startDateId" value="createStartDate" />
			                            <ui:param name="endDateId" value="createEndDate" />
			                        </ui:include>
                                </h:panelGroup>
                                <h:panelGroup>
                                    <p:commandButton value="搜尋" process="@this headerPanel"
                                                     actionListener="#{sabaMBean.query()}"
                                                     update="dtRequire toggleSearchBodyPanel"
                                                     onclick="showLoad();selectDataTablePage('wvRequire', 0);"
                                                     oncomplete="hideLoad();" />
                                    <p:commandButton value="清除" process="@this headerPanel"
                                                     actionListener="#{sabaMBean.clear()}"
                                                     onclick="showLoad();selectDataTablePage('wvRequire', 0);"
                                                     oncomplete="hideLoad();"
                                                     update="requireRecord"  />
                                </h:panelGroup>
                            </p:panelGrid>

                        </p:outputPanel>
                    </p:outputPanel>

                    <!--查詢表身上的按鈕-->
                    <p:panelGrid columns="5" id="toggleSearchBodyPanel">
                        <p:commandButton value="匯出" onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)" ajax="false"
                                         actionListener="#{sabaMBean.disableButton()}">
                            <p:dataExporter type="xls" target="dtRequire" fileName="report"
                                            postProcessor="#{sabaMBean.exportExcel}"/>
                        </p:commandButton>
                        <p:commandLink value="進階搜尋" style="color:blue;" process="@this" />
                        <p:overlayPanel widgetVar="olpAdvance" for="@previous" dismissable="false">
                            <p:panelGrid columns="2" id="pgAdvance">
                                <h:outputText value="異動區間："/>
                                <h:panelGroup>
                                    <ui:include src="../components/date_component.xhtml" >
		                                <ui:param name="startDate" value="#{sabaMBean.queryVO.advancedVO.startUpdatedDate}" />
		                                <ui:param name="endDate" value="#{sabaMBean.queryVO.advancedVO.endUpdatedDate}" />
		                                <ui:param name="startDateId" value="updateStartDate" />
		                                <ui:param name="endDateId" value="updateEndDate" />
		                            </ui:include>
                                </h:panelGroup>
                                <h:outputText value="轉發至："/>
                                <p:commandButton icon="fa fa-search" 
                                                 actionListener="#{sabaMBean.queryVO.advancedVO.btnOpenForwardOrgTree()}" 
                                                 onclick="showLoad();"
                                                 oncomplete="hideLoad();"
                                                 update="@widgetVar(dlgOrgTreeForward)" 
                                                 process="@this" />
                                <h:outputText value="緊急度："/>
                                <p:selectManyCheckbox id="basic" value="#{sabaMBean.queryVO.advancedVO.urgencyList}">
                                    <f:selectItems value="#{urgencyTypeMBean.getTypeValues()}"/> 
                                </p:selectManyCheckbox>
                                <h:outputText value="需求單號："/>
                                <p:inputText value="#{sabaMBean.queryVO.advancedVO.requireNo}"/>
                            </p:panelGrid>
                            <p:commandButton value="確定" process="@parent" oncomplete="PF('olpAdvance').hide();doSearchData();"/>
                            <p:commandButton value="取消" type="button" onclick="PF('olpAdvance').hide()"/>
                            <p:commandButton value="清除" process="@this" update="pgAdvance" actionListener="#{sabaMBean.queryVO.advancedVO.clearAdvance()}"/>
                        </p:overlayPanel>
                    </p:panelGrid>
                </p:panel>
                <p:outputPanel id="searchBody" style="overflow: hidden;">
                    <p:dataTable id="dtRequire"
                                 widgetVar="wvRequire"
                                 value="#{sabaMBean.queryItems}" var="model" rowKey="#{model.requirdSid}" rowIndexVar="index" 
                                 scrollHeight="450" scrollable="true" paginator="true" rows="#{customColumnMBean.pageCount}"
                                 draggableColumns="true"
                                 resizableColumns="true"
                                 resizeMode="expand" 
                                 selectionMode="single"
                                 selection="#{sabaMBean.querySelection}"
                                 rowStyleClass="#{sabaMBean.appendRowCss(model)}"
                                 style="text-align:center;">
                        <!-- 點選更新需求單明細 -->
                        <p:ajax event="rowSelect" process="@this" update=":formTemplate:toggleSearchBodyPanel"/>
                        <p:ajax event="colReorder" update="@parent"/>
                        <p:ajax event="colResize" listener="#{customColumnMBean.showWithSaveBtnToTrue}"
                                update="@(.customColumnClz)"
                                process="@this" />
                        <f:facet name="header">
                            <ui:include src="../search/custom_colum_table_title.xhtml">
                                <ui:param name="reportDataTableId" value="dtRequire" />
                            </ui:include>
                        </f:facet>

                        <p:column headerText="序" width="10px;">
                            <h:outputText value="#{index+1}" />
                        </p:column>
                        <p:column headerText="立單日期" sortBy="#{model.createDate}"
                                  style="width:#{empty customColumnMBean.getColumnWidth('立單日期')?80:customColumnMBean.getColumnWidth('立單日期')}px;" 
                                  rendered="#{customColumnMBean.chekcDataTableColumn('立單日期')}">
                            <h:outputText value="#{model.createDate}">
                                <f:convertDateTime pattern="yyyy/MM/dd"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="需求單位" sortBy="#{model.deptName}"
                                  style="text-align:left;width:#{empty customColumnMBean.getColumnWidth('需求單位')?150:customColumnMBean.getColumnWidth('需求單位')}px;"
                                  rendered="#{customColumnMBean.chekcDataTableColumn('需求單位')}">
                            <h:outputText value="#{model.deptName}"/>
                        </p:column>
                        <p:column headerText="需求人員" sortBy="#{model.userName}"
                                  style="width:#{empty customColumnMBean.getColumnWidth('需求人員')?50:customColumnMBean.getColumnWidth('需求人員')}px;"
                                  rendered="#{customColumnMBean.chekcDataTableColumn('需求人員')}">
                            <h:outputText value="#{model.userName}"/>
                        </p:column>
                        <p:column headerText="主題" style="text-align:left;">
                            <p:commandButton icon="fa fa-search"
                                             rendered="#{sabaMBean.displayButton}"
                                             actionListener="#{sabaMBean.doPaginationAction('wvRequire', customColumnMBean.pageCount, model)}"
                                             onclick="openWinByStore('#{index+1}-#{model.requireNo}');" 
                                             oncomplete="replaceUrlByStore('#{index+1}-#{model.requireNo}','#{model.localUrlLink}');" 
                                             process="@this"/>
                            &nbsp;
                            <p:commandLink value="#{model.theme}" styleClass="blueAndUnderline"
                                           onclick="showLoad();PF('tooltip#{index+1}').hide();"
                                           process="@this"
                                           actionListener="#{sabaMBean.showDetail(model)}" 
                                           update="@(.reportUpdateClz)" 
                                           oncomplete="hideHeaderTitle();hideLoad();"
                                           />
                            <p:tooltip widgetVar="tooltip#{index+1}" for="@previous" value="#{model.theme}" trackMouse="true"
                                       rendered="#{sabaMBean.displayButton}" styleClass="tooltipWidth"/>
                        </p:column>
                        <p:column headerText="單號" sortBy="#{model.requireNo}"
                                  style="width:#{empty customColumnMBean.getColumnWidth('單號')?150:customColumnMBean.getColumnWidth('單號')}px;"
                                  rendered="#{customColumnMBean.chekcDataTableColumn('單號')}">
                            <h:outputText value="#{model.requireNo}"/>
                        </p:column>
                        <p:column headerText="期望完成日" sortBy="#{model.expectDate}"
                                  style="width:#{empty customColumnMBean.getColumnWidth('期望完成日')?100:customColumnMBean.getColumnWidth('期望完成日')}px;"
                                  rendered="#{customColumnMBean.chekcDataTableColumn('期望完成日')}">
                            <h:outputText value="#{model.expectDate}">
                                <f:convertDateTime pattern="yyyy/MM/dd"/>
                            </h:outputText>
                        </p:column>
                        <p:column headerText="是否閱讀"
                                  style="width:#{empty customColumnMBean.getColumnWidth('是否閱讀')?80:customColumnMBean.getColumnWidth('是否閱讀')}px;"
                                  rendered="#{customColumnMBean.chekcDataTableColumn('是否閱讀')}">
                            <h:outputText value="#{model.readRecord}" style="#{model.readRecord == '待閱讀' ? 'color:red;' : ''}"/>
                        </p:column>
                        <p:column headerText="製作進度" sortBy="#{model.status}"
                                  style="width:#{empty customColumnMBean.getColumnWidth('製作進度')?80:customColumnMBean.getColumnWidth('製作進度')}px;"
                                  rendered="#{customColumnMBean.chekcDataTableColumn('製作進度')}">
                            <h:outputText value="#{model.status}"/>
                        </p:column>
                        <p:column headerText="完成碼"
                                  style="width:#{empty customColumnMBean.getColumnWidth('完成碼')?50:customColumnMBean.getColumnWidth('完成碼')}px;"
                                  rendered="#{customColumnMBean.chekcDataTableColumn('完成碼')}">
                            <h:outputText value="#{model.finishCode}"/>
                        </p:column>
                        <p:column style="width:130px;">
                            <p:commandButton icon="ui-icon-pencil"
                                             value="#{model.isNcsDone eq 'N' ? '未完成' : 'NCS已執行完成'}"
                                             rendered="#{sabaMBean.displayButton}"
                                             actionListener="#{sabaMBean.ncsAction(model)}"
                                             disabled="#{model.isNcsDone eq 'Y' or !requireTitleBtnMBean.showNcsBtn()}"
                                             update="dtRequire toggleSearchBodyPanel"
                                             onclick="showLoad();"
                                             oncomplete="hideLoad();">
                                <p:confirm header="確認" message="請確認是否完成！" icon="ui-icon-alert"/>
                            </p:commandButton>
                            <p:confirmDialog global="true" rendered="#{sabaMBean.displayButton}">
                                <p:commandButton value="確認" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="取消" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                        </p:column>
                    </p:dataTable>
                </p:outputPanel>
            </p:panel>

            <!-- 需求單內容 -->
            <p:outputPanel rendered="#{sabaMBean.switchFullType eq 'DETAIL'}" 
                           style="width: 100%;height: 100%; float: left;">
                <ui:include src="../require/require03.xhtml">
                    <ui:param name="searchMBean" value="#{sabaMBean}" />
                </ui:include>
            </p:outputPanel>
        </p:outputPanel>
        <h:outputText style="color:red;" value="備註：本報表僅查詢製作進度（進行中、已完成、結案、自動結案）。" />

        <!--轉寄-->
        <ui:include src="../require/require_dlg_forword.xhtml"/>
        <!--關聯-->
        <ui:include src="../require/require_relevance.xhtml"/>
        <!-- 追蹤行為 -->
        <ui:include src="../require/require_trace.xhtml"/>

        <!-- 個人化報表欄位設定  -->
        <ui:include src="custom_colum.xhtml"/>

        <!--類別組合樹-->
        <ui:include src="../components/category_tree.xhtml">
            <ui:param name="widgetVar" value="dlgCate" />
            <ui:param name="categoryTreeComponent" 
                      value="#{sabaMBean.queryVO.categoryCombineVO.categoryTreeComponent}" />
        </ui:include>

        <!--報表組織樹 for 進階搜尋(轉發至)-->
        <ui:include id="dlgOrgTreeForward" src="../components/report_org_tree.xhtml">
            <ui:param name="widgetVar" value="dlgOrgTreeForward" />
            <ui:param name="reportOrgTreeComponent" 
                      value="#{sabaMBean.queryVO.advancedVO.orgTreeForwardComponent}" />
        </ui:include>
        <p:remoteCommand name="openerByBtnUp" 
                         actionListener="#{sabaMBean.openerByBtnUp('','wvRequire',customColumnMBean.pageCount)}"
                         update=":formTemplate:toggleSearchBodyPanel"
                         process="@this " >
        </p:remoteCommand>
        <p:remoteCommand name="openerByBtnDown" 
                         actionListener="#{sabaMBean.openerByBtnDown('','wvRequire',customColumnMBean.pageCount)}"
                         update=":formTemplate:toggleSearchBodyPanel"
                         process="@this " >
        </p:remoteCommand>  
        <p:remoteCommand name="updateByOpener" 
                         actionListener="#{sabaMBean.refreshDataTable()}"  
                         process="@this" >
        </p:remoteCommand>
        
        <script type="text/javascript">
            function updateByOpenerCaller(obj){
                var sidValue = '{"sid":"' + obj + '"}';
                updateByOpener({name: 'sid', value: obj});
            }
        </script>
      </ui:define>
</ui:composition>

