<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="需求單查詢(GM)" />
	</ui:define>
	<ui:define name="content">
		<style>
.queryCondition-title {
	width: 100px;
	text-align: right;
}

.queryCondition-content {
	width: 250px;
	text-align: left;
}
</style>
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search27MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			process="@this headerPanel toggleSearchBodyPanel"
			update="@(.reportUpdateClz) toggleSearchBodyPanel" />
		<p:remoteCommand
			name="searchByKeepPage"
			actionListener="#{search27MBean.search()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			process="@this headerPanel toggleSearchBodyPanel"
			update="@(.reportUpdateClz) toggleSearchBodyPanel" />
		<!--查詢表頭-->
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{search27MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{search27MBean.searchQuery.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>
				<ui:include src="search27_queryCondition.xhtml">
					<ui:param
						name="controller"
						value="#{search27MBean}" />
					<ui:param
						name="conditionVO"
						value="#{search27MBean.searchQuery}" />
				</ui:include>


			</p:outputPanel>

			<!--查詢表身上的按鈕-->
			<p:panelGrid
				columns="6"
				id="toggleSearchBodyPanel">
				<p:commandButton
					value="#{search27MBean.switchType.typeName}"
					onclick="showLoad()"
					process="@this"
					actionListener="#{search27MBean.toggleSearchBody()}"
					update="@next searchBody toggleSearchBodyPanel"
					oncomplete="hideLoad();"
					rendered="#{not empty search27MBean.queryItems}" />
				<p:commandButton
					value="關聯檢視"
					process="@this"
					class="reportUpdateClz"
					disabled="#{empty search27MBean.queryItems or !search27MBean.querySelection.hasLink}"
					onclick="openInNewTab();"
					oncomplete="replaceUrl('#{search27MBean.getRelevanceViewUrl(search27MBean.querySelection)}');" />
				<p:commandButton
					value="匯出"
					onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
					ajax="false"
					actionListener="#{search27MBean.hideColumnContent()}">
					<p:dataExporter
						type="xls"
						target="#{search27MBean.dataTableId}"
						fileName="report"
						postProcessor="#{search27MBean.exportExcel}" />
				</p:commandButton>
				<p:commandLink
					value="進階搜尋"
					style="color:blue;"
					process="@this" />
				<p:overlayPanel
					widgetVar="olpAdvance"
					for="@previous"
					dismissable="false">
					<p:panelGrid
						columns="2"
						id="pgAdvance">
						<h:outputText value="異動區間：" />
						<h:panelGroup>
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{search27MBean.searchQuery.startUpdatedDate}" />
								<ui:param
									name="endDate"
									value="#{search27MBean.searchQuery.endUpdatedDate}" />
								<ui:param
									name="startDateId"
									value="updateStartDate" />
								<ui:param
									name="endDateId"
									value="updateEndDate" />
							</ui:include>
						</h:panelGroup>
						<h:outputText value="緊急度：" />
						<p:selectManyCheckbox
							id="basic"
							value="#{search27MBean.searchQuery.urgencyList}">
							<f:selectItems value="#{urgencyTypeMBean.getTypeValues()}" />
						</p:selectManyCheckbox>
						<h:outputText value="需求單號：" />
						<p:inputText value="#{search27MBean.searchQuery.requireNo}" />
					</p:panelGrid>
					<p:commandButton
						value="確定"
						process="@parent"
						oncomplete="PF('olpAdvance').hide();doSearchData();" />
					<p:commandButton
						value="取消"
						type="button"
						onclick="PF('olpAdvance').hide()" />
					<p:commandButton
						value="清除"
						process="@this"
						update="pgAdvance"
						actionListener="#{search27MBean.btnClearAdvance()}" />
				</p:overlayPanel>
				<p:panelGrid
					columns="4"
					style="overflow: hidden;">
					<p:commandButton
						value="廳主"
						type="button" />
					<p:overlayPanel
						for="@previous"
						style="border:none;padding:-6px -12px -6px -12px;"
						dismissable="true"
						showCloseIcon="true">
						<p:selectManyMenu
							id="idCusManyMenu"
							value="#{search27MBean.searchQuery.customers}"
							style="border:none;width:500px;"
							converter="#{customerToConverter}"
							var="gridVar"
							filter="true"
							showCheckbox="true"
							filterMatchMode="contains">
							<f:selectItems
								value="#{search27MBean.customerItems}"
								var="item"
								itemValue="#{item}"
								itemLabel="#{item.name} @#{item.loginCode} (#{item.customerTypeName})">
							</f:selectItems>
							<p:column>
								<h:outputText value="#{gridVar.name}" />
							</p:column>
							<p:column>
								<h:outputText value="@#{gridVar.loginCode}" />
							</p:column>
							<p:column>
								<h:outputText value="(#{gridVar.customerTypeName})" />
							</p:column>
						</p:selectManyMenu>
					</p:overlayPanel>
					<p:selectBooleanCheckbox
						value="#{search27MBean.searchQuery.isCustomerPage}"
						itemLabel="依廳主分頁">
						<p:ajax
							listener="#{search27MBean.chgCustomerPage()}"
							onstart="showLoad();"
							oncomplete="hideLoad();"
							update="customerPage searchBody"
							process="@this" />
					</p:selectBooleanCheckbox>
					<p:outputPanel id="customerPage">

						<p:selectOneMenu
							value="#{search27MBean.searchQuery.customerPage}"
							rendered="#{search27MBean.searchQuery.isCustomerPage}"
							converter="#{customerToConverter}"
							var="gridVar"
							filter="true"
							panelStyle="min-width:500px;"
							filterMatchMode="contains">
							<p:ajax
								listener="#{search27MBean.chgCustomerPage()}"
								event="change"
								onstart="showLoad();"
								oncomplete="hideLoad();"
								update="searchBody"
								process="@this" />
							<f:selectItems
								value="#{search27MBean.customerPageItems}"
								var="item"
								itemLabelEscaped="true"
								itemValue="#{item}"
								itemLabel="#{item.name} @#{item.loginCode} (#{item.customerTypeName})">
							</f:selectItems>
							<p:column>
								<h:outputText value="#{gridVar.name}" />
							</p:column>
							<p:column>
								<h:outputText value="@#{gridVar.loginCode}" />
							</p:column>
							<p:column>
								<h:outputText value="(#{gridVar.customerTypeName})" />
							</p:column>
						</p:selectOneMenu>
					</p:outputPanel>
				</p:panelGrid>
			</p:panelGrid>
		</p:panel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				id="#{search27MBean.dataTableId}"
				widgetVar="wvRequire"
				value="#{search27MBean.queryItems}"
				var="require"
				rowKey="#{require.sid}"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				class="reportUpdateClz"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				selection="#{search27MBean.querySelection}"
				rowStyleClass="#{searchHelper.appendRowCss(require.urgency, require.readRecordType)}"
				rendered="#{search27MBean.switchType eq 'CONTENT' and search27MBean.switchFullType != 'FULLCONTENT'}">
				<!-- 全畫面狀態時不渲染 -->
				<!-- 點選更新需求單明細 -->
				<p:ajax
					event="rowSelect"
					process="@this"
					update=":formTemplate:toggleSearchBodyPanel" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{search27MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="部"
					width="5"
					exportable="false">
					<p:commandLink
						value="#{require.hasForwardDep?'★':'　'}"
						actionListener="#{search27MBean.openForwardDialog(require)}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						process="@this"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="個"
					width="5"
					exportable="false">
					<p:commandLink
						value="#{require.hasForwardMember?'★':'　'}"
						actionListener="#{search27MBean.openForwardDialog(require)}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						process="@this"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="關"
					width="5"
					exportable="false">
					<p:commandLink
						value="#{require.hasLink?'★':'　'}"
						onclick="showLoad();"
						oncomplete="openDlgRelevance();hideLoad();"
						process="@this"
						update=":formTemplate:tvRelevance"
						actionListener="#{search27MBean.initRelevance(require)}"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="追"
					width="5"
					exportable="false"
					rendered="#{customColumnMBean.chekcDataTableColumn('追')}"
					style="width:#{empty customColumnMBean.getColumnWidth('追')?
                                         '10':
                                         customColumnMBean.getColumnWidth('追')}px">
					<p:commandLink
						value="#{search27MBean.showTrace(require)}"
						onstart="showLoad();"
						oncomplete="showPF('dlgTraceAction');hideLoad();"
						process="@this"
						update=":formTemplate:dlgTraceAction_view"
						actionListener="#{search27MBean.btnAddTrack(require)}"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="立"
					width="5"
					exportable="false"
					rendered="#{customColumnMBean.chekcDataTableColumn('立')}"
					style="width:#{empty customColumnMBean.getColumnWidth('立')?
                                         '10':
                                         customColumnMBean.getColumnWidth('立')}px">
					<h:outputText
						value="#{search27MBean.showCreate(require)}"
						style="font-weight: bolder;" />
				</p:column>
				<p:column
					headerText="分"
					width="5"
					exportable="false"
					rendered="#{customColumnMBean.chekcDataTableColumn('分')}"
					style="width:#{empty customColumnMBean.getColumnWidth('分')?
                                         '10':
                                         customColumnMBean.getColumnWidth('分')}px">
					<h:outputText
						value="#{search27MBean.showAssign(require)}"
						style="font-weight: bolder;" />
				</p:column>
				<p:column
					headerText="轉"
					width="5"
					exportable="false"
					rendered="#{customColumnMBean.chekcDataTableColumn('轉')}"
					style="width:#{empty customColumnMBean.getColumnWidth('轉')?
                                         '10':
                                         customColumnMBean.getColumnWidth('轉')}px">
					<h:outputText
						value="#{search27MBean.showForwardSelf(require)}"
						style="font-weight: bolder;" />
				</p:column>
				<p:column
					headerText="轉入需求單"
					sortBy="#{search27MBean.hasTransByIssue(require)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('轉入需求單')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('轉入需求單')?
                                          '50':
                                          customColumnMBean.getColumnWidth('轉入需求單')}px">
					<h:outputText value="#{search27MBean.hasTransByIssue(require)}" />
				</p:column>
				<p:column
					headerText="立單日期"
					sortBy="#{require.createdDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('立單日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('立單日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('立單日期')}px">
					<h:outputText value="#{require.createdDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="異動日期"
					sortBy="#{require.updatedDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('異動日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('異動日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('異動日期')}px">
					<h:outputText value="#{require.updatedDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="result_column_checkItems.xhtml" />
				<p:column
					headerText="需求類別"
					sortBy="#{require.bigName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求類別',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求類別')?
                                          '80':
                                          customColumnMBean.getColumnWidth('需求類別')}px">
					<h:outputText value="#{require.bigName}" />
				</p:column>
				<p:column
					headerText="中類"
					sortBy="#{require.middleName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('中類',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('中類')?
                                          '54':
                                          customColumnMBean.getColumnWidth('中類')}px">
					<h:outputText value="#{require.middleName}" />
				</p:column>
				<p:column
					headerText="小類"
					sortBy="#{require.smallName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('小類')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('小類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('小類')}px">
					<h:outputText value="#{require.smallName}" />
				</p:column>
				<p:column
					headerText="需求單位"
					sortBy="#{orgBean.name(require.createDep)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單位')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單位')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求單位')}px">
					<h:outputText value="#{orgBean.name(require.createDep)}" />
				</p:column>
				<p:column
					headerText="需求人員"
					sortBy="#{usrBean.name(require.createdUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求人員')}px">
					<h:outputText value="#{usrBean.name(require.createdUser)}" />
				</p:column>
				<p:column
					headerText="主題"
					sortBy="#{require.requireTheme}">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{search27MBean.hasDisplay}"
						actionListener="#{search27MBean.btnOpenUrl(search27MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{require.requireTheme}"
						styleClass="blueAndUnderline"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						process="@this"
						actionListener="#{search27MBean.fullScreenForm(require)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();" />
					<p:tooltip
						widgetVar="tooltip#{index+1}"
						for="@previous"
						value="#{require.requireTheme}"
						trackMouse="true"
						rendered="#{search27MBean.hasDisplay}"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="緊急度"
					sortBy="#{commonBean.get(require.urgency)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('緊急度')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('緊急度')?
                                          '50':
                                          customColumnMBean.getColumnWidth('緊急度')}px">
					<h:outputText value="#{commonBean.get(require.urgency)}" />
				</p:column>
				<p:column
					headerText="製作進度"
					sortBy="#{commonBean.get(require.requireStatus)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('製作進度')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('製作進度')?
                                          '70':
                                          customColumnMBean.getColumnWidth('製作進度')}px">
					<h:outputText value="#{commonBean.get(require.requireStatus)}" />
				</p:column>
				<p:column
					headerText="單號"
					sortBy="#{require.requireNo}"
					rendered="#{customColumnMBean.chekcDataTableColumn('單號')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('單號')?
                                          '115':
                                          customColumnMBean.getColumnWidth('單號')}px">
					<h:outputText value="#{require.requireNo}" />
				</p:column>
				<!-- 查詢結果欄位:檢查確認資訊別 -->
				<ui:include src="result_column_check_confirm_info.xhtml" />
				<!-- 主責單位 -->
				<ui:include src="result_column_InChargeDeps.xhtml">
					<ui:param
						name="currItem"
						value="#{require}" />
				</ui:include>
				<!-- 是否閱讀 -->
				<ui:include src="../components/search_column_readRecordType.xhtml">
					<ui:param
						name="searchRowData"
						value="#{require}" />
				</ui:include>
				<!-- 待閱原因 -->
				<ui:include src="../components/search_column_readReason.xhtml">
					<ui:param
						name="searchRowData"
						value="#{require}" />
					<ui:param
						name="displayToolitp"
						value="#{search27MBean.hasDisplay}" />
				</ui:include>
				<p:column
					headerText="附加檔案"
					sortBy="#{search27MBean.getAttInfo(require)}"
					exportable="false"
					rendered="#{customColumnMBean.chekcDataTableColumn('附加檔案')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('附加檔案')?
                                          '59':
                                          customColumnMBean.getColumnWidth('附加檔案')}px">
					<h:outputText value="#{search27MBean.getAttInfo(require)}" />
				</p:column>
				<p:column
					headerText="期望完成日"
					sortBy="#{require.hopeDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('期望完成日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('期望完成日')?
                                          '75':
                                          customColumnMBean.getColumnWidth('期望完成日')}px">
					<h:outputText value="#{require.hopeDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
			</p:dataTable>

			<p:outputPanel rendered="#{search27MBean.switchType eq 'DETAIL'}">
				<p:dataTable
					id="#{search27MBean.dataTableId}1"
					value="#{search27MBean.queryItems}"
					var="require"
					rowKey="#{require.sid}"
					rowIndexVar="index"
					scrollHeight="470"
					scrollable="true"
					paginator="true"
					rows="50"
					draggableColumns="true"
					class="reportUpdateClz"
					resizableColumns="true"
					selectionMode="single"
					selection="#{search27MBean.querySelection}"
					style="width: 35%;float: left;margin-right: 2px;"
					rowStyleClass="#{searchHelper.appendRowCss(require.urgency, require.readRecordType)}"
					rendered="#{search27MBean.switchFullType != 'FULLCONTENT'}">
					<!-- 點選更新需求單明細 -->
					<p:ajax
						event="rowSelect"
						onstart="showLoad();"
						process="@this"
						listener="#{search27MBean.onRowSelect}"
						update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId req03botmid"
						oncomplete="hideLoad();" />
					<p:ajax
						event="colReorder"
						update="@parent" />
					<p:column
						headerText="序"
						width="5">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="部"
						width="5"
						exportable="false">
						<p:commandLink
							value="#{require.hasForwardDep?'★':'　'}"
							actionListener="#{search27MBean.openForwardDialog(require)}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							process="@this"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="個"
						width="5"
						exportable="false">
						<p:commandLink
							value="#{require.hasForwardMember?'★':'　'}"
							actionListener="#{search27MBean.openForwardDialog(require)}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							process="@this"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="關"
						width="5">
						<p:commandLink
							value="#{require.hasLink?'★':'　'}"
							onclick="showLoad();"
							oncomplete="openDlgRelevance();hideLoad();"
							process="@this"
							update=":formTemplate:tvRelevance"
							actionListener="#{require01MBean.relevanceMBean.initRelevance}"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="追"
						width="5"
						exportable="false"
						rendered="#{customColumnMBean.chekcDataTableColumn('追')}"
						style="width:#{empty customColumnMBean.getColumnWidth('追')?
                                             '10':
                                             customColumnMBean.getColumnWidth('追')}px">
						<p:commandLink
							value="#{search27MBean.showTrace(require)}"
							onstart="showLoad();"
							oncomplete="showPF('dlgTraceAction');hideLoad();"
							process="@this"
							update=":formTemplate:dlgTraceAction_view"
							actionListener="#{search27MBean.btnAddTrack(require)}"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="需求人員"
						sortBy="#{usrBean.name(require.createdUser)}"
						width="20%">
						<h:outputText value="#{usrBean.name(require.createdUser)}" />
					</p:column>
					<p:column
						headerText="主題"
						sortBy="#{require.requireTheme}">
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{search27MBean.btnOpenUrl(search27MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
							onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
							oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
							process="@this" />
						<h:outputText
							id="dtRequire_requireTheme"
							value="#{require.requireTheme}" />
						<p:tooltip
							for="dtRequire_requireTheme"
							value="#{require.requireTheme}"
							trackMouse="true"
							rendered="#{search27MBean.hasDisplay}"
							styleClass="tooltipWidth" />
					</p:column>
				</p:dataTable>

				<!-- 需求單內容 -->
				<p:outputPanel style="width: #{search27MBean.switchFullType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{search27MBean.switchFullType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
					<c:if test="#{search27MBean.switchFullType eq 'FULLCONTENT'}">
						<ui:include src="../require/require03.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search27MBean}" />
						</ui:include>
					</c:if>
					<c:if test="#{search27MBean.switchFullType eq 'DETAIL'}">
						<ui:include src="../require/require03_detail.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search27MBean}" />
						</ui:include>
					</c:if>
				</p:outputPanel>
			</p:outputPanel>
			<p:outputPanel rendered="#{search27MBean.switchType ne 'DETAIL'}">
				<h:outputText
					value="備註："
					style="color: red;" />
				<br />
				<h:outputText
					value="立：自己單位建立的需求單"
					style="color: red;" />
				<br />
				<h:outputText
					value="分：分派至自己單位的需求單"
					style="color: red;" />
				<br />
				<h:outputText
					value="轉：轉寄至自己單位的需求單"
					style="color: red;" />
			</p:outputPanel>
		</p:outputPanel>


		<p:dialog
			widgetVar="dlgReportCustomFilter"
			header="自訂預設搜尋條件"
			resizable="false"
			position="right top"
			modal="true">
			<p:outputPanel
				id="dlgReportCustomFilter_view"
				style="overflow: hidden;">
				<p:scrollPanel
					style="height:400px; width: 400px;"
					mode="native">
					<p:panelGrid>
						<p:row>
							<p:column>
								<h:outputText value="需求類別： " />
							</p:column>
							<p:column>
								<p:selectOneMenu
									value="#{search27MBean.search27ReportCustomFilterComponent.selectBigCategory}"
									converter="#{categoryConverter}"
									style="width: 80px;">
									<f:selectItem itemLabel="全部" />
									<f:selectItems
										value="#{categoryMBean.getBigValues()}"
										var="item"
										itemValue="#{item}"
										itemLabel="#{item.name}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>

						<p:row>
							<p:column>
								<h:outputText value="需求來源： " />
							</p:column>
							<p:column>
								<p:selectOneButton
									value="#{search27MBean.search27ReportCustomFilterComponent.reqSource}"
									id="defaultReqSource">
									<f:selectItem
										itemLabel="立"
										itemValue="立" />
									<f:selectItem
										itemLabel="分"
										itemValue="分" />
									<f:selectItem
										itemLabel="轉"
										itemValue="轉" />
									<p:ajax
										event="change"
										update="defaultReqSource"
										process="@this"
										listener="#{search27MBean.search27ReportCustomFilterComponent.changeReqSource}" />
								</p:selectOneButton>
								<p:commandButton
									value="清除"
									process="@this"
									actionListener="#{search27MBean.search27ReportCustomFilterComponent.clearReqSource}"
									update="defaultReqSource"
									onclick="showLoad();"
									oncomplete="hideLoad();" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputText value="需求製作進度： " />
							</p:column>
							<p:column>
								<p:selectOneMenu value="#{search27MBean.search27ReportCustomFilterComponent.selectRequireStatusType}">
									<f:selectItem itemLabel="全部" />
									<f:selectItems value="#{selectItemBean.getReqStatusItems()}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputText value="是否閱讀： " />
							</p:column>
							<p:column>
								<p:selectOneMenu
									value="#{search27MBean.search27ReportCustomFilterComponent.selectReadRecordType}"
									style="width: 80px;">
									<f:selectItem itemLabel="全部" />
									<f:selectItems value="#{readRecordTypeMBean.getValuesExcept('SYSTEM_UPDATE')}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputText value="待閱原因： " />
							</p:column>
							<p:column>
								<p:selectCheckboxMenu
									value="#{search27MBean.search27ReportCustomFilterComponent.selectReqToBeReadType}"
									label="待閱原因"
									panelStyle="min-width:200px;">
									<f:selectItems value="#{selectItemBean.getReqToBeReadTypeItems()}" />
								</p:selectCheckboxMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputText value="需求人員： " />
							</p:column>
							<p:column>
								<p:inputText value="#{search27MBean.search27ReportCustomFilterComponent.trCreatedUserName}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputText value="類別組合：" />
							</p:column>
							<p:column>
								<p:commandButton
									process="@this"
									icon="fa fa-search"
									actionListener="#{search27MBean.search27ReportCustomFilterComponent.btnOpenCategoryTree()}"
									onclick="showLoad();"
									update="@widgetVar(defaultDlgCate)"
									oncomplete="hideLoad();" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputText value="區間選擇：" />
							</p:column>
							<p:column>
								<p:selectOneMenu value="#{search27MBean.search27ReportCustomFilterComponent.dateTimeType}">
									<f:selectItem
										itemLabel="立單區間"
										itemValue="CREATE_DATE" />
									<f:selectItem
										itemLabel="異動區間"
										itemValue="UPDATE_DATE" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="2">
								<p:selectOneButton
									value="#{search27MBean.search27ReportCustomFilterComponent.dateTypeIndex}"
									id="dateSelectItemButton">
									<f:selectItem
										itemLabel="上個月"
										itemValue="0" />
									<f:selectItem
										itemLabel="本月份"
										itemValue="1" />
									<f:selectItem
										itemLabel="下個月"
										itemValue="2" />
									<f:selectItem
										itemLabel="今日"
										itemValue="3" />
									<f:selectItem
										itemLabel="清除"
										itemValue="4" />
									<p:ajax
										event="change"
										update="dateSelectItemButton"
										process="@this"
										listener="#{search27MBean.search27ReportCustomFilterComponent.clearDateType()}" />
								</p:selectOneButton>
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<h:outputText value="模糊搜尋： " />
							</p:column>
							<p:column>
								<p:inputText value="#{search27MBean.search27ReportCustomFilterComponent.fuzzyText}" />
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:scrollPanel>
				<p:panelGrid>
					<p:column colspan="2">
						<p:commandButton
							value="確定"
							process="@this dlgReportCustomFilter_view "
							actionListener="#{search27MBean.search27ReportCustomFilterComponent.saveReportCustomFilter()}"
							onclick="showLoad();"
							oncomplete="hideLoad();" />
						<p:commandButton
							value="取消"
							process="@this"
							onclick="PF('dlgReportCustomFilter').hide()" />
					</p:column>
				</p:panelGrid>
			</p:outputPanel>
		</p:dialog>


		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search27MBean}" />
		</ui:include>
		<!--類別組合樹-->
		<ui:include src="../components/category_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="dlgCate" />
			<ui:param
				name="categoryTreeComponent"
				value="#{search27MBean.categoryTreeComponent}" />
		</ui:include>
		<!--挑選預設類別組合樹-->
		<ui:include src="../components/category_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="defaultDlgCate" />
			<ui:param
				name="categoryTreeComponent"
				value="#{search27MBean.search27ReportCustomFilterComponent.categoryTreeComponent}" />
		</ui:include>
		<!--報表組織樹-->
		<ui:include
			id="dlgOrgTree"
			src="../components/report_org_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="dlgOrgTree" />
			<ui:param
				name="reportOrgTreeComponent"
				value="#{search27MBean.orgTreeComponent}" />
		</ui:include>


	</ui:define>
</ui:composition>

