<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<p:dialog
	widgetVar="dlgReportCustomFilter"
	header="自訂預設搜尋條件"
	resizable="false"
	position="right top"
	modal="true">
	<p:outputPanel
		id="dlgReportCustomFilter_view"
		style="overflow: hidden;">
		<p:scrollPanel
			style="height:500px; width: 400px;"
			mode="native">
			<p:panelGrid>
				<p:row>
					<p:column colspan="1">
						<h:outputText value="需求類別： " />
						<p:selectOneMenu
							value="#{search16MBean.searchQuery.customerQueryVo.selectBigCategory}"
							style="width: 80px;">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{selectItemBean.getBigCategoryItems()}" />
						</p:selectOneMenu>
					</p:column>
				</p:row>
				<p:row>
					<p:column colspan="1">
						<h:outputText value="需求製作進度： " />
						<p:selectOneMenu value="#{search16MBean.searchQuery.customerQueryVo.selectRequireStatusType}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{search16MBean.searchQuery.getReqStatusItems()}" />
						</p:selectOneMenu>
					</p:column>
				</p:row>
				<p:row>
					<p:column colspan="1">
						<h:outputText value="是否閱讀： " />
						<p:selectOneMenu
							value="#{search16MBean.searchQuery.customerQueryVo.selectReadRecordType}"
							style="width: 80px;">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{readRecordTypeMBean.getValuesExcept('SYSTEM_UPDATE')}" />
						</p:selectOneMenu>
					</p:column>
				</p:row>
				<p:row>
					<p:column colspan="1">
						<h:outputText value="填單單位： " />
						<p:commandButton
							icon="fa fa-search"
							process="@this"
							actionListener="#{search16MBean.searchTreepicker_openDialog('CREATE_DEP_IN_CSTOM_CONDITION')}"
							onclick='showLoad();'
							oncomplete="hideLoad();" />

					</p:column>
				</p:row>
				<p:row>
					<p:column colspan="1">
						<h:outputText value="通知單位： " />
						<p:commandButton
							icon="fa fa-search"
							process="@this"
							actionListener="#{search16MBean.searchTreepicker_openDialog('NOTIFY_DEP_IN_CSTOM_CONDITION')}"
							onclick='showLoad();'
							oncomplete="hideLoad();" />
					</p:column>
				</p:row>
				<p:row>
					<p:column colspan="3">
						<h:outputText value="填單人員： " />
						<p:inputText value="#{search16MBean.searchQuery.customerQueryVo.opCreatedUsrName}" />
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="3">
						<h:outputText value="模糊搜尋：" />
						<p:inputText value="#{search16MBean.searchQuery.customerQueryVo.fuzzyText}" />
					</p:column>
				</p:row>
				<p:row>
					<p:column colspan="3">
						<h:outputText value="類別組合： &nbsp;&nbsp;" />
						<p:commandButton
							icon="fa fa-search"
							process="@this"
							actionListener="#{search16MBean.searchTreepicker_openDialog('CATEGORY_IN_CSTOM_CONDITION')}"
							onclick='showLoad();'
							oncomplete="hideLoad();" />
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="3">
						<h:outputText value="待閱原因： " />
						<p:selectCheckboxMenu
							value="#{search16MBean.searchQuery.customerQueryVo.readReason}"
							converter="waitReadReasonTypeConverter"
							label="待閱原因"
							panelStyle="width:150px;">
							<f:selectItems value="#{waitReadReasonTypeBean.getOnpgItems()}" />
						</p:selectCheckboxMenu>
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="3">
						<h:outputText value="ON程式狀態： " />
						<p:selectCheckboxMenu
							value="#{search16MBean.searchQuery.customerQueryVo.onPgStatus}"
							label="ON程式狀態"
							panelStyle="width:150px;">
							<f:selectItems value="#{selectItemBean.getWorkOnpgStatusItems()}" />
						</p:selectCheckboxMenu>
					</p:column>
				</p:row>

				<p:row>
					<p:column colspan="5">
						<p:selectOneButton
							value="#{search16MBean.searchQuery.customerQueryVo.dateTypeIndexStr}"
							id="dateSelectItemButton">
							<f:selectItem
								itemLabel="上個月"
								itemValue="0" />
							<f:selectItem
								itemLabel="本月份"
								itemValue="1" />
							<f:selectItem
								itemLabel="下個月"
								itemValue="2" />
							<f:selectItem
								itemLabel="今日"
								itemValue="3" />
							<f:selectItem
								itemLabel="清除"
								itemValue="4" />

							<p:ajax
								event="change"
								update="dateSelectItemButton"
								process="@this"
								listener="#{search16MBean.searchQuery.clearDateType()}" />
						</p:selectOneButton>
					</p:column>
				</p:row>
			</p:panelGrid>
		</p:scrollPanel>
		<p:panelGrid>
			<p:column colspan="2">
				<p:commandButton
					value="確定"
					process="@this dlgReportCustomFilter_view"
					actionListener="#{search16MBean.searchQuery.saveDefaultSetting()}"
					update="headerPanel"
					onclick="showLoad();"
					oncomplete="hideLoad();init_queryCondition_DateRange()" />
				<p:commandButton
					value="取消"
					process="@this"
					onclick="PF('dlgReportCustomFilter').hide()" />
			</p:column>
		</p:panelGrid>
	</p:outputPanel>
</p:dialog>
</html>

