<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="送測異動明細表" />
	</ui:define>
	<ui:define name="content">
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search15MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			update="@(.reportUpdateClz)"
			process="@this headerPanel" />
		<!-- 來自於連結的僅查詢單號 -->
		<p:toolbar rendered="#{search15MBean.isHideHeader}">
			<f:facet name="left">
				<p:outputLabel value="送測歷程 - #{search15MBean.searchQuery.testinfoNo}" />
			</f:facet>
		</p:toolbar>
		<p:spacer rendered="#{search15MBean.isHideHeader}" />

		<!--查詢表頭-->
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{search15MBean.switchFullType != 'FULLCONTENT' and !search15MBean.isHideHeader}"
			style="border:none">
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{search15MBean.searchQuery.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1250px;">
					<p:panelGrid columns="14">
						<h:outputText value="需求類別： " />
						<p:selectOneMenu value="#{search15MBean.searchQuery.selectBigCategorySid}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{selectItemBean.getBigCategoryItems()}" />
						</p:selectOneMenu>

						<h:outputText value="填單單位： " />
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{search15MBean.btnOpenOrgTree()}"
							onclick='showLoad();'
							oncomplete="hideLoad();"
							update="@widgetVar(dlgOrgTree)"
							process="@this" />

						<h:outputText value="送測單位： " />
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{search15MBean.btnOpenNoticeOrgTree()}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							update="@widgetVar(dlgOrgTreeNotice)"
							process="@this" />

						<h:outputText value="模糊搜尋： " />
						<p:inputText
							value="#{search15MBean.searchQuery.fuzzyText}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');"
							style="width: 160px;" />

						<h:outputText value="送測單號： " />
						<p:inputText
							value="#{search15MBean.searchQuery.testinfoNo}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');"
							style="width: 160px;" />

						<!-- 查詢欄位:系統別 -->
						<ui:include src="queryCondition_checkItem_style01.xhtml">
							<ui:param
								name="conditionVO"
								value="#{search15MBean.searchQuery}" />
						</ui:include>
					</p:panelGrid>
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1250px;">
					<p:panelGrid
						columns="5"
						style="float:left;">
						<h:panelGroup>
							<h:outputText value="類別組合： " />
							<p:commandButton
								icon="fa fa-search"
								actionListener="#{search15MBean.btnOpenCategoryTree()}"
								onclick="showLoad();"
								oncomplete="hideLoad();"
								update="@widgetVar(dlgCate)"
								process="@this" />
						</h:panelGroup>

						<p:selectCheckboxMenu
							id="testInfoItems"
							value="#{search15MBean.searchQuery.testStatus}"
							label="送測狀態"
							panelStyle="width:150px;">
							<f:selectItems value="#{selectItemBean.getWorkTestStatusItems()}" />
						</p:selectCheckboxMenu>

						<p:tabMenu
							id="dateBtn"
							activeIndex="#{search15MBean.searchQuery.dateTypeIndex}">
							<p:menuitem
								value="上個月"
								actionListener="#{search15MBean.searchQuery.changeDateIntervalPreMonth()}"
								update="interval @parent"
								process="@this" />
							<p:menuitem
								value="本月份"
								actionListener="#{search15MBean.searchQuery.changeDateIntervalThisMonth()}"
								update="interval @parent"
								process="@this" />
							<p:menuitem
								value="下個月"
								actionListener="#{search15MBean.searchQuery.changeDateIntervalNextMonth()}"
								update="interval @parent"
								process="@this" />
						</p:tabMenu>

						<h:panelGroup id="interval">
							<h:outputText value="填單區間： " />
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{search15MBean.searchQuery.startDate}" />
								<ui:param
									name="endDate"
									value="#{search15MBean.searchQuery.endDate}" />
								<ui:param
									name="startDateId"
									value="calStartDate" />
								<ui:param
									name="endDateId"
									value="calEndDate" />
							</ui:include>
						</h:panelGroup>
					</p:panelGrid>

					<p:panelGrid
						columns="3"
						style="float:right;margin-top: 4px">
						<p:commandButton
							value="搜尋"
							actionListener="#{search15MBean.search()}"
							onclick="showLoad();selectDataTablePage('wvRequire', 0);"
							oncomplete="hideLoad();"
							update="searchBody @(.reportUpdateClz)"
							process="@this headerPanel" />
						<p:commandButton
							value="清除"
							actionListener="#{search15MBean.clear()}"
							onclick="showLoad();selectDataTablePage('wvRequire', 0);"
							oncomplete="hideLoad();"
							update="headerPanel pgAdvance searchBody @(.reportUpdateClz)"
							process="@this" />
						<p:commandButton
							value="自訂預設搜尋條件"
							process="@this "
							update="dlgReportCustomFilter_view"
							actionListener="#{search15MBean.openDefaultSetting()}"
							onclick="showLoad();"
							oncomplete="hideLoad();showPF('dlgReportCustomFilter');" />
					</p:panelGrid>
				</p:outputPanel>
			</p:outputPanel>

			<!--查詢表身上的按鈕-->
			<p:panelGrid
				columns="4"
				class="reportUpdateClz">
				<p:commandButton
					value="#{search15MBean.switchType.typeName}"
					onclick="showLoad()"
					process="@this"
					actionListener="#{search15MBean.toggleSearchBody()}"
					update="searchBody @this"
					oncomplete="hideLoad();"
					rendered="#{not empty search15MBean.queryItems}" />
				<p:commandLink
					value="進階搜尋"
					style="color:blue;"
					process="@this" />
				<p:overlayPanel
					widgetVar="olpAdvance"
					for="@previous"
					dismissable="false">
					<p:panelGrid
						id="pgAdvance"
						columns="2">
						<h:outputText value="立單區間：" />
						<h:panelGroup>
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{search15MBean.searchQuery.startUpdatedDate}" />
								<ui:param
									name="endDate"
									value="#{search15MBean.searchQuery.endUpdatedDate}" />
								<ui:param
									name="startDateId"
									value="createStartDate" />
								<ui:param
									name="endDateId"
									value="createEndDate" />
							</ui:include>
						</h:panelGroup>
						<h:outputText value="需求單號：" />
						<p:inputText value="#{search15MBean.searchQuery.requireNo}" />
					</p:panelGrid>
					<p:commandButton
						value="確定"
						oncomplete="PF('olpAdvance').hide();doSearchData();"
						process="@parent" />
					<p:commandButton
						value="取消"
						onclick="PF('olpAdvance').hide()"
						type="button" />
					<p:commandButton
						value="清除"
						actionListener="#{search15MBean.searchQuery.clearAdvance()}"
						update="pgAdvance"
						process="@this" />

				</p:overlayPanel>
				<p:commandButton
					value="匯出"
					actionListener="#{search15MBean.hideColumnContent()}"
					onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
					ajax="false">
					<p:dataExporter
						type="xls"
						target="#{search15MBean.dataTableId}"
						fileName="report"
						postProcessor="#{search15MBean.exportExcel}" />
				</p:commandButton>
			</p:panelGrid>
		</p:panel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				id="#{search15MBean.dataTableId}"
				rendered="#{search15MBean.switchType eq 'CONTENT' and search15MBean.switchFullType != 'FULLCONTENT'}"
				widgetVar="wvRequire"
				value="#{search15MBean.queryItems}"
				var="require"
				rowKey="#{require.sid}"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				selection="#{search15MBean.querySelection}"
				rowStyleClass="#{require.urgency =='URGENT'?'urgencyRow':''}"
				class="reportUpdateClz">
				<!-- 點選更新需求單明細 -->
				<p:ajax
					event="rowSelect"
					process="@this" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{search15MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="需求單位"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單位')}"
					sortBy="#{orgBean.name(require.requireDep)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單位')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求單位')}px">
					<h:outputText value="#{orgBean.name(require.requireDep)}" />
				</p:column>
				<p:column
					headerText="需求日期"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求日期',false)}"
					sortBy="#{require.requireDate}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求日期')?
                                          '30':
                                          customColumnMBean.getColumnWidth('需求日期')}px">
					<h:outputText value="#{require.requireDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="需求人員"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求人員',false)}"
					sortBy="#{usrBean.name(require.requireUser)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求人員')?
                                          '30':
                                          customColumnMBean.getColumnWidth('需求人員')}px">
					<h:outputText value="#{usrBean.name(require.requireUser)}" />
				</p:column>
				<p:column
					headerText="主題"
					rendered="#{customColumnMBean.chekcDataTableColumn('主題')}"
					sortBy="#{require.requireTheme}"
					style=" width:#{empty customColumnMBean.getColumnWidth('主題')?
                                          '100':
                                          customColumnMBean.getColumnWidth('主題')}px">
					<h:outputText
						id="dtRequire_requireTheme"
						value="#{require.requireTheme}" />
					<p:tooltip
						for="dtRequire_requireTheme"
						rendered="#{search15MBean.hasDisplay}"
						value="#{require.requireTheme}"
						trackMouse="true"
						styleClass="tooltipWidth" />
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="result_column_checkItems.xhtml" />
				<p:column
					headerText="需求類別"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求類別',false)}"
					sortBy="#{require.bigName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求類別')?
                                          '30':
                                          customColumnMBean.getColumnWidth('需求類別')}px">
					<h:outputText value="#{require.bigName}" />
				</p:column>
				<p:column
					headerText="中類"
					rendered="#{customColumnMBean.chekcDataTableColumn('中類',false)}"
					sortBy="#{require.middleName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('中類')?
                                          '30':
                                          customColumnMBean.getColumnWidth('中類')}px">
					<h:outputText value="#{require.middleName}" />
				</p:column>
				<p:column
					headerText="小類"
					rendered="#{customColumnMBean.chekcDataTableColumn('小類',false)}"
					sortBy="#{require.smallName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('小類')?
                                          '30':
                                          customColumnMBean.getColumnWidth('小類')}px">
					<h:outputText value="#{require.smallName}" />
				</p:column>
				<p:column
					headerText="需求製作進度"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求製作進度',false)}"
					sortBy="#{commonBean.get(require.requireStatus)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求製作進度')?
                                          '30':
                                          customColumnMBean.getColumnWidth('需求製作進度')}px">
					<h:outputText value="#{commonBean.get(require.requireStatus)}" />
				</p:column>
				<p:column
					headerText="需求單號"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單號')}"
					sortBy="#{require.requireNo}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單號')?
                                          '115':
                                          customColumnMBean.getColumnWidth('需求單號')}px">
					<h:outputText value="#{require.requireNo}" />
				</p:column>
				<p:column
					headerText="填單日期"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單日期')}"
					sortBy="#{require.createdDate}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('填單日期')}px">
					<h:outputText value="#{require.createdDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="填單單位"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單單位',false)}"
					filterBy="#{require.createDepName}"
					sortBy="#{require.createDepName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單單位')?
                                          '30':
                                          customColumnMBean.getColumnWidth('填單單位')}px">
					<f:facet name="filter">
						<p:selectOneMenu
							value="#{search15MBean.createDepName}"
							style=" width: 100px">
							<p:ajax
								listener="#{search15MBean.doChangeFilter()}"
								onstart="showLoad();"
								oncomplete="hideLoad();"
								update="#{search15MBean.dataTableId}"
								process="@this" />
							<f:selectItem
								itemValue=""
								itemLabel="全部" />
							<f:selectItems value="#{search15MBean.createDepNameItems}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{require.createDepName}" />
				</p:column>
				<p:column
					headerText="填單人員"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單人員')}"
					sortBy="#{usrBean.name(require.createdUser)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('填單人員')}px">
					<h:outputText value="#{usrBean.name(require.createdUser)}" />
				</p:column>
				<p:column
					headerText="送測主題"
					sortBy="#{require.testTheme}">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{search15MBean.hasDisplay}"
						actionListener="#{search15MBean.btnOpenUrl(search15MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{require.testTheme}"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						process="@this"
						actionListener="#{search15MBean.fullScreenForm(require)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();"
						styleClass="blueAndUnderline" />
					<p:tooltip
						for="@previous"
						widgetVar="tooltip#{index+1}"
						rendered="#{search15MBean.hasDisplay}"
						value="#{require.testTheme}"
						trackMouse="true"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="送測單位"
					rendered="#{customColumnMBean.chekcDataTableColumn('送測單位',false)}"
					sortBy="#{search15MBean.getSendTestDepStr(require)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('送測單位')?
                                          '60':
                                          customColumnMBean.getColumnWidth('送測單位')}px">
					<h:outputText
						id="dtRequire_sendStaff"
						value="#{search15MBean.getSendTestDepStr(require)}" />
					<p:tooltip
						for="dtRequire_sendStaff"
						value="#{search15MBean.getSendTestDepStr(require)}"
						trackMouse="true"
						rendered="#{search15MBean.hasDisplay}"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="送測單號"
					rendered="#{customColumnMBean.chekcDataTableColumn('送測單號')}"
					sortBy="#{require.testinfoNo}"
					style=" width:#{empty customColumnMBean.getColumnWidth('送測單號')?
                                          '115':
                                          customColumnMBean.getColumnWidth('送測單號')}px">
					<h:outputText value="#{require.testinfoNo}" />
				</p:column>
				<p:column
					headerText="送測狀態"
					rendered="#{customColumnMBean.chekcDataTableColumn('送測狀態')}"
					sortBy="#{commonBean.get(require.behaviorStatus)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('送測狀態')?
                                          '70':
                                          customColumnMBean.getColumnWidth('送測狀態')}px">
					<h:outputText
						value="#{commonBean.get(require.behaviorStatus)}"
						style="#{commonBean.get(require.behaviorStatus) eq '退測'?
                                           'color: red;font-weight:bold':
                                           ''}" />
				</p:column>
				<p:column
					headerText="異動日期"
					rendered="#{customColumnMBean.chekcDataTableColumn('異動日期',false)}"
					sortBy="#{require.testHistoryCreatedDate}"
					style=" width:#{empty customColumnMBean.getColumnWidth('異動日期')?
                                          '30':
                                          customColumnMBean.getColumnWidth('異動日期')}px">
					<h:outputText value="#{require.testHistoryCreatedDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="執行人員"
					rendered="#{customColumnMBean.chekcDataTableColumn('執行人員')}"
					sortBy="#{usrBean.name(require.testHistoryCreatedUser)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('執行人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('執行人員')}px">
					<h:outputText value="#{usrBean.name(require.testHistoryCreatedUser)}" />
				</p:column>
				<p:column
					headerText="說明"
					rendered="#{customColumnMBean.chekcDataTableColumn('說明')}"
					sortBy="#{require.reason}"
					style=" width:#{empty customColumnMBean.getColumnWidth('說明')?
                                          '35':
                                          customColumnMBean.getColumnWidth('說明')}px">
					<h:outputText value="#{require.reason}" />
				</p:column>
			</p:dataTable>

			<p:outputPanel rendered="#{search15MBean.switchType eq 'DETAIL'}">
				<p:dataTable
					id="#{search15MBean.dataTableId}1"
					rendered="#{search15MBean.switchFullType != 'FULLCONTENT'}"
					value="#{search15MBean.queryItems}"
					var="require"
					rowKey="#{require.sid}"
					rowIndexVar="index"
					scrollHeight="470"
					scrollable="true"
					paginator="true"
					rows="#{customColumnMBean.pageCount}"
					draggableColumns="true"
					resizableColumns="true"
					selectionMode="single"
					selection="#{search15MBean.querySelection}"
					style="width: 35%;float: left;margin-right: 2px;"
					rowStyleClass="#{require.urgency =='URGENT'?'urgencyRow':''}"
					class="reportUpdateClz">
					<p:ajax
						event="rowSelect"
						onstart="showLoad();"
						process="@this"
						listener="#{search15MBean.onRowSelect}"
						update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId req05botmid"
						oncomplete="hideLoad();" />
					<p:column
						headerText="序"
						width="5">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="送測主題"
						sortBy="#{require.testTheme}">
						<p:commandButton
							icon="fa fa-search"
							rendered="#{search15MBean.hasDisplay}"
							actionListener="#{search15MBean.btnOpenUrl(search15MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
							onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
							oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
							process="@this" />
						<h:outputText
							id="dtRequire_testTheme"
							value="#{require.testTheme}" />
						<p:tooltip
							for="dtRequire_testTheme"
							value="#{require.testTheme}"
							trackMouse="true"
							styleClass="tooltipWidth" />
					</p:column>
				</p:dataTable>
				<!-- 需求單內容 -->
				<p:outputPanel style="width: #{search15MBean.switchFullType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{search15MBean.switchFullType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
					<c:if test="#{search15MBean.switchFullType eq 'FULLCONTENT'}">
						<ui:include src="../require/require05.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search15MBean}" />
						</ui:include>
					</c:if>
					<c:if test="#{search15MBean.switchFullType eq 'DETAIL'}">
						<ui:include src="../require/require05_detail.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search15MBean}" />
						</ui:include>
					</c:if>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>


		<p:dialog
			widgetVar="dlgReportCustomFilter"
			header="自訂預設搜尋條件"
			resizable="false"
			position="right top"
			modal="true">
			<p:outputPanel
				id="dlgReportCustomFilter_view"
				style="overflow: hidden;">
				<p:scrollPanel
					style="height:400px; width: 400px;"
					mode="native">
					<p:panelGrid>
						<p:row>
							<p:column colspan="1">
								<h:outputText value="需求類別： " />
								<p:selectOneMenu
									style="width: 80px;"
									value="#{search15MBean.searchQuery15CustomFilter.tempSearchQuery15.selectBigCategorySid}">
									<f:selectItem itemLabel="全部" />
									<f:selectItems value="#{selectItemBean.getBigCategoryItems()}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="填單單位： &nbsp;&nbsp;" />
								<p:commandButton
									process="@this"
									icon="fa fa-search"
									update="@widgetVar(defaultdlgOrgTree)"
									onclick="showLoad();"
									actionListener="#{search15MBean.searchQuery15CustomFilter.btnOpenOrgTree()}"
									oncomplete="hideLoad();" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="送測單位： &nbsp;&nbsp;" />
								<p:commandButton
									process="@this"
									icon="fa fa-search"
									update="@widgetVar(defaultdlgOrgTreeNotice)"
									onclick="showLoad();"
									actionListener="#{search15MBean.searchQuery15CustomFilter.btnOpenNoticeOrgTree()}"
									oncomplete="hideLoad();" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="模糊搜尋： " />
								<p:inputText value="#{search15MBean.searchQuery15CustomFilter.tempSearchQuery15.fuzzyText}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="送測單號： " />
								<p:inputText value="#{search15MBean.searchQuery15CustomFilter.tempSearchQuery15.testinfoNo}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="類別組合： &nbsp;&nbsp;" />
								<p:commandButton
									process="@this"
									icon="fa fa-search"
									actionListener="#{search15MBean.searchQuery15CustomFilter.btnOpenCategoryTree()}"
									onclick="showLoad();"
									update="@widgetVar(defaultDlgCate)"
									oncomplete="hideLoad();" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="送測狀態： " />
								<p:selectCheckboxMenu
									value="#{search15MBean.searchQuery15CustomFilter.tempSearchQuery15.testStatus}"
									label="送測狀態"
									panelStyle="width:150px;">
									<f:selectItems value="#{selectItemBean.getWorkTestStatusItems()}" />
								</p:selectCheckboxMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="5">
								<p:selectOneButton
									id="dateSelectItemButton"
									value="#{search15MBean.searchQuery15CustomFilter.tempSearchQuery15.dateTypeIndex}">
									<f:selectItem
										itemLabel="上個月"
										itemValue="0" />
									<f:selectItem
										itemLabel="本月份"
										itemValue="1" />
									<f:selectItem
										itemLabel="下個月"
										itemValue="2" />
									<f:selectItem
										itemLabel="清除"
										itemValue="3" />
									<p:ajax
										event="change"
										update="dateSelectItemButton"
										process="@this"
										listener="#{search15MBean.searchQuery15CustomFilter.clearDateType()}" />
								</p:selectOneButton>

							</p:column>
						</p:row>
					</p:panelGrid>
				</p:scrollPanel>
				<p:panelGrid>
					<p:column colspan="2">
						<p:commandButton
							value="確定"
							process="@this dlgReportCustomFilter_view "
							actionListener="#{search15MBean.searchQuery15CustomFilter.saveReportCustomFilter()}"
							onclick="showLoad();"
							oncomplete="hideLoad();" />
						<p:commandButton
							value="取消"
							process="@this"
							onclick="PF('dlgReportCustomFilter').hide()" />
					</p:column>
				</p:panelGrid>

			</p:outputPanel>
		</p:dialog>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search15MBean}" />
		</ui:include>
		<!--類別組合樹-->
		<ui:include src="../components/category_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="dlgCate" />
			<ui:param
				name="categoryTreeComponent"
				value="#{search15MBean.categoryTreeComponent}" />
		</ui:include>
		<!--挑選預設類別組合樹-->
		<ui:include src="../components/category_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="defaultDlgCate" />
			<ui:param
				name="categoryTreeComponent"
				value="#{search15MBean.searchQuery15CustomFilter.categoryTreeComponent}" />
		</ui:include>
		<!--報表組織樹-->
		<ui:include
			id="dlgOrgTree"
			src="../components/report_org_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="dlgOrgTree" />
			<ui:param
				name="reportOrgTreeComponent"
				value="#{search15MBean.orgTreeComponent}" />
		</ui:include>
		<!--報表組織樹 for 進階搜尋(轉發至)-->
		<ui:include
			id="dlgOrgTreeNotice"
			src="../components/report_org_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="dlgOrgTreeNotice" />
			<ui:param
				name="reportOrgTreeComponent"
				value="#{search15MBean.orgTreeNoticeComponent}" />
		</ui:include>
		<ui:include
			id="dlgOrgTreeDefault"
			src="../components/report_org_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="defaultdlgOrgTree" />
			<ui:param
				name="reportOrgTreeComponent"
				value="#{search15MBean.searchQuery15CustomFilter.orgTreeComponent}" />
		</ui:include>
		<ui:include
			id="dlgOrgTreeDefaultNotice"
			src="../components/report_org_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="defaultdlgOrgTreeNotice" />
			<ui:param
				name="reportOrgTreeComponent"
				value="#{search15MBean.searchQuery15CustomFilter.sendTestorgTreeComponent}" />
		</ui:include>


	</ui:define>
</ui:composition>

