<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="案件單轉入報表" />
	</ui:define>
	<ui:define name="content">
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search24MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			process="@this headerPanel"
			update="@(.reportUpdateClz)" />
		<!--查詢表頭-->
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{search24MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{commonHeaderMBean.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;">
					<p:panelGrid columns="14">
						<h:outputText value="製作進度： " />
						<p:selectCheckboxMenu
							value="#{search24HeaderMBean.selectRequireStatusTypes}"
							label="製作進度"
							converter="requireStatusTypeConverter"
							panelStyle="min-width:200px;">
							<f:selectItems value="#{search24HeaderMBean.getReqStatusItems()}" />
						</p:selectCheckboxMenu>

						<h:outputText value="是否閱讀： " />
						<p:selectOneMenu
							value="#{search24HeaderMBean.selectReadRecordType}"
							style="width: 80px;">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{readRecordTypeMBean.getValuesExcept('SYSTEM_UPDATE')}" />
						</p:selectOneMenu>

						<h:outputText value="填單人員： " />
						<p:inputText
							value="#{commonHeaderMBean.trCreatedUserName}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');" />

						<h:outputText value="模糊搜尋： " />
						<p:inputText
							value="#{commonHeaderMBean.fuzzyText}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');" />

						<h:outputText value="案件單進度： " />
						<p:selectOneMenu
							value="#{search24HeaderMBean.issueStatus}"
							style="width: 80px;">
							<f:selectItems value="#{search24HeaderMBean.getIssueStatusItems()}" />
						</p:selectOneMenu>
						<!-- 查詢欄位:系統別 -->
						<ui:include src="queryCondition_checkItem_style03.xhtml">
							<ui:param
								name="conditionVO"
								value="#{commonHeaderMBean}" />
						</ui:include>
					</p:panelGrid>
					<p:panelGrid columns="6">
						<p:tabMenu
							id="dateBtn"
							activeIndex="#{commonHeaderMBean.dateTypeIndex}">
							<p:menuitem
								value="上個月"
								process="@this"
								update="interval @parent"
								actionListener="#{commonHeaderMBean.getDateInterval('PREVIOUS_MONTH')}" />
							<p:menuitem
								value="本月份"
								process="@this"
								update="interval @parent"
								actionListener="#{commonHeaderMBean.getDateInterval('THIS_MONTH')}" />
							<p:menuitem
								value="下個月"
								process="@this"
								update="interval @parent"
								actionListener="#{commonHeaderMBean.getDateInterval('NEXT_MONTH')}" />
						</p:tabMenu>

						<h:outputText value="轉入區間： " />
						<h:panelGroup id="interval">
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{commonHeaderMBean.startDate}" />
								<ui:param
									name="endDate"
									value="#{commonHeaderMBean.endDate}" />
								<ui:param
									name="startDateId"
									value="createStartDate" />
								<ui:param
									name="endDateId"
									value="createEndDate" />
							</ui:include>
						</h:panelGroup>
						<p:panelGrid
							columns="4"
							style="overflow: hidden;">
							<p:commandButton
								value="廳主"
								type="button" />
							<p:overlayPanel
								for="@previous"
								style="border:none;padding:-6px -12px -6px -12px;"
								dismissable="true"
								showCloseIcon="true">
								<p:selectManyMenu
									id="idCusManyMenu"
									value="#{search24HeaderMBean.customers}"
									style="border:none;width:500px;"
									converter="#{customerConverter}"
									var="gridVar"
									filter="true"
									showCheckbox="true"
									filterMatchMode="contains">
									<f:selectItems
										value="#{search24HeaderMBean.customerItems}"
										var="item"
										itemValue="#{item}"
										itemLabel="#{item.name} @#{item.loginCode} (#{commonBean.get(item.getCustomerType())})">
									</f:selectItems>
									<p:column>
										<h:outputText value="#{gridVar.name}" />
									</p:column>
									<p:column>
										<h:outputText value="@#{gridVar.loginCode}" />
									</p:column>
									<p:column>
										<h:outputText value="(#{commonBean.get(gridVar.getCustomerType())})" />
									</p:column>
								</p:selectManyMenu>
							</p:overlayPanel>


							<p:selectBooleanCheckbox
								value="#{search24HeaderMBean.isCustomerPage}"
								itemLabel="依廳主分頁">
								<p:ajax
									listener="#{search24MBean.chgCustomerPage()}"
									onstart="showLoad();"
									oncomplete="hideLoad();"
									update="customerPage searchBody"
									process="@this" />
							</p:selectBooleanCheckbox>
							<p:outputPanel id="customerPage">

								<p:selectOneMenu
									value="#{search24HeaderMBean.customerPage}"
									rendered="#{search24HeaderMBean.isCustomerPage}"
									converter="#{customerConverter}"
									var="gridVar"
									filter="true"
									panelStyle="min-width:500px;"
									filterMatchMode="contains">
									<p:ajax
										listener="#{search24MBean.chgCustomerPage()}"
										event="change"
										onstart="showLoad();"
										oncomplete="hideLoad();"
										update="searchBody"
										process="@this" />
									<f:selectItems
										value="#{search24HeaderMBean.customerPageItems}"
										var="item"
										itemLabelEscaped="true"
										itemValue="#{item}"
										itemLabel="#{item.name} @#{item.loginCode} (#{commonBean.get(item.getCustomerType())})">
									</f:selectItems>
									<p:column>
										<h:outputText value="#{gridVar.name}" />
									</p:column>
									<p:column>
										<h:outputText value="@#{gridVar.loginCode}" />
									</p:column>
									<p:column>
										<h:outputText value="(#{commonBean.get(gridVar.getCustomerType())})" />
									</p:column>
								</p:selectOneMenu>
							</p:outputPanel>
						</p:panelGrid>

						<p:panelGrid
							columns="2"
							style="float:right;">
							<p:commandButton
								value="搜尋"
								process="@this headerPanel"
								update="searchBody toggleSearchBodyPanel customerPage"
								actionListener="#{search24MBean.search()}"
								onclick="showLoad();selectDataTablePage('wvRequire', 0);"
								oncomplete="hideLoad();" />
							<p:commandButton
								value="清除"
								actionListener="#{search24MBean.clear()}"
								onclick="showLoad();selectDataTablePage('wvRequire', 0);"
								oncomplete="hideLoad();"
								update="headerPanel searchBody"
								process="@this" />
						</p:panelGrid>
					</p:panelGrid>
				</p:outputPanel>
			</p:outputPanel>

			<!--查詢表身上的按鈕-->
			<p:panelGrid
				columns="8"
				id="toggleSearchBodyPanel">
				<p:commandButton
					value="#{search24MBean.switchType.typeName}"
					onclick="showLoad()"
					process="@this"
					actionListener="#{search24MBean.toggleSearchBody()}"
					update="searchBody toggleSearchBodyPanel"
					oncomplete="hideLoad();"
					rendered="#{not empty search24MBean.queryItems}" />
				<p:commandButton
					value="匯出"
					onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
					ajax="false"
					actionListener="#{search24MBean.hideColumnContent()}">
					<p:dataExporter
						type="xls"
						target="dtRequire"
						fileName="report"
						postProcessor="#{search24MBean.exportExcel}" />
				</p:commandButton>
			</p:panelGrid>
		</p:panel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				id="dtRequire"
				widgetVar="wvRequire"
				value="#{search24MBean.queryItems}"
				var="require"
				rowKey="#{require.sid}"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				class="reportUpdateClz"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				selection="#{search24MBean.querySelection}"
				rowStyleClass="#{searchHelper.appendRowCss(require.urgency, require.readRecordType)}"
				rendered="#{search24MBean.switchType eq 'CONTENT' and search24MBean.switchFullType != 'FULLCONTENT'}">
				<!-- 全畫面狀態時不渲染 -->
				<!-- 點選更新需求單明細 -->
				<p:ajax
					event="rowSelect"
					process="@this" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="dtRequire" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="廳主"
					sortBy="#{require.customer.name}"
					rendered="#{customColumnMBean.chekcDataTableColumn('廳主',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('廳主')?
                                          '60':
                                          customColumnMBean.getColumnWidth('廳主')}px">
					<h:outputText value="#{require.customer.name}" />
				</p:column>
				<p:column
					headerText="提出客戶"
					sortBy="#{require.author.name}"
					rendered="#{customColumnMBean.chekcDataTableColumn('提出客戶',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('提出客戶')?
                                          '80':
                                          customColumnMBean.getColumnWidth('提出客戶')}px">
					<h:outputText value="#{require.author.name}" />
				</p:column>
				<p:column
					headerText="需求日期"
					sortBy="#{require.createdDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('立單日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('立單日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('立單日期')}px">
					<h:outputText value="#{require.createdDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="result_column_checkItems.xhtml" />
				<p:column
					headerText="需求類別"
					sortBy="#{require.bigName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求類別',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求類別')?
                                          '30':
                                          customColumnMBean.getColumnWidth('需求類別')}px">
					<h:outputText value="#{require.bigName}" />
				</p:column>
				<p:column
					headerText="中類"
					sortBy="#{require.middleName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('中類',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('中類')?
                                          '30':
                                          customColumnMBean.getColumnWidth('中類')}px">
					<h:outputText value="#{require.middleName}" />
				</p:column>
				<p:column
					headerText="小類"
					sortBy="#{require.smallName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('小類')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('小類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('小類')}px">
					<h:outputText value="#{require.smallName}" />
				</p:column>
				<p:column
					headerText="需求單位"
					sortBy="#{orgBean.name(require.createDep)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單位')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單位')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求單位')}px">
					<h:outputText value="#{orgBean.name(require.createDep)}" />
				</p:column>
				<p:column
					headerText="需求人員"
					sortBy="#{usrBean.name(require.createdUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求人員')}px">
					<h:outputText value="#{usrBean.name(require.createdUser)}" />
				</p:column>
				<p:column
					headerText="需求主題"
					sortBy="#{require.requireTheme}">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{search24MBean.hasDisplay}"
						actionListener="#{search24MBean.btnOpenUrl('dtRequire','wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{require.requireTheme}"
						styleClass="blueAndUnderline"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						process="@this"
						actionListener="#{search24MBean.fullScreenForm(require)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();" />
					<p:tooltip
						widgetVar="tooltip#{index+1}"
						for="@previous"
						value="#{require.requireTheme}"
						trackMouse="true"
						rendered="#{search24MBean.hasDisplay}"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="需求進度"
					sortBy="#{commonBean.get(require.requireStatus)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求進度')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求進度')?
                                          '70':
                                          customColumnMBean.getColumnWidth('需求進度')}px">
					<h:outputText value="#{commonBean.get(require.requireStatus)}" />
				</p:column>
				<!-- 是否閱讀 -->
				<ui:include src="../components/search_column_readRecordType.xhtml">
					<ui:param
						name="searchRowData"
						value="#{require}" />
				</ui:include>
				<!-- 待閱原因 -->
				<ui:include src="../components/search_column_readReason.xhtml">
					<ui:param
						name="searchRowData"
						value="#{require}" />
					<ui:param
						name="displayToolitp"
						value="#{search24MBean.hasDisplay}" />
				</ui:include>
				<p:column
					headerText="期望完成日"
					sortBy="#{require.hopeDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('期望完成日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('期望完成日')?
                                          '75':
                                          customColumnMBean.getColumnWidth('期望完成日')}px">
					<h:outputText value="#{require.hopeDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="異動日期"
					sortBy="#{require.updatedDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('異動日期',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('異動日期')?
                                          '75':
                                          customColumnMBean.getColumnWidth('異動日期')}px">
					<h:outputText value="#{require.updatedDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="單號"
					sortBy="#{require.requireNo}"
					rendered="#{customColumnMBean.chekcDataTableColumn('單號',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('單號')?
                                          '115':
                                          customColumnMBean.getColumnWidth('單號')}px">
					<h:outputText value="#{require.requireNo}" />
				</p:column>
				<p:column
					headerText="立案日期"
					sortBy="#{require.issueCreatedDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('立案日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('立案日期')?
                                          '75':
                                          customColumnMBean.getColumnWidth('立案日期')}px">
					<h:outputText value="#{require.issueCreatedDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="案件主題"
					sortBy="#{usrBean.name(require.issueTheme)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('案件主題')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('案件主題')?
                                          '60':
                                          customColumnMBean.getColumnWidth('案件主題')}px">
					<h:outputText value="#{require.issueTheme}" />
				</p:column>
				<p:column
					headerText="案件單號"
					sortBy="#{usrBean.name(require.issueNo)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('案件單號')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('案件單號')?
                                          '60':
                                          customColumnMBean.getColumnWidth('案件單號')}px">
					<h:outputText value="#{require.issueNo}" />
				</p:column>
				<p:column
					headerText="案件派工進度"
					sortBy="#{usrBean.name(require.issueDispatchStatus)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('案件派工進度',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('案件派工進度')?
                                          '60':
                                          customColumnMBean.getColumnWidth('案件派工進度')}px">
					<h:outputText value="#{require.issueDispatchStatus}" />
				</p:column>
				<p:column
					headerText="案件進度"
					sortBy="#{usrBean.name(require.issueStatus)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('案件進度')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('案件進度')?
                                          '60':
                                          customColumnMBean.getColumnWidth('案件進度')}px">
					<h:outputText value="#{require.issueStatus}" />
				</p:column>
				<p:column
					headerText="案件預計完成日"
					sortBy="#{require.issueExpectedDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('案件預計完成日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('案件預計完成日')?
                                          '75':
                                          customColumnMBean.getColumnWidth('案件預計完成日')}px">
					<h:outputText value="#{require.issueExpectedDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="案件負責人員"
					sortBy="#{usrBean.name(require.issueResponsible)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('案件負責人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('案件負責人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('案件負責人員')}px">
					<h:outputText value="#{usrBean.name(require.issueResponsible)}" />
				</p:column>
			</p:dataTable>

			<p:outputPanel rendered="#{search24MBean.switchType eq 'DETAIL'}">
				<p:dataTable
					id="dtRequire1"
					value="#{search24MBean.queryItems}"
					var="require"
					rowKey="#{require.sid}"
					rowIndexVar="index"
					scrollHeight="470"
					scrollable="true"
					paginator="true"
					rows="50"
					draggableColumns="true"
					class="reportUpdateClz"
					resizableColumns="true"
					selectionMode="single"
					selection="#{search24MBean.querySelection}"
					style="width: 35%;float: left;margin-right: 2px;"
					rowStyleClass="#{searchHelper.appendRowCss(require.urgency, require.readRecordType)}"
					rendered="#{search24MBean.switchFullType != 'FULLCONTENT'}">
					<!-- 點選更新需求單明細 -->
					<p:ajax
						event="rowSelect"
						onstart="showLoad();"
						process="@this"
						listener="#{search24MBean.onRowSelect}"
						update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId req03botmid"
						oncomplete="hideLoad();" />
					<p:ajax
						event="colReorder"
						update="@parent" />
					<p:column
						headerText="序"
						width="5">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="需求人員"
						sortBy="#{usrBean.name(require.createdUser)}"
						width="20%">
						<h:outputText value="#{usrBean.name(require.createdUser)}" />
					</p:column>
					<p:column
						headerText="主題"
						sortBy="#{require.requireTheme}">
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{search24MBean.btnOpenUrl('dtRequire','wvRequire',customColumnMBean.pageCount,require)}"
							onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
							oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
							process="@this" />
						<h:outputText
							id="dtRequire_requireTheme"
							value="#{require.requireTheme}" />
						<p:tooltip
							for="dtRequire_requireTheme"
							value="#{require.requireTheme}"
							trackMouse="true"
							rendered="#{search24MBean.hasDisplay}"
							styleClass="tooltipWidth" />
					</p:column>
				</p:dataTable>

				<!-- 需求單內容 -->
				<p:outputPanel style="width: #{search24MBean.switchFullType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{search24MBean.switchFullType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
					<c:if test="#{search24MBean.switchFullType eq 'FULLCONTENT'}">
						<ui:include src="../require/require03.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search24MBean}" />
						</ui:include>
					</c:if>
					<c:if test="#{search24MBean.switchFullType eq 'DETAIL'}">
						<ui:include src="../require/require03_detail.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search24MBean}" />
						</ui:include>
					</c:if>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search24MBean}" />
		</ui:include>
		<!--類別組合樹-->
		<cp:category_tree
			id="cpCateTree"
			widgetVar="dlgCate" />



	</ui:define>
</ui:composition>

