<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="送測排程表" />
	</ui:define>
	<ui:define name="content">
		<style>
.rowColor {
	background: #99ceff;
}
</style>
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search34MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			process="@this headerPanel"
			update="@(.reportUpdateClz)" />
		<!--查詢表頭-->
		<p:panel
			id="headerTitle"
			style="border:none">
			<p:outputPanel
				id="headerPanel"
				style="overflow: hidden;width: 1250px;">
				<p:outputPanel style="margin:5px;">
					<h:outputText
						value="報表類型： #{commonHeaderMBean.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1250px;">
					<p:panelGrid columns="7">
						<p:tabMenu
							id="dateBtn"
							activeIndex="#{search34MBean.queryVO.weekIntervalVO.dateTypeIndex}">
							<p:menuitem
								value="上週"
								process="@this"
								update="interval @parent"
								actionListener="#{search34MBean.queryVO.weekIntervalVO.changeDateIntervalPreWeek()}" />
							<p:menuitem
								value="本週"
								process="@this"
								update="interval @parent"
								actionListener="#{search34MBean.queryVO.weekIntervalVO.changeDateIntervalThisWeek()}" />
							<p:menuitem
								value="下週"
								process="@this"
								update="interval @parent"
								actionListener="#{search34MBean.queryVO.weekIntervalVO.changeDateIntervalNextWeek()}" />
						</p:tabMenu>

						<p:selectOneMenu value="#{search34MBean.queryVO.dateType}">
							<f:selectItems
								value="#{search34MBean.dateTypeItem}"
								var="item"
								itemValue="#{item.value}"
								itemLabel="#{item.label}" />
						</p:selectOneMenu>

						<h:panelGroup id="interval">
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{search34MBean.queryVO.weekIntervalVO.startDate}" />
								<ui:param
									name="endDate"
									value="#{search34MBean.queryVO.weekIntervalVO.endDate}" />
								<ui:param
									name="startDateId"
									value="createStartDate" />
								<ui:param
									name="endDateId"
									value="createEndDate" />
							</ui:include>
						</h:panelGroup>
						<p:commandButton
							value="搜尋"
							actionListener="#{search34MBean.search()}"
							process="@this headerPanel"
							update="#{search34MBean.dataTableId}"
							onclick="showLoad();"
							oncomplete="hideLoad();" />
						<p:commandButton
							value="清除"
							actionListener="#{search34MBean.clear()}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							update="headerPanel searchBody @(.reportUpdateClz)"
							process="@this" />
						<p:commandButton
							value="匯出"
							onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
							ajax="false"
							actionListener="#{search34MBean.hideColumnContent()}">
							<p:dataExporter
								type="xls"
								target="#{search34MBean.dataTableId}"
								fileName="report"
								postProcessor="#{search34MBean.exportExcel}" />
						</p:commandButton>
					</p:panelGrid>
				</p:outputPanel>
			</p:outputPanel>

		</p:panel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				id="#{search34MBean.dataTableId}"
				widgetVar="wvRequire"
				value="#{search34MBean.queryItems}"
				var="require"
				rowKey="#{require.sid}"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				class="reportUpdateClz"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				selection="#{search34MBean.querySelection}"
				rowStyleClass="#{require.hasColor ? 'rowColor' : ''}">
				<!-- 點選更新需求單明細 -->
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{search34MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="送測日"
					sortBy="#{require.testDateStr}"
					filterBy="#{require.testDateStr}"
					filterMatchMode="contains"
					filterStyle="width: 70px;"
					filterFunction="#{search34MBean.filterByTestDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('送測日')}"
					style="text-align:center;width:#{empty customColumnMBean.getColumnWidth('送測日')?
                                          '80':
                                          customColumnMBean.getColumnWidth('送測日')}px">
					<h:outputText value="#{require.testDateStr}" />
				</p:column>
				<p:column
					headerText="QA搜尋連結"
					sortBy="#{require.qaSearchLink}"
					rendered="#{customColumnMBean.chekcDataTableColumn('QA搜尋連結')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('QA搜尋連結')?
                                          '60':
                                          customColumnMBean.getColumnWidth('QA搜尋連結')}px"
					filterStyle="width: 100px;">
					<p:commandLink
						value="#{require.qaLinkName == null ? require.qaSearchLink : require.qaLinkName}"
						styleClass="blueAndUnderline"
						onclick="window.open('#{require.qaSearchLink}')"
						process="@this" />
				</p:column>
				<p:column
					headerText="填單單位"
					sortBy="#{require.createDept}"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單單位')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單單位')?
                                          '125':
                                          customColumnMBean.getColumnWidth('填單單位')}px"
					filterMatchMode="exact"
					filterBy="#{require.createDept}">
					<f:facet name="filter">
						<p:selectOneMenu
							onchange="PF('wvRequire').filter()"
							style=" width: 100px">
							<f:selectItem
								itemValue=""
								itemLabel="全部" />
							<f:selectItems value="#{search34MBean.createDeps}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{require.createDept}" />
				</p:column>
				<p:column
					headerText="填單人員"
					sortBy="#{usrBean.name(require.createdUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('填單人員')}px"
					filterBy="#{usrBean.name(require.createdUser)}"
					filterStyle="width: 70px;"
					filterMatchMode="contains">
					<h:outputText value="#{usrBean.name(require.createdUser)}" />
				</p:column>
				<p:column
					headerText="送測主題"
					sortBy="#{require.testTheme}"
					filterBy="#{require.testTheme}"
					filterMatchMode="contains"
					filterStyle="width: 150px;">
					<p:commandLink
						id="testThemeLink"
						value="#{require.testTheme}"
						styleClass="blueAndUnderline"
						process="@this"
						update="@this"
						actionListener="#{search34MBean.openUrlByLink('wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');" />
					<p:tooltip
						id="testTheme"
						widgetVar="tooltip#{index+1}"
						for="testThemeLink"
						value="#{require.testTheme}"
						trackMouse="true"
						styleClass="tooltipWidth"
						rendered="#{search34MBean.hasDisplay}" />
				</p:column>
				<p:column
					headerText="主測"
					sortBy="#{require.masterTesterNames}"
					rendered="#{customColumnMBean.chekcDataTableColumn('主測')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('主測')?
                                          '60':
                                          customColumnMBean.getColumnWidth('主測')}px"
					filterBy="#{require.masterTesterNames}"
					filterStyle="width: 70px;"
					filterMatchMode="contains">
					<p:commandButton
						icon="fa fa-pencil"
						actionListener="#{search34MBean.prepareUpdateTester(require, true)}"
						rendered="#{search34MBean.hasDisplay and require.renderedTestersLink}"
						process="@this"
						update="@this"
						onclick="showLoad();"
						oncomplete="hideLoad();PF('testersButtonDlg_wv').show();"
						style="margin: .2rem;" />
					&nbsp;
					<p:outputLabel value="#{require.masterTesterNames}" />
					<p:tooltip
						value="#{require.masterTesterNames}"
						for="@previous"
						trackMouse="true"
						styleClass="tooltipWidth"
						rendered="#{search34MBean.hasDisplay}" />
				</p:column>
				<p:column
					headerText="協測"
					sortBy="#{require.slaveTesterNames}"
					rendered="#{customColumnMBean.chekcDataTableColumn('主測')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('主測')?
                                          '60':
                                          customColumnMBean.getColumnWidth('主測')}px"
					filterBy="#{require.slaveTesterNames}"
					filterStyle="width: 70px;"
					filterMatchMode="contains">
					<p:commandButton
						icon="fa fa-pencil"
						actionListener="#{search34MBean.prepareUpdateTester(require, false)}"
						rendered="#{search34MBean.hasDisplay and require.renderedTestersLink}"
						process="@this"
						update="@this"
						onclick="showLoad();"
						oncomplete="hideLoad();PF('testersButtonDlg_wv').show();"
						style="margin: .2rem;" />
					&nbsp;
					<p:outputLabel value="#{require.slaveTesterNames}" />
					<p:tooltip
						value="#{require.slaveTesterNames}"
						for="@previous"
						trackMouse="true"
						styleClass="tooltipWidth"
						rendered="#{search34MBean.hasDisplay}" />
				</p:column>
				<p:column
					headerText="預計完成日"
					sortBy="#{require.establishDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('預計完成日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('預計完成日')?
                                          '75':
                                          customColumnMBean.getColumnWidth('預計完成日')}px">
					<h:outputText value="#{require.establishDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="排定完成日"
					sortBy="#{require.scheduleFinishDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('排定完成日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('排定完成日')?
                                          '75':
                                          customColumnMBean.getColumnWidth('排定完成日')}px">
					<h:outputText value="#{require.scheduleFinishDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="送測狀態"
					sortBy="#{require.testinfoStatus}"
					rendered="#{customColumnMBean.chekcDataTableColumn('送測狀態')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('送測狀態')?
                                          '60':
                                          customColumnMBean.getColumnWidth('送測狀態')}px"
					filterBy="#{require.testinfoStatus}">
					<f:facet name="filter">
						<p:selectOneMenu
							onchange="PF('wvRequire').filter()"
							style=" width: 100px">
							<f:selectItem
								itemValue=""
								itemLabel="全部" />
							<f:selectItems value="#{search34MBean.testinfoStatus}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{require.testinfoStatus}" />
				</p:column>
				<p:column
					headerText="文件補齊"
					sortBy="#{require.commitStatus}"
					rendered="#{customColumnMBean.chekcDataTableColumn('文件補齊')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('文件補齊')?
                                          '60':
                                          customColumnMBean.getColumnWidth('文件補齊')}px"
					filterBy="#{require.commitStatus}">
					<f:facet name="filter">
						<p:selectOneMenu
							onchange="PF('wvRequire').filter()"
							style=" width: 100px">
							<f:selectItem
								itemValue=""
								itemLabel="全部" />
							<f:selectItems value="#{search34MBean.commitStatus}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{require.commitStatus}" />
				</p:column>
				<p:column
					headerText="實際完成日"
					sortBy="#{require.testinfoFinishDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('實際完成日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('實際完成日')?
                                          '63':
                                          customColumnMBean.getColumnWidth('實際完成日')}px">
					<h:outputText value="#{require.testinfoFinishDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="預計上線日"
					sortBy="#{require.expectOnlineDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('預計上線日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('預計上線日')?
                                          '63':
                                          customColumnMBean.getColumnWidth('預計上線日')}px">
					<h:outputText value="#{require.expectOnlineDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="送測單號"
					sortBy="#{require.testinfoNo}"
					rendered="#{customColumnMBean.chekcDataTableColumn('送測單號')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('送測單號')?
                                          '60':
                                          customColumnMBean.getColumnWidth('送測單號')}px"
					filterStyle="width: 100px;">
					<h:outputText value="#{require.testinfoNo}" />
				</p:column>
				<p:column
					headerText="單據建立日"
					sortBy="#{require.createdDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('單據建立日',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('單據建立日')?
                                          '63':
                                          customColumnMBean.getColumnWidth('單據建立日')}px">
					<h:outputText value="#{require.createdDate}">
						<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="需求單位"
					sortBy="#{orgBean.name(require.requireSid)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單位',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單位')?
                                          '125':
                                          customColumnMBean.getColumnWidth('需求單位')}px">

					<h:outputText value="#{orgBean.name(require.requireSid)}" />
				</p:column>
				<p:column
					headerText="需求人員"
					sortBy="#{usrBean.name(require.requireCreateUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求人員')}px"
					filterStyle="width: 100px;">
					<h:outputText value="#{usrBean.name(require.requireCreateUser)}" />
				</p:column>
				<p:column
					headerText="需求類別"
					sortBy="#{require.bigCategory}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求類別',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求類別')?
                                          '115':
                                          customColumnMBean.getColumnWidth('需求類別')}px">

					<h:outputText value="#{require.bigCategory}" />
				</p:column>
				<p:column
					headerText="中類"
					sortBy="#{require.middleCategory}"
					rendered="#{customColumnMBean.chekcDataTableColumn('中類',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('中類')?
                                          '115':
                                          customColumnMBean.getColumnWidth('中類')}px">

					<h:outputText value="#{require.middleCategory}" />
				</p:column>
				<p:column
					headerText="小類"
					sortBy="#{require.smallCategory}"
					rendered="#{customColumnMBean.chekcDataTableColumn('小類',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('小類')?
                                          '115':
                                          customColumnMBean.getColumnWidth('小類')}px">

					<h:outputText value="#{require.smallCategory}" />
				</p:column>
				<p:column
					headerText="主題"
					sortBy="#{require.requireTheme}"
					filterStyle="width: 150px;"
					rendered="#{customColumnMBean.chekcDataTableColumn('主題',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('主題')?
                                                                '115':
                                                                customColumnMBean.getColumnWidth('主題')}px">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{search34MBean.hasDisplay}"
						actionListener="#{search34MBean.btnOpenUrl('wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localRequireUrlLink}');"
						process="@this" />
					<p:commandLink
						id="requireLink"
						value="#{require.requireTheme}"
						styleClass="blueAndUnderline"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						process="@this"
						actionListener="#{search34MBean.fullRequireScreenForm(require)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();" />

					<p:tooltip
						id="requireTheme"
						for="requireLink"
						value="#{require.requireTheme}"
						trackMouse="true"
						styleClass="tooltipWidth"
						rendered="#{search34MBean.hasDisplay}" />
				</p:column>

				<p:column
					headerText="製作進度"
					sortBy="#{commonBean.get(require.requireStatus)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('製作進度')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('製作進度')?
                                          '70':
                                          customColumnMBean.getColumnWidth('製作進度')}px">
					<h:outputText value="#{commonBean.get(require.requireStatus)}" />
				</p:column>

				<p:column
					headerText="異動日期"
					sortBy="#{require.requireUpdateDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('異動日期',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('異動日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('異動日期')}px">
					<h:outputText value="#{require.requireUpdateDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
			</p:dataTable>
		</p:outputPanel>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search34MBean}" />
		</ui:include>


		<p:remoteCommand
			name="workTestInfoRecordUp"
			actionListener="#{search34MBean.workTestInfoRecordUp(search34MBean.dataTableId,'wvRequire',customColumnMBean.pageCount)}"
			process="@this ">
		</p:remoteCommand>
		<p:remoteCommand
			name="workTestInfoRecordDown"
			actionListener="#{search34MBean.workTestInfoRecordDown(search34MBean.dataTableId,'wvRequire',customColumnMBean.pageCount)}"
			process="@this ">
		</p:remoteCommand>

		<p:dialog
			header="測試人員"
			id="search34TestersDlg"
			modal="true"
			widgetVar="testersButtonDlg_wv"
			closable="true"
			resizable="false">

			<ui:include src="/components/multiSelect/qa_user_multiselect.xhtml">
				<ui:param
					name="mbean"
					value="#{search34MBean}"></ui:param>
			</ui:include>

			<p:panelGrid columns="2">
				<p:commandButton
					value="確定"
					actionListener="#{search34MBean.updateTesters()}"
					onstart="showLoad();"
					oncomplete="hideLoad();"
					process="@this testerTarget"
					update="#{search34MBean.dataTableId}" />
				<p:commandButton
					value="取消"
					onclick="PF('testersButtonDlg_wv').hide();" />
			</p:panelGrid>
		</p:dialog>
	</ui:define>
</ui:composition>

