<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="收費金額一覽表" />
	</ui:define>
	<ui:define name="customCSS">
		<style>
#dtRequire_foot td {
	border: none;
	text-align: right;
}
</style>
	</ui:define>
	<ui:define name="content">
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search12MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			process="@this headerPanel"
			update="@(.reportUpdateClz) customerPage" />
		<!--查詢表頭-->
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{search12MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{commonHeaderMBean.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1250px;">
					<p:panelGrid columns="11">


						<h:outputText value="需求類別： " />
						<p:selectOneMenu
							value="#{commonHeaderMBean.selectBigCategory}"
							converter="#{categoryConverter}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems
								value="#{categoryMBean.getBigValues()}"
								var="item"
								itemValue="#{item}"
								itemLabel="#{item.name}" />
						</p:selectOneMenu>

						<h:outputText value="需求單位： " />
						<p:commandButton
							icon="fa fa-search"
							process="@this"
							update="@widgetVar(dlgOrgTree)"
							actionListener="#{commonHeaderMBean.initOrgTree()}"
							onclick='showLoad();'
							oncomplete="PF('dlgOrgTree').show();hideLoad();" />

						<p:selectCheckboxMenu
							value="#{search12HeaderMBean.customers}"
							converter="#{customerConverter}"
							filter="true"
							filterMatchMode="contains"
							label="廳主">
							<f:selectItems
								value="#{search12HeaderMBean.customerItems}"
								var="item"
								itemValue="#{item}"
								itemLabel="#{item.name}  #{commonBean.get(item.customerType)}">
							</f:selectItems>
						</p:selectCheckboxMenu>
						<p:panelGrid columns="2">
							<p:selectBooleanCheckbox
								value="#{search12HeaderMBean.isCustomerPage}"
								itemLabel="依廳主分頁">
								<p:ajax
									listener="#{search12MBean.chgCustomerPage()}"
									onstart="showLoad();"
									oncomplete="hideLoad();"
									update="customerPage searchBody"
									process="@this" />
							</p:selectBooleanCheckbox>
							<p:outputPanel id="customerPage">
								<p:selectOneMenu
									value="#{search12HeaderMBean.customerPage}"
									rendered="#{search12HeaderMBean.isCustomerPage}"
									converter="#{customerConverter}"
									filter="true"
									filterMatchMode="contains">
									<p:ajax
										listener="#{search12MBean.chgCustomerPage()}"
										event="change"
										onstart="showLoad();"
										oncomplete="hideLoad();"
										update="searchBody"
										process="@this" />
									<f:selectItems
										value="#{search12HeaderMBean.customerPageItems}"
										var="item"
										itemValue="#{item}"
										itemLabel="#{item.name}">
									</f:selectItems>
								</p:selectOneMenu>
							</p:outputPanel>

						</p:panelGrid>
						<!-- 查詢欄位:系統別 -->
						<ui:include src="queryCondition_checkItem_style02.xhtml">
							<ui:param
								name="conditionVO"
								value="#{commonHeaderMBean}" />
						</ui:include>

						<h:outputText
							value="參考幣別：RMB"
							style="color: red;" />
					</p:panelGrid>
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1250px;">
					<p:panelGrid columns="4">
						<h:panelGroup>
							<h:outputText value="類別組合： " />
							<p:commandButton
								process="@this"
								update="@widgetVar(dlgCate)"
								icon="fa fa-search"
								actionListener="#{categoryTreeMBean.initRootWithAmountCash()}"
								onclick="showLoad();"
								oncomplete="PF('dlgCate').show();hideLoad();" />
						</h:panelGroup>

						<h:panelGroup id="interval">
							<h:outputText value="立單區間： " />
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{commonHeaderMBean.startDate}" />
								<ui:param
									name="endDate"
									value="#{commonHeaderMBean.endDate}" />
								<ui:param
									name="startDateId"
									value="createStartDate" />
								<ui:param
									name="endDateId"
									value="createEndDate" />
							</ui:include>
						</h:panelGroup>

						<h:panelGroup>
							<h:outputText value="模糊搜尋： " />
							<p:inputText
								value="#{commonHeaderMBean.fuzzyText}"
								onkeydown="executeScriptByEnter(event, 'doSearchData();');"
								style="width:300px;" />
						</h:panelGroup>

						<h:panelGroup>
							<p:commandButton
								value="搜尋"
								process="@this headerPanel"
								update="searchBody customerPage"
								actionListener="#{search12MBean.search()}"
								onclick="showLoad();selectDataTablePage('wvRequire', 0);"
								oncomplete="hideLoad();" />
							<p:commandButton
								value="清除"
								actionListener="#{search12MBean.clear()}"
								onclick="showLoad();selectDataTablePage('wvRequire', 0);"
								oncomplete="hideLoad();"
								update="headerPanel searchBody"
								process="@this" />
							<p:commandButton
								value="匯出"
								onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
								ajax="false"
								actionListener="#{search12MBean.hideColumnContent()}">
								<p:dataExporter
									type="xls"
									target="#{search12MBean.dataTableId}"
									fileName="report"
									postProcessor="#{search12MBean.exportExcel}" />
							</p:commandButton>
						</h:panelGroup>


					</p:panelGrid>

					<p:panelGrid columns="2">
						<h:outputText value="需求製作進度： " />
						<p:selectManyCheckbox value="#{search12HeaderMBean.selectRequireStatusTypes}">
							<f:selectItems value="#{search12HeaderMBean.getReqStatusItems()}" />
						</p:selectManyCheckbox>
					</p:panelGrid>
				</p:outputPanel>
			</p:outputPanel>
		</p:panel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				id="#{search12MBean.dataTableId}"
				widgetVar="wvRequire"
				value="#{search12MBean.queryItems}"
				var="require"
				rowKey="#{require.sid}"
				rowIndexVar="index"
				scrollHeight="430"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				class="reportUpdateClz"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				selection="#{search12MBean.querySelection}"
				rowStyleClass="#{require.urgency =='URGENT'?'urgencyRow':''}"
				rendered="#{search12MBean.switchType eq 'CONTENT' and search12MBean.switchFullType != 'FULLCONTENT'}">
				<!-- 全畫面狀態時不渲染 -->
				<!-- 點選更新需求單明細 -->
				<p:ajax
					event="rowSelect"
					process="@this" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{search12MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="廳主"
					rendered="#{customColumnMBean.chekcDataTableColumn('廳主')}"
					sortBy="#{customerMBean.alias(require.customer)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('廳主')?
                                          '80':
                                          customColumnMBean.getColumnWidth('廳主')}px">
					<h:outputText value="#{customerMBean.alias(require.customer)}" />
				</p:column>
				<p:column
					headerText="提出客戶"
					sortBy="#{customerMBean.alias(require.author)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('提出客戶')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('提出客戶')?
                                          '80':
                                          customColumnMBean.getColumnWidth('提出客戶')}px">
					<h:outputText value="#{customerMBean.alias(require.author)}" />
				</p:column>
				<p:column
					headerText="立單日期"
					sortBy="#{require.createdDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('立單日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('立單日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('立單日期')}px">
					<h:outputText value="#{require.createdDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="result_column_checkItems.xhtml" />
				<p:column
					headerText="需求類別"
					sortBy="#{require.bigName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求類別',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求類別')?
                                          '80':
                                          customColumnMBean.getColumnWidth('需求類別')}px">
					<h:outputText value="#{require.bigName}" />
				</p:column>
				<p:column
					headerText="中類"
					sortBy="#{require.middleName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('中類',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('中類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('中類')}px">
					<h:outputText value="#{require.middleName}" />
				</p:column>
				<p:column
					headerText="小類"
					sortBy="#{require.smallName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('小類')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('小類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('小類')}px">
					<h:outputText value="#{require.smallName}" />
				</p:column>
				<p:column
					headerText="需求單位"
					sortBy="#{orgBean.name(require.createDep)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單位')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單位')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求單位')}px">
					<h:outputText value="#{orgBean.name(require.createDep)}" />
				</p:column>
				<p:column
					headerText="需求人員"
					sortBy="#{usrBean.name(require.createdUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求人員')}px">
					<h:outputText value="#{usrBean.name(require.createdUser)}" />
				</p:column>

				<p:column
					headerText="是否收費"
					sortBy="#{require.cash == 0.0?'否':'是'}"
					rendered="#{customColumnMBean.chekcDataTableColumn('是否收費')}"
					style="width:#{empty customColumnMBean.getColumnWidth('是否收費')?
                                         '60':
                                         customColumnMBean.getColumnWidth('是否收費')}px">
					<h:outputText value="#{empty require.cash or require.cash eq '0' ?'否':'是'}" />
				</p:column>
				<p:column
					headerText="主題"
					sortBy="#{require.requireTheme}"
					footerText="合計：">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{search12MBean.hasDisplay}"
						actionListener="#{search12MBean.btnOpenUrl(search12MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{require.requireTheme}"
						styleClass="blueAndUnderline"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						process="@this"
						actionListener="#{search12MBean.fullScreenForm(require)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();" />
					<p:tooltip
						widgetVar="tooltip#{index+1}"
						for="@previous"
						value="#{require.requireTheme}"
						trackMouse="true"
						rendered="#{search12MBean.hasDisplay}"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="收費金額"
					sortBy="#{require.cash}"
					footerText="#{search12MBean.getSum()}"
					style="text-align: right;width:#{empty customColumnMBean.getColumnWidth('收費金額')?
                                                           '80':
                                                           customColumnMBean.getColumnWidth('收費金額')}px;">
					<h:outputText value="#{require.cash}">
						<f:convertNumber pattern="#,##0.00" />
					</h:outputText>
				</p:column>
			</p:dataTable>

			<!-- 需求單內容 -->
			<p:outputPanel rendered="#{search12MBean.switchFullType eq 'FULLCONTENT'}">
				<ui:include src="../require/require03.xhtml">
					<ui:param
						name="searchMBean"
						value="#{search12MBean}" />
				</ui:include>
			</p:outputPanel>
		</p:outputPanel>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search12MBean}" />
		</ui:include>
		<!--類別組合樹-->
		<cp:category_tree widgetVar="dlgCate" />
		<!--報表組織樹-->
		<cp:report_org_tree
			widgetVar="dlgOrgTree"
			commonHeaderMBean="#{commonHeaderMBean}"
			organizationTreeMBean="#{organizationTreeMBean}" />


	</ui:define>
</ui:composition>

