<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="測試提醒清單" />
	</ui:define>
	<ui:define name="content">
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search18MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			process="@this headerPanel"
			update="@(.reportUpdateClz)" />
		<!--查詢表頭-->
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{search18MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{commonHeaderMBean.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>
				<p />
				<p:outputPanel style="margin-left:5px;">
					<h:outputText value="資料日期： " />
					<h:outputText value="#{now}">
						<f:convertDateTime
							pattern="yyyy/MM/dd"
							type="date" />
					</h:outputText>
				</p:outputPanel>

				<p:outputPanel
					style="overflow: hidden;width: 1250px;"
					class="reportUpdateClz">
					<p:panelGrid columns="15">
						<p:commandButton
							value="#{search18MBean.switchType.typeName}"
							onclick="showLoad()"
							process="@this"
							actionListener="#{search18MBean.toggleSearchBody()}"
							update="searchBody @this"
							oncomplete="hideLoad();"
							rendered="#{not empty search18MBean.queryItems}" />
						<h:outputText value="確認類型： " />
						<p:selectOneMenu value="#{search18HeaderMBean.confirmFilterType}">
							<f:selectItems
								value="#{search18HeaderMBean.confirmTypeItems}"
								var="item"
								itemValue="#{item.value}"
								itemLabel="#{item.label}" />
						</p:selectOneMenu>
						<!-- 查詢欄位:系統別 -->
						<ui:include src="queryCondition_checkItem_style03.xhtml">
							<ui:param
								name="conditionVO"
								value="#{commonHeaderMBean}" />
						</ui:include>
						<h:outputText value="模糊搜尋： " />
						<p:inputText
							value="#{commonHeaderMBean.fuzzyText}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');"
							style="width: 270px;" />

						<p:panelGrid columns="3">
							<h:outputText value="到期日： " />
							<p:spinner
								value="#{search18HeaderMBean.remainderExpireDate}"
								min="-99"
								max="99"
								maxlength="3"
								size="1"
								onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
							<h:outputText value="天內 " />
						</p:panelGrid>
						<p:panelGrid columns="2">
							<p:commandButton
								value="搜尋"
								process="@this headerPanel"
								update="searchBody @(.reportUpdateClz)"
								actionListener="#{search18MBean.search()}"
								onclick="showLoad();selectDataTablePage('wvRequire', 0);"
								oncomplete="hideLoad();" />
							<p:commandButton
								value="清除"
								actionListener="#{search18MBean.clear()}"
								onclick="showLoad();selectDataTablePage('wvRequire', 0);"
								oncomplete="hideLoad();"
								update="headerPanel searchBody @(.reportUpdateClz)"
								process="@this" />
						</p:panelGrid>

						<p:panelGrid columns="1">
							<p:selectBooleanCheckbox
								value="#{search18HeaderMBean.excludeClose}"
								itemLabel="不包含結案">
							</p:selectBooleanCheckbox>
						</p:panelGrid>
					</p:panelGrid>
				</p:outputPanel>
			</p:outputPanel>

		</p:panel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				id="#{search18MBean.dataTableId}"
				widgetVar="wvRequire"
				value="#{search18MBean.queryItems}"
				var="require"
				rowKey="#{require.subSid}"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				class="reportUpdateClz"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				selection="#{search18MBean.querySelection}"
				rowStyleClass="#{require.urgency =='URGENT'?'urgencyRow':''}"
				rendered="#{search18MBean.switchType eq 'CONTENT' and search18MBean.switchFullType != 'FULLCONTENT'}">
				<!-- 全畫面狀態時不渲染 -->
				<!-- 點選更新需求單明細 -->
				<p:ajax
					event="rowSelect"
					process="@this" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{search18MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="預計完成日"
					sortBy="#{require.subFinishDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('預計完成日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('預計完成日')?
                                          '75':
                                          customColumnMBean.getColumnWidth('預計完成日')}px">
					<h:outputText value="#{require.subFinishDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="填單日期"
					sortBy="#{require.subCreatedDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('填單日期')}px">
					<h:outputText value="#{require.subCreatedDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<!-- 子程序 -->
				<p:column
					headerText="確認類型"
					sortBy="#{require.subConfirmStatus.showName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('確認類型')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('確認類型')?
                                          '60':
                                          customColumnMBean.getColumnWidth('確認類型')}px">
					<h:outputText value="#{require.subConfirmStatus.showName}" />
				</p:column>
				<p:column
					headerText="子程序狀態"
					sortBy="#{require.subStatus}"
					rendered="#{customColumnMBean.chekcDataTableColumn('子程序狀態')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('子程序狀態')?
                                          '70':
                                          customColumnMBean.getColumnWidth('子程序狀態')}px">
					<h:outputText value="#{require.subStatus}" />
				</p:column>
				<p:column
					headerText="立單日期"
					sortBy="#{require.requireDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('立單日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('立單日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('立單日期')}px">
					<h:outputText value="#{require.requireDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="result_column_checkItems.xhtml" />
				<p:column
					headerText="需求類別"
					sortBy="#{require.bigName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求類別',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求類別')?
                                          '30':
                                          customColumnMBean.getColumnWidth('需求類別')}px">
					<h:outputText value="#{require.bigName}" />
				</p:column>
				<p:column
					headerText="中類"
					sortBy="#{require.middleName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('中類',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('中類')?
                                          '30':
                                          customColumnMBean.getColumnWidth('中類')}px">
					<h:outputText value="#{require.middleName}" />
				</p:column>
				<p:column
					headerText="小類"
					sortBy="#{require.smallName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('小類')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('小類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('小類')}px">
					<h:outputText value="#{require.smallName}" />
				</p:column>
				<p:column
					headerText="需求單位"
					sortBy="#{orgBean.name(require.requireDep)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單位')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單位')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求單位')}px">
					<h:outputText value="#{orgBean.name(require.requireDep)}" />
				</p:column>
				<p:column
					headerText="需求人員"
					sortBy="#{usrBean.name(require.requireUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求人員',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求人員')?
                                          '30':
                                          customColumnMBean.getColumnWidth('需求人員')}px">
					<h:outputText value="#{usrBean.name(require.requireUser)}" />
				</p:column>
				<p:column
					headerText="主題"
					sortBy="#{require.requireTheme}"
					rendered="#{customColumnMBean.chekcDataTableColumn('主題')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('主題')?
                                          '100':
                                          customColumnMBean.getColumnWidth('主題')}px">
					<h:outputText
						id="dtRequire_requireTheme"
						value="#{require.requireTheme}" />
					<p:tooltip
						for="dtRequire_requireTheme"
						value="#{require.requireTheme}"
						trackMouse="true"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="緊急度"
					sortBy="#{commonBean.get(require.urgency)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('緊急度')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('緊急度')?
                                          '50':
                                          customColumnMBean.getColumnWidth('緊急度')}px">
					<h:outputText value="#{commonBean.get(require.urgency)}" />
				</p:column>
				<p:column
					headerText="製作進度"
					sortBy="#{commonBean.get(require.requireStatus)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('製作進度',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('製作進度')?
                                          '30':
                                          customColumnMBean.getColumnWidth('製作進度')}px">
					<h:outputText value="#{commonBean.get(require.requireStatus)}" />
				</p:column>
				<p:column
					headerText="需求單號"
					sortBy="#{require.requireNo}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單號',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單號')?
                                          '30':
                                          customColumnMBean.getColumnWidth('需求單號')}px">
					<h:outputText value="#{require.requireNo}" />
				</p:column>
				<p:column
					headerText="填單單位"
					sortBy="#{orgBean.name(require.subCreateDep)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單單位',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單單位')?
                                          '30':
                                          customColumnMBean.getColumnWidth('填單單位')}px">
					<h:outputText value="#{orgBean.name(require.subCreateDep)}" />
				</p:column>
				<p:column
					headerText="填單人員"
					sortBy="#{usrBean.name(require.subCreatedUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('填單人員')}px">
					<h:outputText value="#{usrBean.name(require.subCreatedUser)}" />
				</p:column>
				<p:column
					headerText="單據主題"
					sortBy="#{require.subTheme}">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{search18MBean.hasDisplay}"
						actionListener="#{search18MBean.btnOpenUrl(search18MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{require.subTheme}"
						styleClass="blueAndUnderline"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						process="@this"
						actionListener="#{search18MBean.fullScreenForm(require)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();" />
					<p:tooltip
						widgetVar="tooltip#{index+1}"
						for="@previous"
						value="#{require.subTheme}"
						trackMouse="true"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="期望完成日"
					sortBy="#{require.hopeDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('期望完成日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('期望完成日')?
                                          '75':
                                          customColumnMBean.getColumnWidth('期望完成日')}px">
					<h:outputText value="#{require.hopeDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
			</p:dataTable>

			<p:outputPanel rendered="#{search18MBean.switchType eq 'DETAIL'}">
				<p:dataTable
					id="#{search18MBean.dataTableId}1"
					value="#{search18MBean.queryItems}"
					var="require"
					rowKey="#{require.subSid}"
					rowIndexVar="index"
					scrollHeight="450"
					scrollable="true"
					paginator="true"
					rows="#{customColumnMBean.pageCount}"
					draggableColumns="true"
					class="reportUpdateClz"
					resizableColumns="true"
					selectionMode="single"
					selection="#{search18MBean.querySelection}"
					style="width: 35%;float: left;margin-right: 2px;"
					rowStyleClass="#{require.urgency =='URGENT'?'urgencyRow':''}"
					rendered="#{search18MBean.switchFullType != 'FULLCONTENT'}">
					<p:ajax
						event="rowSelect"
						onstart="showLoad();"
						process="@this"
						listener="#{search18MBean.onRowSelect}"
						update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId req05botmid"
						oncomplete="hideLoad();" />
					<p:column
						headerText="序"
						width="5">
						<h:outputText value="#{index+1}" />
					</p:column>
					<!-- 子程序 -->
					<p:column
						headerText="確認類型"
						sortBy="#{require.subConfirmStatus.showName}"
						rendered="#{customColumnMBean.chekcDataTableColumn('確認類型')}"
						style=" width:#{empty customColumnMBean.getColumnWidth('確認類型')?
                                              '60':
                                              customColumnMBean.getColumnWidth('確認類型')}px">
						<h:outputText value="#{require.subConfirmStatus.showName}" />
					</p:column>
					<p:column
						headerText="單據主題"
						sortBy="#{require.subTheme}">
						<p:commandButton
							icon="fa fa-search"
							rendered="#{search18MBean.hasDisplay}"
							actionListener="#{search18MBean.btnOpenUrl(search18MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
							onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
							oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
							process="@this" />
						<h:outputText
							id="dtRequire_subTheme"
							value="#{require.subTheme}" />
						<p:tooltip
							for="dtRequire_subTheme"
							value="#{require.subTheme}"
							trackMouse="true"
							styleClass="tooltipWidth" />
					</p:column>
				</p:dataTable>
				<!-- 需求單內容 -->
				<p:outputPanel style="width: #{search18MBean.switchFullType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{search18MBean.switchFullType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
					<c:if test="#{search18MBean.switchFullType eq 'FULLCONTENT'}">
						<ui:include src="../require/require05.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search18MBean}" />
						</ui:include>
					</c:if>
					<c:if test="#{search18MBean.switchFullType eq 'DETAIL'}">
						<ui:include src="../require/require05_detail.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search18MBean}" />
						</ui:include>
					</c:if>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search18MBean}" />
		</ui:include>
		<!--類別組合樹-->
		<cp:category_tree widgetVar="dlgCate" />
		<!--報表組織樹-->
		<cp:report_org_tree
			widgetVar="dlgOrgTree"
			commonHeaderMBean="#{commonHeaderMBean}"
			organizationTreeMBean="#{organizationTreeMBean}" />


	</ui:define>
</ui:composition>

