<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">

	<ui:define name="title">
		<h:outputText value="#{commonHeaderMBean.reportType.reportName}" />
	</ui:define>
	<ui:define name="content">
		<style>
/* 增加 p:tooltip 的限定寬度*/
.tooltipWidth {
	max-width: 1200px;
}
</style>
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search07MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			process="@this headerPanel"
			update="@(.reportUpdateClz)" />
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{search07MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<!--查詢表頭-->
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{commonHeaderMBean.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1250px;">
					<p:panelGrid columns="12">
						<h:outputText value="需求類別： " />
						<p:selectOneMenu
							value="#{search07MBean.search07QueryComponent.search07QueryVO.selectBigCategory}"
							converter="#{categoryConverter}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems
								value="#{categoryMBean.getBigValues()}"
								var="item"
								itemValue="#{item}"
								itemLabel="#{item.name}" />
						</p:selectOneMenu>

						<h:outputText value="被分派單位： " />
						<p:commandButton
							icon="ui-icon-search"
							actionListener="#{search07MBean.event_dialog_assignNoticeDepTree_open()}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							update="@(.dlg_assignNoticeDep)"
							process="@this">
						</p:commandButton>

						<h:outputText value="是否閱讀： " />
						<p:selectOneMenu value="#{search07MBean.search07QueryComponent.search07QueryVO.selectReadRecordType}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{readRecordTypeMBean.getValuesExcept('SYSTEM_UPDATE')}" />
						</p:selectOneMenu>

						<h:outputText value="模糊搜尋： " />
						<p:inputText
							value="#{search07MBean.search07QueryComponent.search07QueryVO.fuzzyText}"
							style="width: 250px;"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');" />

						<p:selectCheckboxMenu
							value="#{search07MBean.search07QueryComponent.search07QueryVO.reqFinishCode}"
							label="完成碼"
							panelStyle="width:150px;">
							<f:selectItems value="#{search07HeaderMBean.getFinishCodeItems()}" />
						</p:selectCheckboxMenu>

						<p:selectManyButton value="#{search07MBean.search07QueryComponent.search07QueryVO.selectedColseCode}">
							<f:selectItem
								itemLabel="未結案"
								itemValue="0" />
							<f:selectItem
								itemLabel="已結案"
								itemValue="1" />
						</p:selectManyButton>
					</p:panelGrid>
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1150px;">
					<p:panelGrid
						style="float:left;"
						columns="8">
						<h:panelGroup>
							<h:outputText value="類別組合： " />
							<p:commandButton
								icon="fa fa-search"
								actionListener="#{search07MBean.search07QueryComponent.btnOpenCategoryTree()}"
								onclick="showLoad();"
								oncomplete="hideLoad();"
								update="@widgetVar(dlgCate)"
								process="@this" />
						</h:panelGroup>

						<p:tabMenu
							id="dateBtn"
							activeIndex="#{search07MBean.search07QueryComponent.search07QueryVO.dateTypeIndex}">
							<p:menuitem
								value="上個月"
								process="@this"
								update="interval @parent"
								actionListener="#{search07MBean.search07QueryComponent.getDateInterval('PREVIOUS_MONTH')}" />
							<p:menuitem
								value="本月份"
								process="@this"
								update="interval @parent"
								actionListener="#{search07MBean.search07QueryComponent.getDateInterval('THIS_MONTH')}" />
							<p:menuitem
								value="下個月"
								process="@this"
								update="interval @parent"
								actionListener="#{search07MBean.search07QueryComponent.getDateInterval('NEXT_MONTH')}" />
							<p:menuitem
								value="今日"
								process="@this"
								update="interval @parent"
								actionListener="#{search07MBean.search07QueryComponent.getDateInterval('TODAY')}" />
						</p:tabMenu>

						<h:panelGroup>
							<h:outputText value="待閱原因： " />
							<p:selectCheckboxMenu
								value="#{search07MBean.search07QueryComponent.search07QueryVO.selectReqToBeReadType}"
								label="待閱原因"
								panelStyle="min-width:200px;">
								<f:selectItems value="#{selectItemBean.getReqToBeReadTypeItems()}" />
							</p:selectCheckboxMenu>
						</h:panelGroup>

						<h:panelGroup>
							<p:selectOneMenu value="#{search07MBean.search07QueryComponent.search07QueryVO.dateTimeType}">
								<f:selectItem
									itemLabel="分派區間"
									itemValue="ASSIGN_DATE" />
								<f:selectItem
									itemLabel="異動區間"
									itemValue="UPDATE_DATE" />
							</p:selectOneMenu>
						</h:panelGroup>
						<h:panelGroup id="interval">
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{search07MBean.search07QueryComponent.search07QueryVO.startDate}" />
								<ui:param
									name="endDate"
									value="#{search07MBean.search07QueryComponent.search07QueryVO.endDate}" />
								<ui:param
									name="startDateId"
									value="createStartDate" />
								<ui:param
									name="endDateId"
									value="createEndDate" />
							</ui:include>
						</h:panelGroup>
					</p:panelGrid>

					<p:panelGrid>
						<p:row>
							<p:column>
								<h:outputText value="單位負責人：" />
							</p:column>
							<p:column>
								<p:inputText
									value="#{search07MBean.search07QueryComponent.search07QueryVO.ownerName}"
									style="width: 120px;"
									onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
							</p:column>
							<p:column>
								<h:outputText value="單位確認狀態：" />
							</p:column>
							<p:column>
								<p:selectOneMenu value="#{search07MBean.search07QueryComponent.search07QueryVO.reqConfirmDepProgStatus}">
									<f:selectItem itemLabel="全部" />
									<f:selectItems value="#{selectItemBean.getReqConfirmDepProgStatusItems()}" />
								</p:selectOneMenu>
							</p:column>
							<!-- 查詢欄位:系統別 -->
							<ui:include src="queryCondition_checkItem_style01.xhtml">
								<ui:param
									name="conditionVO"
									value="#{search07MBean.search07QueryComponent.search07QueryVO}" />
							</ui:include>
						</p:row>
					</p:panelGrid>
					<p:panelGrid
						columns="4"
						style="float:right;margin-top: 4px;">
						<p:commandButton
							value="搜尋"
							process="@this headerPanel"
							update="searchBody @(.reportUpdateClz)"
							actionListener="#{search07MBean.search()}"
							onclick="showLoad();selectDataTablePage('wvRequire', 0);"
							oncomplete="hideLoad();" />
						<p:commandButton
							value="清除"
							actionListener="#{search07MBean.clear()}"
							onclick="showLoad();selectDataTablePage('wvRequire', 0);"
							oncomplete="hideLoad();"
							update="headerPanel pgAdvance searchBody @(.reportUpdateClz)"
							process="@this" />
						<p:commandButton
							value="重新載入預設搜尋條件"
							process="@this"
							update="headerPanel pgAdvance searchBody @(.reportUpdateClz)"
							actionListener="#{search07MBean.loadCustSetting()}"
							onclick="showLoad();selectDataTablePage('wvRequire', 0);"
							oncomplete="hideLoad();" />
						<p:commandButton
							value="自訂預設搜尋條件"
							process="@this "
							update="dlgReportCustomFilter_view"
							actionListener="#{search07MBean.search07QueryComponent.loadDefaultSettingDialog()}"
							onclick="showLoad();"
							oncomplete="hideLoad();showPF('dlgReportCustomFilter');" />
					</p:panelGrid>
				</p:outputPanel>
			</p:outputPanel>

			<!--查詢表身上的按鈕-->
			<p:panelGrid
				columns="5"
				class="reportUpdateClz">
				<p:commandButton
					value="#{search07MBean.switchType.typeName}"
					onclick="showLoad()"
					process="@this"
					actionListener="#{search07MBean.toggleSearchBody()}"
					update="searchBody @this"
					oncomplete="hideLoad();"
					rendered="#{not empty search07MBean.queryItems}" />
				<p:commandButton
					value="匯出"
					onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
					ajax="false"
					actionListener="#{search07MBean.hideColumnContent()}">
					<p:dataExporter
						type="xls"
						target="#{search07MBean.dataTableId}"
						fileName="report"
						postProcessor="#{search07MBean.exportExcel}" />
				</p:commandButton>
				<p:commandLink
					value="進階搜尋"
					style="color:blue;"
					process="@this" />
				<p:overlayPanel
					widgetVar="olpAdvance"
					for="@previous"
					dismissable="false">
					<p:panelGrid
						columns="2"
						id="pgAdvance">
						<h:outputText value="轉發至：" />
						<p:commandButton
							icon="fa fa-search"
							process="@this"
							update="@widgetVar(dlgOrgTreeForward)"
							actionListener="#{commonHeaderMBean.initForwardOrgTree()}"
							onclick='showLoad();'
							oncomplete="PF('dlgOrgTreeForward').show();hideLoad();" />
						<h:outputText value="緊急度：" />
						<p:selectManyCheckbox
							id="basic"
							value="#{commonHeaderMBean.urgencyList}">
							<f:selectItems value="#{urgencyTypeMBean.getTypeValues()}" />
						</p:selectManyCheckbox>
						<h:outputText value="需求單號：" />
						<p:inputText value="#{commonHeaderMBean.requireNo}" />
					</p:panelGrid>
					<p:commandButton
						value="確定"
						process="@parent"
						oncomplete="PF('olpAdvance').hide();doSearchData();" />
					<p:commandButton
						value="取消"
						type="button"
						onclick="PF('olpAdvance').hide()" />
					<p:commandButton
						value="清除"
						process="@this"
						update="pgAdvance"
						actionListener="#{commonHeaderMBean.clearAdvance()}" />
				</p:overlayPanel>
			</p:panelGrid>
		</p:panel>

		<!-- 查詢結果列表 -->
		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!-- 查詢結果 -->
			<ui:include src="search07_datatable.xhtml" />
			<!-- 查詢結果-明細模式 -->
			<ui:include src="search07_datatable_detailMode.xhtml" />
		</p:outputPanel>

		<!-- dialog 自訂預設搜尋條件 -->
		<p:dialog
			widgetVar="dlgReportCustomFilter"
			header="自訂預設搜尋條件"
			resizable="false"
			position="right top"
			modal="true">
			<p:outputPanel
				id="dlgReportCustomFilter_view"
				style="overflow: hidden;">
				<p:scrollPanel
					style="height:400px; width: 400px;"
					mode="native">
					<p:panelGrid>
						<p:row>
							<p:column colspan="1">
								<h:outputText value="需求類別： " />
								<p:selectOneMenu
									value="#{search07MBean.search07QueryComponent.search07QueryVOCustomerFilter.selectBigCategory}"
									converter="#{categoryConverter}"
									style="width: 80px;">
									<f:selectItem itemLabel="全部" />
									<f:selectItems
										value="#{categoryMBean.getBigValues()}"
										var="item"
										itemValue="#{item}"
										itemLabel="#{item.name}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">
								<h:outputText value="被分派單位： " />
								<p:commandButton
									icon="ui-icon-search"
									actionListener="#{search07MBean.event_dialog_customerFilterAssignNoticeDepTree_open()}"
									onclick="showLoad();"
									oncomplete="hideLoad();"
									update="@(.dlg_customerFilterAssignNoticeDep)"
									process="@this">
								</p:commandButton>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="是否閱讀： " />
								<p:selectOneMenu
									value="#{search07MBean.search07QueryComponent.search07QueryVOCustomerFilter.selectReadRecordType}"
									style="width: 80px;">
									<f:selectItem itemLabel="全部" />
									<f:selectItems value="#{readRecordTypeMBean.getValuesExcept('SYSTEM_UPDATE')}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="模糊搜尋： " />
								<p:inputText value="#{search07MBean.search07QueryComponent.search07QueryVOCustomerFilter.fuzzyText}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="完成碼： " />
								<p:selectCheckboxMenu
									value="#{search07MBean.search07QueryComponent.search07QueryVOCustomerFilter.reqFinishCode}"
									label="完成碼"
									panelStyle="width:150px;">
									<f:selectItems value="#{search07HeaderMBean.getFinishCodeItems()}" />
								</p:selectCheckboxMenu>
							</p:column>
						</p:row>

						<p:row>
							<p:column colspan="3">
								<h:outputText value="待閱原因： " />
								<p:selectCheckboxMenu
									value="#{search07MBean.search07QueryComponent.search07QueryVOCustomerFilter.selectReqToBeReadType}"
									label="待閱原因"
									panelStyle="min-width:200px;">
									<f:selectItems value="#{selectItemBean.getReqToBeReadTypeItems()}" />
								</p:selectCheckboxMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<p:selectManyButton value="#{search07MBean.search07QueryComponent.search07QueryVOCustomerFilter.selectedColseCode}">
									<f:selectItem
										itemLabel="未結案"
										itemValue="0" />
									<f:selectItem
										itemLabel="已結案"
										itemValue="1" />
								</p:selectManyButton>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="類別組合： &nbsp;&nbsp;" />
								<p:commandButton
									process="@this"
									icon="fa fa-search"
									actionListener="#{search07MBean.search07QueryComponent.btnOpenDefaultCategoryTree()}"
									onclick="showLoad();"
									oncomplete="hideLoad();"
									update="@widgetVar(defaultDlgCate)" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="區間選擇： " />
								<p:selectOneMenu value="#{search07MBean.search07QueryComponent.search07QueryVOCustomerFilter.dateTimeType}">
									<f:selectItem
										itemLabel="分派區間"
										itemValue="ASSIGN_DATE" />
									<f:selectItem
										itemLabel="異動區間"
										itemValue="UPDATE_DATE" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="5">
								<p:selectOneButton
									value="#{search07MBean.search07QueryComponent.search07QueryVOCustomerFilter.dateTypeIndexStr}"
									id="dateSelectItemButton">
									<f:selectItem
										itemLabel="上個月"
										itemValue="0" />
									<f:selectItem
										itemLabel="本月份"
										itemValue="1" />
									<f:selectItem
										itemLabel="下個月"
										itemValue="2" />
									<f:selectItem
										itemLabel="今日"
										itemValue="3" />
									<f:selectItem
										itemLabel="清除"
										itemValue="4" />
									<p:ajax
										event="change"
										update="dateSelectItemButton"
										process="@this"
										listener="#{search07MBean.search07QueryComponent.clearDateType()}" />
								</p:selectOneButton>

							</p:column>
						</p:row>

					</p:panelGrid>
				</p:scrollPanel>
				<p:panelGrid>
					<p:column colspan="2">
						<p:commandButton
							value="確定"
							process="@this dlgReportCustomFilter_view"
							actionListener="#{search07MBean.search07QueryComponent.saveDefaultSetting()}"
							onclick="showLoad();"
							oncomplete="hideLoad();" />
						<p:commandButton
							value="取消"
							process="@this"
							onclick="PF('dlgReportCustomFilter').hide()" />
					</p:column>
				</p:panelGrid>

			</p:outputPanel>
		</p:dialog>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search07MBean}" />
		</ui:include>
		<!--類別組合樹-->
		<ui:include src="../components/category_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="dlgCate" />
			<ui:param
				name="categoryTreeComponent"
				value="#{search07MBean.search07QueryComponent.categoryTreeComponent}" />
		</ui:include>
		<!--類別組合樹-->
		<ui:include src="../components/category_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="defaultDlgCate" />
			<ui:param
				name="categoryTreeComponent"
				value="#{search07MBean.search07QueryComponent.defaultCategoryTreeComponent}" />
		</ui:include>

		<!--報表組織樹 for 進階搜尋(轉發至)-->
		<cp:report_org_tree_forward
			widgetVar="dlgOrgTreeForward"
			commonHeaderMBean="#{commonHeaderMBean}"
			organizationTreeMBean="#{organizationTreeMBean}" />




		<!-- p:dialog 被分派單位 -->
		<p:dialog
			header="被分派單位"
			id="dlg_assignNoticeDep"
			widgetVar="wv_dlg_assignNoticeDep"
			modal="true"
			position="center center-100"
			closeOnEscape="true"
			resizable="false">
			<p:outputPanel styleClass="dlg_assignNoticeDep">
				<p:panelGrid>
					<p:row>
						<p:column>
							<cp:treePicker
								componentID="assignNoticeDep"
								model="#{search07MBean.assignNoticeDepTreePicker}"
								menuWidth="300"
								menuHeight="400" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:panelGrid>
								<!-- update 由呼叫者自行在後端 callback 方法實做 -->
								<p:row>
									<p:column>
										<p:commandButton
											value="確定"
											onstart="showLoad();"
											process="@(.dlg_assignNoticeDep)"
											actionListener="#{search07MBean.event_dialog_assignNoticeDepTree_confirm()}"
											update="@(.showDesc_assignNoticeDep)"
											oncomplete="hideLoad();" />
									</p:column>
									<p:column>
										<p:commandButton
											value="關閉"
											process="@this"
											onclick="hidePF('wv_dlg_assignNoticeDep');" />
									</p:column>
								</p:row>
							</p:panelGrid>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:outputPanel>
		</p:dialog>

		<!-- p:dialog 分派通知單位 -->
		<p:dialog
			header="被分派單位"
			id="dlg_customerFilterAssignNoticeDep"
			widgetVar="wv_dlg_customerFilterAssignNoticeDep"
			modal="true"
			position="center center-100"
			closeOnEscape="true"
			resizable="false">
			<p:outputPanel styleClass="dlg_customerFilterAssignNoticeDep">
				<p:panelGrid>
					<p:row>
						<p:column>
							<cp:treePicker
								componentID="customerFilterAssignNoticeDep"
								model="#{search07MBean.customerFilterAssignNoticeDepTreePicker}"
								menuWidth="300"
								menuHeight="400" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:panelGrid>
								<!-- update 由呼叫者自行在後端 callback 方法實做 -->
								<p:row>
									<p:column>
										<p:commandButton
											value="確定"
											onstart="showLoad();"
											process="@(.dlg_customerFilterAssignNoticeDep)"
											actionListener="#{search07MBean.event_dialog_customerFilterAssignNoticeDepTree_confirm()}"
											update="@(.showDesc_assignNoticeDep)"
											oncomplete="hideLoad();" />
									</p:column>
									<p:column>
										<p:commandButton
											value="關閉"
											process="@this"
											onclick="hidePF('wv_dlg_customerFilterAssignNoticeDep');" />
									</p:column>
								</p:row>
							</p:panelGrid>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:outputPanel>
		</p:dialog>
	</ui:define>
</ui:composition>

