<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="ON程式檢查完成提醒清單" />
	</ui:define>
	<ui:define name="customCSS">
		<style>
#readUpdateDate input {
	width: 80px;
}

#interval input {
	width: 80px;
}
</style>
	</ui:define>
	<ui:define name="content">
		<script
			type="text/javascript"
			charset="utf-8"
			src="../js/search/search16.js" />
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search28MBean.search()}"
			onstart="showLoad();"
			oncomplete="hideLoad();selectDataTablePage('wvRequire', 0);"
			process="@this headerPanel"
			update="@(.reportUpdateClz)" />
		<!--查詢表頭-->
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{search28MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{commonHeaderMBean.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>



				<p:outputPanel
					style="overflow: hidden;width: 1250px;"
					class="reportUpdateClz">
					<p:commandButton
						value="匯出"
						onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
						ajax="false"
						actionListener="#{search28MBean.hideColumnContent()}">
						<p:dataExporter
							type="xls"
							target="#{search28MBean.dataTableId}"
							fileName="report"
							postProcessor="#{search28MBean.exportExcel}" />
					</p:commandButton>
				</p:outputPanel>
			</p:outputPanel>
		</p:panel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				id="#{search28MBean.dataTableId}"
				widgetVar="wvRequire"
				value="#{search28MBean.queryItems}"
				var="require"
				rowKey="#{require.sid}"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				class="reportUpdateClz"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				selection="#{search28MBean.querySelection}"
				rowStyleClass="#{searchHelper.appendRowCss(require.urgency, require.readRecordType)}"
				rendered="#{search28MBean.switchType eq 'CONTENT' and search28MBean.switchFullType != 'FULLCONTENT'}">
				<!-- 全畫面狀態時不渲染 -->
				<!-- 點選更新需求單明細 -->
				<p:ajax
					event="rowSelect"
					process="@this" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{search28MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="廳主"
					rendered="#{customColumnMBean.chekcDataTableColumn('廳主')}"
					sortBy="#{require.customerName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('廳主')?
                                          '80':
                                          customColumnMBean.getColumnWidth('廳主')}px">
					<h:outputText value="#{require.customerName}" />
				</p:column>
				<p:column
					headerText="提出客戶"
					sortBy="#{require.authorName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('提出客戶')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('提出客戶')?
                                          '80':
                                          customColumnMBean.getColumnWidth('提出客戶')}px">
					<h:outputText value="#{require.authorName}" />
				</p:column>
				<p:column
					headerText="填單日期"
					sortBy="#{require.createdDateStr}"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單日期')?
                                          '115':
                                          customColumnMBean.getColumnWidth('填單日期')}px">
					<h:outputText value="#{require.createdDateStr}">
					</h:outputText>
				</p:column>
				<p:column
					headerText="填單單位"
					sortBy="#{require.createDepName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單單位',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單單位')?
                                          '30':
                                          customColumnMBean.getColumnWidth('填單單位')}px">
					<h:outputText value="#{require.createDepName}" />
				</p:column>
				<p:column
					headerText="填單人員"
					sortBy="#{require.createdUserName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('填單人員')}px">
					<h:outputText value="#{require.createdUserName}" />
				</p:column>
				<p:column
					headerText="ON程式主題"
					sortBy="#{require.onPgTheme}">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{search28MBean.hasDisplay}"
						actionListener="#{search28MBean.btnOpenUrl(search28MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{require.onPgTheme}"
						styleClass="blueAndUnderline"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						process="@this"
						actionListener="#{search28MBean.fullScreenForm(require)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();" />
					<p:tooltip
						widgetVar="tooltip#{index+1}"
						for="@previous"
						value="#{require.onPgTheme}"
						trackMouse="true"
						rendered="#{search28MBean.hasDisplay}"
						styleClass="tooltipWidth" />
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="result_column_checkItems.xhtml" />
				<p:column
					headerText="需求類別"
					sortBy="#{require.bigName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求類別',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求類別')?
                                          '30':
                                          customColumnMBean.getColumnWidth('需求類別')}px">
					<h:outputText value="#{require.bigName}" />
				</p:column>
				<p:column
					headerText="中類"
					sortBy="#{require.middleName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('中類',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('中類')?
                                          '30': 
                                          customColumnMBean.getColumnWidth('中類')}px">
					<h:outputText value="#{require.middleName}" />
				</p:column>
				<p:column
					headerText="小類"
					sortBy="#{require.smallName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('小類')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('小類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('小類')}px">
					<h:outputText value="#{require.smallName}" />
				</p:column>
				<p:column
					headerText="需求單位"
					sortBy="#{orgBean.name(require.requireDep)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單位',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單位')?
                                          '30':
                                          customColumnMBean.getColumnWidth('需求單位')}px">
					<h:outputText value="#{require.requireDepName}" />
				</p:column>
				<p:column
					headerText="需求人員"
					sortBy="#{require.requireUserName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求人員')}px">
					<h:outputText value="#{require.requireUserName}" />
				</p:column>
				<p:column
					headerText="主題"
					sortBy="#{require.requireTheme}"
					rendered="#{customColumnMBean.chekcDataTableColumn('主題')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('主題')?
                                          '100':
                                          customColumnMBean.getColumnWidth('主題')}px">
					<h:outputText
						id="dtRequire_requireTheme"
						value="#{require.requireTheme}" />
					<p:tooltip
						for="dtRequire_requireTheme"
						value="#{require.requireTheme}"
						trackMouse="true"
						styleClass="tooltipWidth"
						rendered="#{search28MBean.hasDisplay}" />
				</p:column>
				<p:column
					headerText="製作進度"
					sortBy="#{showEnumBean.getRequireStatusType(require.requireStatus)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('製作進度')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('製作進度')?
                                          '70':
                                          customColumnMBean.getColumnWidth('製作進度')}px">
					<h:outputText value="#{showEnumBean.getRequireStatusType(require.requireStatus)}" />
				</p:column>
				<p:column
					headerText="ON程式狀態"
					sortBy="#{commonBean.get(require.onPgStatus)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('ON程式狀態')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('ON程式狀態')?
                                          '80':
                                          customColumnMBean.getColumnWidth('ON程式狀態')}px">
					<h:outputText value="#{commonBean.get(require.onPgStatus)}" />
				</p:column>
				<!-- 是否閱讀 -->
				<ui:include src="../components/search_column_readRecordType.xhtml">
					<ui:param
						name="searchRowData"
						value="#{require}" />
				</ui:include>
				<!-- 待閱原因 -->
				<ui:include src="../components/search_column_readReason.xhtml">
					<ui:param
						name="searchRowData"
						value="#{require}" />
					<ui:param
						name="displayToolitp"
						value="#{search28MBean.hasDisplay}" />
				</ui:include>
				<p:column
					headerText="說明"
					sortBy="#{require.onPgDescription}"
					rendered="#{customColumnMBean.chekcDataTableColumn('說明')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('說明')?
                                          '35':
                                          customColumnMBean.getColumnWidth('說明')}px">
					<h:outputText
						value="#{require.onPgDescription}"
						rendered="#{commonBean.get(require.onPgStatus) eq '取消ON程式'}" />
				</p:column>
				<p:column
					headerText="預計完成日"
					sortBy="#{require.establishDateSortStr}"
					rendered="#{customColumnMBean.chekcDataTableColumn('預計完成日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('預計完成日')?
                                          '75':
                                          customColumnMBean.getColumnWidth('預計完成日')}px">
					<h:outputText value="#{require.establishDateStr}">
					</h:outputText>
				</p:column>
				<p:column
					headerText="檢查完成日"
					sortBy="#{require.finishDateStr}"
					rendered="#{customColumnMBean.chekcDataTableColumn('檢查完成日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('檢查完成日')?
                                          '75':
                                          customColumnMBean.getColumnWidth('檢查完成日')}px">
					<h:outputText value="#{require.finishDateStr}">
					</h:outputText>
				</p:column>
				<p:column
					headerText="異動日期"
					sortBy="#{require.readUpdateDateStr}"
					rendered="#{customColumnMBean.chekcDataTableColumn('異動日期',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('異動日期')?
                                          '30':
                                          customColumnMBean.getColumnWidth('異動日期')}px">
					<h:outputText value="#{require.readUpdateDateStr}">
					</h:outputText>
				</p:column>
				<p:column
					headerText="ON程式單號"
					sortBy="#{require.onpgNo}"
					rendered="#{customColumnMBean.chekcDataTableColumn('ON程式單號',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('ON程式單號')?
                                          '30':
                                          customColumnMBean.getColumnWidth('ON程式單號')}px">
					<h:outputText value="#{require.onpgNo}" />
				</p:column>
				<p:column
					headerText="通知單位"
					sortBy="#{require.noticeDepsName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('通知單位',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('通知單位')?
                                          '30':
                                          customColumnMBean.getColumnWidth('通知單位')}px">
					<h:outputText
						id="dtRequire_noticeDepsName"
						value="#{require.noticeDepsName}" />
					<p:tooltip
						for="dtRequire_noticeDepsName"
						value="#{require.noticeDepsName}"
						trackMouse="true"
						rendered="#{search28MBean.hasDisplay}"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="需求日期"
					sortBy="#{require.requireCreatedDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求日期',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求日期')?
                                          '30':
                                          customColumnMBean.getColumnWidth('需求日期')}px">
					<h:outputText value="#{require.requireCreatedDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="需求單號"
					sortBy="#{require.requireNo}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單號',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單號')?
                                          '30':
                                          customColumnMBean.getColumnWidth('需求單號')}px">
					<h:outputText value="#{require.requireNo}" />
				</p:column>
			</p:dataTable>

			<p:outputPanel rendered="#{search28MBean.switchType eq 'DETAIL'}">
				<p:dataTable
					id="#{search28MBean.dataTableId}1"
					value="#{search28MBean.queryItems}"
					var="require"
					rowKey="#{require.sid}"
					rowIndexVar="index"
					scrollHeight="470"
					scrollable="true"
					paginator="true"
					rows="#{customColumnMBean.pageCount}"
					draggableColumns="true"
					class="reportUpdateClz"
					resizableColumns="true"
					selectionMode="single"
					selection="#{search28MBean.querySelection}"
					style="width: 35%;float: left;margin-right: 2px;"
					rowStyleClass="#{searchHelper.appendRowCss(require.urgency, require.readRecordType)}"
					rendered="#{search28MBean.switchFullType != 'FULLCONTENT'}">
					<p:ajax
						event="rowSelect"
						onstart="showLoad();"
						process="@this"
						listener="#{search28MBean.onRowSelect}"
						update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId req05botmid"
						oncomplete="hideLoad();" />
					<p:column
						headerText="序"
						width="5">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="ON程式主題"
						sortBy="#{require.onPgTheme}">
						<p:commandButton
							icon="fa fa-search"
							rendered="#{search28MBean.hasDisplay}"
							actionListener="#{search28MBean.btnOpenUrl(search28MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
							onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
							oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
							process="@this" />
						<h:outputText
							id="dtRequire_onPgTheme"
							value="#{require.onPgTheme}" />
						<p:tooltip
							for="dtRequire_onPgTheme"
							value="#{require.onPgTheme}"
							trackMouse="true"
							rendered="#{search28MBean.hasDisplay}"
							styleClass="tooltipWidth" />
					</p:column>
				</p:dataTable>
				<!-- 需求單內容 -->
				<p:outputPanel style="width: #{search28MBean.switchFullType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{search28MBean.switchFullType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
					<c:if test="#{search28MBean.switchFullType eq 'FULLCONTENT'}">
						<ui:include src="../require/require05.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search28MBean}" />
						</ui:include>
					</c:if>
					<c:if test="#{search28MBean.switchFullType eq 'DETAIL'}">
						<ui:include src="../require/require05_detail.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search28MBean}" />
						</ui:include>
					</c:if>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search28MBean}" />
		</ui:include>

	</ui:define>
</ui:composition>

