<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="歷史單據查詢" />
	</ui:define>
	<ui:define name="content">
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search11MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			process="@this headerPanel"
			update="@(.reportUpdateClz)" />
		<p:remoteCommand
			name="searchByKeepPage"
			actionListener="#{search11MBean.search()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			process="@this headerPanel"
			update="@(.reportUpdateClz)" />
		<!-- 查詢表頭-->
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{search11MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{commonHeaderMBean.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1250px;">
					<p:panelGrid columns="12">
						<h:outputText value="需求類別： " />
						<p:selectOneMenu
							value="#{commonHeaderMBean.selectBigCategory}"
							converter="#{categoryConverter}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems
								value="#{categoryMBean.getBigValues()}"
								var="item"
								itemValue="#{item}"
								itemLabel="#{item.name}" />
						</p:selectOneMenu>

						<h:outputText value="需求單位： " />
						<p:commandButton
							icon="fa fa-search"
							process="@this"
							update="@widgetVar(dlgOrgTree)"
							actionListener="#{commonHeaderMBean.initOrgTree(false,false)}"
							onclick='showLoad();'
							oncomplete="PF('dlgOrgTree').show();hideLoad();" />

						<h:outputText value="需求人員： " />
						<p:inputText
							value="#{commonHeaderMBean.trCreatedUserName}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');" />

						<h:outputText value="模糊搜尋： " />
						<p:inputText
							value="#{commonHeaderMBean.fuzzyText}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');"
							style="width: 208px;" />

						<!-- 查詢欄位:系統別 -->
						<ui:include src="queryCondition_checkItem_style03.xhtml">
							<ui:param
								name="conditionVO"
								value="#{commonHeaderMBean}" />
						</ui:include>
					</p:panelGrid>
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1250px;">
					<p:panelGrid
						style="float:left;"
						columns="3">
						<h:panelGroup>
							<h:outputText value="類別組合： " />
							<p:commandButton
								process="@this"
								update="@widgetVar(dlgCate)"
								icon="fa fa-search"
								actionListener="#{categoryTreeMBean.initRoot()}"
								onclick="showLoad();"
								oncomplete="PF('dlgCate').show();hideLoad();" />
						</h:panelGroup>

						<p:tabMenu
							id="dateBtn"
							activeIndex="#{commonHeaderMBean.dateTypeIndex}">
							<p:menuitem
								value="上個月"
								process="@this"
								update="interval @parent"
								actionListener="#{commonHeaderMBean.getDateInterval('PREVIOUS_MONTH')}" />
							<p:menuitem
								value="本月份"
								process="@this"
								update="interval @parent"
								actionListener="#{commonHeaderMBean.getDateInterval('THIS_MONTH')}" />
							<p:menuitem
								value="下個月"
								process="@this"
								update="interval @parent"
								actionListener="#{commonHeaderMBean.getDateInterval('NEXT_MONTH')}" />
							<p:menuitem
								value="今日"
								process="@this"
								update="interval @parent"
								actionListener="#{commonHeaderMBean.getDateInterval('TODAY')}" />
						</p:tabMenu>

						<h:panelGroup id="interval">
							<h:outputText value="立單區間： " />
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{commonHeaderMBean.startDate}" />
								<ui:param
									name="endDate"
									value="#{commonHeaderMBean.endDate}" />
								<ui:param
									name="startDateId"
									value="calStartDate" />
								<ui:param
									name="endDateId"
									value="calEndDate" />
							</ui:include>
						</h:panelGroup>
					</p:panelGrid>

					<p:panelGrid
						columns="2"
						style="float:right;margin-top: 4px;">
						<p:commandButton
							value="搜尋"
							process="@this headerPanel"
							update="searchBody toggleSearchBodyPanel"
							actionListener="#{search11MBean.search()}"
							onclick="showLoad();selectDataTablePage('wvRequire', 0);"
							oncomplete="hideLoad();" />
						<p:commandButton
							value="清除"
							actionListener="#{search11MBean.clear()}"
							onclick="showLoad();selectDataTablePage('wvRequire', 0);"
							oncomplete="hideLoad();"
							update="headerPanel pgAdvance searchBody"
							process="@this" />
					</p:panelGrid>
				</p:outputPanel>
			</p:outputPanel>

			<!--查詢表身上的按鈕-->
			<p:panelGrid
				columns="5"
				id="toggleSearchBodyPanel">
				<p:commandButton
					value="#{search11MBean.switchType.typeName}"
					onclick="showLoad()"
					process="@this"
					actionListener="#{search11MBean.toggleSearchBody()}"
					update="@next searchBody toggleSearchBodyPanel"
					oncomplete="hideLoad();"
					rendered="#{not empty search11MBean.queryItems}" />
				<p:commandButton
					value="關聯檢視"
					process="@this"
					class="reportUpdateClz"
					disabled="#{empty search11MBean.queryItems or !search11MBean.querySelection.hasLink}"
					onclick="openInNewTab();"
					oncomplete="replaceUrl('#{search11MBean.getRelevanceViewUrl(search11MBean.querySelection)}');" />
				<p:commandButton
					value="匯出"
					onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
					ajax="false"
					actionListener="#{search11MBean.hideColumnContent()}">
					<p:dataExporter
						type="xls"
						target="#{search11MBean.dataTableId}"
						fileName="report"
						postProcessor="#{search11MBean.exportExcel}" />
				</p:commandButton>
				<p:commandLink
					value="進階搜尋"
					style="color:blue;"
					process="@this" />
				<p:overlayPanel
					widgetVar="olpAdvance"
					for="@previous"
					dismissable="false">
					<p:panelGrid
						columns="2"
						id="pgAdvance">
						<h:outputText value="異動區間：" />
						<h:panelGroup>
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{commonHeaderMBean.startUpdatedDate}" />
								<ui:param
									name="endDate"
									value="#{commonHeaderMBean.endUpdatedDate}" />
								<ui:param
									name="startDateId"
									value="updateStartDate" />
								<ui:param
									name="endDateId"
									value="updateEndDate" />
							</ui:include>
						</h:panelGroup>
						<h:outputText value="轉發至：" />
						<p:commandButton
							icon="fa fa-search"
							process="@this"
							update="@widgetVar(dlgOrgTreeForward)"
							actionListener="#{commonHeaderMBean.initForwardOrgTree()}"
							onclick='showLoad();'
							oncomplete="PF('dlgOrgTreeForward').show();hideLoad();" />
						<h:outputText value="緊急度：" />
						<p:selectManyCheckbox
							id="basic"
							value="#{commonHeaderMBean.urgencyList}">
							<f:selectItems value="#{urgencyTypeMBean.getTypeValues()}" />
						</p:selectManyCheckbox>
						<h:outputText value="需求單號：" />
						<p:inputText value="#{commonHeaderMBean.requireNo}" />
					</p:panelGrid>
					<p:commandButton
						value="確定"
						process="@parent"
						oncomplete="PF('olpAdvance').hide();doSearchData();" />
					<p:commandButton
						value="取消"
						type="button"
						onclick="PF('olpAdvance').hide()" />
					<p:commandButton
						value="清除"
						process="@this"
						update="pgAdvance"
						actionListener="#{commonHeaderMBean.clearAdvance()}" />
				</p:overlayPanel>
			</p:panelGrid>
		</p:panel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				id="#{search11MBean.dataTableId}"
				widgetVar="wvRequire"
				value="#{search11MBean.queryItems}"
				var="require"
				rowKey="#{require.sid}"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				class="reportUpdateClz"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				selection="#{search11MBean.querySelection}"
				rowStyleClass="#{require.urgency =='URGENT'?'urgencyRow':''}"
				rendered="#{search11MBean.switchType eq 'CONTENT' and search11MBean.switchFullType != 'FULLCONTENT'}">
				<!-- 全畫面狀態時不渲染 -->
				<!-- 點選更新需求單明細 -->
				<p:ajax
					event="rowSelect"
					process="@this"
					update=":formTemplate:toggleSearchBodyPanel" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{search11MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="部"
					width="5"
					exportable="false">
					<p:commandLink
						value="#{require.hasForwardDep?'★':'　'}"
						actionListener="#{search11MBean.openForwardDialog(require)}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						process="@this"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="個"
					width="5"
					exportable="false">
					<p:commandLink
						value="#{require.hasForwardMember?'★':'　'}"
						actionListener="#{search11MBean.openForwardDialog(require)}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						process="@this"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="關"
					width="5"
					exportable="false">
					<p:commandLink
						value="#{require.hasLink?'★':'　'}"
						onclick="showLoad();"
						oncomplete="openDlgRelevance();hideLoad();"
						process="@this"
						update=":formTemplate:tvRelevance"
						actionListener="#{search11MBean.initRelevance(require)}"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="追"
					width="5"
					exportable="false"
					rendered="#{customColumnMBean.chekcDataTableColumn('追')}"
					style="width:#{empty customColumnMBean.getColumnWidth('追')?
                                         '10':
                                         customColumnMBean.getColumnWidth('追')}px">
					<p:commandLink
						value="#{require.hasTrace?'★':'　'}"
						onstart="showLoad();"
						oncomplete="showPF('dlgTraceAction');hideLoad();"
						process="@this"
						update=":formTemplate:dlgTraceAction_view"
						actionListener="#{search11MBean.btnAddTrack(require)}"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="立單日期"
					sortBy="#{require.createdDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('立單日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('立單日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('立單日期')}px">
					<h:outputText value="#{require.createdDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="result_column_checkItems.xhtml" />
				<p:column
					headerText="需求類別"
					sortBy="#{require.bigName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求類別')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求類別')?
                                          '80':
                                          customColumnMBean.getColumnWidth('需求類別')}px">
					<h:outputText value="#{require.bigName}" />
				</p:column>
				<p:column
					headerText="中類"
					sortBy="#{require.middleName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('中類')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('中類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('中類')}px">
					<h:outputText value="#{require.middleName}" />
				</p:column>
				<p:column
					headerText="小類"
					sortBy="#{require.smallName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('小類')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('小類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('小類')}px">
					<h:outputText value="#{require.smallName}" />
				</p:column>
				<p:column
					headerText="需求單位"
					sortBy="#{orgBean.name(require.createDep)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單位')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單位')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求單位')}px">
					<h:outputText value="#{orgBean.name(require.createDep)}" />
				</p:column>
				<p:column
					headerText="需求人員"
					sortBy="#{usrBean.name(require.createdUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求人員')}px">
					<h:outputText value="#{usrBean.name(require.createdUser)}" />
				</p:column>
				<p:column
					headerText="主題"
					sortBy="#{require.requireTheme}">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{search11MBean.hasDisplay}"
						actionListener="#{search11MBean.btnOpenUrl(search11MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{require.requireTheme}"
						styleClass="blueAndUnderline"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						process="@this"
						actionListener="#{search11MBean.fullScreenForm(require)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();" />
					<p:tooltip
						widgetVar="tooltip#{index+1}"
						for="@previous"
						value="#{require.requireTheme}"
						trackMouse="true"
						rendered="#{search11MBean.hasDisplay}"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="緊急度"
					sortBy="#{commonBean.get(require.urgency)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('緊急度')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('緊急度')?
                                          '50':
                                          customColumnMBean.getColumnWidth('緊急度')}px">
					<h:outputText value="#{commonBean.get(require.urgency)}" />
				</p:column>
				<p:column
					headerText="單號"
					sortBy="#{require.requireNo}"
					rendered="#{customColumnMBean.chekcDataTableColumn('單號')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('單號')?
                                          '115':
                                          customColumnMBean.getColumnWidth('單號')}px">
					<h:outputText value="#{require.requireNo}" />
				</p:column>
				<p:column
					headerText="結案人員"
					sortBy="#{usrBean.name(require.closeUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('結案人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('結案人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('結案人員')}px">
					<h:outputText value="#{usrBean.name(require.closeUser)}" />
				</p:column>
				<p:column
					headerText="結案日期"
					sortBy="#{require.closeDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('結案日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('結案日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('結案日期')}px">
					<h:outputText value="#{require.closeDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="備註說明"
					sortBy="#{require.closeMemo}"
					rendered="#{customColumnMBean.chekcDataTableColumn('備註說明')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('備註說明')?
                                          '115':
                                          customColumnMBean.getColumnWidth('備註說明')}px">
					<h:outputText value="#{require.requireStatus eq 'INVALID' ? '作廢' : require.closeMemo}" />
				</p:column>
			</p:dataTable>

			<p:outputPanel rendered="#{search11MBean.switchType eq 'DETAIL'}">
				<p:dataTable
					id="#{search11MBean.dataTableId}1"
					value="#{search11MBean.queryItems}"
					var="require"
					rowKey="#{require.sid}"
					rowIndexVar="index"
					scrollHeight="470"
					scrollable="true"
					paginator="true"
					rows="50"
					draggableColumns="true"
					class="reportUpdateClz"
					resizableColumns="true"
					selectionMode="single"
					selection="#{search11MBean.querySelection}"
					style="width: 35%;float: left;margin-right: 2px;"
					rowStyleClass="#{require.urgency =='URGENT'?'urgencyRow':''}"
					rendered="#{search11MBean.switchFullType != 'FULLCONTENT'}">
					<!-- 點選更新需求單明細 -->
					<p:ajax
						event="rowSelect"
						onstart="showLoad();"
						process="@this"
						listener="#{search11MBean.onRowSelect}"
						update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId req03botmid"
						oncomplete="hideLoad();" />
					<p:ajax
						event="colReorder"
						update="@parent" />
					<p:column
						headerText="序"
						width="5">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="部"
						width="5"
						exportable="false">
						<p:commandLink
							value="#{require.hasForwardDep?'★':'　'}"
							actionListener="#{search11MBean.openForwardDialog(require)}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							process="@this"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="個"
						width="5"
						exportable="false">
						<p:commandLink
							value="#{require.hasForwardMember?'★':'　'}"
							actionListener="#{search11MBean.openForwardDialog(require)}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							process="@this"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="關"
						width="5">
						<p:commandLink
							value="#{require.hasLink?'★':'　'}"
							onclick="showLoad();"
							oncomplete="openDlgRelevance();hideLoad();"
							process="@this"
							update=":formTemplate:tvRelevance"
							actionListener="#{require01MBean.relevanceMBean.initRelevance}"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="追"
						width="5"
						exportable="false"
						rendered="#{customColumnMBean.chekcDataTableColumn('追')}"
						style="width:#{empty customColumnMBean.getColumnWidth('追')?
                                             '10':
                                             customColumnMBean.getColumnWidth('追')}px">
						<p:commandLink
							value="#{require.hasTrace?'★':'　'}"
							onstart="showLoad();"
							oncomplete="showPF('dlgTraceAction');hideLoad();"
							process="@this"
							update=":formTemplate:dlgTraceAction_view"
							actionListener="#{search11MBean.btnAddTrack(require)}"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="需求人員"
						sortBy="#{usrBean.name(require.createdUser)}"
						width="20%">
						<h:outputText value="#{usrBean.name(require.createdUser)}" />
					</p:column>
					<p:column
						headerText="主題"
						sortBy="#{require.requireTheme}">
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{search11MBean.btnOpenUrl(search11MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
							onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
							oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
							process="@this" />
						<h:outputText
							id="dtRequire_requireTheme"
							value="#{require.requireTheme}" />
						<p:tooltip
							for="dtRequire_requireTheme"
							value="#{require.requireTheme}"
							trackMouse="true"
							rendered="#{search11MBean.hasDisplay}"
							styleClass="tooltipWidth" />
					</p:column>
				</p:dataTable>

				<!-- 需求單內容 -->
				<p:outputPanel style="width: #{search11MBean.switchFullType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{search11MBean.switchFullType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
					<c:if test="#{search11MBean.switchFullType eq 'FULLCONTENT'}">
						<ui:include src="../require/require03.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search11MBean}" />
						</ui:include>
					</c:if>
					<c:if test="#{search11MBean.switchFullType eq 'DETAIL'}">
						<ui:include src="../require/require03_detail.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search11MBean}" />
						</ui:include>
					</c:if>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search11MBean}" />
		</ui:include>
		<!--類別組合樹-->
		<cp:category_tree widgetVar="dlgCate" />
		<!--報表組織樹-->
		<cp:report_org_tree
			widgetVar="dlgOrgTree"
			commonHeaderMBean="#{commonHeaderMBean}"
			organizationTreeMBean="#{organizationTreeMBean}" />
		<!--報表組織樹 for 進階搜尋(轉發至)-->
		<cp:report_org_tree_forward
			widgetVar="dlgOrgTreeForward"
			commonHeaderMBean="#{commonHeaderMBean}"
			organizationTreeMBean="#{organizationTreeMBean}" />


	</ui:define>
</ui:composition>

