<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="送測文件提交區" />
	</ui:define>
	<ui:define name="content">
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search32MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			process="@this headerPanel"
			update="@(.reportUpdateClz)" />
		<!--查詢表頭-->
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{search32MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<p:outputPanel
				id="headerPanel"
				style="overflow: hidden;width: 1250px;">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{commonHeaderMBean.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>

				<p:outputPanel
					style="overflow: hidden;width: 1250px;"
					rendered="#{search32MBean.displaySearchComp}">
					<p:panelGrid columns="6">
						<h:panelGroup>
							<h:outputText value="提交狀態： " />
							<p:selectOneMenu value="#{search32MBean.commitStatus}">
								<f:selectItem
									itemValue=""
									itemLabel="全部" />
								<f:selectItems
									value="#{search32MBean.getCommitStatusItem()}"
									var="item"
									itemValue="#{item.value}"
									itemLabel="#{item.label}" />
							</p:selectOneMenu>
						</h:panelGroup>

						<p:tabMenu
							id="dateBtn"
							activeIndex="#{commonHeaderMBean.dateTypeIndex}">
							<p:menuitem
								value="上個月"
								process="@this"
								update="interval @parent"
								actionListener="#{commonHeaderMBean.getDateInterval('PREVIOUS_MONTH')}" />
							<p:menuitem
								value="本月份"
								process="@this"
								update="interval @parent"
								actionListener="#{commonHeaderMBean.getDateInterval('THIS_MONTH')}" />
							<p:menuitem
								value="下個月"
								process="@this"
								update="interval @parent"
								actionListener="#{commonHeaderMBean.getDateInterval('NEXT_MONTH')}" />
							<p:menuitem
								value="今日"
								process="@this"
								update="interval @parent"
								actionListener="#{commonHeaderMBean.getDateInterval('TODAY')}" />
						</p:tabMenu>

						<h:panelGroup id="interval">
							<h:outputText value="送測區間： " />
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{commonHeaderMBean.startDate}" />
								<ui:param
									name="endDate"
									value="#{commonHeaderMBean.endDate}" />
								<ui:param
									name="startDateId"
									value="createStartDate" />
								<ui:param
									name="endDateId"
									value="createEndDate" />
							</ui:include>
						</h:panelGroup>
						<p:commandButton
							value="搜尋"
							process="@this headerPanel"
							update="searchBody @(.reportUpdateClz)"
							actionListener="#{search32MBean.search()}"
							onclick="showLoad();"
							oncomplete="hideLoad();" />
						<p:commandButton
							value="清除"
							actionListener="#{search32MBean.clear()}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							update="headerPanel searchBody @(.reportUpdateClz)"
							process="@this" />
					</p:panelGrid>
				</p:outputPanel>


			</p:outputPanel>

		</p:panel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				id="#{search32MBean.dataTableId}"
				widgetVar="wvRequire"
				value="#{search32MBean.queryItems}"
				var="require"
				rowKey="#{require.sid}"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				class="reportUpdateClz"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				rowStyleClass="#{searchHelper.appendRowCss(require.readRecordType)}"
				selection="#{search32MBean.querySelection}"
				rendered="#{search32MBean.switchType eq 'CONTENT' and search32MBean.switchFullType != 'FULLCONTENT'}">
				<!-- 全畫面狀態時不渲染 -->
				<!-- 點選更新需求單明細 -->
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{search32MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="送測日"
					sortBy="#{require.testDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('送測日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('送測日')?
                                          '120':
                                          customColumnMBean.getColumnWidth('送測日')}px">
					<h:outputText value="#{require.testDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="填單單位"
					sortBy="#{orgBean.name(require.createDep)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單單位')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單單位')?
                                          '180':
                                          customColumnMBean.getColumnWidth('填單單位')}px"
					filterBy="#{orgBean.name(require.createDep)}">
					<f:facet name="filter">
						<p:selectOneMenu
							onchange="PF('wvRequire').filter()"
							style=" width: 100px">
							<f:selectItem
								itemValue=""
								itemLabel="全部" />
							<f:selectItems value="#{search32MBean.createDeps}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{orgBean.name(require.createDep)}" />
				</p:column>
				<p:column
					headerText="填單人員"
					sortBy="#{usrBean.name(require.createdUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單人員')?
                                          '100':
                                          customColumnMBean.getColumnWidth('填單人員')}px"
					filterBy="#{usrBean.name(require.createdUser)}"
					filterStyle="width: 60px;"
					filterMatchMode="contains">
					<h:outputText value="#{usrBean.name(require.createdUser)}" />
				</p:column>
				<p:column
					headerText="送測主題"
					sortBy="#{require.testTheme}"
					filterBy="#{require.testTheme}"
					filterMatchMode="contains"
					filterStyle="width: 150px;">
					<p:commandButton
						icon="fa fa-search"
						actionListener="#{search32MBean.btnOpenUrl(search32MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
						process="@this"
						style="margin: .2rem;" />
					<p:commandLink
						value="#{require.testTheme}"
						styleClass="blueAndUnderline"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						process="@this"
						actionListener="#{search32MBean.fullScreenForm(require)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();" />
					<p:tooltip
						widgetVar="tooltip#{index+1}"
						for="@previous"
						value="#{require.testTheme}"
						trackMouse="true"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="提交狀態"
					sortBy="#{search32MBean.getCommitStatusStr(require)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('提交狀態')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('提交狀態')?
                                          '115':
                                          customColumnMBean.getColumnWidth('提交狀態')}px">
					<h:outputText value="#{search32MBean.getCommitStatusStr(require)}" />
				</p:column>
				<!-- 是否閱讀 -->
				<ui:include src="../components/search_column_readRecordType.xhtml">
					<ui:param
						name="searchRowData"
						value="#{require}" />
				</ui:include>
				<p:column
					headerText="預計完成日"
					sortBy="#{require.establishDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('預計完成日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('預計完成日')?
                                          '75':
                                          customColumnMBean.getColumnWidth('預計完成日')}px">
					<h:outputText value="#{require.establishDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="填單日期"
					sortBy="#{require.createdDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('填單日期')}px">
					<h:outputText value="#{require.createdDate}">
						<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
					</h:outputText>
				</p:column>
			</p:dataTable>

			<p:outputPanel rendered="#{search32MBean.switchType eq 'DETAIL'}">
				<p:dataTable
					id="#{search32MBean.dataTableId}1"
					value="#{search32MBean.queryItems}"
					var="require"
					rowKey="#{require.sid}"
					rowIndexVar="index"
					scrollHeight="470"
					scrollable="true"
					paginator="true"
					rows="#{customColumnMBean.pageCount}"
					draggableColumns="true"
					class="reportUpdateClz"
					resizableColumns="true"
					selectionMode="single"
					selection="#{search32MBean.querySelection}"
					rowStyleClass="#{searchHelper.appendRowCss(require.urgency, require.readRecordType)}"
					style="width: 35%;float: left;margin-right: 2px;"
					rendered="#{search32MBean.switchFullType != 'FULLCONTENT'}">
					<p:ajax
						event="rowSelect"
						onstart="showLoad();"
						process="@this"
						listener="#{search32MBean.onRowSelect}"
						update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId req05botmid"
						oncomplete="hideLoad();" />
					<p:column
						headerText="序"
						width="5">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="送測主題"
						sortBy="#{require.testTheme}">
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{search32MBean.btnOpenUrl(search32MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
							onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
							oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
							process="@this" />
						<h:outputText
							id="dtRequire_testTheme"
							value="#{require.testTheme}" />
						<p:tooltip
							for="dtRequire_testTheme"
							value="#{require.testTheme}"
							trackMouse="true"
							styleClass="tooltipWidth" />
					</p:column>
				</p:dataTable>
				<!-- 需求單內容 -->
				<p:outputPanel style="width: #{search32MBean.switchFullType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{search32MBean.switchFullType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
					<c:if test="#{search32MBean.switchFullType eq 'FULLCONTENT'}">
						<ui:include src="../require/require05.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search32MBean}" />
						</ui:include>
					</c:if>
					<c:if test="#{search32MBean.switchFullType eq 'DETAIL'}">
						<ui:include src="../require/require05_detail.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search32MBean}" />
						</ui:include>
					</c:if>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search32MBean}" />
		</ui:include>
		<!--類別組合樹-->
		<cp:category_tree widgetVar="dlgCate" />
		<!--報表組織樹-->
		<cp:report_org_tree
			widgetVar="dlgOrgTree"
			commonHeaderMBean="#{commonHeaderMBean}"
			organizationTreeMBean="#{organizationTreeMBean}" />

	</ui:define>
</ui:composition>

