<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<!--查詢表身-->
<p:dataTable
	id="#{search01MBean.dataTableId}"
	widgetVar="wvRequire"
	value="#{search01MBean.queryItems}"
	var="require"
	rowKey="#{require.sid}"
	rowIndexVar="index"
	scrollHeight="450"
	scrollable="true"
	paginator="true"
	rows="#{customColumnMBean.pageCount}"
	draggableColumns="true"
	class="reportUpdateClz"
	resizableColumns="true"
	resizeMode="expand"
	selectionMode="single"
	selection="#{search01MBean.querySelection}"
	rowStyleClass="#{searchHelper.appendRowCss(require.urgency, require.readRecordType)}"
	rendered="#{search01MBean.switchType eq 'CONTENT' and search01MBean.switchFullType != 'FULLCONTENT'}">
	<!-- 全畫面狀態時不渲染 -->
	<!-- 點選更新需求單明細 -->
	<p:ajax
		event="rowSelect"
		process="@this"
		update=":formTemplate:toggleSearchBodyPanel" />
	<p:ajax
		event="colReorder"
		update="@parent" />
	<p:ajax
		event="colResize"
		listener="#{customColumnMBean.showWithSaveBtnToTrue}"
		update="@(.customColumnClz)"
		process="@this" />
	<f:facet name="header">
		<ui:include src="../search/custom_colum_table_title.xhtml">
			<ui:param
				name="reportDataTableId"
				value="#{search01MBean.dataTableId}" />
		</ui:include>
	</f:facet>
	<p:column
		headerText="序"
		width="5">
		<h:outputText value="#{index+1}" />
	</p:column>
	<p:column
		headerText="部"
		width="5"
		exportable="false">
		<p:commandLink
			value="#{require.hasForwardDep?'★':'　'}"
			actionListener="#{search01MBean.openForwardDialog(require)}"
			onclick="showLoad();"
			oncomplete="hideLoad();"
			process="@this"
			style="color: red">
		</p:commandLink>
	</p:column>
	<p:column
		headerText="個"
		width="5"
		exportable="false">
		<p:commandLink
			value="#{require.hasForwardMember?'★':'　'}"
			actionListener="#{search01MBean.openForwardDialog(require)}"
			onclick="showLoad();"
			oncomplete="hideLoad();"
			process="@this"
			style="color: red">
		</p:commandLink>
	</p:column>
	<p:column
		headerText="關"
		width="5"
		exportable="false">
		<p:commandLink
			value="#{require.hasLink?'★':'　'}"
			onclick="showLoad();"
			oncomplete="openDlgRelevance();hideLoad();"
			process="@this"
			update=":formTemplate:tvRelevance"
			actionListener="#{search01MBean.initRelevance(require)}"
			style="color: red">
		</p:commandLink>
	</p:column>
	<p:column
		headerText="追"
		width="5"
		exportable="false"
		rendered="#{customColumnMBean.chekcDataTableColumn('追')}"
		style="width:#{empty customColumnMBean.getColumnWidth('追')?
                                         '10':
                                         customColumnMBean.getColumnWidth('追')}px">
		<p:commandLink
			value="#{search01MBean.showTrace(require)}"
			onstart="showLoad();"
			oncomplete="showPF('dlgTraceAction');hideLoad();"
			process="@this"
			update=":formTemplate:dlgTraceAction_view"
			actionListener="#{search01MBean.btnAddTrack(require)}"
			style="color: red">
		</p:commandLink>
	</p:column>
	<p:column
		headerText="立"
		width="5"
		exportable="false"
		rendered="#{customColumnMBean.chekcDataTableColumn('立')}"
		style="width:#{empty customColumnMBean.getColumnWidth('立')?
                                         '10':
                                         customColumnMBean.getColumnWidth('立')}px">
		<h:outputText
			value="#{require.create?'Y':'　'}"
			style="font-weight: bolder;" />
	</p:column>
	<p:column
		headerText="分"
		width="5"
		exportable="false"
		rendered="#{customColumnMBean.chekcDataTableColumn('分')}"
		style="width:#{empty customColumnMBean.getColumnWidth('分')?
                                         '10':
                                         customColumnMBean.getColumnWidth('分')}px">
		<h:outputText
			value="#{search01MBean.showAssign(require)}"
			style="font-weight: bolder;" />
	</p:column>
	<p:column
		headerText="轉"
		width="5"
		exportable="false"
		rendered="#{customColumnMBean.chekcDataTableColumn('轉')}"
		style="width:#{empty customColumnMBean.getColumnWidth('轉')?
                                         '10':
                                         customColumnMBean.getColumnWidth('轉')}px">
		<h:outputText
			value="#{search01MBean.showForwardSelf(require)}"
			style="font-weight: bolder;" />
	</p:column>
	<p:column
		headerText="轉入需求"
		rendered="#{customColumnMBean.chekcDataTableColumn('轉入需求')}"
		style=" width:#{empty customColumnMBean.getColumnWidth('轉入需求')?
                                          '50':
                                          customColumnMBean.getColumnWidth('轉入需求')}px">
		<h:outputText value="#{search01MBean.hasTransByIssue(require)}" />
	</p:column>
	<p:column
		headerText="立單日期"
		sortBy="#{require.createdDate}"
		rendered="#{customColumnMBean.chekcDataTableColumn('立單日期')}"
		style=" width:#{empty customColumnMBean.getColumnWidth('立單日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('立單日期')}px">
		<h:outputText value="#{require.createdDate}">
			<f:convertDateTime pattern="yyyy/MM/dd" />
		</h:outputText>
	</p:column>
	<p:column
		headerText="異動日期"
		sortBy="#{require.updatedDate}"
		rendered="#{customColumnMBean.chekcDataTableColumn('異動日期')}"
		style=" width:#{empty customColumnMBean.getColumnWidth('異動日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('異動日期')}px">
		<h:outputText value="#{require.updatedDate}">
			<f:convertDateTime pattern="yyyy/MM/dd" />
		</h:outputText>
	</p:column>
	<!-- 系統別 -->
	<ui:include src="result_column_checkItems.xhtml" />
	<p:column
		headerText="需求類別"
		sortBy="#{require.bigName}"
		rendered="#{customColumnMBean.chekcDataTableColumn('需求類別',false)}"
		style=" width:#{empty customColumnMBean.getColumnWidth('需求類別')?
                                          '80':
                                          customColumnMBean.getColumnWidth('需求類別')}px">
		<h:outputText value="#{require.bigName}" />
	</p:column>
	<p:column
		headerText="中類"
		sortBy="#{require.middleName}"
		rendered="#{customColumnMBean.chekcDataTableColumn('中類',false)}"
		style=" width:#{empty customColumnMBean.getColumnWidth('中類')?
                                          '54':
                                          customColumnMBean.getColumnWidth('中類')}px">
		<h:outputText value="#{require.middleName}" />
	</p:column>
	<p:column
		headerText="小類"
		sortBy="#{require.smallName}"
		rendered="#{customColumnMBean.chekcDataTableColumn('小類')}"
		style=" width:#{empty customColumnMBean.getColumnWidth('小類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('小類')}px">
		<h:outputText value="#{require.smallName}" />
	</p:column>
	<p:column
		headerText="需求單位"
		sortBy="#{orgBean.name(require.createDep)}"
		rendered="#{customColumnMBean.chekcDataTableColumn('需求單位')}"
		style=" width:#{empty customColumnMBean.getColumnWidth('需求單位')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求單位')}px">
		<h:outputText value="#{orgBean.name(require.createDep)}" />
	</p:column>
	<p:column
		headerText="需求人員"
		sortBy="#{usrBean.name(require.createdUser)}"
		rendered="#{customColumnMBean.chekcDataTableColumn('需求人員')}"
		style=" width:#{empty customColumnMBean.getColumnWidth('需求人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求人員')}px">
		<h:outputText value="#{usrBean.name(require.createdUser)}" />
	</p:column>
	<p:column
		headerText="主題"
		sortBy="#{require.requireTheme}">
		<p:commandButton
			icon="fa fa-search"
			rendered="#{search01MBean.hasDisplay}"
			actionListener="#{search01MBean.btnOpenUrl(search01MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
			onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
			oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
			process="@this" />
		<p:commandLink
			value="#{require.requireTheme}"
			styleClass="blueAndUnderline"
			onclick="showLoad();PF('tooltip#{index+1}').hide();"
			process="@this"
			actionListener="#{search01MBean.fullScreenForm(require)}"
			update=":formTemplate:headerTitle :formTemplate:searchBody"
			oncomplete="hideHeaderTitle();hideLoad();" />
		<p:tooltip
			widgetVar="tooltip#{index+1}"
			for="@previous"
			value="#{require.requireTheme}"
			trackMouse="true"
			rendered="#{search01MBean.hasDisplay}"
			styleClass="tooltipWidth" />
	</p:column>
	<p:column
		headerText="緊急度"
		sortBy="#{showEnumBean.getUrgencyType(require.urgency)}"
		rendered="#{customColumnMBean.chekcDataTableColumn('緊急度')}"
		style=" width:#{empty customColumnMBean.getColumnWidth('緊急度')?
                                          '50':
                                          customColumnMBean.getColumnWidth('緊急度')}px">
		<h:outputText value="#{showEnumBean.getUrgencyType(require.urgency)}" />
	</p:column>
	<!-- 主責單位 -->
	<ui:include src="result_column_InChargeDeps.xhtml">
		<ui:param
			name="currItem"
			value="#{require}" />
	</ui:include>
	<p:column
		headerText="製作進度"
		sortBy="#{showEnumBean.getRequireStatusType(require.requireStatus)}"
		rendered="#{customColumnMBean.chekcDataTableColumn('製作進度')}"
		style=" width:#{empty customColumnMBean.getColumnWidth('製作進度')?
                                          '70':
                                          customColumnMBean.getColumnWidth('製作進度')}px">
		<h:outputText value="#{showEnumBean.getRequireStatusType(require.requireStatus)}" />
	</p:column>
	<p:column
		headerText="單號"
		sortBy="#{require.requireNo}"
		rendered="#{customColumnMBean.chekcDataTableColumn('單號')}"
		style=" width:#{empty customColumnMBean.getColumnWidth('單號')?
                                          '115':
                                          customColumnMBean.getColumnWidth('單號')}px">
		<h:outputText value="#{require.requireNo}" />
	</p:column>
	<!-- 是否閱讀 -->
	<ui:include src="../components/search_column_readRecordType.xhtml">
		<ui:param
			name="searchRowData"
			value="#{require}" />
	</ui:include>
	<!-- 待閱原因 -->
	<ui:include src="../components/search_column_readReason.xhtml">
		<ui:param
			name="searchRowData"
			value="#{require}" />
		<ui:param
			name="displayToolitp"
			value="#{search01MBean.hasDisplay}" />			
	</ui:include>

	<p:column
		headerText="附加檔案"
		sortBy="#{search01MBean.getAttInfo(require)}"
		exportable="false"
		rendered="#{customColumnMBean.chekcDataTableColumn('附加檔案')}"
		style=" width:#{empty customColumnMBean.getColumnWidth('附加檔案')?
                                          '59':
                                          customColumnMBean.getColumnWidth('附加檔案')}px">
		<h:outputText value="#{search01MBean.getAttInfo(require)}" />
	</p:column>
	<p:column
		headerText="期望完成日"
		sortBy="#{require.hopeDate}"
		rendered="#{customColumnMBean.chekcDataTableColumn('期望完成日')}"
		style=" width:#{empty customColumnMBean.getColumnWidth('期望完成日')?
                                          '75':
                                          customColumnMBean.getColumnWidth('期望完成日')}px">
		<h:outputText value="#{require.hopeDate}">
			<f:convertDateTime pattern="yyyy/MM/dd" />
		</h:outputText>
	</p:column>
</p:dataTable>
</html>

