<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="送測狀況一覽表" />
	</ui:define>
	<ui:define name="content">
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search13MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			process="@this headerPanel"
			update="@(.reportUpdateClz)" />
		<!--查詢表頭-->
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{search13MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{search13MBean.queryComponent.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1250px;">
					<p:panelGrid columns="12">
						<h:outputText value="需求類別： " />
						<p:selectOneMenu value="#{search13MBean.queryComponent.queryVO.selectBigCategory}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{selectItemBean.getBigCategoryItems()}" />
						</p:selectOneMenu>

						<h:outputText value="需求製作進度： " />
						<p:selectOneMenu value="#{search13MBean.queryComponent.queryVO.selectRequireStatusType}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{search13MBean.getReqStatusItems()}" />
						</p:selectOneMenu>

						<h:outputText value="填單單位： " />
						<p:commandButton
							icon="fa fa-search"
							process="@this"
							actionListener="#{search13MBean.searchTreepicker_openDialog('CREATE_DEP')}"
							onclick='showLoad();'
							oncomplete="hideLoad();" />

						<h:outputText value="送測單位： " />
						<p:commandButton
							icon="fa fa-search"
							process="@this"
							actionListener="#{search13MBean.searchTreepicker_openDialog('NOTIFY_DEP')}"
							onclick='showLoad();'
							oncomplete="hideLoad();" />

						<h:outputText value="填單人員： " />
						<p:inputText
							value="#{search13MBean.queryComponent.queryVO.trCreatedUserName}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');" />

						<h:outputText value="模糊搜尋： " />
						<p:inputText
							value="#{search13MBean.queryComponent.queryVO.fuzzyText}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');"
							style="width:256px;" />
					</p:panelGrid>
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1250px;">
					<p:panelGrid
						style="float:left;"
						columns="5">
						<h:panelGroup>
							<h:outputText value="類別組合： " />
							<p:commandButton
								icon="fa fa-search"
								process="@this"
								actionListener="#{search13MBean.searchTreepicker_openDialog('CATEGORY')}"
								onclick='showLoad();'
								oncomplete="hideLoad();" />
						</h:panelGroup>

						<p:selectCheckboxMenu
							id="reasonItems"
							value="#{search13MBean.queryComponent.queryVO.readReason}"
							converter="waitReadReasonTypeConverter"
							label="待閱原因"
							panelStyle="width:150px;">
							<f:selectItems value="#{waitReadReasonTypeBean.getTestItems()}" />
						</p:selectCheckboxMenu>

						<p:selectCheckboxMenu
							id="testInfoItems"
							value="#{search13MBean.queryComponent.queryVO.testStatus}"
							label="送測狀態"
							panelStyle="width:150px;">
							<f:selectItems value="#{search13MBean.getWorkTestStatusItems()}" />
						</p:selectCheckboxMenu>

						<p:tabMenu
							id="dateBtn"
							activeIndex="#{search13MBean.queryComponent.queryVO.dateTypeIndex}">
							<p:menuitem
								value="上個月"
								process="@this"
								update="interval @parent"
								actionListener="#{search13MBean.queryComponent.getDateInterval('PREVIOUS_MONTH')}" />
							<p:menuitem
								value="本月份"
								process="@this"
								update="interval @parent"
								actionListener="#{search13MBean.queryComponent.getDateInterval('THIS_MONTH')}" />
							<p:menuitem
								value="下個月"
								process="@this"
								update="interval @parent"
								actionListener="#{search13MBean.queryComponent.getDateInterval('NEXT_MONTH')}" />
						</p:tabMenu>

						<h:panelGroup id="interval">
							<h:outputText value="送測區間： " />
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{search13MBean.queryComponent.queryVO.startDate}" />
								<ui:param
									name="endDate"
									value="#{search13MBean.queryComponent.queryVO.endDate}" />
								<ui:param
									name="startDateId"
									value="calStartDate" />
								<ui:param
									name="endDateId"
									value="calEndDate" />
							</ui:include>
						</h:panelGroup>
					</p:panelGrid>

					<p:panelGrid
						columns="3"
						style="float:right;margin-top: 4px">
						<p:commandButton
							value="搜尋"
							process="@this headerPanel"
							update="searchBody @(.reportUpdateClz)"
							actionListener="#{search13MBean.search()}"
							onclick="showLoad();selectDataTablePage('wvRequire', 0);"
							oncomplete="hideLoad();" />
						<p:commandButton
							value="清除"
							actionListener="#{search13MBean.clear()}"
							onclick="showLoad();selectDataTablePage('wvRequire', 0);"
							oncomplete="hideLoad();"
							update="headerPanel pgAdvance searchBody @(.reportUpdateClz)"
							process="@this" />
						<p:commandButton
							value="自訂預設搜尋條件"
							process="@this "
							update="dlgReportCustomFilter_view"
							actionListener="#{search13MBean.queryComponent.loadDefaultSettingDialog()}"
							onclick="showLoad();"
							oncomplete="hideLoad();showPF('dlgReportCustomFilter');"
							rendered="#{search13MBean.displayCustomBtn}" />
					</p:panelGrid>

					<p:outputPanel style="overflow: hidden;width: 1200px;">
						<p:panelGrid
							style="float:left;"
							columns="7">
							<h:outputText value="是否閱讀： " />
							<p:selectOneMenu value="#{search13MBean.queryComponent.queryVO.selectReadRecordType}">
								<f:selectItem itemLabel="全部" />
								<f:selectItems value="#{readRecordTypeMBean.getValuesExcept('SYSTEM_UPDATE')}" />
							</p:selectOneMenu>
							<!-- 查詢欄位:系統別 -->
							<ui:include src="queryCondition_checkItem_style03.xhtml">
								<ui:param
									name="conditionVO"
									value="#{search13MBean.queryComponent.queryVO}" />
							</ui:include>
						</p:panelGrid>

					</p:outputPanel>
				</p:outputPanel>
			</p:outputPanel>

			<!--查詢表身上的按鈕-->
			<p:panelGrid
				columns="5"
				class="reportUpdateClz">
				<p:commandButton
					value="#{search13MBean.switchType.typeName}"
					onclick="showLoad()"
					process="@this"
					actionListener="#{search13MBean.toggleSearchBody()}"
					update="searchBody @this"
					oncomplete="hideLoad();"
					rendered="#{not empty search13MBean.queryItems}" />
				<p:commandLink
					value="進階搜尋"
					style="color:blue;"
					process="@this" />
				<p:overlayPanel
					widgetVar="olpAdvance"
					for="@previous"
					dismissable="false">
					<p:panelGrid
						columns="2"
						id="pgAdvance">
						<h:outputText value="立單區間：" />
						<h:panelGroup>
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{search13MBean.queryComponent.queryVO.startUpdatedDate}" />
								<ui:param
									name="endDate"
									value="#{search13MBean.queryComponent.queryVO.endUpdatedDate}" />
								<ui:param
									name="startDateId"
									value="createStartDate" />
								<ui:param
									name="endDateId"
									value="createEndDate" />
							</ui:include>
						</h:panelGroup>
						<h:outputText value="需求單號：" />
						<p:inputText value="#{search13MBean.queryComponent.queryVO.requireNo}" />
					</p:panelGrid>
					<p:commandButton
						value="確定"
						process="@parent"
						oncomplete="PF('olpAdvance').hide();doSearchData();" />
					<p:commandButton
						value="取消"
						type="button"
						onclick="PF('olpAdvance').hide()" />
					<p:commandButton
						value="清除"
						process="@this"
						update="pgAdvance"
						actionListener="#{search13MBean.queryComponent.clearAdvance()}" />
				</p:overlayPanel>
				<p:commandButton
					value="匯出"
					onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
					ajax="false"
					actionListener="#{search13MBean.hideColumnContent()}">
					<p:dataExporter
						type="xls"
						target="#{search13MBean.dataTableId}"
						fileName="report"
						postProcessor="#{search13MBean.exportExcel}" />
				</p:commandButton>
			</p:panelGrid>
		</p:panel>



		<p:outputPanel id="searchBody">
			<!--查詢表身-->
			<p:dataTable
				id="#{search13MBean.dataTableId}"
				widgetVar="wvRequire"
				value="#{search13MBean.queryItems}"
				var="require"
				rowKey="#{require.sid}"
				rowIndexVar="index"
				scrollHeight="400"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				class="reportUpdateClz"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				selection="#{search13MBean.querySelection}"
				rowStyleClass="#{searchHelper.appendRowCss(require.urgency, require.readRecordType)}"
				rendered="#{search13MBean.switchType eq 'CONTENT' and search13MBean.switchFullType != 'FULLCONTENT'}">
				<!-- 全畫面狀態時不渲染 -->
				<!-- 點選更新需求單明細 -->
				<p:ajax
					event="rowSelect"
					process="@this" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{search13MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="送測日"
					sortBy="#{require.testDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('送測日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('送測日')?
                                          '115':
                                          customColumnMBean.getColumnWidth('送測日')}px">
					<h:outputText value="#{require.testDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="填單日期"
					sortBy="#{require.createdDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單日期')?
                                          '115':
                                          customColumnMBean.getColumnWidth('填單日期')}px">
					<h:outputText value="#{require.createdDate}">
						<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="填單單位"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單單位',false)}"
					filterBy="#{require.createDepName}"
					sortBy="#{require.createDepName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單單位')?
                                          '60':
                                          customColumnMBean.getColumnWidth('填單單位')}px">
					<f:facet name="filter">
						<p:selectOneMenu
							value="#{search13MBean.createDepName}"
							style=" width: 100px">
							<p:ajax
								listener="#{search13MBean.doChangeFilter()}"
								onstart="showLoad();"
								oncomplete="hideLoad();"
								update="#{search13MBean.dataTableId}"
								process="@this" />
							<f:selectItem
								itemValue=""
								itemLabel="全部" />
							<f:selectItems value="#{search13MBean.createDepNameItems}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{require.createDepName}" />
				</p:column>
				<p:column
					headerText="填單人員"
					sortBy="#{usrBean.name(require.createdUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('填單人員')}px">
					<h:outputText value="#{usrBean.name(require.createdUser)}" />
				</p:column>
				<p:column
					headerText="送測主題"
					sortBy="#{require.testTheme}">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{search13MBean.hasDisplay}"
						actionListener="#{search13MBean.btnOpenUrl(search13MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{require.testTheme}"
						styleClass="blueAndUnderline"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						process="@this"
						actionListener="#{search13MBean.fullScreenForm(require)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();" />
					<p:tooltip
						widgetVar="tooltip#{index+1}"
						for="@previous"
						value="#{require.testTheme}"
						trackMouse="true"
						rendered="#{search13MBean.hasDisplay}"
						styleClass="tooltipWidth" />
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="result_column_checkItems.xhtml" />
				<p:column
					headerText="需求類別"
					sortBy="#{require.bigName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求類別',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求類別')?
                                          '30':
                                          customColumnMBean.getColumnWidth('需求類別')}px">
					<h:outputText value="#{require.bigName}" />
				</p:column>
				<p:column
					headerText="中類"
					sortBy="#{require.middleName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('中類',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('中類')?
                                          '30':
                                          customColumnMBean.getColumnWidth('中類')}px">
					<h:outputText value="#{require.middleName}" />
				</p:column>
				<p:column
					headerText="小類"
					sortBy="#{require.smallName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('小類')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('小類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('小類')}px">
					<h:outputText value="#{require.smallName}" />
				</p:column>
				<p:column
					headerText="需求單位"
					sortBy="#{orgBean.name(require.requireDep)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單位',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單位')?
                                          '30':
                                          customColumnMBean.getColumnWidth('需求單位')}px">
					<h:outputText value="#{orgBean.name(require.requireDep)}" />
				</p:column>
				<p:column
					headerText="需求人員"
					sortBy="#{usrBean.name(require.requireUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求人員')}px">
					<h:outputText value="#{usrBean.name(require.requireUser)}" />
				</p:column>
				<p:column
					headerText="需求主題"
					sortBy="#{require.requireTheme}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求主題')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求主題')?
                                          '100':
                                          customColumnMBean.getColumnWidth('需求主題')}px">
					<h:outputText
						id="dtRequire_requireTheme"
						value="#{require.requireTheme}" />
					<p:tooltip
						for="dtRequire_requireTheme"
						value="#{require.requireTheme}"
						trackMouse="true"
						styleClass="tooltipWidth"
						rendered="#{search13MBean.hasDisplay}" />
				</p:column>
				<p:column
					headerText="製作進度"
					sortBy="#{commonBean.get(require.requireStatus)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('製作進度')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('製作進度')?
                                          '70':
                                          customColumnMBean.getColumnWidth('製作進度')}px">
					<h:outputText value="#{commonBean.get(require.requireStatus)}" />
				</p:column>
				<p:column
					headerText="送測狀態"
					sortBy="#{commonBean.get(require.testinfoStatus)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('送測狀態')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('送測狀態')?
                                          '70':
                                          customColumnMBean.getColumnWidth('送測狀態')}px">
					<h:outputText
						value="#{commonBean.get(require.testinfoStatus)}"
						style="#{commonBean.get(require.testinfoStatus) eq '退測'?
                                           'color: red;font-weight:bold':
                                           ''}" />
					<h:outputText
						rendered="#{require.testinfoStatus eq 'SONGCE' and require.qaAuditStatus != null}"
						value="(#{require.qaAuditStatus.value})" />
				</p:column>
				<!-- 是否閱讀 -->
				<ui:include src="../components/search_column_readRecordType.xhtml">
					<ui:param
						name="searchRowData"
						value="#{require}" />
				</ui:include>
				<!-- 待閱原因 -->
				<ui:include src="../components/search_column_readReason.xhtml">
					<ui:param
						name="searchRowData"
						value="#{require}" />
					<ui:param
						name="displayToolitp"
						value="#{search13MBean.hasDisplay}" />
				</ui:include>

				<p:column
					headerText="說明"
					sortBy="#{require.testDescription}"
					rendered="#{customColumnMBean.chekcDataTableColumn('說明')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('說明')?
                                          '40':
                                          customColumnMBean.getColumnWidth('說明')}px">
					<h:outputText
						value="#{require.testDescription}"
						rendered="#{commonBean.get(require.testinfoStatus) eq '退測' or
                                              commonBean.get(require.testinfoStatus) eq '取消測試' or
                                              commonBean.get(require.testinfoStatus) eq '重測'}" />
				</p:column>
				<p:column
					headerText="預計完成日"
					sortBy="#{require.establishDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('預計完成日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('預計完成日')?
                                          '75':
                                          customColumnMBean.getColumnWidth('預計完成日')}px">
					<h:outputText value="#{require.establishDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="完成日"
					sortBy="#{require.finishDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('完成日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('完成日')?
                                          '63':
                                          customColumnMBean.getColumnWidth('完成日')}px">
					<h:outputText value="#{require.finishDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="預計上線日"
					sortBy="#{require.expectOnlineDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('預計上線日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('預計上線日')?
                                          '80':
                                          customColumnMBean.getColumnWidth('預計上線日')}px">
					<h:outputText value="#{require.expectOnlineDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="異動日期"
					sortBy="#{require.readUpdateDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('異動日期',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('異動日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('異動日期')}px">
					<h:outputText value="#{require.readUpdateDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="送測單號"
					sortBy="#{require.testinfoNo}"
					rendered="#{customColumnMBean.chekcDataTableColumn('送測單號',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('送測單號')?
                                          '30':
                                          customColumnMBean.getColumnWidth('送測單號')}px">
					<h:outputText value="#{require.testinfoNo}" />
				</p:column>
				<p:column
					headerText="送測單位"
					sortBy="#{search13MBean.getSendTestDepStr(require)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('送測單位',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('送測單位')?
                                          '80':
                                          customColumnMBean.getColumnWidth('送測單位')}px">
					<h:outputText
						id="dtRequire_sendStaff"
						value="#{search13MBean.getSendTestDepStr(require)}" />
					<p:tooltip
						for="dtRequire_sendStaff"
						value="#{search13MBean.getSendTestDepStr(require)}"
						trackMouse="true"
						rendered="#{search13MBean.hasDisplay}"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="需求單號"
					sortBy="#{require.requireNo}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單號',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單號')?
                                          '30':
                                          customColumnMBean.getColumnWidth('需求單號')}px">
					<h:outputText value="#{require.requireNo}" />
				</p:column>
			</p:dataTable>

			<p:outputPanel rendered="#{search13MBean.switchType eq 'DETAIL'}">
				<p:dataTable
					id="#{search13MBean.dataTableId}1"
					value="#{search13MBean.queryItems}"
					var="require"
					rowKey="#{require.sid}"
					rowIndexVar="index"
					scrollHeight="470"
					scrollable="true"
					paginator="true"
					rows="#{customColumnMBean.pageCount}"
					draggableColumns="true"
					class="reportUpdateClz"
					resizableColumns="true"
					selectionMode="single"
					selection="#{search13MBean.querySelection}"
					style="width: 35%;float: left;margin-right: 2px;"
					rowStyleClass="#{searchHelper.appendRowCss(require.urgency, require.readRecordType)}"
					rendered="#{search13MBean.switchFullType != 'FULLCONTENT'}">
					<p:ajax
						event="rowSelect"
						onstart="showLoad();"
						process="@this"
						listener="#{search13MBean.onRowSelect}"
						update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId req05botmid"
						oncomplete="hideLoad();" />
					<p:column
						headerText="序"
						width="5">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="送測主題"
						sortBy="#{require.testTheme}">
						<p:commandButton
							icon="fa fa-search"
							rendered="#{search13MBean.hasDisplay}"
							actionListener="#{search13MBean.btnOpenUrl(search13MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
							onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
							oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
							process="@this" />
						<h:outputText
							id="dtRequire_testTheme"
							value="#{require.testTheme}" />
						<p:tooltip
							for="dtRequire_testTheme"
							value="#{require.testTheme}"
							trackMouse="true"
							rendered="#{search13MBean.hasDisplay}"
							styleClass="tooltipWidth" />
					</p:column>
				</p:dataTable>
				<!-- 需求單內容 -->
				<p:outputPanel style="width: #{search13MBean.switchFullType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{search13MBean.switchFullType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
					<c:if test="#{search13MBean.switchFullType eq 'FULLCONTENT'}">
						<ui:include src="../require/require05.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search13MBean}" />
						</ui:include>
					</c:if>
					<c:if test="#{search13MBean.switchFullType eq 'DETAIL'}">
						<ui:include src="../require/require05_detail.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search13MBean}" />
						</ui:include>
					</c:if>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>

		<p:dialog
			widgetVar="dlgReportCustomFilter"
			header="自訂預設搜尋條件"
			resizable="false"
			position="right top"
			modal="true">
			<p:outputPanel
				id="dlgReportCustomFilter_view"
				style="overflow: hidden;">
				<p:scrollPanel
					style="height:500px; width: 400px;"
					mode="native">
					<p:panelGrid>
						<p:row>
							<p:column colspan="1">
								<h:outputText value="需求類別： " />
								<p:selectOneMenu
									value="#{search13MBean.queryComponent.search13QueryVOFilter.selectBigCategory}"
									style="width: 80px;">
									<f:selectItem itemLabel="全部" />
									<f:selectItems value="#{selectItemBean.getBigCategoryItems()}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">
								<h:outputText value="需求製作進度： " />
								<p:selectOneMenu value="#{search13MBean.queryComponent.search13QueryVOFilter.selectRequireStatusType}">
									<f:selectItem itemLabel="全部" />
									<f:selectItems value="#{search13MBean.getReqStatusItems()}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>

						<p:row>
							<p:column colspan="1">
								<h:outputText value="填單單位： " />
								<p:commandButton
									icon="fa fa-search"
									process="@this"
									actionListener="#{search13MBean.searchTreepicker_openDialog('CREATE_DEP_IN_CSTOM_CONDITION')}"
									onclick='showLoad();'
									oncomplete="hideLoad();" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">
								<h:outputText value="送測單位： " />
								<p:commandButton
									icon="fa fa-search"
									process="@this"
									actionListener="#{search13MBean.searchTreepicker_openDialog('NOTIFY_DEP_IN_CSTOM_CONDITION')}"
									onclick='showLoad();'
									oncomplete="hideLoad();" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="填單人員： " />
								<p:inputText value="#{search13MBean.queryComponent.search13QueryVOFilter.trCreatedUserName}" />
							</p:column>

						</p:row>

						<p:row>
							<p:column colspan="3">
								<h:outputText value="模糊搜尋： " />
								<p:inputText value="#{search13MBean.queryComponent.search13QueryVOFilter.fuzzyText}" />
							</p:column>
						</p:row>

						<p:row>
							<p:column colspan="3">
								<h:outputText value="類別組合： &nbsp;&nbsp;" />
								<p:commandButton
									icon="fa fa-search"
									process="@this"
									actionListener="#{search13MBean.searchTreepicker_openDialog('CATEGORY_IN_CSTOM_CONDITION')}"
									onclick='showLoad();'
									oncomplete="hideLoad();" />
							</p:column>
						</p:row>

						<p:row>
							<p:column colspan="3">
								<h:outputText value="待閱原因： " />
								<p:selectCheckboxMenu
									value="#{search13MBean.queryComponent.search13QueryVOFilter.readReason}"
									converter="waitReadReasonTypeConverter"
									label="待閱原因"
									panelStyle="width:150px;">
									<f:selectItems value="#{waitReadReasonTypeBean.getTestItems()}" />
								</p:selectCheckboxMenu>
							</p:column>
						</p:row>

						<p:row>
							<p:column colspan="3">
								<h:outputText value="送測狀態： " />
								<p:selectCheckboxMenu
									value="#{search13MBean.queryComponent.search13QueryVOFilter.testStatus}"
									label="送測狀態"
									panelStyle="width:150px;">
									<f:selectItems value="#{search13MBean.getWorkTestStatusItems()}" />
								</p:selectCheckboxMenu>
							</p:column>
						</p:row>

						<p:row>
							<p:column colspan="5">
								<p:selectOneButton
									value="#{search13MBean.queryComponent.search13QueryVOFilter.dateTypeIndexStr}"
									id="dateSelectItemButton">
									<f:selectItem
										itemLabel="上個月"
										itemValue="0" />
									<f:selectItem
										itemLabel="本月份"
										itemValue="1" />
									<f:selectItem
										itemLabel="下個月"
										itemValue="2" />
									<f:selectItem
										itemLabel="清除"
										itemValue="3" />
									<p:ajax
										event="change"
										update="dateSelectItemButton"
										process="@this"
										listener="#{search13MBean.queryComponent.clearDateType()}" />
								</p:selectOneButton>
							</p:column>
						</p:row>

						<p:row>
							<p:column colspan="3">
								<h:outputText value="是否閱讀： " />
								<p:selectOneMenu value="#{search13MBean.queryComponent.search13QueryVOFilter.selectReadRecordType}">
									<f:selectItem itemLabel="全部" />
									<f:selectItems value="#{readRecordTypeMBean.getValuesExcept('SYSTEM_UPDATE')}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:scrollPanel>
				<p:panelGrid>
					<p:column colspan="2">
						<p:commandButton
							value="確定"
							process="@this dlgReportCustomFilter_view"
							actionListener="#{search13MBean.queryComponent.saveDefaultSetting()}"
							onclick="showLoad();"
							oncomplete="hideLoad();" />
						<p:commandButton
							value="取消"
							process="@this"
							onclick="PF('dlgReportCustomFilter').hide()" />
					</p:column>
				</p:panelGrid>

			</p:outputPanel>
		</p:dialog>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search13MBean}" />
		</ui:include>
		<ui:include src="search_dlg_treepicker.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search13MBean}" />
		</ui:include>
	</ui:define>
</ui:composition>

