<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="追蹤" />
	</ui:define>
	<ui:define name="content">
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search22MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			process="@this headerPanel"
			update="@(.reportUpdateClz)" />
		<p:remoteCommand
			name="searchByKeepPage"
			actionListener="#{search22MBean.search()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			process="@this headerPanel"
			update="@(.reportUpdateClz)" />
		<!-- 全畫面狀態時不渲染 -->
		<p:outputPanel
			id="headerTitle"
			rendered="#{search22MBean.switchFullType != 'FULLCONTENT'}">
			<!--查詢表頭-->
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{commonHeaderMBean.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>

				<p:outputPanel>
					<p:panelGrid>
						<p:row>
							<p:column colspan="1">
								<h:outputText value="類別組合： " />
							</p:column>
							<p:column colspan="1">
								<p:commandButton
									process="@this"
									update="@widgetVar(dlgCate)"
									icon="fa fa-search"
									actionListener="#{categoryTreeMBean.initRoot()}"
									onclick="showLoad();"
									oncomplete="PF('dlgCate').show();hideLoad();" />
							</p:column>
							<p:column colspan="1">
								<h:outputText value="需求進度： " />
							</p:column>
							<p:column colspan="1">
								<p:selectOneMenu value="#{search22HeaderMBean.selectRequireStatusType}">
									<f:selectItem itemLabel="全部" />
									<f:selectItems value="#{search22HeaderMBean.getReqStatusItems()}" />
								</p:selectOneMenu>
							</p:column>
							<p:column colspan="1">
								<h:outputText value="追蹤狀態： " />
							</p:column>
							<p:column colspan="1">
								<p:selectOneMenu value="#{search22HeaderMBean.traceStatus}">
									<f:selectItems value="#{traceStatusBean.values}" />
								</p:selectOneMenu>
							</p:column>
							<p:column colspan="1">
								<!-- 查詢欄位:系統別 -->
								<ui:include src="queryCondition_checkItem_style02.xhtml">
									<ui:param
										name="conditionVO"
										value="#{commonHeaderMBean}" />
								</ui:include>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="1">
								<h:outputText value="主題： " />
							</p:column>
							<p:column colspan="1">
								<p:inputText
									value="#{search22HeaderMBean.theme}"
									onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
							</p:column>
							<p:column colspan="1">
								<h:outputText value="內容： " />
							</p:column>
							<p:column colspan="1">
								<p:inputText
									value="#{search22HeaderMBean.content}"
									onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
							</p:column>
							<p:column colspan="1">
								<h:outputText value="追蹤區間： " />
							</p:column>
							<p:column colspan="2">
								<p:outputPanel>
									<ui:include src="../components/date_component.xhtml">
										<ui:param
											name="startDate"
											value="#{search22HeaderMBean.startCreatedDate}" />
										<ui:param
											name="endDate"
											value="#{search22HeaderMBean.endCreatedDate}" />
										<ui:param
											name="startDateId"
											value="createStartDate" />
										<ui:param
											name="endDateId"
											value="createEndDate" />
									</ui:include>
								</p:outputPanel>
							</p:column>
							<p:column colspan="1" />
						</p:row>
						<p:row>
							<p:column colspan="1">
								<h:outputText value="模糊搜尋： " />
							</p:column>
							<p:column colspan="1">
								<p:inputText
									value="#{commonHeaderMBean.fuzzyText}"
									style="width:153px;"
									onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
							</p:column>
							<p:column colspan="2">
							</p:column>
							<p:column colspan="1">
								<h:outputText value="追蹤提醒日： " />
							</p:column>
							<p:column colspan="2">
								<p:outputPanel>
									<ui:include src="../components/date_component.xhtml">
										<ui:param
											name="startDate"
											value="#{search22HeaderMBean.startNoticeDate}" />
										<ui:param
											name="endDate"
											value="#{search22HeaderMBean.endNoticeDate}" />
										<ui:param
											name="startDateId"
											value="calStartNoticeDate" />
										<ui:param
											name="endDateId"
											value="calEndNoticeDate" />
									</ui:include>
								</p:outputPanel>
							</p:column>
							<p:column colspan="1">
								<p:panelGrid
									columns="2"
									style="float:right;margin-top: 4px;">
									<p:commandButton
										value="搜尋"
										process="@this headerPanel"
										update="searchBody toggleSearchBodyPanel"
										actionListener="#{search22MBean.search()}"
										onclick="showLoad();selectDataTablePage('wvRequire', 0);"
										oncomplete="hideLoad();" />
									<p:commandButton
										value="清除"
										actionListener="#{search22MBean.clear()}"
										onclick="showLoad();selectDataTablePage('wvRequire', 0);"
										oncomplete="hideLoad();"
										update="headerPanel searchBody"
										process="@this" />
								</p:panelGrid>
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:outputPanel>
			</p:outputPanel>

			<!--查詢表身上的按鈕-->
			<p:panelGrid
				columns="5"
				id="toggleSearchBodyPanel">
				<p:commandButton
					value="#{search22MBean.switchType.typeName}"
					onclick="showLoad()"
					process="@this searchBody"
					actionListener="#{search22MBean.toggleSearchBody()}"
					update="@next searchBody toggleSearchBodyPanel"
					oncomplete="hideLoad();"
					rendered="#{not empty search22MBean.queryItems}" />
				<p:commandButton
					value="關聯檢視"
					process="@this"
					class="reportUpdateClz"
					disabled="#{empty search22MBean.queryItems or !search22MBean.querySelection.hasLink}"
					onclick="openInNewTab();"
					oncomplete="replaceUrl('#{search22MBean.getRelevanceViewUrl(search22MBean.querySelection)}');" />
				<p:commandButton
					value="匯出"
					onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
					ajax="false"
					actionListener="#{search22MBean.hideColumnContent()}">
					<p:dataExporter
						type="xls"
						target="#{search22MBean.dataTableId}"
						fileName="report"
						postProcessor="#{search22MBean.exportExcel}" />
				</p:commandButton>
				<p:commandButton
					value="取消追蹤"
					disabled="#{empty search22MBean.queryItems 
                                             || empty search22MBean.querySelection
                                             || search22MBean.querySelection.status eq 'INACTIVE'
                                             || search22MBean.querySelection.traceStatus eq 'FINISHED'}"
					actionListener="#{search22MBean.btnCancelTrace()}"
					onclick="showLoad();"
					oncomplete="hideLoad();"
					update="toggleSearchBodyPanel searchBody"
					process="@this">
				</p:commandButton>
				<p:commandButton
					id="toggleSearchBodyPanel_btn_finish"
					value="已完成"
					disabled="#{empty search22MBean.finishTraceSids}"
					actionListener="#{search22MBean.btnFinishTrace()}"
					onclick="showLoad();"
					oncomplete="hideLoad();"
					update="toggleSearchBodyPanel searchBody"
					process="@this">
				</p:commandButton>
			</p:panelGrid>
		</p:outputPanel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				id="#{search22MBean.dataTableId}"
				widgetVar="wvRequire"
				value="#{search22MBean.queryItems}"
				var="require"
				rowKey="#{require.sid}"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				class="reportUpdateClz"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				selection="#{search22MBean.querySelection}"
				rowStyleClass="#{require.urgency =='URGENT'?'urgencyRow':''}"
				rendered="#{search22MBean.switchType eq 'CONTENT' and search22MBean.switchFullType != 'FULLCONTENT'}">
				<!-- 全畫面狀態時不渲染 -->
				<p:ajax
					event="rowSelect"
					process="#{search22MBean.dataTableId}"
					update=":formTemplate:toggleSearchBodyPanel" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{search22MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					width="22"
					styleClass="alignCenter">
					<f:facet name="header">
						<p:selectBooleanCheckbox
							value="#{search22MBean.dtSelAll}"
							class="updateClz_dtSelAll">
							<p:ajax
								listener="#{search22MBean.changeByDtSelAll()}"
								onstart="showLoad();"
								oncomplete="hideLoad();"
								update="toggleSearchBodyPanel_btn_finish @(.updateClz_hasSelCheckbox)"
								process="@this" />
						</p:selectBooleanCheckbox>
					</f:facet>
					<p:selectBooleanCheckbox
						value="#{require.hasSelCheckBox}"
						class="updateClz_hasSelCheckbox">
						<p:ajax
							listener="#{search22MBean.changeByDtSelCheckBox(require)}"
							update="toggleSearchBodyPanel_btn_finish @(.updateClz_dtSelAll)"
							process="@this" />
					</p:selectBooleanCheckbox>
				</p:column>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="部"
					width="5"
					exportable="false">
					<p:commandLink
						value="#{require.hasForwardDep?'★':'　'}"
						actionListener="#{search22MBean.openForwardDialog(require)}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						process="@this"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="個"
					width="5"
					exportable="false">
					<p:commandLink
						value="#{require.hasForwardMember?'★':'　'}"
						actionListener="#{search22MBean.openForwardDialog(require)}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						process="@this"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="關"
					width="5"
					exportable="false">
					<p:commandLink
						value="#{require.hasLink?'★':'　'}"
						onclick="showLoad();"
						oncomplete="openDlgRelevance();hideLoad();"
						process="@this"
						update=":formTemplate:tvRelevance"
						actionListener="#{search22MBean.initRelevance(require)}"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="追"
					width="5"
					exportable="false"
					rendered="#{customColumnMBean.chekcDataTableColumn('追')}"
					style="width:#{empty customColumnMBean.getColumnWidth('追')?
                                         '10':
                                         customColumnMBean.getColumnWidth('追')}px">
					<p:commandLink
						value="#{require.hasTrace?'★':'　'}"
						onstart="showLoad();"
						oncomplete="showPF('dlgTraceAction');hideLoad();"
						process="@this"
						update=":formTemplate:dlgTraceAction_view"
						actionListener="#{search22MBean.btnAddTrack(require)}"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="追蹤方式"
					sortBy="#{commonBean.get(require.traceType)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('追蹤方式')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('追蹤方式')?
                                          '54':
                                          customColumnMBean.getColumnWidth('追蹤方式')}px">
					<h:outputText value="#{commonBean.get(require.traceType)}" />
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="result_column_checkItems.xhtml" />
				<p:column
					headerText="小類"
					sortBy="#{require.smallName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('小類')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('小類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('小類')}px">
					<h:outputText value="#{require.smallName}" />
				</p:column>
				<p:column
					headerText="追蹤提醒日"
					sortBy="#{require.noticeDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('追蹤提醒日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('追蹤提醒日')?
                                          '63':
                                          customColumnMBean.getColumnWidth('追蹤提醒日')}px">
					<h:outputText value="#{require.noticeDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="新增者"
					sortBy="#{usrBean.name(require.traceCreatedUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('新增者')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('新增者')?
                                          '60':
                                          customColumnMBean.getColumnWidth('新增者')}px">
					<h:outputText value="#{usrBean.name(require.traceCreatedUser)}" />
				</p:column>
				<p:column
					headerText="追蹤狀態"
					sortBy="#{commonBean.get(require.traceType)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('追蹤狀態')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('追蹤狀態')?
                                          '54':
                                          customColumnMBean.getColumnWidth('追蹤狀態')}px">
					<h:outputText value="#{commonBean.get(require.traceStatus)}" />
				</p:column>
				<p:column
					headerText="追蹤事項"
					sortBy="#{require.traceType}"
					rendered="#{customColumnMBean.chekcDataTableColumn('追蹤事項')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('追蹤事項')?
                                          '100':
                                          customColumnMBean.getColumnWidth('追蹤事項')}px">
					<p:commandButton
						icon="ui-icon-search"
						rendered="#{search22MBean.hasDisplay}"
						onclick="showLoad();"
						oncomplete="hideLoad();PF('dlgTraceAction_mome').show();"
						update=":formTemplate:dlgTraceAction_mome_view"
						actionListener="#{search22MBean.btnTraceByMemo(require)}"
						process="@this">
					</p:commandButton>
					<h:outputText
						id="dtRequire_memo"
						value="#{require.memo}" />
					<p:tooltip
						for="dtRequire_memo"
						value="#{require.memo}"
						trackMouse="true"
						rendered="#{search22MBean.hasDisplay}"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="主題"
					sortBy="#{require.requireTheme}">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{search22MBean.hasDisplay}"
						actionListener="#{search22MBean.btnOpenUrl(search22MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{require.requireTheme}"
						styleClass="blueAndUnderline"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						process="@this"
						actionListener="#{search22MBean.fullScreenForm(require)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();" />
					<p:tooltip
						widgetVar="tooltip#{index+1}"
						for="@previous"
						value="#{require.requireTheme}"
						trackMouse="true"
						rendered="#{search22MBean.hasDisplay}"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="需求進度"
					sortBy="#{commonBean.get(require.requireStatus)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求進度')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求進度')?
                                          '70':
                                          customColumnMBean.getColumnWidth('需求進度')}px">
					<h:outputText value="#{commonBean.get(require.requireStatus)}" />
				</p:column>
				<p:column
					headerText="最後異動時間"
					sortBy="#{require.requireUpdatedDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('最後異動時間')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('最後異動時間')?
                                          '63':
                                          customColumnMBean.getColumnWidth('最後異動時間')}px">
					<h:outputText value="#{require.requireUpdatedDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="追蹤時間"
					sortBy="#{require.traceCreatedDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('追蹤時間')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('追蹤時間')?
                                          '63':
                                          customColumnMBean.getColumnWidth('追蹤時間')}px">
					<h:outputText value="#{require.traceCreatedDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<!-- 是否閱讀 -->
				<ui:include src="../components/search_column_readRecordType.xhtml">
					<ui:param
						name="searchRowData"
						value="#{require}" />
				</ui:include>
			</p:dataTable>

			<p:outputPanel rendered="#{search22MBean.switchType eq 'DETAIL'}">
				<p:dataTable
					id="#{search22MBean.dataTableId}1"
					value="#{search22MBean.queryItems}"
					var="require"
					rowKey="#{require.sid}"
					rowIndexVar="index"
					scrollHeight="470"
					scrollable="true"
					paginator="true"
					rows="50"
					draggableColumns="true"
					class="reportUpdateClz"
					resizableColumns="true"
					selectionMode="single"
					selection="#{search22MBean.querySelection}"
					style="width: 35%;float: left;margin-right: 2px;"
					rowStyleClass="#{require.urgency =='URGENT'?'urgencyRow':''}"
					rendered="#{search22MBean.switchFullType != 'FULLCONTENT'}">
					<!-- 點選更新需求單明細 -->
					<p:ajax
						event="rowSelect"
						onstart="showLoad();"
						process="@this"
						listener="#{search22MBean.onRowSelect}"
						update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId req03botmid"
						oncomplete="hideLoad();" />
					<p:ajax
						event="colReorder"
						update="@parent" />
					<p:column
						headerText="序"
						width="5">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="部"
						width="5"
						exportable="false">
						<p:commandLink
							value="#{require.hasForwardDep?'★':'　'}"
							actionListener="#{search22MBean.openForwardDialog(require)}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							process="@this"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="個"
						width="5"
						exportable="false">
						<p:commandLink
							value="#{require.hasForwardMember?'★':'　'}"
							actionListener="#{search22MBean.openForwardDialog(require)}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							process="@this"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="關"
						width="5">
						<p:commandLink
							value="#{require.hasLink?'★':'　'}"
							onclick="showLoad();"
							oncomplete="openDlgRelevance();hideLoad();"
							process="@this"
							update=":formTemplate:tvRelevance"
							actionListener="#{require01MBean.relevanceMBean.initRelevance}"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="追"
						width="5"
						exportable="false"
						rendered="#{customColumnMBean.chekcDataTableColumn('追')}"
						style="width:#{empty customColumnMBean.getColumnWidth('追')?
                                             '10':
                                             customColumnMBean.getColumnWidth('追')}px">
						<p:commandLink
							value="#{require.hasTrace?'★':'　'}"
							onstart="showLoad();"
							oncomplete="showPF('dlgTraceAction');hideLoad();"
							process="@this"
							update=":formTemplate:dlgTraceAction_view"
							actionListener="#{search22MBean.btnAddTrack(require)}"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="主題"
						sortBy="#{require.requireTheme}">
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{search22MBean.btnOpenUrl(search22MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
							onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
							oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
							process="@this" />
						<h:outputText
							id="dtRequire_requireTheme"
							value="#{require.requireTheme}" />
						<p:tooltip
							for="dtRequire_requireTheme"
							value="#{require.requireTheme}"
							trackMouse="true"
							rendered="#{search22MBean.hasDisplay}"
							styleClass="tooltipWidth" />
					</p:column>
				</p:dataTable>

				<!-- 需求單內容 -->
				<p:outputPanel style="width: #{search22MBean.switchFullType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{search22MBean.switchFullType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
					<c:if test="#{search22MBean.switchFullType eq 'FULLCONTENT'}">
						<ui:include src="../require/require03.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search22MBean}" />
						</ui:include>
					</c:if>
					<c:if test="#{search22MBean.switchFullType eq 'DETAIL'}">
						<ui:include src="../require/require03_detail.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search22MBean}" />
						</ui:include>
					</c:if>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search22MBean}" />
		</ui:include>
		<!--類別組合樹-->
		<cp:category_tree widgetVar="dlgCate" />
		<!--報表組織樹 for 進階搜尋(轉發至)-->
		<cp:report_org_tree_forward
			widgetVar="dlgOrgTreeForward"
			commonHeaderMBean="#{commonHeaderMBean}"
			organizationTreeMBean="#{organizationTreeMBean}" />



	</ui:define>
</ui:composition>

