<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:l="http://www.lapis.com/jsf/exporter"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="需求製作進度查詢" />
	</ui:define>
	<ui:define name="content">
		<p:outputPanel id="doSearchData_id">
			<p:remoteCommand
				name="doSearchData"
				actionListener="#{search26MBean.search()}"
				onstart="showLoad();"
				oncomplete="hideLoad();"
				update="#{search26MBean.dataTableId}#{search26MBean.switchType eq 'DETAIL'? '1' : ''}"
				process="@this headerPanel" />
		</p:outputPanel>
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{search26MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<!--查詢表頭-->
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{commonHeaderMBean.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>

				<p:panelGrid>
					<p:row>
						<p:column colspan="3">
							<p:panelGrid columns="2">
								<h:outputText value="需求類別： " />
								<p:selectOneMenu
									value="#{commonHeaderMBean.selectBigCategory}"
									converter="#{categoryConverter}">
									<f:selectItem itemLabel="全部" />
									<f:selectItems
										value="#{categoryMBean.getBigValues()}"
										var="item"
										itemValue="#{item}"
										itemLabel="#{item.name}" />
								</p:selectOneMenu>
							</p:panelGrid>
						</p:column>
						<p:column colspan="3">
							<p:panelGrid
								columns="4"
								style="margin-left: -5px">
								<h:outputText
									value="#{search26HeaderMBean.queryUnitName}單位： "
									style="font-weight: bolder;color:#{search26HeaderMBean.isQueryAssignUnit?'blue;':'red;'}" />
								<p:commandButton
									icon="fa fa-search"
									process="@this"
									update="@widgetVar(dlgOrgTree)"
									actionListener="#{commonHeaderMBean.initOrgTree(true,false,true)}"
									onclick='showLoad();'
									oncomplete="PF('dlgOrgTree').show();hideLoad();" />
								<h:outputText value="製作進度： " />
								<p:selectOneMenu value="#{search26HeaderMBean.selectRequireStatusType}">
									<p:ajax
										event="change"
										onstart="showLoad();"
										process="@this"
										listener="#{search26HeaderMBean.changeReqStatusEvent}"
										update="@parent"
										oncomplete="hideLoad();" />
									<f:selectItems value="#{search26HeaderMBean.getReqStatusItems()}" />
								</p:selectOneMenu>
							</p:panelGrid>
						</p:column>
						<p:column colspan="1">
							<p:panelGrid columns="2">
								<h:outputText value="模糊搜尋： " />
								<p:inputText
									value="#{commonHeaderMBean.fuzzyText}"
									style="width: 285px;"
									onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
							</p:panelGrid>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="3">
							<p:tabMenu
								id="dateBtn"
								activeIndex="#{commonHeaderMBean.dateTypeIndex}">
								<p:menuitem
									value="上個月"
									process="@this"
									update="interval @parent"
									actionListener="#{commonHeaderMBean.getDateInterval('PREVIOUS_MONTH')}" />
								<p:menuitem
									value="本月份"
									process="@this"
									update="interval @parent"
									actionListener="#{commonHeaderMBean.getDateInterval('THIS_MONTH')}" />
								<p:menuitem
									value="下個月"
									process="@this"
									update="interval @parent"
									actionListener="#{commonHeaderMBean.getDateInterval('NEXT_MONTH')}" />
								<p:menuitem
									value="今日"
									process="@this"
									update="interval @parent"
									actionListener="#{commonHeaderMBean.getDateInterval('TODAY')}" />
							</p:tabMenu>
						</p:column>
						<p:column colspan="3">
							<h:panelGroup id="interval">
								<h:outputText value="立單區間： " />
								<ui:include src="../components/date_component.xhtml">
									<ui:param
										name="startDate"
										value="#{commonHeaderMBean.startDate}" />
									<ui:param
										name="endDate"
										value="#{commonHeaderMBean.endDate}" />
									<ui:param
										name="startDateId"
										value="createStartDate" />
									<ui:param
										name="endDateId"
										value="createEndDate" />
								</ui:include>
							</h:panelGroup>
						</p:column>

						<p:column colspan="1">
							<p:panelGrid
								columns="2"
								style="float:right;margin-top: 4px;">
								<p:commandButton
									value="搜尋"
									id="headerPanel_btn_search_id"
									actionListener="#{search26MBean.search()}"
									onclick="showLoad();"
									oncomplete="hideLoad();"
									update="#{search26MBean.dataTableId}#{search26MBean.switchType eq 'DETAIL'? '1' : ''}"
									process="@this headerPanel" />
								<p:commandButton
									value="清除"
									onclick="showLoad();"
									process="@this"
									actionListener="#{search26MBean.clear()}"
									update="headerPanel searchBody"
									oncomplete="hideLoad();" />
							</p:panelGrid>
						</p:column>

					</p:row>
				</p:panelGrid>

			</p:outputPanel>

			<!--查詢表身上的按鈕-->
			<p:panelGrid
				columns="4"
				id="toggleSearchBodyPanel">
				<p:commandButton
					value="#{search26MBean.switchType.typeName}"
					onclick="showLoad()"
					process="@this"
					actionListener="#{search26MBean.toggleSearchBody()}"
					update="@next searchBody doSearchData_id headerPanel_btn_search_id toggleSearchBodyPanel"
					oncomplete="hideLoad();"
					disabled="#{empty search26MBean.treeCache}" />
				<p:commandButton
					value="匯出"
					ajax="false"
					rendered="#{not empty search26MBean.treeCache and search26MBean.treeCache.size() > 0}"
					class="reportUpdateClz"
					actionListener="#{search26MBean.hideColumnContent()}">
					<l:dataExporter
						source="#{search26MBean.dataTableId}"
						fileType="excel"
						fileName="report"
						postProcessor="#{search26MBean.exportExcel}" />
				</p:commandButton>
				<p:commandButton
					value="全部展開"
					onclick="showLoad()"
					process="@this"
					actionListener="#{search26MBean.expandedAll()}"
					update="searchBody"
					oncomplete="hideLoad();"
					disabled="#{empty search26MBean.treeCache}" />
				<p:commandButton
					value="全部折疊"
					onclick="showLoad()"
					process="@this"
					actionListener="#{search26MBean.foldAll()}"
					update="searchBody"
					oncomplete="hideLoad();"
					disabled="#{empty search26MBean.treeCache}" />
			</p:panelGrid>
		</p:panel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<p:treeTable
				id="#{search26MBean.dataTableId}"
				skipChildren="true"
				widgetVar="wvRequire"
				transient="true"
				value="#{search26MBean.queryRoot}"
				var="node"
				resizableColumns="true"
				scrollable="true"
				scrollHeight="470"
				selectionMode="single"
				selection="#{search26MBean.querySelection}"
				rowStyleClass="#{node.rowClz}"
				rendered="#{search26MBean.switchType eq 'CONTENT' and search26MBean.switchFullType != 'FULLCONTENT'}">
				<!-- 全畫面狀態時不渲染 -->
				<p:ajax
					event="select"
					onstart="showLoad();"
					process="@this"
					listener="#{search26MBean.onNodeSelect}"
					oncomplete="hideLoad();"
					update="@this" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{search26MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="項目名稱"
					style="#{node.isColumnGone?'border:none;':''}">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{search26MBean.hasDisplay and !node.isSubGroup}"
						actionListener="#{search26MBean.btnOpenUrl(search26MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,node)}"
						onclick="openWinByStore('#{node.index}-#{node.reqSid}-#{node.subSid}');"
						oncomplete="replaceUrlByStore('#{node.index}-#{node.reqSid}-#{node.subSid}','#{node.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{node.theme}"
						styleClass="blueAndUnderline"
						onclick="showLoad();PF('tooltip#{node.index}').hide();"
						process="@this"
						actionListener="#{search26MBean.fullScreenForm(node)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();"
						rendered="#{!node.isSubGroup}" />
					<p:tooltip
						widgetVar="tooltip#{node.index}"
						for="@previous"
						value="#{node.theme}"
						trackMouse="true"
						rendered="#{search26MBean.hasDisplay}"
						styleClass="tooltipWidth" />
					<h:outputText
						value="#{node.theme}"
						rendered="#{node.isSubGroup}" />
				</p:column>
				<p:column
					headerText="建立日期"
					rendered="#{customColumnMBean.chekcDataTableColumn('建立日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('建立日期')?
                                          '87':
                                          customColumnMBean.getColumnWidth('建立日期')}px;#{node.isColumnGone?'border:none;':''}">
					<h:outputText value="#{node.creDt}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>

				<p:column
					headerText="需求完成日"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求完成日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求完成日')?
                                          '87':
                                          customColumnMBean.getColumnWidth('需求完成日')}px;#{node.isColumnGone?'border:none;':''}">
					<h:outputText value="#{node.reqFinishDt}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="結案日"
					rendered="#{customColumnMBean.chekcDataTableColumn('結案日',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('結案日')?
                                          '87':
                                          customColumnMBean.getColumnWidth('結案日')}px;#{node.isColumnGone?'border:none;':''}">
					<h:outputText value="#{node.reqCloseDt}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="需求人員"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求人員',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求人員')?
                                          '100':
                                          customColumnMBean.getColumnWidth('需求人員')}px;#{node.isColumnGone?'border:none;':''}">
					<h:outputText value="#{node.reqCreatedUser}" />
				</p:column>
				<p:column
					headerText="需求單位"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單位',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單位')?
                                          '100':
                                          customColumnMBean.getColumnWidth('需求單位')}px;#{node.isColumnGone?'border:none;':''}">
					<h:outputText value="#{node.reqCreateDep}" />
				</p:column>
				<p:column
					headerText="程序狀態"
					rendered="#{customColumnMBean.chekcDataTableColumn('程序狀態')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('程序狀態')?
                                          '87':
                                          customColumnMBean.getColumnWidth('程序狀態')}px;#{node.isColumnGone?'border:none;':''}">
					<h:outputText value="#{node.status}" />
				</p:column>
				<p:column
					headerText="預計完成日"
					rendered="#{customColumnMBean.chekcDataTableColumn('預計完成日')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('預計完成日')?
                                          '87':
                                          customColumnMBean.getColumnWidth('預計完成日')}px;#{node.isColumnGone?'border:none;':''}">
					<h:outputText value="#{node.esDt}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="執行天數"
					rendered="#{customColumnMBean.chekcDataTableColumn('執行天數')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('執行天數')?
                                          '50':
                                          customColumnMBean.getColumnWidth('執行天數')}px;#{node.isColumnGone?'border:none;':''}">
					<h:outputText value="#{node.execDays}" />
				</p:column>
				<p:column
					headerText="備註"
					rendered="#{customColumnMBean.chekcDataTableColumn('備註')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('備註')?
                                          '50':
                                          customColumnMBean.getColumnWidth('備註')}px;#{node.isColumnGone?'border:none;':''}">
					<h:outputText value="#{node.memo}" />
				</p:column>
				<p:column
					headerText="補充說明"
					rendered="#{customColumnMBean.chekcDataTableColumn('補充說明',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('補充說明')?
                                          '150':
                                          customColumnMBean.getColumnWidth('補充說明')}px;#{node.isColumnGone?'border:none;':''}">
					<h:outputText
						id="s26NoteId"
						value="#{node.note}" />
					<p:tooltip
						for="s26NoteId"
						value="#{node.note}"
						trackMouse="true"
						rendered="#{search26MBean.hasDisplay}"
						styleClass="tooltipWidth" />
				</p:column>
			</p:treeTable>

			<!-- 需求單內容 -->
			<p:outputPanel rendered="#{search26MBean.switchType eq 'DETAIL'}">
				<p:treeTable
					id="#{search26MBean.dataTableId}1"
					skipChildren="true"
					value="#{search26MBean.queryRoot}"
					transient="true"
					var="node"
					resizableColumns="true"
					liveResize="true"
					scrollable="true"
					scrollHeight="550"
					selectionMode="single"
					selection="#{search26MBean.querySelection}"
					style="width: 35%;float: left;margin-right: 2px;"
					rowStyleClass="#{node.rowClz}"
					rendered="#{search26MBean.switchFullType != 'FULLCONTENT'}"
					class="reportUpdateClz">
					<!-- 點選更新需求單明細 -->
					<p:ajax
						event="select"
						onstart="showLoad();"
						process="@this"
						listener="#{search26MBean.onNodeSelect}"
						update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id req07botmid"
						oncomplete="hideLoad();" />
					<p:column
						headerText="項目名稱"
						style="#{node.isColumnGone?'border:none;':''}">
						<p:commandButton
							icon="fa fa-search"
							rendered="#{search26MBean.hasDisplay and !node.isSubGroup}"
							actionListener="#{search26MBean.btnOpenUrl(search26MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,node)}"
							onclick="openWinByStore('#{node.index}-#{node.reqSid}-#{node.subSid}');"
							oncomplete="replaceUrlByStore('#{node.index}-#{node.reqSid}-#{node.subSid}','#{node.localUrlLink}');"
							process="@this" />
						<h:outputText
							id="s26HalfThemeId"
							value="#{node.theme}" />
						<p:tooltip
							for="s26HalfThemeId"
							value="#{node.theme}"
							trackMouse="true"
							rendered="#{search26MBean.hasDisplay}"
							styleClass="tooltipWidth" />
					</p:column>
					<p:column
						headerText="程序狀態"
						rendered="#{customColumnMBean.chekcDataTableColumn('程序狀態')}"
						style=" width:#{empty customColumnMBean.getColumnWidth('程序狀態')?
                                              '63':
                                              customColumnMBean.getColumnWidth('程序狀態')}px;#{node.isColumnGone?'border:none;':''}">
						<h:outputText value="#{node.status}" />
					</p:column>
					<p:column
						headerText="預計完成日"
						rendered="#{customColumnMBean.chekcDataTableColumn('預計完成日')}"
						style=" width:#{empty customColumnMBean.getColumnWidth('預計完成日')?
                                              '75':
                                              customColumnMBean.getColumnWidth('預計完成日')}px;#{node.isColumnGone?'border:none;':''}">
						<h:outputText value="#{node.esDt}">
							<f:convertDateTime pattern="yyyy/MM/dd" />
						</h:outputText>
					</p:column>
					<p:column
						headerText="執行天數"
						rendered="#{customColumnMBean.chekcDataTableColumn('執行天數')}"
						style=" width:#{empty customColumnMBean.getColumnWidth('執行天數')?
                                              '50':
                                              customColumnMBean.getColumnWidth('執行天數')}px;#{node.isColumnGone?'border:none;':''}">
						<h:outputText value="#{node.execDays}" />
					</p:column>
				</p:treeTable>
				<!-- 需求單內容 -->
				<p:outputPanel style="width: #{search26MBean.switchFullType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{search26MBean.switchFullType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
					<c:if test="#{search26MBean.switchFullType eq 'FULLCONTENT'}">
						<ui:include src="../require/require07.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search26MBean}" />
						</ui:include>
					</c:if>
					<c:if test="#{search26MBean.switchFullType eq 'DETAIL'}">
						<ui:include src="../require/require07_detail.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search26MBean}" />
						</ui:include>
					</c:if>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search26MBean}" />
			<ui:param
				name="showPageCnt"
				value="#{false}" />
		</ui:include>

		<!--類別組合樹-->
		<cp:category_tree widgetVar="dlgCate" />
		<!--報表組織樹-->
		<cp:report_org_tree
			widgetVar="dlgOrgTree"
			commonHeaderMBean="#{commonHeaderMBean}"
			organizationTreeMBean="#{organizationTreeMBean}" />
		<!--報表組織樹 for 進階搜尋(轉發至)-->
		<cp:report_org_tree_forward
			widgetVar="dlgOrgTreeForward"
			commonHeaderMBean="#{commonHeaderMBean}"
			organizationTreeMBean="#{organizationTreeMBean}" />


	</ui:define>
</ui:composition>

