<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="原型確認一覽表" />
	</ui:define>
	<ui:define name="customCSS">
		<style>
.textBold {
	font-weight: bold;
}
</style>
	</ui:define>
	<ui:define name="content">
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search08MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			update="@(.reportUpdateClz)"
			process="@this headerPanel" />
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{search08MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<!--查詢表頭-->
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{search08MBean.searchQuery.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1350px;">
					<p:panelGrid columns="12">
						<h:outputText value="需求類別： " />
						<p:selectOneMenu value="#{search08MBean.searchQuery.selectBigCategorySid}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{selectItemBean.getBigCategoryItems()}" />
						</p:selectOneMenu>

						<h:outputText value="需求製作進度： " />
						<p:selectOneMenu value="#{search08MBean.searchQuery.selectRequireStatusType}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{selectItemBean.getReqStatusItems()}" />
						</p:selectOneMenu>

						<h:outputText value="是否閱讀： " />
						<p:selectOneMenu value="#{search08MBean.searchQuery.selectReadRecordType}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{selectItemBean.getReadRecordItems()}" />
						</p:selectOneMenu>

						<h:outputText value="填單人員： " />
						<p:inputText
							value="#{search08MBean.searchQuery.trCreatedUserName}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');" />

						<h:outputText value="模糊搜尋： " />
						<p:inputText
							value="#{search08MBean.searchQuery.fuzzyText}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
					</p:panelGrid>
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1255px;">
					<p:panelGrid
						columns="22"
						style="float:left;">
						<h:outputText value="類別組合： " />
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{search08MBean.btnOpenCategoryTree()}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							update="@widgetVar(dlgCate)"
							process="@this" />

						<p:selectCheckboxMenu
							value="#{search08MBean.searchQuery.readReason}"
							label="待閱原因"
							panelStyle="width:150px;">
							<f:selectItems value="#{selectItemBean.getWaitReadReasonTypeItems()}" />
						</p:selectCheckboxMenu>

						<p:selectCheckboxMenu
							value="#{search08MBean.searchQuery.prototypeStatus}"
							label="原型確認狀態"
							panelStyle="width:150px;">
							<f:selectItems value="#{selectItemBean.getPtStatusItems()}" />
						</p:selectCheckboxMenu>

						<p:tabMenu
							id="dateBtn"
							activeIndex="#{search08MBean.searchQuery.dateTypeIndex}">
							<p:menuitem
								value="上個月"
								actionListener="#{search08MBean.searchQuery.changeDateIntervalPreMonth()}"
								update="@parent:@parent"
								process="@this" />
							<p:menuitem
								value="本月份"
								actionListener="#{search08MBean.searchQuery.changeDateIntervalThisMonth()}"
								update="@parent:@parent"
								process="@this" />
							<p:menuitem
								value="下個月"
								actionListener="#{search08MBean.searchQuery.changeDateIntervalNextMonth()}"
								update="@parent:@parent"
								process="@this" />
						</p:tabMenu>

						<h:outputText value="填單區間： " />
						<ui:include src="../components/date_component.xhtml">
							<ui:param
								name="startDate"
								value="#{search08MBean.searchQuery.startDate}" />
							<ui:param
								name="endDate"
								value="#{search08MBean.searchQuery.endDate}" />
							<ui:param
								name="startDateId"
								value="createStartDate" />
							<ui:param
								name="endDateId"
								value="createEndDate" />
						</ui:include>

						<!-- 查詢欄位:系統別 -->
						<ui:include src="queryCondition_checkItem_style03.xhtml">
							<ui:param
								name="conditionVO"
								value="#{search08MBean.searchQuery}" />
						</ui:include>
					</p:panelGrid>
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1355px;">
					<p:panelGrid columns="10">
						<h:outputText value="版次顯示： " />
						<p:selectOneMenu value="#{search08MBean.searchQuery.isLatestEdition}">
							<f:selectItem itemLabel="全部" />
							<f:selectItem
								itemLabel="最新版次"
								itemValue="#{true}" />
						</p:selectOneMenu>

						<h:outputText value="排序方式： " />
						<p:selectOneMenu value="#{search08MBean.searchQuery.sortType}">
							<f:selectItem
								itemValue="CREATE_DESC"
								itemLabel="依填單日期　新 > 舊排序" />
							<f:selectItem
								itemValue="UPDATE_DESC"
								itemLabel="依異動日期　新 > 舊排序" />
						</p:selectOneMenu>

						<p:panelGrid
							columns="3"
							style="float:right;">

							<p:commandButton
								value="搜尋"
								actionListener="#{search08MBean.search()}"
								onclick="showLoad();selectDataTablePage('wvRequire', 0);"
								oncomplete="hideLoad();"
								update="searchBody @(.reportUpdateClz)"
								process="@this headerPanel" />
							<p:commandButton
								value="清除"
								actionListener="#{search08MBean.clear()}"
								onclick="showLoad();selectDataTablePage('wvRequire', 0);"
								oncomplete="hideLoad();"
								update="headerPanel pgAdvance searchBody @(.reportUpdateClz)"
								process="@this" />
							<p:commandButton
								value="自訂預設搜尋條件"
								process="@this "
								update="dlgReportCustomFilter_view"
								actionListener="#{search08MBean.openDefaultSetting()}"
								onclick="showLoad();"
								oncomplete="hideLoad();showPF('dlgReportCustomFilter');" />

						</p:panelGrid>
					</p:panelGrid>
				</p:outputPanel>
			</p:outputPanel>

			<!--查詢表身上的按鈕-->
			<p:panelGrid
				columns="8"
				class="reportUpdateClz">
				<p:commandButton
					value="#{search08MBean.switchType.typeName}"
					onclick="showLoad()"
					process="@this"
					actionListener="#{search08MBean.toggleSearchBody()}"
					update="searchBody @this"
					oncomplete="hideLoad();"
					rendered="#{not empty search08MBean.queryItems}" />
				<p:commandLink
					value="進階搜尋"
					style="color:blue;margin-right: 10px;"
					process="@this" />
				<p:overlayPanel
					widgetVar="olpAdvance"
					for="@previous"
					dismissable="false">
					<p:panelGrid
						id="pgAdvance"
						columns="2">
						<h:outputText value="轉發至：" />
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{search08MBean.btnOpenForwardOrgTree()}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							update="@widgetVar(dlgOrgTreeForward)"
							process="@this" />
						<h:outputText value="緊急度：" />
						<p:selectManyCheckbox
							id="basic"
							value="#{search08MBean.searchQuery.urgencyList}">
							<f:selectItems value="#{selectItemBean.getUrgencyItems()}" />
						</p:selectManyCheckbox>
						<h:outputText value="需求單號：" />
						<p:inputText value="#{search08MBean.searchQuery.requireNo}" />
					</p:panelGrid>
					<p:commandButton
						value="確定"
						oncomplete="PF('olpAdvance').hide();doSearchData();"
						process="@parent" />
					<p:commandButton
						value="取消"
						onclick="PF('olpAdvance').hide()"
						type="button" />
					<p:commandButton
						value="清除"
						actionListener="#{search08MBean.searchQuery.clearAdvance()}"
						update="pgAdvance"
						process="@this" />
				</p:overlayPanel>
			</p:panelGrid>
		</p:panel>

		<p:outputPanel id="searchBody">
			<!--查詢表身-->
			<p:dataTable
				id="#{search08MBean.dataTableId}"
				rendered="#{search08MBean.switchType eq 'CONTENT' and search08MBean.switchFullType != 'FULLCONTENT'}"
				widgetVar="wvRequire"
				value="#{search08MBean.queryItems}"
				var="prototype"
				rowKey="#{prototype.sid}"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				selection="#{search08MBean.querySelection}"
				rowStyleClass="#{searchHelper.appendRowCss(prototype.urgency, prototype.readRecordType)}"
				class="reportUpdateClz">
				<!-- 點選更新需求單明細 -->
				<p:ajax
					event="rowSelect"
					process="@this" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{search08MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="填單日期"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單日期')}"
					sortBy="#{prototype.prototypeCreatedDate}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單日期')?
                                          '115':
                                          customColumnMBean.getColumnWidth('填單日期')}px">
					<h:outputText value="#{prototype.prototypeCreatedDate}">
						<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="填單單位"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單單位',false)}"
					filterBy="#{prototype.prototypeCreateDepName}"
					sortBy="#{prototype.prototypeCreateDepName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單單位')?
                                          '60':
                                          customColumnMBean.getColumnWidth('填單單位')}px">
					<f:facet name="filter">
						<p:selectOneMenu
							value="#{search08MBean.prototypeCreateDepName}"
							style=" width: 100px">
							<p:ajax
								listener="#{search08MBean.doChangeFilter()}"
								onstart="showLoad();"
								oncomplete="hideLoad();"
								update="#{search08MBean.dataTableId}"
								process="@this" />
							<f:selectItem
								itemValue=""
								itemLabel="全部" />
							<f:selectItems value="#{search08MBean.prototypeCreateDepNameItems}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{prototype.prototypeCreateDepName}" />
				</p:column>
				<p:column
					headerText="填單人員"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單人員')}"
					sortBy="#{usrBean.name(prototype.prototypeCreatedUser)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('填單人員')}px">
					<h:outputText value="#{usrBean.name(prototype.prototypeCreatedUser)}" />
				</p:column>
				<p:column
					headerText="原型確認主題"
					sortBy="#{prototype.ptTheme}">
					<p:commandButton
						icon="fa fa-search"
						actionListener="#{search08MBean.btnOpenUrl(search08MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,prototype)}"
						onclick="openWinByStore('#{index+1}-#{prototype.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{prototype.requireNo}','#{prototype.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{prototype.ptTheme}"
						actionListener="#{search08MBean.fullScreenForm(prototype)}"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						oncomplete="hideHeaderTitle();hideLoad();"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						process="@this"
						styleClass="blueAndUnderline" />
					<p:tooltip
						for="@previous"
						widgetVar="tooltip#{index+1}"
						value="#{prototype.ptTheme}"
						trackMouse="true"
						styleClass="tooltipWidth" />
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="result_column_checkItems.xhtml">
					<ui:param
						name="require"
						value="#{prototype}" />
				</ui:include>
				<p:column
					headerText="需求類別"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求類別',false)}"
					sortBy="#{prototype.bigName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求類別')?
                                          '80':
                                          customColumnMBean.getColumnWidth('需求類別')}px">
					<h:outputText value="#{prototype.bigName}" />
				</p:column>
				<p:column
					headerText="中類"
					rendered="#{customColumnMBean.chekcDataTableColumn('中類',false)}"
					sortBy="#{prototype.middleName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('中類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('中類')}px">
					<h:outputText value="#{prototype.middleName}" />
				</p:column>
				<p:column
					headerText="小類"
					rendered="#{customColumnMBean.chekcDataTableColumn('小類')}"
					sortBy="#{prototype.smallName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('小類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('小類')}px">
					<h:outputText value="#{prototype.smallName}" />
				</p:column>
				<p:column
					headerText="需求單位"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單位',false)}"
					sortBy="#{orgBean.name(prototype.requireCreateDep)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單位')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求單位')}px">
					<h:outputText value="#{orgBean.name(prototype.requireCreateDep)}" />
				</p:column>
				<p:column
					headerText="需求人員"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求人員')}"
					sortBy="#{usrBean.name(prototype.requireCreatedUser)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求人員')}px">
					<h:outputText value="#{usrBean.name(prototype.requireCreatedUser)}" />
				</p:column>
				<p:column
					headerText="主題"
					rendered="#{customColumnMBean.chekcDataTableColumn('主題')}"
					sortBy="#{prototype.requireTheme}"
					style=" width:#{empty customColumnMBean.getColumnWidth('主題')?
                                          '100':
                                          customColumnMBean.getColumnWidth('主題')}px">
					<h:outputText
						id="dtRequire_requireTheme"
						value="#{prototype.requireTheme}" />
					<p:tooltip
						for="dtRequire_requireTheme"
						value="#{prototype.requireTheme}"
						trackMouse="true"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="製作進度"
					rendered="#{customColumnMBean.chekcDataTableColumn('製作進度')}"
					sortBy="#{showEnumBean.getRequireStatusType(prototype.requireStatus)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('製作進度')?
                                          '70':
                                          customColumnMBean.getColumnWidth('製作進度')}px">
					<h:outputText value="#{showEnumBean.getRequireStatusType(prototype.requireStatus)}" />
				</p:column>
				<p:column
					headerText="確認狀態"
					rendered="#{customColumnMBean.chekcDataTableColumn('確認狀態')}"
					sortBy="#{commonBean.get(prototype.prototypeStatus)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('確認狀態')?
                                          '70':
                                          customColumnMBean.getColumnWidth('確認狀態')}px">
					<h:outputText
						id="dtRequire_prototypeStatus"
						value="#{commonBean.get(prototype.prototypeStatus)}" />
					<p:tooltip
						for="dtRequire_prototypeStatus"
						value="#{commonBean.get(prototype.prototypeStatus)}"
						trackMouse="true"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="是否可進行確認"
					rendered="#{customColumnMBean.chekcDataTableColumn('是否可進行確認')}"
					sortBy="#{prototype.instanceStatus eq 'APPROVED'?'Y':'N'}"
					style=" width:#{empty customColumnMBean.getColumnWidth('是否可進行確認')?
                                          '60':
                                          customColumnMBean.getColumnWidth('是否可進行確認')}px">
					<h:outputText value="#{prototype.instanceStatus eq 'APPROVED'?'是':'否'}" />
				</p:column>
				<p:column
					headerText="預計完成日"
					rendered="#{customColumnMBean.chekcDataTableColumn('預計完成日')}"
					sortBy="#{prototype.finishDate}"
					style=" width:#{empty customColumnMBean.getColumnWidth('預計完成日')?
                                          '75':
                                          customColumnMBean.getColumnWidth('預計完成日')}px">
					<h:outputText value="#{prototype.finishDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="最新回覆日期"
					rendered="#{customColumnMBean.chekcDataTableColumn('最新回覆日期',false)}"
					sortBy="#{prototype.replyDate}"
					style=" width:#{empty customColumnMBean.getColumnWidth('最新回覆日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('最新回覆日期')}px">
					<h:outputText value="#{prototype.replyDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="版號"
					rendered="#{customColumnMBean.chekcDataTableColumn('版號')}"
					sortBy="#{search08MBean.getPrototypeVersion(prototype)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('版號')?
                                          '35':
                                          customColumnMBean.getColumnWidth('版號')}px">
					<h:outputText value="#{search08MBean.getPrototypeVersion(prototype)}" />
				</p:column>
				<p:column
					headerText="通知對象"
					rendered="#{customColumnMBean.chekcDataTableColumn('通知對象')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('通知對象')?
                                          '117':
                                          customColumnMBean.getColumnWidth('通知對象')}px">
					<h:outputText
						id="dtRequire_notifyStaff"
						value="#{search08MBean.getNotifyStaffStr(prototype)}" />
					<p:tooltip
						for="dtRequire_notifyStaff"
						value="#{search08MBean.getNotifyStaffStr(prototype)}"
						trackMouse="true"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="通知單位"
					rendered="#{customColumnMBean.chekcDataTableColumn('通知單位',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('通知單位')?
                                          '117':
                                          customColumnMBean.getColumnWidth('通知單位')}px">
					<h:outputText
						id="dtRequire_notifyDeps"
						value="#{search08MBean.getNotifyDepsStr(prototype)}" />
					<p:tooltip
						for="dtRequire_notifyDeps"
						value="#{search08MBean.getNotifyDepsStr(prototype)}"
						trackMouse="true"
						styleClass="tooltipWidth" />
				</p:column>
				<!-- 是否閱讀 -->
				<ui:include src="../components/search_column_readRecordType.xhtml">
					<ui:param
						name="searchRowData"
						value="#{prototype}" />
				</ui:include>
				<!-- 待閱原因 -->
				<ui:include src="../components/search_column_readReason.xhtml">
					<ui:param
						name="searchRowData"
						value="#{prototype}" />
					<ui:param
						name="displayToolitp"
						value="#{true}" />
				</ui:include>
				<p:column
					headerText="單號"
					rendered="#{customColumnMBean.chekcDataTableColumn('單號',false)}"
					sortBy="#{prototype.requireNo}"
					style=" width:#{empty customColumnMBean.getColumnWidth('單號')?
                                          '115':
                                          customColumnMBean.getColumnWidth('單號')}px">
					<h:outputText value="#{prototype.requireNo}" />
				</p:column>
				<p:column
					headerText="原型確認單號"
					rendered="#{customColumnMBean.chekcDataTableColumn('原型確認單號',false)}"
					sortBy="#{prototype.checkNo}"
					style=" width:#{empty customColumnMBean.getColumnWidth('原型確認單號')?
                                          '115':
                                          customColumnMBean.getColumnWidth('原型確認單號')}px">
					<h:outputText value="#{prototype.checkNo}" />
				</p:column>
			</p:dataTable>

			<p:outputPanel rendered="#{search08MBean.switchType eq 'DETAIL'}">
				<p:dataTable
					id="#{search08MBean.dataTableId}1"
					rendered="#{search08MBean.switchFullType != 'FULLCONTENT'}"
					value="#{search08MBean.queryItems}"
					var="prototype"
					rowKey="#{prototype.sid}"
					rowIndexVar="index"
					scrollHeight="470"
					scrollable="true"
					paginator="true"
					rows="#{customColumnMBean.pageCount}"
					draggableColumns="true"
					resizableColumns="true"
					selectionMode="single"
					selection="#{search08MBean.querySelection}"
					style="width: 35%;float: left;margin-right: 2px;"
					rowStyleClass="#{searchHelper.appendRowCss(prototype.urgency, prototype.readRecordType)}"
					class="reportUpdateClz">
					<!-- 點選更新需求單明細 -->
					<p:ajax
						event="rowSelect"
						listener="#{search08MBean.onRowSelect}"
						onstart="showLoad();"
						oncomplete="hideLoad();"
						update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId req05botmid"
						process="@this" />
					<p:column
						headerText="序"
						width="5">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="原型確認主題"
						sortBy="#{prototype.ptTheme}">
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{search08MBean.btnOpenUrl(search08MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,prototype)}"
							onclick="openWinByStore('#{index+1}-#{prototype.requireNo}');"
							oncomplete="replaceUrlByStore('#{index+1}-#{prototype.requireNo}','#{prototype.localUrlLink}');"
							process="@this" />
						<h:outputText
							id="dtRequire_ptTheme"
							value="#{prototype.ptTheme}" />
						<p:tooltip
							for="dtRequire_ptTheme"
							value="#{prototype.ptTheme}"
							trackMouse="true"
							styleClass="tooltipWidth" />
					</p:column>
				</p:dataTable>
				<!-- 需求單內容 -->
				<p:outputPanel style="width: #{search08MBean.switchFullType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{search08MBean.switchFullType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
					<c:if test="#{search08MBean.switchFullType eq 'FULLCONTENT'}">
						<ui:include src="../require/require05.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search08MBean}" />
						</ui:include>
					</c:if>
					<c:if test="#{search08MBean.switchFullType eq 'DETAIL'}">
						<ui:include src="../require/require05_detail.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search08MBean}" />
						</ui:include>
					</c:if>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>


		<p:dialog
			widgetVar="dlgReportCustomFilter"
			header="自訂預設搜尋條件"
			resizable="false"
			position="right top"
			modal="true">
			<p:outputPanel
				id="dlgReportCustomFilter_view"
				style="overflow: hidden;">
				<p:scrollPanel
					style="height:400px; width: 400px;"
					mode="native">
					<p:panelGrid>
						<p:row>
							<p:column colspan="1">
								<h:outputText value="需求類別： " />
								<p:selectOneMenu
									style="width: 80px;"
									value="#{search08MBean.searchQuery08CustomFilter.tempSearchQuery08.selectBigCategorySid}">
									<f:selectItem itemLabel="全部" />
									<f:selectItems value="#{selectItemBean.getBigCategoryItems()}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="需求製作進度： " />
								<p:selectOneMenu value="#{search08MBean.searchQuery08CustomFilter.tempSearchQuery08.selectRequireStatusType}">
									<f:selectItem itemLabel="全部" />
									<f:selectItems value="#{selectItemBean.getReqStatusItems()}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>

						<p:row>
							<p:column colspan="3">
								<h:outputText value="是否閱讀：" />
								<p:selectOneMenu value="#{search08MBean.searchQuery08CustomFilter.tempSearchQuery08.selectReadRecordType}">
									<f:selectItem itemLabel="全部" />
									<f:selectItems value="#{selectItemBean.getReadRecordItems()}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="填單人員： " />
								<p:inputText value="#{search08MBean.searchQuery08CustomFilter.tempSearchQuery08.trCreatedUserName}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="模糊搜尋： " />
								<p:inputText value="#{search08MBean.searchQuery08CustomFilter.tempSearchQuery08.fuzzyText}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="類別組合： &nbsp;&nbsp;" />
								<p:commandButton
									process="@this"
									icon="fa fa-search"
									actionListener="#{search08MBean.searchQuery08CustomFilter.btnOpenCategoryTree()}"
									onclick="showLoad();"
									update="@widgetVar(defaultDlgCate)"
									oncomplete="hideLoad();" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="待閱原因： " />
								<p:selectCheckboxMenu
									value="#{search08MBean.searchQuery08CustomFilter.tempSearchQuery08.readReason}"
									label="待閱原因"
									panelStyle="width:150px;">
									<f:selectItems value="#{selectItemBean.getWaitReadReasonTypeItems()}" />
								</p:selectCheckboxMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="原型確認狀態： " />
								<p:selectCheckboxMenu
									value="#{search08MBean.searchQuery08CustomFilter.tempSearchQuery08.prototypeStatus}"
									label="原型確認狀態"
									panelStyle="width:150px;">
									<f:selectItems value="#{selectItemBean.getPtStatusItems()}" />
								</p:selectCheckboxMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="5">
								<p:selectOneButton
									id="dateSelectItemButton"
									value="#{search08MBean.searchQuery08CustomFilter.tempSearchQuery08.dateTypeIndex}">
									<f:selectItem
										itemLabel="上個月"
										itemValue="0" />
									<f:selectItem
										itemLabel="本月份"
										itemValue="1" />
									<f:selectItem
										itemLabel="下個月"
										itemValue="2" />
								</p:selectOneButton>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="版次顯示：" />
								<p:selectOneMenu value="#{search08MBean.searchQuery08CustomFilter.tempSearchQuery08.isLatestEdition}">
									<f:selectItem itemLabel="全部" />
									<f:selectItem
										itemLabel="最新版次"
										itemValue="#{true}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="排序方式：" />
								<p:selectOneMenu value="#{search08MBean.searchQuery08CustomFilter.tempSearchQuery08.sortType}">
									<f:selectItem
										itemValue="CREATE_DESC"
										itemLabel="依填單日期　新 > 舊排序" />
									<f:selectItem
										itemValue="UPDATE_DESC"
										itemLabel="依異動日期　新 > 舊排序" />
								</p:selectOneMenu>
							</p:column>
						</p:row>

					</p:panelGrid>
				</p:scrollPanel>
				<p:panelGrid>
					<p:column colspan="2">
						<p:commandButton
							value="確定"
							process="@this dlgReportCustomFilter_view "
							actionListener="#{search08MBean.searchQuery08CustomFilter.saveReportCustomFilter()}"
							onclick="showLoad();"
							oncomplete="hideLoad();" />
						<p:commandButton
							value="取消"
							process="@this"
							onclick="PF('dlgReportCustomFilter').hide()" />
					</p:column>
				</p:panelGrid>

			</p:outputPanel>
		</p:dialog>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search08MBean}" />
		</ui:include>
		<!--類別組合樹-->
		<ui:include src="../components/category_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="dlgCate" />
			<ui:param
				name="categoryTreeComponent"
				value="#{search08MBean.categoryTreeComponent}" />
		</ui:include>
		<!--挑選預設類別組合樹-->
		<ui:include src="../components/category_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="defaultDlgCate" />
			<ui:param
				name="categoryTreeComponent"
				value="#{search08MBean.searchQuery08CustomFilter.categoryTreeComponent}" />
		</ui:include>
		<!--報表組織樹 for 進階搜尋(轉發至)-->
		<ui:include
			id="dlgOrgTreeForward"
			src="../components/report_org_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="dlgOrgTreeForward" />
			<ui:param
				name="reportOrgTreeComponent"
				value="#{search08MBean.orgTreeForwardComponent}" />
		</ui:include>


	</ui:define>
</ui:composition>

