<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="需求單位簽核進度查詢" />
	</ui:define>
	<ui:define name="content">
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search02MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			update="@(.reportUpdateClz)"
			process="@this headerPanel" />
		<!--查詢表頭-->
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{search02MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{search02MBean.searchQuery.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>

				<ui:include src="search02_queryCondition.xhtml">
					<ui:param
						name="controller"
						value="#{search02MBean}" />
					<ui:param
						name="conditionVO"
						value="#{search02MBean.searchQuery}" />
				</ui:include>


			</p:outputPanel>

		</p:panel>

		<p:outputPanel id="searchBody">
			<!--查詢表身-->
			<p:dataTable
				id="#{search02MBean.dataTableId}"
				widgetVar="wvRequire"
				rendered="#{search02MBean.switchFullType != 'FULLCONTENT'}"
				value="#{search02MBean.queryItems}"
				selection="#{search02MBean.querySelection}"
				var="require"
				rowKey="#{require.sid}"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				rowStyleClass="#{require.urgency =='URGENT'?'urgencyRow':''}"
				class="reportUpdateClz">
				<!-- 點選更新需求單明細 -->
				<p:ajax
					event="rowSelect"
					process="@this" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{search02MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="立單日期"
					rendered="#{customColumnMBean.chekcDataTableColumn('立單日期')}"
					sortBy="#{require.createdDate}"
					style=" width:#{empty customColumnMBean.getColumnWidth('立單日期')?
                                          '76':
                                          customColumnMBean.getColumnWidth('立單日期')}px">
					<h:outputText value="#{require.createdDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="result_column_checkItems.xhtml" />
				<p:column
					headerText="需求類別"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求類別',false)}"
					sortBy="#{require.bigName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求類別')?
                                          '80':
                                          customColumnMBean.getColumnWidth('需求類別')}px">
					<h:outputText value="#{require.bigName}" />
				</p:column>
				<p:column
					headerText="中類"
					rendered="#{customColumnMBean.chekcDataTableColumn('中類',false)}"
					sortBy="#{require.middleName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('中類')?
                                          '54':
                                          customColumnMBean.getColumnWidth('中類')}px">
					<h:outputText value="#{require.middleName}" />
				</p:column>
				<p:column
					headerText="小類"
					rendered="#{customColumnMBean.chekcDataTableColumn('小類')}"
					sortBy="#{require.smallName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('小類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('小類')}px">
					<h:outputText value="#{require.smallName}" />
				</p:column>

				<p:column
					headerText="需求單位"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單位',false)}"
					sortBy="#{orgBean.name(require.createDep)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單位')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求單位')}px">
					<h:outputText value="#{orgBean.name(require.createDep)}" />
				</p:column>
				<p:column
					headerText="需求人員"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求人員')}"
					sortBy="#{usrBean.name(require.createdUser)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求人員')}px">
					<h:outputText value="#{usrBean.name(require.createdUser)}" />
				</p:column>
				<p:column
					headerText="主題"
					sortBy="#{require.requireTheme}">
					<p:commandButton
						icon="fa fa-search"
						actionListener="#{search02MBean.btnOpenUrl(search02MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{require.requireTheme}"
						actionListener="#{search02MBean.fullScreenForm(require)}"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						oncomplete="hideHeaderTitle();hideLoad();"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						process="@this"
						styleClass="blueAndUnderline" />
					<p:tooltip
						for="@previous"
						widgetVar="tooltip#{index+1}"
						value="#{require.requireTheme}"
						trackMouse="true"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="待審核人員"
					rendered="#{customColumnMBean.chekcDataTableColumn('待審核人員',false)}"
					sortBy="#{require.defaultSignedName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('待審核人員')?
                                          '58':
                                          customColumnMBean.getColumnWidth('待審核人員')}px">
					<h:outputText value="#{require.defaultSignedName}" />
				</p:column>
				<p:column
					headerText="審核狀態"
					rendered="#{customColumnMBean.chekcDataTableColumn('審核狀態')}"
					sortBy="#{showEnumBean.getInstanceStatus(require.instanceStatus)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('審核狀態')?
                                          '70':
                                          customColumnMBean.getColumnWidth('審核狀態')}px">
					<h:outputText value="#{showEnumBean.getInstanceStatus(require.instanceStatus)}" />
				</p:column>
				<p:column
					headerText="成立日"
					rendered="#{customColumnMBean.chekcDataTableColumn('成立日')}"
					sortBy="#{require.requireEstablishDate}"
					style=" width:#{empty customColumnMBean.getColumnWidth('成立日')?
                                          '63':
                                          customColumnMBean.getColumnWidth('成立日')}px">
					<h:outputText value="#{require.requireEstablishDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="單號"
					rendered="#{customColumnMBean.chekcDataTableColumn('單號')}"
					sortBy="#{require.requireNo}"
					style=" width:#{empty customColumnMBean.getColumnWidth('單號')?
                                          '115':
                                          customColumnMBean.getColumnWidth('單號')}px">
					<h:outputText value="#{require.requireNo}" />
				</p:column>
			</p:dataTable>

			<!-- 需求單內容 -->
			<p:outputPanel rendered="#{search02MBean.switchFullType eq 'FULLCONTENT'}">
				<ui:include
					src="../require/require03.xhtml"
					transient="false">
					<ui:param
						name="searchMBean"
						value="#{search02MBean}" />
				</ui:include>
			</p:outputPanel>
		</p:outputPanel>

		<p:dialog
			widgetVar="dlgReportCustomFilter"
			header="自訂預設搜尋條件"
			resizable="false"
			position="right top"
			modal="true">
			<p:outputPanel
				id="dlgReportCustomFilter_view"
				style="overflow: hidden;">
				<p:scrollPanel
					style="height:400px; width: 400px;"
					mode="native">
					<p:panelGrid>
						<p:row>
							<p:column colspan="1">
								<h:outputText value="需求類別： " />
								<p:selectOneMenu
									style="width: 80px;"
									value="#{search02MBean.searchQuery02CustomFilter.tempSearchQuery02.selectBigCategorySid}">
									<f:selectItem itemLabel="全部" />
									<f:selectItems value="#{selectItemBean.getBigCategoryItems()}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>

						<p:row>
							<p:column colspan="3">
								<h:outputText value="待審核人員： " />
								<p:inputText value="#{search02MBean.searchQuery02CustomFilter.tempSearchQuery02.pendingSignOnUserName}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center">
									<div>需求單位： &nbsp;&nbsp;</div>
									<div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 60px">
										<p:outputLabel
											id="#{search02MBean.CUSTOM_DEP_TREE_PICKER_SHOW_SELECTED_CLASS}"
											styleClass="#{search02MBean.CUSTOM_DEP_TREE_PICKER_SHOW_SELECTED_CLASS}"
											value="#{search02MBean.getCustomSelectedDepsInfo()}"
											style="color: blue;">
										</p:outputLabel>
									</div>
									<p:tooltip
										for="#{search02MBean.CUSTOM_DEP_TREE_PICKER_SHOW_SELECTED_CLASS}"
										styleClass="#{search02MBean.CUSTOM_DEP_TREE_PICKER_SHOW_SELECTED_CLASS}"
										value="#{search02MBean.getCustomSelectedDepsInfo()}"
										escape="false"
										trackMouse="true">
									</p:tooltip>
									<div style="width: 3px"></div>
									<p:commandButton
										icon="fa fa-search"
										actionListener="#{search02MBean.event_dialog_customDepTreePicker_open()}"
										onstart="showLoad();"
										oncomplete="hideLoad();"
										update="@(.#{search02MBean.CUSTOM_DEP_TREE_PICKER_CONTENT_CLASS})"
										process="@this">
									</p:commandButton>
								</div>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="需求人員： " />
								<p:inputText value="#{search02MBean.searchQuery02CustomFilter.tempSearchQuery02.trCreatedUserName}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="模糊搜尋： " />
								<p:inputText value="#{search02MBean.searchQuery02CustomFilter.tempSearchQuery02.fuzzyText}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="類別組合： &nbsp;&nbsp;" />
								<p:commandButton
									process="@this"
									icon="fa fa-search"
									actionListener="#{search02MBean.searchQuery02CustomFilter.btnOpenCategoryTree()}"
									onclick="showLoad();"
									update="@widgetVar(defaultDlgCate)"
									oncomplete="hideLoad();" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="5">
								<p:selectOneButton
									id="dateSelectItemButton"
									value="#{search02MBean.searchQuery02CustomFilter.tempSearchQuery02.dateTypeIndex}">
									<f:selectItem
										itemLabel="上個月"
										itemValue="0" />
									<f:selectItem
										itemLabel="本月份"
										itemValue="1" />
									<f:selectItem
										itemLabel="下個月"
										itemValue="2" />
									<f:selectItem
										itemLabel="今日"
										itemValue="3" />
								</p:selectOneButton>

							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="需求單位審核狀態： " />
								<p:selectCheckboxMenu
									label="需求單位審核狀態"
									panelStyle="min-width:200px;"
									value="#{search02MBean.searchQuery02CustomFilter.tempSearchQuery02.selectStatuses}">
									<f:selectItems value="#{selectItemBean.getInstanceItems()}" />
								</p:selectCheckboxMenu>
							</p:column>
						</p:row>

					</p:panelGrid>
				</p:scrollPanel>
				<p:panelGrid>
					<p:column colspan="2">
						<p:commandButton
							value="確定"
							process="@this dlgReportCustomFilter_view "
							actionListener="#{search02MBean.searchQuery02CustomFilter.saveReportCustomFilter()}"
							onclick="showLoad();"
							oncomplete="hideLoad();" />
						<p:commandButton
							value="取消"
							process="@this"
							onclick="PF('dlgReportCustomFilter').hide()" />
					</p:column>
				</p:panelGrid>

			</p:outputPanel>
		</p:dialog>


		<!-- 單位挑選 -->
		<p:dialog
			header="單位挑選"
			widgetVar="#{search02MBean.DEP_TREE_PICKER_DLG_WV}"
			modal="true"
			position="center center-100"
			closeOnEscape="true"
			resizable="false">
			<p:outputPanel styleClass="#{search02MBean.DEP_TREE_PICKER_CONTENT_CLASS}">
				<p:panelGrid>
					<p:row>
						<p:column>
							<cp:treePicker
								componentID="DEP_TREE_PICKER"
								model="#{search02MBean.depTreePicker}"
								menuWidth="300"
								menuHeight="400" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:panelGrid>
								<!-- update 由呼叫者自行在後端 callback 方法實做 -->
								<p:row>
									<p:column>
										<p:commandButton
											value="確定"
											onstart="showLoad();"
											process="@(.#{search02MBean.DEP_TREE_PICKER_CONTENT_CLASS})"
											actionListener="#{search02MBean.event_dialog_depTreePicker_confirm()}"
											update="@(.#{search02MBean.DEP_TREE_PICKER_SHOW_SELECTED_CLASS})"
											oncomplete="hideLoad();" />
									</p:column>
									<p:column>
										<p:commandButton
											value="關閉"
											process="@this"
											onclick="hidePF('#{search02MBean.DEP_TREE_PICKER_DLG_WV}');" />
									</p:column>
								</p:row>
							</p:panelGrid>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:outputPanel>
		</p:dialog>

		<!-- 自訂搜尋條件-單位挑選 -->
		<p:dialog
			header="單位挑選"
			widgetVar="#{search02MBean.CUSTOM_DEP_TREE_PICKER_DLG_WV}"
			modal="true"
			position="center center-100"
			closeOnEscape="true"
			resizable="false">
			<p:outputPanel styleClass="#{search02MBean.CUSTOM_DEP_TREE_PICKER_CONTENT_CLASS}">
				<p:panelGrid>
					<p:row>
						<p:column>
							<cp:treePicker
								componentID="CUSTOM_DEP_TREE_PICKER"
								model="#{search02MBean.customDepTreePicker}"
								menuWidth="300"
								menuHeight="400" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:panelGrid>
								<!-- update 由呼叫者自行在後端 callback 方法實做 -->
								<p:row>
									<p:column>
										<p:commandButton
											value="確定"
											onstart="showLoad();"
											process="@(.#{search02MBean.CUSTOM_DEP_TREE_PICKER_CONTENT_CLASS})"
											actionListener="#{search02MBean.event_dialog_customDepTreePicker_confirm()}"
											update="@(.#{search02MBean.CUSTOM_DEP_TREE_PICKER_SHOW_SELECTED_CLASS})"
											oncomplete="hideLoad();" />
									</p:column>
									<p:column>
										<p:commandButton
											value="關閉"
											process="@this"
											onclick="hidePF('#{search02MBean.CUSTOM_DEP_TREE_PICKER_DLG_WV}');" />
									</p:column>
								</p:row>
							</p:panelGrid>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:outputPanel>
		</p:dialog>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search02MBean}" />
		</ui:include>

		<!--類別組合樹-->
		<ui:include src="../components/category_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="dlgCate" />
			<ui:param
				name="categoryTreeComponent"
				value="#{search02MBean.categoryTreeComponent}" />
		</ui:include>
		<!--挑選預設類別組合樹-->
		<ui:include src="../components/category_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="defaultDlgCate" />
			<ui:param
				name="categoryTreeComponent"
				value="#{search02MBean.searchQuery02CustomFilter.categoryTreeComponent}" />
		</ui:include>
		<!--報表組織樹 for 進階搜尋(轉發至)-->
		<ui:include
			id="dlgOrgTreeForward"
			src="../components/report_org_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="dlgOrgTreeForward" />
			<ui:param
				name="reportOrgTreeComponent"
				value="#{search02MBean.orgTreeForwardComponent}" />
		</ui:include>
	</ui:define>
</ui:composition>

