<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="其它設定資訊" />
	</ui:define>
	<ui:define name="customCSS">
		<style>
#readUpdateDate input {
	width: 80px;
}

#interval input {
	width: 80px;
}
</style>
	</ui:define>
	<ui:define name="content">
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search19MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			process="@this headerPanel"
			update="@(.reportUpdateClz)" />
		<!--查詢表頭-->
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{search19MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{commonHeaderMBean.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1250px;">
					<p:panelGrid columns="12">
						<h:outputText value="需求類別： " />
						<p:selectOneMenu
							value="#{commonHeaderMBean.selectBigCategory}"
							converter="#{categoryConverter}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems
								value="#{categoryMBean.getBigValues()}"
								var="item"
								itemValue="#{item}"
								itemLabel="#{item.name}" />
						</p:selectOneMenu>

						<h:outputText value="需求製作進度： " />
						<p:selectOneMenu value="#{search19HeaderMBean.selectRequireStatusType}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{search19HeaderMBean.getReqStatusItems()}" />
						</p:selectOneMenu>

						<h:outputText value="填單單位： " />
						<p:commandButton
							icon="fa fa-search"
							process="@this"
							update="@widgetVar(dlgOrgTree)"
							actionListener="#{commonHeaderMBean.initOrgTree(false,false)}"
							onclick='showLoad();'
							oncomplete="PF('dlgOrgTree').show();hideLoad();" />

						<h:outputText value="通知單位： " />
						<p:commandButton
							icon="fa fa-search"
							process="@this"
							update="@widgetVar(dlgOrgTreeNotice)"
							actionListener="#{commonHeaderMBean.initOrgTreeNotice(false,false)}"
							onclick='showLoad();'
							oncomplete="PF('dlgOrgTreeNotice').show();hideLoad();" />

						<h:outputText value="填單人員： " />
						<p:inputText
							value="#{commonHeaderMBean.trCreatedUserName}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');" />

						<h:outputText value="模糊搜尋： " />
						<p:inputText
							value="#{commonHeaderMBean.fuzzyText}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
					</p:panelGrid>
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1250px;">
					<p:panelGrid
						style="float:left;"
						columns="9">
						<h:panelGroup>
							<h:outputText value="類別組合： " />
							<p:commandButton
								process="@this"
								update="@widgetVar(dlgCate)"
								icon="fa fa-search"
								actionListener="#{categoryTreeMBean.initRoot()}"
								onclick="showLoad();"
								oncomplete="PF('dlgCate').show();hideLoad();" />
						</h:panelGroup>

						<p:selectCheckboxMenu
							id="osItems"
							value="#{search19HeaderMBean.osStatus}"
							label="狀態"
							panelStyle="width:150px;">
							<f:selectItems value="#{search19HeaderMBean.getOsStatusItems()}" />
						</p:selectCheckboxMenu>

						<h:outputText value="主題： " />
						<p:selectOneMenu value="#{search19HeaderMBean.selectOthSetTheme}">
							<f:selectItem
								itemLabel="全部"
								itemValue="" />
							<f:selectItems
								value="#{othSetThemeMBean.getOthSetThemes()}"
								var="theme_item"
								itemValue="#{theme_item.theme}"
								itemLabel="#{theme_item.theme}" />
						</p:selectOneMenu>

						<p:tabMenu
							id="dateBtn"
							activeIndex="#{commonHeaderMBean.dateTypeIndex}">
							<p:menuitem
								value="上個月"
								process="@this"
								update="interval @parent"
								actionListener="#{commonHeaderMBean.getDateInterval('PREVIOUS_MONTH')}" />
							<p:menuitem
								value="本月份"
								process="@this"
								update="interval @parent"
								actionListener="#{commonHeaderMBean.getDateInterval('THIS_MONTH')}" />
							<p:menuitem
								value="下個月"
								process="@this"
								update="interval @parent"
								actionListener="#{commonHeaderMBean.getDateInterval('NEXT_MONTH')}" />
						</p:tabMenu>

						<h:panelGroup id="interval">
							<h:outputText value="提出區間： " />
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{commonHeaderMBean.startDate}" />
								<ui:param
									name="endDate"
									value="#{commonHeaderMBean.endDate}" />
								<ui:param
									name="startDateId"
									value="createStartDate" />
								<ui:param
									name="endDateId"
									value="createEndDate" />
							</ui:include>
						</h:panelGroup>
						<!-- 查詢欄位:系統別 -->
						<ui:include src="queryCondition_checkItem_style02.xhtml">
							<ui:param
								name="conditionVO"
								value="#{commonHeaderMBean}" />
						</ui:include>
					</p:panelGrid>

					<p:panelGrid
						columns="2"
						style="float:right;margin-top: 4px">
						<p:commandButton
							value="搜尋"
							process="@this headerPanel"
							update="searchBody @(.reportUpdateClz)"
							actionListener="#{search19MBean.search()}"
							onclick="showLoad();selectDataTablePage('wvRequire', 0);"
							oncomplete="hideLoad();" />
						<p:commandButton
							value="清除"
							actionListener="#{search19MBean.clear()}"
							onclick="showLoad();selectDataTablePage('wvRequire', 0);"
							oncomplete="hideLoad();"
							update="headerPanel searchBody @(.reportUpdateClz)"
							process="@this" />
					</p:panelGrid>
				</p:outputPanel>
			</p:outputPanel>

			<!--查詢表身上的按鈕-->
			<p:outputPanel
				style="margin-left: 6px;"
				class="reportUpdateClz">
				<p:commandButton
					value="#{search19MBean.switchType.typeName}"
					onclick="showLoad()"
					process="@this"
					actionListener="#{search19MBean.toggleSearchBody()}"
					update="searchBody @this"
					oncomplete="hideLoad();"
					rendered="#{not empty search19MBean.queryItems}" />
				<p:commandButton
					value="匯出"
					onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
					ajax="false"
					actionListener="#{search19MBean.hideColumnContent()}">
					<p:dataExporter
						type="xls"
						target="#{search19MBean.dataTableId}"
						fileName="report"
						postProcessor="#{search19MBean.exportExcel}" />
				</p:commandButton>
			</p:outputPanel>
		</p:panel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				id="#{search19MBean.dataTableId}"
				widgetVar="wvRequire"
				value="#{search19MBean.queryItems}"
				var="require"
				rowKey="#{require.sid}"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				class="reportUpdateClz"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				selection="#{search19MBean.querySelection}"
				rowStyleClass="#{searchHelper.appendRowCss(require.urgency, require.readRecordType)}"
				rendered="#{search19MBean.switchType eq 'CONTENT' and search19MBean.switchFullType != 'FULLCONTENT'}">
				<!-- 全畫面狀態時不渲染 -->
				<!-- 點選更新需求單明細 -->
				<p:ajax
					event="rowSelect"
					process="@this" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{search19MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="填單單位"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單單位',false)}"
					filterBy="#{require.createDepName}"
					sortBy="#{require.createDepName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單單位')?
                                          '30':
                                          customColumnMBean.getColumnWidth('填單單位')}px">
					<f:facet name="filter">
						<p:selectOneMenu
							value="#{search19MBean.createDepName}"
							style=" width: 100px">
							<p:ajax
								listener="#{search19MBean.doChangeFilter()}"
								onstart="showLoad();"
								oncomplete="hideLoad();"
								update="#{search19MBean.dataTableId}"
								process="@this" />
							<f:selectItem
								itemValue=""
								itemLabel="全部" />
							<f:selectItems value="#{search19MBean.createDepNameItems}" />
						</p:selectOneMenu>
					</f:facet>
					<h:outputText value="#{require.createDepName}" />
				</p:column>
				<p:column
					headerText="填單人員"
					sortBy="#{usrBean.name(require.createdUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('填單人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('填單人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('填單人員')}px">
					<h:outputText value="#{usrBean.name(require.createdUser)}" />
				</p:column>
				<p:column
					headerText="提出日期"
					sortBy="#{require.osCreateDt}"
					rendered="#{customColumnMBean.chekcDataTableColumn('提出日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('提出日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('提出日期')}px">
					<h:outputText value="#{require.osCreateDt}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="設定主題"
					sortBy="#{require.osTheme}">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{search19MBean.hasDisplay}"
						actionListener="#{search19MBean.btnOpenUrl(search19MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{require.osTheme}"
						styleClass="blueAndUnderline"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						process="@this"
						actionListener="#{search19MBean.fullScreenForm(require)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();" />
					<p:tooltip
						widgetVar="tooltip#{index+1}"
						for="@previous"
						value="#{require.osTheme}"
						trackMouse="true"
						rendered="#{search19MBean.hasDisplay}"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="通知單位"
					sortBy="#{search19MBean.getNoticeDepsStr(require)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('通知單位')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('通知單位')?
                                          '140':
                                          customColumnMBean.getColumnWidth('通知單位')}px">
					<h:outputText
						id="dtRequire_noticeDeps"
						value="#{search19MBean.getNoticeDepsStr(require)}" />
					<p:tooltip
						for="dtRequire_noticeDeps"
						value="#{search19MBean.getNoticeDepsStr(require)}"
						trackMouse="true"
						rendered="#{search19MBean.hasDisplay}"
						styleClass="tooltipWidth" />
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="result_column_checkItems.xhtml" />
				<p:column
					headerText="製作進度"
					sortBy="#{commonBean.get(require.requireStatus)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('製作進度')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('製作進度')?
                                          '70':
                                          customColumnMBean.getColumnWidth('製作進度')}px">
					<h:outputText value="#{commonBean.get(require.requireStatus)}" />
				</p:column>
				<p:column
					headerText="狀態"
					sortBy="#{commonBean.get(require.osStatus)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('狀態')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('狀態')?
                                          '70':
                                          customColumnMBean.getColumnWidth('狀態')}px">
					<h:outputText value="#{commonBean.get(require.osStatus)}" />
				</p:column>
				<p:column
					headerText="立單日期"
					sortBy="#{require.reqCreateDt}"
					rendered="#{customColumnMBean.chekcDataTableColumn('立單日期',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('立單日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('立單日期')}px">
					<h:outputText value="#{require.reqCreateDt}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="result_column_checkItems.xhtml" />
				<p:column
					headerText="需求類別"
					sortBy="#{require.bigName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求類別',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求類別')?
                                          '80':
                                          customColumnMBean.getColumnWidth('需求類別')}px">
					<h:outputText value="#{require.bigName}" />
				</p:column>
				<p:column
					headerText="中類"
					sortBy="#{require.middleName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('中類',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('中類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('中類')}px">
					<h:outputText value="#{require.middleName}" />
				</p:column>
				<p:column
					headerText="小類"
					sortBy="#{require.smallName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('小類')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('小類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('小類')}px">
					<h:outputText value="#{require.smallName}" />
				</p:column>
				<p:column
					headerText="需求單號"
					sortBy="#{require.requireNo}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單號',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單號')?
                                          '115':
                                          customColumnMBean.getColumnWidth('需求單號')}px">
					<h:outputText value="#{require.requireNo}" />
				</p:column>
				<p:column
					headerText="需求單位"
					sortBy="#{orgBean.name(require.requireDep)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單位',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單位')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求單位')}px">
					<h:outputText value="#{orgBean.name(require.requireDep)}" />
				</p:column>
				<p:column
					headerText="需求人員"
					sortBy="#{usrBean.name(require.requireUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求人員')}px">
					<h:outputText value="#{usrBean.name(require.requireUser)}" />
				</p:column>
				<p:column
					headerText="主題"
					sortBy="#{require.requireTheme}"
					rendered="#{customColumnMBean.chekcDataTableColumn('主題')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('主題')?
                                          '100':
                                          customColumnMBean.getColumnWidth('主題')}px">
					<h:outputText
						id="dtRequire_requireTheme"
						value="#{require.requireTheme}" />
					<p:tooltip
						for="dtRequire_requireTheme"
						value="#{require.requireTheme}"
						trackMouse="true"
						styleClass="tooltipWidth"
						rendered="#{search19MBean.hasDisplay}" />
				</p:column>
				<p:column
					headerText="緊急度"
					sortBy="#{commonBean.get(require.urgency)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('緊急度')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('緊急度')?
                                          '50':
                                          customColumnMBean.getColumnWidth('緊急度')}px">
					<h:outputText value="#{commonBean.get(require.urgency)}" />
				</p:column>
				<p:column
					headerText="其他資料設定單號"
					sortBy="#{require.osno}"
					rendered="#{customColumnMBean.chekcDataTableColumn('其他資料設定單號',false)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('其他資料設定單號')?
                                          '50':
                                          customColumnMBean.getColumnWidth('其他資料設定單號')}px">
					<h:outputText value="#{require.osno}" />
				</p:column>
			</p:dataTable>

			<p:outputPanel rendered="#{search19MBean.switchType eq 'DETAIL'}">
				<p:dataTable
					id="#{search19MBean.dataTableId}1"
					value="#{search19MBean.queryItems}"
					var="require"
					rowKey="#{require.sid}"
					rowIndexVar="index"
					scrollHeight="470"
					scrollable="true"
					paginator="true"
					rows="#{customColumnMBean.pageCount}"
					draggableColumns="true"
					class="reportUpdateClz"
					resizableColumns="true"
					selectionMode="single"
					selection="#{search19MBean.querySelection}"
					style="width: 35%;float: left;margin-right: 2px;"
					rowStyleClass="#{searchHelper.appendRowCss(require.urgency, require.readRecordType)}"
					rendered="#{search19MBean.switchFullType != 'FULLCONTENT'}">
					<p:ajax
						event="rowSelect"
						onstart="showLoad();"
						process="@this"
						listener="#{search19MBean.onRowSelect}"
						update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId req05botmid"
						oncomplete="hideLoad();" />
					<p:column
						headerText="序"
						width="5">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="設定主題"
						sortBy="#{require.osTheme}">
						<p:commandButton
							icon="fa fa-search"
							rendered="#{search19MBean.hasDisplay}"
							actionListener="#{search19MBean.btnOpenUrl(search19MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
							onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
							oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
							process="@this" />
						<h:outputText
							id="dtRequire_osTheme"
							value="#{require.osTheme}" />
						<p:tooltip
							for="dtRequire_osTheme"
							value="#{require.osTheme}"
							trackMouse="true"
							rendered="#{search19MBean.hasDisplay}"
							styleClass="tooltipWidth" />
					</p:column>
				</p:dataTable>
				<!-- 需求單內容 -->
				<p:outputPanel style="width: #{search19MBean.switchFullType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{search19MBean.switchFullType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
					<c:if test="#{search19MBean.switchFullType eq 'FULLCONTENT'}">
						<ui:include src="../require/require05.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search19MBean}" />
						</ui:include>
					</c:if>
					<c:if test="#{search19MBean.switchFullType eq 'DETAIL'}">
						<ui:include src="../require/require05_detail.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search19MBean}" />
						</ui:include>
					</c:if>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search19MBean}" />
		</ui:include>
		<!--類別組合樹-->
		<cp:category_tree widgetVar="dlgCate" />
		<!--報表組織樹-->
		<cp:report_org_tree
			widgetVar="dlgOrgTree"
			commonHeaderMBean="#{commonHeaderMBean}"
			organizationTreeMBean="#{organizationTreeMBean}" />
		<!--報表組織樹 for 通知單位 -->
		<cp:report_org_tree_notice
			widgetVar="dlgOrgTreeNotice"
			commonHeaderMBean="#{commonHeaderMBean}"
			organizationTreeMBean="#{organizationTreeMBean}" />


	</ui:define>
</ui:composition>

