<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">

	<ui:define name="title">
		<h:outputText value="原型確認-待功能確認" />
	</ui:define>
	<ui:define name="content">
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search30MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			process="@this"
			update="@(.reportUpdateClz)" />
		<p:outputPanel
			id="headerTitle"
			style="border:none">
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： 原型確認-待功能確認"
						styleClass="reportTypeColor" />
				</p:outputPanel>
			</p:outputPanel>
			<p />
			<p:commandButton
				value="匯出"
				onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
				ajax="false"
				actionListener="#{search30MBean.hideColumnContent()}">
				<p:dataExporter
					type="xls"
					target="#{search30MBean.dataTableId}"
					fileName="report"
					postProcessor="#{search30MBean.exportExcel}" />
			</p:commandButton>
			<p />
		</p:outputPanel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				id="#{search30MBean.dataTableId}"
				rendered="#{search30MBean.switchFullType != 'FULLCONTENT'}"
				var="require"
				rowIndexVar="index"
				widgetVar="wvRequire"
				resizableColumns="true"
				value="#{search30MBean.queryItems}"
				rowKey="#{require.ptSid}"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				selection="#{search30MBean.querySelection}"
				selectionMode="single"
				class="reportUpdateClz">
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index + 1}" />
				</p:column>
				<p:column headerText="填單日期">
					<h:outputText value="#{require.prototypeCreatedDate}" />
				</p:column>
				<p:column
					headerText="核准日"
					style="width:7%">
					<h:outputText value="#{require.approvalDate}" />
				</p:column>
				<p:column headerText="填單單位">
					<h:outputText value="#{require.prototypeCreateDep}" />
				</p:column>
				<p:column
					headerText="填寫人員"
					style="width:6%">
					<h:outputText value="#{require.prototypeCreatedUser}" />
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<p:column headerText="系統別">
					<h:outputText value="#{require.checkItemsDescr}" />
				</p:column>
				<p:column headerText="需求類別">
					<h:outputText value="#{require.bigName}" />
				</p:column>
				<p:column headerText="中類">
					<h:outputText value="#{require.middleName}" />
				</p:column>
				<p:column headerText="小類">
					<h:outputText value="#{require.smallName}" />
				</p:column>
				<p:column
					headerText="需求人員"
					style="width:6%">
					<h:outputText value="#{require.requireCreatedUser}" />
				</p:column>
				<p:column headerText="主題">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{search30MBean.hasDisplay}"
						actionListener="#{search30MBean.btnOpenUrl(search30MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{require.ptTheme}"
						styleClass="blueAndUnderline"
						onclick="showLoad();"
						process="@this"
						actionListener="#{search30MBean.fullScreenForm(require)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();" />
				</p:column>
				<p:column
					headerText="預計完成日"
					style="width:7%">
					<h:outputText value="#{require.estimateFinishDate}" />
				</p:column>
				<p:column
					headerText="製作進度"
					style="width:6%">
					<h:outputText value="#{commonBean.get(require.requireStatus)}" />
				</p:column>

				<p:column headerText="需求單號">
					<h:outputText value="#{require.requireNo}" />
				</p:column>
			</p:dataTable>


			<!-- 需求單內容 -->
			<p:outputPanel rendered="#{search30MBean.switchFullType eq 'FULLCONTENT'}">
				<ui:include src="../require/require05.xhtml">
					<ui:param
						name="searchMBean"
						value="#{search30MBean}" />
				</ui:include>
			</p:outputPanel>

		</p:outputPanel>

		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search30MBean}" />
		</ui:include>
	</ui:define>
</ui:composition>

