<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<p:outputPanel style="overflow: hidden; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width:1250px">
	<style>
.search16-queryCondition-title {
	width: 80px;
	text-align: right;
	padding-right: 2px
}

.search16-queryCondition-content {
	width: 160px;
	text-align: left;
	padding-left: 2px
}
</style>



	<!-- 第一排 -->
	<div style="height: 5px" />
	<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">
		<div class="search16-queryCondition-title">需求類別</div>
		<div class="search16-queryCondition-content">
			<p:selectOneMenu
				value="#{search16MBean.searchQuery.queryVo.selectBigCategory}"
				style="width: 80px;">
				<f:selectItem itemLabel="全部" />
				<f:selectItems value="#{selectItemBean.getBigCategoryItems()}" />
			</p:selectOneMenu>
		</div>
		<div class="search16-queryCondition-title">需求製作進度</div>
		<div class="search16-queryCondition-content">
			<p:selectOneMenu value="#{search16MBean.searchQuery.queryVo.selectRequireStatusType}">
				<f:selectItem itemLabel="全部" />
				<f:selectItems value="#{search16MBean.searchQuery.getReqStatusItems()}" />
			</p:selectOneMenu>
		</div>
		<div class="search16-queryCondition-title">是否閱讀</div>
		<div class="search16-queryCondition-content">
			<p:selectOneMenu
				value="#{search16MBean.searchQuery.queryVo.selectReadRecordType}"
				style="width: 80px;">
				<f:selectItem itemLabel="全部" />
				<f:selectItems value="#{readRecordTypeMBean.getValuesExcept('SYSTEM_UPDATE')}" />
			</p:selectOneMenu>
		</div>
		<div class="search16-queryCondition-title">填單單位</div>
		<div class="search16-queryCondition-content">
			<p:commandButton
				icon="fa fa-search"
				process="@this"
				actionListener="#{search16MBean.searchTreepicker_openDialog('CREATE_DEP')}"
				onclick='showLoad();'
				oncomplete="hideLoad();" />
		</div>
		<div class="search16-queryCondition-title">通知單位</div>
		<div class="search16-queryCondition-content">
			<p:commandButton
				icon="fa fa-search"
				process="@this"
				actionListener="#{search16MBean.searchTreepicker_openDialog('NOTIFY_DEP')}"
				onclick='showLoad();'
				oncomplete="hideLoad();" />
		</div>

	</div>
	<!-- 第二排 -->
	<div style="height: 5px" />
	<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">
		<div class="search16-queryCondition-title">類別組合</div>
		<div class="search16-queryCondition-content">
			<p:commandButton
				icon="fa fa-search"
				process="@this"
				actionListener="#{search16MBean.searchTreepicker_openDialog('CATEGORY')}"
				onclick='showLoad();'
				oncomplete="hideLoad();" />
		</div>
		<div class="search16-queryCondition-title">待閱原因</div>
		<div class="search16-queryCondition-content">
			<p:selectCheckboxMenu
				id="reasonItems"
				value="#{search16MBean.searchQuery.queryVo.readReason}"
				converter="waitReadReasonTypeConverter"
				label="待閱原因"
				panelStyle="width:150px;">
				<f:selectItems value="#{waitReadReasonTypeBean.getOnpgItems()}" />
			</p:selectCheckboxMenu>
		</div>
		<div class="search16-queryCondition-title">ON程式狀態</div>
		<div class="search16-queryCondition-content">
			<p:selectCheckboxMenu
				id="testInfoItems"
				value="#{search16MBean.searchQuery.queryVo.onPgStatus}"
				label="ON程式狀態"
				panelStyle="width:150px;">
				<f:selectItems value="#{selectItemBean.getWorkOnpgStatusItems()}" />
			</p:selectCheckboxMenu>
		</div>
		<div class="search16-queryCondition-title">回覆人員</div>
		<p:outputPanel
			id="replyUsers_panel"
			class="search16-queryCondition-content">
			<p:commandButton
				icon="fa fa-search"
				actionListener="#{search16MBean.searchQuery.openUsersPicker()}"
				onclick="showLoad();"
				oncomplete="hideLoad();"
				update="@(.search16_usersPicker_contentStyleClass)"
				process="@this" />
			<p:outputLabel
				id="replyUsers"
				style="color: #009ceb; width:80px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: inline-block;"
				value="#{(empty search16MBean.showReplyUsers()) ? '全部' : search16MBean.showReplyUsers()}" />
			<p:tooltip
				for="replyUsers"
				value="#{search16MBean.showReplyUsers()}"
				trackMouse="true" />
		</p:outputPanel>
		<!-- 查詢欄位:系統別 -->
		<ui:include src="queryCondition_checkItem_style03.xhtml">
			<ui:param
				name="conditionVO"
				value="#{search16MBean.searchQuery.queryVo}" />
			<ui:param
				name="queryCondition_checkItem_style03_title"
				value="search16-queryCondition-title" />
			<ui:param
				name="queryCondition_checkItem_style03_content"
				value="search16-queryCondition-content" />
		</ui:include>

	</div>
	<!-- 第二排 -->
	<div style="height: 5px" />
	<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">
		<div class="search16-queryCondition-title">填單人員</div>
		<div class="search16-queryCondition-content">
			<p:inputText
				value="#{search16MBean.searchQuery.queryVo.opCreatedUsrName}"
				onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
		</div>
		<div class="search16-queryCondition-title">ON程式主題</div>
		<div class="search16-queryCondition-content">
			<p:inputText
				value="#{search16MBean.searchQuery.queryVo.onpgTheme}"
				onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
		</div>
		<div class="search16-queryCondition-title">模糊搜尋</div>
		<div class="search16-queryCondition-content">
			<p:inputText
				value="#{search16MBean.searchQuery.queryVo.fuzzyText}"
				onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
		</div>
		<div class="search16-queryCondition-title">廳主</div>
		<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center">
			<div>
				<p:commandButton
					value="請選擇"
					type="button" />
				<p:overlayPanel
					for="@previous"
					style="border:none;padding:-6px -12px -6px -12px;"
					dismissable="true"
					showCloseIcon="true">
					<p:selectManyMenu
						id="idCusManyMenu"
						value="#{search16MBean.searchQuery.customers}"
						style="border:none;width:500px;"
						converter="#{customerToConverter}"
						var="gridVar"
						filter="true"
						showCheckbox="true"
						filterMatchMode="contains">
						<f:selectItems
							value="#{search16MBean.searchQuery.customerItems}"
							var="item"
							itemValue="#{item}"
							itemLabel="#{item.name} @#{item.loginCode} (#{item.customerTypeName})">
						</f:selectItems>
						<p:column>
							<h:outputText value="#{gridVar.name}" />
						</p:column>
						<p:column>
							<h:outputText value="@#{gridVar.loginCode}" />
						</p:column>
						<p:column>
							<h:outputText value="(#{gridVar.customerTypeName}})" />
						</p:column>
					</p:selectManyMenu>
				</p:overlayPanel>
			</div>
			<div style="width: 5px" />
			<p:outputLabel
				styleClass="class_isCustomerPage"
				style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center">
				<p:selectBooleanCheckbox
					value="#{search16MBean.searchQuery.isCustomerPage}"
					rendered="#{not empty search16MBean.queryItems}"
					itemLabel="依廳主分頁">
					<p:ajax
						listener="#{search16MBean.chgCustomerPage()}"
						onstart="showLoad();"
						oncomplete="hideLoad();"
						update="customerPage @(.class_isCustomerPage)"
						process="@this" />
				</p:selectBooleanCheckbox>
				<div style="width: 5px" />
				<h:panelGroup id="customerPage">
					<p:selectOneMenu
						value="#{search16MBean.searchQuery.customerPage}"
						rendered="#{search16MBean.searchQuery.isCustomerPage}"
						converter="#{customerToConverter}"
						var="gridVar"
						filter="true"
						panelStyle="min-width:500px;"
						filterMatchMode="contains">
						<p:ajax
							listener="#{search16MBean.chgCustomerPage()}"
							event="change"
							onstart="showLoad();"
							oncomplete="hideLoad();"
							update="searchBody"
							process="@this" />
						<f:selectItems
							value="#{search16MBean.searchQuery.customerPageItems}"
							var="item"
							itemLabelEscaped="true"
							itemValue="#{item}"
							itemLabel="#{item.name} @#{item.loginCode} (#{item.customerTypeName})">
						</f:selectItems>
						<p:column>
							<h:outputText value="#{gridVar.name}" />
						</p:column>
						<p:column>
							<h:outputText value="@#{gridVar.loginCode}" />
						</p:column>
						<p:column>
							<h:outputText value="(#{gridVar.customerTypeName})" />
						</p:column>
					</p:selectOneMenu>
				</h:panelGroup>
			</p:outputLabel>
		</div>
	</div>
	<!-- 第四排 -->
	<div style="height: 5px" />
	<p:outputPanel style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">

		<div class="search16-queryCondition-title">日期區間</div>
		<div style="width: 5px"></div>
		<p:tabMenu
			id="dateBtn"
			widgetVar="queryCondition_DateRange_dateBtn"
			styleClass="queryCondition_DateRange_dateBtn"
			activeIndex="#{-1}">
			<p:menuitem value="上個月" />
			<p:menuitem value="本月份" />
			<p:menuitem value="下個月" />
			<p:menuitem value="今日" />
			<p:menuitem value="清除" />
		</p:tabMenu>
		<div style="width: 5px"></div>
		<p:selectOneMenu value="#{search16MBean.searchQuery.dateTimeType}">
			<f:selectItem
				itemLabel="填單區間"
				itemValue="CREATE_DATE" />
			<f:selectItem
				itemLabel="異動區間"
				itemValue="UPDATE_DATE" />
			<f:selectItem
				itemLabel="預計完成日"
				itemValue="ESTABLISH_DATE" />
		</p:selectOneMenu>
		<div style="width: 5px"></div>
		<ui:include src="../components/date_component.xhtml">
			<ui:param
				name="startDate"
				value="#{search16MBean.searchQuery.queryVo.onpgStartDt}" />
			<ui:param
				name="endDate"
				value="#{search16MBean.searchQuery.queryVo.onpgEndDt}" />
			<ui:param
				name="startDateId"
				value="calStartDate" />
			<ui:param
				name="endDateId"
				value="calEndDate" />
		</ui:include>
		<div style="width: 30px"></div>
		<div>
			<p:commandLink
				value="進階搜尋"
				style="color:blue; margin-left: 10px"
				process="@this" />
			<p:overlayPanel
				widgetVar="olpAdvance"
				for="@previous"
				dismissable="false">
				<p:panelGrid
					columns="2"
					id="pgAdvance">
					<h:outputText value="立單區間：" />
					<h:panelGroup>
						<ui:include src="../components/date_component.xhtml">
							<ui:param
								name="startDate"
								value="#{commonHeaderMBean.startUpdatedDate}" />
							<ui:param
								name="endDate"
								value="#{commonHeaderMBean.endUpdatedDate}" />
							<ui:param
								name="startDateId"
								value="createStartDate" />
							<ui:param
								name="endDateId"
								value="createEndDate" />
						</ui:include>
					</h:panelGroup>
					<h:outputText value="需求單號：" />
					<p:inputText value="#{commonHeaderMBean.requireNo}" />
				</p:panelGrid>
				<p:commandButton
					value="確定"
					process="@parent"
					oncomplete="PF('olpAdvance').hide();doSearchData();" />
				<p:commandButton
					value="取消"
					type="button"
					onclick="PF('olpAdvance').hide()" />
				<p:commandButton
					value="清除"
					process="@this"
					update="pgAdvance"
					actionListener="#{commonHeaderMBean.clearAdvanceWithoutForwardAndUrgency()}" />
			</p:overlayPanel>
		</div>
	</p:outputPanel>
	<!-- 第五排 -->
	<div style="height: 15px" />
	<p:outputPanel
		class="reportUpdateClz"
		style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">

		<div style="width: 50%; display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">
			<!-- 切換明細 -->
			<p:commandButton
				value="#{search16MBean.switchType.typeName}"
				onclick="showLoad()"
				process="@this"
				actionListener="#{search16MBean.toggleSearchBody()}"
				update="searchBody @this"
				oncomplete="hideLoad();"
				rendered="#{not empty search16MBean.queryItems}" />
			<p:commandButton
				value="匯出"
				onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
				ajax="false"
				rendered="#{not empty search16MBean.queryItems}"
				actionListener="#{search16MBean.hideColumnContent()}">
				<p:dataExporter
					type="xls"
					target="#{search16MBean.dataTableId}"
					fileName="report"
					postProcessor="#{search16MBean.exportExcel}" />
			</p:commandButton>
		</div>
		<div style="width: 50%; display: flex; flex-direction: row; justify-content: flex-end; align-items: center; align-self: stretch;">
			<p:commandButton
				value="搜尋"
				process="@this headerPanel"
				update="searchBody @(.reportUpdateClz) customerPage @(.class_isCustomerPage)"
				actionListener="#{search16MBean.search()}"
				onclick="showLoad();selectDataTablePage('wvRequire', 0);"
				oncomplete="hideLoad();" />
			<div style="width: 20px" />
			<p:commandButton
				value="清除"
				actionListener="#{search16MBean.clear()}"
				onclick="showLoad();initFlag();selectDataTablePage('wvRequire', 0);"
				oncomplete="hideLoad();"
				update="headerPanel pgAdvance searchBody @(.reportUpdateClz) customerPage"
				process="@this" />
			<div style="width: 10px" />
			<p:commandButton
				value="重新載入預設搜尋條件"
				process="@this"
				update="headerPanel pgAdvance searchBody @(.reportUpdateClz) customerPage"
				actionListener="#{search16MBean.loadCustSetting()}"
				onclick="showLoad();selectDataTablePage('wvRequire', 0);"
				oncomplete="init_queryCondition_DateRange();hideLoad();" />
			<div style="width: 10px" />
			<p:commandButton
				value="自訂預設搜尋條件"
				process="@this "
				update="dlgReportCustomFilter_view"
				actionListener="#{search16MBean.searchQuery.loadDefaultSettingDialog()}"
				onclick="showLoad();"
				oncomplete="hideLoad();showPF('dlgReportCustomFilter');" />
			<div style="width: 100px" />
		</div>
		<script>
			var serverSideIndex = '${search16MBean.searchQuery.queryVo.dateTypeIndexStr}';

			function initFlag() {
				init_queryCondition_DateRange_flag = true;
			}

			$(document).ready(function() {
				//console.log("ready");
				if (init_queryCondition_DateRange_flag) {
					init_queryCondition_DateRange_flag = false;
					init_queryCondition_DateRange();
				}
			});
			/**
			 * 初始化查詢條件, 日期區間組件
			 */
			function init_queryCondition_DateRange() {
				//console.log("init_queryCondition_DateRange:[" + serverSideIndex	+ "]");
				// 動態載入 JS 檔案
				if (typeof moment != 'function') {
					$.getScriptCached("../js/moment.min.js", function() {
						PF_tabMenu_SetClientClickEffect(
								'queryCondition_DateRange_dateBtn',
								queryCondition_DateRange);
						PF_tabMenuSelect('queryCondition_DateRange_dateBtn',
								serverSideIndex);
						queryCondition_DateRange(serverSideIndex);
					});
				} else {
					PF_tabMenu_SetClientClickEffect(
							'queryCondition_DateRange_dateBtn',
							queryCondition_DateRange);
					PF_tabMenuSelect('queryCondition_DateRange_dateBtn',
							serverSideIndex);
					queryCondition_DateRange(serverSideIndex);
				}
			}

			function queryCondition_DateRange(index) {

				var startDate;
				var endDate;

				switch (index) {
				case "0":
					// 上個月
					startDate = getDateRangeStartDate().subtract(1, 'months')
							.startOf('month').toDate();
					endDate = getDateRangeStartDate().subtract(1, 'months')
							.endOf('month').toDate();
					break;
				case "1":
					// 本月份
					startDate = moment().startOf('month').toDate();
					endDate = moment().endOf('month').toDate();
					break;

				case "2":
					// 下個月
					startDate = getDateRangeStartDate().add(1, 'months')
							.startOf('month').toDate();
					endDate = getDateRangeStartDate().add(1, 'months').endOf(
							'month').toDate();
					break;

				case "3":
					// 今日
					startDate = new Date();
					endDate = new Date();
					break;

				case "4":
					// 清除
					startDate = null;
					endDate = null;
					break;

				default:
					//console.log("選項未實做");
					// 預設本月份
					startDate = moment().startOf('month').toDate();
					endDate = moment().endOf('month').toDate();
					break;
				}

				PF('calStartDate').setDate(startDate);
				PF('calEndDate').setDate(endDate);
			}

			function getDateRangeStartDate() {
				var startDate = PF('calStartDate').getDate();
				if (startDate === null) {
					return moment();
				}
				return moment(startDate);
			}
		</script>

	</p:outputPanel>
</p:outputPanel>
</html>

