<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="退件資訊查詢" />
	</ui:define>
	<ui:define name="content">
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{search04MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			update="@(.reportUpdateClz)"
			process="@this headerPanel" />
		<p:remoteCommand
			name="searchByKeepPage"
			actionListener="#{search04MBean.search()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			update="@(.reportUpdateClz)"
			process="@this headerPanel" />
		<!--查詢表頭-->
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{search04MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{search04MBean.searchQuery.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>

				<p:outputPanel style="width: 1350px;">
					<p:panelGrid columns="14">
						<h:outputText value="需求類別： " />
						<p:selectOneMenu value="#{search04MBean.searchQuery.selectBigCategorySid}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{selectItemBean.getBigCategoryItems()}" />
						</p:selectOneMenu>

						<h:outputText value="需求單位： " />
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{search04MBean.btnOpenOrgTree()}"
							onclick='showLoad();'
							oncomplete="hideLoad();"
							update="@widgetVar(dlgOrgTree)"
							process="@this" />

						<h:outputText value="退件原因： " />
						<p:selectOneMenu value="#{search04MBean.searchQuery.rejectReason}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{selectItemBean.getRejectReasonItems()}" />
						</p:selectOneMenu>

						<h:outputText value="退件人員： " />
						<p:inputText
							value="#{search04MBean.searchQuery.rejectUserName}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');"
							style="width: 70px;" />

						<h:outputText value="需求人員： " />
						<p:inputText
							value="#{search04MBean.searchQuery.trCreatedUserName}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');"
							style="width: 70px;" />

						<h:outputText value="模糊搜尋： " />
						<p:inputText
							value="#{search04MBean.searchQuery.fuzzyText}"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');"
							style="width:153px;" />
					</p:panelGrid>
				</p:outputPanel>

				<p:outputPanel style="overflow: hidden;width: 1250px;">
					<p:panelGrid style="float:left;">
						<p:row>
							<!-- 類別組合 -->
							<p:column styleClass="queryCondition-title">
								<div>類別組合：</div>
							</p:column>
							<p:column styleClass="queryCondition-content">
								<p:commandButton
									icon="fa fa-search"
									actionListener="#{search04MBean.btnOpenCategoryTree()}"
									onclick="showLoad();"
									oncomplete="hideLoad();"
									update="@widgetVar(dlgCate)"
									process="@this" />
							</p:column>
							<p:column
								styleClass="queryCondition-content"
								colspan="2">
								<p:tabMenu
									id="dateBtn"
									activeIndex="#{search04MBean.searchQuery.dateTypeIndex}">
									<p:menuitem
										value="上個月"
										actionListener="#{search04MBean.searchQuery.changeDateIntervalPreMonth()}"
										update="interval @parent"
										process="@this" />
									<p:menuitem
										value="本月份"
										actionListener="#{search04MBean.searchQuery.changeDateIntervalThisMonth()}"
										update="interval @parent"
										process="@this" />
									<p:menuitem
										value="下個月"
										actionListener="#{search04MBean.searchQuery.changeDateIntervalNextMonth()}"
										update="interval @parent"
										process="@this" />
									<p:menuitem
										value="今日"
										actionListener="#{search04MBean.searchQuery.changeDateIntervalToDay()}"
										update="interval @parent"
										process="@this" />
								</p:tabMenu>
							</p:column>
							<!-- 立單區間 -->
							<p:column styleClass="queryCondition-title">
								<div>立單區間：</div>
							</p:column>
							<p:column styleClass="queryCondition-content">
								<p:outputPanel id="interval">
									<ui:include src="../components/date_component.xhtml">
										<ui:param
											name="startDate"
											value="#{search04MBean.searchQuery.startDate}" />
										<ui:param
											name="endDate"
											value="#{search04MBean.searchQuery.endDate}" />
										<ui:param
											name="startDateId"
											value="createStartDate" />
										<ui:param
											name="endDateId"
											value="createEndDate" />
									</ui:include>
								</p:outputPanel>
							</p:column>
							<!-- 查詢欄位:系統別 -->
							<ui:include src="queryCondition_checkItem_style01.xhtml">
								<ui:param
									name="controller"
									value="#{search04MBean}" />
								<ui:param
									name="conditionVO"
									value="#{search04MBean.searchQuery}" />
							</ui:include>
						</p:row>
					</p:panelGrid>

					<p:panelGrid
						columns="3"
						style="float:right;margin-top: 4px;">
						<p:commandButton
							value="搜尋"
							actionListener="#{search04MBean.search()}"
							onclick="showLoad();selectDataTablePage('wvRequire', 0);"
							oncomplete="hideLoad();"
							update="searchBody toggleSearchBodyPanel"
							process="@this headerPanel" />
						<p:commandButton
							value="清除"
							actionListener="#{search04MBean.clear()}"
							onclick="showLoad();selectDataTablePage('wvRequire', 0);"
							oncomplete="hideLoad();"
							update="headerPanel pgAdvance searchBody"
							process="@this" />
						<p:commandButton
							value="自訂預設搜尋條件"
							process="@this "
							update="dlgReportCustomFilter_view"
							actionListener="#{search04MBean.openDefaultSetting()}"
							onclick="showLoad();"
							oncomplete="hideLoad();showPF('dlgReportCustomFilter');" />
					</p:panelGrid>
				</p:outputPanel>
			</p:outputPanel>

			<!--查詢表身上的按鈕-->
			<p:panelGrid
				id="toggleSearchBodyPanel"
				columns="5">
				<p:commandButton
					value="#{search04MBean.switchType.typeName}"
					rendered="#{not empty search04MBean.queryItems}"
					actionListener="#{search04MBean.toggleSearchBody()}"
					onclick="showLoad()"
					oncomplete="hideLoad();"
					update="@next searchBody toggleSearchBodyPanel"
					process="@this" />
				<p:commandButton
					value="關聯檢視"
					disabled="#{empty search04MBean.queryItems or !search04MBean.querySelection.hasLink}"
					onclick="openInNewTab();"
					oncomplete="replaceUrl('#{search04MBean.getRelevanceViewUrl(search04MBean.querySelection)}');"
					process="@this"
					class="reportUpdateClz" />
				<p:commandButton
					value="匯出"
					actionListener="#{search04MBean.hideColumnContent()}"
					onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
					ajax="false">
					<p:dataExporter
						type="xls"
						target="#{search04MBean.dataTableId}"
						fileName="report"
						postProcessor="#{search04MBean.exportExcel}" />
				</p:commandButton>
				<p:commandLink
					value="進階搜尋"
					style="color:blue;"
					process="@this" />
				<p:overlayPanel
					widgetVar="olpAdvance"
					for="@previous"
					dismissable="false">
					<p:panelGrid
						id="pgAdvance"
						columns="2">
						<h:outputText value="異動區間：" />
						<h:panelGroup>
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{search04MBean.searchQuery.startUpdatedDate}" />
								<ui:param
									name="endDate"
									value="#{search04MBean.searchQuery.endUpdatedDate}" />
								<ui:param
									name="startDateId"
									value="updateStartDate" />
								<ui:param
									name="endDateId"
									value="updateEndDate" />
							</ui:include>
						</h:panelGroup>

						<h:outputText value="退件區間：" />
						<h:panelGroup>
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{search04MBean.searchQuery.startRejectedDate}" />
								<ui:param
									name="endDate"
									value="#{search04MBean.searchQuery.endRejectedDate}" />
								<ui:param
									name="startDateId"
									value="rejectStartDate" />
								<ui:param
									name="endDateId"
									value="rejectEndDate" />
							</ui:include>
						</h:panelGroup>

						<h:outputText value="緊急度：" />
						<p:selectManyCheckbox
							id="basic"
							value="#{search04MBean.searchQuery.urgencyList}">
							<f:selectItems value="#{selectItemBean.getUrgencyItems()}" />
						</p:selectManyCheckbox>
						<h:outputText value="需求單號：" />
						<p:inputText value="#{search04MBean.searchQuery.requireNo}" />
					</p:panelGrid>
					<p:commandButton
						value="確定"
						oncomplete="PF('olpAdvance').hide();doSearchData();"
						process="@parent" />
					<p:commandButton
						value="取消"
						onclick="PF('olpAdvance').hide();"
						type="button" />
					<p:commandButton
						value="清除"
						actionListener="#{search04MBean.searchQuery.clearAdvance()}"
						update="pgAdvance"
						process="@this" />
				</p:overlayPanel>
			</p:panelGrid>
		</p:panel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				id="#{search04MBean.dataTableId}"
				widgetVar="wvRequire"
				rendered="#{search04MBean.switchType eq 'CONTENT' and search04MBean.switchFullType != 'FULLCONTENT'}"
				value="#{search04MBean.queryItems}"
				selection="#{search04MBean.querySelection}"
				var="require"
				rowKey="#{require.sid}"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				rowStyleClass="#{require.urgency =='URGENT'?'urgencyRow':''}"
				class="reportUpdateClz">
				<!-- 點選更新需求單明細 -->
				<p:ajax
					event="rowSelect"
					update=":formTemplate:toggleSearchBodyPanel"
					process="@this" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{search04MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="部"
					width="5"
					exportable="false">
					<p:commandLink
						value="#{require.hasForwardDep?'★':'　'}"
						actionListener="#{search04MBean.openForwardDialog(require)}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						process="@this"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="個"
					width="5"
					exportable="false">
					<p:commandLink
						value="#{require.hasForwardMember?'★':'　'}"
						actionListener="#{search04MBean.openForwardDialog(require)}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						process="@this"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="關"
					width="5"
					exportable="false">
					<p:commandLink
						value="#{require.hasLink?'★':'　'}"
						onclick="showLoad();"
						oncomplete="openDlgRelevance();hideLoad();"
						process="@this"
						update=":formTemplate:tvRelevance"
						actionListener="#{search04MBean.initRelevance(require)}"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="追"
					rendered="#{customColumnMBean.chekcDataTableColumn('追')}"
					exportable="false"
					style="width:#{empty customColumnMBean.getColumnWidth('追')?
                                         '10':
                                         customColumnMBean.getColumnWidth('追')}px">
					<p:commandLink
						value="#{require.hasTrace?'★':'　'}"
						onstart="showLoad();"
						oncomplete="showPF('dlgTraceAction');hideLoad();"
						process="@this"
						update=":formTemplate:dlgTraceAction_view"
						actionListener="#{search04MBean.btnAddTrack(require)}"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="退件日期"
					rendered="#{customColumnMBean.chekcDataTableColumn('退件日期')}"
					sortBy="#{require.rejectDate}"
					style=" width:#{empty customColumnMBean.getColumnWidth('退件日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('退件日期')}px">
					<h:outputText value="#{require.rejectDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="退件人員"
					sortBy="#{usrBean.name(require.rejectUser)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('退件人員')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('退件人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('退件人員')}px">
					<h:outputText value="#{usrBean.name(require.rejectUser)}" />
				</p:column>
				<p:column
					headerText="立單日期"
					rendered="#{customColumnMBean.chekcDataTableColumn('立單日期',false)}"
					sortBy="#{require.createdDate}"
					style=" width:#{empty customColumnMBean.getColumnWidth('立單日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('立單日期')}px">
					<h:outputText value="#{require.createdDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="result_column_checkItems.xhtml" />
				<p:column
					headerText="需求類別"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求類別',false)}"
					sortBy="#{require.bigName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求類別')?
                                          '80':
                                          customColumnMBean.getColumnWidth('需求類別')}px">
					<h:outputText value="#{require.bigName}" />
				</p:column>
				<p:column
					headerText="中類"
					rendered="#{customColumnMBean.chekcDataTableColumn('中類',false)}"
					sortBy="#{require.middleName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('中類')?
                                          '54':
                                          customColumnMBean.getColumnWidth('中類')}px">
					<h:outputText value="#{require.middleName}" />
				</p:column>
				<p:column
					headerText="小類"
					rendered="#{customColumnMBean.chekcDataTableColumn('小類')}"
					sortBy="#{require.smallName}"
					style=" width:#{empty customColumnMBean.getColumnWidth('小類')?
                                          '60':
                                          customColumnMBean.getColumnWidth('小類')}px">
					<h:outputText value="#{require.smallName}" />
				</p:column>
				<p:column
					headerText="需求單位"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求單位')}"
					sortBy="#{orgBean.name(require.createDep)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求單位')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求單位')}px">
					<h:outputText value="#{orgBean.name(require.createDep)}" />
				</p:column>
				<p:column
					headerText="需求人員"
					rendered="#{customColumnMBean.chekcDataTableColumn('需求人員')}"
					sortBy="#{usrBean.name(require.createdUser)}"
					style=" width:#{empty customColumnMBean.getColumnWidth('需求人員')?
                                          '60':
                                          customColumnMBean.getColumnWidth('需求人員')}px">
					<h:outputText value="#{usrBean.name(require.createdUser)}" />
				</p:column>
				<p:column
					headerText="主題"
					sortBy="#{require.requireTheme}">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{search04MBean.hasDisplay}"
						actionListener="#{search04MBean.btnOpenUrl(search04MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
						onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{require.requireTheme}"
						actionListener="#{search04MBean.fullScreenForm(require)}"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						oncomplete="hideHeaderTitle();hideLoad();"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						process="@this"
						styleClass="blueAndUnderline" />
					<p:tooltip
						for="@previous"
						widgetVar="tooltip#{index+1}"
						value="#{require.requireTheme}"
						trackMouse="true"
						rendered="#{search04MBean.hasDisplay}"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column
					headerText="退件原因"
					rendered="#{customColumnMBean.chekcDataTableColumn('退件原因')}"
					sortBy="#{require.rejectReason}"
					style=" width:#{empty customColumnMBean.getColumnWidth('退件原因')?
                                          '60':
                                          customColumnMBean.getColumnWidth('退件原因')}px">
					<h:outputText value="#{require.rejectReason}" />
				</p:column>
				<p:column
					headerText="退件原因說明"
					rendered="#{customColumnMBean.chekcDataTableColumn('退件原因說明')}"
					sortBy="#{require.rejectContent}"
					style=" width:#{empty customColumnMBean.getColumnWidth('退件原因說明')?
                                          '90':
                                          customColumnMBean.getColumnWidth('退件原因說明')}px">
					<h:outputText
						id="dtRequire_rejectContent"
						value="#{require.rejectContent}" />
					<p:tooltip
						for="dtRequire_rejectContent"
						rendered="#{search04MBean.hasDisplay}"
						value="#{require.rejectContent}"
						trackMouse="true"
						styleClass="tooltipWidth"
						escape="true" />
				</p:column>
				<p:column
					headerText="單號"
					rendered="#{customColumnMBean.chekcDataTableColumn('單號')}"
					sortBy="#{require.requireNo}"
					style=" width:#{empty customColumnMBean.getColumnWidth('單號')?
                                          '115':
                                          customColumnMBean.getColumnWidth('單號')}px">
					<h:outputText value="#{require.requireNo}" />
				</p:column>
			</p:dataTable>

			<p:outputPanel rendered="#{search04MBean.switchType eq 'DETAIL'}">
				<p:dataTable
					id="#{search04MBean.dataTableId}1"
					rendered="#{search04MBean.switchFullType != 'FULLCONTENT'}"
					value="#{search04MBean.queryItems}"
					selection="#{search04MBean.querySelection}"
					var="require"
					rowKey="#{require.sid}"
					rowIndexVar="index"
					scrollHeight="470"
					scrollable="true"
					paginator="true"
					rows="50"
					draggableColumns="true"
					resizableColumns="true"
					selectionMode="single"
					style="width: 35%;float: left;margin-right: 2px;"
					rowStyleClass="#{require.urgency =='URGENT'?'urgencyRow':''}"
					class="reportUpdateClz">
					<!-- 點選更新需求單明細 -->
					<p:ajax
						event="rowSelect"
						onstart="showLoad();"
						process="@this"
						listener="#{search04MBean.onRowSelect}"
						update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId req03botmid"
						oncomplete="hideLoad();" />
					<p:ajax
						event="colReorder"
						update="@parent" />
					<p:column
						headerText="序"
						width="5">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="部"
						width="5"
						exportable="false">
						<p:commandLink
							value="#{require.hasForwardDep?'★':'　'}"
							actionListener="#{search04MBean.openForwardDialog(require)}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							process="@this"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="個"
						width="5"
						exportable="false">
						<p:commandLink
							value="#{require.hasForwardMember?'★':'　'}"
							actionListener="#{search04MBean.openForwardDialog(require)}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							process="@this"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="關"
						width="5">
						<p:commandLink
							value="#{require.hasLink?'★':'　'}"
							onclick="showLoad();"
							oncomplete="openDlgRelevance();hideLoad();"
							process="@this"
							update=":formTemplate:tvRelevance"
							actionListener="#{require01MBean.relevanceMBean.initRelevance}"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="追"
						width="5"
						exportable="false"
						rendered="#{customColumnMBean.chekcDataTableColumn('追')}"
						style="width:#{empty customColumnMBean.getColumnWidth('追')?
                                             '10':
                                             customColumnMBean.getColumnWidth('追')}px">
						<p:commandLink
							value="#{require.hasTrace?'★':'　'}"
							onstart="showLoad();"
							oncomplete="showPF('dlgTraceAction');hideLoad();"
							process="@this"
							update=":formTemplate:dlgTraceAction_view"
							actionListener="#{search04MBean.btnAddTrack(require)}"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="需求人員"
						sortBy="#{usrBean.name(require.createdUser)}"
						width="20%">
						<h:outputText value="#{usrBean.name(require.createdUser)}" />
					</p:column>
					<p:column
						headerText="主題"
						sortBy="#{require.requireTheme}">
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{search04MBean.btnOpenUrl(search04MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,require)}"
							onclick="openWinByStore('#{index+1}-#{require.requireNo}');"
							oncomplete="replaceUrlByStore('#{index+1}-#{require.requireNo}','#{require.localUrlLink}');"
							process="@this" />
						<h:outputText
							id="dtRequire_requireTheme"
							value="#{require.requireTheme}" />
						<p:tooltip
							for="dtRequire_requireTheme"
							value="#{require.requireTheme}"
							trackMouse="true"
							rendered="#{search04MBean.hasDisplay}"
							styleClass="tooltipWidth" />
					</p:column>
				</p:dataTable>

				<!-- 需求單內容 -->
				<p:outputPanel style="width: #{search04MBean.switchFullType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{search04MBean.switchFullType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
					<c:if test="#{search04MBean.switchFullType eq 'FULLCONTENT'}">
						<ui:include src="../require/require03.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search04MBean}" />
						</ui:include>
					</c:if>
					<c:if test="#{search04MBean.switchFullType eq 'DETAIL'}">
						<ui:include src="../require/require03_detail.xhtml">
							<ui:param
								name="searchMBean"
								value="#{search04MBean}" />
						</ui:include>
					</c:if>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>

		<p:dialog
			widgetVar="dlgReportCustomFilter"
			header="自訂預設搜尋條件"
			resizable="false"
			position="right top"
			modal="true">
			<p:outputPanel
				id="dlgReportCustomFilter_view"
				style="overflow: hidden;">
				<p:scrollPanel
					style="height:400px; width: 400px;"
					mode="native">
					<p:panelGrid>
						<p:row>
							<p:column colspan="1">
								<h:outputText value="需求類別： " />
								<p:selectOneMenu
									style="width: 80px;"
									value="#{search04MBean.searchQuery04CustomFilter.tempSearchQuery04.selectBigCategorySid}">
									<f:selectItem itemLabel="全部" />
									<f:selectItems value="#{selectItemBean.getBigCategoryItems()}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="需求單位： &nbsp;&nbsp;" />
								<p:commandButton
									process="@this"
									icon="fa fa-search"
									update="@widgetVar(defaultdlgOrgTree)"
									onclick="showLoad();"
									actionListener="#{search04MBean.searchQuery04CustomFilter.btnOpenOrgTree()}"
									oncomplete="hideLoad();" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="退件原因： " />
								<p:selectOneMenu value="#{search04MBean.searchQuery04CustomFilter.tempSearchQuery04.rejectReason}">
									<f:selectItem itemLabel="全部" />
									<f:selectItems value="#{selectItemBean.getRejectReasonItems()}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="退件人員： " />
								<p:inputText value="#{search04MBean.searchQuery04CustomFilter.tempSearchQuery04.rejectUserName}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="需求人員： " />
								<p:inputText value="#{search04MBean.searchQuery04CustomFilter.tempSearchQuery04.trCreatedUserName}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="模糊搜尋： " />
								<p:inputText value="#{search04MBean.searchQuery04CustomFilter.tempSearchQuery04.fuzzyText}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="3">
								<h:outputText value="類別組合： &nbsp;&nbsp;" />
								<p:commandButton
									process="@this"
									icon="fa fa-search"
									actionListener="#{search04MBean.searchQuery04CustomFilter.btnOpenCategoryTree()}"
									onclick="showLoad();"
									update="@widgetVar(defaultDlgCate)"
									oncomplete="hideLoad();" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="5">
								<p:selectOneButton
									id="dateSelectItemButton"
									value="#{search04MBean.searchQuery04CustomFilter.tempSearchQuery04.dateTypeIndex}">
									<f:selectItem
										itemLabel="上個月"
										itemValue="0" />
									<f:selectItem
										itemLabel="本月份"
										itemValue="1" />
									<f:selectItem
										itemLabel="下個月"
										itemValue="2" />
									<f:selectItem
										itemLabel="今日"
										itemValue="3" />
									<f:selectItem
										itemLabel="清除"
										itemValue="4" />
									<p:ajax
										event="change"
										update="dateSelectItemButton"
										process="@this"
										listener="#{search04MBean.searchQuery04CustomFilter.clearDateType()}" />
								</p:selectOneButton>

							</p:column>
						</p:row>


					</p:panelGrid>
				</p:scrollPanel>
				<p:panelGrid>
					<p:column colspan="2">
						<p:commandButton
							value="確定"
							process="@this dlgReportCustomFilter_view "
							actionListener="#{search04MBean.searchQuery04CustomFilter.saveReportCustomFilter()}"
							onclick="showLoad();"
							oncomplete="hideLoad();" />
						<p:commandButton
							value="取消"
							process="@this"
							onclick="PF('dlgReportCustomFilter').hide()" />
					</p:column>
				</p:panelGrid>

			</p:outputPanel>
		</p:dialog>
		<!-- 報表共用 -->
		<ui:include src="report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{search04MBean}" />
		</ui:include>
		<!--類別組合樹-->
		<ui:include src="../components/category_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="dlgCate" />
			<ui:param
				name="categoryTreeComponent"
				value="#{search04MBean.categoryTreeComponent}" />
		</ui:include>
		<!--挑選預設類別組合樹-->
		<ui:include src="../components/category_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="defaultDlgCate" />
			<ui:param
				name="categoryTreeComponent"
				value="#{search04MBean.searchQuery04CustomFilter.categoryTreeComponent}" />
		</ui:include>
		<!--報表組織樹-->
		<ui:include
			id="dlgOrgTree"
			src="../components/report_org_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="dlgOrgTree" />
			<ui:param
				name="reportOrgTreeComponent"
				value="#{search04MBean.orgTreeComponent}" />
		</ui:include>
		<ui:include
			id="dlgOrgTreeDefault"
			src="../components/report_org_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="defaultdlgOrgTree" />
			<ui:param
				name="reportOrgTreeComponent"
				value="#{search04MBean.searchQuery04CustomFilter.orgTreeComponent}" />
		</ui:include>


	</ui:define>
</ui:composition>

