<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<!-- ======================================= -->
<!-- treePicker  -->
<!-- ======================================= -->
<p:dialog
	header="請選擇"
	id="#{currReportMBean.TREE_PICKER_DLG_NAME}"
	widgetVar="#{currReportMBean.TREE_PICKER_DLG_NAME}"
	modal="true"
	position="center center-50"
	closeOnEscape="true"
	resizable="false"
	onShow="PF_initPosition('#{currReportMBean.TREE_PICKER_DLG_NAME}');">
	<p:outputPanel
		id="#{currReportMBean.TREE_PICKER_DLG_CONTENT}"
		styleClass="#{currReportMBean.TREE_PICKER_DLG_CONTENT}"
		style="display: flex; justify-content: center; flex-direction:column; ">
		<!-- 部門 picker  -->
		<cp:treePicker
			componentID="#{currReportMBean.TREE_PICKER_COMPONENT_ID}"
			model="#{currReportMBean.treePicker}"
			menuWidth="260"
			menuHeight="300" />
		<div>
			<hr />
		</div>
		<div
			style="display: flex; align-items: center; justify-content: flex-start">
			<p:commandButton
				value="確認"
				onstart="showLoad();"
				actionListener="#{currReportMBean.treePicker_confirm()}"
				process="@this #{currReportMBean.TREE_PICKER_DLG_CONTENT}"
				update="#{currReportMBean.treePickerConfirmUpdate}"
				oncomplete="hideLoad();" />
			<div style="width: 10px"></div>
			<p:commandButton
				value="取消"
				onclick="hidePF('#{currReportMBean.TREE_PICKER_DLG_NAME}');" />
		</div>
	</p:outputPanel>
	<br />
</p:dialog>

</html>

