<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:cp="http://java.sun.com/jsf/composite/components"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="../template/templateByNewSerach.xhtml">

    <!-- ===================================================== -->
    <!-- 定義區 -->
    <!-- ===================================================== -->
    <ui:define name="_definition">
        <!-- view controller -->
        <c:set
            var="controller"
            value="#{newSearch01Controller}" />
            
        <!-- view model -->
        <c:set
            var="conditionVO"
            value="#{newSearch01Controller.conditionVO}" />

        <!-- remoteCommand -->
        <p:remoteCommand
            name="doSearchData"
            actionListener="#{controller.search()}"
            onstart="showLoad();"
            oncomplete="hideLoad();"
            process="@this queryConditionPanel" 
            update="qryResultPanel" />
    </ui:define>
   

    <!-- ===================================================== -->
    <!-- 查詢條件區 -->
    <!-- ===================================================== -->
    <ui:define name="_queryCondition">
        <ui:include src="newsearch01_queryCondition.xhtml" />
    </ui:define>
</ui:composition>

