<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<p:panelGrid>
	<p:row>
		<!-- 需求類別 -->
		<p:column styleClass="newsearch-queryCondition-title">
			<h:outputText value="需求類別： " />
		</p:column>
		<p:column styleClass="newsearch-queryCondition-content">
			<p:selectOneMenu value="#{conditionVO.bigCategorySid}">
				<f:selectItems value="#{newSearchDisplayComponent.bigCategorySelectItems}" />
			</p:selectOneMenu>
		</p:column>
		<!-- 類別組合 -->
		<ui:include src="queryCondition_CategoryCollection.xhtml" />
		<!-- 通知部門 -->
		<p:column styleClass="newsearch-queryCondition-title">
			<h:outputText value="通知部門： " />
		</p:column>
		<p:column styleClass="newsearch-queryCondition-content">
			<p:panelGrid>
				<p:row>
					<p:column>
						<p:commandButton
							icon="ui-icon-search"
							actionListener="#{controller.event_dialog_noticeDepTree_open()}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							update="@(.dlg_assignNoticeDep)"
							process="@this">
						</p:commandButton>
					</p:column>
					<p:column>
						<p:outputPanel styleClass="showDesc_assignNoticeDep">
							<div style="color: blue; text-overflow: ellipsis; width: 80px; white-space: nowrap; overflow: hidden;">#{controller.noticeDepTreePicker.prepareSelectedShowName('未選擇')}</div>
						</p:outputPanel>
						<p:tooltip
							styleClass="showDesc_assignNoticeDep"
							for="@previous"
							value="#{controller.noticeDepTreePicker.prepareSelectedShowTooltip('未選擇', 30)}"
							escape="false">
						</p:tooltip>
					</p:column>
				</p:row>
			</p:panelGrid>

			<!-- 通知單位 -->
			<p:dialog
				header="通知單位"
				id="dlg_assignNoticeDep"
				widgetVar="wv_dlg_assignNoticeDep"
				modal="true"
				position="center center-100"
				closeOnEscape="true"
				resizable="false">
				<p:outputPanel styleClass="dlg_assignNoticeDep">
					<p:panelGrid>
						<p:row>
							<p:column>
								<cp:treePicker
									componentID="noticeDep"
									model="#{controller.noticeDepTreePicker}"
									menuWidth="300"
									menuHeight="400" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:panelGrid>
									<!-- update 由呼叫者自行在後端 callback 方法實做 -->
									<p:row>
										<p:column>
											<p:commandButton
												value="確定"
												onstart="showLoad();"
												process="@(.dlg_assignNoticeDep)"
												actionListener="#{controller.event_dialog_noticeDepTree_confirm()}"
												update="@(.showDesc_assignNoticeDep)"
												oncomplete="hideLoad();" />
										</p:column>
										<p:column>
											<p:commandButton
												value="關閉"
												process="@this"
												onclick="hidePF('wv_dlg_assignNoticeDep');" />
										</p:column>
									</p:row>
								</p:panelGrid>
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:outputPanel>
			</p:dialog>
		</p:column>
		<!-- 是否閱讀 -->
		<ui:include src="queryCondition_ReadRecordType.xhtml" />
	</p:row>
	<p:row>
		<!-- 查詢欄位:系統別 -->
		<ui:include src="queryCondition_CheckItem.xhtml" />
		<!-- 單據狀態 -->
		<ui:include src="queryCondition_CloseCode.xhtml" />
		<!-- 模糊搜尋 -->
		<p:column styleClass="newsearch-queryCondition-title">
			<h:outputText value="模糊搜尋： " />
		</p:column>
		<p:column styleClass="newsearch-queryCondition-content">
			<p:inputText
				value="#{conditionVO.fuzzyText}"
				style="width: 160px;"
				onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
		</p:column>
		<p:column colspan="3">
			&nbsp;
			&nbsp;
		</p:column>
		<p:column>
			<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center">
				<p:commandButton
					value="搜尋"
					process="@this queryConditionPanel"
					actionListener="#{controller.search()}"
					update="searchBody queryConditionPanel"
					onclick="showLoad();"
					oncomplete="hideLoad();" />
				<div style="width: 10px"></div>
				<p:commandButton
					value="清除"
					process="@this queryConditionPanel"
					actionListener="#{controller.clear()}"
					update="queryConditionPanel"
					onclick="showLoad();"
					oncomplete="hideLoad();" />
			</div>
		</p:column>
	</p:row>
</p:panelGrid>
</html>

