<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:cp="http://java.sun.com/jsf/composite/components"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets">

<p:column styleClass="newsearch-queryCondition-title">
    <h:outputText value="日期區間： " />
</p:column>
<p:column
    colspan="10"
    style="white-space: nowrap;border:0">
    <p:panelGrid style="margin: 0 -1%;">
        <p:row>
            <p:column>
                <p:selectOneMenu value="#{date_range_conditionVO.dateRangeType}">
                    <f:selectItems value="#{date_range_selectItems}" />
                </p:selectOneMenu>
            </p:column>
            <p:column>
                <ui:include src="../components/date_component.xhtml">
                    <ui:param
                        name="startDate"
                        value="#{date_range_conditionVO.startDate}" />
                    <ui:param
                        name="endDate"
                        value="#{date_range_conditionVO.endDate}" />
                    <ui:param
                        name="startDateId"
                        value="startDateByType" />
                    <ui:param
                        name="endDateId"
                        value="endDateByType" />
                </ui:include>
            </p:column>
            <p:column>
                <p:tabMenu
                    id="dateBtn"
                    widgetVar="queryCondition_DateRange_dateBtn"
                    styleClass="queryCondition_DateRange_dateBtn"
                    activeIndex="#{-1}">
                    <p:menuitem value="上個月" />
                    <p:menuitem value="本月份" />
                    <p:menuitem value="下個月" />
                    <p:menuitem value="今日" />
                    <p:menuitem value="清除日期" />
                </p:tabMenu>
            </p:column>
        </p:row>
    </p:panelGrid>
</p:column>
</html>

