<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:cp="http://java.sun.com/jsf/composite/components"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets">

<!-- 轉寄部門 -->
<p:dialog
    header="轉寄部門"
    id="dlg_forwardDep"
    widgetVar="wv_dlg_forwardDep"
    modal="true"
    position="center center-100"
    closeOnEscape="true">
    <p:outputPanel styleClass="dlg_forwardDep">
        <p:panelGrid>
            <p:row>
                <p:column>
                    <cp:treePicker
                        componentID="forwardDep"
                        model="#{controller.forwardDepTreePicker}"
                        menuWidth="300"
                        menuHeight="400" />
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:panelGrid>
                        <!-- update 由呼叫者自行在後端 callback 方法實做 -->
                        <p:row>
                            <p:column>
                                <p:commandButton
                                    value="確定"
                                    onstart="showLoad();"
                                    process="@(.dlg_forwardDep)"
                                    actionListener="#{controller.event_dialog_forwardDepTree_confirm()}"
                                    update="@(.showDesc_forwardDep)"
                                    oncomplete="hideLoad();" />
                            </p:column>
                            <p:column>
                                <p:commandButton
                                    value="關閉"
                                    process="@this"
                                    onclick="hidePF('wv_dlg_forwardDep');" />
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:column>
            </p:row>
        </p:panelGrid>
    </p:outputPanel>
</p:dialog>
</html>

