<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<p:column styleClass="newsearch-queryCondition-title">
	<div>閱讀狀態：</div>
</p:column>
<p:column styleClass="newsearch-queryCondition-content">
	<p:selectOneMenu
		value="#{conditionVO.selectReadRecordType}"
		style="width: 80px;">
		<f:selectItem itemLabel="全部" />
		<f:selectItems value="#{readRecordTypeMBean.getValuesExcept('SYSTEM_UPDATE')}" />
	</p:selectOneMenu>
</p:column>
</html>

