<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<p:column styleClass="newsearch-queryCondition-title">
	<h:outputText value="類別組合： " />
</p:column>
<p:column styleClass="newsearch-queryCondition-content">
	<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">
		<p:commandButton
			icon="ui-icon-search"
			actionListener="#{controller.event_dialog_categoryTree_open()}"
			onclick="showLoad();"
			oncomplete="hideLoad();"
			update="@(.dlg_categoryCollection)"
			process="@this">
		</p:commandButton>
		<p:outputPanel styleClass="showDesc_categoryCollection">
			<div style="color: blue; text-overflow: ellipsis; width: 80px; white-space: nowrap; overflow: hidden;">#{controller.categoryTreePicker.prepareSelectedShowName('未設定')}</div>
		</p:outputPanel>
		<p:tooltip
			styleClass="showDesc_categoryCollection"
			for="@previous"
			value="#{controller.categoryTreePicker.prepareSelectedShowTooltip('未設定', 30)}"
			escape="false">
		</p:tooltip>
	</div>
	<!-- 類別組合選單 -->
	<p:dialog
		header="類別組合"
		id="dlg_categoryCollection"
		widgetVar="wv_dlg_categoryCollection"
		modal="true"
		position="center center-100"
		closeOnEscape="true"
		resizable="false">
		<p:outputPanel styleClass="dlg_categoryCollection">
			<p:panelGrid>
				<p:row>
					<p:column>
						<cp:treePicker
							componentID="categoryCollection"
							model="#{controller.categoryTreePicker}"
							menuWidth="300"
							menuHeight="500" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:panelGrid>
							<p:row>
								<p:column>
									<p:commandButton
										value="確定"
										onstart="showLoad();"
										process="@(.dlg_categoryCollection)"
										actionListener="#{controller.event_dialog_categoryTree_confirm()}"
										update="@(.showDesc_categoryCollection)"
										oncomplete="hideLoad();" />
								</p:column>
								<p:column>
									<p:commandButton
										value="關閉"
										onclick="hidePF('wv_dlg_categoryCollection');" />
								</p:column>
							</p:row>
						</p:panelGrid>
					</p:column>
				</p:row>
			</p:panelGrid>
		</p:outputPanel>
	</p:dialog>
</p:column>

</html>

