<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="收指示" />
	</ui:define>
	<ui:define name="content">
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{home06MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			update="@(.reportUpdateClz)"
			process="@this headerPanel">
		</p:remoteCommand>
		<p:remoteCommand
			name="searchByKeepPage"
			actionListener="#{home06MBean.search()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			update="@(.reportUpdateClz)"
			process="@this headerPanel">
		</p:remoteCommand>
		<!--查詢表頭-->
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{home06MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{commonHeaderMBean.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>
				<p:panelGrid>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="類別：" />
						</p:column>
						<p:column colspan="1">
							<p:selectOneMenu
								value="#{commonHeaderMBean.selectBigCategory}"
								converter="#{categoryConverter}">
								<f:selectItem itemLabel="全部" />
								<f:selectItems
									value="#{categoryMBean.getBigValues()}"
									var="item"
									itemValue="#{item}"
									itemLabel="#{item.name}" />
							</p:selectOneMenu>
						</p:column>
						<p:column colspan="1">
							<p:outputLabel value="是否閱讀：" />
						</p:column>
						<p:column colspan="1">
							<p:selectOneMenu value="#{home06HeaderMBean.selectReadRecordType}">
								<f:selectItem itemLabel="全部" />
								<f:selectItems value="#{readRecordTypeMBean.getValuesExcept('SYSTEM_UPDATE')}" />
							</p:selectOneMenu>
						</p:column>
						<p:column colspan="1">
							<p:outputLabel value="寄發單位：" />
						</p:column>
						<p:column colspan="1">
							<p:commandButton
								icon="fa fa-search"
								actionListener="#{commonHeaderMBean.initForwardOrgTreeByComp(true,false)}"
								onclick='showLoad();'
								oncomplete="PF('dlgOrgTreeForward').show();hideLoad();"
								update="@widgetVar(dlgOrgTreeForward)"
								process="@this" />
						</p:column>
						<!-- 查詢欄位:系統別 -->
						<ui:include src="/search/queryCondition_checkItem_style01.xhtml">
							<ui:param
								name="conditionVO"
								value="#{commonHeaderMBean}" />
						</ui:include>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="主題：" />
						</p:column>
						<p:column colspan="1">
							<p:inputText
								value="#{home06HeaderMBean.theme}"
								onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
						</p:column>
						<p:column colspan="1">
							<p:outputLabel value="內容：" />
						</p:column>
						<p:column colspan="1">
							<p:inputText
								value="#{home06HeaderMBean.content}"
								onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
						</p:column>
						<p:column colspan="1">
							<p:outputLabel value="寄發者：" />
						</p:column>
						<p:column colspan="1">
							<p:inputText
								value="#{home06HeaderMBean.sender}"
								onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
						</p:column>
						<p:column colspan="1">
							<p:outputLabel value="模糊搜尋：" />
						</p:column>
						<p:column colspan="1">
							<p:inputText
								value="#{commonHeaderMBean.fuzzyText}"
								onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
						</p:column>
					</p:row>
					<p:row>

						<p:column colspan="2">
							<p:tabMenu
								id="dateBtn"
								activeIndex="#{commonHeaderMBean.dateTypeIndex}">
								<p:menuitem
									value="上個月"
									actionListener="#{home06HeaderMBean.getDateInterval('PREVIOUS_MONTH')}"
									update="interval @parent"
									process="@this" />
								<p:menuitem
									value="本月份"
									actionListener="#{home06HeaderMBean.getDateInterval('THIS_MONTH')}"
									update="interval @parent"
									process="@this" />
								<p:menuitem
									value="下個月"
									actionListener="#{home06HeaderMBean.getDateInterval('NEXT_MONTH')}"
									update="interval @parent"
									process="@this" />
							</p:tabMenu>
						</p:column>
						<p:column colspan="1">
							<p:outputLabel value="異動區間：" />
						</p:column>
						<p:column colspan="1">
							<h:panelGroup id="interval">
								<ui:include src="../components/date_component.xhtml">
									<ui:param
										name="startDate"
										value="#{commonHeaderMBean.startUpdatedDate}" />
									<ui:param
										name="endDate"
										value="#{commonHeaderMBean.endUpdatedDate}" />
									<ui:param
										name="startDateId"
										value="updateStartDate" />
									<ui:param
										name="endDateId"
										value="updateEndDate" />
								</ui:include>
							</h:panelGroup>
						</p:column>
						<p:column colspan="1">
							<p:panelGrid
								columns="2"
								style="float:right;margin-top: 4px;">
								<p:commandButton
									value="搜尋"
									actionListener="#{home06MBean.search()}"
									onclick="showLoad();selectDataTablePage('wvRequire', 0);"
									oncomplete="hideLoad();"
									update="searchBody toggleSearchBodyPanel"
									process="@this headerPanel" />
								<p:commandButton
									value="清除"
									actionListener="#{home06MBean.clear()}"
									onclick="showLoad();selectDataTablePage('wvRequire', 0);"
									oncomplete="hideLoad();"
									update="headerPanel searchBody"
									process="@this" />
							</p:panelGrid>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:outputPanel>

			<!--查詢表身上的按鈕-->
			<p:panelGrid
				columns="5"
				id="toggleSearchBodyPanel">
				<p:commandButton
					value="#{home06MBean.switchType.typeName}"
					onclick="showLoad()"
					process="@this"
					actionListener="#{home06MBean.toggleSearchBody()}"
					update="@next searchBody toggleSearchBodyPanel"
					oncomplete="hideLoad();"
					rendered="#{not empty home06MBean.queryItems}" />
				<p:commandButton
					value="關聯檢視"
					process="@this"
					class="reportUpdateClz"
					disabled="#{empty home06MBean.queryItems or !home06MBean.querySelection.hasLink}"
					onclick="openInNewTab();"
					oncomplete="replaceUrl('#{home06MBean.getRelevanceViewUrl(home06MBean.querySelection)}');" />
				<p:commandButton
					value="匯出"
					onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
					ajax="false"
					actionListener="#{home06MBean.hideColumnContent()}">
					<p:dataExporter
						type="xls"
						target="#{home06MBean.dataTableId}"
						fileName="report"
						postProcessor="#{home06MBean.exportExcel}" />
				</p:commandButton>
				<p:commandLink
					value="進階搜尋"
					style="color:blue;"
					process="@this" />
				<p:overlayPanel
					widgetVar="olpAdvance"
					for="@previous"
					dismissable="false">
					<p:panelGrid
						columns="2"
						id="pgAdvance">
						<h:outputText value="立單區間：" />
						<h:panelGroup>
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{commonHeaderMBean.startDate}" />
								<ui:param
									name="endDate"
									value="#{commonHeaderMBean.endDate}" />
								<ui:param
									name="startDateId"
									value="createStartDate" />
								<ui:param
									name="endDateId"
									value="createEndDate" />
							</ui:include>
						</h:panelGroup>
						<h:outputText value="需求製作進度： " />
						<p:selectOneMenu value="#{home06HeaderMBean.selectRequireStatusType}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{home06HeaderMBean.getReqStatusItems()}" />
						</p:selectOneMenu>
						<h:outputText value="緊急度：" />
						<p:selectManyCheckbox
							id="basic"
							value="#{commonHeaderMBean.urgencyList}">
							<f:selectItems value="#{urgencyTypeMBean.getTypeValues()}" />
						</p:selectManyCheckbox>
						<h:outputText value="需求單號：" />
						<p:inputText value="#{commonHeaderMBean.requireNo}" />
					</p:panelGrid>
					<p:commandButton
						value="確定"
						process="@parent"
						oncomplete="PF('olpAdvance').hide();doSearchData();" />
					<p:commandButton
						value="取消"
						type="button"
						onclick="PF('olpAdvance').hide()" />
					<p:commandButton
						value="清除"
						process="@this"
						update="pgAdvance"
						actionListener="#{home06HeaderMBean.clearAdvance()}" />
				</p:overlayPanel>
			</p:panelGrid>
		</p:panel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				id="#{home06MBean.dataTableId}"
				widgetVar="wvRequire"
				rendered="#{home06MBean.switchType eq 'CONTENT' and home06MBean.switchFullType != 'FULLCONTENT'}"
				value="#{home06MBean.queryItems}"
				rowKey="#{item.sid}"
				rows="#{customColumnMBean.pageCount}"
				selection="#{home06MBean.querySelection}"
				rowStyleClass="#{searchHelper.appendRowCss(item.urgency, item.readRecordType)}"
				var="item"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				draggableColumns="true"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				class="reportUpdateClz">
				<!-- 全畫面狀態時不渲染 -->
				<p:ajax
					event="rowSelect"
					process="@this"
					update=":formTemplate:toggleSearchBodyPanel" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{home06MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="部"
					width="5">
					<p:commandLink
						value="#{item.hasForwardDep?'★':'　'}"
						actionListener="#{home06MBean.openForwardDialog(item)}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						process="@this"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="個"
					width="5">
					<p:commandLink
						value="#{item.hasForwardMember?'★':'　'}"
						actionListener="#{home06MBean.openForwardDialog(item)}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						process="@this"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="關"
					width="5"
					exportable="false">
					<p:commandLink
						value="#{item.hasLink?'★':'　'}"
						actionListener="#{home06MBean.initRelevance(item)}"
						onclick="showLoad();"
						oncomplete="openDlgRelevance();hideLoad();"
						update=":formTemplate:tvRelevance"
						process="@this"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="追"
					width="5"
					exportable="false"
					rendered="#{customColumnMBean.chekcDataTableColumn('追')}"
					style="width:#{empty customColumnMBean.getColumnWidth('追')?
                                         '10':
                                         customColumnMBean.getColumnWidth('追')}px">
					<p:commandLink
						value="#{item.hasTrace?'★':'　'}"
						onstart="showLoad();"
						oncomplete="showPF('dlgTraceAction');hideLoad();"
						process="@this"
						update=":formTemplate:dlgTraceAction_view"
						actionListener="#{home06MBean.btnAddTrack(item)}"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="寄發單位"
					sortBy="#{orgBean.name(item.senderDep)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('寄發單位')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('寄發單位')?
                                          '60':
                                          customColumnMBean.getColumnWidth('寄發單位')}px">
					<h:outputText value="#{orgBean.name(item.senderDep)}" />
				</p:column>
				<p:column
					headerText="寄發者"
					sortBy="#{usrBean.name(item.sender)}"
					rendered="#{customColumnMBean.chekcDataTableColumn('寄發者')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('寄發者')?
                                          '60':
                                          customColumnMBean.getColumnWidth('寄發者')}px">
					<h:outputText value="#{usrBean.name(item.sender)}" />
				</p:column>
				<p:column
					headerText="寄發時間"
					sortBy="#{item.createdDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('寄發時間')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('寄發時間')?
                                          '63':
                                          customColumnMBean.getColumnWidth('寄發時間')}px">
					<h:outputText value="#{item.createdDate}">
						<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
					</h:outputText>
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="/search/result_column_checkItems.xhtml">
					<ui:param
						name="require"
						value="#{item}" />
				</ui:include>
				<p:column
					headerText="類型"
					sortBy="#{item.bigName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('類型')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('類型')?
                                          '105':
                                          customColumnMBean.getColumnWidth('類型')}px">
					<h:outputText value="#{item.bigName}" />
				</p:column>
				<p:column
					headerText="主題"
					sortBy="#{item.requireTheme}">
					<p:commandButton
						icon="fa fa-search"
						actionListener="#{home06MBean.btnOpenUrl(home06MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,item)}"
						onclick="openWinByStore('#{index+1}-#{item.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{item.requireNo}','#{item.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{item.requireTheme}"
						styleClass="blueAndUnderline"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						process="@this"
						actionListener="#{home06MBean.fullScreenForm(item)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();" />
					<p:tooltip
						for="@previous"
						widgetVar="tooltip#{index+1}"
						rendered="#{home06MBean.hasDisplay}"
						value="#{item.requireTheme}"
						trackMouse="true" />
				</p:column>
				<p:column
					headerText="異動日期"
					sortBy="#{item.requireUpdatedDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('異動日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('異動日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('異動日期')}px">
					<h:outputText value="#{item.requireUpdatedDate}">
						<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="是否閱讀"
					sortBy="#{item.getReadRecordType}"
					exportable="false"
					rendered="#{customColumnMBean.chekcDataTableColumn('是否閱讀')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('是否閱讀')?
                                          '60':
                                          customColumnMBean.getColumnWidth('是否閱讀')}px">
					<h:outputText
						value="#{item.getReadRecordTypeDescr()}"
						styleClass="isReadClz #{item.getReadRecordTypeDescr() eq '待閱讀'?
                                                          'redColorAndBoldFont':
                                                          ''}" />
				</p:column>
			</p:dataTable>

			<p:outputPanel rendered="#{home06MBean.switchType eq 'DETAIL'}">
				<p:dataTable
					id="#{home06MBean.dataTableId}1"
					rendered="#{home06MBean.switchFullType != 'FULLCONTENT'}"
					value="#{home06MBean.queryItems}"
					selection="#{home06MBean.querySelection}"
					rowStyleClass="#{searchHelper.appendRowCss(item.urgency, item.readRecordType)}"
					rowKey="#{item.sid}"
					var="item"
					rowIndexVar="index"
					scrollHeight="470"
					scrollable="true"
					paginator="true"
					rows="50"
					draggableColumns="true"
					resizableColumns="true"
					selectionMode="single"
					style="width: 35%;float: left;margin-right: 2px;"
					class="reportUpdateClz">
					<!-- 點選更新需求單明細 -->
					<p:ajax
						event="rowSelect"
						listener="#{home06MBean.onRowSelect}"
						onstart="showLoad();"
						oncomplete="hideLoad();"
						update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId req05botmid"
						process="@this" />
					<p:ajax
						event="colReorder"
						update="@parent" />
					<p:column
						headerText="序"
						width="5">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="部"
						width="5">
						<p:commandLink
							value="#{item.hasForwardDep?'★':'　'}"
							actionListener="#{home06MBean.openForwardDialog(item)}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							process="@this"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="個"
						width="5">
						<p:commandLink
							value="#{item.hasForwardMember?'★':'　'}"
							actionListener="#{home06MBean.openForwardDialog(item)}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							process="@this"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="關"
						width="5">
						<p:commandLink
							value="#{item.hasLink?'★':'　'}"
							actionListener="#{require01MBean.relevanceMBean.initRelevance}"
							onclick="showLoad();"
							oncomplete="openDlgRelevance();hideLoad();"
							update=":formTemplate:tvRelevance"
							process="@this"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="追"
						width="5"
						exportable="false"
						rendered="#{customColumnMBean.chekcDataTableColumn('追')}"
						style="width:#{empty customColumnMBean.getColumnWidth('追')?
                                             '10':
                                             customColumnMBean.getColumnWidth('追')}px">
						<p:commandLink
							value="#{item.hasTrace?'★':'　'}"
							onstart="showLoad();"
							oncomplete="showPF('dlgTraceAction');hideLoad();"
							process="@this"
							update=":formTemplate:dlgTraceAction_view"
							actionListener="#{home06MBean.btnAddTrack(item)}"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="寄發單位"
						sortBy="#{orgBean.name(item.senderDep)}"
						width="50">
						<h:outputText value="#{orgBean.name(item.senderDep)}" />
					</p:column>
					<p:column
						headerText="寄發者"
						sortBy="#{usrBean.name(item.sender)}"
						width="50">
						<h:outputText value="#{usrBean.name(item.sender)}" />
					</p:column>
					<p:column
						headerText="主題"
						sortBy="#{item.requireTheme}">
						<p:commandButton
							icon="fa fa-search"
							rendered="#{home06MBean.hasDisplay}"
							actionListener="#{home06MBean.btnOpenUrl(home06MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,item)}"
							onclick="openWinByStore('#{index+1}-#{item.requireNo}');"
							oncomplete="replaceUrlByStore('#{index+1}-#{item.requireNo}','#{item.localUrlLink}');"
							process="@this" />
						<h:outputText
							id="dtRequire_requireTheme"
							value="#{item.requireTheme}" />
						<p:tooltip
							for="dtRequire_requireTheme"
							rendered="#{home06MBean.hasDisplay}"
							value="#{item.requireTheme}"
							trackMouse="true" />
					</p:column>
					<p:column
						headerText="異動日期"
						sortBy="#{item.requireUpdatedDate}"
						width="50">
						<h:outputText value="#{item.requireUpdatedDate}">
							<f:convertDateTime pattern="yyyy/MM/dd" />
						</h:outputText>
					</p:column>
				</p:dataTable>

				<!-- 需求單內容 -->
				<p:outputPanel style="width: #{home06MBean.switchFullType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{home06MBean.switchFullType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
					<!-- 收件夾明細 -->
					<c:if test="#{home06MBean.switchFullType eq 'FULLCONTENT'}">
						<ui:include src="../require/require05.xhtml">
							<ui:param
								name="searchMBean"
								value="#{home06MBean}" />
						</ui:include>
					</c:if>
					<c:if test="#{home06MBean.switchFullType eq 'DETAIL'}">
						<ui:include src="../require/require05_detail.xhtml">
							<ui:param
								name="searchMBean"
								value="#{home06MBean}" />
						</ui:include>
					</c:if>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>
		<!-- 報表共用 -->
		<ui:include src="../search/report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{home06MBean}" />
		</ui:include>
		<!--報表組織樹 for 進階搜尋(轉發至)-->
		<cp:report_org_tree_forward
			widgetVar="dlgOrgTreeForward"
			commonHeaderMBean="#{commonHeaderMBean}"
			organizationTreeMBean="#{organizationTreeMBean}" />


	</ui:define>
</ui:composition>

