<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateByReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="寄件備份" />
	</ui:define>
	<ui:define name="content">
		<script type="text/javascript">
            //點閱讀明細時觸發
            function openReadMsgDetailDlgFun(event) {
                openReadMsgDetailDlgCommand([{name: 'readInboxIdx', value: event}]);
            }
        </script>
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{home03MBean.search()}"
			onstart="showLoad();selectDataTablePage('wvRequire', 0);"
			oncomplete="hideLoad();"
			process="@this headerPanel"
			update="@(.reportUpdateClz)" />
		<p:remoteCommand
			name="searchByKeepPage"
			actionListener="#{home03MBean.search()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			process="@this headerPanel"
			update="@(.reportUpdateClz)" />
		<p:remoteCommand
			name="openReadMsgDetailDlgCommand"
			onstart="showLoad();"
			update="readMsgDetailId"
			oncomplete="hideLoad();PF('readMsgDetailWv').show();"
			actionListener="#{home03MBean.handlerReadMsgDetail}" />
		<!--查詢表頭-->
		<!-- 全畫面狀態時不渲染 -->
		<p:panel
			id="headerTitle"
			rendered="#{home03MBean.switchFullType != 'FULLCONTENT'}"
			style="border:none">
			<p:outputPanel id="headerPanel">
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="報表類型： #{commonHeaderMBean.reportType.reportName}"
						styleClass="reportTypeColor" />
				</p:outputPanel>
				<p:panelGrid>
					<p:row>
						<p:column colspan="1">
							<p:outputLabel value="類別：" />
						</p:column>
						<p:column colspan="1">
							<p:selectOneMenu
								value="#{commonHeaderMBean.selectBigCategory}"
								converter="#{categoryConverter}">
								<f:selectItem itemLabel="全部" />
								<f:selectItems
									value="#{categoryMBean.getBigValues()}"
									var="item"
									itemValue="#{item}"
									itemLabel="#{item.name}" />
							</p:selectOneMenu>
						</p:column>
						<p:column colspan="1">
							<p:outputLabel value="是否閱讀：" />
						</p:column>
						<p:column colspan="1">
							<p:selectOneMenu value="#{home03HeaderMBean.selectReadRecordType}">
								<f:selectItem itemLabel="全部" />
								<f:selectItems value="#{readRecordTypeMBean.getValuesExcept('SYSTEM_UPDATE')}" />
							</p:selectOneMenu>
						</p:column>
						<p:column colspan="5">
							<p:panelGrid>
								<p:row>
									<p:column colspan="1">
										<p:outputLabel
											value="寄發類型："
											style="margin-left: -7px" />
									</p:column>
									<p:column colspan="1">
										<p:selectOneMenu value="#{home03HeaderMBean.selectForwardType}">
											<f:selectItem itemLabel="全部" />
											<f:selectItems value="#{home03HeaderMBean.getForwardTypeItems()}" />
										</p:selectOneMenu>
									</p:column>
									<p:column colspan="1">
										<p:outputLabel value="寄發至：" />
									</p:column>
									<p:column colspan="1">
										<p:commandButton
											icon="fa fa-search"
											process="@this"
											update="@widgetVar(dlgOrgTree)"
											actionListener="#{commonHeaderMBean.initOrgTree(true,false,true)}"
											onclick='showLoad();'
											oncomplete="PF('dlgOrgTree').show();hideLoad();" />
									</p:column>

									<!-- 查詢欄位:系統別 -->
									<p:column colspan="1">
										<ui:include src="/search/queryCondition_checkItem_style02.xhtml">
											<ui:param
												name="conditionVO"
												value="#{commonHeaderMBean}" />
										</ui:include>
									</p:column>
								</p:row>
							</p:panelGrid>
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<h:outputText value="主題： " />
						</p:column>
						<p:column colspan="1">
							<p:inputText
								value="#{home03HeaderMBean.theme}"
								onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
						</p:column>
						<p:column colspan="1">
							<h:outputText value="內容： " />
						</p:column>
						<p:column colspan="1">
							<p:inputText
								value="#{home03HeaderMBean.content}"
								onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
						</p:column>
						<p:column colspan="1">
							<h:outputText value="收件者： " />
						</p:column>
						<p:column colspan="1">
							<p:inputText
								value="#{home03HeaderMBean.receive}"
								onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
						</p:column>
					</p:row>
					<p:row>
						<p:column colspan="1">
							<h:outputText value="模糊搜尋： " />
						</p:column>
						<p:column colspan="1">
							<p:inputText
								value="#{commonHeaderMBean.fuzzyText}"
								onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
						</p:column>
						<p:column colspan="2">
							<p:tabMenu
								id="dateBtn"
								activeIndex="#{commonHeaderMBean.dateTypeIndex}">
								<p:menuitem
									value="上個月"
									process="@this"
									update="interval @parent"
									actionListener="#{home03HeaderMBean.getDateInterval('PREVIOUS_MONTH')}" />
								<p:menuitem
									value="本月份"
									process="@this"
									update="interval @parent"
									actionListener="#{home03HeaderMBean.getDateInterval('THIS_MONTH')}" />
								<p:menuitem
									value="下個月"
									process="@this"
									update="interval @parent"
									actionListener="#{home03HeaderMBean.getDateInterval('NEXT_MONTH')}" />
							</p:tabMenu>
						</p:column>
						<p:column colspan="1">
							<h:outputText value="異動區間： " />
						</p:column>
						<p:column colspan="1">
							<h:panelGroup id="interval">
								<h:outputText value="異動區間： " />
								<ui:include src="../components/date_component.xhtml">
									<ui:param
										name="startDate"
										value="#{commonHeaderMBean.startUpdatedDate}" />
									<ui:param
										name="endDate"
										value="#{commonHeaderMBean.endUpdatedDate}" />
									<ui:param
										name="startDateId"
										value="updateStartDate" />
									<ui:param
										name="endDateId"
										value="updateEndDate" />
								</ui:include>
							</h:panelGroup>
						</p:column>
						<p:column colspan="1">
							<p:panelGrid
								columns="2"
								style="float:left;margin-top: 4px;">
								<p:commandButton
									value="搜尋"
									process="@this headerPanel"
									update="searchBody toggleSearchBodyPanel"
									actionListener="#{home03MBean.search()}"
									onclick="showLoad();selectDataTablePage('wvRequire', 0);"
									oncomplete="hideLoad();" />
								<p:commandButton
									value="清除"
									actionListener="#{home03MBean.clear()}"
									onclick="showLoad();selectDataTablePage('wvRequire', 0);"
									oncomplete="hideLoad();"
									update="headerPanel pgAdvance searchBody"
									process="@this" />
							</p:panelGrid>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:outputPanel>

			<!--查詢表身上的按鈕-->
			<p:panelGrid
				columns="5"
				id="toggleSearchBodyPanel">
				<p:commandButton
					value="#{home03MBean.switchType.typeName}"
					onclick="showLoad()"
					process="@this"
					actionListener="#{home03MBean.toggleSearchBody()}"
					update="@next searchBody toggleSearchBodyPanel"
					oncomplete="hideLoad();"
					rendered="#{not empty home03MBean.queryItems}" />
				<p:commandButton
					value="關聯檢視"
					process="@this"
					class="reportUpdateClz"
					disabled="#{empty home03MBean.queryItems or !home03MBean.querySelection.hasLink}"
					onclick="openInNewTab();"
					oncomplete="replaceUrl('#{home03MBean.getRelevanceViewUrl(home03MBean.querySelection)}');" />
				<p:commandButton
					value="匯出"
					onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
					ajax="false"
					actionListener="#{home03MBean.hideColumnContent()}">
					<p:dataExporter
						type="xls"
						target="#{home03MBean.dataTableId}"
						fileName="report"
						postProcessor="#{home03MBean.exportExcel}" />
				</p:commandButton>
				<p:commandLink
					value="進階搜尋"
					style="color:blue;"
					process="@this" />
				<p:overlayPanel
					widgetVar="olpAdvance"
					for="@previous"
					dismissable="false">
					<p:panelGrid
						columns="2"
						id="pgAdvance">
						<h:outputText value="立單區間：" />
						<h:panelGroup>
							<ui:include src="../components/date_component.xhtml">
								<ui:param
									name="startDate"
									value="#{commonHeaderMBean.startDate}" />
								<ui:param
									name="endDate"
									value="#{commonHeaderMBean.endDate}" />
								<ui:param
									name="startDateId"
									value="createStartDate" />
								<ui:param
									name="endDateId"
									value="createEndDate" />
							</ui:include>
						</h:panelGroup>
						<h:outputText value="需求製作進度： " />
						<p:selectOneMenu value="#{home03HeaderMBean.selectRequireStatusType}">
							<f:selectItem itemLabel="全部" />
							<f:selectItems value="#{home03HeaderMBean.getReqStatusItems()}" />
						</p:selectOneMenu>
						<h:outputText value="緊急度：" />
						<p:selectManyCheckbox
							id="basic"
							value="#{commonHeaderMBean.urgencyList}">
							<f:selectItems value="#{urgencyTypeMBean.getTypeValues()}" />
						</p:selectManyCheckbox>
						<h:outputText value="需求單號：" />
						<p:inputText value="#{commonHeaderMBean.requireNo}" />
					</p:panelGrid>
					<p:commandButton
						value="確定"
						process="@parent"
						oncomplete="PF('olpAdvance').hide();doSearchData();" />
					<p:commandButton
						value="取消"
						type="button"
						onclick="PF('olpAdvance').hide()" />
					<p:commandButton
						value="清除"
						process="@this"
						update="pgAdvance"
						actionListener="#{home03HeaderMBean.clearAdvance()}" />
				</p:overlayPanel>
			</p:panelGrid>
		</p:panel>

		<p:outputPanel
			id="searchBody"
			style="overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				id="#{home03MBean.dataTableId}"
				widgetVar="wvRequire"
				value="#{home03MBean.queryItems}"
				var="item"
				rowKey="#{item.sid}"
				rowIndexVar="index"
				scrollHeight="450"
				scrollable="true"
				paginator="true"
				rows="#{customColumnMBean.pageCount}"
				draggableColumns="true"
				class="reportUpdateClz"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single"
				selection="#{home03MBean.querySelection}"
				rowStyleClass="#{searchHelper.appendRowCss(item.urgency, item.readRecordType)}"
				rendered="#{home03MBean.switchType eq 'CONTENT' and home03MBean.switchFullType != 'FULLCONTENT'}">
				<!-- 全畫面狀態時不渲染 -->
				<p:ajax
					event="rowSelect"
					process="@this"
					update=":formTemplate:toggleSearchBodyPanel" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<p:ajax
					event="colResize"
					listener="#{customColumnMBean.showWithSaveBtnToTrue}"
					update="@(.customColumnClz)"
					process="@this" />
				<f:facet name="header">
					<ui:include src="../search/custom_colum_table_title.xhtml">
						<ui:param
							name="reportDataTableId"
							value="#{home03MBean.dataTableId}" />
					</ui:include>
				</f:facet>
				<p:column
					headerText="序"
					width="5">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="部"
					width="5">
					<p:commandLink
						value="#{item.hasForwardDep?'★':'　'}"
						actionListener="#{home03MBean.openForwardDialog(item)}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						process="@this"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="個"
					width="5">
					<p:commandLink
						value="#{item.hasForwardMember?'★':'　'}"
						actionListener="#{home03MBean.openForwardDialog(item)}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						process="@this"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="關"
					width="5"
					exportable="false">
					<p:commandLink
						value="#{item.hasLink?'★':'　'}"
						onclick="showLoad();"
						oncomplete="openDlgRelevance();hideLoad();"
						process="@this"
						update=":formTemplate:tvRelevance"
						actionListener="#{home03MBean.initRelevance(item)}"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="追"
					width="5"
					exportable="false"
					rendered="#{customColumnMBean.chekcDataTableColumn('追')}"
					style="width:#{empty customColumnMBean.getColumnWidth('追')?
                                         '10':
                                         customColumnMBean.getColumnWidth('追')}px">
					<p:commandLink
						value="#{item.hasTrace?'★':'　'}"
						onstart="showLoad();"
						oncomplete="showPF('dlgTraceAction');hideLoad();"
						process="@this"
						update=":formTemplate:dlgTraceAction_view"
						actionListener="#{home03MBean.btnAddTrack(item)}"
						style="color: red">
					</p:commandLink>
				</p:column>
				<p:column
					headerText="寄發類型"
					sortBy="#{item.forwardType}"
					rendered="#{customColumnMBean.chekcDataTableColumn('寄發類型')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('寄發類型')?
                                          '60':
                                          customColumnMBean.getColumnWidth('寄發類型')}px">
					<h:outputText value="#{commonBean.get(item.forwardType)}" />
				</p:column>
				<p:column
					headerText="寄發至"
					sortBy="#{item.sendTo}"
					rendered="#{customColumnMBean.chekcDataTableColumn('寄發至')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('寄發至')?
                                          '60':
                                          customColumnMBean.getColumnWidth('寄發至')}px">
					<h:outputText
						id="dtRequire_sendTo"
						value="#{item.sendTo}" />
					<p:tooltip
						for="dtRequire_sendTo"
						value="#{item.sendTo}"
						trackMouse="true"
						rendered="#{home03MBean.hasDisplay}" />
				</p:column>
				<p:column
					headerText="寄發時間"
					sortBy="#{item.createdDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('寄發時間')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('寄發時間')?
                                          '63':
                                          customColumnMBean.getColumnWidth('寄發時間')}px">
					<h:outputText value="#{item.createdDate}">
						<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
					</h:outputText>
				</p:column>
				<!-- 查詢結果欄位:系統別 -->
				<ui:include src="/search/result_column_checkItems.xhtml">
					<ui:param
						name="require"
						value="#{item}" />
				</ui:include>
				<p:column
					headerText="類型"
					sortBy="#{item.bigName}"
					rendered="#{customColumnMBean.chekcDataTableColumn('類型')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('類型')?
                                          '105':
                                          customColumnMBean.getColumnWidth('類型')}px">
					<h:outputText value="#{item.bigName}" />
				</p:column>
				<p:column
					headerText="主題"
					sortBy="#{item.requireTheme}">
					<p:commandButton
						icon="fa fa-search"
						rendered="#{home03MBean.hasDisplay}"
						actionListener="#{home03MBean.btnOpenUrl(home03MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,item)}"
						onclick="openWinByStore('#{index+1}-#{item.requireNo}');"
						oncomplete="replaceUrlByStore('#{index+1}-#{item.requireNo}','#{item.localUrlLink}');"
						process="@this" />
					<p:commandLink
						value="#{item.requireTheme}"
						styleClass="blueAndUnderline"
						onclick="showLoad();PF('tooltip#{index+1}').hide();"
						process="@this"
						actionListener="#{home03MBean.fullScreenForm(item)}"
						update=":formTemplate:headerTitle :formTemplate:searchBody"
						oncomplete="hideHeaderTitle();hideLoad();" />
					<p:tooltip
						widgetVar="tooltip#{index+1}"
						for="@previous"
						value="#{item.requireTheme}"
						trackMouse="true"
						rendered="#{home03MBean.hasDisplay}" />
				</p:column>
				<p:column
					headerText="異動日期"
					sortBy="#{item.requireUpdatedDate}"
					rendered="#{customColumnMBean.chekcDataTableColumn('異動日期')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('異動日期')?
                                          '63':
                                          customColumnMBean.getColumnWidth('異動日期')}px">
					<h:outputText value="#{item.requireUpdatedDate}">
						<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="訊息閱讀人數"
					sortBy="#{home03MBean.findReadMsgCnt(item)}"
					exportable="false"
					rendered="#{customColumnMBean.chekcDataTableColumn('訊息閱讀人數')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('訊息閱讀人數')?
                                          '85':
                                          customColumnMBean.getColumnWidth('訊息閱讀人數')}px">
					<p:outputLabel
						value="#{home03MBean.findReadMsgCnt(item)}"
						onmousemove="openReadMsgDetailDlgFun(#{index});" />
				</p:column>
				<p:column
					headerText="是否閱讀"
					sortBy="#{item.getReadRecordType}"
					exportable="false"
					rendered="#{customColumnMBean.chekcDataTableColumn('是否閱讀')}"
					style=" width:#{empty customColumnMBean.getColumnWidth('是否閱讀')?
                                          '60':
                                          customColumnMBean.getColumnWidth('是否閱讀')}px">
					<h:outputText
						value="#{item.getReadRecordTypeDescr()}"
						styleClass="isReadClz #{item.getReadRecordTypeDescr() eq '待閱讀'?
                                                          'redColorAndBoldFont':
                                                          ''}" />
				</p:column>
			</p:dataTable>

			<p:outputPanel rendered="#{home03MBean.switchType eq 'DETAIL'}">
				<p:dataTable
					id="#{home03MBean.dataTableId}1"
					value="#{home03MBean.queryItems}"
					var="item"
					rowKey="#{item.sid}"
					rowIndexVar="index"
					scrollHeight="470"
					scrollable="true"
					paginator="true"
					rows="50"
					draggableColumns="true"
					class="reportUpdateClz"
					resizableColumns="true"
					selectionMode="single"
					selection="#{home03MBean.querySelection}"
					style="width: 35%;float: left;margin-right: 2px;"
					rowStyleClass="#{searchHelper.appendRowCss(item.urgency, item.readRecordType)}"
					rendered="#{home03MBean.switchFullType != 'FULLCONTENT'}">
					<!-- 點選更新需求單明細 -->
					<p:ajax
						event="rowSelect"
						onstart="showLoad();"
						process="@this"
						listener="#{home03MBean.onRowSelect}"
						update="@(.reportUpdateClz) title_info_click_btn_id require01_title_info_id require_template_id viewPanelBottomInfoId req03botmid"
						oncomplete="hideLoad();" />
					<p:ajax
						event="colReorder"
						update="@parent" />
					<p:column
						headerText="序"
						width="5">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="部"
						width="5"
						exportable="false">
						<p:commandLink
							value="#{require.hasForwardDep?'★':'　'}"
							actionListener="#{home03MBean.openForwardDialog(item)}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							process="@this"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="個"
						width="5"
						exportable="false">
						<p:commandLink
							value="#{require.hasForwardMember?'★':'　'}"
							actionListener="#{home03MBean.openForwardDialog(item)}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							process="@this"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="關"
						width="5">
						<p:commandLink
							value="#{item.hasLink?'★':'　'}"
							onclick="showLoad();"
							oncomplete="openDlgRelevance();hideLoad();"
							process="@this"
							update=":formTemplate:tvRelevance"
							actionListener="#{require01MBean.relevanceMBean.initRelevance}"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="追"
						width="5"
						exportable="false"
						rendered="#{customColumnMBean.chekcDataTableColumn('追')}"
						style="width:#{empty customColumnMBean.getColumnWidth('追')?
                                             '10':
                                             customColumnMBean.getColumnWidth('追')}px">
						<p:commandLink
							value="#{item.hasTrace?'★':'　'}"
							onstart="showLoad();"
							oncomplete="showPF('dlgTraceAction');hideLoad();"
							process="@this"
							update=":formTemplate:dlgTraceAction_view"
							actionListener="#{home03MBean.btnAddTrack(item)}"
							style="color: red">
						</p:commandLink>
					</p:column>
					<p:column
						headerText="寄發至"
						sortBy="#{item.sendTo}"
						rendered="#{customColumnMBean.chekcDataTableColumn('寄發至')}"
						style=" width:#{customColumnMBean.getColumnWidth('寄發至')}px">
						<h:outputText
							id="dtRequire1_sendTo"
							value="#{item.sendTo}" />
						<p:tooltip
							for="dtRequire1_sendTo"
							value="#{item.sendTo}"
							trackMouse="true"
							rendered="#{home03MBean.hasDisplay}" />
					</p:column>
					<!--寄發者-->
					<p:column
						headerText="主題"
						sortBy="#{item.requireTheme}">
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{home03MBean.btnOpenUrl(home03MBean.dataTableId,'wvRequire',customColumnMBean.pageCount,item)}"
							onclick="openWinByStore('#{index+1}-#{item.requireNo}');"
							oncomplete="replaceUrlByStore('#{index+1}-#{item.requireNo}','#{item.localUrlLink}');"
							process="@this" />
						<h:outputText
							id="dtRequire1_requireTheme"
							value="#{item.requireTheme}" />
						<p:tooltip
							for="dtRequire1_requireTheme"
							value="#{item.requireTheme}"
							trackMouse="true"
							rendered="#{home03MBean.hasDisplay}" />
					</p:column>
				</p:dataTable>


				<p:outputPanel style="width: #{home03MBean.switchFullType eq 'FULLCONTENT'? '100%' : '64%'};height:  #{home03MBean.switchFullType eq 'FULLCONTENT'? '100%' : '550px'}; float: left;">
					<!-- 收件夾明細 -->
					<c:if test="#{home03MBean.switchFullType eq 'FULLCONTENT'}">
						<ui:include src="../require/require03.xhtml">
							<ui:param
								name="searchMBean"
								value="#{home03MBean}" />
						</ui:include>
					</c:if>
					<c:if test="#{home03MBean.switchFullType eq 'DETAIL'}">
						<ui:include src="../require/require03_detail.xhtml">
							<ui:param
								name="searchMBean"
								value="#{home03MBean}" />
						</ui:include>
					</c:if>
				</p:outputPanel>
			</p:outputPanel>
		</p:outputPanel>
		<!-- 報表共用 -->
		<ui:include src="../search/report_common_include.xhtml">
			<ui:param
				name="currReportMBean"
				value="#{home03MBean}" />
		</ui:include>

		<!--報表組織樹-->
		<cp:report_org_tree
			widgetVar="dlgOrgTree"
			commonHeaderMBean="#{commonHeaderMBean}"
			organizationTreeMBean="#{organizationTreeMBean}" />
		<!--報表組織樹 for 進階搜尋(轉發至)-->
		<cp:report_org_tree_forward
			widgetVar="dlgOrgTreeForward"
			commonHeaderMBean="#{commonHeaderMBean}"
			organizationTreeMBean="#{organizationTreeMBean}" />
		<p:dialog
			header="訊息點閱狀況"
			widgetVar="readMsgDetailWv"
			modal="true"
			resizable="false"
			position="right top">
			<p:hotkey
				bind="esc"
				handler="PF('readMsgDetailWv').hide();" />
			<p:panel
				id="readMsgDetailId"
				style="border:none; width: 720px;">
				<c:set
					value="#{home03MBean.createReadMsg()}"
					var="readMsgTo" />
				<p:dataTable
					value="#{readMsgTo.values}"
					var="item"
					rowKey="#{item.userSid}"
					rowIndexVar="index"
					scrollHeight="250"
					scrollable="true"
					paginator="true"
					rows="20">
					<p:column
						headerText="序"
						width="10%">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="部門"
						width="25%">
						<h:outputText value="#{orgBean.nameByUsr(item.userSid)}" />
					</p:column>
					<p:column
						headerText="使用者暱稱"
						width="25%">
						<h:outputText value="#{usrBean.name(item.userSid)}" />
					</p:column>
					<p:column headerText="點閱時間">
						<h:outputText value="#{item.readDateTime}">
							<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
						</h:outputText>
					</p:column>
				</p:dataTable>
				<br />
				<p:panelGrid
					columns="1"
					styleClass="width100 marginTop10">
					<p:panelGrid
						columns="1"
						styleClass="alignRight">
						<p:outputLabel value="應點閱人數：#{readMsgTo.findTotalSizeStr()}人" />
						<p:outputLabel value="已點閱人數：#{readMsgTo.findReadSizeStr()}人" />
					</p:panelGrid>
				</p:panelGrid>
				<p:commandButton
					value="關閉"
					onclick="PF('readMsgDetailWv').hide();" />
			</p:panel>
		</p:dialog>


	</ui:define>
</ui:composition>

