<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/template1.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="需求單首頁" />
	</ui:define>
	<ui:define name="content">
		<script>
            // 15分鐘reload最新通知
            setInterval(function () {
                location.reload();
            }, 15 * 60 * 1000);
        </script>
		<p:outputPanel
			rendered="#{workBackendParamHelper.isQAUser(loginBean.getUser())}">
			<p:commandButton
				value="標示為已閱讀"
				style="margin-left:20px;"
				actionListener="#{notificationMBean.markRead()}"
				onstart="showLoad();"
				oncomplete="hideLoad();"
				process="@this"
				update="@this notificationList" />

			<p:dataTable
				id="notificationList"
				widgetVar="wv_notificationList"
				value="#{notificationMBean.resultList}"
				var="vo"
				rowIndexVar="index"
				style="margin:20px;">
				<f:facet name="header">
					<p:outputPanel style="text-align:left;">
						<h:outputText value="最新通知" />
					</p:outputPanel>
				</f:facet>
				<p:column
					headerText="序"
					width="30"
					style="text-align:center;">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column width="22">
					<f:facet name="header">
						<p:selectBooleanCheckbox
							value="#{notificationMBean.selectedAll}"
							class="updateClz_selectedAll">
							<p:ajax
								listener="#{notificationMBean.checkBySelectedAll()}"
								onstart="showLoad();"
								oncomplete="hideLoad();"
								process="@this"
								update="@(.updateClz_checkbox)" />
						</p:selectBooleanCheckbox>
					</f:facet>
					<p:selectBooleanCheckbox
						value="#{vo.checked}"
						class="updateClz_checkbox">
						<p:ajax
							listener="#{notificationMBean.checkBySingle(vo)}"
							process="@this"
							update="@(.updateClz_selectedAll)" />
					</p:selectBooleanCheckbox>
				</p:column>
				<p:column
					headerText="通知時間"
					width="100">
					<h:outputText value="#{vo.createdDate}">
						<f:convertDateTime pattern="yyyy-MM-dd HH:mm" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="通知事件"
					width="90">
					<h:outputText value="#{vo.eventType.label}" />
				</p:column>
				<p:column
					headerText="通知事件描述"
					width="100"
					style="word-break: keep-all;">
					<h:outputText value="#{vo.eventDesc}" />
				</p:column>
				<p:column
					headerText="通知人員"
					width="90">
					<h:outputText value="#{vo.createdUser.name}" />
				</p:column>
				<p:column headerText="主題">
					<p:commandLink
						value="#{vo.sourceTheme}"
						styleClass="blueAndUnderline"
						process="@this"
						update="@this"
						onclick="window.open('#{vo.url}', '_blank');" />
				</p:column>
			</p:dataTable>
		</p:outputPanel>
	</ui:define>
</ui:composition>

