<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="../template/template1.xhtml">
	<ui:define name="title">
		<h:outputText value="技術需求單" />
	</ui:define>
	<ui:define name="content">
		<style>
/*修正登入資訊偏上問題*/
.portal-title-bar .ui-menubar-options {
	padding-top: 6px !important;
}
</style>
		<script type="text/javascript">
            var doLock = false;
            var menuitemId = 'menuitemId';
            var menuType = 'HOME';
            //菜單型態
            if (getUrlParameter('type') != null) {
                menuType = getUrlParameter('type');
            }
            //是否鎖定功能清單
            if (getUrlParameter('lock') != null) {
                doLock = getUrlParameter('lock') == 'true';
            }
            //點選的功能itemid
            if (getUrlParameter('menuitemId') != null) {
                menuitemId = getUrlParameter('menuitemId');
            }
            //隱藏West Layout
            function hideWestLayout() {
                PF('layout').hide('west');
            }
            //顯示West Layout
            function showWestLayout() {
                PF('layout').show('west');
                toggleLayout('none');
            }
            //展開左邊的menuitem
            function expandPanelMenu() {
                $(".ui-panelmenu-content").css("display", "block");
                $(".ui-panelmenu-header").addClass("ui-state-active");
                $(".ui-icon-triangle-1-e").removeClass("ui-icon-triangle-1-e").addClass("ui-icon-triangle-1-s");
            }
            //關閉左邊的menuitem
            function hidePanelMenu() {
                $(".ui-panelmenu-content").css("display", "none");
                $(".ui-panelmenu-header").removeClass("ui-state-active");
                $(".ui-icon-triangle-1-e").addClass("ui-icon-triangle-1-e").removeClass("ui-icon-triangle-1-s");
            }
            //鎖定功能清單
            function lockList() {
                doLock = false;
                hideLockBtn();
            }
            //解鎖功能清單
            function unLockList() {
                doLock = true;
                hideLockBtn();
            }
            //隱藏所對應的鎖定按鈕
            function hideLockBtn() {
                if (doLock) {
                    getElementId("btnLock").css({'display': ''});
                    getElementId("btnUnLock").css({'display': 'none'});
                } else {
                    getElementId("btnLock").css({'display': 'none'});
                    getElementId("btnUnLock").css({'display': ''});
                }
            }
            //放大West Layout
            function toggleLayoutByBlock() {
                if (!doLock) {
                    toggleLayout('block');
                }
            }
            function toggleLayout(obj) {
                if ($("#layoutWest").length > 0) {
                    if ($("#layoutWest").css("display") == obj) {
                        PF('layout').toggle('west');
                    }
                }
            }
            //標註選取的menuitem
            function highlight() {
                $("#pMenu li").children().removeClass("ui-state-highlight");
                $("#" + $("#menuitemId").val()).addClass("ui-state-highlight");
                hidePanelMenu();
                expandSelMenu($("#" + $("#menuitemId").val()).parent().parent().parent().parent());
            }
            function highlightSingle(obj) {
                $("#pMenu li").children().removeClass("ui-state-highlight");
                $("." + obj).addClass("ui-state-highlight");
                hidePanelMenu();
                if (obj == null) {
                    obj = getUrlParameter('menuitemId');
                }
                expandSelMenu($("." + obj).parent().parent().parent().parent());
                menuitemId = obj;
            }
            //展開標註的menuitem
            function expandSelMenu(obj) {
                $(obj).children(".ui-panelmenu-content").css("display", "block");
                $(obj).children(".ui-panelmenu-header").addClass("ui-state-active");
                $(obj).children(".ui-icon-triangle-1-e").removeClass("ui-icon-triangle-1-e").addClass("ui-icon-triangle-1-s");
            }
        </script>
		<!-- 不要問為什麼...要加這個 form by kasim (會影響功能清單收合-->
		<h:form />
		<p:layout
			fullPage="true"
			widgetVar="layout">
			<p:layoutUnit
				position="north"
				size="50"
				resizable="true"
				closable="true"
				collapsible="true">
				<p:outputPanel id="layoutNorthId">
					<p:menubar styleClass="portal-title-bar">
						<p:menuitem
							value="首頁"
							icon="fa fa-home"
							id="btnHome"
							onclick="showLoad();showWestLayout();"
							oncomplete="defaultHomePage();hideLoad();"
							actionListener="#{portalMBean.reloadMenu('HOME')}"
							process="@this"
							update="formLeft" />
						<p:menuitem
							value="維護"
							icon="fa fa-gears"
							rendered="#{portalMBean.showSetting}"
							onclick="showLoad();showWestLayout();"
							oncomplete="defaultHomePage();hideLoad();"
							actionListener="#{portalMBean.reloadMenu('SETTING')}"
							process="@this"
							update="formLeft" />
						<p:menuitem
							value="新增"
							icon="fa fa-plus"
							outcome="#{portalMBean.newRequireUrl}"
							target="frameCenter"
							onclick="hideWestLayout();"
							process="@this" />
						<p:menuitem
							value="報表"
							icon="fa fa-list-alt"
							onclick="showLoad();showWestLayout();"
							oncomplete="defaultHomePage();hideLoad();"
							actionListener="#{portalMBean.reloadMenu('REPORT')}"
							process="@this"
							update="formLeft" />
						<f:facet name="options">
							<p:graphicImage
								id="portal_load_id"
								value="../img/ajax-loader.gif"
								style="display:none;transform: scale(0.8,0.8);" />
							<p:outputLabel
								value="部門：#{orgBean.name(loginBean.dep)}"
								style="margin-left: 10px" />
							<p:outputLabel
								value="登入者：#{usrBean.name(loginBean.user)}"
								style="margin-left: 10px" />
							<h:inputHidden
								id="menuitemId"
								value="#{portalMBean.menuitemId}" />
						</f:facet>
					</p:menubar>
				</p:outputPanel>
			</p:layoutUnit>

			<p:layoutUnit
				id="layoutWest"
				position="west"
				header="功能清單"
				collapsible="true"
				size="200">
				<f:facet name="header">
					<p:outputLabel value="功能清單" />
					<a
						id="btnLock"
						href="javascript:void(1)"
						title="鎖定"
						class="ui-layout-unit-header-icon ui-state-default ui-corner-all"> <span
						class="ui-icon ui-icon-pin-s"
						onclick="lockList();"></span>
					</a>
					<a
						id="btnUnLock"
						href="javascript:void(2)"
						title="解除"
						class="ui-layout-unit-header-icon ui-state-default ui-corner-all"> <span
						class="ui-icon ui-icon-pin-w"
						onclick="unLockList();"></span>
					</a>
				</f:facet>
				<p:outputPanel id="formLeft">
					<p:panelMenu
						id="pMenu"
						style="width:100%"
						model="#{portalMBean.menuModel}" />
				</p:outputPanel>
			</p:layoutUnit>

			<p:layoutUnit
				position="center"
				id="layoutUnitCenter">
				<iframe
					id="frameCenter"
					name="frameCenter"
					frameborder="0"
					width="100%"
					src="#{facesContext.externalContext.requestContextPath}/home/index.xhtml" />
			</p:layoutUnit>
		</p:layout>
		<script type="text/javascript">
            jQuery(document).ready(function () {
            	notificationUrl = '#{facesContext.externalContext.requestContextPath}/home/index.xhtml';
                reLayoutUnitCenter();
                hideLockBtn();
                expandPanelMenu();
                $(window).resize(function () {
                    reLayoutUnitCenter();
                });
                
            });
            function reLayoutUnitCenter() {
                $("#frameCenter").css('height', $(window).height() - $("#layoutUnitCenter").position().top - 20);
            }
            //強制改變frame查詢部分寬度
            function toggleByLayout() {
                let elm =  $("#frameCenter");
                if (elm.length > 0) {
                    if (elm.contents().find("#opView").length > 0) {
                        elm.contents().find("#opView").width(elm.contents().find("#pgMaster").width());
                        if (1199 > elm.contents().find("#opView").width()) {
                            elm.contents().find("#opView").width(1200);
                        }
                    }
                }
            }
            function defaultHomePage() {
            	$('#frameCenter').attr("src", notificationUrl);
            }
        </script>
	</ui:define>
</ui:composition>

