<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	template="../template/template1.xhtml">
	<ui:define name="title">
		<h:outputText value="測試頁-SingleSelectUserTreePicker 人員單選樹" />
	</ui:define>

	<ui:define name="customCSS">
		<!-- Latest compiled and minified CSS -->
		<link
			rel="stylesheet"
			href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

		<!-- Optional theme -->
		<link
			rel="stylesheet"
			href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" />

		<link
			rel="stylesheet"
			type="text/css"
			href="../resources/css/customStyleForBootstarp.css?cyln=#{commonBean.getVersion()}" />

		<link
			rel="stylesheet"
			type="text/css"
			href="../resources/css/bootstrap-fix.css?cyln=#{commonBean.getVersion()}" />

	</ui:define>


	<ui:define name="customScript">
		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</ui:define>



	<ui:define name="content">
		<p:outputPanel
			id="main_panel"
			style="margin: 0 auto;">
		</p:outputPanel>

		<p:outputPanel
			id="treeArea"
			styleClass="treeArea">

			<p:panelGrid styleClass="bootstrap-fix">
				<p:row>
					<p:column>
						<p:selectOneMenu value="#{testSingleSelectUserTreeMBean.selectedCompSid}">
							<f:selectItems value="#{testSingleSelectUserTreeMBean.compItems}" />
							<p:ajax
								listener="#{testSingleSelectUserTreeMBean.changeComp()}"
								onstart="showLoad();"
								oncomplete="hideLoad();"
								update="myTree"
								process="@this" />
						</p:selectOneMenu>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputPanel id="myTree">
							<cp:singleSelectUserTreePicker
								componentID="orgUserSelelctTree"
								model="#{testSingleSelectUserTreeMBean.singleSelectUserTreePicker}"
								title="人員單選樹"
								menuWidth="240"
								doubleClickUpdateArea="@(.selectDataPanel)" />
						</p:outputPanel>
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:commandButton
							value="確定(確認選擇人員)"
							onstart="showLoad();"
							process="@(.treeArea)"
							actionListener="#{testSingleSelectUserTreeMBean.confirm()}"
							update="@(.selectDataPanel)"
							oncomplete="hideLoad();" />
					</p:column>
				</p:row>
			</p:panelGrid>
		</p:outputPanel>

		<p:panelGrid styleClass="selectDataPanel">
			<p:row>
				<p:column>部門:</p:column>
				<p:column>
					<h:outputText
						value="#{testSingleSelectUserTreeMBean.getSelectedDepName()}"
						escape="false" />
				</p:column>
			</p:row>
			<p:row>
				<p:column>人員:</p:column>
				<p:column>
					<h:outputText
						value="#{testSingleSelectUserTreeMBean.getSelectedUsrName()}"
						escape="false" />
				</p:column>
			</p:row>
		</p:panelGrid>

		<br />
		<br />
		<br />
		<br />

		<div>功能說明：</div>
		<div>1.節點：限制僅『人員節點』可選擇</div>
		<div>2.節點：雙擊『部門』節點時，做選單收合</div>
		<div>3.節點：雙擊『人員』節點時，可觸發選擇事件 (可不實做)</div>
		<div>3.部門主管：暱稱後方『(主管)』標記</div>
		<div>4.部門主管：於部門成員名單中『置頂』（在所有人最上方）</div>
		<div>5.部門主管：『主要單位』不在該部門時，也會再該單位顯示 (兼職、代理)</div>
		<div>7.關鍵字搜尋：可同時搜尋部門、人員</div>
		<div>8.關鍵字搜尋：關鍵字底色 highlight</div>
	</ui:define>
</ui:composition>

