<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:cp="http://java.sun.com/jsf/composite/components"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    template="../template/template1.xhtml">

    <ui:define name="title">
        <h:outputText value="測試頁-QuickSelectTree" />
    </ui:define>
    <ui:define name="content">
    
        &nbsp;
        <p:commandButton
            icon="fa fa-pencil"
            value="組織人員選擇樹"
            actionListener="#{testOrgUserTreeMBean.openOrgUserTree}"
            onclick="showLoad();"
            oncomplete="hideLoad();PF('orgUserTreeDlg').show();"
            update="orgUserTreeDlg"
            process="@this" />

        <br />
        <br />
        <br />
        <br />

        <p:fieldset
            id="selectedList"
            legend="已選擇清單"
            style="width:250px">
            <p:dataList
                emptyMessage="尚未選擇使用者"
                value="#{testOrgUserTreeMBean.selectUsers}"
                var="user"
                type="ordered"
                style="border:1px;width:240px;height:298px; border: none;">
                <p:outputLabel value="#{user.primaryOrg.name}-#{user.name}" />
                <hr />
            </p:dataList>
        </p:fieldset>

        <p:dialog
            id="waitReasonDlg"
            widgetVar="wv_waitReasonDlg"
            header="待回原因"
            modal="true"
            closeOnEscape="true"
            resizable="false">

            <p:panelGrid>
                <p:row>
                    <p:column>
                        <p:selectOneMenu>
                            <f:selectItem
                                itemLabel="全部"
                                itemValue="" />
                            <!-- 
                                <selectItems
                                    value="setting7Bean.useTypes"
                                    var="model"
                                    itemLabel="model.name}"
                                    itemValue="model.code}"
                                    itemDescription="model.memo">
                                <selectItems>
                                 -->
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="#{cc.attrs.model.message}" />
                    </p:column>
                </p:row>
            </p:panelGrid>

        </p:dialog>


        <p:dialog
            id="orgUserTreeDlg"
            widgetVar="orgUserTreeDlg"
            header="請選擇使用者"
            modal="true"
            closeOnEscape="true"
            resizable="false">

            <cp:quickSelectTree
                quickSelectTreeModel="#{orgUserTreeMBean}"
                componentID="orgUserTree"
                selectedAreaEmptyMessage="尚未選擇人員"
                selectedAreaTitle="已選擇人員"
                dataNodeIcon="fa-user">
            </cp:quickSelectTree>

            <p:outputPanel style="padding-left:10px">
                <p:commandButton
                    value="確定"
                    actionListener="#{testOrgUserTreeMBean.reNewSelectedUsers()}"
                    onclick="showLoad();"
                    oncomplete="PF('orgUserTreeDlg').hide();hideLoad();"
                    update="selectedList"
                    process="@this @(.orgUserTree_dataArea) @(.orgUserTree_id_selectedNodeData)" />
                    &nbsp;&nbsp;
                    <p:commandButton
                    value="取消"
                    onclick="PF('orgUserTreeDlg').hide()" />
                <br />
                <br />
            </p:outputPanel>
        </p:dialog>
    </ui:define>
</ui:composition>

