<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="../template/template1.xhtml">

	<ui:define name="title">
		<h:outputText value="測試頁-MultiUserQuickPicker" />
	</ui:define>
	<ui:define name="customCSS">
	</ui:define>
	<ui:define name="customScript">
		<script>
			//<![CDATA[ 
	        function testSendTestData(){
	      	  var sidArry = [3383,1342];
	      	  $(".#{testMultiUserQuickPickerMBean.USER_PICKER_COMPNT_ID}_data_selectedUserSids").val(JSON.stringify(sidArry));
	      	  #{testMultiUserQuickPickerMBean.USER_PICKER_COMPNT_ID}_updateSelectedSids();
	        }
	      //]]>
		</script>
	</ui:define>

	<ui:define name="content">
		<c:set
			var="myComponent"
			value="#{testMultiUserQuickPickerMBean.userPicker}" />
		<div style="display: flex; flex-direction: column; justify-content: center;">
			<cp:multiUserQuickPicker
				componentID="#{testMultiUserQuickPickerMBean.USER_PICKER_COMPNT_ID}"
				component="#{testMultiUserQuickPickerMBean.userPicker}" />
			<div>
				<input
					type="button"
					value="reload"
					onclick="#{testMultiUserQuickPickerMBean.USER_PICKER_COMPNT_ID}_initClientFunc()"
					style="" /> <input
					type="button"
					value="sendTestData"
					onclick="testSendTestData();" />
			</div>
			<div style="display: flex; justify-content: flex-start;">
				<div>loading mask</div>
			</div>
		</div>
	</ui:define>
</ui:composition>

