<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	template="../template/template1.xhtml">


	<ui:define name="content">
		<div style="display: flex; justify-content: center">
			<div class="coffee-block bootstrap-fix">
				<cp:multItemPicker
					componentID="myOrgMultItemPicker"
					model="#{testOrgMultiPickerMBean.orgPicker}"
					srcMenuTitle="待選擇單位"
					targetMenuTitle="已選擇單位"
					menuWidth="250" />
			</div>
		</div>
	</ui:define>
</ui:composition>

