<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	template="../template/template1.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="測試頁-TreePicker(單位選單)" />
	</ui:define>
	<ui:define name="content">
		<cp:treePicker
			componentID="myTreePicker"
			model="#{testTreePickerMBean.categoryTreePicker}"
			menuWidth="300"
			menuHeight="500" />
	</ui:define>
</ui:composition>

