<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/template1.xhtml">
    <f:metadata>
        <f:event type="preRenderView" listener="#{loginBean.reStartIdle()}"/>
    </f:metadata>    
    <ui:define name="title"><h:outputText value="通知單位設定"/></ui:define>
    <ui:define name="content">
        <p:fieldset legend="送測預設通知單位" style="width:25vw;display:inline-block;">
            <p:panelGrid>
                <p:row>
                    <p:column>
                        <ui:include src="/components/orgTree/org_tree.xhtml">
                            <ui:param name="widgetVar" value="sendTestOrgTree" />
                            <ui:param name="reportOrgTreeComponent" 
                                      value="#{notifyDeptSettingMBean.sendTestOrgTreeVO.orgTreeComponent}" />
                        </ui:include>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:commandButton value="確定" actionListener="#{notifyDeptSettingMBean.updateSendTest()}"
                                         process="@this sendTestOrgTree_panelOrgTree" update="sendTestOrgTree_panelOrgTree"
                                         onstart="showLoad();" oncomplete="hideLoad();"/>
                        <p:commandButton value="清除" actionListener="#{notifyDeptSettingMBean.sendTestInit()}"
                                         process="@this" update="sendTestOrgTree_panelOrgTree"
                                         onstart="showLoad();" oncomplete="hideLoad();"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:fieldset>
        <p:fieldset legend="ON程式預設通知單位" style="width:25vw;display:inline-block;">
            <p:panelGrid>
                    <p:row>
                        <p:column>
                            <ui:include src="/components/orgTree/org_tree.xhtml">
                                <ui:param name="widgetVar" value="onProgramOrgTree" />
                                <ui:param name="reportOrgTreeComponent" 
                                          value="#{notifyDeptSettingMBean.onProgramOrgTreeVO.orgTreeComponent}" />
                            </ui:include>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:commandButton value="確定" actionListener="#{notifyDeptSettingMBean.updateOnProgram()}"
                                         process="@this onProgramOrgTree_panelOrgTree" update="onProgramOrgTree_panelOrgTree"
                                         onstart="showLoad();" oncomplete="hideLoad();"/>
                        <p:commandButton value="清除" actionListener="#{notifyDeptSettingMBean.onProgramInit()}"
                                         process="@this" update="onProgramOrgTree_panelOrgTree"
                                         onstart="showLoad();" oncomplete="hideLoad();"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:fieldset>
        <p:fieldset legend="其他資料設定預設通知單位" style="width:25vw;display:inline-block;">
            <p:panelGrid id="otherSettingOrgTree">
                <p:row>
                    <p:column><p:outputLabel value="其他資料設定類別：" style="width:110px;"/></p:column>
                    <p:column>
                        <p:selectOneMenu value="#{notifyDeptSettingMBean.othSetThemeSid}" >
                            <f:selectItems value="#{notifyDeptSettingMBean.othSetThemeList}" var="o" 
                                           itemLabel="#{o.theme}" itemValue="#{o.sid}"/>
                            <p:ajax event="change" listener="#{notifyDeptSettingMBean.otherDataOnchange()}"
                                    process="@this" update="otherSettingOrgTree" 
                                    onstart="showLoad();" oncomplete="hideLoad();"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">
                        <ui:include src="/components/orgTree/org_tree.xhtml">
                            <ui:param name="widgetVar" value="otherSettingOrgTree" />
                            <ui:param name="reportOrgTreeComponent" value="#{notifyDeptSettingMBean.otherSettingOrgTreeVO.orgTreeComponent}" />
                        </ui:include>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">
                        <p:commandButton value="確定" actionListener="#{notifyDeptSettingMBean.updateOtherSetting()}"
                                         process="@this otherSettingOrgTree" update="otherSettingOrgTree"
                                         onstart="showLoad();" oncomplete="hideLoad();"/>
                        <p:commandButton value="清除" actionListener="#{notifyDeptSettingMBean.otherSettingInit()}"
                                         process="@this" update="otherSettingOrgTree_panelOrgTree"
                                         onstart="showLoad();" oncomplete="hideLoad();"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:fieldset>
        
        <p:remoteCommand name="doSearchData"
                         onstart="showLoad();" oncomplete="hideLoad();"
                         process="@this" update="@this" />
                         
        <script type="text/javascript">
            $(document).ready(function(){
                $(document).ready(function(){
                    doSearchData();
                });  
            });
        </script>
    </ui:define>
</ui:composition>

