<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/template1.xhtml">
    <f:metadata>
        <f:event type="preRenderView" listener="#{loginBean.reStartIdle()}"/>
    </f:metadata>    
    <ui:define name="title"><h:outputText value="通知單位轉發"/></ui:define>
    <ui:define name="content">
        <style>
            .ellipsis {
                overflow:hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display:inline-block;
                width:500px;
                color: blue;
            }
            .fa-checked::before{
                content:"\f00c";
                color: #C0CB26;
                font-family: FontAwesome;
            }
        </style>
        <p:panelGrid style="width:100%;" id="searchClause">
            <p:row>
                <p:column style="width:80px;text-align:right;">
                    <p:outputLabel value="程序挑選："/>
                </p:column>
                <p:column style="width:120px;">
                    <p:selectOneMenu value="#{notifyDeptDispatchMBean.requireTransProgramType}" >
                        <f:selectItem itemValue="" itemLabel="全部" />
                        <f:selectItems value="#{programTypeBean.transNotifyDepProgramTypeItems}" />
                        <p:ajax event="change"
                                listener="#{notifyDeptDispatchMBean.resetWhileOnChange()}" 
                                onstart="showLoad();"
                                oncomplete="hideLoad();"
                                process="@this" update="@this resultList">
                        </p:ajax>
                    </p:selectOneMenu>
                </p:column>
                <p:column style="text-align:right;">
                    <p:outputLabel value="動作："/>
                </p:column>
                <p:column>
                    <p:selectOneMenu value="#{notifyDeptDispatchMBean.action}" >
                        <f:selectItem itemValue="" itemLabel="請選擇" />
                        <f:selectItem itemValue="PLUS" itemLabel="增加" />
                        <f:selectItem itemValue="MINUS" itemLabel="還原" />
                        <p:ajax event="change"
                                listener="#{notifyDeptDispatchMBean.resetWhileOnChange()}" 
                                onstart="showLoad();"
                                oncomplete="hideLoad();"
                                process="@this" update="@this transUnitBtn transDepts resultList">
                        </p:ajax>
                    </p:selectOneMenu>
                </p:column>
                <p:column style="width:60px;text-align:right;">
                    <p:outputLabel value="通知單位："/>
                </p:column>
                <p:column style="width:200px;">
                    <p:panelGrid>
                        <p:row>
                            <p:column>
                                <p:commandButton icon="fa fa-search" 
                                                 actionListener="#{notifyDeptDispatchMBean.openOrgTree()}" 
                                                 onclick='showLoad();' 
                                                 oncomplete="hideLoad();PF('dlgOrgTree').show();"
                                                 update="@widgetVar(dlgOrgTree)" 
                                                 process="@this"/>
                            </p:column>
                            <p:column>
                                <p:outputLabel id="createdDepts" 
                                               value="#{notifyDeptDispatchMBean.originTreeVO.selectedDeptNames}"
                                               styleClass="ellipsis">
                                    <p:tooltip for="createdDepts" style="width:400px;"
                                               value="#{notifyDeptDispatchMBean.originTreeVO.selectedDeptNames}" 
                                               trackMouse="true">
                                    </p:tooltip>
                                </p:outputLabel>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                </p:column>
                <p:column style="width:120px;text-align:right">
                    <p:commandButton value="搜尋" actionListener="#{notifyDeptDispatchMBean.search()}"
                                     onstart="showLoad();" oncomplete="hideLoad();"
                                     process="@this searchClause" update="@this resultList exportBtn" />
                    <p:commandButton id="exportBtn"  icon="ui-icon-extlink" 
                                     value="匯出" disabled="#{notifyDeptDispatchMBean.disabledExportBtn}" 
                                     actionListener="#{notifyDeptDispatchMBean.exportReport()}"
                                     ajax="false" />
                </p:column>
            </p:row>
            <p:row>
                <p:column>
                    <p:commandButton id="transUnitBtn" value="轉換單位" 
                                     disabled="#{notifyDeptDispatchMBean.action == 'MINUS'}"
                                     actionListener="#{notifyDeptDispatchMBean.openTransOrgTreeVO()}" 
                                     onclick='showLoad();' 
                                     oncomplete="hideLoad();PF('dlgTransOrgTree').show();"
                                     update="@widgetVar(dlgTransOrgTree)" 
                                     process="@this"/>
                </p:column>
                <p:column>
                    <p:outputLabel id="transDepts" style="color: blue;" 
                                   value="#{notifyDeptDispatchMBean.transOrgTreeVO.selectedDeptNames}">
                    </p:outputLabel>
                </p:column>
                <p:column colspan="5" style="text-align:right">
                    <p:commandButton id="transBtn" value="開始轉單" disabled="#{empty notifyDeptDispatchMBean.selectedResultList}"
                                     actionListener="#{notifyDeptDispatchMBean.update()}"
                                     onstart="showLoad();" oncomplete="hideLoad();"
                                     process="@this searchClause" update="@this resultList" />
                </p:column>
            </p:row>
        </p:panelGrid>
        
        <p:dataTable id="resultList" value="#{notifyDeptDispatchMBean.resultList}" var="vo" 
                     rowKey="#{vo.sid}" rowIndexVar="index"
                     scrollHeight="450" scrollable="true" paginator="true"
                     rows="50"
                     draggableColumns="true"
                     resizableColumns="true"
                     resizeMode="expand" 
                     selectionMode="single" >
            <p:column width="22">
                <f:facet name="header">
                    <p:selectBooleanCheckbox value="#{notifyDeptDispatchMBean.selectedAll}" class="updateClz_selectedAll">
                        <p:ajax listener="#{notifyDeptDispatchMBean.checkBySelectedAll()}"
                                onstart="showLoad();" oncomplete="hideLoad();"
                                process="@this" update="@(.updateClz_checkbox) transBtn" />
                    </p:selectBooleanCheckbox>
                </f:facet>
                <p:selectBooleanCheckbox value="#{vo.checked}" class="updateClz_checkbox">
                    <p:ajax listener="#{notifyDeptDispatchMBean.checkBySingle(vo)}"
                            process="@this" update="@(.updateClz_selectedAll) transBtn" />
                </p:selectBooleanCheckbox>
            </p:column>
            <p:column headerText="序" width="16">
                <h:outputText value="#{index+1}"/>
            </p:column>
            <p:column headerText="建立日期" width="80">
                <h:outputText value="#{vo.createDate}">
                    <f:convertDateTime pattern="yyyy/MM/dd"/>
                </h:outputText>
            </p:column>
            <p:column headerText="填單單位" width="100">
                <h:outputText value="#{vo.createDept}" />
            </p:column>
            <p:column headerText="填單人員" width="80">
                <h:outputText value="#{vo.createUserName}" />
            </p:column>
            <p:column headerText="主題">
                <h:outputText value="#{vo.theme}" />
            </p:column>
            <p:column headerText="單號" width="140">
                <h:outputText value="#{vo.orderNo}" />
            </p:column>
            <p:column headerText="狀態" width="100">
                <h:outputText value="#{vo.status}" />
            </p:column>
            <p:column headerText="" width="15" rendered="#{!empty notifyDeptDispatchMBean.updatedSet}">
                <h:outputText class="fa-checked" rendered="#{vo.alreadyChecked}"/>
            </p:column>
        </p:dataTable>
        
        
        
        <!-- 填單單位 -->
        <ui:include src="/components/report_org_tree.xhtml">
            <ui:param name="widgetVar" value="dlgOrgTree" />
            <ui:param name="reportOrgTreeComponent" 
                      value="#{notifyDeptDispatchMBean.originTreeVO.orgTreeComponent}" />
            <ui:param name="updateIds" value="createdDepts" />
        </ui:include>
        
        <!-- 轉換單位 -->
        <ui:include src="/components/orgTree/single_org_tree.xhtml">
            <ui:param name="widgetVar" value="dlgTransOrgTree" />
            <ui:param name="reportOrgTreeComponent" 
                      value="#{notifyDeptDispatchMBean.transOrgTreeVO.orgTreeComponent}" />
            <ui:param name="updateIds" value="transDepts" />
        </ui:include>
        <p:remoteCommand name="doSearchData"
                         onstart="showLoad();" oncomplete="hideLoad();"
                         process="@this" update="@this" />
                         
        <script type="text/javascript">
            $(document).ready(function(){
                $(document).ready(function(){
                    doSearchData();
                });  
            });
        </script>
    </ui:define>
</ui:composition>

