<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/template1.xhtml">
    
    <f:metadata>
        <f:event type="preRenderView" listener="#{loginBean.reStartIdle()}"/>
    </f:metadata>    
    <ui:define name="title"><h:outputText value="QA暱稱人員設定"/></ui:define>
    <ui:define name="content">
        <style>
            .ui-icon, .ui-widget-content .ui-icon {
                background-image: url("../javax.faces.resource/images/ui-icons_686859_256x240.png.xhtml?ln=primefaces-cytheme")
            }
        </style>
        <p:panel header="QA暱稱人員設定" style="width:1200px;">
	        <p:dataTable id="resultData" var="vo" 
	                     value="#{qaAliasMBean.qaAliasList}" 
	                     rowIndexVar="index"
	                     editable="true"
	                     style="margin-bottom:20px;width:600px;">
	            <p:ajax event="rowEdit" listener="#{qaAliasMBean.onRowEdit}" 
	                    process="resultData" update="resultData"
	                    onstart="showLoad();" oncomplete="hideLoad();"/>
	            <p:column headerText="序" width="10px;">
	                <h:outputText value="#{index+1}" />
	            </p:column>
	            <p:column headerText="使用者ID" width="200">
                    <h:outputText value="#{vo.userId}" />
	            </p:column>
	            <p:column headerText="使用者暱稱">
	                <p:cellEditor>
	                    <f:facet name="output"><h:outputText value="#{vo.userAlias}" /></f:facet>
	                    <f:facet name="input"><p:inputText value="#{vo.userAlias}" style="width:96%"/></f:facet>
	                </p:cellEditor>
	            </p:column>
	            <p:column style="width:35px">
	               <p:rowEditor />
	           </p:column>
	        </p:dataTable>
        </p:panel>
        
        <p:remoteCommand name="doSearchData"
                         onstart="showLoad();" oncomplete="hideLoad();"
                         process="@this" update="@this" />
                         
        <script type="text/javascript">
            $(document).ready(function(){
                $(document).ready(function(){
                    doSearchData();
                });  
            });
        </script>
    </ui:define>
</ui:composition>
