<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <p:outputPanel>
        <style>
        <ui:repeat value="#{sendTestScheduleMBean.colors}" var="colorVO">
            .c_#{colorVO.colorCode} {
                border : 1px solid ##{colorVO.colorCode};
                background-color : ##{colorVO.colorCode} !important;
                cursor: pointer;
            }
        </ui:repeat>
        
        .fc-title {
            font-size : #{fontSize}
        }
        .fc-day-grid-event {
            height : #{eventHeight};
        }
        </style>
        <!-- i18n -->
        <script type="text/javascript">
            PrimeFaces.locales['cy'] = {
                closeText: 'kapat',
                prevText: 'geri',
                nextText: 'ileri',
                currentText: '今日',
                weekHeader: 'Hf',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                month: '月',
                week: '週',
                day: '日',
                allDayText : '整日'
            };
        </script>
    </p:outputPanel>

    <p:schedule id="myschedule" value="#{sendTestScheduleMBean.eventModel}" locale="cy" 
                initialDate="#{sendTestScheduleMBean.switchDateMonth}"
                aspectRatio="1.5"
                draggable="false" resizable="false" timeZone="GMT+8" timeFormat=" "
                style="width:#{width};">
        <p:ajax event="dateSelect" listener="#{sendTestScheduleMBean.onDateSelect}" update="eventDetails" 
                onstart="showLoad();" oncomplete="hideLoad();PF('eventDialog').show();" disabled="#{isAjaxDisabled}"/>
        <p:ajax event="eventSelect" listener="#{sendTestScheduleMBean.onEventSelect}" update="eventDetails"
                onstart="showLoad();" oncomplete="hideLoad();PF('eventDialog').show();"  disabled="#{isAjaxDisabled}"/>
    </p:schedule>
</html>
