<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
<!-- 輸出資訊 -->
<p:outputPanel>
    <script>
		function copyToClipboard(elementId) {
			var aux = document.createElement("input");
			aux.setAttribute("value", document.getElementById(elementId).innerHTML);
			document.body.appendChild(aux);
			aux.select();
			document.execCommand("copy");
			document.body.removeChild(aux);
			alert('copy to clipboard sucess !!');
		}
	</script>
    <p:outputPanel style=" width: 100%;height: 35px; margin: -6px 0px 0px 0px;">
        <p:panelGrid
            columns="2"
            style="width: 100%">
            <p:outputPanel>
                <p:commandButton
                    style="width:50%"
                    icon="fa fa-copy"
                    onclick="copyToClipboard('infoScreenMsgContextId')" />
                <p:commandButton
                    icon="fa fa-trash"
                    actionListener="#{setting10MBean.clearInfoScreenMsg()}" />
            </p:outputPanel>
            <p:outputPanel
                style=" width: 35px;height: 35px"
                class="alignRight">
                <p:graphicImage
                    id="set10_load_img_id"
                    value="../img/ajax-loader.gif"
                    style="display:none;"
                    styleClass="btnIcon" />
            </p:outputPanel>
        </p:panelGrid>
    </p:outputPanel>
    <p:outputPanel
        id="infoScreenMsgId"
        style="margin-top: 5px;margin-right: 10px; min-width: 30px"
        autoUpdate="true">
        <script type="text/javascript">
			$(document).ready(scrollInfoBottom('infoScreenMsgId'));
		</script>
        <p:scrollPanel
            mode="native"
            style="height:280px; max-width: 100%;border:none;">
            <p:outputLabel
                id="infoScreenMsgContextId"
                value="#{setting10MBean.infoScreenMsg}"
                escape="false"
                style="word-wrap: break-word;word-break: normal;" />
        </p:scrollPanel>
    </p:outputPanel>
</p:outputPanel>
</html>