<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/template1.xhtml">
    <f:metadata>
        <f:event type="preRenderView" listener="#{loginBean.reStartIdle()}"/>
    </f:metadata>    
    <ui:define name="title"><h:outputText value="客戶資料維護"/></ui:define>
    <ui:define name="content">
        <p:outputPanel id="screen_view">
            <p:panelGrid columns="2" 
                         styleClass="width100 marginTop10">
                <p:panelGrid id="screen_view_query"
                             columns="4">
                    <p:outputLabel value="狀態"/>
                    <p:selectOneMenu value="#{setting07MBean.enableType}">
                        <f:selectItem itemLabel="全部" 
                                      itemValue="" />
                        <f:selectItems value="#{enableTypeBean.getValues()}"/>
                    </p:selectOneMenu>
                    <p:outputLabel value="客戶名稱"/>
                    <p:inputText value="#{setting07MBean.name}" 
                                 style="width: 200px;" 
                                 placeholder="Search"
                                 onkeydown="executeScriptByEnter(event, 'doSearchData();');">
                    </p:inputText>
                    <p:remoteCommand name="doSearchData" 
                                     actionListener="#{setting07MBean.seach()}"  
                                     onstart="showLoad();" 
                                     oncomplete="hideLoad();"
                                     update="screen_view_dt" 
                                     process="@this screen_view_query" >
                    </p:remoteCommand>
                </p:panelGrid>  
                <p:panelGrid columns="3" 
                             styleClass="alignRight" >
                    <p:commandButton value="搜尋" 
                                     onclick="doSearchData();"
                                     process="@this" />
                    <p:commandButton value="清除" 
                                     actionListener="#{setting07MBean.init()}"
                                     onclick="showLoad();"
                                     oncomplete="hideLoad();"
                                     update="screen_view_query screen_view_dt"
                                     process="@this"/>
                    <p:commandButton value="新增" 
                                     actionListener="#{setting07MBean.btnAdd()}"
                                     onclick="showLoad();"
                                     oncomplete="hideLoad();showPF('screen_dlgSave')"
                                     update="screen_dlgSave"
                                     process="@this" />
                </p:panelGrid>
            </p:panelGrid>

            <p:dataTable id="screen_view_dt" 
                         widgetVar="wvCustomer" 
                         var="customer" 
                         value="#{setting07MBean.allCustomer}"
                         selection="#{setting07MBean.selCustomer}"
                         scrollHeight="#{setting07MBean.dtScrollHeight}" 
                         rowKey="#{customer.sid}" 
                         rowIndexVar="rowIndex" 
                         selectionMode="single" 
                         paginator="true" 
                         rows="20" 
                         scrollable="true" 
                         resizableColumns="true" 
                         liveResize="true"
                         draggableColumns="true" >
                <p:ajax event="colReorder" 
                        oncomplete="onColReorder('screen_view_dt');" />
                <p:ajax event="rowDblselect" 
                        listener="#{setting07MBean.btnEdit}" 
                        onstart="showLoad();" 
                        oncomplete="hideLoad();showPF('screen_dlgSave')"
                        update=":formTemplate:screen_dlgSave" 
                        process="@this" />
                <p:column headerText="序" 
                          styleClass="alignCenter"
                          width="50">
                    <h:outputText value="#{rowIndex + 1}" />
                </p:column>
                <p:column headerText="後置碼" 
                          width="80">
                    <h:outputText value="#{customer.loginCode}" />
                </p:column>
                <p:column headerText="廳主名稱" 
                          width="250">
                    <h:outputText value="#{customer.name}" />
                </p:column>
                <p:column headerText="分類" 
                          width="100">
                    <h:outputText value="#{commonBean.get(customer.customerType)}"/>
                </p:column>
                <p:column headerText="狀態" 
                          styleClass="alignCenter" 
                          width="40">
                    <h:outputText value="#{commonBean.get(customer.enable)}"/>
                </p:column>
                <p:column headerText="備註說明" >
                    <h:outputText value="#{customer.note}"/>
                </p:column>
            </p:dataTable>
        </p:outputPanel>

        <!--新增/編輯視窗-->
        <p:dialog id="screen_dlgSave" 
                  widgetVar="screen_dlgSave" 
                  modal="true"
                  header=" #{not empty setting07MBean.customerObj 
                             and not empty setting07MBean.customerObj.sid?'客戶資料維護-修改':'客戶資料維護-新增'}" >
            <p:panelGrid columns="2" 
                         id="screen_dlgSave_view">
                <p:outputPanel >
                    <p:outputLabel styleClass="redColor" 
                                   value="＊"/>
                    <p:outputLabel value="後置碼"/>
                </p:outputPanel>
                <p:outputPanel >
                    <p:inputText value="#{setting07MBean.customerObj.loginCode}"
                                 rendered="#{!(not empty setting07MBean.customerObj 
                                             and not empty setting07MBean.customerObj.sid)}"
                                 style="width: 200px;" 
                                 maxlength="36">
                    </p:inputText>
                    <p:outputLabel value="#{setting07MBean.customerObj.loginCode}" 
                                   rendered="#{not empty setting07MBean.customerObj 
                                               and not empty setting07MBean.customerObj.sid}" >
                    </p:outputLabel>
                </p:outputPanel>
                <p:outputPanel >
                    <p:outputLabel styleClass="redColor" 
                                   value="＊"/>
                    <p:outputLabel value="客戶別名"/>
                </p:outputPanel>
                <p:outputPanel >
                    <p:inputText value="#{setting07MBean.customerObj.alias}" 
                                 rendered="#{setting07MBean.customerObj.customerType ne 'REAL_CUSTOMER'
                                             and setting07MBean.customerObj.enable ne 'DISABLED'}"
                                 style="width: 200px;" 
                                 maxlength="255">
                    </p:inputText>
                    <p:outputLabel value="#{setting07MBean.customerObj.alias}" 
                                   rendered="#{setting07MBean.customerObj.customerType eq 'REAL_CUSTOMER'
                                               || setting07MBean.customerObj.enable eq 'DISABLED'}" >
                    </p:outputLabel>
                </p:outputPanel>

                <p:outputPanel >
                    <p:outputLabel styleClass="redColor" 
                                   value="＊"/>
                    <p:outputLabel value="客戶名稱"/>
                </p:outputPanel>
                <p:outputPanel >
                    <p:inputText value="#{setting07MBean.customerObj.name}" 
                                 rendered="#{setting07MBean.customerObj.customerType ne 'REAL_CUSTOMER'
                                             and setting07MBean.customerObj.enable ne 'DISABLED'}"
                                 style="width: 200px;" 
                                 maxlength="255">
                    </p:inputText>
                    <p:outputLabel value="#{setting07MBean.customerObj.name}" 
                                   rendered="#{setting07MBean.customerObj.customerType eq 'REAL_CUSTOMER'
                                               || setting07MBean.customerObj.enable eq 'DISABLED'}" >
                    </p:outputLabel>
                </p:outputPanel>


                <p:outputPanel >
                    <p:outputLabel styleClass="redColor" 
                                   value="＊"/>
                    <p:outputLabel value="類型"/>
                </p:outputPanel>
                <p:outputPanel >
                    <p:selectOneMenu value="#{setting07MBean.customerObj.customerType}"
                                     rendered="#{!(not empty setting07MBean.customerObj 
                                                 and not empty setting07MBean.customerObj.sid)}">
                        <f:selectItems value="#{customerTypeBean.getValuesExcludReal()}"/>
                    </p:selectOneMenu>
                    <p:outputLabel value="#{commonBean.get(setting07MBean.customerObj.customerType)}"  
                                   rendered="#{not empty setting07MBean.customerObj 
                                               and not empty setting07MBean.customerObj.sid}">
                    </p:outputLabel>
                </p:outputPanel>

                <p:outputLabel value="狀態"
                               rendered="#{not empty setting07MBean.customerObj 
                                           and not empty setting07MBean.customerObj.sid}"/>
                <p:outputPanel rendered="#{not empty setting07MBean.customerObj 
                                           and not empty setting07MBean.customerObj.sid}">
                    <p:selectOneMenu value="#{setting07MBean.customerObj.enable}"
                                     disabled="#{setting07MBean.customerObj.customerType eq 'REAL_CUSTOMER'
                                                 || setting07MBean.customerObj.enable eq 'DISABLED'}">
                        <f:selectItems value="#{enableTypeBean.getValues()}"/>
                    </p:selectOneMenu>
                </p:outputPanel>

                <p:outputLabel value="備註"/>
                <p:inputTextarea value="#{setting07MBean.customerObj.note}"
                                 counter="screen_view_edit_display"
                                 autoResize="false"
                                 rows="8" 
                                 cols="50"
                                 maxlength="255"
                                 counterTemplate="剩餘可輸入長度：{0} ">
                </p:inputTextarea>

                <p:outputLabel value=""/>
                <h:outputText id="screen_view_edit_display" />

            </p:panelGrid>
            <p:panelGrid columns="2">
                <p:commandButton value="確定"
                                 actionListener="#{setting07MBean.btnSave()}"
                                 onclick="showLoad();"
                                 oncomplete="hideLoad();"
                                 process="@this screen_dlgSave" />
                <p:commandButton value="取消" 
                                 onclick="hidePF('screen_dlgSave');"
                                 process="@this"/>
            </p:panelGrid>
        </p:dialog>

        <p:dialog id="screens_dlgDblAlias" 
                  widgetVar="screens_dlgDblAlias" 
                  modal="true"
                  header="確認" >
            <p:panelGrid columns="1">
                <h:outputText value="客戶名稱已存在，請確認！！" />
                <p:panelGrid columns="2">
                    <p:commandButton value="確定"
                                     actionListener="#{setting07MBean.save()}"
                                     onclick="showLoad();"
                                     oncomplete="hideLoad();hidePF('screens_dlgDblAlias');"
                                     process="@this screen_dlgSave" />
                    <p:commandButton value="取消" 
                                     onclick="hidePF('screens_dlgDblAlias');"
                                     process="@this"/>
                </p:panelGrid>
            </p:panelGrid>
        </p:dialog>

        <!--更新dtScrollHeight-->
        <p:remoteCommand name="updateDtScrollHeight" 
                         actionListener="#{setting07MBean.updateDtScrollHeight()}"  
                         process="@this" >
        </p:remoteCommand>

        <script type="text/javascript">
            //在template1.xhtml 進行ready 觸發
            addJsMethod = 'refreshDataTable()';
            //重新判斷dataTable的scrollHeight
            function refreshDataTable() {
                var dtId = "screen_view_dt";
                refreshDataTableScrollHeight(dtId, $(document).height());
                var dtScrollHeight = $("#" + dtId + " .ui-datatable-scrollable-body").height();
                updateDtScrollHeight([{name: 'dtScrollHeight', value: dtScrollHeight}]);
            }
        </script>

    </ui:define>
</ui:composition>

