<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/template1.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="系統維護" />
	</ui:define>
	<ui:define name="content">
		<script type="text/javascript">
			function set10ShowLoad() {
				$("#set10_load_img_id").css({
					'display' : ''
				});
			}
			function set10HideLoad() {
				$("#set10_load_img_id").css({
					'display' : 'none'
				});
			}
			function scrollInfoBottom(outputId) {
				$("#" + outputId)
						.children("div")
						.each(
								function() {
									var adjHeight = $(this).height();
									$(this)
											.children("label")
											.each(
													function() {
														adjHeight = $(this)
																.height() > adjHeight ? $(
																this).height()
																: adjHeight;
													});
									$(this).scrollTop(adjHeight);
								});
			}
		</script>
		<p:scrollPanel style="width:100%; height: 50%;border:none;">
			<p:panelGrid style="width:100%;height: 50%; margin: -5px 0px 0px 0px;">
				<p:row style="vertical-align: top;">
					<p:column
						colspan="1"
						style="width:50%">
						<p:tabView
							style=""
							id="tabView">

							<p:tab title="快取">
								<ui:include src="../setting/setting10_cache.xhtml" />
							</p:tab>
							<p:tab title="流程">
								<ui:include src="../setting/setting10_flow.xhtml" />
							</p:tab>
							<p:tab title="轉寄單位轉換">
								<ui:include src="../setting/setting10_transDep.xhtml" />
							</p:tab>
							<p:tab title="批次通知">
								<ui:include src="../setting/setting10_batchAddNoticeDepsMBean.xhtml" />
							</p:tab>
							<!-- GM管理系統同步 -->
							<p:tab title="GM管理系統同步">
								<p:panelGrid>
									<p:row>
										<p:column rowspan="10">
											<p:commandButton
												value="執行同步"
												actionListener="#{setting10MBean.syncGM()}"
												onclick="showLoad();"
												oncomplete="hideLoad();"
												process="@this" />
										</p:column>
									</p:row>
								</p:panelGrid>
							</p:tab>
							<!-- MMS 系統同步 -->
							<p:tab title="MMS 系統同步">
								<ui:include src="../setting/setting10_sync_mms.xhtml">
									<ui:param
										name="show_syncMmsRequireDataAllSend"
										value="Y" />
								</ui:include>
							</p:tab>

							<p:tab title="ON程式統計">
								<ui:include src="../setting/setting10_CountOnpg.xhtml" />
							</p:tab>

							<p:tab title="skype 測試">
								<ui:include src="../setting/setting10_skype_bot_test.xhtml" />
							</p:tab>

							<!-- 一次性轉檔已關閉功能:預設分派/通知單位 -->
							<p:tab
								title="轉檔"
								rendered="false">
								<ui:include src="../setting/setting10_trnsPrivateGroup.xhtml" />
							</p:tab>

							<!-- 一次性轉檔已關閉功能:預設分派/通知單位 -->

							<p:tab
								title="預設分派/通知單位轉檔"
								rendered="false">
								<p:panelGrid>
									<p:row>
										<p:column rowspan="10">
											<p:commandButton
												value="預設分派/通知單位轉檔"
												actionListener="#{set10V70TrnsMBean.processTrnsForDefailtAsDep()}"
												onclick="showLoad();"
												oncomplete="hideLoad();"
												process="@this" />
										</p:column>
									</p:row>
								</p:panelGrid>
							</p:tab>


							<!-- 一次性轉檔已關閉功能 -->
							<p:tab
								title="檢查項目轉檔"
								rendered="false">
								<p:panelGrid>
									<p:row>
										<p:column rowspan="10">
											<p:commandButton
												value="檢查項目轉檔"
												actionListener="#{set10V70TrnsMBean.processTrnsForCheckItems()}"
												onclick="showLoad();"
												oncomplete="hideLoad();"
												process="@this" />
										</p:column>
									</p:row>
								</p:panelGrid>
							</p:tab>

							<!-- 一次性轉檔已關閉功能 -->
							<p:tab
								rendered="false"
								title="特殊:1">
								<ui:include src="../setting/setting10_trnsDepRequireConfirmStatus.xhtml" />
							</p:tab>

							<!-- 一次性轉檔已關閉功能 -->
							<p:tab
								rendered="false"
								title="特殊:2">
								<ui:include src="../setting/setting10_addDefaultNoticeDeps.xhtml" />
							</p:tab>

							<!-- 一次性轉檔已關閉功能 -->
							<p:tab
								rendered="false"
								title="系統通知設定轉檔">
							</p:tab>

							<!-- 一次性轉檔已關閉功能 -->
							<p:tab
								rendered="false"
								title="分派單位轉通知單位">
								<ui:include src="../setting/setting10_trnsAssignToNotice.xhtml" />
							</p:tab>
							<!-- 7.0 轉檔已結束, 故關閉 -->
							<p:tab
								title="v 7.0 轉檔"
								rendered="false">
								<ui:include src="../setting/setting10_ver70_trns.xhtml" />
							</p:tab>
							<p:tab
								title="v 7.0 轉檔復原"
								rendered="false">
								<ui:include src="../setting/setting10_ver70_trnsRecorvey.xhtml" />
							</p:tab>
							<!-- 以下 7.0 已重寫故關閉 -->
							<p:tab
								title="分派作業"
								rendered="false">
								<ui:include src="../setting/setting10_assign.xhtml" />
							</p:tab>
							<p:tab
								title="建立單位轉換"
								rendered="false">
								<ui:include src="../setting/setting10_createDep.xhtml" />
							</p:tab>
							<p:tab
								title="通知單位轉換"
								rendered="false">
								<ui:include src="../setting/setting10_notifyDep.xhtml" />
							</p:tab>

							<p:tab
								title="附加檔案組織異動轉換"
								rendered="false">
								<p:commandButton
									value="附加檔案組織異動轉換"
									actionListener="#{set10SyncMmsMBean.syncMmsDomin()}"
									onclick="showLoad();"
									oncomplete="hideLoad();"
									process="@this" />
							</p:tab>

							<!-- 一次性轉檔 -->
							<p:tab
								rendered="true"
								title="一次性轉檔">
								<ui:include src="../setting/setting10_OneTimeTrans.xhtml" />
							</p:tab>

						</p:tabView>
					</p:column>
					<p:column
						colspan="1"
						style="width:50%">
						<ui:include src="../setting/setting10_output.xhtml" />
					</p:column>
				</p:row>
			</p:panelGrid>
		</p:scrollPanel>
		<!-- 線上資訊 -->
		<ui:include src="../setting/setting10_online_info.xhtml" />
	</ui:define>
</ui:composition>

