<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<p:column>
	<div>需求管理者</div>
</p:column>
<p:column>
	<div>01.需求單-可強制需求完成</div>
	<div>02.需求單-可強制結案</div>
	<div>03.需求單-可強制反結案</div>
</p:column>
<p:column>
	<p:panelGrid
		id="f05_panel"
		style="margin: auto; width:98%;">
		<f:facet name="header">
			<p:row>
				<p:column>
					<div>人員</div>
				</p:column>
			</p:row>
		</f:facet>
		<p:row>
			<p:column>
				<h:panelGroup>
					<p:commandButton
						icon="fa fa-search"
						actionListener="#{settingGmBackandMaintainMBean.openUsersPicker('REQ_REQUIRE_ADMIN_USERSIDS')}"
						onclick='showLoad();'
						oncomplete="hideLoad();"
						process="@this"
						update="@(.settingGmBackandMaintain_usersPicker_contentStyleClass)" />
					<h:outputText
						value="#{(empty settingGmBackandMaintainMBean.f05_userNames)?'尚未設定':settingGmBackandMaintainMBean.f05_userNames}"
						escape="false" />
				</h:panelGroup>
			</p:column>
		</p:row>
	</p:panelGrid>
</p:column>
</html>

