<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<p:outputPanel style="display: flex; flex-direction: column ; justify-content: flex-start; align-items: center; align-self: stretch; padding: 10px 10px 10px 10px;">
	<div style="height: 8px" />
	<div style="display: flex; align-self: stretch; width: 100%; height: 1px; border-top: solid #cc9f8e 3px;" />
	<div style="height: 8px" />

	<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">
		<div>ON程式統計：</div>
		<div>
			<ui:include src="../components/date_component.xhtml">
				<ui:param
					name="startDate"
					value="#{set10CountOnpgMBean.conditionStartDate}" />
				<ui:param
					name="endDate"
					value="#{set10CountOnpgMBean.conditionEndDate}" />
				<ui:param
					name="startDateId"
					value="startDateByType" />
				<ui:param
					name="endDateId"
					value="endDateByType" />
			</ui:include>
		</div>
		<div style="width: 6px"></div>
		<p:commandButton
			value="匯出"
			ajax="false"
			process="@this condition-panel"
			onclick="PrimeFaces.monitorDownload(showLoad, hideLoad);"
			actionListener="#{set10CountOnpgMBean.process()}"
			styleClass="coffee-block">
			<p:fileDownload value="#{set10CountOnpgMBean.download}" />
		</p:commandButton>
	</div>


	<div style="height: 20px" />
	<div style="display: flex; align-self: stretch; width: 100%; height: 1px; border-top: solid #cc9f8e 3px;" />
	<div style="height: 8px" />

	<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">
		<div>需求單執行狀況統計：</div>
		<div>
			<ui:include src="../components/date_component.xhtml">
				<ui:param
					name="startDate"
					value="#{set10CountOnpgMBean.conditionExecStatusStartDate}" />
				<ui:param
					name="endDate"
					value="#{set10CountOnpgMBean.conditionExecStatusEndDate}" />
				<ui:param
					name="startDateId"
					value="startDateByType2" />
				<ui:param
					name="endDateId"
					value="endDateByType2" />
			</ui:include>
		</div>
		<div style="width: 6px"></div>
		<p:commandButton
			value="匯出"
			ajax="false"
			process="@this condition-panel"
			onclick="PrimeFaces.monitorDownload(showLoad, hideLoad);"
			actionListener="#{set10CountOnpgMBean.processExecStats()}"
			styleClass="coffee-block">
			<p:fileDownload value="#{set10CountOnpgMBean.download}" />
		</p:commandButton>
	</div>
</p:outputPanel>
</html>