<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <p:tabView>
        <p:ajax event="tabChange" process="@this" listener="#{set10AssignModify.dropThisExec()}" update="@this"/>
        <p:tab title="加派作業">
            <p:scrollPanel style="height: 270px;padding: 0 5px 0 5px" mode="native" id="set_ass_panel_id">
                <p:panelGrid>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="需求製作進度"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:selectCheckboxMenu value="#{set10AssignModify.selReqTypes}" label="請選擇" panelStyle="width:250px">
                                <f:selectItems value="#{selectItemBean.getReqStatusItems()}"/> 
                            </p:selectCheckboxMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="立單區間"/>
                        </p:column>
                        <p:column colspan="1">
                            <ui:include src="../components/date_component.xhtml" >
                                <ui:param name="startDate" value="#{set10AssignModify.startDate}" />
                                <ui:param name="endDate" value="#{set10AssignModify.endDate}" />
                                <ui:param name="startDateId" value="calStartDate" />
                                <ui:param name="endDateId" value="calEndDate" />
                            </ui:include>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="轉換單號"/>
                        </p:column>
                        <p:column colspan="3">
                            <p:inputTextarea value="#{set10AssignModify.transNos}" 
                                             rows="5" 
                                             cols="50"
                                             autoResize="false" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="來源對應部門"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:autoComplete converter="#{orgConverter}"
                                            value="#{set10AssignModify.sourceMappOrg}"
                                            completeMethod="#{orgBean.autoCompleteForOrgNameByAll}"
                                            forceSelection="true"
                                            cache="false"
                                            var="org"
                                            itemValue="#{org}"
                                            itemLabel="#{orgBean.name(org).concat(org.sid)}"
                                            scrollHeight="300"
                                            queryDelay="300"
                                            />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="目標新增部門"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:autoComplete converter="#{orgConverter}"
                                            value="#{set10AssignModify.targetMappOrg}"
                                            completeMethod="#{orgBean.autoCompleteForOrgNameByAll}"
                                            forceSelection="true"
                                            cache="false"
                                            var="org"
                                            itemValue="#{org}"
                                            itemLabel="#{orgBean.name(org).concat(org.sid)}"
                                            scrollHeight="300"
                                            queryDelay="300"
                                            />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="5">
                            <p:separator />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="3">
                            <p:outputPanel style="vertical-align: bottom;">
                                <p:commandButton value="計算分派數量" 
                                                 onclick="set10ShowLoad();" 
                                                 process="@this set_ass_panel_id" 
                                                 actionListener="#{set10AssignModify.countExecute}"
                                                 update="@parent"
                                                 oncomplete="set10HideLoad();"
                                                 rendered="#{!set10AssignModify.showExecute}"
                                                 />
                                <p:commandButton value="放棄本次分派" 
                                                 onclick="set10ShowLoad();" 
                                                 process="@this" 
                                                 actionListener="#{set10AssignModify.dropThisExec()}"
                                                 update="@parent" 
                                                 oncomplete="set10HideLoad();"
                                                 rendered="#{set10AssignModify.showExecute and !set10AssignModify.showDownloadLog}"/>
                                <p:commandButton value="執行分派" 
                                                 onclick="set10ShowLoad();" 
                                                 process="@this set_ass_panel_id" 
                                                 actionListener="#{set10AssignModify.execute}" 
                                                 update="@parent"
                                                 oncomplete="set10HideLoad();"
                                                 rendered="#{set10AssignModify.showExecute and !set10AssignModify.showDownloadLog}"
                                                 />
                                <p:commandButton value="下載分派記錄" onclick="PrimeFaces.monitorDownload(set10ShowLoad, set10HideLoad)" 
                                                 ajax="false"
                                                 actionListener="#{set10AssignModify.downloadHandlerInfo()}" 
                                                 rendered="#{set10AssignModify.showDownloadLog}"
                                                 >
                                    <p:fileDownload value="#{set10AssignModify.file}" />
                                </p:commandButton>    
                            </p:outputPanel>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:scrollPanel>
        </p:tab>
        <p:tab title="還原作業">
            <p:scrollPanel style="height: 270px;padding: 0 5px 0 5px" mode="native" id="rec_ass_panel_id">
                <p:panelGrid>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="還原部門"/>
                        </p:column>
                        <p:column colspan="2">
                            <p:autoComplete converter="#{orgConverter}"
                                            value="#{set10AssignModify.recoveryOrg}"
                                            completeMethod="#{orgBean.autoCompleteForOrgNameByAll}"
                                            forceSelection="true"
                                            cache="false"
                                            var="org"
                                            itemValue="#{org}"
                                            itemLabel="#{orgBean.name(org).concat(org.sid)}"
                                            scrollHeight="300"
                                            queryDelay="300"
                                            />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel value="還原單號"/>
                            <p:outputLabel value=" 逗號分隔 ex: req01,req02,req03" style="color:red;font-weight: bold;"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:scrollPanel mode="native" style="max-height:100px; min-width:273px;border:none;word-break: normal;">
                                <p:inputTextarea value="#{set10AssignModify.recoveryReqNos}" 
                                                 cols="33"
                                                 style="border:none;"
                                                 />
                            </p:scrollPanel>
                        </p:column>
                    </p:row>                      
                    <p:row>
                        <p:column colspan="5">
                            <p:separator />
                        </p:column>
                    </p:row>                    
                    <p:row>
                        <p:column colspan="5">
                            <p:outputPanel style="vertical-align: bottom;">
                                <p:commandButton value="計算還原數量" 
                                                 onclick="set10ShowLoad();" 
                                                 process="@this rec_ass_panel_id" 
                                                 actionListener="#{set10AssignModify.countRecovery}"
                                                 update="@parent"
                                                 oncomplete="set10HideLoad();"
                                                 rendered="#{!set10AssignModify.showExecute}"
                                                 />
                                <p:commandButton value="放棄本次還原" 
                                                 onclick="set10ShowLoad();" 
                                                 process="@this" 
                                                 actionListener="#{set10AssignModify.dropThisExec()}"
                                                 update="@parent" 
                                                 oncomplete="set10HideLoad();"
                                                 rendered="#{set10AssignModify.showExecute and !set10AssignModify.showDownloadLog}"/>
                                <p:commandButton value="執行還原" 
                                                 onclick="set10ShowLoad();" 
                                                 process="@this rec_ass_panel_id" 
                                                 actionListener="#{set10AssignModify.executeRecovery}" 
                                                 update="@parent"
                                                 oncomplete="set10HideLoad();"
                                                 rendered="#{set10AssignModify.showExecute and !set10AssignModify.showDownloadLog}"
                                                 />
                                <p:commandButton value="下載還原記錄" onclick="PrimeFaces.monitorDownload(set10ShowLoad, set10HideLoad)" 
                                                 ajax="false"
                                                 actionListener="#{set10AssignModify.downloadRecoveryInfo()}" 
                                                 rendered="#{set10AssignModify.showDownloadLog}"
                                                 >
                                    <p:fileDownload value="#{set10AssignModify.file}" />
                                </p:commandButton>    
                            </p:outputPanel>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:scrollPanel>
        </p:tab>
    </p:tabView>
</html>

