<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/template1.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="第二分類維護作業" />
	</ui:define>
	<ui:define name="content">
		<p:outputPanel id="screen_view">
			<p:panelGrid
				columns="2"
				styleClass="width100 marginTop10">
				<p:panelGrid
					id="screen_view_query"
					columns="4">
					<p:outputLabel value="狀態：" />
					<p:selectOneMenu value="#{setting13MBean.filterStatus}">
						<f:selectItem
							itemValue=""
							itemLabel="全部" />
						<f:selectItems value="#{activationBean.getValues()}" />
					</p:selectOneMenu>
					<p:outputLabel value="分類名稱：" />
					<p:inputText
						value="#{setting13MBean.filterName}"
						style="width: 200px;"
						placeholder="Search"
						onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
				</p:panelGrid>
				<p:panelGrid
					columns="3"
					styleClass="alignRight">
					<p:commandButton
						value="搜尋"
						onclick="doSearchData();"
						process="@this">
					</p:commandButton>
					<p:commandButton
						value="清除"
						actionListener="#{setting13MBean.btnClear()}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						update="screen_view_query screen_view_dt"
						process="@this">
					</p:commandButton>
					<p:commandButton
						value="新增"
						actionListener="#{setting13MBean.btnAdd()}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						update="dlg_category_view"
						process="@this">
					</p:commandButton>
				</p:panelGrid>
			</p:panelGrid>
			<p:dataTable
				id="screen_view_dt"
				widgetVar="wvDt"
				var="o"
				value="#{setting13MBean.allCategoryViews}"
				selection="#{setting13MBean.selCategoryView}"
				scrollHeight="400"
				rowKey="#{o.sid}"
				rowIndexVar="rowIndex"
				selectionMode="single"
				paginator="true"
				rows="20"
				scrollable="true"
				resizableColumns="true"
				liveResize="true"
				draggableColumns="true">
				<p:column
					headerText="序"
					styleClass="alignCenter"
					width="20">
					<h:outputText value="#{rowIndex + 1}" />
				</p:column>
				<p:column
					headerText="建立日期"
					width="85">
					<h:outputText value="#{o.createdDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="建立人員"
					width="100">
					<h:outputText value="#{o.createdUserName}" />
				</p:column>
				<p:column
					headerText="分類名稱"
					width="150">
					<p:commandButton
						icon="fa fa-search"
						actionListener="#{setting13MBean.btnEdit(o)}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						update="dlg_category_view"
						process="@this">
					</p:commandButton>
					<h:outputText value="#{o.name}" />
				</p:column>
				<p:column headerText="對應資訊">
					<h:outputText
						id="screen_view_dt_mappingData"
						value="#{o.mappingData}" />
					<p:tooltip
						for="screen_view_dt_mappingData"
						value="#{o.mappingData}"
						trackMouse="true" />
				</p:column>
				<p:column
					headerText="狀態"
					width="50">
					<h:outputText value="#{o.status}" />
				</p:column>
				<p:column
					headerText="異動日期"
					width="85">
					<h:outputText value="#{o.updatedDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
			</p:dataTable>
		</p:outputPanel>

		<p:dialog
			header="新增"
			widgetVar="dlg_category_wv"
			modal="true"
			draggable="true"
			closable="true"
			resizable="true"
			position="top">
			<p:panelGrid
				columns="2"
				id="dlg_category_view">
				<p:outputLabel value="分類名稱：" />
				<p:inputText
					value="#{setting13MBean.categoryViewTo.name}"
					maxlength="255" />
				<p:outputLabel value="分類名稱：" />
				<p:commandButton
					icon="fa fa-search"
					actionListener="#{setting13MBean.btnOpenCategoryTree()}"
					onclick="showLoad();"
					oncomplete="hideLoad();"
					update="@widgetVar(dlg_Cate)"
					process="@this">
				</p:commandButton>
				<p:outputLabel
					value="狀態："
					rendered="#{not empty setting13MBean.categoryViewTo.sid}" />
				<p:selectOneMenu
					value="#{setting13MBean.categoryViewTo.status}"
					rendered="#{not empty setting13MBean.categoryViewTo.sid}">
					<f:selectItems value="#{activationBean.getValues()}" />
				</p:selectOneMenu>
				<p:outputLabel value="備註：" />
				<p:inputTextarea
					value="#{setting13MBean.categoryViewTo.memo}"
					maxlength="255" />
			</p:panelGrid>
			<p:panelGrid columns="2">
				<p:commandButton
					value="確定"
					actionListener="#{setting13MBean.btnSave()}"
					onclick="showLoad();"
					oncomplete="hideLoad();"
					process="@this dlg_category_view">
				</p:commandButton>
				<p:commandButton
					value="取消"
					actionListener="#{setting13MBean.btnCancelSave()}"
					onclick="showLoad();"
					oncomplete="hideLoad();PF('dlg_category_wv').hide()"
					update="dlg_category_view"
					process="@this">
				</p:commandButton>
			</p:panelGrid>
		</p:dialog>

		<!--類別組合樹-->
		<ui:include src="../components/category_tree.xhtml">
			<ui:param
				name="widgetVar"
				value="dlg_Cate" />
			<ui:param
				name="categoryTreeComponent"
				value="#{setting13MBean.categoryTreeComponent}" />
		</ui:include>

		<p:confirmDialog
			id="dlg_msg_id"
			widgetVar="dlg_msg_wv"
			closable="false"
			header="確定">
			<p:hotkey
				bind="esc"
				onstart="PF('dlg_msg_wv').hide()" />
			<f:facet name="message">
				<h:outputText
					id="dlg_msg_view"
					value="#{setting13MBean.msg}"
					escape="false" />
			</f:facet>
			<p:commandButton
				value="確認"
				type="button"
				onclick="PF('dlg_msg_wv').hide()" />
		</p:confirmDialog>

		<!--畫面執行Enter查詢-->
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{setting13MBean.doSearch()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			update="screen_view_dt"
			process="@this screen_view_query" />

		<script type="text/javascript">
            //選取dataTable row
            function selectRow(obj, rowIndex) {
                if (checkWidgets(obj)) {
                    PF(obj).unselectAllRows();
                    PF(obj).selectRow(rowIndex, false);
                }
            }
        </script>
	</ui:define>
</ui:composition>

