<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<p:outputPanel>
	<div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; align-self: stretch; padding-left: 10px">
		<div style="height: 20px" />
		<div style="display: flex; align-self: stretch; width: 100%; height: 1px; border-top: solid #cc9f8e 3px;" />
		<div style="height: 20px" />
		<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">
			<div>閱讀記錄轉檔：</div>
			<p:commandButton
				value="閱讀記錄轉檔-需求單"
				actionListener="#{set10TrnsOldReadRecordMBean.processRequire()}"
				onclick="showLoad();"
				oncomplete="hideLoad();"
				process="@this" />
			<div style="width: 6px" />
			<p:commandButton
				value="原型確認單"
				actionListener="#{set10TrnsOldReadRecordMBean.processPt()}"
				onclick="showLoad();"
				oncomplete="hideLoad();"
				process="@this" />
			<div style="width: 6px" />
			<p:commandButton
				value="送測單"
				actionListener="#{set10TrnsOldReadRecordMBean.processTest()}"
				onclick="showLoad();"
				oncomplete="hideLoad();"
				process="@this" />
			<div style="width: 6px" />
			<p:commandButton
				value="ON程式單"
				actionListener="#{set10TrnsOldReadRecordMBean.processOnpg()}"
				onclick="showLoad();"
				oncomplete="hideLoad();"
				process="@this" />
		</div>
		<div style="height: 20px" />
		<div style="display: flex; align-self: stretch; width: 100%; height: 1px; border-top: solid #cc9f8e 3px;" />
		<div style="height: 8px" />
		<p:outputPanel
			id="requireDepRebuildService"
			style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">
			<div>需求確認單位轉檔：</div>
			<p:commandButton
				value="需求確認單位轉檔 (收束到部改為組)"
				actionListener="#{set10OneTimeTransMBean.processRequireDepRebuild(false)}"
				onclick="showLoad();"
				oncomplete="hideLoad();"
				process="@this requireDepRebuildService" />
			<div>指定單號：</div>
			<p:inputText value="#{set10OneTimeTransMBean.requireDepRebuildServiceTargetRequireNo}" />
			<div style="height: 8px" />
			<p:commandButton
				value="僅結案"
				actionListener="#{set10OneTimeTransMBean.processRequireDepRebuild(true)}"
				onclick="showLoad();"
				oncomplete="hideLoad();"
				process="@this requireDepRebuildService" />
			<div style="height: 8px" />
			<div>次數：</div>
			<p:inputText value="#{set10OneTimeTransMBean.requireDepRebuildRunCount}" />

		</p:outputPanel>
		<div style="height: 20px" />
		<div style="display: flex; align-self: stretch; width: 100%; height: 1px; border-top: solid #cc9f8e 3px;" />
		<div style="height: 8px" />
		<p:outputPanel
			id="requireDepOwnerService"
			style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">
			<div>需求確認單位轉檔：</div>
			<p:commandButton
				value="需求確認單位轉檔 (負責人單位異動轉檔)"
				actionListener="#{set10OneTimeTransMBean.processTrnsRequireDepByOwner()}"
				onclick="showLoad();"
				oncomplete="hideLoad();"
				process="@this requireDepOwnerService" />
			<div>指定單號：</div>
			<p:inputText value="#{set10OneTimeTransMBean.requireDepOwnerServiceTargetRequireNo}" />
		</p:outputPanel>
		<div style="height: 20px" />
		<div style="display: flex; align-self: stretch; width: 100%; height: 1px; border-top: solid #cc9f8e 3px;" />
		<div style="height: 8px" />
		<p:outputPanel
			id="RequireDepRestToDefault"
			style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">
			<div>依據預設分派單位，自動加派：</div>
			<p:commandButton
				value="自動加派"
				actionListener="#{set10OneTimeTransMBean.processRequireDepRestToDefault()}"
				onclick="showLoad();"
				oncomplete="hideLoad();"
				process="@this RequireDepRestToDefault" />
			<div>指定單號：</div>
			<p:inputText value="#{set10OneTimeTransMBean.requireDepRestToDefaultTargetRequireNo}" />
		</p:outputPanel>
		<div style="height: 20px" />
		<div style="display: flex; align-self: stretch; width: 100%; height: 1px; border-top: solid #cc9f8e 3px;" />
		<div style="height: 8px" />


	</div>
</p:outputPanel>
</html>