<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/template1.xhtml">

    <ui:define name="title"><h:outputText value="報表快選區設定" /></ui:define>
    <ui:define name="content">
        <script type="text/javascript">
            //回到首頁樣式
            function backHome() {
                if (checkIframe()) {
                    $('#btnHome', window.parent.document).click();
                    parent.document.title = "技術需求單";
                    $("#defineFavorite").css("display", "none");
                }
            }
        </script>
        <p:outputPanel id="defineFavorite">
            <p:panelGrid columns="2">
                <p:selectBooleanCheckbox value="#{setting09MBean.selectAll}" >
                    <p:ajax event="change" 
                            listener="#{setting09MBean.doSelectAll()}"
                            onstart="showLoad();" 
                            oncomplete="hideLoad();" 
                            update="defineFavorite" 
                            process="@this">
                    </p:ajax>
                </p:selectBooleanCheckbox>
                <p:outputLabel value="全選"/>
            </p:panelGrid>
            <p:scrollPanel style="height:500px; width: 300px;" 
                           mode="native">
                <p:panelGrid columns="1">
                    <p:selectManyCheckbox value="#{setting09MBean.selectReportTypes}" 
                                          layout="grid" 
                                          columns="1">
                        <f:selectItems value="#{setting09MBean.reportItems}"/>
                    </p:selectManyCheckbox>
                </p:panelGrid>
            </p:scrollPanel>
            <p:panelGrid columns="1">
                <p:commandButton value="確定"
                                 actionListener="#{setting09MBean.btnSaveFavorite}"
                                 onclick="showLoad();"
                                 oncomplete="hideLoad();backHome();"
                                 update="defineFavorite" 
                                 process="@this defineFavorite" />
            </p:panelGrid>
        </p:outputPanel>
    </ui:define>
</ui:composition>

