<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:c="http://java.sun.com/jsp/jstl/core">



<!-- 分派/通知設定 -->
<div style="overflow-x: scroll; overflow-y: scroll; height: 410px;">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th scope="col">
					&nbsp;
				</th>
				<c:forEach
					items="#{settingGmCategoryMBean.checkItemTypes}"
					var="checkItemType">
					<th scope="col">#{checkItemType.descr}</th>
				</c:forEach>
			</tr>
		</thead>
		<tbody>
			<ui:repeat
				var="smallCategoryVO"
				value="#{settingGmCategoryMBean.selectedSmallCategoryVOs}">
				<tr>
					<th scope="row">#{smallCategoryVO.name}</th>
					<c:forEach
						items="#{settingGmCategoryMBean.checkItemTypes}"
						var="checkItemType">
						<td>
							<div style="display: flex; align-items: center; flex-wrap: wrap">
								<!-- 設定鈕 -->
								<div>
									<p:commandButton
										disabled="#{not settingGmCategoryMBean.asDep_isCanSetting(checkItemType)}"
										title="#{settingGmCategoryMBean.asDep_isCanSetting(checkItemType)?'設定':'需為該項目檢查人員'}"
										icon="fa fa-cog"
										styleClass="bootstrap-fix-icon-button"
										onclick="showLoad();"
										process="@this"
										actionListener="#{settingGmCategoryMBean.asDep_openDialog(smallCategoryVO.sid, checkItemType)}"
										update="@(.assignNoticeSettingContent)"
										oncomplete="hideLoad();" />
								</div>
								<div style="width: 5px"/>
								<!-- 設定資訊 -->
								<div style="display: flex; flex-direction: row; align-items: center; flex-wrap: wrap">
									<div>
										<p:outputPanel>
											<h:outputText
												value="#{settingGmCategoryMBean.asDep_getSettingInfo(smallCategoryVO.sid, checkItemType, 'DEPINFO_TAG')}"
												escape="false" />
										</p:outputPanel>
										<p:tooltip
											for="@previous"
											trackMouse="false">
											<table class="table ">
												<thead>
													<tr class="table-primary">
														<th>分派</th>
														<th>通知</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td style="vertical-align: top;">
															<p:outputLabel
																escape="false"
																value="#{settingGmCategoryMBean.asDep_getSettingInfo(smallCategoryVO.sid, checkItemType, 'ASSIGN_DEP')}" />
														</td>
														<td style="vertical-align: top;">
															<p:outputLabel
																escape="false"
																value="#{settingGmCategoryMBean.asDep_getSettingInfo(smallCategoryVO.sid, checkItemType, 'SEND_DEP')}" />
														</td>
													</tr>
												</tbody>
											</table>
										</p:tooltip>
									</div>
									<div style="width: 5px"/>
									<p:commandLink
										value="[異動記錄]"
										styleClass="WS1-1-4"
										actionListener="#{settingGmCategoryMBean.asDepHistory_openDialog(smallCategoryVO.sid, checkItemType)}"
										update="@(.assignNoticeSettingHistoryContent)"
										onclick="showLoad();"
										oncomplete="hideLoad();">
									</p:commandLink>
								</div>

							</div>
						</td>
					</c:forEach>
				</tr>
			</ui:repeat>
		</tbody>
	</table>
</div>
<!-- 分派/通知設定 dialog -->
<cp:assign_notice_setting
	componentAlias="assignNoticeSettingDlg"
	contentStyleClass="assignNoticeSettingContent"
	model="#{settingGmCategoryMBean.asDepComponent}" />


<!-- 分派/通知設定 異動記錄 dialog -->
<p:dialog
	header="預設分派/通知單位異動記錄"
	id="assignNoticeSettingHistoryDlg"
	widgetVar="assignNoticeSettingHistoryDlg"
	closeOnEscape="true"
	resizable="false">
	<br />
	<p:outputPanel
		id="assignNoticeSettingHistoryContent"
		styleClass="assignNoticeSettingHistoryContent">
		<div
			class="table-responsive"
			style="overflow-y: scroll; height:#{(empty settingGmCategoryMBean.asDepHistoryVOs)?90:360}px;">
			<table class="table table-striped table-bordered">
				<thead class="thead thead-light">
					<tr style="text-align: center">
						<th
							style="width: 140px; text-align: center"
							scope="col">異動時間</th>
						<th
							style="width: 100px; text-align: center"
							scope="col">人員</th>
						<th
							style="width: 60px; text-align: center"
							scope="col">項目</th>
						<th
							style="width: 200px; text-align: center"
							scope="col">增加</th>
						<th
							style="width: 200px; text-align: center"
							scope="col">移除</th>
					</tr>
				</thead>
				<tbody>
					<p:outputPanel
						rendered="#{empty settingGmCategoryMBean.asDepHistoryVOs}">
						<tr>
							<td
								colspan="10"
								style="text-align: center">無資料</td>
						</tr>
					</p:outputPanel>
					<ui:repeat
						var="hisVO"
						value="#{settingGmCategoryMBean.asDepHistoryVOs}">
						<tr>
							<td style="width: 140px; text-align: center">#{hisVO.dateForDisplay}</td>
							<td style="width: 100px; text-align: center">#{hisVO.userName}</td>
							<td
								style="width: 60px; text-align: center"
								class="#{(hisVO.assignSendType.name() eq 'ASSIGN')?'WS1-1-3':'WS1-1-4'}">
								#{hisVO.assignSendType.label}</td>
							<td>
								<p:outputLabel
									value="#{hisVO.addDepsName}"
									style="width:200px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;" />
								<p:tooltip
									for="@previous"
									trackMouse="true">
									<p:outputLabel
										escape="false"
										value="#{hisVO.addDepsForTooltip}" />
								</p:tooltip>
							</td>
							<td>
								<p:outputLabel
									value="#{hisVO.removeDepsName}"
									style="width:200px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;" />
								<p:tooltip
									for="@previous"
									trackMouse="true">
									<p:outputLabel
										escape="false"
										value="#{hisVO.removeDepsForTooltip}" />
								</p:tooltip>
							</td>
						</tr>
					</ui:repeat>
				</tbody>
			</table>
		</div>
	</p:outputPanel>
	<br />
</p:dialog>
</html>