<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	template="../template/template1.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="系統管理員系統參數維護" />
	</ui:define>
	<ui:define name="content">
		<p:outputPanel
			id="main_panel"
			style="margin: 0 auto; width:90% ;overflow: hidden;">
			<!--查詢表身-->
			<p:dataTable
				value="#{settingAdminBackandParamMaintainMBean.params}"
				var="backandParam"
				rowKey="#{backandParam.keyword}"
				rowIndexVar="index"
				resizableColumns="true">
				<p:column
					headerText="使用系統別"
					style="width:100px;">
					<h:outputText
						value="#{backandParam.keyword.wkBackendParamUseSysType.descr}"
						escape="false" />
				</p:column>
				<p:column
					headerText="參數"
					style="width:160px;white-space:unset;">
					<p:outputLabel
						value="#{backandParam.keyword.name()}"
						escape="false"
						style="word-wrap: break-word;white-space: unset;" />
					<p:tooltip
						for="@previous"
						value="#{backandParam.keyword.name()}"
						escape="false" />
				</p:column>
				<p:column
					headerText="編輯"
					style="margin: 0 auto; width:60px ;overflow: hidden;">
					<p:commandButton
						icon="fa fa-pencil"
						value="文字"
						rendered="#{backandParam.keyword.wkBackendParamValueType.name() == 'TEXT'}"
						actionListener="#{settingAdminBackandParamMaintainMBean.openDialog(backandParam)}"
						onclick='showLoad();'
						oncomplete="hideLoad();"
						process="@this"
						update="@(.settingAdminBackandParamMaintain_editText_contentStyleClass)" />

					<p:commandButton
						icon="fa fa-sitemap"
						value="部門"
						rendered="#{backandParam.keyword.wkBackendParamValueType.name() == 'DEP_SID' or  backandParam.keyword.wkBackendParamValueType.name() == 'DEP_SID_INCLUDE'}"
						actionListener="#{settingAdminBackandParamMaintainMBean.openDialog(backandParam)}"
						onclick='showLoad();'
						oncomplete="hideLoad();"
						process="@this"
						update="@(.settingAdminBackandParamMaintain_editDeps_contentStyleClass)" />

					<p:commandButton
						icon="fa fa-user"
						value="人員"
						rendered="#{backandParam.keyword.wkBackendParamValueType.name() == 'USER_SID'}"
						actionListener="#{settingAdminBackandParamMaintainMBean.openDialog(backandParam)}"
						onclick='showLoad();'
						oncomplete="hideLoad();"
						process="@this"
						update="@(.settingAdminBackandParamMaintain_editUsers_contentStyleClass)" />

				</p:column>
				<p:column
					headerText="參數描述"
					style="width:300px;">
					<p:outputLabel
						value="#{backandParam.keyword.defaultDescr}"
						escape="false" />
					<p:tooltip
						for="@previous"
						value="#{backandParam.keyword.defaultDescr}"
						escape="false"
						trackMouse="true"
						styleClass="tooltipWidth" />
				</p:column>
				<p:column headerText="設定值">
					<h:outputText
						value="#{backandParam.contentShow}"
						escape="false" />
				</p:column>

				<p:column
					headerText="對應參數(work_backend_param.keyword)"
					style="width:60px;">
					<p:outputLabel
						value="#{backandParam.keyword.keyword}"
						escape="false" />
					<p:tooltip
						for="@previous"
						value="#{backandParam.keyword.keyword}"
						escape="false" />

				</p:column>
			</p:dataTable>
		</p:outputPanel>


		<!-- ======================================= -->
		<!-- 文字編輯 dialog -->
		<!-- ======================================= -->
		<p:dialog
			id="settingAdminBackandParamMaintain_editText_dlg"
			widgetVar="settingAdminBackandParamMaintain_editText_dlg"
			header="參數值"
			modal="true"
			closeOnEscape="true"
			resizable="false"
			position="center center-200">
			<p:outputPanel
				id="settingAdminBackandParamMaintain_editText_panel"
				styleClass="settingAdminBackandParamMaintain_editText_contentStyleClass">
				<p:inputTextarea
					value="#{settingAdminBackandParamMaintainMBean.voForTextEdit.content}"
					autoResize="true"
					rows="10"
					cols="100" />
				<hr />
				<p:commandButton
					value="確定"
					actionListener="#{settingAdminBackandParamMaintainMBean.editText_confirm()}"
					onclick='showLoad();'
					oncomplete="hideLoad();"
					process="@this settingAdminBackandParamMaintain_editText_panel"
					update="@(.settingAdminBackandParamMaintain_editText_contentStyleClass)" />
				<p:commandButton
					value="關閉"
					onclick="hidePF('settingAdminBackandParamMaintain_editText_dlg')" />
			</p:outputPanel>
		</p:dialog>


		<!-- ======================================= -->
		<!-- 部門編輯 dialog  -->
		<!-- ======================================= -->
		<p:dialog
			header="請選擇單位"
			id="settingAdminBackandParamMaintain_editDeps_dlg"
			widgetVar="settingAdminBackandParamMaintain_editDeps_dlg"
			modal="true"
			position="center center-100"
			onShow="clearFilterssettingAdminBackandParamMaintain_editDeps_picker('all');"
			resizable="false"
			closeOnEscape="true">
			<p:outputPanel styleClass="settingAdminBackandParamMaintain_editDeps_contentStyleClass">
				<p:panelGrid>
					<p:row>
						<p:column>
							<cp:multItemPicker
								componentID="settingAdminBackandParamMaintain_editDeps_picker"
								model="#{settingAdminBackandParamMaintainMBean.depsPicker}"
								srcMenuTitle="待選擇"
								targetMenuTitle="已選擇單位"
								menuWidth="240" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<hr />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:panelGrid>
								<p:row>
									<p:column>
										<p:commandButton
											value="確定"
											onstart="showLoad();"
											process="@this @(.settingAdminBackandParamMaintain_editDeps_contentStyleClass)"
											actionListener="#{settingAdminBackandParamMaintainMBean.editDeps_confirm()}"
											update="main_panel"
											oncomplete="hideLoad();" />
									</p:column>
									<p:column>
										<p:commandButton
											value="關閉"
											onclick="hidePF('settingAdminBackandParamMaintain_editDeps_dlg');" />
									</p:column>
								</p:row>
							</p:panelGrid>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:outputPanel>
		</p:dialog>

		<!-- ======================================= -->
		<!-- 人員編輯  -->
		<!-- ======================================= -->
		<p:dialog
			id="settingAdminBackandParamMaintain_editUsers_dlg"
			widgetVar="settingAdminBackandParamMaintain_editUsers_dlg"
			header="請選擇可檢查人員"
			modal="true"
			closeOnEscape="true"
			resizable="false">

			<p:outputPanel styleClass="settingAdminBackandParamMaintain_editUsers_contentStyleClass">
				<cp:quickSelectTree
					quickSelectTreeModel="#{orgUserTreeMBean}"
					componentID="usersQKTree"
					selectedAreaEmptyMessage="尚未選擇人員"
					selectedAreaTitle="已選擇人員"
					dataNodeIcon="fa-user">
				</cp:quickSelectTree>

				<p:outputPanel style="padding-left:10px">
					<p:commandButton
						value="確定"
						actionListener="#{settingAdminBackandParamMaintainMBean.editusers_confirm()}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						process="@this @(.usersQKTree_dataArea) @(.usersQKTree_id_selectedNodeData)"
						update="main_panel" />
                    &nbsp;&nbsp;
            			<p:commandButton
						value="取消"
						process="@this"
						onclick="hidePF('settingAdminBackandParamMaintain_editUsers_dlg')" />
					<br />
					<br />
				</p:outputPanel>
			</p:outputPanel>
		</p:dialog>
	</ui:define>
</ui:composition>

