<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                template="../template/template1.xhtml">
    <f:metadata>
        <f:event type="preRenderView" listener="#{loginBean.reStartIdle()}"/>
    </f:metadata>
    <ui:define name="title"><h:outputText value="欄位資訊基本資料" /></ui:define>
    <ui:define name="content">
        <script type="text/javascript">
            function onKeyBySearch(event) {
                if (checkEnter(event)) {
                    doSearchData();
                }
            }
        </script>
        <p:remoteCommand name="doSearchData" actionListener="#{setting02MBean.searchByStatusAndTextData}"  
                         onstart="showLoad();" oncomplete="hideLoad();"
                         process="@this queryCondition" update="viewPanel" />
        <p:layout id="viewPanel" >
            <p:layoutUnit position="north" header="欄位資訊基本資料" >
                <!-- 欄位資訊基本資料 -->
                <p:panelGrid columns="2" styleClass="width100 marginTop10" id="queryCondition">
                    <p:panelGrid columns="4" >
                        <p:inputText value="#{setting02MBean.searchText}"
                                     style="width: 200px;" placeholder="Search"
                                     onkeydown="onKeyBySearch(event);"/>
                        <p:commandButton icon="fa fa-search" 
                                         actionListener="#{setting02MBean.searchByStatusAndTextData}"
                                         onclick="showLoad();" oncomplete="hideLoad();"
                                         update="viewPanel" process="@this queryCondition" />
                    </p:panelGrid>
                    <p:panelGrid columns="1" styleClass="alignRight">
                        <p:commandButton value="新增" actionListener="#{setting02MBean.startMaintenace('新增','nvl')}" process="@this" disabled="#{setting02MBean.maintenanceHeader != '檢視'}"/>
                    </p:panelGrid>
                </p:panelGrid>
            </p:layoutUnit>

            <p:layoutUnit position="center" header="#{setting02MBean.maintenanceHeader}" size="100%" >
                <p:spacer/>
                <!-- 欄位資料 -->
                <p:dataTable value="#{setting02MBean.items}"  rendered="#{!setting02MBean.maintenance}" scrollHeight="500"
                             var="item" 
                             rowIndexVar="rowIndex"
                             rowKey="#{item.sid}"
                             selectionMode="single"
                             selection="#{setting02MBean.maintenBasicField}"
                             >
                    <p:ajax event="rowSelect" listener="#{setting02MBean.startMaintenace('檢視',item.sid)}" oncomplete="PF('maintenaceBlockWv').show();" process="@this" />
                    <p:column headerText="序" width="3%" style="text-align:center;">
                        <h:outputText value="#{rowIndex+1}">
                        </h:outputText>
                    </p:column>
                    <p:column headerText="欄位名稱" >
                        <h:outputText value="#{item.fieldName}" />
                    </p:column>

                    <p:column headerText="必要輸入" >
                        <h:outputText value="#{item.requiredInput}" />
                    </p:column>

                    <p:column headerText="建立索引" >
                        <h:outputText value="#{item.requiredIndex}" />
                    </p:column>

                    <p:column headerText="顯示欄位" >
                        <h:outputText value="#{item.showFieldName}" />
                    </p:column>

                    <p:column headerText="備註" >
                        <h:outputText value="#{item.note}" />
                    </p:column>
                </p:dataTable>
                <!-- 新增 檢視 編輯 欄位資訊基本資料 -->
                <p:panel id="maintenanceBlockPanelId" rendered="#{setting02MBean.maintenance}">
                    <p:panelGrid columns="3" id="mainteanceEdit" rendered="#{setting02MBean.maintenance}">
                        <p:outputLabel value="欄位名稱：" />
                        <p:outputLabel value=" * " style="color: red" />
                        <p:inputText value="#{setting02MBean.maintenBasicField.fieldName}" maxlength="255"/>

                        <p:outputLabel value="是否必要輸入欄位：" />
                        <p:outputLabel value=" * " style="color: red" />
                        <p:selectOneRadio  value="#{setting02MBean.maintenBasicField.requiredInput}" >
                            <f:selectItem itemLabel="是" itemValue="true" />
                            <f:selectItem itemLabel="否" itemValue="false" />
                        </p:selectOneRadio>

                        <p:outputLabel value="是否建立索引：" />
                        <p:outputLabel value=" * " style="color: red" />
                        <p:selectOneRadio  value="#{setting02MBean.maintenBasicField.requiredIndex}" >
                            <f:selectItem itemLabel="是" itemValue="true" />
                            <f:selectItem itemLabel="否" itemValue="false" />
                        </p:selectOneRadio>

                        <p:outputLabel value="是否顯示欄位名稱：" />
                        <p:outputLabel value=" * " style="color: red" />
                        <p:selectOneRadio  value="#{setting02MBean.maintenBasicField.showFieldName}" >
                            <f:selectItem itemLabel="是" itemValue="true" />
                            <f:selectItem itemLabel="否" itemValue="false" />
                        </p:selectOneRadio>

                        <p:outputLabel value="備註：" />
                        <p:spacer/>
                        <p:inputTextarea value="#{setting02MBean.maintenBasicField.note}" rows="10" cols="30" maxlength="255" />
                    </p:panelGrid>
                </p:panel>
                <p:blockUI block="maintenanceBlockPanelId" trigger="editBtnId" widgetVar="maintenaceBlockWv" animate="false" />
                <p:panelGrid rendered="#{setting02MBean.maintenance}">
                    <p:commandButton value="編輯" id="editBtnId" 
                                     actionListener="#{setting02MBean.startMaintenace('編輯',node.id)}" 
                                     onclick="PF('maintenaceBlockWv').hide();"
                                     process="@this mainteanceEdit"
                                     rendered="#{setting02MBean.maintenanceHeader eq '檢視'}"
                                     />
                    <p:commandButton value="確定" 
                                     actionListener="#{setting02MBean.save}" 
                                     onclick="showLoad();" 
                                     oncomplete="hideLoad();" 
                                     process="@this mainteanceEdit"
                                     rendered="#{setting02MBean.maintenanceHeader != '檢視'}"
                                     />
                    <p:commandButton value="取消" 
                                     actionListener="#{setting02MBean.exitMaintenace}" 
                                     process="@this"
                                     />
                </p:panelGrid>
                <p:spacer/>
            </p:layoutUnit>
        </p:layout>
    </ui:define>
</ui:composition>

