<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	template="../template/template1.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="系統通知訂閱" />
	</ui:define>


	<ui:define name="libCSS">
		<link
			rel="stylesheet"
			href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
		<link
			rel="stylesheet"
			href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
	</ui:define>

	<ui:define name="customCSS">
		<link
			rel="stylesheet"
			type="text/css"
			href="../resources/css/bootstrap-fix.css?cyln=#{commonBean.getVersion()}" />

		<link
			rel="stylesheet"
			type="text/css"
			href="../resources/css/customStyleForBootstarp.css?cyln=#{commonBean.getVersion()}" />

		<link
			rel="stylesheet"
			type="text/css"
			href="../resources/css/setting_sys_notify.css?cyln=#{commonBean.getVersion()}" />
	</ui:define>

	<ui:define name="customScript">
		<!-- Latest compiled and minified JavaScript -->
		<script
			src="//netdna.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</ui:define>

	<ui:define name="content">
		<div class="container">
			<div class="row">
				<!-- ====================================== -->
				<!-- 總開關 -->
				<!-- ====================================== -->
				<div class="col-md-12">
					<div class="panel panel-default">
						<!-- bootstrap panel -->
						<div class="panel-heading">系統通知總開關</div>
						<div class="panel-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12">
										&nbsp;
										<p:inputSwitch
											value="#{settingSysNotifyMBean.settingInfo.openMainSwich}"
											onLabel="ON"
											offLabel="OFF">
											<p:ajax
												listener="#{settingSysNotifyMBean.updateMainSwitch()}"
												process="@this"
												update="@(.notify_setting_info) @(.other_setting_info)" />
										</p:inputSwitch>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ====================================== -->
				<!-- 總開關 -->
				<!-- ====================================== -->
				<p:outputPanel
					styleClass="col-md-12 other_setting_info"
					id="other_setting_info">
					<!-- bootstrap panel -->
					<p:outputPanel
						class="panel panel-default"
						rendered="#{settingSysNotifyMBean.settingInfo.openMainSwich}">
						<!-- bootstrap panel -->
						<div class="panel-heading">參數設定</div>
						<div class="panel-body">
							<div
								style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center">
								<div>通知 Mail 設定：</div>
								<div>&nbsp;</div>
								<div>
									<p:commandButton
										icon="fa fa-gears"
										style="width:24px;height:24px"
										process="@this"
										update="@(.#{settingSysNotifyMBean.MAIL_SETTING_DLG_ID}_contentStyleClass)"
										actionListener="#{settingSysNotifyMBean.event_open_setting_mailAddr_dlg()}"
										onclick="showLoad();"
										oncomplete="hideLoad();"
										title="設定" />
								</div>
								<div>&nbsp;</div>
								<div style="display: flex; flex-direction: column;">
									<c:forEach
										items="#{settingSysNotifyMBean.settingInfo.getNotifyMailAddrByList()}"
										var="mailAddrs">
										<p:outputLabel value="#{mailAddrs}" />
									</c:forEach>
								</div>
							</div>
						</div>
					</p:outputPanel>
				</p:outputPanel>


				<!-- ====================================== -->
				<!-- 項目設定 -->
				<!-- ====================================== -->
				<p:outputPanel
					styleClass="col-md-12 notify_setting_info"
					id="notify_setting_info">

					<!-- 同步目前所點選的 tab, 避免重新渲染 notify_setting_info 時, tab 失焦 -->
					<p:inputText
						value="#{settingSysNotifyMBean.tabIndex}"
						id="tabIndex"
						type="hidden" />
					<script>
						function syncTabIndex() {
							$(".settingSysNotifyTab").each(
									function(index, value) {
										var self = $(value);
										if (self.hasClass("active")) {
											$("#tabIndex").val(index);
											return false;
										}
									});
						}
					</script>

					<!-- bootstrap panel -->
					<p:outputPanel
						class="panel panel-default"
						rendered="#{settingSysNotifyMBean.settingInfo.openMainSwich}">
						<div class="panel-heading">項目設定</div>
						<div class="panel-body">
							<div class="container-fluid">
								<div class="row align-items-center settingSysNotify_panel">
									<div class="col-md-12">
										<ul class="nav nav-tabs">

											<ui:repeat
												var="notifyModule"
												value="#{sysNotifyEnumHelper.notifyModules}"
												varStatus="moduleStatus">
												<li
													class="settingSysNotifyTab #{(moduleStatus.index == settingSysNotifyMBean.tabIndex)?'active':''}">
													<a
														data-toggle="tab"
														href="#tab_content_#{notifyModule.name()}">#{notifyModule.label}</a>
												</li>
											</ui:repeat>
										</ul>
										<div class="tab-content">
											<ui:repeat
												var="notifyModule"
												value="#{sysNotifyEnumHelper.notifyModules}"
												varStatus="moduleStatus">
												<!-- 通知模組 -->
												<c:set
													var="notifyModuleName"
													value="#{notifyModule.name()}" />
												<div
													id="tab_content_#{notifyModuleName}"
													class="tab-pane fade #{(moduleStatus.index==settingSysNotifyMBean.tabIndex)?'in active':''}">
													<ui:include
														src="../setting/setting_sys_notify_info_grid.xhtml" />
												</div>
											</ui:repeat>
										</div>
									</div>
								</div>
							</div>
						</div>
					</p:outputPanel>
				</p:outputPanel>
				<!-- ====================================== -->
				<!-- 說明 -->
				<!-- ====================================== -->
				<div class="col-md-12">
					<div class="panel panel-default">
						<!-- bootstrap panel -->
						<div class="panel-heading">說明</div>
						<div class="panel-body">
							<h4>【總開關】</h4>
							<ul>
								<li>當關閉時，不會收到任何通知</li>
								<li>開啟後，需同時將項目開關(Gmail、推撥)也開啟，才會收到通知</li>
							</ul>
							<br />
							<h4>【項目開關】</h4>
							<ul>
								<li>【Gmail 通知】：會寄發通知到使用者的公司信箱</li>
								<li>【首頁推撥】：在首頁以便利貼方式顯示通知</li>
							</ul>
							<br />
							<h4>【自訂通知項目】</h4>
							<ul>
								<li>可依據【需求類別】、【廳主】選擇想收到的單據類型</li>
								<li class="WS1-1-3">需求類別、廳主項目都有設定時，判斷方式為【聯集】</li>
								<li>例如只想收到『廳主為寶馬』的單據，則設定需求類別為：【全部不通知】、廳主為：【寶馬@bmw】</li>
							</ul>
							<br />
							<h4>【其他說明】</h4>
							<ul>
								<li class="WS1-1-3">若自己為通知事件觸發者，不會收到通知。</li>
								<li>例如自己點選【結案】則自己不會收到【結案通知】</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<ui:include src="../setting/setting_sys_notify_dialog.xhtml" />
	</ui:define>
</ui:composition>

