<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<p:panelGrid
	styleClass="settingSysNotify_panel"
	style="margin: 0 auto; width:100%">
	<f:facet name="header">
		<p:row>
			<p:column width="100px">
				<div>通知項目</div>
			</p:column>
			<p:column>
				<div>功能說明</div>
			</p:column>
			<p:column>
				<div>開關</div>
			</p:column>
			<p:column>
				<div>自訂通知項目</div>
			</p:column>
		</p:row>
	</f:facet>
	<ui:repeat
		var="notifyType"
		value="#{sysNotifyEnumHelper.notifyTypes}">
		<c:set
			var="notifyTypeInfo"
			value="#{settingSysNotifyMBean.settingInfo.typeInfo[notifyType]}" />
		<!-- 通知項目是否屬於這個頁簽 -->
		<c:set
			var="isThisModule"
			value="#{notifyType.type.name() eq notifyModule.name()}" />
		<!-- 程式中是否有實做通知 -->
		<c:set
			var="isInUse"
			value="#{notifyType.hasSysNotify}" />
		<p:row rendered="#{isThisModule and isInUse}">
			<!-- 通知項目 -->
			<p:column>
				<div style="white-space: nowrap;">
					<h4><h:outputText value="#{notifyType.value}" escape="false"/></h4>
				</div>
			</p:column>
			<!-- 功能說明 -->
			<p:column style="width:300px">
				<div class="container-fluid">
					<h5>
						<h:outputText
							value="說明：#{notifyType.descr}"
							escape="false" />
					</h5>
					<h5>
						<h:outputText
							value="觸發：#{notifyType.descrEvent}"
							escape="false" />
					</h5>
					<h5>
						<h:outputText
							value="對象：#{notifyType.descrNoticeTarget}"
							escape="false" />
					</h5>
				</div>
			</p:column>
			<!-- 開關 -->
			<p:column>
				<div
					style="display: inline-flex; flex-wrap: wrap; justify-content: center; padding-left: 12px">
					<ui:repeat
						var="notifyMode"
						value="#{sysNotifyEnumHelper.notifyModes}">
						<div>
							<p:selectBooleanButton
								value="#{notifyTypeInfo.openSwitch[notifyMode]}"
								onLabel="&nbsp;#{notifyMode.descr} ON"
								offLabel="&nbsp;#{notifyMode.descr} OFF"
								onIcon="fa fa-check"
								offIcon="fa fa-times"
								style="width:90px">
								<p:ajax
									process="@this"
									update="@this"
									listener="#{settingSysNotifyMBean.updateNotifyTypeSwitch(notifyType, notifyMode.name())}" />
							</p:selectBooleanButton>
						</div>
						<div>
							&nbsp;
						</div>
					</ui:repeat>
				</div>
			</p:column>
			<!-- 自訂通知項目 -->
			<p:column>
				<div
					style="display: inline-flex; flex-direction: column; justify-content: center;">
					<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
						<div>
							<p:commandButton
								icon="fa fa-filter"
								value="&nbsp;依需求類別"
								style="width:auto;height:26px; min-width:96px"
								actionListener="#{settingSysNotifyMBean.event_dialog_categoryTree_open(notifyType)}"
								onclick="showLoad();syncTabIndex();"
								oncomplete="hideLoad();;"
								update="@(.dlg_categoryCollection)"
								process="@this tabIndex">
							</p:commandButton>
						</div>
						<div
							style="display: flex; flex-direction: column; justify-content: center">
							<p:outputPanel styleClass="showDesc_categoryCollection">
								<div
									style="width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
									<h:outputText
										value="#{notifyTypeInfo.showInfoForFilterDescr[sysNotifyEnumHelper.trnsToNotifyFilterType('SMALL_CATEGORY')]}"
										escape="false" />
								</div>
							</p:outputPanel>
							<p:tooltip
								styleClass="showDesc_categoryCollection"
								for="@previous"
								value="#{notifyTypeInfo.showInfoForFilterTooltip[sysNotifyEnumHelper.trnsToNotifyFilterType('SMALL_CATEGORY')]}"
								escape="false"
								trackMouse="true">
							</p:tooltip>
						</div>
					</div>
					<div>
						&nbsp;
					</div>
					<div>
						<div style="display: flex; flex-direction: row; flex-wrap: wrap;">
							<div>
								<p:commandButton
									icon="fa fa-filter"
									value="&nbsp;依廳主"
									style="width:auto;height:26px; min-width:96px"
									actionListener="#{settingSysNotifyMBean.event_dialog_customer_open(notifyType)}"
									onclick="showLoad();syncTabIndex();"
									oncomplete="hideLoad();"
									process="@this tabIndex"
									update="@(.#{settingSysNotifyMBean.CUSTOMER_PICKER_ID}_contentStyleClass)" />
							</div>
							<div
								style="display: flex; flex-direction: column; justify-content: center">
								<p:outputPanel styleClass="showDesc_customerCollection">
									<div
										style="width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
										<h:outputText
											value="#{notifyTypeInfo.showInfoForFilterDescr[sysNotifyEnumHelper.trnsToNotifyFilterType('COSTOMER')]}"
											escape="false" />
									</div>
								</p:outputPanel>
								<p:tooltip
									styleClass="showDesc_customerCollection"
									for="@previous"
									value="#{notifyTypeInfo.showInfoForFilterTooltip[sysNotifyEnumHelper.trnsToNotifyFilterType('COSTOMER')]}"
									escape="false"
									trackMouse="true">
								</p:tooltip>
							</div>
						</div>
					</div>
				</div>
			</p:column>
		</p:row>
	</ui:repeat>
</p:panelGrid>
</html>

