<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<p:dataTable
	id="#{settingCustomGroupMBean.DATA_TABLE_ID}#{settingCustomGroupMBean.SETTING_TYPE_USER}"
	widgetVar="#{settingCustomGroupMBean.DATA_TABLE_ID}#{settingCustomGroupMBean.SETTING_TYPE_USER}"
	value="#{settingCustomGroupMBean.userSettings}"
	var="currUserGroup"
	rowKey="#{currUserGroup.sid}"
	rowIndexVar="index"
	selectionMode="single"
	draggableRows="true"
	emptyMessage="尚未設定"
	style="padding-top:2px">
	<f:facet name="header">
		<div
			class="container-fluid"
			style="display: flex; align-items: center">
			<div class="col-xs-4 col-md-4 col-lg-4" />
			<!-- title -->
			<div
				class="col-xs-4 col-md-4 col-lg-4"
				style="display: flex; flex-direction: column; justify-content: center; align-items: center">
				<i
					class="fa fa-3x fa-users"
					aria-hidden="true"></i>
				<div>設定人員群組</div>
			</div>
			<!-- 新增按鈕 -->
			<div
				class="col-xs-4 col-md-4"
				style="display: flex; flex-direction: row-reverse; justify-content: space-between; align-items: center">
				<p:commandButton
					value="新增人員群組"
					title="新增人員群組"
					style="height: 30px;width: auto;"
					onstart="showLoad();"
					action="#{settingCustomGroupMBean.openEditGroupDialog(false, true, null)}"
					process="@this"
					oncomplete="hideLoad();" />
			</div>
		</div>
	</f:facet>

	<!-- 排序事件:人員 -->
	<p:ajax
		event="rowReorder"
		onstart="showLoad();"
		oncomplete="deleteDraggableRowsErrorContent();hideLoad();"
		listener="#{settingCustomGroupMBean.sortUserGroups}"
		update="#{settingCustomGroupMBean.DATA_TABLE_ID}#{settingCustomGroupMBean.SETTING_TYPE_USER}" />

	<p:column
		headerText="序"
		width="50"
		style="text-align:center">
		<h:outputText value="#{index+1}" />
	</p:column>
	<p:column
		headerText="功能"
		width="100">
		<div style="display: flex; align-items: center; justify-content: center">
			<p:commandButton
				value="編輯"
				icon="fa fa-2x fa-pencil"
				styleClass="settingCustomGroup-func-btn"
				onstart="showLoad();"
				action="#{settingCustomGroupMBean.openEditGroupDialog(false, false, currUserGroup.sid)}"
				process="@this"
				oncomplete="hideLoad();" />
		</div>
	</p:column>
	<p:column headerText="群組名稱">
		<div>#{currUserGroup.groupName}</div>
	</p:column>
	<p:column headerText="群組說明">
		<div>#{currUserGroup.groupDescr}</div>
	</p:column>
	<p:column
		headerText="人員群組設定內容"
		style="text-align:center">
		<p:outputLabel
			style="width: -webkit-fill-available;"
			value="#{currUserGroup.groupUserDetail}"
			escape="false" />
	</p:column>
	<p:column
		width="160"
		headerText="分享對象">
		<div style="display: flex; align-items: center;">
			<div>部門：</div>
			<p:commandButton
				icon="fa fa-cog"
				title="設定"
				onstart="showLoad();"
				action="#{settingCustomGroupMBean.openShareDepDialog_Edit(currUserGroup.sid)}"
				process="@this"
				oncomplete="hideLoad();" />
			<div style="width: 10px" />
			<p:outputLabel
				value="#{currUserGroup.shareDepTag}"
				escape="false" />
			<p:tooltip
				for="@previous"
				value="#{currUserGroup.shareDepDetail}"
				escape="false"
				trackMouse="true" />
		</div>
		<div style="height: 5px" />
		<div style="display: flex; align-items: center;">
			<div>個人：</div>
			<p:commandButton
				icon="fa fa-cog"
				title="設定"
				onstart="showLoad();"
				action="#{settingCustomGroupMBean.openShareUserDialog_Edit(currUserGroup.sid)}"
				process="@this"
				oncomplete="hideLoad();" />
			<div style="width: 10px" />
			<p:outputLabel
				value="#{currUserGroup.shareUserTag}"
				escape="false" />
			<p:tooltip
				for="@previous"
				value="#{currUserGroup.shareUserDetail}"
				escape="false"
				trackMouse="true" />
		</div>
	</p:column>
	<p:column
		headerText="功能"
		width="100">
		<div style="display: flex; align-items: center; justify-content: center">
			<p:commandButton
				value="刪除"
				icon="fa fa-2x fa-trash"
				styleClass="settingCustomGroup-func-btn"
				onstart="showLoad();"
				action="#{settingCustomGroupMBean.preDelete(currUserGroup.sid)}"
				process="@this"
				oncomplete="hideLoad();" />
		</div>
	</p:column>
</p:dataTable>
</html>

