<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<div style="overflow-x: scroll; overflow-y: scroll; height: 360px;">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th
					scope="col"
					class="col-md-2">使用者</th>
				<c:forEach
					items="#{sysNotifyEnumHelper.notifyTypes}"
					var="notifyType">
					<p:outputPanel
						rendered="#{notifyType.type eq notifyModule and notifyType.hasSysNotify}">
						<th
							scope="col"
							class="col-md-1">#{notifyType.value}</th>
					</p:outputPanel>
				</c:forEach>
				<td class="col-md-12" />
			</tr>
		</thead>
		<tbody>
			<ui:repeat
				var="userInfo"
				value="#{settingManagerSysNotifyMBean.userSettingInfos}">
				<tr>
					<th
						scope="row"
						class="col-md-2">#{userInfo.userInfo}</th>
					<c:forEach
						items="#{sysNotifyEnumHelper.notifyTypes}"
						var="notifyType">
						<p:outputPanel
							rendered="#{notifyType.type eq notifyModule and notifyType.hasSysNotify}">
							<td class="col-md-1">
								<p:selectBooleanButton
									value="#{userInfo.openSwitchMapByNotifyType[notifyType]}"
									onLabel="&nbsp;ON"
									offLabel="&nbsp;OFF"
									onIcon="fa fa-check"
									offIcon="fa fa-times"
									style="width:90px">
									<p:ajax
										process="@this"
										update="@this"
										listener="#{settingManagerSysNotifyMBean.event_update(userInfo.userSid, notifyType, userInfo.itemSid)}" />
								</p:selectBooleanButton>
							</td>
						</p:outputPanel>
					</c:forEach>
					<td class="col-md-12" />
				</tr>
			</ui:repeat>
		</tbody>
	</table>
</div>
</html>

