<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<!-- ======================================= -->
<!-- 群組設定編輯視窗  -->
<!-- ======================================= -->
<p:dialog
	header="群組設定"
	id="#{settingCustomGroupMBean.EDIT_DIALOG_NAME}"
	widgetVar="#{settingCustomGroupMBean.EDIT_DIALOG_NAME}"
	modal="true"
	position="center center-100"
	closeOnEscape="true"
	resizable="false"
	onShow="PF_initPosition('#{settingCustomGroupMBean.EDIT_DIALOG_NAME}');">

	<!-- 群組資訊 -->
	<p:outputPanel
		id="#{settingCustomGroupMBean.EDIT_DIALOG_CONTENT}"
		styleClass="#{settingCustomGroupMBean.EDIT_DIALOG_CONTENT}">

		<p:scrollPanel
			style="max-height: 600px;border: none;"
			mode="native">
			<p:messages escape="false" />
			<div class="coffee-block coffee-block-margin">
				<div
					class="coffee-block-header"
					style="background: #cc9f8e">群組資訊</div>
				<div class="coffee-block-blank">
					<div
						style="display: flex; flex-direction: column; justify-content: flex-start;">
						<div
							style="display: flex; align-items: center; justify-content: flex-start;">
							<span style="color: red;">*</span>
							<div style="white-space: nowrap">名稱：</div>
							<p:inputText
								value="#{settingCustomGroupMBean.editVO.groupName}"
								style="width:100%"
								maxlength="50" />
						</div>
						<div>
							&nbsp;
						</div>
						<div
							style="display: flex; align-items: center; justify-content: flex-start;">
							<span style="color: white;">*</span>
							<div style="white-space: nowrap">說明：</div>
							<p:inputTextarea
								value="#{settingCustomGroupMBean.editVO.groupDescr}"
								rows="2"
								style="width:100%" />
						</div>
					</div>
				</div>
			</div>
			<!-- 設定內容 -->
			<div class="coffee-block coffee-block-margin">
				<div
					class="coffee-block-header"
					style="background: #cc9f8e">設定內容</div>
				<div class="coffee-block-blank">
					<!-- 單位 picker  -->
					<p:outputPanel
						style="display: flex; align-items: center; justify-content: center;"
						rendered="#{settingCustomGroupMBean.editTypeIsDep}">
						<cp:multItemPicker
							componentID="#{settingCustomGroupMBean.DEP_DLG_GROUP_DEP_PICKER_ID}"
							model="#{settingCustomGroupMBean.groupDepsPicker}"
							srcMenuTitle="待選擇單位"
							targetMenuTitle="群組單位"
							menuWidth="240"
							menuHeight="250" />
					</p:outputPanel>
					<!-- 人員 picker  -->
					<p:outputPanel
						style="display: flex; align-items: center; justify-content: center;"
						rendered="#{not settingCustomGroupMBean.editTypeIsDep}">
						<cp:multiUserQuickPicker
							componentID="#{settingCustomGroupMBean.EDIT_DLG_USER_GROUP_PICKER_ID}"
							component="#{settingCustomGroupMBean.groupUsersPicker}" />
					</p:outputPanel>
				</div>
			</div>
		</p:scrollPanel>
		<div>
			<hr />
		</div>
		<p:outputPanel rendered="#{not empty settingCustomGroupMBean.editVO}">
			<p:outputPanel
				style="display: flex; align-items: center; justify-content: flex-start">
				<div style="width: 20px"></div>
				<p:commandButton
					value="儲存"
					onstart="showLoad();"
					actionListener="#{settingCustomGroupMBean.openEditGroupDialog_save()}"
					process="@this #{settingCustomGroupMBean.EDIT_DIALOG_CONTENT}"
					oncomplete="hideLoad();" />
				<div style="width: 20px"></div>
				<p:commandButton
					value="取消"
					process="@this"
					onclick="hidePF('#{settingCustomGroupMBean.EDIT_DIALOG_NAME}');" />
			</p:outputPanel>
		</p:outputPanel>
		<br />
	</p:outputPanel>
</p:dialog>
<!-- ======================================= -->
<!-- 分享部門編輯視窗  -->
<!-- ======================================= -->
<p:dialog
	header="請選擇分享部門"
	id="#{settingCustomGroupMBean.SHARE_DEP_DLG_NAME}"
	widgetVar="#{settingCustomGroupMBean.SHARE_DEP_DLG_NAME}"
	modal="true"
	position="center center-50"
	closeOnEscape="true"
	resizable="false"
	onShow="clearFilter#{settingCustomGroupMBean.SHARE_DEP_PICKER_ID}('all');">
	<p:outputPanel
		id="#{settingCustomGroupMBean.SHARE_DEP_DLG_CONTENT}"
		styleClass="#{settingCustomGroupMBean.SHARE_DEP_DLG_CONTENT}">
		<cp:multItemPicker
			componentID="#{settingCustomGroupMBean.SHARE_DEP_PICKER_ID}"
			model="#{settingCustomGroupMBean.shareDepsPicker}"
			srcMenuTitle="待選擇單位"
			targetMenuTitle="群組單位"
			menuWidth="240"
			menuHeight="250" />
	</p:outputPanel>
	<hr />
	<br />
	<p:outputPanel
		style="display: flex; align-items: center; justify-content: flex-start">
		<div style="width: 10px"></div>
		<p:commandButton
			value="儲存"
			onstart="showLoad();"
			actionListener="#{settingCustomGroupMBean.saveShareSetting(true)}"
			process="@this #{settingCustomGroupMBean.SHARE_DEP_DLG_CONTENT}"
			oncomplete="hideLoad();" />
		<div style="width: 20px"></div>
		<p:commandButton
			value="取消"
			process="@this"
			onstart="showLoad();hidePF('#{settingCustomGroupMBean.SHARE_DEP_DLG_NAME}');"
			oncomplete="hideLoad();" />
	</p:outputPanel>
	<br />
</p:dialog>

<!-- ======================================= -->
<!-- 分享人員編輯視窗  -->
<!-- ======================================= -->
<p:dialog
	id="#{settingCustomGroupMBean.SHARE_USER_DLG_NAME}"
	widgetVar="#{settingCustomGroupMBean.SHARE_USER_DLG_NAME}"
	header="請選擇分享人員"
	position="center center-50"
	modal="true"
	closeOnEscape="true"
	resizable="false">
	<p:outputPanel
		id="#{settingCustomGroupMBean.SHARE_USER_DLG_CONTENT}"
		styleClass="#{settingCustomGroupMBean.SHARE_USER_DLG_CONTENT}">
		<cp:multiUserQuickPicker
			componentID="#{settingCustomGroupMBean.SHARE_USER_PICKER_ID}"
			component="#{settingCustomGroupMBean.shareUsersPicker}" />
	</p:outputPanel>
	<br />
	<p:outputPanel
		style="display: flex; align-items: center; justify-content: flex-start">
		<div style="width: 10px"></div>
		<p:commandButton
			value="儲存"
			onstart="showLoad();"
			actionListener="#{settingCustomGroupMBean.saveShareSetting(false)}"
			process="@this #{settingCustomGroupMBean.SHARE_USER_DLG_CONTENT}"
			oncomplete="hideLoad();" />
		<div style="width: 20px"></div>
		<p:commandButton
			value="取消"
			process="@this"
			onstart="showLoad();hidePF('#{settingCustomGroupMBean.SHARE_USER_DLG_NAME}');"
			oncomplete="hideLoad();" />
	</p:outputPanel>
	<br />
</p:dialog>

</html>

