<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	template="../template/template1.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="部門/人員選單自定義群組" />
	</ui:define>


	<ui:define name="libCSS">
		<link
			rel="stylesheet"
			href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
		<link
			rel="stylesheet"
			href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" />
	</ui:define>

	<ui:define name="customCSS">
		<link
			rel="stylesheet"
			type="text/css"
			href="../resources/css/customStyleForBootstarp.css?cyln=#{commonBean.getVersion()}" />
		<link
			rel="stylesheet"
			type="text/css"
			href="../resources/css/bootstrap-fix.css?cyln=#{commonBean.getVersion()}" />
		<style>
.ui-datatable-empty-message {
	text-align: center;
}

.settingCustomGroup-func-btn {
	height: 40px;
}

.settingCustomGroup-func-btn .ui-button-text {
	white-space: nowrap;
}

.nav-tabs {
	border-bottom: 1px solid #ddd;
}

.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
}

.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav>li {
	position: relative;
	display: block;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}
</style>
	</ui:define>

	<ui:define name="customScript">
		<!-- Latest compiled and minified JavaScript -->
		<script
			src="//netdna.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

		<script>
			$( document ).ready(function() {
				$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
				  var target = $(e.target).attr("href") // activated tab
				  
				});
			});
				
			function reloadOpener(componentID) {
				if (window === undefined || window === null
						|| window.opener === undefined
						|| window.opener === null) {
					return;
				}
				
				//呼叫 opener 的刷新畫面方法
				let openerReloadFunc = window.opener.reloadGroup#{settingCustomGroupMBean.openerComponentID}; 
				//判斷是否有對應的更新方法 
				if(!common_isFunc(openerReloadFunc)){
					return;
				}	
				//執行
				openerReloadFunc();
			}
			
		</script>
	</ui:define>
	<ui:define name="content">
		<div
			class="bootstrap-fix"
			style="display: flex; justify-content: center;">
			<table style="width: 94%">
				<tbody>
					<tr>
						<td>
							<h:outputText
								value="部門/人員選單自定義群組"
								styleClass="reportTypeColor" />
						</td>
					</tr>
					<tr style="height: 20px">
						<td />
					</tr>
					<tr>
						<td>
							<div class="container-fluid">
								<div class="row align-items-center">
									<div class="col-md-12">
										<ul class="nav nav-tabs">
											<li class="#{settingCustomGroupMBean.focusTab eq settingCustomGroupMBean.SETTING_TYPE_DEP?'active':''}"><a
													data-toggle="tab"
													href="#tab_content#{settingCustomGroupMBean.SETTING_TYPE_DEP}"
													cType="#{settingCustomGroupMBean.SETTING_TYPE_DEP}">部門群組</a>
											</li>
											<li class="#{settingCustomGroupMBean.focusTab eq settingCustomGroupMBean.SETTING_TYPE_USER?'active':''}"><a
													data-toggle="tab"
													href="#tab_content#{settingCustomGroupMBean.SETTING_TYPE_USER}"
													cType="#{settingCustomGroupMBean.SETTING_TYPE_USER}">人員群組</a>
											</li>
										</ul>
										<div class="tab-content">
											<div
												id="tab_content#{settingCustomGroupMBean.SETTING_TYPE_DEP}"
												class="tab-pane fade #{settingCustomGroupMBean.focusTab eq settingCustomGroupMBean.SETTING_TYPE_DEP?'in active':''}">
												<ui:include src="setting_custom_group_datatable_dep.xhtml" />
											</div>
											<div
												id="tab_content#{settingCustomGroupMBean.SETTING_TYPE_USER}"
												class="tab-pane fade #{settingCustomGroupMBean.focusTab eq settingCustomGroupMBean.SETTING_TYPE_USER?'in active':''}">
												<ui:include src="setting_custom_group_datatable_user.xhtml" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<ui:include src="setting_custom_group_dialog.xhtml" />
	</ui:define>
</ui:composition>

