<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      >

    <p:tabView>
        <p:ajax event="tabChange" process="@this" listener="#{set10TransDepModify.dropThisExec()}" update="@this"/>
        <p:tab title="增加轉寄單位作業">
            <p:scrollPanel style="height: 270px;padding: 0 5px 0 5px" mode="native" id="set_ass_panel_id">
                <p:panelGrid>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="需求製作進度"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:selectCheckboxMenu value="#{set10TransDepModify.selReqTypes}" label="請選擇" panelStyle="width:250px">
                                <f:selectItems value="#{subProgramTypeBean.transJobRequireStatusTypeItems}"/> 
                            </p:selectCheckboxMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="轉換單號"/>
                        </p:column>
                        <p:column colspan="3">
                            <p:inputTextarea value="#{set10TransDepModify.transReqNos}" 
                                             rows="5" 
                                             cols="50"
                                             autoResize="false" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1"/>
                        <p:column colspan="3">
                            <p:outputLabel value="填入格式：單號1,單號2,單號3"/>
                        </p:column>
                    </p:row>                    
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="來源對應部門"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:autoComplete converter="#{orgConverter}"
                                            value="#{set10TransDepModify.sourceMappOrg}"
                                            completeMethod="#{orgBean.autoCompleteForOrgNameByAll}"
                                            forceSelection="true"
                                            cache="false"
                                            var="org"
                                            itemValue="#{org}"
                                            itemLabel="#{orgBean.name(org).concat(org.sid)}"
                                            scrollHeight="300"
                                            queryDelay="300"
                                            />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="目標新增部門"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:autoComplete converter="#{orgConverter}"
                                            value="#{set10TransDepModify.targetMappOrg}"
                                            completeMethod="#{orgBean.autoCompleteForOrgNameByAll}"
                                            forceSelection="true"
                                            cache="false"
                                            var="org"
                                            itemValue="#{org}"
                                            itemLabel="#{orgBean.name(org).concat(org.sid)}"
                                            scrollHeight="300"
                                            queryDelay="300"
                                            />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="5">
                            <p:separator />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="3">
                            <p:outputPanel style="vertical-align: bottom;">
                                <p:commandButton value="計算並核對正確轉換數量"
                                                 onclick="set10ShowLoad();"
                                                 process="@this set_ass_panel_id"
                                                 actionListener="#{set10TransDepModify.countExecute}"
                                                 update="@parent"
                                                 oncomplete="set10HideLoad();"
                                                 rendered="#{!set10TransDepModify.showExecute}"
                                                 />
                                <p:commandButton value="放棄本次轉換"
                                                 onclick="set10ShowLoad();"
                                                 process="@this"
                                                 actionListener="#{set10TransDepModify.dropThisExec()}"
                                                 update="@parent"
                                                 oncomplete="set10HideLoad();"
                                                 rendered="#{set10TransDepModify.showExecute and !set10TransDepModify.showDownloadLog}"/>
                                <p:commandButton value="開始轉換"
                                                 onclick="set10ShowLoad();"
                                                 process="@this set_ass_panel_id"
                                                 actionListener="#{set10TransDepModify.execute}"
                                                 update="@parent"
                                                 oncomplete="set10HideLoad();"
                                                 rendered="#{set10TransDepModify.showExecute and !set10TransDepModify.showDownloadLog}"
                                                 />
                                <p:commandButton value="下載轉換記錄" onclick="PrimeFaces.monitorDownload(set10ShowLoad, set10HideLoad)"
                                                 ajax="false"
                                                 actionListener="#{set10TransDepModify.downloadHandlerInfo()}"
                                                 rendered="#{set10TransDepModify.showDownloadLog}"
                                                 >
                                    <p:fileDownload value="#{set10TransDepModify.file}" />
                                </p:commandButton>    
                            </p:outputPanel>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:scrollPanel>
        </p:tab>
        <p:tab title="還原作業">
            <p:scrollPanel style="height: 270px;padding: 0 5px 0 5px" mode="native" id="rec_ass_panel_id">
                <p:panelGrid>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="轉換收件群組ID(alert_group_sid)"/>
                        </p:column>
                        <p:column colspan="3">
                            <p:inputTextarea value="#{set10TransDepModify.recoveryAlertGroupSids}" 
                                             rows="5" 
                                             cols="50"
                                             autoResize="false" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1"/>
                        <p:column colspan="3">
                            <p:outputLabel value="填入格式：groupSid1,groupSid2,groupSid3"/>
                        </p:column>
                    </p:row>    
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="還原單位"/>
                        </p:column>
                        <p:column colspan="2">
                            <p:autoComplete converter="#{orgConverter}"
                                            value="#{set10TransDepModify.recoveryOrg}"
                                            completeMethod="#{orgBean.autoCompleteForOrgNameByAll}"
                                            forceSelection="true"
                                            cache="false"
                                            var="org"
                                            itemValue="#{org}"
                                            itemLabel="#{orgBean.name(org).concat(org.sid)}"
                                            scrollHeight="300"
                                            queryDelay="300"
                                            />
                        </p:column>
                    </p:row>                    
                    <p:row>
                        <p:column colspan="5">
                            <p:separator />
                        </p:column>
                    </p:row>                    
                    <p:row>
                        <p:column colspan="5">
                            <p:outputPanel style="vertical-align: bottom;">
                                <p:commandButton value="計算還原數量"
                                                 onclick="set10ShowLoad();"
                                                 process="@this rec_ass_panel_id"
                                                 actionListener="#{set10TransDepModify.countRecovery}"
                                                 update="@parent"
                                                 oncomplete="set10HideLoad();"
                                                 rendered="#{!set10TransDepModify.showExecute}"
                                                 />
                                <p:commandButton value="放棄本次還原"
                                                 onclick="set10ShowLoad();"
                                                 process="@this"
                                                 actionListener="#{set10TransDepModify.dropThisExec()}"
                                                 update="@parent"
                                                 oncomplete="set10HideLoad();"
                                                 rendered="#{set10TransDepModify.showExecute and !set10TransDepModify.showDownloadLog}"/>
                                <p:commandButton value="執行還原"
                                                 onclick="set10ShowLoad();"
                                                 process="@this rec_ass_panel_id"
                                                 actionListener="#{set10TransDepModify.executeRecovery}"
                                                 update="@parent"
                                                 oncomplete="set10HideLoad();"
                                                 rendered="#{set10TransDepModify.showExecute and !set10TransDepModify.showDownloadLog}"
                                                 />
                                <p:commandButton value="下載還原記錄" onclick="PrimeFaces.monitorDownload(set10ShowLoad, set10HideLoad)"
                                                 ajax="false"
                                                 actionListener="#{set10TransDepModify.downloadRecoveryInfo()}"
                                                 rendered="#{set10TransDepModify.showDownloadLog}"
                                                 >
                                    <p:fileDownload value="#{set10TransDepModify.file}" />
                                </p:commandButton>    
                            </p:outputPanel>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:scrollPanel>
        </p:tab>
    </p:tabView>
</html>
