<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<p:outputPanel style="display: flex; flex-direction: column ; justify-content: flex-start; align-items: center; align-self: stretch; padding: 10px 10px 10px 10px;">
	<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">
		<p:commandButton
			value="執行新增通知單位"
			actionListener="#{set10BatchAddNoticeDepMBean.process()}"
			onclick="set10ShowLoad();"
			oncomplete="set10HideLoad();"
			process="@this @(.styleClass_transTargetRequireForm)"
			update="@widgetVar(s10BottomWv)" />
	</div>

	<div style="height: 8px" />
	<div style="display: flex; align-self: stretch; width: 100%; height: 1px; border-top: solid #cc9f8e 3px;" />
	<div style="height: 8px" />
	<p:outputPanel
		styleClass="styleClass_targetNoticeDep"
		style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">
		<div>被通知部門：</div>
		<div>
			<p:commandButton
				icon="ui-icon-search"
				style="width:24px;height:24px"
				actionListener="#{set10BatchAddNoticeDepMBean.event_dialog_noticeDepTree_open()}"
				onclick="set10ShowLoad();"
				oncomplete="set10HideLoad();"
				update="@(.dlg_assignNoticeDep)"
				process="@this" />
		</div>
		<h:outputText
			value="#{set10BatchAddNoticeDepMBean.showSelectTargetNoticeDep()}"
			escape="false" />
	</p:outputPanel>
	<div style="height: 8px" />
	<p:outputPanel
		styleClass="styleClass_transTargetRequireForm" 
		style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; align-self: stretch;">
		<div style="display: flex; align-self: stretch;">新增通知單位單據：貼入 requireSid 或 requireNo 並以『,』或『斷行』分隔</div>
		<div style="height: 4px" />
		<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;">
			<p:inputTextarea
				value="#{set10BatchAddNoticeDepMBean.transTargetRequireForm}"
				autoResize="false"
				rows="10"
				cols="100" />
		</div>
	</p:outputPanel>

</p:outputPanel>

<!-- 通知單位 -->
<p:dialog
	header="被通知單位"
	id="dlg_assignNoticeDep"
	widgetVar="wv_dlg_assignNoticeDep"
	modal="true"
	position="left+400 center-100"
	closeOnEscape="true"
	resizable="false">
	<p:outputPanel styleClass="dlg_assignNoticeDep">
		<cp:singleSelectTreePicker
			componentID="noticeDepTree"
			model="#{set10BatchAddNoticeDepMBean.noticeDepTreePicker}"
			title="點兩下選擇單位"
			menuWidth="-1"
			menuHeight="500"
			clickEventUpdateArea="@(.styleClass_targetNoticeDep)" />
	</p:outputPanel>
</p:dialog>
</html>