<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<p:column>
	<div>GM設定(一般同仁)</div>
</p:column>
<p:column>
	<div>01.可直接貼上連結(url)開啟任何需求單</div>
	<div>02.需求單-可強制修改『期望完成日』</div>
	<div>03.需求單-可強制修改『系統別』</div>
	<div>04.需求單-可強制需求完成</div>
	<div>05.ON程式單：回覆時，固定使用『GM回覆』</div>
	<div>06.『報表-需求單查詢(GM)』可使用權限</div>
	<div>07.『報表-送測狀況一覽表』填單單位、送測單位可選擇全部部門</div>
	<div>08.『報表-ON程式一覽表』填單單位、通知單位可選擇全部部門</div>
	<div>09.『維護-需求管理者維護-類別資訊設定查詢』可使用權限</div>
	<div>10.『維護-需求管理者維護-類別資訊設定作業』可使用權限</div>
</p:column>
<p:column>
	<p:panelGrid
		id="f03_panel"
		style="margin: auto; width:98%;">
		<f:facet name="header">
			<p:row>
				<p:column>
					<div>部門</div>
				</p:column>
				<p:column>
					<div>人員</div>
				</p:column>
			</p:row>
		</f:facet>
		<p:row>
			<p:column>
				<h:panelGroup>
					<p:commandButton
						icon="fa fa-search"
						actionListener="#{settingGmBackandMaintainMBean.openDepsPicker('GM_LIST_LV1_DEPSIDS')}"
						onclick='showLoad();'
						oncomplete="hideLoad();"
						process="@this"
						update="@(.settingGmBackandMaintain_depsPicker_contentStyleClass)" />
					<h:outputText
						value="#{(empty settingGmBackandMaintainMBean.f03_depNames)?'尚未設定':settingGmBackandMaintainMBean.f03_depNames}"
						escape="false" />
				</h:panelGroup>
			</p:column>
			<p:column>
				<h:panelGroup>
					<p:commandButton
						icon="fa fa-search"
						actionListener="#{settingGmBackandMaintainMBean.openUsersPicker('GM_LIST_LV1_USERSIDS')}"
						onclick='showLoad();'
						oncomplete="hideLoad();"
						process="@this"
						update="@(.settingGmBackandMaintain_usersPicker_contentStyleClass)" />
					<h:outputText
						value="#{(empty settingGmBackandMaintainMBean.f03_userNames)?'尚未設定':settingGmBackandMaintainMBean.f03_userNames}"
						escape="false" />
				</h:panelGroup>
			</p:column>
		</p:row>
	</p:panelGrid>
</p:column>
</html>

