<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <!-- 快取處理 -->
    <p:outputPanel>
        <!-- 線上資訊 -->
        <p:tabView dynamic="true" widgetVar="s10BottomWv" orientation="left">
            <p:tab title="系統資源">
                <p:outputPanel id="sysinfoId" style="padding: 2px 2px 0px 2px">
                    <p:poll widgetVar="sysinfoPollWv" stop="#{!memMonitorMBean.autoUpdateSwtich}"
                            interval="1" 
                            listener="#{memMonitorMBean.recSysInfoByView()}"
                            process="@this" 
                            update="@this @next"/>
                    <p:panelGrid columns="2" style="width: 100%">
                        <p:chart type="line" model="#{memMonitorMBean.sysinfoImmediateModel}" style="height:300px;" />    
                    </p:panelGrid>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="資料來源：" />
                        <p:selectOneButton value="#{memMonitorMBean.showModeSwitch}">
                            <p:ajax listener="#{memMonitorMBean.showModeSwitchAction()}" update="sysinfoId" />
                            <f:selectItem itemLabel="歷史" itemValue="history" />
                            <f:selectItem itemLabel="當前" itemValue="current" />
                        </p:selectOneButton>                        
                        <p:outputLabel value="自動更新:" />
                        <p:inputSwitch value="#{memMonitorMBean.autoUpdateSwtich}">
                            <p:ajax process="@this" update="sysinfoId" />
                        </p:inputSwitch>            
                        <p:outputLabel value="顯示間隔：" />
                        <p:selectOneButton value="#{memMonitorMBean.showRecMode}">
                            <p:ajax process="@this" update="sysinfoId" />
                            <f:selectItems value="#{memMonitorMBean.getViewIntervalItem()}"/>
                        </p:selectOneButton>
                        <p:outputLabel value="節點數量：" />
                        <p:selectOneButton value="#{memMonitorMBean.canShowMaxNode}">
                            <p:ajax process="@this" update="sysinfoId" />
                            <f:selectItem itemLabel="10"  itemValue="10" />
                            <f:selectItem itemLabel="20"  itemValue="20" />
                            <f:selectItem itemLabel="30" itemValue="30" />
                        </p:selectOneButton>            
                    </p:panelGrid>
                </p:outputPanel>                
            </p:tab>
            <p:tab title="線上成員資訊">
                <p:outputPanel id="onlineInfoId" style="padding: 2px 2px 0px 2px">
                    <p:panelGrid columns="6">
                        <p:outputLabel value="自動更新線上成員資訊：" style="font-size:12px"/>
                        <p:inputSwitch value="#{onlineLoginMonitorMBean.autoUpdateSwtich}" onLabel="ON" offLabel="OFF">
                            <p:ajax process="@this" update="onlineInfoId" />
                        </p:inputSwitch> 
                    </p:panelGrid>
                    <p:poll stop="#{!onlineLoginMonitorMBean.autoUpdateSwtich}"
                            interval="1" 
                            process="@this" 
                            update="@this @next"/>
                    <p:dataTable widgetVar="onlineUserInfoTable" rowIndexVar="index"
                                 paginator="true"
                                 value="#{onlineLoginMonitorMBean.showOnLineMemberInfo()}" 
                                 var="var" scrollHeight="450" rows="10"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="10,20,50"
                                 >
                        <p:column headerText="序" width="5">
                            <p:outputLabel value="#{index+1}"/>
                        </p:column>
                        <p:column headerText="線上人員名稱" 
                                  filterBy="#{var.userName}" 
                                  filterMatchMode="contains"
                                  sortBy="#{var.userName}">
                            <p:outputLabel value="#{var.userName}"/>
                        </p:column>
                        <p:column headerText="線上人員部門" 
                                  filterBy="#{var.depName}" 
                                  filterMatchMode="contains" 
                                  sortBy="#{var.depName}">
                            <p:outputLabel value="#{var.depName}"/>
                        </p:column>    
                        <p:column headerText="最後活動時間" 
                                  sortBy="#{var.lastActiveTime}">
                            <p:outputLabel value="#{var.lastActiveTime}"/>
                        </p:column>   
                        <p:column headerText="最後活動畫面" 
                                  filterBy="#{var.lastActiveViewId}" 
                                  filterMatchMode="contains" 
                                  sortBy="#{var.lastActiveViewId}">
                            <p:outputLabel value="#{var.lastActiveViewId}"/>
                        </p:column>     
                        <p:column headerText="上線時間" 
                                  sortBy="#{var.startActivityTime}">
                            <p:outputLabel value="#{var.startActivityTime}"/>
                        </p:column>                   
                    </p:dataTable>
                </p:outputPanel>
            </p:tab>
        </p:tabView>
    </p:outputPanel>
</html>

