<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	template="../template/template1.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="類別基本資料建立作業" />
	</ui:define>
	<ui:define name="content">
		<script type="text/javascript">
            function onKeyBySearch(event) {
                if (checkEnter(event)) {
                    doSearchData();
                }
            }
        </script>
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{setting01MBean.searchByStatusAndTextData}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			process="@this queryCondition"
			update="viewPanel" />
		<p:layout
			id="viewPanel"
			widgetVar="viewPanel">
			<p:layoutUnit
				position="north"
				header="類別基本資料建立設定作業">

				


				<!-- 類別基本資料建立設定作業 -->
				<p:panelGrid
					columns="2"
					styleClass="width100 marginTop10"
					id="queryCondition">
					<p:panelGrid columns="4">
						<p:outputLabel value="使用狀態" />
						<p:selectOneMenu value="#{setting01MBean.filterStatus}">
							<f:selectItem
								itemValue=""
								itemLabel="全部" />
							<f:selectItems value="#{activationBean.getValues()}" />
						</p:selectOneMenu>
						<p:inputText
							value="#{setting01MBean.searchText}"
							style="width: 200px;"
							placeholder="Search"
							onkeydown="onKeyBySearch(event);" />
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{setting01MBean.searchByStatusAndTextData}"
							onclick="showLoad();"
							oncomplete="hideLoad();"
							update="viewPanel"
							process="@this queryCondition" />
					</p:panelGrid>
					<p:panelGrid
						columns="1"
						styleClass="alignRight">
						<p:commandButton
							value="新增"
							actionListener="#{setting01MBean.startMaintenace('新增','nvl')}"
							process="@this"
							disabled="#{setting01MBean.maintenanceHeader ne '檢視'}" />
					</p:panelGrid>
				</p:panelGrid>
			</p:layoutUnit>
			<p:layoutUnit
				id="layout_west_id"
				position="west"
				header="類別資訊"
				collapsible="true">
				<p:tree
					id="treeId"
					value="#{setting01MBean.root}"
					var="node"
					selectionMode="single"
					selection="#{setting01MBean.selectNode}">
					<p:ajax
						event="expand"
						listener="#{setting01MBean.onNodeExpand}" />
					<p:ajax
						event="collapse"
						listener="#{setting01MBean.onNodeCollapse}" />
					<p:ajax
						event="select"
						listener="#{setting01MBean.startMaintenace('檢視',node.id)}"
						oncomplete="PF('maintenaceBlockWv').show();" />
					<p:treeNode id="treeNodeId">
						<p:outputLabel
							value="#{node.name}"
							style="color:#{node.status eq 'ACTIVE'?'blue':'red'}" />
						<p:tooltip
							for="@previous"
							value="#{node.tip}"
							showEffect="fade"
							hideEffect="fade" />
					</p:treeNode>
				</p:tree>
			</p:layoutUnit>
			<p:layoutUnit
				position="center"
				header="#{setting01MBean.maintenanceHeader}"
				visible="#{setting01MBean.maintenance}">
				
				<p:panelGrid>
					<p:commandButton
						value="編輯"
						id="editBtnId"
						process="@this mainteanceEdit"
						onclick="PF('maintenaceBlockWv').hide();"
						actionListener="#{setting01MBean.startMaintenace('編輯',node.id)}"
						rendered="#{setting01MBean.maintenanceHeader eq '檢視'}" />
					<p:commandButton
						value="儲存"
						actionListener="#{setting01MBean.save}"
						onclick="showLoad();"
						oncomplete="hideLoad();"
						process="@this mainteanceEdit"
						rendered="#{setting01MBean.maintenanceHeader ne '檢視'}" />
					<p:commandButton
						value="取消"
						onclick="showLoad();"
						process="@this"
						actionListener="#{setting01MBean.exitMaintenace()}"
						oncomplete="PF('maintenaceBlockWv').show();hideLoad();" />
				</p:panelGrid>
				
				<!-- 新增 檢視 編輯 類別 | 中類 | 小類 -->
				<p:panel
					rendered="#{setting01MBean.maintenance}"
					id="maintenanceBlockPanelId">
					<p:panelGrid id="mainteanceEdit">
						<!-- 代碼：大中小類 -->
						<p:row>
							<p:column>
								代碼<span class="redColor">＊</span>：
							</p:column>
							<p:column>
								<p:inputText
									value="#{setting01MBean.maintenBasicData.id}"
									maxlength="8"
									disabled="#{setting01MBean.mainteanceDisableBtn or setting01MBean.maintenBasicData.status eq 'INACTIVE'}" />
							</p:column>
						</p:row>
						<!-- 名稱：大中小類 -->
						<p:row>
							<p:column>
								名稱<span class="redColor">＊</span>：
							</p:column>
							<p:column>
								<p:inputText
									value="#{setting01MBean.maintenBasicData.name}"
									maxlength="255"
									disabled="#{setting01MBean.maintenBasicData.status eq 'INACTIVE'}" />
							</p:column>
						</p:row>
						<!-- 屬性：大中小類 -->
						<p:row>
							<p:column>
								屬性：
							</p:column>
							<p:column>
								<p:selectOneMenu
									value="#{setting01MBean.maintenBasicData.type}"
									disabled="#{setting01MBean.maintenanceHeader eq '編輯'}">
									<f:selectItem
										itemLabel="請選擇"
										itemValue="" />
									<f:selectItems value="#{categoryMBean.getTypeValues()}" />
									<p:ajax
										event="change"
										update="formTemplate:mainteanceEdit"
										process="formTemplate:mainteanceEdit" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<!-- 對應關係：大類 -->
						<p:row rendered="#{setting01MBean.maintenBasicData.type ne 'BIG'}">
							<p:column>
								對應關係：
							</p:column>
							<p:column>
								<p:selectOneMenu
									value="#{setting01MBean.maintenBasicData.parent}"
									converter="#{categoryConverter}"
									disabled="setting01MBean.mainteanceDisableBtn || setting01MBean.maintenanceHeader eq '編輯'">
									<f:selectItem
										itemLabel="請選擇"
										itemValue="" />
									<f:selectItems
										value="#{categoryMBean.getBasicDataCategoryToMappingAttr(setting01MBean.maintenBasicData.type)}"
										var="item"
										itemValue="#{item}"
										itemLabel="#{item.name}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<!-- 使用狀態：大中小類 -->
						<p:row rendered="#{setting01MBean.maintenanceHeader ne '新增'}">
							<p:column>
								使用狀態：
							</p:column>
							<p:column>
								<p:selectOneMenu
									value="#{setting01MBean.maintenBasicData.status}"
									disabled="#{setting01MBean.mainteanceDisableStatusBtn}">
									<f:selectItems value="#{activationBean.getValues()}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<!-- 對應關係：大類 -->
						<p:row rendered="#{setting01MBean.maintenBasicData.type eq 'BIG'}">
							<p:column>
								可使用的單位：
							</p:column>
							<p:column>
								<p:panelGrid columns="4">
									<p:commandButton
										icon="fa fa-cog"
										process="@this"
										update="@widgetVar(dlgOrgTree)"
										actionListener="#{setting01MBean.initOrgTree()}"
										onclick='showLoad();'
										oncomplete="PF('dlgOrgTree').show();hideLoad();"
										disabled="#{setting01MBean.maintenBasicData.type ne 'BIG'}" />
									<p:commandButton
										icon="fa fa-th-list"
										title="檢視"
										process="@this"
										update="@next:@child(0)"
										style="margin-left: -10px;" />
									<p:overlayPanel
										for="@previous"
										showEffect="blind"
										hideEffect="blind">
										<p:dataTable
											var="var"
											style="width:520px;"
											rows="20"
											paginator="true"
											value="#{setting01MBean.maintenBasicData.canUseDepts.value}">
											<p:column
												width="120"
												headerText="組織sid"
												filterMatchMode="contains"
												filterBy="#{var}">
												<p:outputLabel value="#{var}" />
											</p:column>
											<p:column
												headerText="組織名稱"
												filterMatchMode="contains"
												filterBy="#{orgBean.name(var)}">
												<p:outputLabel value="#{orgBean.name(var)}" />
											</p:column>
										</p:dataTable>
									</p:overlayPanel>
									<p:outputPanel
										autoUpdate="true"
										style="margin-left: -23px;">
										<p:inputText
											style="word-wrap: break-word;word-break: normal;width: 500px;"
											readonly="true"
											value="#{setting01MBean.canUserDeptsStr()}"
											class="autoSkip"
											onclick="test();" />
									</p:outputPanel>
								</p:panelGrid>
							</p:column>
						</p:row>
						<!-- 需求分類：大類 -->
						<p:row rendered="#{setting01MBean.maintenBasicData.type eq 'BIG'}">
							<p:column>
								需求分類：
							</p:column>
							<p:column>
								<p:selectOneMenu value="#{setting01MBean.maintenBasicData.reqCateType}">
									<f:selectItem
										itemLabel="外部"
										itemValue="EXTERNAL" />
									<f:selectItem
										itemLabel="內部"
										itemValue="INTERNAL" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<!-- 結案後是否可執行ON程式：小類 -->
						<p:row rendered="#{setting01MBean.maintenBasicData.type eq 'SMALL'}">
							<p:column>
								結案後是否可執行ON程式：
							</p:column>
							<p:column>
								<p:selectOneRadio
									value="#{setting01MBean.maintenBasicData.whenCloseExeOnpg}"
									disabled="#{setting01MBean.maintenBasicData.status eq 'INACTIVE'}">
									<f:selectItem
										itemLabel="是"
										itemValue="true" />
									<f:selectItem
										itemLabel="否"
										itemValue="false" />
								</p:selectOneRadio>
							</p:column>
						</p:row>
						<!-- 是否自動產生ON程式資訊：小類 -->
						<p:row rendered="#{setting01MBean.maintenBasicData.type eq 'SMALL'}">
							<p:column>
								是否自動產生ON程式資訊 (開單後自動建立ON程式單)
							</p:column>
							<p:column>
								<p:selectOneRadio
									value="#{setting01MBean.maintenBasicData.autoCreateOnpg}"
									disabled="#{setting01MBean.maintenBasicData.status eq 'INACTIVE'}">
									<f:selectItem
										itemLabel="是"
										itemValue="true" />
									<f:selectItem
										itemLabel="否"
										itemValue="false" />
								</p:selectOneRadio>
							</p:column>
						</p:row>
						<!-- 是否自動產生ON程式資訊：小類 -->
						<p:row rendered="#{setting01MBean.maintenBasicData.type eq 'SMALL'}">
							<p:column>
								存檔時是否檢核夾帶附檔：
							</p:column>
							<p:column>
								<p:selectOneRadio
									value="#{setting01MBean.maintenBasicData.checkAttachment}"
									disabled="#{setting01MBean.maintenBasicData.status eq 'INACTIVE'}">
									<f:selectItem
										itemLabel="是"
										itemValue="true" />
									<f:selectItem
										itemLabel="否"
										itemValue="false" />
								</p:selectOneRadio>
							</p:column>
						</p:row>
						<!-- 是否自動產生ON程式資訊：小類 -->
						<p:row rendered="#{setting01MBean.maintenBasicData.type eq 'SMALL'}">
							<p:column>
								需求完成後自動結案：
							</p:column>
							<p:column>
								<p:selectOneRadio
									value="#{setting01MBean.maintenBasicData.checkFinishAutoClosed}"
									disabled="#{setting01MBean.maintenBasicData.status eq 'INACTIVE'}">
									<f:selectItem
										itemLabel="是"
										itemValue="true" />
									<f:selectItem
										itemLabel="否"
										itemValue="false" />
								</p:selectOneRadio>
							</p:column>
						</p:row>
						<!-- 需求單位簽核層級：小類 -->
						<p:row rendered="#{setting01MBean.maintenBasicData.type eq 'SMALL'}">
							<p:column>
								需求單位簽核層級<span class="redColor">＊</span>：
							</p:column>
							<p:column>
								<p:selectOneMenu
									disabled="#{setting01MBean.maintenBasicData.status eq 'INACTIVE'}"
									value="#{setting01MBean.maintenBasicData.signLevel}">
									<c:if test="#{empty setting01MBean.maintenBasicData.signLevel}">
										<f:selectItem
											itemLabel="請選擇"
											itemValue="" />
									</c:if>
									<f:selectItems value="#{selectItemBean.getSignLevelTypeItems()}" />
								</p:selectOneMenu>
							</p:column>
						</p:row>
						<!-- 是否為轉ON程式的資訊：小類 -->
						<p:row rendered="#{setting01MBean.maintenBasicData.type eq 'SMALL'}">
							<p:column>
								是否為轉ON程式的資訊（由『案件單系統』轉ON程式時, 可選擇的類別）：
							</p:column>
							<p:column>
								<p:selectOneRadio
									value="#{setting01MBean.maintenBasicData.showItemInTc}"
									disabled="#{setting01MBean.maintenBasicData.status eq 'INACTIVE'}">
									<f:selectItem
										itemLabel="是"
										itemValue="true" />
									<f:selectItem
										itemLabel="否"
										itemValue="false" />
								</p:selectOneRadio>
							</p:column>
						</p:row>
						<!-- 期望完成日預設天數：小類 -->
						<p:row rendered="#{setting01MBean.maintenBasicData.type eq 'SMALL'}">
							<p:column>
								期望完成日預設天數：
							</p:column>
							<p:column>
								<p:inputText
									value="#{setting01MBean.maintenBasicData.defaultDueDays}"
									disabled="#{setting01MBean.maintenBasicData.status eq 'INACTIVE'}"
									onkeypress="if(event.which &lt; 48 || event.which &gt; 57) return false;" />
								<span style="display: inline-block; width: 5px;"></span>天
							</p:column>
						</p:row>
						<!-- 可額外執行ON程式檢查完成的角色：小類 -->
						<p:row rendered="#{setting01MBean.maintenBasicData.type eq 'SMALL'}">
							<p:column>
								可額外執行ON程式檢查完成的角色：
							</p:column>
							<p:column>
								<p:inputTextarea
									value="#{setting01MBean.maintenBasicData.execOnpgOkRole}"
									autoResize="false"
									rows="8"
									cols="50"
									disabled="#{setting01MBean.maintenBasicData.status eq 'INACTIVE'}">
								</p:inputTextarea>
								<p:tooltip
									for="@previous"
									value="範例 需求單系統管理員:*,技術需求單需求單位設定管理員:*,技術需求單系統客服設定管理員:*" />
							</p:column>
						</p:row>
						<!-- 類別使用權限:大中小類 -->
						<p:row>
							<p:column>
								類別使用權限：
							</p:column>
							<p:column>
								<p:inputTextarea
									value="#{setting01MBean.maintenBasicData.permissionRole}"
									autoResize="false"
									rows="8"
									cols="50"
									disabled="#{setting01MBean.maintenBasicData.status eq 'INACTIVE'}">
								</p:inputTextarea>
								<p:tooltip
									for="@previous"
									value="範例 需求單系統管理員:*,技術需求單需求單位設定管理員:*,技術需求單系統客服設定管理員:*" />
							</p:column>
						</p:row>
						<!-- 備註說明:大中小類 -->
						<p:row>
							<p:column>
								備註說明：
							</p:column>
							<p:column>
								<p:inputTextarea
									value="#{setting01MBean.maintenBasicData.note}"
									autoResize="false"
									rows="8"
									cols="50"
									counter="display"
									maxlength="255"
									counterTemplate="剩餘可輸入長度：{0} "
									disabled="#{setting01MBean.maintenBasicData.status eq 'INACTIVE'}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:spacer />
							</p:column>
							<p:column>
								<h:outputText id="display" />
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:panel>
				<p:blockUI
					block="maintenanceBlockPanelId"
					trigger="editBtnId"
					widgetVar="maintenaceBlockWv"
					animate="false" />

			</p:layoutUnit>
		</p:layout>
		<!--報表組織樹-->
		<cp:report_org_tree
			widgetVar="dlgOrgTree"
			commonHeaderMBean="#{commonHeaderMBean}"
			organizationTreeMBean="#{organizationTreeMBean}" />
	</ui:define>
</ui:composition>

