<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      >
    <p:panelGrid columns="2">
        <p:commandButton value="轉子程序紀錄轉檔"
                         actionListener="#{set10TransSubNoticeModify.btnTransSubNotice()}"
                         onclick="showLoad();"
                         oncomplete="hideLoad();"
                         process="@this"/>
        <p:outputLabel value="子程序紀錄轉檔(有效功能至 2017/5/19 )"/>
    </p:panelGrid>
</html>

