<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<p:panelGrid>
	<p:row>
		<p:column rowspan="10">
			<p:commandButton
				value="大於部級以上『分派單位』轉『通知單位』"
				actionListener="#{set10AssignToNoticeMBean.trnsMoreThenMinisterialDepData()}"
				onclick="showLoad();"
				oncomplete="hideLoad();"
				process="@this" />
		</p:column>

	</p:row>
	<p:row>
		<p:column rowspan="10">
			<p:commandButton
				value="分派轉通知單位"
				actionListener="#{set10AssignToNoticeMBean.trnsByDeps()}"
				onclick="showLoad();"
				oncomplete="hideLoad();"
				process="@this trnsDepSidsStr" />
		</p:column>
		<p:column>
			<p:outputLabel value="單位SID.以『,』分隔" />
		</p:column>
		<p:column id="trnsDepSidsStr">
			<p:inputTextarea
				row="6"
				col="30"
				value="#{set10AssignToNoticeMBean.trnsDepSidsStr}" />
		</p:column>
	</p:row>
</p:panelGrid>
</html>