<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	template="../template/template1.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="類別設定作業" />
	</ui:define>

	<ui:define name="libCSS">
		<link
			rel="stylesheet"
			href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
		<link
			rel="stylesheet"
			href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" />
	</ui:define>

	<ui:define name="customCSS">
		<link
			rel="stylesheet"
			type="text/css"
			href="../resources/css/customStyleForBootstarp.css?cyln=#{commonBean.getVersion()}" />
		<link
			rel="stylesheet"
			type="text/css"
			href="../resources/css/bootstrap-fix.css?cyln=#{commonBean.getVersion()}" />
	</ui:define>
	<ui:define name="customScript">
		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</ui:define>
	<ui:define name="content">
		<div class="container-fluid bootstrap-fix">
			<div class="row">
				<!-- ====================================== -->
				<!-- 說明 -->
				<!-- ====================================== -->
				<div
					class="col-md-12"
					style="">
					<div class="panel panel-default">
						<!-- bootstrap panel -->
						<div class="panel-heading">說明</div>
						<div class="panel-body">
							<ul>
								<li>擊點左側項目樹，選擇要設定的項目</li>
								<li>異動設定後，會即刻生效</li>
								<li>欲調整『預設分派/通知單位』,需有對應系統別的檢查權限 (GM後台維護)</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- ====================================== -->
				<!-- 類別設定作業 -->
				<!-- ====================================== -->
				<div class="col-md-12">
					<div class="panel panel-default">
						<!-- bootstrap panel -->
						<div class="panel-heading">類別設定作業</div>
						<div class="panel-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-xs-3 col-md-4 col-lg-2">
										<p:outputPanel id="menuArea">
											<!-- =================== -->
											<!-- 需求項目樹 -->
											<!-- =================== -->
											<p:outputPanel>
												<cp:singleSelectTreePicker
													componentID="categorySingleSelelctTree"
													model="#{settingGmCategoryMBean.categoryTreePicker}"
													title="需求項目"
													menuWidth="-1"
													menuHeight="500" />
											</p:outputPanel>
										</p:outputPanel>
									</div>
									<!-- =================== -->
									<!-- 編輯內容 -->
									<!-- =================== -->
									<div class="col-xs-9 col-md-8 col-lg-10">
										<p:outputPanel
											id="settingPanel"
											styleClass="coffee-border settingPanel"
											style="height:500px">
											<p:outputPanel
												styleClass="ui-widget-header"
												style="text-align: center; height: 24px; padding-top: 3px;">
												<p:outputLabel value="設定" />
											</p:outputPanel>
											<hr style="margin-top: 5px; margin-bottom: 5px" />
											<!-- 模組 tab -->
											<ul
												class="nav nav-tabs"
												style="padding-left: 2px; padding-right: 2px;">
												<!-- 預設分派/通知單位 -->
												<li class="active">
													<a
														data-toggle="tab"
														href="#tab_content_ASSIGN_SEND">預設分派/通知單位</a>
												</li>
												<!-- 細項設定 -->
												<li>
													<a
														data-toggle="tab"
														href="#tab_content_OTHER">其他設定</a>
												</li>

											</ul>
											<!-- 模組 tab content -->
											<div
												class="tab-content"
												style="padding-left: 2px; padding-right: 2px;">
												<!-- 預設分派/通知單位 -->
												<div
													id="tab_content_ASSIGN_SEND"
													class="tab-pane fade in active">
													<ui:include src="setting_gm_category_default_asdep.xhtml" />
												</div>
												<!-- 細項設定 -->
												<div
													id="tab_content_OTHER"
													class="tab-pane fade">
													<ui:include src="setting_gm_category_other.xhtml" />
												</div>
											</div>
										</p:outputPanel>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>

