<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<p:column>
	<div>檢查人員名單設定</div>
</p:column>
<p:column>
	<div>1.依據『系統別』設定可『檢查確認』的部門或人員，以分流單據</div>
	<div>2.檢查人員可直接貼上連結(url)開啟任何需求單</div>
	<div>3.可使用『報表-GM審核-待檢查確認單據查詢』</div>
	<div>4.可使用『報表-GM審核-退件資訊查詢』+ 可查詢全單位的退件</div>
	<div>5.可使用『報表-分派相關-未分派單據查詢』</div>
</p:column>
<p:column>

	<p:panelGrid style="margin: auto; width:98%;">
		<p:row>
			<p:column>
				<p:commandButton
					value="可檢查權限總表"
					actionListener="#{settingBackandCheckConfirmRightMBean.showUserRight()}"
					onclick='showLoad();'
					oncomplete="hideLoad();"
					process="@this"
					update="@(.settingBackandCheckConfirmRight_userCheckRight_contentStyleClass)" />

				<p:commandButton
					value="查詢人員權限"
					actionListener="#{settingBackandCheckConfirmRightMBean.checkUserRight_openDialog()}"
					onclick='showLoad();'
					oncomplete="hideLoad();"
					process="@this"
					update="@(.settingBackandCheckConfirmRight_canCheckUsers_contentStyleClass)" />
			</p:column>
		</p:row>
	</p:panelGrid>

	<p:panelGrid
		id="f02_panel"
		style="margin: auto; width:98%;">
		<f:facet name="header">
			<p:row>
				<p:column>
					<div>系統別</div>
				</p:column>
				<p:column>
					<div>可檢查部門</div>
				</p:column>
				<p:column>
					<div>可檢查人員</div>
				</p:column>
			</p:row>
		</f:facet>
		<ui:repeat
			value="#{settingBackandCheckConfirmRightMBean.allSettings}"
			var="setting">
			<p:row>
				<p:column>
					<div class="settingBackandMaintain_title">#{setting.checkItemType.descr}</div>
				</p:column>
				<p:column>
					<h:panelGroup>
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{settingBackandCheckConfirmRightMBean.canCheckDeps_openDialog(setting)}"
							onclick='showLoad();'
							oncomplete="hideLoad();"
							process="@this"
							update="@(.settingBackandCheckConfirmRight_canCheckdeps_contentStyleClass)" />
						<h:outputText
							value="#{(empty setting.show_canCheckDepts)?'尚未設定':setting.show_canCheckDepts}"
							escape="false" />
					</h:panelGroup>
				</p:column>
				<p:column>
					<h:panelGroup>
						<p:commandButton
							icon="fa fa-search"
							actionListener="#{settingBackandCheckConfirmRightMBean.canCheckUsers_openDialog(setting)}"
							onclick='showLoad();'
							oncomplete="hideLoad();"
							process="@this"
							update="@(.settingBackandCheckConfirmRight_canCheckUsers_contentStyleClass)" />
						<h:outputText
							value="#{(empty setting.show_canCheckUsers)?'尚未設定':setting.show_canCheckUsers}"
							escape="false" />
					</h:panelGroup>

				</p:column>
			</p:row>
		</ui:repeat>
	</p:panelGrid>
</p:column>
</html>

