<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	template="../template/template1.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="後台維護" />
	</ui:define>
	<ui:define name="customCSS">
		<style>
.settingBackandMaintain_panel.ui-panelgrid td,
	.settingBackandMaintain_panel.ui-panelgrid tr {
	border-style: solid !important;
	border-width: 2px;
	padding: 4px 10px !important;
}

.settingBackandMaintain_panel tr {
	border-style: solid !important;
	padding: 4px 10px !important;
	border-color: black;
	border-width: 2px;
}

.settingBackandMaintain_title {
	font-weight: 900;
}
</style>
	</ui:define>
	<ui:define name="content">
		<p:panelGrid
			id="settingBackandMaintain_panel"
			styleClass="settingBackandMaintain_panel"
			style="margin: 0 auto; width:90%">
			<f:facet name="header">
				<p:row>
					<p:column width="500px">
						<div>項目</div>
					</p:column>
					<p:column>
						<div>說明</div>
					</p:column>
					<p:column>
						<div>功能</div>
					</p:column>
				</p:row>
			</f:facet>
			<!-- 單據系統別轉換作業 (在單據中已有此功能，暫時關閉)-->
			<p:row rendered="false">
				<ui:include src="../setting/setting_gm_backand_maintain_F01.xhtml" />
			</p:row>
			<!-- GM 設定 -->
			<p:row>
				<ui:include src="../setting/setting_gm_backand_maintain_F03.xhtml" />
			</p:row>
			<!-- GM 管理者設定 -->
			<p:row>
				<ui:include src="../setting/setting_gm_backand_maintain_F04.xhtml" />
			</p:row>
			<!-- 需求管理者設定 -->
			<p:row>
				<ui:include src="../setting/setting_gm_backand_maintain_F05.xhtml" />
			</p:row>
			<!-- 可檢查確認權限設定 -->
			<p:row>
				<ui:include src="../setting/setting_gm_backand_maintain_F02.xhtml" />
			</p:row>

		</p:panelGrid>
		<br />
		<br />
		<ui:include src="../setting/setting_gm_backand_maintain_F02_dialog.xhtml" />
		<ui:include src="../setting/setting_gm_backand_maintain_common_dialog.xhtml" />
	</ui:define>
</ui:composition>

