<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


<p:panelGrid rendered="false">
	<p:row>
		<p:column rowspan="10">
			<p:commandButton
				value="內部需求加派需求單位"
				actionListener="#{set10V70TrnsMBean.proceeAddAssignDepForInternal()}"
				onclick="showLoad();"
				oncomplete="hideLoad();"
				process="@this" />
		</p:column>
	</p:row>
</p:panelGrid>

<p:panelGrid rendered="false">
	<p:row>
		<p:column rowspan="10">
			<p:commandButton
				value="減派已停用部門 (僅查詢)"
				actionListener="#{set10V70TrnsMBean.clearAssignNoticeDeps('FALSE')}"
				onclick="showLoad();"
				oncomplete="hideLoad();"
				process="@this" />
		</p:column>
	</p:row>
	<p:row>
		<p:column rowspan="10">
			<p:commandButton
				value="減派已停用部門 (query + insert)"
				actionListener="#{set10V70TrnsMBean.clearAssignNoticeDeps('TRUE')}"
				onclick="showLoad();"
				oncomplete="hideLoad();"
				process="@this" />
		</p:column>
	</p:row>
</p:panelGrid>

<p:panelGrid
	rendered="false"
	id="set10V70PreTrns">
	<p:row>
		<p:column rowspan="2">
			<p:commandButton
				value="V7.0.0 資料轉檔"
				actionListener="#{set10V70TrnsMBean.trnsData()}"
				onclick="showLoad();"
				oncomplete="hideLoad();"
				update="set10V70PreTrns"
				process="@this set10V70PreTrns" />
		</p:column>
		<p:column>
			<p:outputLabel value="日期區間" />
		</p:column>
		<p:column>
			<ui:include src="../components/date_component.xhtml">
				<ui:param
					name="startDate"
					value="#{set10V70TrnsMBean.condition_startDate}" />
				<ui:param
					name="endDate"
					value="#{set10V70TrnsMBean.condition_endDate}" />
				<ui:param
					name="startDateId"
					value="set10V70PreTrns_condition_startDate" />
				<ui:param
					name="endDateId"
					value="set10V70PreTrns_condition_endDate" />
			</ui:include>
		</p:column>
		<p:column>
			<p:outputLabel value="單號.以『,』分隔" />
		</p:column>
		<p:column>
			<p:inputTextarea
				row="6"
				col="30"
				value="#{set10V70TrnsMBean.condition_requireNos}" />
		</p:column>
	</p:row>
</p:panelGrid>
</html>

