<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	template="../template/template1.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{loginBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="類別資訊設定查詢" />
	</ui:define>
	<ui:define name="content">
		<script type="text/javascript">
			function onKeyBySearch(event) {
				if (checkEnter(event)) {
					doSearchData();
				}
			}
		</script>
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{setting06MBean.searchByText()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			process="@this searchPanel"
			update="allTmps" />

		<p:outputPanel style="margin-bottom: 10px;">
			<h:outputText value="報表類型： 類別資訊設定查詢" />
		</p:outputPanel>

		<p:outputPanel
			id="searchPanel"
			style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; align-self: stretch;margin-bottom: 10px;">
			<h:outputText value="模糊搜尋： " />
			<p:inputText
				value="#{setting06MBean.searchText}"
				style="width: 200px;margin-right: 5px;"
				onkeydown="onKeyBySearch(event);" />
			<p:commandButton
				icon="fa fa-search"
				process="searchPanel"
				update="allTmps"
				actionListener="#{setting06MBean.searchByText()}"
				onstart="showLoad();"
				oncomplete="hideLoad();" />
			<div style="width: 10px" />
			<p:commandButton
				value="匯出"
				ajax="false"
				icon="fa fa-file-excel-o"
				styleClass="fix-icon-btn"
				disabled="#{fn:length(setting06MBean.allTmpCategories)==0}"
				onclick="PrimeFaces.monitorDownload(showLoad, hideLoad);"
				process="@this">
				<p:dataExporter
					type="xls"
					target="allTmps"
					fileName="#{setting06MBean.prepareExcelName()}"
					postProcessor="#{setting06MBean.postProcessXLS}">
				</p:dataExporter>
			</p:commandButton>
		</p:outputPanel>

		<p:dataTable
			id="allTmps"
			value="#{setting06MBean.allTmpCategories}"
			var="tmp"
			rowKey="#{tmp.sid}"
			rowIndexVar="index"
			scrollable="true"
			scrollHeight="600"
			resizableColumns="true">
			<p:column
				headerText="序"
				width="3%"
				exportable="false">
				<h:outputText value="#{index+1}" />
			</p:column>
			<p:column
				headerText="需求類別"
				sortBy="#{tmp.bigName}"
				exportable="true">
				<h:outputText value="#{tmp.bigName}" />
			</p:column>
			<p:column
				headerText="中類"
				sortBy="#{tmp.middleName}"
				exportable="true">
				<h:outputText value="#{tmp.middleName}" />
			</p:column>
			<p:column
				headerText="緊急度"
				width="5%"
				sortBy="#{showEnumBean.getUrgencyType(tmp.middle.urgency)}"
				exportable="false">
				<h:outputText value="#{showEnumBean.getUrgencyType(tmp.middle.urgency)}" />
			</p:column>
			<p:column
				width="120"
				headerText="中類資訊異動日"
				style="text-align:center"
				sortBy="#{tmp.middle.updatedDate}"
				exportable="false">
				<h:outputText value="#{tmp.middle.updatedDate}">
					<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
				</h:outputText>
			</p:column>
			<p:column
				headerText="小類"
				sortBy="#{tmp.smallName}">
				<h:outputText
					value="#{tmp.smallName}"
					exportable="true" />
			</p:column>
			<p:column
				headerText="分派單位"
				width="180"
				exportable="false">
				<ui:repeat
					var="checkItemType"
					value="#{setting06MBean.checkItemTypes}">
					<c:set
						var="tooltip"
						value="#{setting06MBean.getDefaultDepInfoForView(tmp.small,checkItemType,'ASSIGN', 'TOOLTIP')}" />
					<div style="display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center">
						<div>#{checkItemType.descr}：</div>
						<p:outputLabel
							value="#{setting06MBean.getDefaultDepInfoForView(tmp.small,checkItemType,'ASSIGN', 'TAG')}"
							escape="false" />
						<p:tooltip
							rendered="#{not empty tooltip}"
							for="@previous"
							value="#{tooltip}"
							escape="false"
							trackMouse="true" />
					</div>
				</ui:repeat>
			</p:column>
			<p:column
				headerText="分派-BBIN"
				width="180"
				exportable="true"
				style="display:none">
				<p:outputLabel
					value="#{setting06MBean.getDefaultDepInfoForView(tmp.small,'BBIN','ASSIGN', 'EXCEL')}"
					escape="false" />
			</p:column>
			<p:column
				headerText="分派-BBGP"
				width="180"
				exportable="true"
				style="display:none">
				<p:outputLabel
					value="#{setting06MBean.getDefaultDepInfoForView(tmp.small,'BBGP','ASSIGN', 'EXCEL')}"
					escape="false" />
			</p:column>
			<p:column
				headerText="分派-無特定系統別"
				width="180"
				exportable="true"
				style="display:none">
				<p:outputLabel
					value="#{setting06MBean.getDefaultDepInfoForView(tmp.small,'NONE','ASSIGN', 'EXCEL')}"
					escape="false" />
			</p:column>
			<p:column
				headerText="通知單位"
				width="180"
				exportable="false">
				<ui:repeat
					var="checkItemType"
					value="#{setting06MBean.checkItemTypes}">
					<c:set
						var="tooltip"
						value="#{setting06MBean.getDefaultDepInfoForView(tmp.small,checkItemType,'SEND', 'TOOLTIP')}" />
					<div style="display: flex; flex-wrap: nowrap; justify-content: flex-start; align-items: center">
						<div>#{checkItemType.descr}：</div>
						<p:outputLabel
							value="#{setting06MBean.getDefaultDepInfoForView(tmp.small,checkItemType,'SEND', 'TAG')}"
							escape="false" />
						<p:tooltip
							rendered="#{not empty tooltip}"
							for="@previous"
							value="#{tooltip}"
							escape="false"
							trackMouse="true" />
					</div>
				</ui:repeat>
			</p:column>
			<p:column
				headerText="通知-BBIN"
				width="180"
				exportable="true"
				style="display:none">
				<p:outputLabel
					value="#{setting06MBean.getDefaultDepInfoForView(tmp.small,'BBIN','SEND','EXCEL')}"
					escape="false" />
			</p:column>
			<p:column
				headerText="通知-BBGP"
				width="180"
				exportable="true"
				style="display:none">
				<p:outputLabel
					value="#{setting06MBean.getDefaultDepInfoForView(tmp.small,'BBGP','SEND', 'EXCEL')}"
					escape="false" />
			</p:column>
			<p:column
				headerText="通知-無特定系統別"
				width="180"
				exportable="true"
				style="display:none">
				<p:outputLabel
					value="#{setting06MBean.getDefaultDepInfoForView(tmp.small,'NONE','SEND', 'EXCEL')}"
					escape="false" />
			</p:column>
			<p:column
				headerText="小類資訊異動日"
				width="120"
				style="text-align:center"
				sortBy="#{tmp.small.updatedDate}"
				exportable="false">
				<h:outputText value="#{tmp.small.updatedDate}">
					<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
				</h:outputText>
			</p:column>
			<p:column
				headerText="小類失效日"
				width="120"
				style="text-align:center"
				sortBy="#{setting06MBean.getSmallCateDisableDate(tmp.small)}"
				exportable="true">
				<h:outputText value="#{setting06MBean.getSmallCateDisableDate(tmp.small)}">
					<f:convertDateTime pattern="yyyy/MM/dd HH:mm:ss" />
				</h:outputText>
			</p:column>
			<p:column
				width="40"
				style="text-align:center"
				sortBy="#{tmp.small.ptSign?'Y':''}"
				exportable="false">
				<f:facet name="header">原型<br />確認<br />簽核</f:facet>
				<h:outputText value="#{tmp.small.ptSign?'Y':''}" />
			</p:column>
			<p:column
				headerText="送測簽核"
				width="40"
				style="text-align:center"
				sortBy="#{tmp.small.testSign?'Y':''}"
				exportable="false">
				<f:facet name="header">送測<br />簽核</f:facet>
				<h:outputText value="#{tmp.small.testSign?'Y':''}" />
			</p:column>
		</p:dataTable>
	</ui:define>
</ui:composition>

