<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      >

    <p:tabView>  
        <p:tab title="增加通知單位作業">
            <!-- 快取處理 -->
            <p:scrollPanel style="height:  270px;padding: 0 5px 0 5px" mode="native">
                <p:panelGrid id="notify_view">
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="程序挑選"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:selectOneMenu id="notify_programTypeSelectMenu" 
                                             value="#{set10NotifyDepModify.notifyTo.selTransProgramType}" >
                                <f:selectItem itemValue="" itemLabel="請選擇" />
                                <f:selectItems value="#{programTypeBean.transNotifyDepProgramTypeItems}" />
                                <p:ajax event="change"
                                        onstart="showLoad();"
                                        oncomplete="hideLoad();"
                                        process="@this"
                                        update="notify_subProgramTypeSelectMenu" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="需求製作進度"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:selectCheckboxMenu value="#{set10NotifyDepModify.notifyTo.selReqTypes}" 
                                                  label="請選擇" 
                                                  panelStyle="width:250px">
                                <f:selectItems value="#{subProgramTypeBean.transJobRequireStatusTypeItems}"/> 
                            </p:selectCheckboxMenu>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="子程序狀態"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:selectCheckboxMenu id="notify_subProgramTypeSelectMenu"  
                                                  value="#{set10NotifyDepModify.notifyTo.selSubProgramTypes}" 
                                                  label="請選擇" 
                                                  panelStyle="width:250px">
                                <f:selectItems value="#{subProgramTypeBean.getSubProgramTypeItems(set10NotifyDepModify.notifyTo.selTransProgramType)}"/> 
                            </p:selectCheckboxMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="轉換單號"/>
                        </p:column>
                        <p:column colspan="3">
                            <p:inputTextarea value="#{set10NotifyDepModify.notifyTo.transNos}" 
                                             rows="5" 
                                             cols="50"
                                             autoResize="false" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1"/>
                        <p:column colspan="3">
                            <p:outputLabel value="填入格式：單號1,單號2,單號3"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="原單單位"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:autoComplete converter="#{orgConverter}"
                                            value="#{set10NotifyDepModify.notifyTo.sourceMappOrg}"
                                            completeMethod="#{orgBean.autoCompleteForOrgNameByAll}"
                                            forceSelection="true"
                                            cache="false"
                                            var="org"
                                            itemValue="#{org}"
                                            itemLabel="#{orgBean.name(org).concat(org.sid)}"
                                            scrollHeight="300"
                                            queryDelay="300"
                                            />
                        </p:column>
                    </p:row>  
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="轉換單位"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:autoComplete converter="#{orgConverter}"
                                            value="#{set10NotifyDepModify.notifyTo.targetMappOrg}"
                                            completeMethod="#{orgBean.autoCompleteForOrgNameByAll}"
                                            forceSelection="true"
                                            cache="false"
                                            var="org"
                                            itemValue="#{org}"
                                            itemLabel="#{orgBean.name(org).concat(org.sid)}"
                                            scrollHeight="300"
                                            queryDelay="300"
                                            />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="4">
                            <p:outputPanel id="notify_view_btn" style="vertical-align: bottom;">
                                <p:commandButton value="計算並核對正確的轉換數量" 
                                                 actionListener="#{set10NotifyDepModify.btnCheck()}"
                                                 onclick="showLoad();" 
                                                 oncomplete="hideLoad();"
                                                 update="notify_view_btn"
                                                 process="@this notify_view" />

                                <p:commandButton value="開始轉換" 
                                                 actionListener="#{set10NotifyDepModify.btnTrans()}"
                                                 onclick="showLoad();" 
                                                 oncomplete="hideLoad();"
                                                 update="notify_view_btn"
                                                 process="@this notify_view" />
                                <p:commandButton value="下載Log記錄" onclick="PrimeFaces.monitorDownload(set10ShowLoad, set10HideLoad)" 
                                                 ajax="false"
                                                 actionListener="#{set10NotifyDepModify.downloadHandlerInfo()}" 
                                                 >
                                    <p:fileDownload value="#{set10NotifyDepModify.file}" />
                                </p:commandButton>  
                            </p:outputPanel> 
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:scrollPanel>
        </p:tab>
        <p:tab title="還原作業">
            <p:scrollPanel style="height: 270px;padding: 0 5px 0 5px" mode="native">
                <p:panelGrid id="recovery_notify_view">
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="程序挑選"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:selectOneMenu 
                                value="#{set10NotifyDepModify.recoveryTransNotifyTo.selTransProgramType}" >
                                <f:selectItem itemValue="" itemLabel="請選擇" />
                                <f:selectItems value="#{programTypeBean.transNotifyDepProgramTypeItems}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="轉換單號"/>
                        </p:column>
                        <p:column colspan="3">
                            <p:inputTextarea value="#{set10NotifyDepModify.recoveryTransNotifyTo.transNos}" 
                                             rows="5" 
                                             cols="50"
                                             autoResize="false" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1"/>
                        <p:column colspan="3">
                            <p:outputLabel value="填入格式：單號1,單號2,單號3"/>
                        </p:column>
                    </p:row>    
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="還原單位"/>
                        </p:column>
                        <p:column colspan="2">
                            <p:autoComplete converter="#{orgConverter}"
                                            value="#{set10NotifyDepModify.recoveryTransNotifyTo.targetMappOrg}"
                                            completeMethod="#{orgBean.autoCompleteForOrgNameByAll}"
                                            forceSelection="true"
                                            cache="false"
                                            var="org"
                                            itemValue="#{org}"
                                            itemLabel="#{orgBean.name(org).concat(org.sid)}"
                                            scrollHeight="300"
                                            queryDelay="300"
                                            />
                        </p:column>
                    </p:row>                    
                    <p:row>
                        <p:column colspan="5">
                            <p:separator />
                        </p:column>
                    </p:row>                    
                    <p:row>
                        <p:column colspan="5">
                            <p:outputPanel style="vertical-align: bottom;">
                                <p:commandButton value="執行還原"
                                                 onclick="set10ShowLoad();"
                                                 process="@this recovery_notify_view"
                                                 oncomplete="set10HideLoad();"
                                                 actionListener="#{set10NotifyDepModify.recoveryTrans()}"
                                                 />
                                <p:commandButton value="下載還原記錄" onclick="PrimeFaces.monitorDownload(set10ShowLoad, set10HideLoad)"
                                                 ajax="false"
                                                 actionListener="#{set10NotifyDepModify.downloadRecoveryHandlerInfo()}" 
                                                 >
                                    <p:fileDownload value="#{set10NotifyDepModify.file}" />
                                </p:commandButton>    
                            </p:outputPanel>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:scrollPanel>
        </p:tab>
    </p:tabView>


    <p:dialog header="確認" 
              widgetVar="dlg_notify" 
              modal="true" 
              resizable="false"  >
        <p:outputPanel id="dlg_notify_msg">
            <p:outputLabel value="#{set10NotifyDepModify.notifyTo.getMsg()}"
                           escape="false"/>
        </p:outputPanel>
        <p:commandButton value="關閉"  
                         process="@this" 
                         onclick="hidePF('dlg_notify');" />
    </p:dialog>
</html>

