<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	template="../template/template1.xhtml">
	<ui:define name="title">
		<h:outputText value="PPS Modeler 執行設定分析" />
	</ui:define>


	<ui:define name="libCSS">
		<link
			rel="stylesheet"
			href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
		<link
			rel="stylesheet"
			href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" />
	</ui:define>

	<ui:define name="customCSS">
		<link
			rel="stylesheet"
			type="text/css"
			href="../resources/css/customStyleForBootstarp.css?cyln=#{commonBean.getVersion()}" />
		<link
			rel="stylesheet"
			type="text/css"
			href="../resources/css/bootstrap-fix.css?cyln=#{commonBean.getVersion()}" />
	</ui:define>


	<ui:define name="customScript">
		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</ui:define>


	<ui:define name="content">

		<p:panelGrid>
			<p:row>
				<p:column>
					<p:outputPanel style="margin: 0 auto; width:90% ;overflow: hidden;">
						<p:commandButton
							value="Modeler上傳"
							onstart="showLoad();"
							process="@this"
							actionListener="#{pps6ModelerExecSettingAnalysisMBean.openDialog()}"
							oncomplete="hideLoad();" />
					</p:outputPanel>
				</p:column>
			</p:row>

			<p:row>
				<p:column>
					<p:outputPanel
						id="dataArea"
						style="margin: 0 auto; width:90% ;overflow: hidden;">
						<!-- ui:include
							src="pps6_modeler_exec_setting_analysis_bstable.xhtml" /-->
						<ui:include src="pps6_modeler_exec_setting_analysis_datatable.xhtml" />
					</p:outputPanel>
				</p:column>
			</p:row>
		</p:panelGrid>

		<!-- ======================================= -->
		<!-- 主責單位選單  -->
		<!-- ======================================= -->
		<p:dialog
			header="modeler 匯入分析 - 關閉後即更新畫面資料"
			id="#{pps6ModelerExecSettingAnalysisMBean.dialogID}"
			widgetVar="#{pps6ModelerExecSettingAnalysisMBean.dialogID}"
			modal="true"
			position="center center-100"
			resizable="false">

			<p:ajax
				event="close"
				update="dataArea"
				listener="#{pps6ModelerExecSettingAnalysisMBean.search()}"
				onstart="showLoad();"
				oncomplete="hideLoad();" />

			<p:outputPanel
				id="#{pps6ModelerExecSettingAnalysisMBean.dialogContent}"
				class="#{pps6ModelerExecSettingAnalysisMBean.dialogContent}">
				<p:panelGrid>
					<p:row>
						<p:column>
							<p:fileUpload
								fileUploadListener="#{pps6ModelerExecSettingAnalysisMBean.handleFileUpload}"
								mode="advanced"
								dragDropSupport="false"
								multiple="true"
								allowTypes="/(\.|\/)(zip)$/"
								auto="true"
								label="選擇檔案"
								update="importMessages" />
						</p:column>
					</p:row>
					<p:row rendered="false">
						<p:column>
							<hr />
						</p:column>
					</p:row>
					<p:row rendered="false">
						<p:column>
							<p:panelGrid>
								<p:row>
									<p:column>
										<p:commandButton
											value="分析上傳檔案"
											onstart="showLoad();"
											process="@this"
											actionListener="#{pps6ModelerExecSettingAnalysisMBean.process()}"
											oncomplete="hideLoad();" />
									</p:column>
									<p:column>
										<p:commandButton
											value="關閉"
											onclick="hidePF('#{pps6ModelerExecSettingAnalysisMBean.dialogID}');" />
									</p:column>
								</p:row>
							</p:panelGrid>
						</p:column>
					</p:row>
				</p:panelGrid>
			</p:outputPanel>
		</p:dialog>

		<p:growl
			id="importMessages"
			showDetail="true" />

	</ui:define>
</ui:composition>

