<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<div class="panel panel-default">
	<div class="panel-heading">使用者選單</div>
	<div class="panel-body">
		<p:outputPanel id="myTree">
			<cp:singleSelectUserTreePicker
				componentID="orgUserSelelctTree"
				model="#{pps6CommanderMBean.singleSelectUserTreePicker}"
				title="請選擇使用者"
				menuWidth="350"
				doubleClickUpdateArea="@(.selectDataPanel)" />
		</p:outputPanel>
	</div>
</div>
</html>

