<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components">

<p:outputPanel
	id="searchUserListPanel"
	styleClass="searchUserListPanel">
	<div class="panel panel-default">
		<div class="panel-heading">
			使用者選單 <span class="WS1-1-2b">(查停用者請使用這邊)</span>
		</div>
		<div class="panel-body">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-lg-12">
						查詢公司別:
						<h6>
							<span class='WS1-1-4b'>#{pps6CommanderMBean.selectedCompInfo}</span>
						</h6>
					</div>
					<div class="col-lg-12">
						<p:inputText
							id="id_serachUserNameKeyword"
							style="width:100%"
							placeholder="Enter 查詢"
							value="#{pps6CommanderMBean.serachUserNameKeyword}"
							onkeydown="onSerachUserEnter(event);" />
					</div>
					<div class="col-lg-12">
						&nbsp;
					</div>
					<div class="col-lg-12">

						<p:dataTable
							value="#{pps6CommanderMBean.serachUserItems}"
							selection="#{pps6CommanderMBean.selectedUserItem}"
							var="itemTo"
							rowKey="#{itemTo.sid}"
							selectionMode="single"
							scrollHeight="350"
							scrollable="true"
							style="width:350px;"
							styleClass="asd">
							<p:ajax
								event="rowDblselect"
								onstart="showLoad();"
								listener="#{pps6CommanderMBean.event_selectSearchUser()}"
								process="@this @(.searchUserListPanel)"
								update="searchUserListPanel"
								oncomplete="hideLoad();" />
							<p:column headerText="請點選使用者">
								<h:outputText
									value="#{itemTo.showName}"
									escape="false" />
							</p:column>
							<p:column headerText="單位">
								<h:outputText
									value="#{itemTo.otherInfo['orgName']}"
									escape="false" />
							</p:column>
						</p:dataTable>
					</div>
				</div>
			</div>
		</div>
	</div>
</p:outputPanel>
</html>

