<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <!-- 模版預設值編輯元件 請注意ui:repeat無法處理map.keySet() 需再轉toArray()才能使用-->
    <ui:repeat value="#{parserTos}" var="parserTo">
        <p:row style="vertical-align: top;">
            <p:column colspan="2">
                <p:outputLabel rendered="#{parserTo.key != 999}" value="KEY:#{parserTo.key}" style="color: blue; width:50px" />
                <p:outputLabel rendered="#{parserTo.key == 999}" value="PMIS" style="color: blue; width:50px" />
                <p:tooltip for="@previous" value="#{parserTo.desc}" style="color: green"
                           styleClass="tooltipWidth"/>
            </p:column>
            <p:column colspan="2">
                <!-- BASE TEMP EDIT -->
                <ui:include src="/setting/template/req_temp_edit_base.xhtml">
                    <ui:param name="parserToBaseParam" value="#{parserTo}"/>
                </ui:include>
                <!-- Float validator -->
                <ui:include src="/setting/template/req_temp_edit_float_validator.xhtml">
                    <ui:param name="outParserTo" value="#{parserTo}"/>
                </ui:include>
                <!-- ComBaseList -->
                <ui:include src="/setting/template/req_temp_edit_com_base_list.xhtml">
                    <ui:param name="outParserTo" value="#{parserTo}"/>
                </ui:include>
                <!-- ComBaseMultipleRadio -->
                <ui:include src="/setting/template/req_temp_edit_com_base_mult_radio.xhtml">
                    <ui:param name="outParserTo" value="#{parserTo}"/>
                </ui:include>
                <!-- ComBaseMapListStr -->
                <ui:include src="/setting/template/req_temp_edit_com_base_map_list_str.xhtml">
                    <ui:param name="outParserTo" value="#{parserTo}"/>
                </ui:include>
                <!-- select -->
                <ui:include src="/setting/template/req_temp_select.xhtml">
                    <ui:param name="outParserTo" value="#{parserTo}"/>
                </ui:include>
            </p:column>
        </p:row>
    </ui:repeat>
</html>

