<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <!-- 模版預設值 基本編輯元件-->
    <!-- String -->
    <p:fragment>
        <p:selectOneMenu rendered="#{outParserTo.valueClz.simpleName eq 'PMIS'}"
                         value="#{outParserTo.value}">
            <f:selectItem itemLabel="不轉PMIS" itemValue="" />
            <f:selectItem itemLabel="d_theme" itemValue="THEME" />
            <f:selectItem itemLabel="d_reason" itemValue="REASON" />
            <f:selectItem itemLabel="d_desc" itemValue="DESC" />
        </p:selectOneMenu>
    </p:fragment>
</html>

