<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <!-- 模版預設值 基本編輯元件-->
    <!-- ComBaseMapListStr -->
    <p:fragment rendered="#{outParserTo.valueClz.simpleName eq 'ComBaseMapListStr'}">
        <p:panelGrid>
            <p:row>
                <p:column colspan="1" style="vertical-align: top">
                    <p:panelGrid columns="2">
                        <p:inputText value="#{outParserTo.tempStrValue}" placeholder="input select item value ..." />
                        <p:commandButton icon="fa fa-plus" 
                                         actionListener="#{outParserTo.addSelectItem()}"
                                         process="@this maintenanceBlockPanelId"
                                         update="@this maintenanceBlockPanelId" />
                        <ui:repeat value="#{outParserTo.value.keySet().toArray()}" var="strKey">
                            <p:panelGrid columns="2">
                                <p:outputLabel value="#{strKey}"/>
                                <p:commandButton icon="fa fa-minus" 
                                                 actionListener="#{outParserTo.subSelectItem(strKey)}"
                                                 process="@this maintenanceBlockPanelId"
                                                 update="maintenanceBlockPanelId"  />
                            </p:panelGrid>
                        </ui:repeat>
                    </p:panelGrid>
                </p:column>
                <p:column colspan="1" style="vertical-align: top">
                    <p:panelGrid columns="2" rendered="#{not empty outParserTo.value.keySet()}">
                        <p:outputLabel value="Change Select Item" style="font-weight:bolder;color:red" />
                        <p:selectOneMenu value="#{outParserTo.selectItemKey}">
                            <f:selectItems value="#{outParserTo.value.keySet()}" 
                                           var="strKey" 
                                           itemLabel="#{strKey}" 
                                           itemValue="#{strKey}"/>
                            <p:ajax event="change" update="@this maintenanceBlockPanelId" />
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:panelGrid columns="2" rendered="#{not empty outParserTo.value.keySet()}">
                        <p:inputText value="#{outParserTo.tempStrValue2}" placeholder="input check box item value..." />
                        <p:commandButton icon="fa fa-plus" 
                                         actionListener="#{outParserTo.addCheckBoxItem()}"
                                         process="@this maintenanceBlockPanelId"
                                         update="maintenanceBlockPanelId" />
                    </p:panelGrid>
                    <ui:repeat value="#{outParserTo.value[outParserTo.selectItemKey]}" 
                               var="checkBoxStr" 
                               rendered="#{not empty outParserTo.value[outParserTo.selectItemKey]}">
                        <p:panelGrid columns="2">
                            <p:inputText value="#{checkBoxStr}" placeholder="input check box item value..."/>
                            <p:commandButton icon="fa fa-minus" 
                                             actionListener="#{outParserTo.subCheckBoxItem(outParserTo.value[outParserTo.selectItemKey].indexOf(checkBoxStr))}"
                                             process="@this maintenanceBlockPanelId"
                                             update="maintenanceBlockPanelId"  />
                        </p:panelGrid>
                    </ui:repeat>
                </p:column>
            </p:row>
        </p:panelGrid>
    </p:fragment>
</html>

