<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <!-- 模版預設值 基本編輯元件-->
    <!-- ComBaseList -->
    <p:fragment rendered="#{outParserTo.valueClz.simpleName eq 'ComBaseList'}">
        <ui:repeat value="#{outParserTo.value}" var="str">
            <p:panelGrid columns="3">
                <p:outputLabel value="#{outParserTo.value.indexOf(str)+1}."/>
                <p:inputText value="#{str}" widgetVar="#{str}Wv" size="49"/>
                <p:commandButton icon="fa fa-minus" 
                                 actionListener="#{outParserTo.sub(outParserTo.value.indexOf(str))}"
                                 process="@this maintenanceBlockPanelId"
                                 update="maintenanceBlockPanelId"  />
            </p:panelGrid>
        </ui:repeat>
        <p:inputText value="#{outParserTo.tempStrValue}" />
        <p:commandButton icon="fa fa-plus" 
                         actionListener="#{outParserTo.add(confirmDlgMBean)}"
                         process="@this maintenanceBlockPanelId"
                         update="maintenanceBlockPanelId" />
    </p:fragment>
</html>

