<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <!-- 模版預設值 數值驗證-->
    <!-- Float -->
    <p:fragment rendered="#{outParserTo.valueClz.simpleName eq 'Float'}">
        <p:inputText id="REGEX_ID_#{outParserTo.key}" 
                     value="#{outParserTo.value}" 
                     style="#{not empty outParserTo.errorMsg?'border-color: red; border-width: 5px':''}"
                     >
            <p:ajax event="change"
                    listener="#{outParserTo.checkValidatorRule()}"
                    process="@this maintenanceBlockPanelId"
                    update="maintenanceBlockPanelId" />
        </p:inputText>
        <p:panelGrid columns="2" rendered="#{not empty outParserTo.errorMsg}">
            <span class="ui-button-icon-left ui-icon ui-c ui-icon-alert" />
            <p:outputLabel value="#{outParserTo.errorMsg}" 
                           style=" font-weight: bold; color: blue;"
                           />
        </p:panelGrid>
    </p:fragment >
</html>

