<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <!-- 模版預設值 基本編輯元件-->
    <!-- ComBaseMultipleRadio -->
    <p:fragment rendered="#{outParserTo.valueClz.simpleName eq 'ComBaseMultipleRadio'}">
        <p:panelGrid>
            <p:row>
                <p:column colspan="2" style="vertical-align: top">
                    <p:panelGrid columns="2">
                        <p:inputText value="#{outParserTo.tempStrValue}" placeholder="輸入單選項目名稱(辨識用)" />
                        <p:commandButton icon="fa fa-plus" 
                                         actionListener="#{outParserTo.addRadioGroup(confirmDlgMBean)}"
                                         process="@this maintenanceBlockPanelId"
                                         update="@this maintenanceBlockPanelId" /> <!-- 新增的Radio元件-->
                    </p:panelGrid>
                    <ui:repeat value="#{outParserTo.value.keySet().toArray()}" var="strKey">
                        <p:panelGrid columns="2">
                            <p:outputLabel value="#{strKey}"/>
                            <p:commandButton icon="fa fa-minus" 
                                             actionListener="#{outParserTo.subRadioGroup(strKey)}"
                                             process="@this maintenanceBlockPanelId"
                                             update="maintenanceBlockPanelId"  /> <!-- 移除該筆Radio資訊-->
                        </p:panelGrid>
                    </ui:repeat>  
                </p:column>
                <!-- 參數設定 -->
                <p:column colspan="1" style="vertical-align: top">
                    <p:panelGrid columns="2">
                        <p:selectOneMenu value="#{outParserTo.selectItemKey}" style="font-weight:bolder;color:red;" >
                            <f:selectItem itemLabel="選擇編輯項目" />
                            <f:selectItems value="#{outParserTo.value.keySet().toArray()}" 
                                           var="strKey" 
                                           itemLabel="#{strKey}" 
                                           itemValue="#{strKey}"/>
                            <p:ajax event="change" process="@this maintenanceBlockPanelId" listener="#{outParserTo.renderRadioToParam()}" update="@this maintenanceBlockPanelId" />
                        </p:selectOneMenu>
                        <p:commandButton icon="fa fa-save" label="編輯參數儲存" 
                                         process="@this" 
                                         actionListener="#{outParserTo.saveRadioToParam(confirmDlgMBean)}" 
                                         update="@this maintenanceBlockPanelId" 
                                         rendered="#{not empty outParserTo.selectItemKey}"/>
                    </p:panelGrid>
                    <p:panelGrid rendered="#{not empty outParserTo.parserTos}">
                        <ui:repeat value="#{outParserTo.parserTos}" var="parserToByRadio">
                            <p:row style="vertical-align: top;">
                                <p:column colspan="2">
                                    <p:outputLabel value="KEY:#{parserToByRadio.key}" style="color: blue; width:50px" />
                                    <p:tooltip for="@previous" value="#{parserToByRadio.desc}" style="color: green"
                                               styleClass="tooltipWidth"/>
                                </p:column>
                                <p:column colspan="2">
                                    <!-- BASE TEMP EDIT -->
                                    <ui:include src="/setting/template/req_temp_edit_base.xhtml">
                                        <ui:param name="parserToBaseParam" value="#{parserToByRadio}"/>
                                    </ui:include>
                                </p:column>
                            </p:row>
                        </ui:repeat>
                    </p:panelGrid>
                </p:column>
            </p:row> 
        </p:panelGrid>
    </p:fragment>  
</html>

